/* Shopping Cart ========================================================================= */
.cart {}
.cart .data-table th,
.cart .data-table td {border-color:#eaeaea; line-height:normal; background:#fff; font-weight:normal; }
//.cart .data-table td {padding:8px; vertical-align:middle;}
.cart .data-table td .product-name a {}
.cart .data-table td .product-name a:hover {}
.cart .data-table .nobr {display:block; text-align:center;}
.cart .data-table thead {font-weight:normal; font-size:13px; color:#252525;}
.cart .data-table .price {font-weight:bold;}
.cart .data-table tfoot .btn-continue {float:left;}
.cart .data-table tfoot .btn-empty {display:none;}
.checkout-cart-index .data-table  .product-name a {font-size:12px; font-weight:normal; text-transform:none;}

/* Checkout Types */
.cart .checkout-types { float:right; text-align:right; }
.cart .title-buttons .checkout-types li { float:left; margin:0 0 5px 5px; }
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding:3px 55px 8px 0; line-height:1.0; font-size:11px; }
.cart .page-title.title-buttons .checkout-types {padding-top:0px; margin-top: -20px}

.checkout-cart-index{
    .cart .page-title.title-buttons .checkout-types {
        margin-top: 0px
    }
}

/* Shopping Cart Table */
.cart-table .item-msg { font-size:10px; }

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { padding:27px 0 25px; }
.cart .cart-collaterals .col2-set { float:left; width:65%; }
.cart .crosssell {padding:13px 7px; border:1px solid #e6e6e6;}
.cart .cart-collaterals .col-1 {width:45%; float:left;}
.cart .cart-collaterals .col-2 {width:40%;float:right;}
.cart .cart-collaterals .col-2 button.button > span {height:22px; line-height:22px;}
.cart .crosssell .product-image { float:left; width:75px; height:75px; }
.cart .crosssell .product-details { margin-left:90px; }
.cart .crosssell li.item {
    border-bottom: 0;
    /*padding: 14px 0 26px 0;
    margin: 0 14px 10px;*/
    min-height: 245px!important;
}
.cart .crosssell li.last {border:none;}
.cart .crosssell .product-name {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal !important; text-transform:none;}
.cart .crosssell .price {font-family:Arial, Helvetica, sans-serif ; font-weight:normal;}
.cart .crosssell .price-box {margin-bottom:5px; }
.cart .crosssell .price-box .price {font-size:12px !important; line-height:normal;}
.cart .crosssell .add-to-links {padding-top:10px; display: none;}
#shopping-cart-table .product-image {display:inline-block;}
.cart-table .price {}

/* Discount Codes & Estimate Shipping and Tax Boxes */
/*.cart .discount {margin-top:20px;}*/
.cart .discount,
.cart .shipping {border:1px solid #e6e6e6; padding:13px 10px 10px 14px; overflow:hidden;}
.cart .discount .discount-form  button.button {margin-bottom:5px; clear:right;
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        margin: 0 0 0 32px;
    }
}
.cart .shipping {padding-top:14px;}
.cart .shipping .buttons-set {
    padding-left: 0px;
    padding-top: 0px;
}
.cart .shipping .buttons-set button.button {margin-bottom:5px; clear:right;
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        margin: 0 0 0 32px;
    }
}
.cart .discount-form label {margin-bottom:3px; display:block;}
.cart input,
.cart select {border-color:#d9d9d9; color:#6a6969; font-size:11px; }
.cart select {padding:3px;}
.cart .discount-form .input-box input {width:153px; padding:3px;}
.cart .discount-form .buttons-set {
    margin: 0;
    padding: 0;
    /*clear: right;
    overflow: hidden;*/
}
.cart .shipping p {margin-bottom:12px;}
.cart .shipping label {
    display: block;
    font-size: 13px;
    margin: 2px 0 0 20px;
    font-weight: 600;
    line-height: normal;
    color: #303030;

}
.cart .shipping .form-list li {margin-bottom:0px;}
.cart .shipping .form-list li input {width:auto; padding:4px;}
.cart .shipping .form-list li select {width:auto;}
.cart .shipping .form-list li .input-box {margin-bottom: 0px;}
/* Shopping Cart Totals */
.cart .totals { float:right; width:100%; padding:15px 2%; }
.cart .totals table { width:100%; font-size:12px; color:#7f7f7f; margin-bottom:15px; }
.cart .totals table th,
.cart .totals table td { padding:5px; font-size:13px; color:#999; font-weight:normal;  }
.cart .totals table tr td:first-child { }
.cart .totals table strong {font-weight:normal; }
.cart .totals table th {  }
.cart .totals table tfoot th {}
.cart .totals .price {font-size:12px; line-height:normal;  min-width:70px; display:inline-block; padding:0 0px 0 15px;}
.cart .totals tfoot .price {font-size:20px; font-weight: bold;}
.checkout-types li {padding-bottom:15px;}
.checkout-types li a {color:#b4b4b4;}
.cart button.btn-checkout > span {
  font-size:22px;
  padding:0 5px;
  line-height:49px;
  // height:49px;
}
.cart .btn-edit,
.cart .btn-remove2 { display:inline; color:#999; width:auto; height:28px; background:none; padding:0 5px; font-size:10px; margin:0; }
.cart .btn-edit:hover,
.cart .btn-remove2:hover { color:#333; }
/* Options Tool Tip */
.item-options dt { font-weight:bold; font-style:italic; }
.item-options dd { padding-left:10px; }
.truncated { cursor:help; /*width:45px;*/ }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value { position:relative; z-index:999; top:9px; }
.truncated .truncated_full_value .item-options { position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid #ddd; background-color:#f6f6f6; }
.truncated .truncated_full_value .item-options > p { font-weight:bold; text-transform:uppercase; }
.truncated .show .item-options { top:-20px; left:50%; }
.col-left .truncated .show .item-options { left:30px; top:7px; }
.col-right .truncated .show .item-options  { left:-240px; top:7px; }
/* ======================================================================================= */

@media only screen and (max-width: 767px) {
  /* Tabela carrinho responsivo */
  /*.data-table thead {display:none;}
  .data-table tr th, .data-table tr  td {  padding: 3px 0;    width: 100%;        }
  .data-table tr td{ padding:10px 0;}
  table [class*="span"], .row-fluid table [class*="span"] {   display:inline-block;   }
  .data-table thead th, .data-table thead td,
  .data-table tr.even th, .data-table tr.odd td,
  .data-table tr.odd th, .data-table tr.even td,
  .data-table tfoot td, .data-table tr.first th, .data-table tr.first td {  float: none !important; width:auto !important; text-align:center!important; display:block; }

  .data-table colgroup {  display:none; }
  .cart-collaterals .totals td {  display:block;  }
  .cms-page-view .data-table thead th, .cms-page-view .data-table thead td{   float:none !important; display:block;   width:auto; }
  .cms-page-view .data-table td, .cms-page-view .data-table th {  display:block;  }
  .cart .cart-table.data-table .product-image{   overflow:hidden;    display:inline-block;   }

  .data-table tr { display: block;     float: none !important;     text-align: center !important; }
  .data-table tbody tr { margin-bottom: 25px; border:1px solid #ccc; }
  .data-table td { border:none; }
  .data-table tfoot {border-top:none;}
  .cart .data-table tfoot .btn-continue { float:none!important; }
  .cart .totals table th, .cart .totals table td {width:100%;}
  .cart .cart-collaterals .col2-set { float:none!important; width:100%!important; }
  .cart .cart-collaterals .col-1 {display:none; float:none!important;}
  .cart .cart-collaterals .col-2 {width:100%!important; float:none!important;}
  .cart .totals { float:none!important; width:96%!important; }
  #shopping-cart-table .product-image {
    width: 30%!important;
  }*/
}


#crosssell-products-list li img {
  width: 90%;
  height: 90%;
}

/*******************************************************************************
Aqui começa a versão nova do onestepcheckout
********************************************************************************/


/*
Show and hide elements based on tipo-pessoa
Behavior show and hide
*/

[data-tipo_pessoa_scope]{

  &.pessoa-fisica{
    .swatch-label{
      label{
        display: none;//hide all labels
        &.for-fisica{

          display: block;
        }
      }
    }
    .li-ie,
    .li-im,
    .li-company{
      display: none;
    }

  }
  &.pessoa-jurica{
    .swatch-label{
      label{
        display: none;//hide all labels
        &.for-juridica{
          display: block;
        }
      }
    }

  }
}

/*
END: Show and hide elements based on tipo-pessoa
*/


.form-list{
  #tipopessoa-area{
    display:block;
    clear: both;
  }
  .li-ie,.li-im, .li-taxvat{
    width: 50%;
    float: left;
  }


  .li-country{
    display:none;
  }

  label{

  }

  .input-box{

    /*@extend .form-group;*/

    input{
      /*@extend .form-control;*/
      &:focus{
        border-color: #e9da66;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(233, 198, 102, 0.6);
      }

    }
    select{
      /*@extend .form-control;*/
    }

  }

  .field{
    input[type="radio"]{
      float: left;
    }

  }

  .li-street1,
  .li-street2,
  .li-street3,
  .li-street4{
    float: left;
    width: 50%;
    .input-box{
      .field{
        /*float: none;*/
      }
    }
  }
}

.fieldset{

  .legend{
    margin-top: 15px;
  }
}

.account-create{
  .buttons-set{
    padding: 0;
    button.button{
      float: none;
    }
    .required{
      text-align: left;
    }
    .back-link{
      float: none;
      margin: 45px 0 0 0;
    }
  }
}

.onestepcheckout-index-index{
  .page-head{
    width: 50%;
    float: left;
    margin: 50px 0 20px 0;
  }
  .page-title{
    margin: 0px !important;
    padding: 0px;
  }
  .onestepcheckout-auth-form-block a{
    text-align: left;
    width: auto !important;
  }
  .opc-jn2{
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 15px;
  }
  .tipopessoa{
    label{
      float: none!important;
    }
  }
  .li-birthdate{
    clear: both;
  }
  .li-radio-tipo-pessoa{
    span{
      background-color: #ddd;
      padding: 4px;
      border-radius: 10px;
      margin-right: 15px;
    }
  }
  .sp-methods{
    dt {
      font-weight: bold;
      margin: 5px 0;
      border-top: 1px solid #ddd;
      padding: 10px 0 0 0;
      &:first-child{
        border: 0;
      }
    }
  }
  .input-w1{
    width: 98%!important;
  }
  input.input-text, textarea, select{
    padding: 5px 2px;
  }

  #pagseguro_cc_cc_dob_div{
    input{
      width: 50px;
    }
  }

  .onestepcheckout-cart-table{
    thead{
      background: #fff;
    }
    th{
      padding: 10px;
    }
    td{
      padding: 10px;
    }
  }

  .section{
    .btn-proceed-checkout{
      float: right;
      height: 50px;
      font-size: 24px;
      text-transform: uppercase;
      span{
        // float: right;
      }
    }
  }

  .tipopessoa{
    .radio{
      margin-top: -2px;
    }

  }

  .name-firstname{
    width: 48% !important;

    input{
      width: 100% !important;
    }
  }
  .name-middlename{
    display: none;
  }
  .name-lastname{
    margin-left: 2%;
  }

}

.parcels {
  clear: both;
}

/*
.shipping{
  .shipping-form{
    .form-list{
      display: inline-block;

      li{
        display: inline-block;

        .input-box{
          display: inline-block;

          input{
            height: 31px;
          }
        }
      }
    }

    .buttons-set{
      display: inline-block;
      padding-left: 10px;
    }

    .sp-methods{
      display: inline-block;
      width: 100%;
      padding-left: 10px;
    }

  }

}

.discount-form{
  .input-box{
    display: inline-block;

    input{
      height: 31px;
      margin-top: -20px;
    }
  }

  .buttons-set{
    display: inline-block;
    padding-left: 10px;

  }
}*/

.shipping{
  .shipping-form{
      .sp-methods{
          clear: both;
          dt{
              display: none;
          }
      }
      .buttons-set{
        clear: none;
          button.button span span{
                  padding: 3px 30px 1px 30px;
                  line-height: 30px;
                    @media only screen and (min-width: 992px) and (max-width: 1199px) {
                        padding: 3px 10px 1px 10px;
                    }
          }
      }
  }
}

.new-coupon{
    .discount{
        .discount-form{
            button.button span span {
                padding: 3px 5px 1px 5px;
                font-size: 15px;
                line-height: 30px;
                width: 138px;
                @media only screen and (min-width: 992px) and (max-width: 1199px) {
                    padding: 3px 0px 1px 0px;
                }
            }
        }
    }
}


.checkout-cart-index{
  .btn-continue,
  .btn-update{
    span{
      /*background-color: transparent!important;
      color: #343434;
      border: 1px solid #777777;
      line-height: 0px;*/
      &:hover{
        // background-color: #ccc!important;
      }
    }

  }
  .shipping-form,
  .new-coupon{
    .buttons-set{
      .button{
        span{
          /*background-color: transparent!important;
          color: #343434;
          border: 1px solid #777777;*/
          &:hover{
            background-color: #ccc!important;
          }
        }
      }
    }
  }
}

.onestepcheckout-index-index,
.checkout-cart-index{
  .header{
    padding: 30px 0px;
    // border-bottom: 1px solid #eee;
    /*margin-bottom: 40px;*/
    width: 100%;

    .logo{
      margin: 0px;
    }
    .quick-access{
      float: right !important;
      width: auto !important;
      margin-top: 20px !important;
      padding: 0px !important;

      ul{
        float: right !important;
      }
    }
  }
}

.block-secure{
  margin-left: 25px;
}
