
/****************  FOOTER CART & CHECKOUT  ************/
.checkout-cart-index,
.onestepcheckout-index-index {
  .footer-container {
      padding: 10px;
    @media screen and (max-width: $screen-sm) {
      padding: 0;
    }
    .footer {
      text-align: center;
      address {
        float: none;
      }
    }
  }
}
.seals-cart {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}