@import "bootstrap";

/*********************INDEX***************************/
.cms-index-index {
  .toolbar,
  .toolbar-bottom {
    display: none;
    margin: 0;
  }
}

/********************LISTA PRODUTOS******************/
.products-list .f-fix > span {
  position: relative;
}
.products-grid .swatch-category {
  margin-top: 2px !important;
}
.float-clearer {
  clear: none !important;
}
.products-grid .swatch-category-container {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
}
.products-grid .ratings {
  display: flex;
}
.products-grid .ratings .amount {
  font-size: 10px;
}
.products-grid .price-box {
  width: auto;
}
.swatch-shopby-text {
  float: none!important;
  display: block!important;
}
.block-layered-nav dd li {
  padding-bottom: 0;
}
.products-grid,
.products-list {
  .add-to-links {
    //display: none!important;
    li{
        height: auto!important;
        float: none;
        width: auto;
        .link-wishlist{
          text-align: center;
          .label{
            display: none;
          }
          .ico-wichlist{
            width: 25px;
            margin: 1em 0 0 0;
            transition: all 0.3s;
            path {
              fill: #ccc;
              transition: all 0.3s;
            }
            &:hover{
              path {
                fill: #000;
              }
            }
          }
        }

    }
  }
}

.products-grid{
  .item{
    .frete-gratis{
      position: absolute;
      right: 5%;
      top: 43%;
    }
  }
}

.products-grid button.btn-cart span span,
.products-list button.btn-cart span span {
  display: block!important;
}

/*********************FORMS**********************/
.form-list label {

  //float: none;
}
.form-list sup,
.form-list em {
  display: none;
}
.form-list label.required:after {
  content: "*";
  color: #c00;
}

/*********************CARRINHO*****************************/
.cart .page-title.title-buttons .checkout-types {
  display: block;
  @media screen and (max-width: $screen-sm) {
    padding-top: 15px !important;
  }
}
.cart .sp-methods dd {
  margin-bottom: 10px;
}
.cart .sp-methods ul li {
  clear: both;
}
.cart .sp-methods .radio {
  float: left;
}

.block-cart-header .cart-content {
  position: absolute;
  right: 15px;
  top: 40px;
  z-index: 9;
  min-width: 280px;
  width: 100%;
  display: none;
  cursor: default;
}

.block-cart-header .actions { padding:20px 20px 10px; overflow:hidden;}
.block-cart-header .actions button.button {float:left; margin-bottom:10px;}
.block-cart-header .actions button.button:hover span {}
.block-cart-header .actions > button.button {margin-right:10px;}
.block-cart-header .actions > button.button span span{ padding: 0 10px;}
.block-cart-header .actions button.button+button.button {margin-right:0;}
.block-cart-header .mini-products-list li{ background:#FCFCFC; border-top:1px solid #E5E5E5; clear:both; min-height:85px; padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px; position:relative;}
.block-cart-header .mini-products-list .product-image { width:70px; border:1px solid #ededed;}
.block-cart-header .mini-products-list .product-details { margin: 0 0 0 80px; overflow: inherit;}
.block-cart-header .block-subtitle{ color:#fff;  padding: 0 20px 11px;}
.block-cart-header .product-name{ padding-bottom:0px; width:54% !important; }
.block-cart-header .price{ font-weight:bold; color:#1a1a1a; }
.block-cart-header .subtotal { color:#fff; padding: 15px 20px 0; }

.block-cart-header .subtotal,
.block-cart-header .block-subtitle,
.block-cart-header .actions {background:#1a1a1a;}
.block-cart-header .subtotal .label{ font-weight:bold;}
.block-cart-header .subtotal .price { float:right; color:#fff; }
.block-cart-header .mini-products-list .product-image:hover {border-color:#1a1a1a}

/***********************LOGIN**************************/
#remember-me-box {
  margin-top: 1em;
  .input-box {
    float: left;
    width: 20px;
  }
}
.remember-me-popup {
  background: #fff;
  border: 1px solid #ccc;
  left: 45%;
  top: 30%;
  position: fixed;
  margin: -85px 0 0 -200px;
  width: 500px;
  text-align: center;
  -moz-box-shadow: 0 0 6px #ccc;
  -webkit-box-shadow: 0 0 6px #ccc;
  -box-shadow: 0 0 6px #ccc;
  z-index: 1000;
  padding: 20px;
}
.remember-me-popup h3 {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding: 5px 10px;
}
.remember-me-popup .remember-me-popup-head {
  position: relative;
}
.remember-me-popup .remember-me-popup-head .remember-me-popup-close {
  background: url("../images/btn_window_close.gif") no-repeat;
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  height: 15px;
  width: 15px;
  text-indent: -9999em;
}
.remember-me-popup .remember-me-popup-body {

}
.remember-me-popup .remember-me-popup-body a {
  background: #333;
  border: 1px solid #000;
  color: #fff;
  display: inline-block;
  font: bold 12px/19px Arial,Helvetica,sans-serif;
  height: 19px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.li-newsletter{
  .checkbox{
    margin-top: 1em;
    input{
      margin: -3px 0 0 0 !important;
    }
  }
}
/*****************ASSINATURA JN2********************/
.jn2-sign {
  float: none;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
}

/***************** Mapa - página de contato ********************/
.map-content {
  margin-top: 30px;
}

/********************  CADASTRO  ********************/
.account-create form .fieldset {
  margin-bottom: 32px;
}
.account-create .form-list li.control .input-box {
  float: left;
}

/********************  DASHBOARD  ********************/
.my-account .box-head {
  margin: 40px 0 0;
}
.my-account .box-head h2 {
  font-size: 18px;
  line-height: 18px;
}



/****************CHEKCOUT SUCCESS**********************/
.onepagecheckout-index-success .col-main,
.checkouttester-index-success .col-main,
.checkout-onepage-success .col-main,
.query-cielo-pay-verify .col-main,
.query-cielo-pay-failure .col-main {
  text-align: center;
}
.onepagecheckout-index-success .col-main .msg-thanks,
.checkouttester-index-success .col-main .msg-thanks,
.query-cielo-pay-verify .col-main .msg-thanks,
.query-cielo-pay-failure .col-main .msg-thanks,
.checkout-onepage-success .col-main .msg-thanks {
  font-size: 16px;
}
.onepagecheckout-index-success .col-main .number-order,
.checkouttester-index-success .col-main .number-order,
.query-cielo-pay-verify .col-main .number-order,
.query-cielo-pay-failure .col-main .number-order,
.checkout-onepage-success .col-main .number-order {
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 10px auto;
  padding: 8px;
  width: 300px;
}

/****************CHEKCOUT FAILURE**********************/
.query-cielo-pay-failure {
  .page-title {
    h1 {
      color: #c00;
    }
  }
  .number-order {
    color: #c00;
    font-weight: bold;
  }
  .buttons-set button.button {
    float: none;
  }
}

/*********************AJUSTES TEMA****************************/



/*DETALHE PRODUTO*/
.product-view {
  .add-to-links {
    li {
      &:last-child {
        display: none;
      }
    }
  }
}

.box-description {
  h3 {
    font-size: 24px;
  }
}

.box-additional {
  margin: 3em 0;
}

.cart {
  .crosssell{
    ul{
      li{
        &.item{
          @extend .col-md-4;
          @extend .col-sm-6;
          @extend .col-xs-12;
          text-align: left;
        }
      }
    }
  }
}

/*AJUSTES RWD*/
.cart .crosssell li.item {
  @media screen and (max-width: $screen-sm) {
    margin: 1em 0.5em !important;
  }
}
.header {
  @media screen and (max-width: $screen-sm) {
    text-align: center!important;
    padding: 0 !important;
  }
  .logo {
    @media screen and (max-width: $screen-sm) {
      float: none!important;
    }
    img {
      @media screen and (max-width: $screen-sm) {
        height: 55px!important;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        height: auto!important;
      }
    }
  }
  .block-phone {

    /*@media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 15px;
    }
    @media screen and (max-width: $screen-sm) {
      text-align: center;
    }
    img{
      @media screen and (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
    }*/

  }
  .block-call {
  /*  @media screen and (max-width: $screen-sm) {
      font-size: 15px;
      text-align: center;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 14px;
    }*/
  }
  .quick-access{
    /*@media screen and (min-width: 768px) and (max-width: 991px) {
      width: 30%;
    }*/
  }
  .links li a{
    /*@media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 12px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 11px;
    }*/
  }
}

#search_mini_form {
  @media screen and (max-width: $screen-sm) {
    width: 100%;
    position: fixed;
    left: 0;
    top: 140px !important;
    display: none;
    padding: 0 20px;
    z-index: 9;
  }
}
@media screen and (max-width: $screen-sm) {
  .theme3 {
    #search_mini_form {
      top: 150px !important;
    }
    .logo img {
      margin-left: 0px;
    }
  }
}

/*
.block-mini-cart-header{
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    padding-left: 0!important;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 0!important;
    width: 20%!important;
  }
}

*/
/*

.block-cart-header {
  @media screen and (max-width: $screen-sm) {
    position: fixed !important;
    right: 90px;
    top: -5px;
    height: 50px;
    padding: 16px 15px 12px;
    background: none;
    border: 0;
    border-left: 1px solid #232323;
    z-index: 999;
    min-width: 80px;
    cursor: pointer;
    //overflow: hidden;
  }
  h3,
  .summary-items {
    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }
  h3{
    @media screen and (min-width:992px) and (max-width: 1199px) {
      font-size: 13px!important;
      margin-right: 3px!important;

    }
    @media screen and (min-width:768px) and (max-width: 991px) {
      display: none;
    }
  }
  .summary-top{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 13px!important;
    }
  }
  .summary-items{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 13px!important;
    }
  }
  .summary-top,
  #ajaxscicon:after {
    @media screen and (max-width: $screen-sm) {
      color: #fff;
    }
  }
  #ajaxscicon {
    @media screen and (max-width: $screen-sm) {
      border: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-right: 10px;
    }
  }
  #ajaxscicon:before {
    @media screen and (max-width: $screen-sm) {
      background: none;
    }
  }
}
*/

/*
.block-subscribe {
  .input-box {
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 10px;
    }
  }
  .actions {
    @media screen and (max-width: $screen-xs) {
      text-align: center;
      margin: 10px 0 0;
      float: none!important;
    }
  }
}
*/

/*#ibanners-top_promo-wrapper li.slide li.banner img{
  width: 100%
}

#ibanners-top_promo-wrapper .bxslider li ul li.banner {
  width: 50%;
  @media screen and (min-width: 992px)  {
    width: 25%;
  }
}

#ibanners-top_promo_2-wrapper .bxslider li ul li.banner {
  width: 100%;
  @media screen and (min-width: 992px)  {
    width: 50%;
  }
}*/

/*
.header-container.isStuck{
  @media screen and (max-width: 991px) {
    display: none;
  }
}
.sf-menu > li > a > span{
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    width: 185px;
  }
}
*/

.product-image-zoom{
  float: left;
}

.stars-review{
  margin-top: 30px;

  .star-cb-group{
    text-align: center;
  }
}
