
/****************  HEADER CART & CHECKOUT  ************/

.onestepcheckout-index-index,
.checkout-cart-index{
  .header-container {
    padding: 0.5em 0 0 0;
    margin-bottom: 1em;
    border-bottom: 3px solid #ccc;
    .header {
      .logo {
        margin: 0;
      }
      .quick-access {
        padding: 2em 0 1em;
        float: right;
        width: 18%;
        ul{
            float: right;
            li{
               display: inline;
                padding-left: 21px;
                a{
                    display: inline-block;
                    line-height: 20px;
                }
            }
        }
      }
    }
  }

  .main-container {
    // margin-top: 0;
    // padding-top: 0;
  }
}
.onestepcheckout-index-index {
  .block-secure {
    /*border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;*/
    text-align: center;
    padding: 1em 0 0.4em;
    margin-bottom: 2em;
    span {
      @media screen and (max-width: $screen-sm) {
        font-size: 22px!important;
      }
    }
  }
  .onestepcheckout-auth-form-block {
    #onestepcheckout-login-submit-btn {
      margin: -23px 0 0;
      & > span {
        // background-color: #eee;
        // border: 1px solid #ddd;
        // color: #000;
        // font-weight: bold;
      }
    }
    #onestepcheckout-forgot-password-submit-btn {
      margin: -20px 0 0;
    }
    .onestepcheckout-forgot-password-back {
      display: block;
      margin: -24px 0 0;
    }
  }
  .onestepcheckout-error-msg {
    margin: -23px 0 0;
    @media screen and (max-width: $screen-sm) {
      position: relative;
      z-index: 999;
    }
  }
  #onestepcheckout-forgot-password-form {
    .form-list {
      margin-top: -10px;
    }
  }
  #onestepcheckout-forgot-password-success {
    margin: 10px 0 0;
  }
}

.sales-billing-agreement-index{
  #payment_method{
    margin-bottom: 15px;
  }
}
