///////****************INICIO OSC ATUALIADO*************************////////

.opc .step{padding: 10px 8px;margin-bottom: 10px;}
.form-list li.tipopessoa label{
    float:left; margin-right: 5%;
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 12px;
    }
}

.form-list li.tipopessoa{

    margin-bottom: .5em;
}
.form-list input.input-text,.form-list select{width:95%;}
.form-list li.wide .input-box{width:100%;}
.form-list li.wide input.input-text,.form-list li.wide select{width:95%;}
.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month, .form-list .customer-dob .dob-year{padding-right: 0px;}
.form-list .field{width: 50%;}
.form-list .field .input-box,
.form-list .input-box{width:100%;}
.form-list .customer-dob .dob-year select { width:134px; }
.form-list .customer-dob .dob-day select,
.form-list .customer-dob .dob-month select { width:46px; }
.form-list .customer-dob select { display:block; width:74px; }

.hide {display: none;}
.nao-sei-cep {cursor: help;font-size: 11px;margin-left: 10px; position: relative; padding-top: 5px; display: block;}
.sp-methods .form-list{padding-left: 0px;}
.onestepcheckout-postcod-process{display: none;margin-left: -15px;position: absolute;width: 16px;height: 16px;}
.onestepcheckout-error-msg, .onestepcheckout-success-msg{font-weight:bold;padding-top: 3px;padding-bottom: 3px;}
.onestepcheckout-error-msg{color: #df280a;border: 1px solid #f16048;background-color: #faebe7;}
.onestepcheckout-success-msg{color: #3d6611;border: 1px solid #446423;background-color: #eff5ea;}
.onestepcheckout-error-msg li, .onestepcheckout-success-msg li{padding-left: 10px;padding-right: 10px;}
#onestepcheckout-container div.validation-passed,#onestepcheckout-container div.validation-error{background: none;padding-right: 0;}
.onestepcheckout-overlay, .onestepcheckout-timer{width: 100%;height: 100%;background-color: #FFF; position: relative;}
#acp-overlay{z-index: 995;}
.onestepcheckout-overlay-48{background-image: url('../../images/ajax-loader-48px.gif');background-repeat: no-repeat;background-position: center center;position: absolute;z-index: 9999;}
.onestepcheckout-overlay-24{background-image: url('../../images/ajax-loader-24px.gif');background-repeat: no-repeat;background-position: center center;position: absolute;z-index: 9999;}
.onestepcheckout-overlay-16{background-image: url('../../images/ajax-loader-16px.gif');background-repeat: no-repeat;background-position: center center;position: absolute;z-index: 9999;}
.onestepcheckout-timer{display: none;overflow: hidden;}

#onestepcheckout-login-form .onestepcheckout-overlay{width: 95%;height: 90%;}

.onestepcheckout-timer-title{text-align:center;padding-top:20px;}
.onestepcheckout-timer-title h1 span{font-weight: bold;}
.onestepcheckout-timer-description{text-align:center;}
.onestepcheckout-timer-actions a{font-weight: bold;font-size: 17px;}
.onestepcheckout-timer-actions-left, .onestepcheckout-timer-actions-right{width:50%;float:left}
.onestepcheckout-timer-actions-left{text-align: right;}
.onestepcheckout-timer-actions-right{text-align: left;}
.onestepcheckout-timer-actions-left a{margin-right: 15px;}
.onestepcheckout-timer-actions-right a{margin-left: 15px;}
.onestepcheckout-add-loader-into-this-block,#onestepcheckout-order-review-cart-wrapper,#onestepcheckout-order-review-coupon-wrapper{position: relative;}
.osc-title{background: none repeat scroll 0 0 #F9F3E3;border-top: 1px solid #BBAFA0;border-bottom: 1px solid #BBAFA0;color: #F18200;cursor: default;padding-bottom: 5px;margin: 14px -8px !important;line-height: 26px;padding: 0 14px;font-weight: bold;}
#onestepcheckout-title{}
#onestepcheckout-title-description{font-size: 18px;}
#onestepcheckout-authentification-button{border-top: 1px solid #D8D2C7;}
#onestepcheckout-authentification{overflow: hidden;
  // min-height: 99px;
}
#onestepcheckout-authentification-container {
    // height: 130px!important;
    position: relative;
    top: 0px;
    border: 1px solid #ccc;
    padding: 10px;
    /*width: 42%;
    float: right;*/
    margin-bottom: 15px;
    .page-title{
        margin: 0 0 16px;
    }
}
#onestepcheckout-authentification .validation-advice{position: absolute;width: 163px;}
#onestepcheckout-login-form,
#onestepcheckout-forgot-password-form,
#onestepcheckout-forgot-password-success{
  // display: block;
  padding-top:5px;
  min-height:initial;
}

#onestepcheckout-forgot-password-success{
  min-height:120px;
}

#onestepcheckout-login-form .form-list, #onestepcheckout-forgot-password-form .form-list, #onestepcheckout-forgot-password-success{padding-bottom: 5px}
.onestepcheckout-auth-form-block{display:inline-block;padding-right: 10px;vertical-align: bottom;}
.onestepcheckout-auth-form-block.forgot_password{padding-top: 18px;}
.onestepcheckout-auth-form-block .input-box{width:180px;}
.onestepcheckout-auth-form-block input.input-text {width:174px;}
#onestepcheckout-login-forgot-link {
  cursor: pointer;
  display: block;
  text-align: right;
  width: 500px;
    @media screen and (max-width: $screen-sm){
      width: auto;
    }

}
#onestepcheckout-forgot-password-form p, #onestepcheckout-forgot-password-success p{margin:0;padding:0;}
#onestepcheckout-authentification label{width: auto;text-align: left;padding: 0;}
#onestepcheckout-authentification label.required em {float: right;font-style: normal;color: #eb340a;position: relative;right: -4px;margin-right: 0;}
#onestepcheckout-authentification .form-list .input-box{float: none;}
#onestepcheckout-authentification .form-list .input-box input{float: none;}
.onestepcheckout-cart-table {
    width: 100%;
    font-size: 12px;
    .product-name{
        font-size: 14px;
    }
    tfoot{
        .price{
                font-size: 15px;
        }
    }
}
.onestepcheckout-cart-table thead th {

border-bottom:thin solid #BEBCB7;
font-weight:bold;
padding:2px 8px;
color:#0a263c;
white-space:nowrap;
vertical-align:middle;

}
.onestepcheckout-cart-table thead th.qty{text-align: center;}
.onestepcheckout-cart-table thead th.total{text-align: right;}
.onestepcheckout-cart-table tbody td,.onestepcheckout-cart-table tfoot td,.onestepcheckout-cart-table tfoot th{border-bottom: thin solid #BEBCB7;padding: 15px 8px;}
.onestepcheckout-cart-table .btn-remove{display: none;}
.onestepcheckout-cart-table .btn-remove2{display: block;width: 16px;height: 16px;font-size: 0;line-height: 0;background: url(../../images/btn_trash.gif) 0 0 no-repeat;text-indent: -999em;overflow: hidden;}
#onestepcheckout-review-table-cart-wrapper{position: relative;}
#onestepcheckout-review-cart-redirect-timer-block {border: 1px solid #D8D2C7;}
#onestepcheckout-review-cart-redirect-timer-block.onestepcheckout-overlay{background-position-x: 50%;background-position-y: 90%;}
#onestepcheckout-review-cart-redirect-timer-block .onestepcheckout-timer-title{padding: 20px 20px 0px;}
#onestepcheckout-review-cart-redirect-timer-block h1{font-size: 14px;}
#onestepcheckout-review-cart-redirect-timer-block .onestepcheckout-timer-actions a{font-size: 12px;}
#onestepcheckout-review-coupon{margin-top: 5px;}
#onestepcheckout-review-coupon .input-box{width: 266px;}
#onestepcheckout-review-coupon .input-box input{width: 260px;}
#onestepcheckout-review-coupon .input-box input.with-buttons{width: 120px;}
#onestepcheckout-review-terms{}
#onestepcheckout-review-terms ol li{margin-top: 5px;}
#onestepcheckout-review-terms .onestepcheckout-review-terms-description-container{display: none;}
.frame-card .onestepcheckout-review-terms-description-container{display: block !important;}
#onestepcheckout-place-order{
  margin-top: 15px;height: 118px;
  @media screen and (max-width: $screen-sm){
    height: auto;
  }
}
.onestepcheckout-place-order-process img{width: 15px;height: 15px;}
#onestepcheckout-place-order-button {width: 100%;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled,#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled:visited,#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled:hover{color: #f8f8ff;cursor: default;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled span{background-color: transparent !important;background-position: 0 -40px;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled span span{    background-position: 100% 100%;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled:hover{top: 0px;}
.onestepcheckout-place-order-please-wait{float: none;color: #555;text-align: center;font-size: 13px;margin-top: 5px;z-index: 5;position: relative;display:none;}
.onestepcheckout-place-order-please-wait img{width: 15px;height: 15px;position: relative;top: 3px;z-index: 999;}
#onestepcheckout-place-order-overlay{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;background-color: white;-moz-opacity: 0.01;opacity:0.01;filter: alpha(opacity=1);}
.onestepcheckout-popup-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;-moz-opacity: 0.3;opacity:0.3;filter: alpha(opacity=30);z-index: 100;cursor: pointer;}
.onestepcheckout-popup{position:fixed;min-height: 40%;width: 70%;background-color:white;z-index: 200;overflow: hidden;padding: 10px;}
.onestepcheckout-popup-content{overflow-y: scroll;overflow-x: hidden;padding-bottom: 0;}
.onestepcheckout-popup-accept{padding: 10px 10px 0px 10px;text-align: center;}
.onestepcheckout-popup-accept button{background: #eee;height: 30px;width: 150px;border: 1px solid #aaa;color: #555;font-size: 16px;cursor: pointer;}
.onestepcheckout-popup-accept button:hover{background: #ddd;border: 1px solid #999;}
.onestepcheckout-popup-accept a{float: right;margin-right: 16px;font-size: 20px;margin-top: 5px;}




.step-title{

    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    h2{
        font-size: 15px;
        font-family: inherit;
        text-transform: uppercase;
    }
    .number{
        display: block;
        float: left;
        margin-right: 10px;
    }
}

.step.a-item{
    clear: both;
}



////////****************FIM OSC ATUALIZADO************************/////////////////



.h1_opc{text-transform:uppercase;font-size:22px;color:#000;}

.onepagecheckout_loginarea {  float:right }
.onepagecheckout_loginlink {color:#fff; background:#999; border-radius:25px; padding:5px 15px;  }
.onepagecheckout_loginlink:hover {background:#666; }


.op_login_area{width:400px;padding:10px;border:1px solid #ccc;margin-bottom:15px; float:right; margin-top: -30px; background:#f9f9f9;}
.op_login_area .page-title{font-weight:bold;}
.op_login_area sup{color:#767676;font-size:100%;line-height:0;margin-left:3px;position:relative;top:6px;}
.op_login_area .buttons-set{margin-top:10px;}
/*.op_login_area .buttons-set a{color:#767676;}*/
.op_login_area .page-title{margin-bottom:10px;}
.close_la{position:relative;margin-bottom:-16px;top:-16px;right:-16px;cursor:pointer;float:right;width:16px;height:16px; background:url("../images/onepagecheckout/cancel.png") no-repeat scroll 0 0 transparent;}
/*//.op_login_area button.button{border:1px solid #ccc; background:url("../images/onepagecheckout/buttonbgsmall.gif") repeat-x scroll 0 0 #00A7D1; -moz-box-shadow: 3px 3px 5px #ccc;-webkit-box-shadow: 3px 3px 5px #ccc;box-shadow: 3px 3px 5px #ccc;}
//.op_login_area button.button span{background:none no-repeat scroll 0 0 transparent;border:0 none; color:#FFFFFF;font:bold 12px/20px Arial,Helvetica,sans-serif;height:20px !important;padding:0 0 0 5px;text-transform:uppercase;}
//.op_login_area button.button span span {background-position:100% 0;padding:0 5px 0 0;}*/
.op_login_area button.button { margin-top:-35px; }
.op_login_area .buttons-set a{color:#333; font-size:11px; padding:3px;}

.op_login_area .form_fields .short {
    width: 35%;
    float: left;
    margin-right: 6%;
}

.op_login_area .form_fields div.two_fields .data_area { width: 100%; }
.op_login_area .form_fields div.two_fields .data_area input { width: 100%; }

.onepagecheckout-index-index .onepagetitle { margin-bottom: 10px; }
.onepagecheckout-index-index .page-title { border-bottom:3px solid #eee; margin-bottom:10px; color:#000;}
.ptdivline{width:100%;height:1px;margin:-1px 0 0;-moz-box-shadow: 0 2px 2px #999;-webkit-box-shadow: 0 2px 2px #999;box-shadow: 0 2px 2px #999;}
.onepagecheckout_datafields{border-bottom:1px solid #CCCCCC;padding-bottom:20px;}

#onepagecheckout_orderform .col3-set .col-1{width:30%;}
#onepagecheckout_orderform .col3-set .col-2{width:26%;margin-left:4%;}
#onepagecheckout_orderform .col3-set .col-3 { width:36%; }

#onepagecheckout_orderform #register-customer-password{margin-bottom:5px;}
#onepagecheckout_orderform #ship_address_block{margin-top:35px;}



.onepagecheckout_datafields .op_block_title{ color:#333; font-size:14px; letter-spacing: -0.5px;  font-weight:bold; border-bottom:1px solid #999; margin: 15px 0 10px;}

.onepagecheckout_datafields .col-1 .form_fields .short {
    width: 46%;
    float: left;
    margin: 0 2% 7px 2%;
}

.onepagecheckout_datafields .col-1 .form_fields div.two_fields .data_area { width: 100%; }
.onepagecheckout_datafields .col-1 .form_fields div.two_fields .short { margin-bottom:7px; }
.onepagecheckout_datafields .col-1 .form_fields input.t1 {
    width: 94%;
    padding: 5px 3%;
}
.onepagecheckout_datafields .col-1 .form_fields select {
    width: 94%;
    padding: 5px 3%;
}

.onepagecheckout_datafields .col-1 .form_fields div.full {
    margin: 0 2% 7px 2%;
    width: 96%;
}

.onepagecheckout_datafields .col-1 .form_fields ul.register-type {margin:15px 0 6px; height:28px; list-style: none }
.onepagecheckout_datafields .col-1 .form_fields ul.register-type li {float:left; border-radius:5px; background-color:#eee; padding:3px 5px;  margin-right:10px; display: inline-block; }

.onepagecheckout_datafields .col-1 .form_fields div.full .data_area { width: 100%; }
.onepagecheckout_datafields .col-1 .form_fields div.full input.t1 { }
.onepagecheckout_datafields .col-1 .form_fields div.full select { width: 94%; }

.onepagecheckout_datafields .col-2 .form_fields div.full .data_area { width: 275px; }
.onepagecheckout_datafields .col-2 .form_fields div.full textarea { width: 254px; height: 85px; }
.onepagecheckout_datafields .col-2 .form-list li.wide .input-box { width: 275px; }
.onepagecheckout_datafields .col-2 .form-list li.wide textarea { width: 254px; height: 85px; }

.onepagecheckout_datafields .col-3 .form_fields div.full .data_area { width: 275px; }
.onepagecheckout_datafields .col-3 .form_fields div.full textarea { width: 280px; height: 60px; }
.onepagecheckout_datafields .col-3 .form-list li.wide .input-box { width: 275px; }
.onepagecheckout_datafields .col-3 .form-list li.wide textarea { width: 280px; height: 60px; }

.onepagecheckout_datafields #comment-block { width: 100%; }
.onepagecheckout_datafields #comment-label { font-weight:normal; }
.onepagecheckout_datafields #comment-block #order-comment{ width: 100%; padding:0px;}

.form_fields label {color:#333!important; height:16px; white-space: nowrap; font-size:11px; font-weight:normal!important; font-weight:normal;position:relative;z-index:0;}

.onepagecheckout_datafields .form_fields li {margin:0 0 8px;}
.onepagecheckout_datafields .form_fields li.options input.radio,
.onepagecheckout_datafields .form_fields li.options input.checkbox {margin-right:3px;}
.onepagecheckout_datafields .form_fields li.options label {float:none;}
.onepagecheckout_datafields .form_fields li.options .input-box {clear:none;display:inline;width:auto;}
li.options label {color:#767676;}

input, select, textarea, button{color:#000;}


.customer-account-create,
.onestepcheckout-index-index{
input:focus, select:focus, textarea:focus {background:#fff4a7!important;}
}

#onepagecheckout_orderform .col3-set .col-2 , #onepagecheckout_orderform .col3-set .col-1  { min-height: 450px;}

.onepagecheckout_datafields .gift-messages-form .item .details .form-list .field,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list .input-box,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide .input-box { width:186px; }
.onepagecheckout_datafields .gift-messages-form .item .details .form-list input.input-text,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide textarea { width:165px; }

.onepagecheckout_datafields .sp-methods { margin: 0; }
.onepagecheckout_datafields .sp-methods > li { margin: 6px 0; border-bottom:1px solid #eee; padding-bottom:6px;}
.onepagecheckout_datafields .sp-methods li label { font-size:11px;}
.onepagecheckout_datafields .sp-methods li label .price { color:red }
#onepage-checkout-shipping-method-additional-load { margin-top:25px; }
.onepagecheckout_datafields #checkout-review-submit { margin: 10px 0 0; }
.onepagecheckout_datafields .checkout-agreements li { margin: 0 0 30px 0; }

.onepagecheckout_datafields .loading { background: url(../images/onepagecheckout/loader.gif) no-repeat 50% 50%; }

.onepagecheckout_datafields #checkout-shipping-method-load,
.onepagecheckout_datafields #checkout-payment-method-load,
.onepagecheckout_datafields #checkout-review-load { min-height: 50px; }

.onepagecheckout_datafields .newsletter { margin:0; padding:35px 0 10px 0; }
.onepagecheckout_datafields .buttons-set { margin: 5px 0 0; border:0;padding:2px 0 0;}
.onepagecheckout_datafields .checkout-agreements .last { margin: 0; }

/*//.onepagecheckout_loginlink{	color:#767676;}*/

.onepagecheckout_datafields .discount .buttons-set button:first-child{
    margin-left:0;
    //@extend .btPadrao2;
    //background-color: $azul1;
}

#onestepcheckout-place-order button.btn-checkout > span {
    font-size: 22px;
    font-weight: bold;
/*    padding: 5px;    */
    line-height: 49px;
    height:49px;
    width: 100%;
}

#onestepcheckout-place-order button.btn-checkout span span{
    padding: 0px 10px;
    width: 100%;
}

/*
#onepagecheckout_orderform button.btn-checkout{float:right;border:1px solid #ccc;margin-bottom:10px;
background:url("../images/onepagecheckout/buttonbg.gif") repeat-x scroll 0 0 #00A7D1;
-moz-box-shadow: 3px 3px 5px #ccc;-webkit-box-shadow: 3px 3px 5px #ccc;box-shadow: 3px 3px 5px #ccc;}
#onepagecheckout_orderform button.btn-checkout span {background:none no-repeat scroll 0 0 transparent;border:0 none;
color:#FFFFFF;font:bold 16px/32px Arial,Helvetica,sans-serif;height:32px !important;padding:0 0 0 20px;text-transform:uppercase;}
#onepagecheckout_orderform button.btn-checkout span span{background-position:100% 0;padding:0 20px 0 0;}
*/



#onepagecheckout_orderform .form_fields sup,
#onepagecheckout_orderform .form_fields label.required sup,
#onepagecheckout_orderform .form_fields label.required em,
#onepagecheckout_orderform .form-list sup,
#onepagecheckout_orderform .form-list label.required sup,
#onepagecheckout_orderform .form-list label.required em
{
    display:none;
}

.onepagecheckout-index-index label.required:after{
    content: "*";
    color: #f00;
    font-size:100%;
    line-height:0;
    padding-left:3px;
}

.onepagecheckout-index-index .required-entry {
/*    border: 1px dashed #f00 !important;
    background: #faebe7 !important;*/
}

#onepagecheckout_orderform .form-list label.required em{color:#767676;}

/* CHECKOUT Review Your Order Table */
#checkout-review-table-wrapper{margin-top:-5px;}
.order-products-table { width:100%;color:#767676;}
.order-products-table .odd  { background:#fff; }
.order-products-table .even { background:#fff; }
.order-products-table td.last,
.order-products-table th.last { border-right:0; width:30%;}
/*
.order-products-table tr.last th,
.order-products-table tr.last td { border-bottom:0 !important; }
*/
.order-products-table th { padding:3px 8px; font-weight:bold; border-bottom:1px solid #BFBFBF;}
.order-products-table td { padding:8px 8px 2px;}

.order-products-table thead th{font-weight:bold;border-bottom:1px solid #848484;font-size:13px;padding:2px 0;color:#000;white-space:nowrap;vertical-align:middle;text-transform:uppercase;}
.order-products-table thead th.wrap { white-space:normal; }
.order-products-table thead th a,
.order-products-table thead th a:hover { color:#fff; }
.order-products-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.order-products-table tfoot { border:0;}
.order-products-table tfoot tr.first td{background-color:#ffffff;}
.order-products-table tfoot tr.last td{border:0 none !important;font-size:13px;text-transform:uppercase;color:#000;}
.order-products-table tfoot tr { background-color:#FFFFFF !important; }
.order-products-table tfoot td { border-bottom:1px solid #BFBFBF; }
.order-products-table tfoot strong { font-size:105%; }

.order-products-table tbody th,
.order-products-table tbody td { border:0; border-bottom:1px dotted #BFBFBF;}

.order-products-table tbody.odd tr { background:#f8f7f5 !important; }
.order-products-table tbody.even tr { background:#f6f6f6 !important; }
.order-products-table tbody.odd tr td,
.order-products-table tbody.even tr td { border-bottom:0; }
.order-products-table tbody.odd tr.border td,
.order-products-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }

.order-products-table tbody td .option-label { font-weight:bold; font-style:italic; }
.order-products-table tbody td .option-value { padding-left:10px; }

.clr{clear:both;}

p.agree a{color:#8E8D8B;}
p.newsletter label{color:#8E8D8B;}

.onepagecheckout-window { border: none; background: #fff; z-index: 999; position: absolute; text-align: left; }
.onepagecheckout-window .page-title span { color:#0A263C; font-size:20px; margin:0; }
.onepagecheckout-window .content { padding: 7px; overflow: auto; }
.onepagecheckout-window .close { position: absolute; top: -15px; right: -16px; width: 16px; height: 16px; background: url(../images/onepagecheckout/cancel_round.png) no-repeat 50% 50%; }
.onepagecheckout-window .buttons-set { margin: 1em 0 0; }

.d-shadow { position: absolute; width: 30%; left: 20%; top: 10%; }
.d-shadow-wrap { position: relative; width: 100%; padding: 15px 21px 0 21px; margin: -15px -21px 0 -21px; overflow: hidden; }
.d-sh-cn { position: absolute; background: url(../images/onepagecheckout/shd-medium.png) no-repeat; left: -25px; z-index: -1; }
.d-sh-tl,
.d-sh-tr { height: 500px; top: -28px; }
.d-sh-tl,
.d-sh-bl { width: 100%; }
.d-sh-tr,
.d-sh-br { width: 25px; margin-left: 100%; }
.d-sh-bl,
.d-sh-br { height: 28px; }
.d-sh-bl { left: -46px; padding-right: 42px; clip: rect(auto auto auto 25px); }
.d-sh-br { left: -4px; }

/* IE6 fix */
* html .onepagecheckout-hidden { visibility: hidden; }
* html .onepagecheckout-window { width: 500px; }
* html .d-sh-tl, * html .d-sh-tr { padding-right:42px; }
/* IE7 fix */
*:first-child+html .onepagecheckout-window { width: 500px; }




/*  Ajustes por Douglas 10/10/13  */

#checkout-review-table {
    width: 92%;
    margin: 20px 10px;
}

#checkout-review-table td  {
    color:#666;
}

.dob-day label{font-size:10px;}

#onepagecheckout_orderform select,
#onepagecheckout_orderform .input-text {
/*    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #CCCCCC !important;*/
/*    padding: 5px;
    width: 90%; */
}

#onepagecheckout_orderform .full .input-text {
/*    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    padding: 5px;*/
    width: 94%;
}

#onepagecheckout_orderform select{
/*    padding: 4px 5px;
    width: 100%; */
}

#onepagecheckout_orderform .validation-advice{
    font-size:9px;
    font-weight:normal;
}

.onepagecheckout_block{
    background-image: linear-gradient(to bottom, #f9f9f9, #fff);
    padding:1px 10px;
    margin-bottom:20px;
}


.onepagecheckout-index-index .main input,
.onepagecheckout-index-index .main input.input-text,
.onepagecheckout-index-index .main select,
.onepagecheckout-index-index .main textarea,
.onepagecheckout-index-index .main .form-control {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 8px;
    background:#fff;
    font-size: 12px;
    height: auto;
    box-sizing: inherit;
}


#onestepcheckout-review-comments{
    margin: 15px 0;
    .input-box{
        textarea{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1199px) {
    /* Tabela carrinho responsivo */
    .order-products-table thead {display:none;}
    .order-products-table tr th, .order-products-table tr  td {  padding: 3px 0;    width: 100%;        }
    .order-products-table tr td{ padding:10px 0;}
    table [class*="span"], .row-fluid table [class*="span"] {   display:inline-block;   }
    .order-products-table thead th, .order-products-table thead td,
    .order-products-table tr.even th, .order-products-table tr.odd td,
    .order-products-table tr.odd th, .order-products-table tr.even td,
    .order-products-table tfoot td, .order-products-table tr.first th, .order-products-table tr.first td {  float: none !important; width:auto !important; text-align:center!important; display:block; }

    .order-products-table colgroup {  display:none; }
    .cart-collaterals .totals td {  display:block;  }

    .cms-page-view .order-products-table thead th, .cms-page-view .order-products-table thead td{   float:none !important; display:block;   width:auto; }
    .cms-page-view .order-products-table td, .cms-page-view .order-products-table th {  display:block;  }

    .cart .cart-table.order-products-table .product-image{ /* width:95%; */   overflow:hidden;    display:inline-block;   }
    .cart .cart-table.order-products-table .product-image img {/*     width:100%; */  }

    .order-products-table tr { display: block;     float: none !important;     text-align: center !important; }

    .order-products-table tbody tr { margin-bottom: 25px; border:1px solid #ccc; }
    .order-products-table td { border:none; }


    .order-products-table tfoot {border-top:none;}

    #checkout-review-table tfoot td{ text-align:center !important;}
    #checkout-review-table tfoot td+td{ text-align:center !important;}

}

@media only screen and (max-width: 990px) {
    /* Checkout Responsivo */
    #onepagecheckout_orderform .col3-set .col-3,
    #onepagecheckout_orderform .col3-set .col-2,
    #onepagecheckout_orderform .col3-set .col-1{
        width:100% !important;
        clear:both !important;
        float:none !important;
        margin: 0!important;
        min-height: inherit !important;
    }

    #onestepcheckout-general-form .col-3,
    #onestepcheckout-general-form .col-2,
    #onestepcheckout-general-form .col-1{
        width:100% !important;
        clear:both !important;
        float:none !important;
        margin: 0!important;
        min-height: inherit !important;
    }

    #onepagecheckout_orderform .form_fields label {
        float: none;
        display: block;
        clear: both;
    }
    .onestepcheckout-index-index .page-head{
        width: 100%;
        margin: 0;
    }
    #onestepcheckout-authentification-container{
        // height: 160px!important;
    }
    .op_login_area,
    #onestepcheckout-authentification{
        width: 92% !important;
        //padding: 10px 4% !important;
        float: none !important;
        margin-top: 20px !important;
        //height: 160px;
         .page-title{
             margin: 0;
         }
    }

    .onepagecheckout_datafields .col-1 .form_fields .short {
        width: 100%;
        float: left;
        margin: 0 0 7px 0;
    }

    .onepagecheckout_datafields .col-1 .form_fields div.full {
        margin: 0 0% 7px 0%;
        width: 100%;
    }

    #onestepcheckout-title{
        margin: 10px 0;
    }

}


@media only screen and (max-width: 990px) {


}

.form-list{
    &.cartao{
        .cc-validade{
            clear: both;
        }
    }
}

.method-image > img{
    margin-right: -2px!important;
}
.transparente-payment-method-content{
    h3{
        margin: 10px 0;
    }
}
#transparente-boleto{
    h3{
        margin-left: -90px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

.onestepcheckout-index-index{
    .col3-set{
        clear: both;
    }
}
.coupon-message-container{
    margin-bottom: 10px;
}
.card-data-form{
    clear: both;
}

#delivery_comment{
  width: 100%;
}

#onestepcheckout-general-form{
  .radio,.checkbox {
      display: inline-block;
    }
}

/*AJUSTES RWD*/
body{
  &.onestepcheckout-index-index{
    @media screen and (max-width: $screen-sm){
      padding: 0!important ;
    }
  }
}


.button-login{
  @media screen and (max-width: $screen-sm){
    float: right;
    margin: -11px 0 0 0;
  }
}
#onestepcheckout-forgot-password-submit-btn{
  @media screen and (max-width: $screen-sm){
      margin: 10px 0 0 0!important;
  }
}

#billing-address-select {
    height: 100%;
    word-wrap: break-word;
    white-space: normal;
    padding: 0 20px 0 0;
}

#onestepcheckout-login-form{
    .onestepcheckout-auth-form-block:nth-child(3){
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          display: block;
            // float: right;
            // margin: -22px 0 0 0;
        }
    }
}

#onestepcheckout-login-submit-btn{
    &.button span span{
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            padding: 4px 3px;
        }
    }
}

#onestepcheckout-review-coupon{
    .onestepcheckout-error-msg{
        margin: 0;
    }
}
