<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php if($this->getCollection()->getSize()): ?>
  <div class="toolbar">
    <div class="pager">
      <?php echo $this->getPagerHtml() ?>
    </div>
  </div>
<?php endif ?>
