<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php if(count($this->getItemCollection()->getItems())): ?>
  <div class="box-up-sell products-carousel">
    <div class="page-title category-title">
      <h2><span class="title"><?php echo $this->__('You may also be interested in the following product(s)') ?></span></h2>
    </div>
    <div class="owl-carousel" id="box-up-sell">
      <?php foreach($this->getItemCollection()->getItems() AS $item): ?>
        <div class="item">
          <a href="<?php echo $item->getProductUrl() ?>" class="product-image">
            <h2 class="product-name"><?php echo $this->htmlEscape($item->getName()) ?></h2>
            <img src="<?php echo $this->helper('catalog/image')->init($item, 'small_image')->resize(207) ?>" alt="<?php echo $this->htmlEscape($item->getName()) ?>" />
          </a>
          <div class="price-detail">
            <?php echo $this->getPriceHtml($item, true, '-upsell') ?>
          </div>
        </div>
      <?php endforeach; ?>
    </div>
    <script type="text/javascript">decorateTable('upsell-product-table')</script>
    <script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function($){
      $('#box-up-sell').owlCarousel({
        navigation: false,
        pagination: true,
        singleItem: false,
        items: 2,
        itemsMobile: [479,2],
        autoPlay: false
      });
    });
    //]]>
    </script>
  </div>
<?php endif ?>
