/**
* JN2
* @package: Jn2 Clean Theme
* @author:
*/
.cms-index-index {
  .three-columns{
    img {
       width: 95%;
     }
  }
}

#search_mini_form .form-search .button i{
  @media only screen and (min-width : $screen-sm) {
    color: $default-color-segment;
  }
}

.products-grid {
    .item{
        .price-box-link{
            .price-box{
                .price-billet{
                    .price{
                      color: #159e84;
                    }
                }
                .price-parcelado{
                    .price{
                      color: #159e84;
                    }
                }
                .regular-price{
                      .price{
                         color: #159e84;
                      }
                }
            }
        }
    }
}


.cms-index-index{
  .home-pitbar{
    background-color: #1abc9c;
  }
}
header{
  .cart-header{
    .floating-cart{
      .cart-actions{
        button{
          &:first-child{
            color: $default-text-color;
            background-color: transparent;
            font-weight: 400;
              &:hover{
                color: $default-color-segment;
              }
          }
        }
      }
    }
  }
}

header{
  .block-skip-links{
    a{
      color: #FFF;
      .label-skip{
        color: #000 !important;
        @media only screen and (min-width : $screen-sm) {
          font-weight: 200;
          letter-spacing: 1px;
        }
        strong{
          font-family:$secund-desktop-font!important;
          font-style: normal!important;
          font-weight: normal;
        }
      }
    }
    .number-itens-cart{
      @media only screen and (min-width : $screen-sm) {
        color: #fff!important;
      }
    }
  }
}

header .skip-links .block-skip-links .number-itens-cart{
  color: #000 !important;
}

#search_mini_form .form-search input{
  @media only screen and (min-width : $screen-sm) {
    background-color:rgba(#000000, 0);
    border-color:#b9b9b9;
  }
}

menu .mega-menu-jn2 .content-mega-menu ul.nav>li>a{
  font-family: $secund-desktop-font;
  font-size: 13px;
  font-weight: bold!important;
}

footer{
  .row-1{
    .footer-2,
    .footer-3{
      border-right: 1px solid $footer-border-color;
    }
  }
  .footer-3 {
    .newsletter {
      .newsletter-form {
        background-color: #48c9b0;
        .form-control{
          font-family: $primary-desktop-font;
          &::placeholder{
            color: #fff;
          }
        }
        .btn{
          font-style:normal;
          &:hover{
            background: transparent;
            color: #000;
          }
        }

      }
    }
  }

  h3{
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    @media only screen and (min-width : $screen-sm) {
      text-transform: uppercase;
    }
  }

  .footer-4 h3{
    color: #fff;
  }
}


.products-grid {
  .item {
    text-align: center;
    .product-name {
      @media only screen and (min-width : $screen-sm) {
        text-align: center;
      }
      a{
        @media only screen and (min-width : $screen-sm) {
          font-weight: 300;
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .price-box-link {
      .price-box{
        .price-billet{
          @media only screen and (min-width : $screen-sm) {
            text-align: center;
          }
        }
      }
    }
  }
}
