<!--
/**
 * Unicode Systems
 * @category   Uni
 * @package    Uni_Fileuploader
 * @copyright  Copyright (c) 2010-2011 Unicode Systems. (http://www.unicodesystems.in)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
 -->
 <?php $_description = $this->getProduct()->getDescription(); ?>
 <?php if ($_description): ?>
     <h3><?php echo $this->__('Details') ?></h3>
     <div class="std">
         <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'description') ?>
     </div>
 <?php endif; ?>

<?php echo $this->getChildHtml('product.attachments'); ?>
