/* Shopping Cart ========================================================================= */
.cart {}
.cart .data-table th,
.cart .data-table td {border-color:#eaeaea; line-height:normal; background:#fff; font-weight:normal; }
//.cart .data-table td {padding:8px; vertical-align:middle;}
.cart .data-table td .product-name a {}
.cart .data-table td .product-name a:hover {}
.cart .data-table .nobr {display:block; text-align:center;}
.cart .data-table thead {font-weight:normal; font-size:13px; color:#252525;}
.cart .data-table .price {font-weight:bold;}
.cart .data-table tfoot .btn-continue {float:left;}
.cart .data-table tfoot .btn-empty {display:none;}
.checkout-cart-index .data-table  .product-name a {font-size:12px; font-weight:normal; text-transform:none;}

/* Checkout Types */
.cart .checkout-types { float:right; text-align:right; }
.cart .title-buttons .checkout-types li { float:left; margin:0 0 5px 5px; }
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding:3px 55px 8px 0; line-height:1.0; font-size:11px; }
//.cart .title-buttons .checkout-types li button.button span {background:#b4b4b4; font-size:17px; padding:0 12px; height:46px; line-height:46px;}
.cart .page-title.title-buttons .checkout-types {padding-top:36px;}


/*
.btn-checkout {
    @extend .btn-cart;
    >span{
        font-size:16px !important;
        padding:2px 7px !important;
        >span{
            background: image-url('ico_cart-btn-cart.png') left center no-repeat !important; 
            padding-left:25px !important;
        }
    }
}
*/

/* Shopping Cart Table */
.cart-table .item-msg { font-size:10px; }

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { padding:27px 0 25px; }
.cart .cart-collaterals .col2-set { float:left; width:655px; }


.cart .crosssell {padding:13px 7px 25px 7px; border:1px solid #e6e6e6;}
.cart .cart-collaterals .col-1 {width:385px; float:left;}
.cart .cart-collaterals .col-2 {width:250px;float:right;}
.cart .cart-collaterals .col-2 button.button > span {height:22px; line-height:22px;}
//.cart .crosssell h2 { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; line-height:18px; color:#343434; padding:0 15px; margin:0px; }
.cart .crosssell .product-image { float:left;}
.cart .crosssell .product-details { margin-left:150px; }
.cart .crosssell li.item {border-bottom:1px solid #eaeaea; padding:14px 0 26px 0; margin: 0 14px 10px; padding-bottom: 47px !important;}
.cart .crosssell li.last {border:none;}
.cart .crosssell .product-name {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal !important; text-transform:none;}
.cart .crosssell .price {font-family:Arial, Helvetica, sans-serif ; font-weight:normal;}
.cart .crosssell .price-box {margin-bottom:5px; }
.cart .crosssell .price-box .price {font-size:12px !important; line-height:normal;}
.cart .crosssell .add-to-links {padding-top:10px;}
#shopping-cart-table .product-image {display:inline-block;}
.cart-table .price {}

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount {margin-top:20px;}
.cart .discount,
.cart .shipping {border:1px solid #e6e6e6; padding:13px 10px 10px 14px; overflow:hidden;}
.cart .discount .discount-form  button.button {margin-bottom:0 5px 5px 0; clear:right;}
.cart .shipping {padding-top:14px;}
.cart .shipping .buttons-set {padding-left:0px; padding-top:5px;}
.cart .shipping .buttons-set button.button {margin-bottom:5px; clear:right;}
//.cart .cart-collaterals .col-2 h2 {font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:13px; line-height:normal; font-weight:bold; color:#000; padding:0px; margin-bottom:8px;}
.cart .discount-form label {margin-bottom:3px; display:block;}
.cart input,
.cart select {border-color:#d9d9d9; color:#6a6969; font-size:11px; }
.cart select {padding:3px;}
//.cart .discount-form .input-box {float:left;}
.cart .discount-form .input-box input {width:153px; padding:3px;}
.cart .discount-form .buttons-set {margin:0px 0 0 0; padding:5px 0 0 0; clear:right; overflow:hidden;}
.cart .shipping p {margin-bottom:12px;}
.cart .shipping label {display:inline-block; font-size:12px; line-height:normal; color:#303030; margin-bottom:3px; font-weight:normal;}
.cart .shipping .form-list li {margin-bottom:0px;}
.cart .shipping .form-list li input {width:auto; padding:4px;}
.cart .shipping .form-list li select {width:auto;}
.cart .shipping .form-list li .input-box {margin-bottom: 0px;}
/* Shopping Cart Totals */
.cart .totals { float:right; width:338px; padding:15px 5px 15px 5px; }
.cart .totals table { width:100%; font-size:12px; color:#7f7f7f; margin-bottom:15px; }
.cart .totals table th,
.cart .totals table td { padding:5px; font-size:13px; color:#999; font-weight:normal;  }
.cart .totals table tr td:first-child { }
.cart .totals table strong {font-weight:normal; }
.cart .totals table th {  }
.cart .totals table tfoot th {}
.cart .totals .price {font-size:12px; line-height:normal; color:$amarelo1; min-width:70px; display:inline-block; padding:0 0px 0 15px;}
.cart .totals tfoot .price {font-size:20px; font-weight: bold;}
//.cart .totals button.button span {background:#b4b4b4; font-size:17px; padding:0 12px; height:46px; line-height:46px;}
.checkout-types li {padding-bottom:15px;}
.checkout-types li a {color:#b4b4b4;}
//.cart .totals .checkout-types {text-align:right; float:none; border-top:2px solid #eee; padding-top:10px;}
//.cart .totals .checkout-types li:first-child {display:none}

.cart .btn-edit,
.cart .btn-remove2 { display:inline; color:#999; width:auto; height:28px; background:none; padding:0 5px; font-size:10px; margin:0; }
    
.cart .btn-edit:hover,
.cart .btn-remove2:hover { color:#333; }


/* Options Tool Tip */
.item-options dt { font-weight:bold; font-style:italic; }
.item-options dd { padding-left:10px; }
.truncated { cursor:help; width:45px; }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value { position:relative; z-index:999; top:9px; }
.truncated .truncated_full_value .item-options { position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid #ddd; background-color:#f6f6f6; }
.truncated .truncated_full_value .item-options > p { font-weight:bold; text-transform:uppercase; }
.truncated .show .item-options { top:-20px; left:50%; }
.col-left .truncated .show .item-options { left:30px; top:7px; }
.col-right .truncated .show .item-options  { left:-240px; top:7px; }
/* ======================================================================================= */



