<?php
$_helper = $this->helper('catalog/output');
$_category = $this->getCurrentCategory();
$_imgHtml = '';

if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="' . $_imgUrl . '" alt="' . $this->escapeHtml($_category->getName()) . '" title="' . $this->escapeHtml($_category->getName()) . '" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}
?>
<div class="page-title category-title">
    <?php if ($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
        <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
    <?php endif; ?>
    <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
</div>
<!--Titulo da categoria-->

<div>   
    <div class="row show-grid">
        <div class="col-sm-12">        
            <?php echo $this->getBanner($_category->getIbanner()); ?>
        </div>
    </div>
</div>
<!--Fim do bloco Ibanner-->
<div>
    <?php echo $this->getMessagesBlock()->toHtml() ?>

    <?php if ($_imgUrl): ?>
        <?php echo $_imgHtml ?>
    <?php endif; ?>

    <?php if ($_description = $this->getCurrentCategory()->getDescription()): ?>
        <div class="category-description std">
            <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
        </div>
    <?php endif; ?>

    <?php if ($this->isContentMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>

    <?php elseif ($this->isMixedMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>
        <?php echo $this->getProductListHtml() ?>

    <?php else: ?>
        <?php echo $this->getProductListHtml() ?>
    <?php endif; ?>
</div>

<div class="content-theme">
    <div class="row show-grid">
        <div class="col-sm-12">
            <?php echo $this->getBlock($_category->getBloco_1()); ?>
        </div>
    </div>
    <!--Fim do bloco 1-->
    
    <div class="row show-grid">
        <div class="col-sm-12">
            <?php echo $this->getBlock($_category->getBloco_2()); ?>
        </div>
    </div>
    <!--Fim do bloco 2-->

    <div class="row show-grid">
        <div class="col-sm-12">
            <?php echo $this->getBlock($_category->getBloco_3()); ?>
        </div>
    </div>
    <!--Fim do bloco 3-->

    <div class="row show-grid">
        <div class="col-sm-12">
            <?php echo $this->getBlock($_category->getBloco_4()); ?>
        </div>
    </div>
    <!--Fim do bloco 4-->
</div>