
<div class="cart">
    <?php echo $this->getChildHtml('cartmessage_message') ?>
  <div class="page-title title-buttons">
    <div class="col-md-7 page-title-tit">
      <h1><?php echo $this->__('Shopping Cart') ?></h1>
    </div>
    <div class="col-md-5 page-title-btns">
      <?php if (Mage::getStoreConfig("custom_theme/general/btn-keep-buying")): ?>    
        <a href="<?php echo Mage::getBaseUrl(); ?>" class="btn btn-keep-buying" title="<?php echo $this->__('Continuar Comprando') ?>"><?php echo $this->__('Continuar Comprando') ?></a>
      <?php endif; ?>
      <?php if(!$this->hasError()): ?>
        <ul class="checkout-types">
          <?php foreach ($this->getMethods('top_methods') as $method): ?>
            <?php if ($methodHtml = $this->getMethodHtml($method)): ?>
              <li><?php echo $methodHtml; ?></li>
            <?php endif; ?>
          <?php endforeach; ?>
        </ul>
      <?php endif; ?>
    </div>
  </div>
  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
  <?php echo $this->getChildHtml('form_before') ?>

  <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">

    <fieldset>
      <table id="shopping-cart-table" class="data-table cart-table">
        <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
        <thead>
          <tr>
            <th rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Product') ?></th>
            <th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Name') ?></span></th>
            <th class="a-right" colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Unit Price') ?></span></th>
            <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Qty') ?></th>
            <th class="a-right" colspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Subtotal') ?></th>
            <th rowspan="<?php echo $mergedCells; ?>" class="a-center">&nbsp;</th>
          </tr>
          <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <tr>
              <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
              <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
              <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
              <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
            </tr>
          <?php endif; ?>

        </thead>
        <tfoot>
          <tr>
            <td colspan="50" class="a-right">
              <button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Shopping Cart'); ?>" class="btn-update"><span><span><?php echo $this->__('Update Shopping Cart'); ?></span></span></button>
              <button type="submit" name="update_cart_action" value="empty_cart" title="<?php echo $this->__('Clear Shopping Cart'); ?>" class="btn-empty" id="empty_cart_button"><span><span><?php echo $this->__('Clear Shopping Cart'); ?></span></span></button>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <?php foreach($this->getItems() as $_item): ?>
            <?php echo $this->getItemHtml($_item) ?>
          <?php endforeach ?>
        </tbody>
      </table>
      <script type="text/javascript">decorateTable('shopping-cart-table')</script>
    </fieldset>
  </form>

  <div class="new-cart-collaterals">
    <div class="row">
      <div class="col-sm-8 col-md-8">
        <div class="new-shipping">
          <?php
          if (!$this->getIsVirtual()){
            echo $this->getChildHtml('shipping');

          }
          ?>
        </div>
        <div class="new-coupon">
          <?php echo $this->getChildHtml('coupon') ?>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="new-totals">
          <div class="totals">
            <?php echo $this->getChildHtml('totals'); ?>
            <?php if(!$this->hasError()): ?>
              <ul class="checkout-types">
                <?php foreach ($this->getMethods('methods') as $method): ?>
                  <?php if ($methodHtml= $this->getMethodHtml($method)): ?>
                    <li>
                      <?php echo $methodHtml; ?>
                    </li>
                  <?php endif; ?>
                <?php endforeach; ?>
              </ul>
            <?php endif; ?>
          </div>
        </div>
      </div>
      <div class="new-crossell col-md-12">
        <?php echo $this->getChildHtml('crosssell') ?>
      </div>
    </div>
  </div>
</div>
