<?php
/**
*
* @category   Inovarti
* @package    Inovarti_Onestepcheckout
* @author     Suporte <suporte@inovarti.com.br>
*/
?>
<?php $customer = Mage::getSingleton('customer/session')->getCustomer(); ?>



<div class="onestepcheckout">
  <div class="page-head container">
    <?php echo $this->getChildHtml('title'); ?>
    <div class="welcome-msg col-md-3 col-md-offset-5">
      <p class="hello">
        <strong>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="7799.852 129 16.793 18">
            <g id="user" transform="translate(7799.852 129)">
              <g id="Group_53" data-name="Group 53" transform="translate(0)">
                <path id="Path_4" data-name="Path 4" d="M11.309,61.182H25.484a1.318,1.318,0,0,0,1.309-1.309C26.773,55.884,23.623,53,19.286,53h-1.78C13.15,53,10,55.884,10,59.873A1.318,1.318,0,0,0,11.309,61.182Zm6.177-6.545h1.78c3.314,0,5.686,2,5.85,4.909H11.636C11.82,56.641,14.173,54.636,17.486,54.636Z" transform="translate(-10 -43.182)"/>
                <path id="Path_5" data-name="Path 5" d="M33,8.682v1.636a3.682,3.682,0,1,0,7.364,0V8.682a3.682,3.682,0,1,0-7.364,0Zm5.727,0v1.636a2.045,2.045,0,1,1-4.091,0V8.682a2.045,2.045,0,1,1,4.091,0Z" transform="translate(-28.295 -5)"/>
              </g>
            </g>
          </svg>
          <a href="<?php echo $this->getUrl("customer/account") ?>" title="Minha Conta"><?php echo $this->__('Hello, %s!', $this->escapeHtml($customer->getName())) ?></a>
        </strong>
      </p>
      <p class="hello email"><strong>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="7799.852 158 16 11.729">
          <g id="Group_82" data-name="Group 82" transform="translate(7799.852 158)">
            <path id="Path_30" data-name="Path 30" d="M14.181,0H1.845A1.834,1.834,0,0,0,0,1.845V9.884a1.834,1.834,0,0,0,1.845,1.845H14.154A1.834,1.834,0,0,0,16,9.884V1.845A1.812,1.812,0,0,0,14.181,0ZM1.845,1.054H14.154a.73.73,0,0,1,.237.026l-6.379,4.9-6.379-4.9A.655.655,0,0,1,1.845,1.054Zm13.126,8.8a.777.777,0,0,1-.791.791H1.845a.777.777,0,0,1-.791-.791V1.951L8.013,7.3l6.959-5.324Z"/>
          </g>
        </svg> <?php echo $this->escapeHtml($customer->getEmail()) ?></strong>
      </p>

      <a href="<?php echo Mage::getUrl('customer/account/logout'); ?>" title="Sair" class="link-ico-logout">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="7999.798 144 16.402 16.402">
          <defs>
          <style>
          .ico-logout {
            fill: #f42121;
          }
          </style>
        </defs>
        <path id="Path_33" data-name="Path 33" class="ico-logout" d="M8.2,0a8.2,8.2,0,1,0,8.2,8.2A8.212,8.212,0,0,0,8.2,0Zm3.135,10.541-.8.8L8.2,9l-2.34,2.34-.8-.8L7.406,8.2l-2.34-2.34.8-.8L8.2,7.406l2.34-2.34.8.8L9,8.2Z" transform="translate(7999.798 144)"/>
      </svg>
    </a>

  </div>
  <div class="continue-buy first">
    <span class="link-continue-buy">
      <a href="<?php echo Mage::getBaseUrl(); ?>">
        <?php echo $this->__('Continue Shopping'); ?>
      </a>
    </span>
  </div>
</div>
<?php echo $this->getChildHtml('auth'); ?>
<div class="col3-set">
  <form id="onestepcheckout-general-form" method="post" action="#">
    <div class="container">
      <div class="row">
        <section class="section-wizard">
          <div class="wizard">
            <div class="wizard-inner visible-md visible-lg">
              <div class="connecting-line"></div>
              <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active" id="li_step1">
                  <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Entrega">
                    <span class="round-tab">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="9082.732 -172 44.096 61.739" class="ico-tab">

                        <g id="Group_92" data-name="Group 92" transform="translate(9082.732 -172)">
                          <path id="Path_29" data-name="Path 29" class="ico-place-color" d="M44.1,22.054A22.048,22.048,0,1,0,3.586,34.109H3.547L20.078,60.522h0a2.213,2.213,0,0,0,3.953,0h0L40.562,34.109h-.039A22.1,22.1,0,0,0,44.1,22.054h0M22.054,11.989A10.052,10.052,0,1,1,12,22.041,10.055,10.055,0,0,1,22.054,11.989h0m0,0Z"/>
                        </g>
                      </svg>
                    </span>
                  </a>
                </li>

                <li role="presentation" class="disabled" id="li_step2">
                  <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Pagamento">
                    <span class="round-tab">
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="9189 -172 65.561 61.739" class="ico-tab">
                      <defs>
                      <style>
                      .ico-payment-color {
                      fill: #f1ffde;
                    }

                    .ico-payment-color-2 {
                    fill: #4eb700;
                  }
                </style>
              </defs>
              <g id="Group_91" data-name="Group 91" transform="translate(9189.021 -172)">
              <circle id="Ellipse_8" data-name="Ellipse 8" class="ico-payment-color" cx="28.12" cy="28.12" r="28.12" transform="translate(6.754 2.999)"/>
              <path id="Path_20" data-name="Path 20" class="ico-payment-color-2" d="M30.049,10.4a2.373,2.373,0,0,0-2.375,2.375v.25c-5.124.625-8.5,4-8.5,8.374s2.5,7.124,8.623,8.748V36.9a14.211,14.211,0,0,1-5-2.375c-3-2.375-6.5,2.5-3.124,4.624a18.71,18.71,0,0,0,8,3.249v2a2.353,2.353,0,0,0,2.5,2.125A2.284,2.284,0,0,0,32.3,44.394v-2c5.249-.625,8.624-3.874,8.624-8.374S38.3,26.9,32.174,25.272v-6.5a15.337,15.337,0,0,1,3.249,1.5,2.79,2.79,0,1,0,3.124-4.624c-.125,0-.125-.125-.25-.125a17.47,17.47,0,0,0-6-2.25V12.9a2.3,2.3,0,0,0-2.25-2.5ZM27.8,24.023c-2.5-1-2.625-1.875-2.625-2.875,0-1.375,1-2.375,2.625-2.75Zm4.374,13.123V31.4c2.375.875,2.75,1.75,2.75,3C35.048,36.146,33.424,36.77,32.174,37.145Z" transform="translate(4.575 2.598)"/>
              <path id="Path_21" data-name="Path 21" class="ico-payment-color-2" d="M9.379,13.617c-3.5,5.749-5.124,13.623-5,20L.755,37.238c-2.375,2.375,1.25,5.874,3.5,3.5l1.25-1.25a30.558,30.558,0,0,0,29.37,21.871c26,0,40.118-30.495,23.5-50.241a2.416,2.416,0,0,0-3.5-.125,2.384,2.384,0,0,0-.25,3.374c13.873,16.5,2,41.993-19.747,41.993a25.547,25.547,0,0,1-7.5-49.991,2.461,2.461,0,0,0,1.5-3.124,2.448,2.448,0,0,0-3-1.625,25.04,25.04,0,0,0-3.249,1.25C17.377,5.494,11.878,9.618,9.379,13.617Z" transform="translate(0 0.38)"/>
              <path id="Path_22" data-name="Path 22" class="ico-payment-color-2" d="M32.049.125A20.249,20.249,0,0,0,29.3,0a2.5,2.5,0,0,0,0,5A25.671,25.671,0,0,1,43.422,9.248a2.489,2.489,0,0,0,2.75-4.124,32,32,0,0,0-8.124-3.749" transform="translate(6.699)"/>
            </g>
          </svg> -->

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="9555.791 259 16.696 26.659" class="ico-tab">

            <g id="Group_96" data-name="Group 96" transform="translate(9544.264 252.442)">
              <path id="Path_20" data-name="Path 20" class="ico-payment-color" d="M26.968,10.4a1.751,1.751,0,0,0-1.752,1.752v.184c-3.781.461-6.271,2.951-6.271,6.179s1.844,5.256,6.363,6.455v4.98A10.486,10.486,0,0,1,21.619,28.2c-2.213-1.752-4.8,1.844-2.305,3.412a13.806,13.806,0,0,0,5.9,2.4v1.475a1.736,1.736,0,0,0,1.844,1.568,1.685,1.685,0,0,0,1.568-1.568V34.008c3.873-.461,6.363-2.859,6.363-6.179s-1.937-5.256-6.455-6.455v-4.8a11.317,11.317,0,0,1,2.4,1.107,2.059,2.059,0,1,0,2.305-3.412c-.092,0-.092-.092-.184-.092a12.891,12.891,0,0,0-4.426-1.66v-.277a1.7,1.7,0,0,0-1.66-1.844Zm-1.66,10.052c-1.844-.738-1.937-1.383-1.937-2.121A2.154,2.154,0,0,1,25.308,16.3Zm3.228,9.683V25.893c1.752.646,2.029,1.291,2.029,2.213C30.657,29.4,29.458,29.858,28.536,30.135Z" transform="translate(-6.767 -3.842)"/>
            </g>
          </svg>

        </span>
      </a>
    </li>
    <li role="presentation" class="disabled" id="li_step3">
      <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Resumo">
        <span class="round-tab">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="9317 -172 58.058 61.739" class="ico-tab">
          <defs>
          <style>
          .ico-review-color{
          fill: #e2fcc0;
        }

        .ico-review-color-2{
        fill: #c5f883;
      }

      .ico-review-color-3{
      fill: #e2fcc0;
    }

    .ico-review-color-4{
    fill: #4eb700;
  }
</style>
</defs>
<g id="_12_Favorite_1_" transform="translate(9317.008 -172)">
<path id="Path_23" data-name="Path 23" class="ico-review-color" d="M49.929,27.99l4.26-4.26a2.014,2.014,0,0,0,0-2.778h0c-4.507-4.507-4.815-4.568-4.815-5.618V9.346A1.95,1.95,0,0,0,47.4,7.371h0c-6.42,0-6.606.185-7.408-.556l-4.26-4.26a2.014,2.014,0,0,0-2.778,0h0c-4.507,4.507-4.568,4.815-5.618,4.815H21.346a1.95,1.95,0,0,0-1.976,1.976h0c0,6.42.185,6.606-.556,7.408l-4.26,4.26a2.014,2.014,0,0,0,0,2.778h0c4.507,4.507,4.815,4.568,4.815,5.618V35.4a1.95,1.95,0,0,0,1.976,1.976h5.988a1.815,1.815,0,0,1,1.358.556l4.26,4.26a2.014,2.014,0,0,0,2.778,0h0c4.507-4.507,4.568-4.815,5.618-4.815h5.988A1.95,1.95,0,0,0,49.312,35.4h0V29.41A2.3,2.3,0,0,1,49.929,27.99Z" transform="translate(-5.36 -0.765)"/>
<ellipse id="Ellipse_9" data-name="Ellipse 9" class="ico-review-color-2" cx="9.26" cy="9.26" rx="9.26" ry="9.26" transform="translate(19.752 12.347)"/>
<path id="Path_24" data-name="Path 24" class="ico-review-color-3" d="M26.817,58.99,14.841,79.671,11.2,71.151,2,72.263,14.779,50.1v3.7a1.95,1.95,0,0,0,1.976,1.975h5.988a1.815,1.815,0,0,1,1.358.556ZM44.782,50.1v3.7a1.95,1.95,0,0,1-1.976,1.975h0c-6.42,0-6.606-.185-7.408.556L32.744,58.99,44.72,79.671l3.642-8.519,9.2,1.111Z" transform="translate(-0.768 -19.171)"/>
<path id="Path_25" data-name="Path 25" class="ico-review-color-4" d="M65.422,52.474,52.828,30.62V28.645a.7.7,0,0,1,.185-.494l4.26-4.26a3.2,3.2,0,0,0,0-4.507h0l-4.26-4.26c-.37-.37-.185-.37-.185-6.482a3.188,3.188,0,0,0-3.21-3.21c-6.112,0-6.173.123-6.544-.247L38.814.926a3.2,3.2,0,0,0-4.507,0l-4.26,4.26c-.37.37-.37.247-6.482.247a3.188,3.188,0,0,0-3.21,3.21c0,6.173.123,6.173-.185,6.482A1.222,1.222,0,1,0,21.9,16.853c1.235-1.235.926-1.976.926-8.272a.713.713,0,0,1,.741-.741h0c8.7,0,6.3,1.049,12.47-5.186a.71.71,0,0,1,1.049,0l4.26,4.26c1.235,1.235,1.976.926,8.272.926a.713.713,0,0,1,.741.741h0v5.988c0,1.729.741,2.1,5.186,6.482a.71.71,0,0,1,0,1.049h0l-4.26,4.26a3.17,3.17,0,0,0-.926,2.284v5.988c0,.926-.988.741-3.272.741a1.235,1.235,0,1,0,0,2.469h2.531A3.174,3.174,0,0,0,52.7,35.374l9.384,16.174-6.729-.8a1.288,1.288,0,0,0-1.3.741l-2.655,6.235-6.05-10.557a1.267,1.267,0,0,0-1.729-.37A1.209,1.209,0,0,0,43.2,48.4l7.285,12.717a1.173,1.173,0,0,0,1.667.432.876.876,0,0,0,.494-.556l3.272-7.655,8.334.988a1.2,1.2,0,0,0,1.358-1.049A.936.936,0,0,0,65.422,52.474Z" transform="translate(-7.58)"/>
<path id="Path_26" data-name="Path 26" class="ico-review-color-4" d="M35.926,55.061l-2.346-4.074,1.976-1.976a.7.7,0,0,1,.494-.185,1.235,1.235,0,1,0,0-2.469c-1.729,0-2.1.741-6.482,5.186a.71.71,0,0,1-1.049,0l-4.26-4.26a3.17,3.17,0,0,0-2.284-.926H15.986a.713.713,0,0,1-.741-.741h0V39.627a3.17,3.17,0,0,0-.926-2.284c-5.371-5.371-5.247-4.26-2.963-6.544A1.222,1.222,0,0,0,9.628,29.07l-1.3,1.3a3.2,3.2,0,0,0,0,4.507h0l4.26,4.26c.309.309.185.679.185,2.469L9.689,46.973a1.271,1.271,0,0,0,.494,1.667,1.193,1.193,0,0,0,1.605-.432l1.049-1.852a3.174,3.174,0,0,0,3.087,2.469h5.988a.7.7,0,0,1,.494.185l1.975,1.976L14.258,68.7,11.6,62.469a1.24,1.24,0,0,0-1.3-.741l-6.791.8L10.06,51.171A1.271,1.271,0,0,0,9.566,49.5a1.193,1.193,0,0,0-1.605.432L.182,63.456a1.15,1.15,0,0,0,.432,1.667.936.936,0,0,0,.8.185l8.272-.988,3.272,7.655a1.175,1.175,0,0,0,1.605.617,1.457,1.457,0,0,0,.556-.494L26.234,52.776l.494.494a3.2,3.2,0,0,0,4.507,0l.494-.494L33.766,56.3a1.265,1.265,0,0,0,1.729.309A1.244,1.244,0,0,0,35.926,55.061Z" transform="translate(0 -10.982)"/>
<path id="Path_27" data-name="Path 27" class="ico-review-color-4" d="M36.065,21.928a1.208,1.208,0,0,0,.247-1.729,1.25,1.25,0,0,0-1.667-.309c-8.519,5.741-4.445,19.138,5.865,19.138a10.468,10.468,0,0,0,0-20.928,1.235,1.235,0,1,0,0,2.469,7.995,7.995,0,1,1-4.445,1.358Z" transform="translate(-11.497 -6.926)"/>
</g>
</svg> -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="9963.283 262 28.98 21.063" class="ico-tab ico-check-checkout">

  <path id="Path_37" data-name="Path 37" class="ico-review-color" d="M23.17.955,11.34,12.784l-5.5-5.5a3.466,3.466,0,0,0-4.883.069,3.362,3.362,0,0,0,0,4.746l7.909,7.909a3.4,3.4,0,0,0,4.883,0L27.984,5.838A3.466,3.466,0,0,0,27.915.955a3.362,3.362,0,0,0-4.746,0Z" transform="translate(9963.309 262.025)"/>
</svg>
</span>
</a>
</li>


</ul>
</div>

<form role="form">
  <div class="tab-content">

    <div class="tab-pane active" role="tabpanel" id="step1">
      <div class="tab-pane-content">

        <div class="opc-jn2">
          <div class="section allow active">
            <?php echo $this->getChildHtml('address'); ?>
          </div>
        </div>
        <div class="opc-jn2">
          <div id="onestepcheckout-shipping-method-wrapper">
            <?php echo $this->getChildHtml('shippingmethod'); ?>
          </div>
        </div>
      </div>
      <div class="tab-pane-button">
        <button type="button" class="btn-next-step next-step btn-step-1"><?php echo $this->__("Next") ?>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="9294 744 9.953 16" class="seta-seguir">
            <defs>
            <style>
            .path-seta-seguir {
              fill: #fff;
            }
            </style>
          </defs>
          <path id="arrow-right" class="path-seta-seguir" d="M19.569,10.879,13.162,4.472a1.515,1.515,0,0,0-2.136,0l-.535.535a1.515,1.515,0,0,0,0,2.135l4.889,4.89-4.89,4.89a1.515,1.515,0,0,0,0,2.135l.535.535a1.514,1.514,0,0,0,2.136,0l6.408-6.408A1.5,1.5,0,0,0,20,12.031,1.5,1.5,0,0,0,19.569,10.879Z" transform="translate(9283.949 739.969)"/>
        </svg>
      </button>
    </div>
  </div>


  <div class="tab-pane" role="tabpanel" id="step2">
    <div class="tab-pane-content">
      <div id="onestepcheckout-order-review-coupon-wrapper">
        <?php echo $this->getChildHtml('review.coupon'); ?>
      </div>
      <div id="onestepcheckout-payment-method-wrapper">
        <?php echo $this->getChildHtml('paymentmethod'); ?>
      </div>
    </div>
    <div class="tab-pane-button">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="prev-step bt-prev-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="9294 744 9.953 16" class="seta-voltar">
            <defs>
            <style>
            .path-seta-voltar {
              fill: #000;
            }
            </style>
          </defs>
          <path id="arrow-right" class="path-seta-voltar" d="M19.569,10.879,13.162,4.472a1.515,1.515,0,0,0-2.136,0l-.535.535a1.515,1.515,0,0,0,0,2.135l4.889,4.89-4.89,4.89a1.515,1.515,0,0,0,0,2.135l.535.535a1.514,1.514,0,0,0,2.136,0l6.408-6.408A1.5,1.5,0,0,0,20,12.031,1.5,1.5,0,0,0,19.569,10.879Z" transform="translate(9283.949 739.969)"/>
        </svg>
            <?php echo $this->__('Back') ?></button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn-next-step next-step btn-step-2"><?php echo $this->__('Next') ?>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="9294 744 9.953 16" class="seta-seguir">
            <defs>
            <style>
            .path-seta-seguir {
              fill: #fff;
            }
            </style>
          </defs>
          <path id="arrow-right" class="path-seta-seguir" d="M19.569,10.879,13.162,4.472a1.515,1.515,0,0,0-2.136,0l-.535.535a1.515,1.515,0,0,0,0,2.135l4.889,4.89-4.89,4.89a1.515,1.515,0,0,0,0,2.135l.535.535a1.514,1.514,0,0,0,2.136,0l6.408-6.408A1.5,1.5,0,0,0,20,12.031,1.5,1.5,0,0,0,19.569,10.879Z" transform="translate(9283.949 739.969)"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>


<div class="tab-pane" role="tabpanel" id="step3">
  <div class="tab-pane-content">
    <div class="opc-jn2">
      <div class="section allow active">
        <?php $blockNumberClass = (!is_null($this->getBlockNumber(false))) ? "onestepcheckout-number-4" : ""; ?>
        <?php if(Mage::getStoreConfig('onestepcheckout/general/is_show_titles')): ?><div class="step-title"><span class="number onestepcheckout-number <?php echo $blockNumberClass; ?>">4</span><h2><?php echo $this->__('ORDER REVIEW'); ?></h2></div><?php endif; ?>
        <div class="step a-item">
          <div id="onestepcheckout-order-review">
            <div id="onestepcheckout-order-review-cart-wrapper">
              <?php echo $this->getChildHtml('review.cart'); ?>
            </div>




            <div id="onestepcheckout-order-review-comments-wrapper">
              <?php echo $this->getChildHtml('review.comments'); ?>
            </div>

            <div id="onestepcheckout-order-review-terms-wrapper">
              <?php echo $this->getChildHtml('review.terms'); ?>
            </div>
            <div id="onestepcheckout-order-review-extra-wrapper">
              <?php echo $this->getChildHtml('review.extra'); ?>
            </div>
          </div>
        </div>
      </div>
      <div class="section allow">
        <div id="onestepcheckout-order-review-newsletter-wrapper">
          <?php echo $this->getChildHtml('review.newsletter'); ?>
        </div>
        <div id="onestepcheckout-place-order">

          <button type="button" class="button btn-proceed-checkout btn-checkout button-addtocart" title="<?php echo $this->__('Place Order Now'); ?>" id="onestepcheckout-place-order-button">

            <?php echo $this->__('Place Order'); ?>

          </button>

        </div>
      </div>

      <div class="selos">
        <?php echo $this->getChildHtml('selos-checkout') ?>
      </div>

      <div class="secure-block">
        <div class="ico-secure">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="1414.989 -102 26.712 39.258">

            <g transform="translate(1414.989 -102)"><path  d="M209.456,458.3a11,11,0,0,0-10.984,10.984v4.877c-.29.061-.58.114-.87.185a1.985,1.985,0,0,0-1.5,1.933v17.389a1.98,1.98,0,0,0,1.336,1.88,36.949,36.949,0,0,0,24.041,0,1.989,1.989,0,0,0,1.336-1.88V476.278a1.985,1.985,0,0,0-1.5-1.933c-.29-.07-.58-.123-.879-.185v-4.877A10.975,10.975,0,0,0,209.456,458.3Zm0,4.692a6.285,6.285,0,0,1,6.274,6.283v4.042a49.294,49.294,0,0,0-12.565,0v-4.042a6.306,6.306,0,0,1,6.291-6.283Zm0,17.433a2.623,2.623,0,0,1,1.626,4.692l.668,5.6h-4.6l.677-5.6a2.623,2.623,0,0,1,1.626-4.692Z" transform="translate(-196.1 -458.3)"/></g>
          </svg>
        </div>
        <div class="text-secure">
            <?php echo $this->__("<span>100%</span></br>Safe environment"); ?>
        </div>
      </div>

    </div>

  </div>
  <button type="button" class="prev-step bt-prev-3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9294 744 9.953 16" class="seta-voltar">
      <defs>
      <style>
      .path-seta-voltar {
        fill: #000;
      }
      </style>
    </defs>
    <path id="arrow-right" class="path-seta-voltar" d="M19.569,10.879,13.162,4.472a1.515,1.515,0,0,0-2.136,0l-.535.535a1.515,1.515,0,0,0,0,2.135l4.889,4.89-4.89,4.89a1.515,1.515,0,0,0,0,2.135l.535.535a1.514,1.514,0,0,0,2.136,0l6.408-6.408A1.5,1.5,0,0,0,20,12.031,1.5,1.5,0,0,0,19.569,10.879Z" transform="translate(9283.949 739.969)"/>
  </svg>
      <?php echo $this->__('Back') ?></button>
  <!-- <div class="tab-pane-button">
  <button type="button" class="btn btn-primary next-step">Save and continue</button>
</div> -->
<div class="clearfix"></div>
</div>



<!-- <div class="row">
<div class="col-md-4">
<ul class="list-inline pull-right">
<li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
</ul>
</div>

<div class="col-md-4">
<ul class="list-inline pull-right">
<li><button type="button" class="btn btn-default prev-step">Previous</button></li>
<li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
</ul>
</div>

<div class="col-md-4">
<ul class="list-inline pull-right">
<li><button type="button" class="btn btn-default prev-step">Previous</button></li>
<li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
</ul>
</div>

</div> -->

</form>
</div>
</section>
</div>
</div>

</form>
<div id="onestepcheckout-popup" class="onestepcheckout-popup" style="display:none">
  <div id="onestepcheckout-popup-content" class="onestepcheckout-popup-content"></div>
  <div id="onestepcheckout-popup-accept" class="onestepcheckout-popup-accept">
    <button type="button"><?php echo $this->__('ACCEPT'); ?></button>
    <a href="javascript:void(0)"><?php echo $this->__('Close'); ?></a>
  </div>
</div>
<div id="onestepcheckout-overlay" class="onestepcheckout-popup-overlay" style="display:none"></div>
<script type="text/javascript">
<?php if(Mage::getStoreConfigFlag('fingerprint/fingerprint_config/enable')): ?>
    var fingerprint;
<?php endif;?>
jQuery(document).ready(function(){

    <?php if(Mage::getStoreConfigFlag('fingerprint/fingerprint_config/enable')): ?>
        // Create a new ClientJS object
        if (typeof ClientJS === 'function') {
            var client = new ClientJS();
            // Get the client's fingerprint id
            fingerprint = client.getFingerprint();
        }
    <?php endif;?>

  var OSCForm = new OnestepcheckoutForm({
    formId: 'onestepcheckout-general-form',
    cartContainerSelector: "#onestepcheckout-order-review-cart-wrapper",
    // validate shipping and payment
    shippingMethodName: 'shipping_method',
    shippingMethodAdvice: '#onestepcheckout-shipping-method .validation-advice',
    shippingValidationMessage: '<?php echo $this->__('Please specify shipping method.'); ?>',
    shippingMethodWrapperSelector: '#onestepcheckout-shipping-method .sp-methods',
    paymentMethodName: 'payment[method]',
    paymentMethodAdvice: '#onestepcheckout-payment-method dl+.validation-advice',
    paymentValidationMessage: '<?php echo $this->__('Please specify payment method.'); ?>',
    paymentMethodWrapperSelector: '#onestepcheckout-payment-method .sp-methods',
    //place order functionality
    placeOrderUrl: '<?php echo $this->getPlaceOrderUrl(); ?>',
    successUrl: '<?php echo $this->getUrl('checkout/onepage/success'); ?>',
    placeOrderButtonSelector: 'onestepcheckout-place-order-button',
    pleaseWaitNoticeSelector: '.onestepcheckout-place-order-please-wait',
    overlayId: 'onestepcheckout-place-order-overlay',
    disabledClassName: 'onestepcheckout-place-order-button-disabled',
    <?php if(Mage::getStoreConfigFlag('fingerprint/fingerprint_config/enable')): ?>
        fingerprint: fingerprint,
    <?php endif;?>
    popup: {
      overlaySelector: "#onestepcheckout-overlay",
      containerSelector: "#onestepcheckout-popup",
      contentContainerSelector: "#onestepcheckout-popup-content",
      acceptContainerSelector: "#onestepcheckout-popup-accept",
      buttons: {
        accept:{
          selector: "#onestepcheckout-popup-accept button",
          enabled: false
        },
        close:{
          selector: "#onestepcheckout-popup-accept a",
          enabled: false
        }
      }
    }
  });
})
</script>
</div>
</div>

<div class="continue-buy last">
  <span class="link-continue-buy">
    <a href="<?php echo Mage::getBaseUrl(); ?>">
      <?php echo $this->__('Continue Shopping'); ?>
    </a>
  </span>
</div>
<div class="onestepcheckout-place-order-please-wait">
  <svg width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-money">
    <defs>
      <clipPath id="lds-money-cpid-880079393f298">
        <rect x="0" y="0" width="100" height="82.235"></rect>
      </clipPath>
    </defs>
    <path stroke-width="1"  d="M85.529,75.177H14.471c-2.469,0-4.471,2.002-4.471,4.471h80C90,77.179,87.998,75.177,85.529,75.177z" stroke="#c6c6c6" fill="#c6c6c6"></path>
    <g ng-attr-clip-path="url(#{{config.cpid}})" clip-path="url(#lds-money-cpid-880079393f298)">
      <g transform="translate(0 110)">
        <animateTransform attributeName="transform" type="translate" calcMode="linear" values="0 0 ;0 150" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        <g transform="translate(0,-75)">
          <path  d="M50,25c-13.785,0-25,11.215-25,25s11.215,25,25,25s25-11.216,25-25S63.784,25,50,25z M50,70.845 c-11.494,0-20.844-9.351-20.844-20.845S38.506,29.155,50,29.155S70.845,38.506,70.845,50S61.493,70.845,50,70.845z" fill="#f9d597"></path>
          <path  d="M50,29.155c-11.494,0-20.844,9.351-20.844,20.844S38.506,70.845,50,70.845S70.845,61.493,70.845,50S61.493,29.155,50,29.155 z" fill="#fffadf"></path>
          <path  d="M48.11,62.796v-1.64c-1.535-0.068-3.041-0.358-4.281-0.765c-1.029-0.337-1.611-1.421-1.342-2.469 l0.043-0.167c0.297-1.158,1.521-1.781,2.653-1.395c1.152,0.392,2.465,0.662,3.855,0.662c2.032,0,3.421-0.783,3.421-2.21 c0-1.354-1.14-2.21-3.778-3.101c-3.814-1.283-6.416-3.066-6.416-6.523c0-3.137,2.211-5.596,6.025-6.345v-1.639 c0-0.965,0.782-1.746,1.746-1.746h0c0.965,0,1.746,0.782,1.746,1.746v1.39c1.275,0.057,2.327,0.226,3.21,0.459 c1.107,0.291,1.782,1.404,1.498,2.513v0c-0.287,1.118-1.44,1.803-2.546,1.473c-0.843-0.251-1.887-0.453-3.16-0.453 c-2.317,0-3.066,0.998-3.066,1.997c0,1.176,1.247,1.924,4.277,3.065c4.241,1.498,5.953,3.458,5.953,6.666 c0,3.173-2.246,5.882-6.345,6.594v1.89c0,0.965-0.782,1.746-1.746,1.746h-0.001C48.892,64.543,48.11,63.761,48.11,62.796z" fill="#ffdd60"></path>
        </g>
      </g>
    </g>
    <path stroke-width="1"  d="M14.471,84.823h71.058c2.469,0,4.471-2.002,4.471-4.471v-0.704H10v0.704C10,82.821,12.002,84.823,14.471,84.823z" stroke="#c6c6c6" fill="#c6c6c6"></path>
  </svg>
  <div class="msg-wait">
      <?php echo $this->__("Aguarde")?></br> <?php echo $this->__("O pagamento está sendo processado") ?>
  </div>
  <div class="msg-wait-2">
      <?php echo $this->__("Ambiente Seguro") ?>
    <br/>
    ...
  </div>
</div>
</div>



<script type="text/javascript">

// jQuery(document).ready(function(){
//     jQuery("#onestepcheckout-place-order-button").click(function(){
//         jQuery("#account-tipo-pessoa").val(jQuery("[name='billing[radio_tipopessoa]']").val());
//     });
// })
OnestepcheckoutCore.updateNumbers();
OnestepcheckoutCore.updater.setConfig({
  loaderConfig: {
    '48px': 'onestepcheckout-overlay onestepcheckout-overlay-48',
    '24px': 'onestepcheckout-overlay onestepcheckout-overlay-24',
    '16px': 'onestepcheckout-overlay onestepcheckout-overlay-16'
  },
  map: <?php echo Zend_Json::encode($this->getBlockMap()); ?>,
  blocks: [
    ['shipping_method', '#onestepcheckout-shipping-method-wrapper'],
    ['payment_method', '#onestepcheckout-payment-method-wrapper'],
    ['review_cart', '#onestepcheckout-order-review-cart-wrapper'],
    ['review_coupon', '#onestepcheckout-order-review-coupon-wrapper'],
    ['review_points', '#onestepcheckout-order-review-points-wrapper'],
    ['review_referafriend', '#onestepcheckout-order-review-referafriend-wrapper']
  ],
  loaderToBlockCssClass: 'onestepcheckout-add-loader-into-this-block'
});

jQuery(document).ready(function () {
  //Initialize tooltips
  jQuery('.nav-tabs > li a[title]').tooltip();

  //Wizard
  jQuery('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

    var $target = jQuery(e.target);

    if ($target.parent().hasClass('disabled')) {
      return false;
    }
  });

  jQuery(".next-step").click(function (e) {

    var $active = jQuery('.wizard .nav-tabs li.active');
    $active.next().removeClass('disabled');
    nextTab($active);

  });

  jQuery(".prev-step").click(function (e) {
    var $active = jQuery('.wizard .nav-tabs li.active');
    prevTab($active);
  });

  jQuery(".tab-pane-content").click(function (e) {

    var pId = jQuery(this).parent().prop("id");

    jQuery(this).parent().siblings('div').removeClass('active');
    jQuery(this).parent().addClass('active');
    //jQuery('.wizard .nav-tabs li').addClass('active');

    jQuery('.wizard .nav-tabs li').removeClass('active');

    if (pId == "step1"){
      jQuery("#li_step1").addClass('active');
    }else if (pId == "step2"){
      jQuery("#li_step2").addClass('active');
    }else if (pId == "step3"){
      jQuery("#li_step3").addClass('active');
    }

  });

});

function nextTab(elem) {
  jQuery(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
  jQuery(elem).prev().find('a[data-toggle="tab"]').click();
}

// custom event for validation error
jQuery('#step2').on('validationError', function() {
    setTimeout(function() {
        jQuery('#step1, #step3').removeClass('active');
        jQuery('#step2').addClass('active');

        // scroll for mobile
        jQuery('html, body').animate({
            scrollTop: jQuery("#step2").offset().top
        }, 250);
    }, 500);

});

</script>
