<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* Home Page
*/
?>
<div class="home-primary-banner home-1">
  <?php // Banner ?>
  <?php echo $this->getBlock(1); ?>
</div>

<div class="home-pitbar home-2 hidden-xs">
  <div class="container">
    <?php // Pitbar  ?>
    <?php echo $this->getBlock(2); ?>
  </div>
</div>

<?php // Banner 3 Coluanas ?>
<div class="home-banners home-3 hidden-xs">
  <div class="container">
    <div class="three-columns">
      <div class="row">
        <div class="col-sm-4 col-1">
          <?php // home_banner_3colunas_1 ?>
          <?php echo $this->getBlock(3); ?>
        </div>
        <div class="col-sm-4 col-2">
          <?php // home_banner_3colunas_2 ?>
          <?php echo $this->getBlock(4); ?>
        </div>
        <div class="col-sm-4 col-3">
          <?php // home_banner_3colunas_3 ?>
          <?php echo $this->getBlock(5); ?>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-product-carousel home-4">
  <div class="container">
    <div class="row">
      <div class="product-list-1">
        <?php // Carousel de produto 1  ?>
        <?php echo $this->getProductListHtml(1); ?>
      </div>
    </div>
  </div>
</div>

<div class="home-banner-4-full home-5 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="one-column">
        <div class="col-1">
          <?php // Banner 4 ?>
          <?php echo $this->getBlock(6); ?>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-product-carousel home-7">
  <div class="container">
    <div class="row">
      <div class="product-list-2">
        <?php // Carousel de produto 2  ?>
        <?php echo $this->getProductListHtml(2); ?>
      </div>
    </div>
  </div>
</div>

<div class="home-banner-4-full home-8 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="one-column">
        <div class="col-1">
          <?php // Banner 4 ?>
          <?php echo $this->getBlock(7); ?>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-product-carousel home-9">
  <div class="container">
    <div class="row">
      <div class="product-list-3">
        <?php // Carousel de produto 2  ?>
        <?php echo $this->getProductListHtml(3); ?>
      </div>
    </div>
  </div>
</div>

<div class="home-banner-5-6 home-10">
  <div class="container">
    <div class="two-column">
      <div class="row">
        <div class="row">
          <div class="col-sm-6 col-1 hidden-xs">
            <?php // Banner 5 ?>
            <?php echo $this->getBlock(8); ?>
          </div>
          <div class="col-sm-6 col-2">
            <?php // Banner 6 ?>
            <?php echo $this->getBlock(9); ?>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-instagram home-11 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="one-column">
        <div class="col-1">
          <?php // Instagram ?>
          <?php echo $this->getBlock(10); ?>
        </div>
      </div>
    </div>
  </div>
</div>
