<div class="jn2-sign">
  <a href="https://www.jn2.com.br" target="_blank">
    <img src="<?php echo $this->getSkinUrl('images/img_jn2-sign.png') ?>" alt="JN2 Plataforma de E-commerce" />
  </a>
</div>
