<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="page-title">
  <div class="row">
    <div class="col-xs-7">
      <h1><span class="jicon cart"></span> Meu carrinho</h1>
    </div>
    <div class="col-xs-5 price">
      <?php echo $this->getChildHtml('header_totals')?>
    </div>
  </div>
</div>

<div class="row">
  <div class="row">
    <ul class="steps-cart">
      <li class="active"><i class="jicon check-circle-close"></i><br>carrinho</li>
      <li><i class="jicon check-circle-open"></i><br>pagamento</li>
      <li><i class="jicon check-circle-open"></i><br>sucesso</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="cart" ng-controller="cartController">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('form_before') ?>

    <form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" id="update-cart">
      <?php if($this->getContinueShoppingUrl()): ?>
        <div style="display: none">
          <button type="button" title="<?php echo $this->__('Continue Shopping') ?>" class="button btn-continue" onclick="setLocation('<?php echo $this->getContinueShoppingUrl() ?>')"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
          <button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Shopping Cart'); ?>" id="btn-update-cart" class="button btn-update"><span><span><?php echo $this->__('Update Shopping Cart'); ?></span></span></button>
          <button type="submit" name="update_cart_action" value="empty_cart" title="<?php echo $this->__('Clear Shopping Cart'); ?>" class="button btn-empty" id="empty_cart_button"><span><span><?php echo $this->__('Clear Shopping Cart'); ?></span></span></button>
        </div>
      <?php endif; ?>

      <div class="frame-card">
        <?php foreach($this->getItems() as $_item): ?>
          <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach ?>
      </div>

    </form>

    <div class="frame-card">
      <div class="title">Frete</div>
      <div class="body">
        <?php if (!$this->getIsVirtual()) echo $this->getChildHtml('shipping'); ?>
      </div>
    </div>

    <div class="frame-card">
      <div class="title">Cupom de Desconto</div>
      <div class="body">
        <?php echo $this->getChildHtml('coupon') ?>
      </div>
    </div>

    <?php echo $this->getChildHtml('crosssell') ?>
  </div>
</div>

<?php if(!$this->hasError()): ?>
  <ul class="checkout-types">
    <?php foreach ($this->getMethods('methods') as $method): ?>
      <?php if ($methodHtml= $this->getMethodHtml($method)): ?>
        <li>
          <?php echo $methodHtml; ?>
        </li>
      <?php endif; ?>
    <?php endforeach; ?>
  </ul>
<?php endif; ?>
