<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="page-title category-title">
  <h2><i class="jicon close"></i><span class="title">Falha!</span></h2>
</div>
<div class="container">
  <p>Ops! Aconteceu algum problema durante o fechamento do seu pedido.</p>
  <p>Tente refazer o seu pedido ou </p>
  <?php if ($this->getRealOrderId()) : ?>
    <p><?php echo $this->__('Order #') . $this->getRealOrderId() ?></p>
  <?php endif ?>
  <?php if ($error = $this->getErrorMessage()) : ?>
    <p><?php echo $error ?></p>
  <?php endif ?>
  <p>Caso percista entre em contato conosco:</p>
  <p></p>
</div>
<div class="buttons-set">
  <hr>
  <button type="button" class="button" onclick="window.location='<?php echo $this->getUrl() ?>'"><i class="jicon cart"></i> Continue comprando</button>
</div>
