<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>


<div class="page-title category-title">
  <h2><i class="jicon check"></i><span class="title">Sucesso!</span></h2>
</div>
<div class="container">
  <?php echo $this->getMessagesBlock()->toHtml() ?>
  <?php if ($this->getOrderId()):?>
    <?php if ($this->getCanViewOrder()) :?>
      <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
    <?php  else :?>
      <p><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($this->getOrderId())) ?></p>
    <?php endif;?>
    <p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
    <?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) :?>
      <p>
        <?php echo $this->__('Clique <a href="%s" onclick="this.target=\'_blank\'">aqui para imprimir</a> uma cópia da confirmação de seu pedido.', $this->getPrintUrl()) ?>
        <?php echo $this->getChildHtml() ?>
      </p>
    <?php endif;?>
  <?php endif;?>

  <?php if ($this->getAgreementRefId()): ?>
    <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
  <?php endif;?>

  <?php if ($profiles = $this->getRecurringProfiles()):?>
    <p><?php echo $this->__('Your recurring payment profiles:'); ?></p>
    <ul class="disc">
      <?php foreach($profiles as $profile):?>
        <?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
        <li><?php echo $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
      <?php endforeach;?>
    </ul>
  <?php endif;?>
</div>

<div class="buttons-set">
  <hr>
  <button type="button" class="button" onclick="window.location='<?php echo $this->getUrl() ?>'"><i class="jicon cart"></i> Continue comprando</button>
</div>
