<?php
/*
* Name Extension: Cmsmart megamenu
* Author: The Cmsmart Development Team 
* Date Created: 06/09/2013
* Websites: http://cmsmart.net
* Technical Support: Forum - http://cmsmart.net/support
* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
*/
?>
<?php
/**
 * Top menu for store
 *
 * @see Mage_Catalog_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * bool Add opener if menu is used as accordion
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
?>
<?php $_menu = $this->renderCategoriesMenuHtml(FALSE, 0,'level-top'); ?>

<?php
	$theme = $this->helper('megamenu');
	
?>
<div class="nav-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
	            <!-- <div class="nav" style="width: <?php // echo $theme->getCfg('mainmenu/width_menu').'px' ?>;"> -->
                <div class="nav">
                    <ul id="nav" class="grid-full"> 
                            <?php //Display "Home" link, if enabled ?>
                            <?php if ($theme->getCfg('mainmenu/home')): ?>
                                <li id="nav-home-link" class="level <?php if (Mage::helper('core/url')->getCurrentUrl() === Mage::helper('core/url')->getHomeUrl()):?> active<?php endif;?>">
                                    <?php if ($theme->getCfg('mainmenu/home_img')): ?>
                                    <a class="home-img " href="<?php echo $this->getBaseUrl(); ?>"><?php echo $this->__('Home'); ?></a>
                                    <?php else: ?>
                                    <a href="<?php echo $this->getBaseUrl(); ?>"><span><?php echo $this->__('Home'); ?></span></a>
                                    <?php endif; ?>
                                </li>
                            <?php endif; ?>
                    
                            <?php echo $_menu;?>
                            <?php if ($tmpHtml = $this->getChildHtml('block_header_nav_dropdown')): ?>
                                <li class="nav-custom-link level0 level-top parent<?php if ($theme->getCfg('mainmenu/custom_block_floating')) echo ' f-right'; ?>">
                                    <?php // Get the block title, and display it as tab title
                                        $blockTitle = Mage::getModel('cms/block')
                                            ->setStoreId(Mage::app()->getStore()->getId())
                                            ->load('block_header_nav_dropdown')
                                            ->getTitle();
                                    ?>
                                    <a class="level-top" href="<?php echo Mage::getBaseUrl();?>news"><span><?php echo $blockTitle; ?></span></a>
                                    <ul class="level0">
                                        <?php echo $tmpHtml; ?>
                                    </ul>
                                </li>
                            <?php endif; ?>
                            
                            <li><?php echo $this->getChildHtml('block_header_nav_share'); ?></li>
                     </ul>
                </div>
            </div>
        </div>
	</div>
</div> <!-- end: nav-container -->
