<div class="top-links">
  <div class="container-fluid">
    <div class="col-sm-8">
      <?php echo $this->getChildHtml('topLinks') ?>
    </div>
    <div class="col-sm-4">
      <?php echo $this->getChildHtml('currency_2') ?>
      <?php echo $this->getChildHtml('store_language_2') ?>
      <?php echo $this->getChildHtml('topSearch') ?>
    </div>
  </div>
</div>
<header>
  <div class="container-fluid">
    <div class="col-sm-3">
      <?php if ($this->getIsHomePage()):?>
        <h1 class="logo">
          <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        </h1>
      <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
      <?php endif?>
    </div>
    <div class="col-sm-9">
      <?php echo $this->getChildHtml('cart_header'); ?>
      <?php echo $this->getChildHtml('topMenu') ?>
    </div>
  </div>
</header>

<?php //echo $this->getChildHtml('topContainer'); ?>

<div class="container-fluid content-banners">
    <div class="col-md-9">    
        <?php echo $this->getChildHtml('ibanners.top.left') ?>
    </div>
    <div class="col-md-3">    
         <?php echo $this->getChildHtml('ibanners.mini.top') ?>
    </div>
</div>
