<?php
/**
* JN2
* @package: Assinatura
* @author: Guilherme Pais <guilhermepais2013@gmail.com>
* Home Page
*/
?>
<div class="home-primary-banner home-1">
  <?php // Banner ?>
  <?php echo $this->getBlock(1); ?>
</div>

<?php // About 2 Colunas ?>
<div class="home-about home-3">
  <div class="container-fluid">
    <div class="two-column">
      <div class="row">
        <div class="row">
          <div class="col-sm-6 col-1 hidden-xs hidden-sm">
            <?php // Banner 5 ?>
            <?php echo $this->getBlock(3); ?>
          </div>
          <div class="col-sm-6 col-2">
            <?php // Banner 6 ?>
            <?php echo $this->getBlock(4); ?>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-primary-banner home-4">
    <?php // Marcas  ?>
    <?php echo $this->getBlock(5); ?>
</div>

<div class="home-2">
    <div class="container">
        <?php // Features  ?>
        <div class="one-column">
            <div class="row">
                <div class="col-sm-12 col-1">
                    <?php // home_banner_3colunas_1 ?>
                    <?php echo $this->getBlock(2); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<?php // Products 2 Colunas ?>
<div class="home-about home-5" id="cursos">
    <div class="container">
        <div class="tree-columns">
            <div class="row">
                    <div class="col-sm-4 col-1">
                        <?php echo $this->getBlock(6); ?>
                    </div>
                    <div class="col-sm-4 col-2">
                        <?php echo $this->getBlock(7); ?>
                    </div>
                    <div class="col-sm-4 col-3">
                        <?php echo $this->getBlock(8); ?>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="home-8 hidden-xs hidden-sm">
    <div class="container">
        <?php // Features  ?>
        <div class="one-column">
            <div class="row">
                <div class="col-sm-12 col-1">
                    <?php // home_banner_3colunas_1 ?>
                    <?php echo $this->getBlock(9); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<?php // Vantagens Colunas ?>
<div class="home-about home-9 hidden-xs hidden-sm">
    <div class="container-fluid">
        <div class="two-column">
            <div class="row">
                <div class="row">
                    <div class="col-sm-6 col-1">
                        <?php // Banner 5 ?>
                        <?php echo $this->getBlock(10); ?>
                    </div>
                    <div class="col-sm-6 col-2">
                        <?php // Banner 6 ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>