menu{
  //background-color: #fff!important;
}
.cms-index-index{
  .mega-menu-jn2-vert{
    display: block;
      z-index: 10;
  }
}
.all-categories-menu{
  background-color: #000;
  padding: 1em 0.5em;
  text-align: left;
  .title{
    padding: 0 0 0 1em;
    font-size: 16px;
  }
  &:hover ~ .mega-menu-jn2-vert{
      display: block;
      
  }
}

.mega-menu-jn2-vert{
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  text-align: left;
  position: absolute;
  width: 285px;
  min-height: 365px;
  padding: 0;
  padding-top: 1em;

  .content-mega-menu{
    ul{
      li{
        border-bottom: 1px solid #ddd;

        a{
          display: block;
          padding: 1em;
          &:hover ~ .inner-content {
              display: block;
          }
        }
        &:last-child {
            border: 0;
        }
      }
    }

    .inner-content {
        display: none;
        position: absolute;
        width: 230px;
        background-color: #f5f5f5;
        z-index: 9999;
        border-left: 6px solid #ccc;
        padding: 20px;
        top: 1em;
        left: 283px;
        min-height: 80px;
        &:hover {
            display: block!important;
        }
        .img-display {
            position: relative;
            text-align: right;
            img {
                margin: 0 -30px -30px 0;
            }
        }
        ul {
            //position: absolute;
            //top: 20px;
            //left: 40px;
            li {
                float: none;
                margin-bottom: 0.5em;
                font-size: 14px;
                padding: 0;

                a {
                    color: #333;
                    text-transform: capitalize;
                    padding: 0 0 .5em 1em;
                    i {
                        font-size: 5px;
                        color: #aaa;
                        vertical-align: 3px;
                    }
                    &:hover{
                        color: #000;
                    }
                }
                &:after{
                    display: none;
                }
                &:hover{
                    background-color: transparent;
                }
            }
            &:hover {
                //display: block!important;
            }
        }
    }

  }
  &:hover{
    display: block;
  }
}
