<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<?php
$_helper   = $this->helper('catalog/output');
$toolbar   = Mage::app()->getLayout()->getBlock('product_list_toolbar');

if(Mage::helper('core')->isModuleEnabled('Amasty_Shopby')) {
    $top_toolbar = Mage::app()->getLayout()->getBlock('top_toolbar')->setCollection($this->getListBlock()->getLoadedProductCollection())->toHtml();
    $bottom_toolbar = Mage::app()->getLayout()->getBlock('bottom_toolbar')->setCollection($this->getListBlock()->getLoadedProductCollection())->toHtml();
    $pager = Mage::app()->getLayout()->getBlock('product_list_toolbar_pager');
    $pager->setCollection($this->getListBlock()->getLoadedProductCollection());
    $pagerHtml = $pager->toHtml();
}

?>
<?php if($this->getResultCount()): ?>
  <?php echo $this->getMessagesBlock()->toHtml() ?>

  <div class="page-title category-title">
    <h1><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>
    <div class="legend">
        <?php
        if(!Mage::helper('core')->isModuleEnabled('Amasty_Shopby')) {
            $_productCollection = $this->getLayout()->getBlockSingleton('catalog/product_list')->getLoadedProductCollection();
            echo $this->__('%s Item(s)', $_productCollection->count() );
        }
        ?>
    </div>
  </div>

  <div class="mobile-filter visible-xs visible-sm">
    <div class="col-xs-6">
      <button type="button" id="btn-filter" class="btn-filtrar">FILTRAR</button>
    </div>
    <div class="col-xs-6">
      <select onchange="setLocation(this.value)" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sort By')) ?>" class="sorter-selection">
        <?php foreach($toolbar->getAvailableOrders() as $_key=>$_order): ?>
          <option value="<?php echo $toolbar->getOrderUrl($_key, 'asc') ?>"<?php if($toolbar->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
            <?php echo $this->__($_order) ?>
          </option>
        <?php endforeach; ?>
      </select>
    </div>
  </div>


  <?php if ($messages = $this->getNoteMessages()):?>
    <p class="note-msg">
      <?php foreach ($messages as $message):?>
        <?php echo $message?><br />
      <?php endforeach;?>
    </p>
  <?php endif; ?>
  <?php echo $this->getProductListHtml() ?>


<?php else: ?>

  <div class="page-title category-title">
    <h1><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>
    <div class="legend">
        <?php
        if(!Mage::helper('core')->isModuleEnabled('Amasty_Shopby')) {
            $_productCollection = $this->getLayout()->getBlockSingleton('catalog/product_list')->getLoadedProductCollection();
            echo $this->__('%s Item(s)', $_productCollection->count() );
        }
        ?>
    </div>
  </div>
  <p class="note-msg">
    <?php echo ($this->getNoResultText()) ? $this->getNoResultText() : $this->__('Your search returns no results.') ?>
    <?php echo $this->getAdditionalHtml() ?>
    <?php if ($messages = $this->getNoteMessages()):?>
      <?php foreach ($messages as $message):?>
        <br /><?php echo $message?>
      <?php endforeach;?>
    <?php endif; ?>
  </p>
<?php endif; ?>

<?php if(Mage::helper('core')->isModuleEnabled('Amasty_Shopby')):?>
<script>
    jQuery(document).ready(function() {

        if(typeof amshopby_ajax_init != "undefined") {
            let fixProductList = function () {
                let top_toolbar = '<?php echo str_replace("\n","", $top_toolbar)?>';
                let bottom_toolbar  = '<?php echo str_replace("\n","", $bottom_toolbar)?>';
                let pager = '<?php echo str_replace("\n","", $pagerHtml)?>';
                jQuery('.toolbar.top').replaceWith(top_toolbar);
                jQuery('.toolbar.bottom').replaceWith(bottom_toolbar);
                jQuery('.pager').replaceWith(pager);
                amshopby_ajax_init();

                setTimeout(function() {
                    let productListHeight = 0;

                    jQuery('.products-grid .item').each(function() {
                        let newHeight = jQuery(this).outerHeight(true);
                        if(newHeight > productListHeight) productListHeight = newHeight;
                    });
                    ;
                    jQuery('.products-grid .item').height(productListHeight + 4);
                }, 800);

                jQuery('.bottom-seo-category').not(':last').remove();
            };

            fixProductList();
        }
    });
</script>
<?php endif?>