<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
  <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="ps-static '.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>
<div class="wrapper <?php echo $this->getLang().'-lang-class';?>">

  <?php if (Mage::app()->getRequest()->getParam('referer')): ?>
    <?php echo $this->getLayout()->getBlock("header")->setTemplate("jn2/page/html/header-register.phtml")->toHtml();?>
  <?php else: ?>
    <?php echo $this->getChildHtml('header') ?>
  <?php endif; ?>


  <div class="page">
    <?php echo $this->getChildHtml('category_banner'); ?>
    <div class="main-container col1-layout">
      <div class="container<?php if(Mage::getStoreConfig('custom_theme/general/fluid')==true) echo "-fluid";?>">
        <div class="main">
          <?php echo $this->getChildHtml('breadcrumbs') ?>
          <?php echo $this->getChildHtml('toolbar-top'); ?>
          <?php echo $this->getChildHtml('global_messages') ?>
          <?php echo $this->getChildHtml('content') ?>
          <?php echo $this->getChildHtml('toolbar-bottom'); ?>
        </div>
      </div>
    </div>
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('global_cookie_notice') ?>
  </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('before_body_end') ?>
</body>
</html>
