<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
  <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="ps-static '.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>
<div class="wrapper <?php echo $this->getLang().'-lang-class';?>">
  <?php echo $this->getChildHtml('header') ?>
  <div class="page">
    <?php echo $this->getChildHtml('category_banner'); ?>
    <div class="main-container col3-layout">
      <div class="container<?php if(Mage::getStoreConfig('custom_theme/general/fluid')==true) echo "-fluid";?>">
        <div class="main">
          <?php echo $this->getChildHtml('breadcrumbs') ?>
          <div class="col-wrapper col-xs-12 col-sm-9">
            <div class="col-main col-xs-12 col-sm-8">
              <div class="padding-s">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('content') ?>
              </div>
              <div class="col-left sidebar col-xs-12 col-sm-4"><?php echo $this->getChildHtml('left') ?></div>
            </div>
          </div>
          <div class="col-right sidebar col-xs-12 col-sm-3"><?php echo $this->getChildHtml('right') ?></div>
        </div>
      </div>
    </div>
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('global_cookie_notice') ?>
  </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
<?php echo $this->getChildHtml('before_body_end') ?>
</body>
</html>
