/* Shopping Cart ========================================================================= */
/* line 4, ../../../sass/jn2/carrinho-osc.scss */
.cart .data-table th,
.cart .data-table td {
  border-color: #eaeaea;
  line-height: normal;
  background: #fff;
  font-weight: normal;
}

/* line 8, ../../../sass/jn2/carrinho-osc.scss */
.cart .data-table .nobr {
  display: block;
  text-align: center;
}

/* line 9, ../../../sass/jn2/carrinho-osc.scss */
.cart .data-table thead {
  font-weight: normal;
  font-size: 13px;
  color: #252525;
}

/* line 10, ../../../sass/jn2/carrinho-osc.scss */
.cart .data-table .price {
  font-weight: bold;
}

/* line 11, ../../../sass/jn2/carrinho-osc.scss */
.cart .data-table tfoot .btn-continue {
  float: left;
}

/* line 12, ../../../sass/jn2/carrinho-osc.scss */
.cart .data-table tfoot .btn-empty {
  display: none;
}

/* line 13, ../../../sass/jn2/carrinho-osc.scss */
.checkout-cart-index .data-table .product-name a {
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
}

/* Checkout Types */
/* line 16, ../../../sass/jn2/carrinho-osc.scss */
.cart .checkout-types {
  float: right;
  text-align: right;
}

/* line 17, ../../../sass/jn2/carrinho-osc.scss */
.cart .title-buttons .checkout-types li {
  float: left;
  margin: 0 0 5px 5px;
}

/* line 18, ../../../sass/jn2/carrinho-osc.scss */
.cart .checkout-types .paypal-or {
  margin: 0 8px;
  line-height: 2.3;
}

/* line 19, ../../../sass/jn2/carrinho-osc.scss */
.cart .totals .checkout-types .paypal-or {
  clear: both;
  display: block;
  padding: 3px 55px 8px 0;
  line-height: 1.0;
  font-size: 11px;
}

/* line 21, ../../../sass/jn2/carrinho-osc.scss */
.cart .page-title.title-buttons .checkout-types {
  padding-top: 36px;
}

/*
.btn-checkout {
    @extend .btn-cart;
    >span{
        font-size:16px !important;
        padding:2px 7px !important;
        >span{
            background: image-url('ico_cart-btn-cart.png') left center no-repeat !important; 
            padding-left:25px !important;
        }
    }
}
*/
/* Shopping Cart Table */
/* line 39, ../../../sass/jn2/carrinho-osc.scss */
.cart-table .item-msg {
  font-size: 10px;
}

/* Shopping Cart Collateral boxes */
/* line 42, ../../../sass/jn2/carrinho-osc.scss */
.cart .cart-collaterals {
  padding: 27px 0 25px;
}

/* line 43, ../../../sass/jn2/carrinho-osc.scss */
.cart .cart-collaterals .col2-set {
  float: left;
  width: 65%;
}

/* line 46, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell {
  padding: 13px 7px;
  border: 1px solid #e6e6e6;
}

/* line 47, ../../../sass/jn2/carrinho-osc.scss */
.cart .cart-collaterals .col-1 {
  width: 45%;
  float: left;
}

/* line 48, ../../../sass/jn2/carrinho-osc.scss */
.cart .cart-collaterals .col-2 {
  width: 40%;
  float: right;
}

/* line 49, ../../../sass/jn2/carrinho-osc.scss */
.cart .cart-collaterals .col-2 button.button > span {
  height: 22px;
  line-height: 22px;
}

/* line 51, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell .product-image {
  float: left;
  width: 75px;
  height: 75px;
}

/* line 52, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell .product-details {
  margin-left: 90px;
}

/* line 53, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell li.item {
  border-bottom: 1px solid #eaeaea;
  padding: 14px 0 26px 0;
  margin: 0 14px 10px;
}

/* line 54, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell li.last {
  border: none;
}

/* line 55, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell .product-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal !important;
  text-transform: none;
}

/* line 56, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell .price {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* line 57, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell .price-box {
  margin-bottom: 5px;
}

/* line 58, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell .price-box .price {
  font-size: 12px !important;
  line-height: normal;
}

/* line 59, ../../../sass/jn2/carrinho-osc.scss */
.cart .crosssell .add-to-links {
  padding-top: 10px;
}

/* line 60, ../../../sass/jn2/carrinho-osc.scss */
#shopping-cart-table .product-image {
  display: inline-block;
}

/* Discount Codes & Estimate Shipping and Tax Boxes */
/* line 64, ../../../sass/jn2/carrinho-osc.scss */
.cart .discount {
  margin-top: 20px;
}

/* line 66, ../../../sass/jn2/carrinho-osc.scss */
.cart .discount,
.cart .shipping {
  border: 1px solid #e6e6e6;
  padding: 13px 10px 10px 14px;
  overflow: hidden;
}

/* line 67, ../../../sass/jn2/carrinho-osc.scss */
.cart .discount .discount-form button.button {
  margin-bottom: 5px;
  clear: right;
}

/* line 68, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping {
  padding-top: 14px;
}

/* line 69, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping .buttons-set {
  padding-left: 0px;
  padding-top: 5px;
}

/* line 70, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping .buttons-set button.button {
  margin-bottom: 5px;
  clear: right;
}

/* line 72, ../../../sass/jn2/carrinho-osc.scss */
.cart .discount-form label {
  margin-bottom: 3px;
  display: block;
}

/* line 74, ../../../sass/jn2/carrinho-osc.scss */
.cart input,
.cart select {
  border-color: #d9d9d9;
  color: #6a6969;
  font-size: 11px;
}

/* line 75, ../../../sass/jn2/carrinho-osc.scss */
.cart select {
  padding: 3px;
}

/* line 77, ../../../sass/jn2/carrinho-osc.scss */
.cart .discount-form .input-box input {
  width: 153px;
  padding: 3px;
}

/* line 78, ../../../sass/jn2/carrinho-osc.scss */
.cart .discount-form .buttons-set {
  margin: 0px 0 0 0;
  padding: 5px 0 0 0;
  clear: right;
  overflow: hidden;
}

/* line 79, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping p {
  margin-bottom: 12px;
}

/* line 80, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping label {
  display: block;
  font-size: 12px;
  line-height: normal;
  color: #303030;
  margin-bottom: 3px;
  font-weight: normal;
}

/* line 81, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping .form-list li {
  margin-bottom: 0px;
}

/* line 82, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping .form-list li input {
  width: auto;
  padding: 4px;
}

/* line 83, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping .form-list li select {
  width: auto;
}

/* line 84, ../../../sass/jn2/carrinho-osc.scss */
.cart .shipping .form-list li .input-box {
  margin-bottom: 0px;
}

/* Shopping Cart Totals */
/* line 86, ../../../sass/jn2/carrinho-osc.scss */
.cart .totals {
  float: right;
  width: 30%;
  padding: 15px 2%;
}

/* line 87, ../../../sass/jn2/carrinho-osc.scss */
.cart .totals table {
  width: 100%;
  font-size: 12px;
  color: #7f7f7f;
  margin-bottom: 15px;
}

/* line 89, ../../../sass/jn2/carrinho-osc.scss */
.cart .totals table th,
.cart .totals table td {
  padding: 5px;
  font-size: 13px;
  color: #999;
  font-weight: normal;
}

/* line 91, ../../../sass/jn2/carrinho-osc.scss */
.cart .totals table strong {
  font-weight: normal;
}

/* line 94, ../../../sass/jn2/carrinho-osc.scss */
.cart .totals .price {
  font-size: 12px;
  line-height: normal;
  color: #ff0;
  min-width: 70px;
  display: inline-block;
  padding: 0 0px 0 15px;
}

/* line 95, ../../../sass/jn2/carrinho-osc.scss */
.cart .totals tfoot .price {
  font-size: 20px;
  font-weight: bold;
}

/* line 97, ../../../sass/jn2/carrinho-osc.scss */
.checkout-types li {
  padding-bottom: 15px;
}

/* line 98, ../../../sass/jn2/carrinho-osc.scss */
.checkout-types li a {
  color: #b4b4b4;
}

/* line 102, ../../../sass/jn2/carrinho-osc.scss */
.cart button.btn-checkout > span {
  font-size: 22px;
  padding: 0 5px;
  line-height: 49px;
  height: 49px;
}

/* line 110, ../../../sass/jn2/carrinho-osc.scss */
.cart .btn-edit,
.cart .btn-remove2 {
  display: inline;
  color: #999;
  width: auto;
  height: 28px;
  background: none;
  padding: 0 5px;
  font-size: 10px;
  margin: 0;
}

/* line 113, ../../../sass/jn2/carrinho-osc.scss */
.cart .btn-edit:hover,
.cart .btn-remove2:hover {
  color: #333;
}

/* Options Tool Tip */
/* line 117, ../../../sass/jn2/carrinho-osc.scss */
.item-options dt {
  font-weight: bold;
  font-style: italic;
}

/* line 118, ../../../sass/jn2/carrinho-osc.scss */
.item-options dd {
  padding-left: 10px;
}

/* line 119, ../../../sass/jn2/carrinho-osc.scss */
.truncated {
  cursor: help;
  width: 45px;
}

/* line 120, ../../../sass/jn2/carrinho-osc.scss */
.truncated a.dots {
  cursor: help;
}

/* line 121, ../../../sass/jn2/carrinho-osc.scss */
.truncated a.details {
  cursor: help;
}

/* line 122, ../../../sass/jn2/carrinho-osc.scss */
.truncated .truncated_full_value {
  position: relative;
  z-index: 999;
  top: 9px;
}

/* line 123, ../../../sass/jn2/carrinho-osc.scss */
.truncated .truncated_full_value .item-options {
  position: absolute;
  top: -99999em;
  left: -99999em;
  z-index: 999;
  width: 250px;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
}

/* line 124, ../../../sass/jn2/carrinho-osc.scss */
.truncated .truncated_full_value .item-options > p {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 125, ../../../sass/jn2/carrinho-osc.scss */
.truncated .show .item-options {
  top: -20px;
  left: 50%;
}

/* line 126, ../../../sass/jn2/carrinho-osc.scss */
.col-left .truncated .show .item-options {
  left: 30px;
  top: 7px;
}

/* line 127, ../../../sass/jn2/carrinho-osc.scss */
.col-right .truncated .show .item-options {
  left: -240px;
  top: 7px;
}

/* ======================================================================================= */
@media only screen and (max-width: 767px) {
  /* Tabela carrinho responsivo */
  /* line 135, ../../../sass/jn2/carrinho-osc.scss */
  .data-table thead {
    display: none;
  }

  /* line 136, ../../../sass/jn2/carrinho-osc.scss */
  .data-table tr th, .data-table tr td {
    padding: 3px 0;
    width: 100%;
  }

  /* line 137, ../../../sass/jn2/carrinho-osc.scss */
  .data-table tr td {
    padding: 10px 0;
  }

  /* line 138, ../../../sass/jn2/carrinho-osc.scss */
  table [class*="span"], .row-fluid table [class*="span"] {
    display: inline-block;
  }

  /* line 142, ../../../sass/jn2/carrinho-osc.scss */
  .data-table thead th, .data-table thead td,
  .data-table tr.even th, .data-table tr.odd td,
  .data-table tr.odd th, .data-table tr.even td,
  .data-table tfoot td, .data-table tr.first th, .data-table tr.first td {
    float: none !important;
    width: auto !important;
    text-align: center!important;
    display: block;
  }

  /* line 144, ../../../sass/jn2/carrinho-osc.scss */
  .data-table colgroup {
    display: none;
  }

  /* line 145, ../../../sass/jn2/carrinho-osc.scss */
  .cart-collaterals .totals td {
    display: block;
  }

  /* line 147, ../../../sass/jn2/carrinho-osc.scss */
  .cms-page-view .data-table thead th, .cms-page-view .data-table thead td {
    float: none !important;
    display: block;
    width: auto;
  }

  /* line 148, ../../../sass/jn2/carrinho-osc.scss */
  .cms-page-view .data-table td, .cms-page-view .data-table th {
    display: block;
  }

  /* line 150, ../../../sass/jn2/carrinho-osc.scss */
  .cart .cart-table.data-table .product-image {
    /* width:95%; */
    overflow: hidden;
    display: inline-block;
  }

  /* line 151, ../../../sass/jn2/carrinho-osc.scss */
  .cart .cart-table.data-table .product-image img {
    /*     width:100%; */
  }

  /* line 153, ../../../sass/jn2/carrinho-osc.scss */
  .data-table tr {
    display: block;
    float: none !important;
    text-align: center !important;
  }

  /* line 155, ../../../sass/jn2/carrinho-osc.scss */
  .data-table tbody tr {
    margin-bottom: 25px;
    border: 1px solid #ccc;
  }

  /* line 156, ../../../sass/jn2/carrinho-osc.scss */
  .data-table td {
    border: none;
  }

  /* line 159, ../../../sass/jn2/carrinho-osc.scss */
  .data-table tfoot {
    border-top: none;
  }

  /* line 161, ../../../sass/jn2/carrinho-osc.scss */
  .cart .data-table tfoot .btn-continue {
    float: none!important;
  }

  /* line 163, ../../../sass/jn2/carrinho-osc.scss */
  .cart .totals table th, .cart .totals table td {
    width: 100%;
  }

  /* line 165, ../../../sass/jn2/carrinho-osc.scss */
  .cart .cart-collaterals .col2-set {
    float: none!important;
    width: 100%!important;
  }

  /* line 166, ../../../sass/jn2/carrinho-osc.scss */
  .cart .cart-collaterals .col-1 {
    display: none;
    float: none!important;
  }

  /* line 167, ../../../sass/jn2/carrinho-osc.scss */
  .cart .cart-collaterals .col-2 {
    width: 100%!important;
    float: none!important;
  }

  /* line 168, ../../../sass/jn2/carrinho-osc.scss */
  .cart .totals {
    float: none!important;
    width: 96%!important;
  }

  /* line 170, ../../../sass/jn2/carrinho-osc.scss */
  #shopping-cart-table .product-image {
    width: 30%!important;
  }
}
