/*
Syntax error: File to import not found or unreadable: lib/bootstrap-sass/assets/stylesshets/bootstrap.scss.
              Load paths:
                d:/repositorio/jn2-magento-1.9/skin/frontend/base/default
                c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets
                c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 1 of d:/repositorio/jn2-magento-1.9/skin/frontend/base/default/sass/jn2/jn2-css.scss

1: d:/repositorio/jn2-magento-1.9/skin/frontend/base/default/sass/jn2/jn2-css.scss

Backtrace:
d:/repositorio/jn2-magento-1.9/skin/frontend/base/default/sass/jn2/jn2-css.scss:1
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/import_node.rb:64:in `rescue in import'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/import_node.rb:42:in `import'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/import_node.rb:25:in `imported_file'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/base.rb:37:in `visit'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:18:in `visit'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/base.rb:53:in `map'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/base.rb:37:in `visit'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:18:in `visit'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/engine.rb:299:in `_render'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.14/lib/sass/engine.rb:246:in `render'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:135:in `block in compile'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/logger.rb:45:in `red'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:134:in `compile'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:114:in `compile_if_required'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:99:in `block (2 levels) in run'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `each'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `block in run'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/compiler.rb:96:in `run'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/commands/update_project.rb:37:in `perform'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/commands/base.rb:18:in `execute'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/commands/project_base.rb:19:in `execute'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/bin/compass:25:in `block in <top (required)>'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/bin/compass:39:in `call'
c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/bin/compass:39:in `<top (required)>'
c:/Ruby192/bin/compass:19:in `load'
c:/Ruby192/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: lib/bootstrap-sass/assets/stylesshets/bootstrap.scss.\A               Load paths:\A                 d:/repositorio/jn2-magento-1.9/skin/frontend/base/default\A                 c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets\A                 c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 1 of d:/repositorio/jn2-magento-1.9/skin/frontend/base/default/sass/jn2/jn2-css.scss\A \A 1: d:/repositorio/jn2-magento-1.9/skin/frontend/base/default/sass/jn2/jn2-css.scss"; }
