<?php
/**
* JN2
* @author Igor Gottschalg
*/
?>
<?php $_items = $this->getRecentItems(); ?>
<i id="btn-cart-action" class="jicon cart"></i>
<div class="cart-header">
  <?php if(count($_items)): ?>
    <div class="cart-itens">
      <?php foreach($_items as $_item): ?>
        <?php echo $this->getItemHtml($_item); ?>
      <?php endforeach; ?>
    </div>
  <?php else: ?>
    <div class="cart-itens">
      <h3>No momento seu carrinho está vazio</h3>
    </div>
  <?php endif; ?>
  <div class="cart-actions">
    <button type="button" title="<?php echo $this->__('My Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')">Ir para carrinho</button>
    <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')">fechar meu pedido</button>
  </div>
</div>
<script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>

