<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
  <div class="alert alert-info" role="alert"><?php echo $this->__('There are no products matching the selection.') ?></div>
<?php else: ?>
  <div class="category-products">
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php if($this->getMode() == 'grid'): ?>
      <?php echo $this->getLayout()->getBlock('grid_mode')->setData('productCollection', $_productCollection)->toHtml();  ?>
    <?php else: ?>
      <?php echo $this->getLayout()->getBlock('list_mode')->setData('productCollection', $_productCollection)->toHtml();  ?>
    <?php endif; ?>
  </div>
<?php endif; ?>
