<?php
$isModuleJn2OrcamentoActive = Mage::helper('core')->isModuleEnabled('Jn2_Orcamento');
$_helper = $this->helper('catalog/output');
$_productCollection = $this->getData("productCollection");

$image_size_width = Mage::getStoreConfig("custom_page/general/image_width");
$image_size_height = Mage::getStoreConfig("custom_page/general/image_height");
$_labelHelper = Mage::helper('core')->isModuleEnabled('Magebuzz_Productlabel') ? $this->helper('productlabel') : null;
$buttonEnable = Mage::getStoreConfig("product_grid/general/show_button");
$qtyEnable = Mage::getStoreConfig("product_grid/general/show_qty");
$_blocoBotaoOrcamento = $this->getLayout()->createBlock('orcamento/button');
if ($_blocoBotaoOrcamento) {
    $_blocoBotaoOrcamento->setTemplate('jn2/orcamento/button.phtml');
}

 // ESTA CONDIÇÃO TEM RELAÇÃO COM O MODULO CURTOMER PRICES - P00119-customerprices-Webtex_CustomerPrices
if (Mage::helper('core')->isModuleEnabled(Webtex_Core)){
  $_webtexHelper = Mage::helper('customerprices');
}

?>
<div class="products-grid">
  <?php $i=0; foreach ($_productCollection as $_product): ?>

    <?php //var_dump($this->getAddToCartUrl($_product))?>
    <?php //var_dump($this->helper('checkout/cart')->getAddUrl($_product))?>
    
    <?php
      /*Irá validar caso o produto seja do tipo orçamento, 
      se o módulo de orçamento está ativo, caso não esteja, 
      o produto não será exibido. */
    ?>
    
    <?php
      $showProduct = true;

      if ($_product->getTypeId() == 'orcamento'){
        if ($isModuleJn2OrcamentoActive == false){
          $showProduct = false;
        }
      }
      
      if ($showProduct){
    ?>
    <div class="item">
      <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
        <div class="productlabel-wrap">
          <?php if ($_labelHelper): ?>
            <?php echo $_labelHelper->getLabels($_product, 'category')?>
          <?php endif; ?>
          <?php echo $this->getLayout()->createBlock( 'Jn2_HoverImage_Block_Layout' )->setData('product',$_product)->setData('this',$this)->setData("resize_width", $image_size_width)->setData("resize_height", $image_size_height)->toHtml() ?>
        </div>
      </a>
      <h3 class="product-name">
        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
          <?php $prod_name = $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
          <?php
          $count_str = strlen($prod_name);
          if ($count_str < 38) {
            echo $prod_name;
          } else {
            $offset = 0;
            $length = 55;
            $prod_name = html_entity_decode($prod_name);
            echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";
          }
          ?>
        </a>
      </h3>
      <?php if($_product->getRatingSummary()): ?>
        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
      <?php endif; ?>
      
      <?php if ($_product->getTypeId() != 'orcamento'): ?>

        <?php // ESTA CONDIÇÃO TEM RELAÇÃO COM O MODULO CURTOMER PRICES - P00119-customerprices-Webtex_CustomerPrices ?>
        <?php if(!$_webtexHelper || ($_webtexHelper && $_webtexHelper->isShowListBlock($_product))): ?>
          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="price-box-link">
            <?php $productBlock = $this->getLayout()->createBlock('catalog/product_price');  ?>
            <?php echo $productBlock->getPriceHtml($_product, true) ?>
          </a>
        <?php else: ?>
        <?php // ESTA CONDIÇÃO TEM RELAÇÃO COM O MODULO CURTOMER PRICES - P00119-customerprices-Webtex_CustomerPrices ?>
          <div class="text-hide-price alert text-danger ">
            <?php echo $_webtexHelper->getHidePriceText(); ?>                    
          </div>
        <?php endif; ?>

      <?php endif; ?>

      <?php if ($this->helper('wishlist')->isAllow()) : ?>
        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
              <svg  xml:space="preserve" style="enable-background:new 0 0 28 26;" viewBox="0 0 28 26" y="0px" x="0px" alt="Favoritos" class="ico-favoritos"  version="1.1">
                <g transform="matrix(0.94178753,0,0,0.94178753,0.81497463,0.75804236)" class="border">
                  <path d="M 20,0 C 17.6,0 15.5,1.1 14,2.7 12.5,1.1 10.4,0 8,0 3.6,0 0,3.6 0,8 0,20 14,26 14,26 14,26 28,20 28,8 28,3.6 24.4,0 20,0 Z" class="heart"/>
                </g>
              </svg>
            </a>
      <?php endif; ?>



      <?php if ($buttonEnable==1): ?>

        <?php if(!$_webtexHelper || ($_webtexHelper && $_webtexHelper->isShowListBlock($_product))): ?>
          <?php if($_product->isSaleable()): ?>
              <?php if ($_product->getTypeId() == 'orcamento'): ?>
                  <?php Mage::unregister('produto_orcamento') ?>
                  <?php Mage::register('produto_orcamento', $_product) ?>
                  <?php echo $_blocoBotaoOrcamento->setProduct($_product)->toHtml() ?>
                <?php else: ?>
                
                <div class="block-qty-addcart -flex" >
                  <?php if ($qtyEnable==1): ?>               
                    <div class="qty-wapper">
                      <div class="qty-input">
                        <button type="button" class="btn-minus">-</button>
                        <input class="input-number" type="text" name="qty" value="1">
                        <button type="button" class="btn-plus">+</button>
                      </div>
                    </div>

                  <?php endif; ?>
               <?php if(Mage::helper('core')->isModuleEnabled('Amasty_Giftregistry')) :?>
                   <!--Inicio do botão de "Adicionar a lista de presente" dentro das categorias-->
                    <?php
                    $_registryUrl = $this->helper('amgiftreg')->getAddUrl($_product);
                    ?>
                    <?php if($_registryUrl) : ?>
                        <?php
                        $listEvents = $this->helper('amgiftreg')->getListEvents();
                        ?>
                        <li>
                            <a href="<?php echo $_registryUrl ?>" class="amgiftreg link-registry" onclick="return am_add_to_list(this.href)"><?php echo $this->helper('amgiftreg')->__('Add to Registry') ?></a>
                            <?php if(count($listEvents) > 1):?>
                                <br>
                                <select id="event" name="event" style="margin: 5px;" onchange="am_add_to_list('<?php echo $_registryUrl?>')">
                                    <option value=""><?php echo $this->__('Select ...') ?></option>
                                    <?php foreach ($listEvents as $l): ?>
                                        <option value="<?php echo $l->getId()?>"><?php echo $this->htmlEscape($l->getEventTitle())?></option>
                                    <?php endforeach ?>
                                </select>
                            <?php endif; ?>
                        </li>
                    <?php endif; ?>

                    <!--FIM do botão de "Adicionar a lista de presente" dentro das categorias-->

                <?php endif ?>

                    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="jn2.addItems('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product) ?>', this)">
                    <?php echo $this->__('Add to Cart') ?>
                  </button>
                  

                </div>  
              <?php endif; ?>
            
              <?php else: ?>
              <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            
            <?php endif; ?>
        <?php endif; ?> 
      <?php endif; ?>   
      

    </div>
    <?php
      }
    ?>
  <?php endforeach ?>
</div>