<?php
$_helper = $this->helper('catalog/output');
$_productCollection = $this->getData("productCollection");
$image_size_width = Mage::getStoreConfig("custom_page/general/image_width");
$image_size_height = Mage::getStoreConfig("custom_page/general/image_height");
?>
<div class="product-list">
  <?php $i=0; foreach ($_productCollection as $_product): ?>
    <div class="item">
      <div class="row">
        <div class="col-md-3">
          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
            <div class="productlabel-wrap">
              <?php if ($_labelHelper): ?>
                <?php echo $_labelHelper->getLabels($_product, 'category')?>
              <?php endif; ?>
              <?php echo $this->getLayout()->createBlock( 'Jn2_HoverImage_Block_Layout' )->setData('product',$_product)->setData('this',$this)->setData("resize_width", $image_size_width)->setData("resize_height", $image_size_height)->toHtml() ?>
            </div>
          </a>
        </div>
        <div class="col-md-9">
          <h3 class="product-name">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
              <?php $prod_name = $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
              <?php
              $count_str = strlen($prod_name);
              if ($count_str < 38) {
                echo $prod_name;
              } else {
                $offset = 0;
                $length = 39;
                $prod_name = html_entity_decode($prod_name);
                echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;
              }
              ?>
            </a>
          </h3>
          <?php if($_product->getRatingSummary()): ?>
            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
          <?php endif; ?>
          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="price-box-link">
            <?php $productBlock = $this->getLayout()->createBlock('catalog/product_price');  ?>
            <?php echo $productBlock->getPriceHtml($_product, true) ?>
          </a>
        </div>
      </div>
    </div>
  <?php endforeach ?>
</div>
