


/********************LISTA PRODUTOS******************/

.products-list .f-fix > span{
    position: relative;
}

.products-grid .swatch-category{
    margin-top: 2px !important;
}

.float-clearer{
    clear: none !important;
}

.products-grid .swatch-category-container {
    display: inline-block;
    margin-bottom: 5px;
}

.products-grid .ratings {
    display: flex;
}

.products-grid .ratings .amount {
    font-size: 10px;
}

.products-grid .price-box {
    display: inline-block;
    width: auto;
}


/*******************DETALHE DO PRODUTO*********************/

.alert-stock {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    color: #ad0f0f;
    text-align: center;
}
.alert-stock a{
    color: #ad0f0f;
    text-decoration: underline;
}

.availability-only{
    display: none;
}

.availability.out-of-stock span { color:#d83820!important; }

/*********************FORMS**********************/

.form-list label{
    float: none;
}
.form-list sup,
.form-list em{
    display: none;
}

.form-list label.required:after {
    content: "*";
    color: #c00;
}


/*********************CARRINHO*****************************/

.cart .page-title.title-buttons .checkout-types{
    display: block;
}

.cart .sp-methods dd { margin-bottom:10px; }
.cart .sp-methods ul li {clear:both;}
.cart .sp-methods .radio {float:left;}


/***********************LOGIN**************************/

#remember-me-box .input-box {
    float: left;
    margin-top: 8px;
}


.remember-me-popup {
    background: #fff;
    border: 1px solid #ccc;
    left: 45%;
    top: 30%;
    position: fixed;
    margin: -85px 0 0 -200px;
    width: 500px;
    text-align: center;
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    -box-shadow: 0 0 6px #ccc;
    z-index: 1000;
    padding:20px;
}

.remember-me-popup h3 {border-bottom:1px solid #ccc; font-size:14px; padding:5px 10px;}
.remember-me-popup .remember-me-popup-head { position:relative;}
.remember-me-popup .remember-me-popup-head .remember-me-popup-close {background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:7px; right:7px; height:15px; width:15px; text-indent:-9999em;}
.remember-me-popup .remember-me-popup-body {}
.remember-me-popup .remember-me-popup-body a {
    background:#333;
    border: 1px solid #000;
    color: #FFFFFF;
    display: inline-block;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

/*****************ASSINATURA JN2********************/

.jn2-sign{
    float: none;
    text-align: center;
    margin: 0 auto;
    position:relative;
    z-index:9999;
}

/***************** Mapa - página de contato ********************/
.map-content {
    margin-top: 30px;
}



/********************  CADASTRO  ********************/

.account-create form .fieldset {
    margin-bottom: 32px;
}

.account-create .form-list li.control .input-box {
    float: left;
}


/********************  DASHBOARD  ********************/

.my-account .box-head { margin:40px 0 0; }

.my-account .box-head h2 { 
    font-size: 18px;
    line-height: 18px;
}