.postBlog {
    width: 94%;

    .postDetails {
        border-top: 1px solid #ccc;
        margin: 20px 0;
        padding: 15px 0 5px;
        border-bottom: 1px solid #ccc;
        color: #b1b1b1;

        a {
            text-decoration: underline;
        }
    }

    .postImg {
        width: 27%;
        padding: 0 3% 0 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .postTitle {
        h1 {
            margin: 0;
            font-size: 21px;

            a {
                &:hover {
                    text-decoration: none;
                    color: #777;
                }
            }
        }

        h2 {
            font-size: 13px;
            color: #a9a9a9;
        }
    }

    .postContent {
        color: #666;
        font-size: 16px;
        font-weight: 200;
        line-height: 22px;

        .aw-blog-read-more {
            background-color: #ccc;
            padding: 8px 15px;
            display: inline-block;
            font-size: 15px;
            border-radius: 5px;
            margin: 10px 0;

            &:hover {
                color: #fff;
                background-color: #000;
                text-decoration: none;
            }
        }
    }

    .tags {
        ul {
            display: flex;

            li {
                a {
                    background-color: #da7b16;
                    color: #fff;
                    padding: 3px 8px;
                    margin: 0 5px 0 0;
                    border-radius: 4px;
                    font-size: 12px;

                    &:hover {
                        text-decoration: none;
                        background-color: #de9343;
                    }
                }
            }
        }
    }

    .postContentFull {
        width: 70%;

        &.sem-img {
            width: 95%;
        }
    }
}

.blogLoop {
    display: flex;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #dcdcdc;
}

.block-blog {
    padding: 0 0 0 15px;

    .block-title {
        strong {
            span {
                margin-bottom: 10px;
                color: #C1C0C0;
                overflow: hidden;
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }

    .block-content {
        h5 {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
            padding: 15px 0 0 0;
            color: #040404;
        }

        .menu-recent {}

        ul {
            li {
                a {
                    font-size: 14px;
                    color: #777777;
                    margin: 0 0 9px;
                    display: block;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }
}

.comentario-blog {
    .postTitle {
        text-transform: uppercase;
        font-size: 22px;
        color: #afafaf;
        padding: 0 0 10px;
    }

    .clique-aqui {
        text-decoration: underline;
    }

    .legend {
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
    }

    .form-button {
        padding: 11px 12px;
        background-color: #ccc;
        border: 0;
        color: #2d2d2d;
        border-radius: 5px;
        margin: 15px 0;
    }

    textarea {
        min-height: 150px;
    }

    .commentWrapper {
        padding: 15px 20px;
        background-color: #f3f3f3;
        margin: 0 0 20px;

        .commentDetails {
            padding: 0 0 15px;
            color: #777;
        }

        .commentContent {
            font-size: 14px;
            line-height: 17px;
            color: #353535;
        }
    }

    .username {
        font-weight: 800;
        text-transform: capitalize;
    }
}

.postImgInterna {
    padding: 0 0 20px;

    img {
        text-align: center;
        margin: 0 auto;
        max-width: 50%;
        height: auto;
    }
}