/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.cart {
    .page-title {
        width: 100%;
        // float: left;
        padding: 20px 0;
        .page-title-btns{
            display: flex;
            justify-content: flex-end;
            .btn-keep-buying{
                background-color: $header-simple-border-color;
                padding: 8px 16px;
                display: inline-block;
                height: 34px;
                border-radius: 0;
                line-height: initial;
            }
        }
        h1 {
            font-family: $primary-mobile-font;
            color: $product-page-product-name-color;
            font-size: 20px;
            text-transform: capitalize;
            text-align: center;
            margin: 0px;
            padding: 0 0 1em 0;
            float: left;
            @media only screen and (min-width: $screen-md) {
                font-size: 28px;
                font-family: $primary-desktop-font;
                font-weight: bold;
                text-align: left;
            }
        }
    }
    .checkout-types {
        @media only screen and (min-width: $screen-md) {
            float: right;
            text-align: right;
            margin-left: 1em;
        }
    }
    fieldset {
        width: 100%;
        float: left;
        @media only screen and (min-width: $screen-md) {
            clear: both;
        }
    }
    .cart-table {
        background-color: #fff;
        thead {
            display: none;
            @media only screen and (min-width: $screen-md) {
                display: table-header-group;
            }
        }
        tfoot {
            tr {
                background: none;
            }
        }
        tr {
            display: block;
            margin-bottom: 10px;
            padding-bottom: 10px;
            position: relative;
            width: 100%;
            clear: both;
            @media only screen and (min-width: $screen-md) {
                display: table-row;
            }
        }
        th {
            background: #eee;
            color: #000;
            font-weight: bold;
            border: 0;
        }
        td {
            // border-bottom: 1px solid #eee !important;
            // border-left: 0 !important;
            // border-right: 0 !important;
            line-height: normal;
            background: #fff;
            font-weight: normal;
            border: none;
            display: block;
            &[data-rwd-label] {
                // float: right;
                // width: 75%;
                padding-left: 10px;
                margin-bottom: 6px;
                @media only screen and (min-width: $screen-md) {
                    float: none;
                    width: auto;
                }
            }
            @media only screen and (min-width: $screen-md) {
                display: table-cell;
                border: 1px solid #ececec;
                vertical-align: middle;
            }
            .item-options {
                padding: 0px;
                margin: 0px;
                dt {
                    width: auto;
                    float: left;
                    padding-right: 5px;
                }
                dd {
                    width: auto;
                    float: left;
                }
            }
        }
        .product-cart-image {
            width: 25%;
            float: left;
            padding-bottom: 0;
            @media only screen and (min-width: $screen-md) {
                float: none;
                width: auto;
                text-align: center;
            }
            img {
                max-width: 100%;
                width: 100%;
                @media only screen and (min-width: $screen-md) {
                    width: 55%;
                    max-width: none;
                    display: inline-block;
                }
            }
        }
        .product-cart-info {
            float: right;
            width: 75%;
            .btn-remove {
                float: right;
                margin: -4px 0px 2px 7px;
                font-size: 11px;
                svg {
                    height: 35px;
                }
                span {
                    display: block;
                }
            }
            .product-name {
                margin: 0;
                font-size: 13px;
                height: 42px;
                overflow: hidden;
                width: 70%;
                @media only screen and (min-width: $screen-md) {
                    height: auto;
                    width: auto;
                    overflow: visible;
                }
            }
            .product-cart-sku {
                font-size: 11px;
                .label {
                    display: none;
                }
            }
            @media only screen and (min-width: $screen-md) {
                float: none;
                width: auto;
            }
        }
        .product-cart-price,
        .product-cart-total {
            padding: 0 .6em;
            //text-align: right;
            .cart-price {
                //float: right;
                margin-left: .8em;
            }
            @media only screen and (min-width: $screen-md) {
                padding: 1em;
            }
        }
        .product-cart-actions {
            float: right;
            width: 75%;
            @media only screen and (min-width: $screen-md) {
                text-align: center;
            }
            .qty {
                width: 42px !important;
                text-align: center !important;
                background: none;
                display: inline-block;
                border: 1px solid #cacaca;
                padding: .5em 0;
                margin: 0 auto;
            }
            .btn-qty {
                @extend .button-default-simple;
                float: none !important;
                margin-top: 1em !important;
                display: block !important;
                padding: .3em 0;
                font-size: 11px;
                border: 0;
                text-transform: capitalize;
                font-weight: normal;
                @media only screen and (min-width: $screen-md) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .product-cart-remove,
        .product-cart-total,
        .product-cart-actions .cart-links {
            display: none;
            @media only screen and (min-width: $screen-md) {
                display: table-cell;
                border: 1px solid #ececec;
            }
        }
        .product-cart-remove a {
            font-weight: bold;
            color: #000;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            border: 1px solid transparent;
            &:hover {
                // text-decoration: none;
                // border-radius: 50%;
                // border: 1px solid #000;
            }
            svg {
                height: 35px;
            }
            span {
                display: block;
                font-size: 12px;
                font-weight: normal;
            }
        }
        .cart-price {
            .price {
                font-weight: bold;
            }
        }
        .btn-update,
        .btn-empty {
            @extend .button-default-simple;
            display: none;
            @media only screen and (min-width: $screen-md) {
                display: inline-block;
                font-size: 11px;
                border: 0;
                text-decoration: underline;
                font-weight: normal;
            }
        }
    }
    .discount,
    .shipping {
        border: 1px solid #e6e6e6;
        border-left: 0 !important;
        border-right: 0 !important;
        padding: 1em .5em;
        overflow: hidden;
        color: #7f7f7f;
        @media only screen and (min-width: $screen-md) {
            padding: 1.3em .5em;
        }
        @media screen and (min-width: 992px) {
            padding: 2em .5em;
        }
        h2 {
            display: none;
        }
        p,
        .input-box,
        .form-list,
        label,
        .buttons-set {
            padding: 0;
        }
        .input-text {
            @extend .form-control;
        }
        .btn-shipping,
        .discount-form .button {
            @extend .button-default;
        }
        .label-block {
            font-weight: normal;
            margin-bottom: 1em;
        }
    }
    .shipping {
        border-top: 0;
        .sp-methods {
            clear: both;
            dt {
                display: none;
            }
            dd {
                label {
                    display: block;
                    clear: both;
                }
            }
            .radio {
                display: none!important;
            }
        }
        #co-shipping-method-form {
            .buttons-set button.button {
                display: none!important;
            }
        }
    }
    .discount {
        border: 0;
    }
    .new-coupon .buttons-set {
        //margin: 1em 0 0 0;
    }
    .new-cart-collaterals {
        .totals {
            float: right;
            width: 100%;
            padding: 15px 2%;
            margin-top: 1em;
            background-color: rgba(0, 0, 0, 0.08);
            @media only screen and (min-width: $screen-md) {
                margin-top: 0;
            }
            @media screen and (min-width: 992px) {
                padding: 15px 10%;
            }
            .price {
                font-size: 12px;
                line-height: normal;
                display: inline-block;
                padding: 0 0px 0 15px;
            }
            table {
                width: 100%;
                font-size: 12px;
                color: #7f7f7f;
                margin-bottom: 2em;
                tr {
                    border-bottom: 1px solid #d8d8d8;
                }
                td {
                    padding: 1em;
                    font-size: 13px;
                    &:first-child.a-right {
                        text-align: left !important;
                    }
                }
                tfoot {
                    .price {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
            .checkout-types {
                @media only screen and (min-width: $screen-md) {
                    float: none;
                    text-align: center;
                    margin: 0;
                }
                .btn-checkout {
                    padding: 1.3em 0;
                }
            }
        }
    }
    li.error-msg {
        display: none;
    }
}

//TALVEZ SERÁ REAPROVEITADO NO CHECKOUT, SE SIM, MUDAR DE LUGAR
.checkout-types {
    .btn-checkout {
        @extend .button-default;
        width: 100%;
        background-color: $button-add-cart-background;
    }
}

// @media only screen and (max-width: 767px){
//   .cart-table {
//     colgroup, thead {
//       display: none;
//     }
//
//     tr {
//       display: block;
//       margin-bottom: 10px;
//       padding-bottom: 10px;
//       position: relative;
//       width: 100%;
//       clear: both;
//       &:after {
//         @include clearfix;
//       }
//
//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//
//     tfoot tr {
//       padding-bottom: 0;
//     }
//
//     td {
//       border: none;
//       display: block;
//
//       &[data-rwd-label] {
//         padding-left: 15px;
//         margin-bottom: 6px;
//
//         .price {
//           font-weight: normal;
//         }
//
//         &:before {
//           content: attr(data-rwd-label) ":";
//           //font-size: $f-size-xs;
//           //font-family: $f-stack-special;
//           padding-right: 5px;
//           text-transform: uppercase;
//         }
//       }
//
//       &.product-cart-price {
//         text-align: left;
//       }
//     }
//
//     h2 {
//       //font-size: $f-size-xs;
//     }
//
//     .cart-links {
//       padding-top: 5px;
//       padding-right: 5px;
//
//       > li {
//         white-space: normal;
//         text-align: center;
//
//         > a {
//           padding: 2px 0px;
//         }
//       }
//     }
//
//     .cart-tax-info {
//       font-style: italic;
//       //padding-left: $trim-small;
//       //font-size: $f-size-s;
//
//       .price {
//         //font-size: $f-size-s;
//       }
//     }
//
//     .product-cart-image {
//       width: percentage(1/4);
//       float: left;
//       padding-bottom: 0;
//
//       a.cart-edit {
//         display: block;
//         //font-size: $f-size-xl;
//         text-align: center;
//         text-transform: uppercase;
//       }
//     }
//
//     .product-cart-info,
//     td[data-rwd-label] {
//       float: right;
//       width: percentage(3/4);
//     }
//
//     .product-cart-actions,
//     .product-cart-price {
//       padding-bottom: 0;
//       padding-top: 0;
//       float: right;
//     }
//
//     .product-cart-remove,
//     .product-cart-total,
//     .product-cart-actions .cart-links {
//       display: none;
//     }
//
//     .product-cart-image .cart-links,
//     .product-cart-info .btn-remove {
//       display: block;
//     }
//
//     // This element will be displayed via JS once the related input is focused
//     .product-cart-actions .button {
//       display: none;
//     }
//
//     .product-cart-info {
//
//       .btn-remove {
//         float: right;
//         margin: -4px 0px 2px 7px;
//         font-size: 0;
//       }
//
//       .product-cart-sku {
//         margin-bottom: 5px;
//       }
//     }
//
//     .product-cart-actions {
//       text-align: left;
//
//       .qty {
//         margin-right: 7px;
//         margin-bottom: 7px;
//       }
//     }
//
//     .price,
//     .product-cart-price:before {
//       font-weight: 500;
//       font-size: 12px;
//       //font-family: $f-stack-sans;
//     }
//
//     .cart-footer-actions {
//       text-align: center;
//       width: 100%;
//
//       #empty_cart_button {
//         float: right;
//       }
//
//       .btn-continue {
//         float: left;
//       }
//
//       .btn-update,
//       span.or {
//         display: none;
//       }
//
//     }
//   }
// }