/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.col2-left-layout{
  .col-main{
    @extend .col-md-9;
    padding: 0;
  }
  .sidebar{
    padding-right: 50px;
    @extend .col-xs-12;
    @extend .col-md-3;
  }
}

.catalog-category-view,
.catalogsearch-result-index,
.amfinder-index-index
{

  .category-image{
    display: none;
    width: 100%;
    float: left;
    margin-bottom: 30px;

    @media screen and (min-width: $screen-md){
      display: inline-block;
    }

    img{
      width: 100%;
      float: left;
    }
  }

  .category-title{
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
    width: calc(100% + 30px);
    display: inline-block;
    padding: 20px;

    @media screen and (min-width: $screen-md){
      display: none;
    }

    h2{
      font-family: $primary-mobile-font;
      font-weight: bold;
      font-size: 18px;
      padding: 0;
      margin: 0;
      width: auto;
      float: left;
    }

    .legend{
      color: #ccc;
      font-size: 14px;
      float: right;
      padding: 0 20px;
    }
  }
  .mobile-filter{
    width: calc(100% + 30px);
    float: left;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    z-index: 9;
    margin: 0 -15px;

    .btn-filtrar{
      border: 1px solid #ddd;
      background: url(../images/icon_chev_down.png) center right 15px no-repeat #eee;
      color: #000;
      width: 100%;
      display: inline-block;
      padding: 13px 0px;
      text-indent: -20px;
    }
    .sorter-selection{
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid #ddd;
      background: url(../images/icon_chev_down.png) center right 15px no-repeat #fff;
      color: #000;
      width: 100%;
      display: inline-block;
      padding: 13px 10px;
      text-indent: 0px;

      &::-ms-expand {
        display: none;
      }
    }
  }

  .toolbar{
    display: none;
    width: 100%;
    float: left;
    padding: 10px 0;
    margin: 10px 0 20px 0;

    &.bottom{
      display: block;
      margin: 10px 0 0px 0;
    }

    @media screen and (min-width: $screen-md){
      display: inline-block;
    }

    &.top{
      border-bottom: 1px solid #eee;
    }


    span.title{
      font-family: $primary-desktop-font;
      font-size: 14px;
      font-weight: bold;
      float: left;
      line-height: 35px;
    }

    .limiter{
      float: left;
      margin-left: -15px;

      ol{
        float: left;
        margin-left: 10px;

        li{
          float: left;
          width: 30px;
          height: 35px;
          text-align: center;
          margin-right: 5px;

          &.current{
            a{
              background: #fff;
              border-bottom: 1px solid #000;
              text-decoration: none;
            }
          }

          a{
            float: left;
            width: 30px;
            height: 35px;
            line-height: 35px;
            background: #eee;
            border: 1px solid #eee;
            font-family: $secund-desktop-font;
            text-align: center;
            font-size: 12px;

            &:hover{
              background: #fff;
              border-bottom: 1px solid #000;
              text-decoration: none;
            }
          }
        }
      }
    }
    .info{
      .amount{
        float: left;
        font-family: $secund-desktop-font;
        font-size: 12px;
        margin-left: 10px;
        line-height: 35px;
      }
    }

    .sorter{
      float: right;

      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #ddd;
        background: url(../images/icon_chev_down.png) center right 15px no-repeat #fff;
        color: #000;
        display: inline-block;
        padding: 10px 40px 10px 20px;
        text-indent: 0px;
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;

        &::-ms-expand {
          display: none;
        }
      }
    }

    .view-mode{
      border-left: 1px solid #eee;
      padding-left: 10px;
      margin-left: 10px;
      float: right;
      font-family: $secund-desktop-font;
      font-size: 12px;
      line-height: 35px;

      a{
        float: left;
        opacity: 0.2;
      }
      img{
        float: left;
        padding: 10px 5px;
      }
    }
    .sort-by-switcher--desc{
      float: right;
      padding: 15px 5px;

      img{
        @include transform(rotate(180deg));
      }
    }
    .sort-by-switcher--asc{
      float: right;
      padding: 15px 5px;

      img{
        @include transform(rotate(0));
      }
    }

    &.bottom{

      .pager{
        display: table;
        margin: 0 auto;

        @media screen and (min-width: $screen-md){
          display: inline-block;
          float: right;
        }

        ol{
          display: table;
          margin: 0 auto;

          li{
            display: inline-block;
            float: left;
            width: 25px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 0 2px;
            border-radius: 0px;

            &.current{
              color: #000 !important;
              font-weight: bold;
              border: 1px solid #000;
            }

            a{
              display: inline-block;
              float: left;
              width: 25px;
              height: 30px;
              line-height: 20px;
              text-align: center;
              border: 1px solid transparent;
              background: #eee;
              color: #000;
              padding: 5px 5px;
              border-radius: 0px;

              img{
                display: table;
                margin: 0 auto;
              }

              &:hover{
                color: #000 !important;
                font-weight: bold;
                border: 1px solid #000;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

  }

  .sidebar{
    text-align: left;
    z-index: 5;

    @media screen and (max-width: $screen-md){
      width: 100%;
      float: left;
      position: absolute;
      width: 100%;
      padding: 0;
      left: 0;
      top: 245px;
      transform: translateY(-100%);
      @include transition(all 0.5s ease-in-out);

      &.show{
        background: rgba(0,0,0, 0.5);
        transform: translateY(0%);
        @include transition(all .5s ease-in-out);
      }
      .row{
        width: calc(100% + 15px);
        float: left;
      }
    }

    .block-layered-nav{
      padding: 20px 30px;
      background: #fff;
      width: 100%;
      float: left;

      @media screen and (min-width: $screen-md){
        padding: 0;
      }

      .action-close{
        width: 100%;
        float: left;
        padding: 20px 0;

        @media screen and (min-width: $screen-md){
          display: none;
        }

        .btn-close-filter{
          border: 1px solid #ddd;
          color: #000;
          width: 100%;
          display: inline-block;
          padding: 13px 0px;
        }
      }

      .currently{
        width: 100%;
        float: left;
        padding: 20px 0;

        li{
          width: 100%;
          float: left;
          border: 0;
          margin-bottom: 5px;

          .label{
            float: left;
            font-family: $primary-desktop-font;
            font-weight: bold;
            color: $default-text-color;
            text-transform: capitalize;
            font-size: 14px;
            line-height: 18px;
            padding: 0;
          }
          .value{
            float: left;
            font-family: $secund-desktop-font;
            font-weight: lighter;
            color: $default-text-color;
            text-transform: capitalize;
            font-size: 12px;
            padding: 0;
            line-height: 18px;
            margin: 0 0 0 8px;
          }

          a{
            float: right;
            font-size: 14px;
            font-weight: bold;
            line-height: 18px;
            padding: 0px 10px;
            text-decoration: none;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }

      .block-title{
        font-family: $primary-desktop-font;
        color: $default-text-color;
        font-size: 32px;
        padding: 5px 0px;
        margin-bottom: 10px;
        margin-top: 8px;
      }

      .block-content{
        width: 100%;
        display: inline-block;

        &.no-display{
          display: inline-block !important;
        }
      }
      #narrow-by-list{
        width: 100%;
        float: left;
        border-bottom: 1px solid #000;
        margin-top:1em;
      }
      dt{
        width: 100%;
        float: left;
        padding: 15px 10px 5px 10px;
        border-top: 1px solid #000;
        margin: 0 0 10px 0;
        font-weight: normal;
        color: #000;
        text-transform: uppercase;
        border-radius: 0px;
        text-align: left;
        font-family: $secund-desktop-font;
        font-size: 16px;
        cursor: pointer;

        @media screen and (min-width: $screen-md){
          font-size: 14px;
        }

        .collapse{
          float: right;
          font-size: 16px;
          display: block;

          @media screen and (min-width: $screen-md){
            font-size: 14px;
          }
        }

      }
      dd{
        float: left;
        width: 100%;
        padding: 0px 10px 10px 10px;
        border-bottom: 0 !important;
        //display: none;
        max-height: 300px;
        overflow-y: auto;

        &.open{
          display: block;
        }

        ol{
          padding-left: 20px;
          float: left;
          width: 100%;

          li{
            width: 100%;
            float: left;
            color: #000;
            font-size: 14px;
            font-family: $secund-desktop-font;
            font-weight: lighter;

            .count{
              display: none;
            }

            a{
              width: 100%;
              float: left;
              color: #000;
              font-size: 14px;
              text-decoration: none;
              font-family: $secund-desktop-font;
              font-weight: lighter;
              padding: 5px 0;

              @media screen and (min-width: $screen-md){
                color: #444;
                font-size: 12px;
              }

              &:hover{
                text-decoration: none;
                color: #000;
              }
            }
          }
        }

        &.colorselectorplus{
          margin: 0;

          &.color img{
            border-radius: 50%;
          }

          ol{
            padding: 0 !important;

            li{
              float: left;
              width: auto;

              a{
                &:hover{
                  img{
                    border: 1px solid #ccc;
                  }
                }
                img{
                  border: 0px;
                  overflow: hidden;
                  border: 1px solid transparent;
                  margin: 0px;
                  padding: 2px;
                }
              }
            }
          }
        }
      }
    }
  }

  .products-grid {
    .item {
      width: calc(50% - 16px);

      @media only screen and (min-width : $screen-sm) {
        width: calc(33.33333% - 16px);
      }

      @media only screen and (min-width : $screen-md) {
        width: calc(25% - 16px);
        text-align: left;
      }
    }
  }

  .bottom-seo-category{
    width: 100%;
    float: left;
    margin: 30px 0;
    border-top: 1px solid #eee;

    h1{
      width: 100%;
      float: left;
      padding: 10px 0;
      font-weight: bold;
    }
  }

}
