/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.onestepcheckout-index-index {
    .page {
        padding-bottom: 2em;
    }
    .page-head {
        padding: 0;
    }
    .welcome-msg {
        background-color: #fff;
        border: 1px solid #d6d5d5;
        padding: .5em;
        margin-bottom: 2em;
        border-radius: 5px;
        position: relative;
        @media only screen and (min-width: $screen-md) {
            margin-top: 1.5em;
        }
        .hello {
            padding-right: 5%;
            svg {
                width: 16px;
                margin-right: .2em;
                vertical-align: -2px;
            }
            strong {
                font-weight: normal;
            }
        }
        .email {
            strong {
                word-wrap: break-word;
                svg {
                    float: left;
                }
            }
        }
        .link-ico-logout {
            position: absolute;
            right: 2%;
            top: 35%;
            svg {
                width: 16px;
            }
        }
    }
    .continue-buy {
        clear: both;
        align-items: center;
        &.first {
            display: none;
            @media only screen and (min-width: $screen-md) {
                display: flex;
                justify-content: flex-end;
            }
        }
        &.last {
            display: flex;
            justify-content: center;
            @media only screen and (min-width: $screen-md) {
                display: none;
            }
        }
        .link-continue-buy {
            @extend .button-default-simple;
            width: 100%;
            text-align: center;
            @media only screen and (min-width: $screen-md) {
                width: 25%;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .cvv-what-is-this {
        font-size: 12px;
        color: #666;
        text-decoration: underline;
        display: none;
        @media screen and (min-width: $screen-md) {
            display: block;
        }
    }
    #payment-tool-tip {
        position: absolute;
        z-index: 800;
        #payment-tool-tip-close {
            color: #da0c0c;
            text-align: right;
            float: right;
            border: 1px solid;
            padding: .5em;
            margin: 0em 0 1em 0;
        }
        .tool-tip-content {
            background-color: #fff;
        }
    }
    .error-msg {
        display: none;
    }
}

#onestepcheckout-review-newsletter-simple {
    .checkbox {
        display: inline-block;
        margin-right: .5em;
    }
}

.onestepcheckout {
    #onestepcheckout-title {
        //width: 100%;
        //float: left;
        padding: 0 0 2em 0;
        @media only screen and (min-width: $screen-md) {
            padding: 3.5em 0 0 0;
        }
        h1 {
            font-family: $primary-mobile-font;
            color: $product-page-product-name-color;
            font-size: 20px;
            text-transform: capitalize;
            text-align: center;
            margin: 0px;
            padding: 5px 0;
            float: left;
            width: 100%;
            @media only screen and (min-width: $screen-md) {
                font-size: 28px;
                font-family: $primary-desktop-font;
                font-weight: bold;
                text-align: left;
            }
        }
    }
    .col3-set {
        .col-2 {
            @media screen and (min-width: 992px) {
                padding: 0 2em;
            }
        }
    }
    .step-title {
        margin-bottom: 1em;
        .number {
            display: block;
            float: left;
            margin: -.5em -0.2em 0 0;
            padding: 0.5em .8em .5em 0;
            &:after {
                content: "."
            }
        }
        h2 {
            text-transform: capitalize;
            font-weight: bold;
            color: #95989A;
        }
    }
    .step {
        .li-select-address {
            label {
                font-weight: normal;
                margin-bottom: 1em;
                font-size: 12px;
                color: #7d7d7d;
                line-height: 15px;
            }
        }
        .form-list .control input.radio,
        .form-list .control input.checkbox {
            float: left;
            margin-right: 6px;
            margin-top: 1px !important;
            margin-left: 0px !important;
        }
        .sp-methods {
            ul {
                &.nitroecom_cielo {
                    overflow: visible!important;
                    .card-wrapper {
                        margin: 2em 0;
                    }
                    li {
                        display: block;
                        #nitrocielo_expiracao_mes_cielo,
                        #nitrocielo_expiracao_ano_cielo {
                            width: 45%!important;
                            float: left;
                        }
                        #nitrocielo_expiracao_mes_cielo {
                            margin-right: 1.8em;
                        }
                    }
                }
                &#payment_form_pagarme_cc {
                    li {
                        display: block;
                        .pagarme-payment-icons {
                            display: flex;
                            justify-content: space-around;
                            flex-wrap: wrap;
                            li {
                                flex-basis: 17%;
                                margin: .5em!important;
                            }
                        }
                        .input-box {
                            .v-fix {
                                width: 38%;
                                float: left;
                                @media only screen and (min-width: $screen-md) {
                                    width: 28%;
                                }
                                span {
                                    margin: 0 2px 0 -10px;
                                }
                            }
                        }
                    }
                }
                &#payment_form_vindi_creditcard {
                    .block-choice {
                        margin: 0;
                        padding: 0 .5em;
                        width: 99%;
                        #vindi_creditcard_cc_type_exp_div {
                            .input-box {
                                .v-fix {
                                    width: 45%;
                                    float: left;
                                }
                            }
                        }
                    }
                }
                li {
                    display: flex;
                }
            }
            input[type="radio"],
            input[type="checkbox"] {
                float: left;
                margin-right: .5em;
                margin-top: .1em;
            }
            label {
                font-weight: normal;
                float: left;
                width: 93%;
            }
            .jp-card {
                min-width: 295px;
            }
            .validation-advice {
                display: block;
                clear: both;
            }
        }
    }
    #billing-address-select {
        padding: 10px 20px !important;
        font-size: 12px;
        color: #666;
        margin-top: 1em;
        background-color: #eee;
        border: 1px solid #ccc;
        height: 50px;
        word-wrap: break-word;
        white-space: normal;
    }
    .sp-methods {
        dt {
            margin: 1em 0;
            color: darken($color-segment, 25%);
            display: flex;
        }
    }
}

.header-simple-checkout {
    border-bottom: 1px solid #eee;
    .header {
        padding: .5em 0 .5em 0;
        @media screen and (min-width: 992px) {
            padding: 1.5em 0 0 0;
        }
        .links {
            a {
                color: #999;
            }
        }
        .logo-content {
            text-align: center;
            @media screen and (min-width: 992px) {
                text-align: left;
            }
            .link-logo {
                display: inline-block;
            }
        }
        .quick-access {
            padding-top: 2em;
            float: right;
            ul {
                li {
                    display: inline;
                    padding-left: 21px;
                }
            }
        }
    }
}

#onestepcheckout-order-review {
    background-color: #e4e4e4;
    padding: 1em;
    .onestepcheckout-cart-table {
        thead {
            th {
                padding: 1em .5em;
                border-top: 0;
            }
        }
        tfoot {
            td {
                padding: 1em .5em;
            }
        }
    }
    #onestepcheckout-order-review-comments-wrapper {
        margin: 1em 0;
        textarea {
            width: 100%;
        }
    }
}

#onestepcheckout-place-order {
    padding: 1em;
    background-color: #d2d2d2;
    margin-top: 1em;
    #onestepcheckout-place-order-button {
        @extend .button-default;
        background-color: $button-add-cart-background;
        width: 100%;
        padding: 1.3em 0;
    }
}

.coupon-code-form {
    .onestepcheckout-coupon-code-cancel-btn,
    .onestepcheckout-coupon-code-apply-btn {
        @extend .button-default;
    }
}

.col3-set {
    .col-1 {
        @media screen and (min-width: 768px) {
            float: left;
            width: 32%;
        }
    }
    .col-2 {
        @media screen and (min-width: 768px) {
            float: left;
            width: 32%;
            margin-left: 2%;
        }
    }
    .col-3 {
        @media screen and (min-width: 768px) {
            float: right;
            width: 32%;
        }
    }
}

.onestepcheckout-overlay {
    background-color: rgba(#ffffff, 1);
    background-image: url("../images/circle-spinner.svg")!important;
    z-index: 9999999;
    width: 106%;
    height: 100%;
    display: block;
    position: absolute;
    left: -3%;
}

.new-cart-collaterals {
    clear: both;
}

.onestepcheckout {
    .step-title {
        &.title-use-for-shipping {
            h2 {
                text-transform: uppercase;
            }
        }
    }
}

.li-use-for-shipping {
    .bt-mesmo-end {
        // @extend .button-default-simple;
        // color: darken($color-segment, 25%);
        // text-transform: none;
        // font-weight: 400;
        // border-color: darken($color-segment, 25%);
        // font-size: 12px;
        // &:hover {
        //   cursor: pointer;
        // }
        color: darken($color-segment, 25%);
        font-weight: normal;
        font-size: 13px;
    }
}

#onestepcheckout-billing-address-list,
#onestepcheckout-address-shipping,
#onestepcheckout-payment-method {
    em {
        color: #de0d0d;
    }
    .label-require {
        text-align: right;
        color: #de0d0d;
        margin: .5em 0 -.5em 0;
        font-size: 11px;
    }
    li {
        label {
            margin-top: .5em;
            font-size: 13px;
            color: #696969;
        }
        .input-box {
            input {
                @extend .form-control;
            }
        }
    }
    .my-post-code {
        font-size: 11px;
        font-weight: normal;
        text-decoration: underline;
        margin-left: .5em;
        &:hover {
            cursor: help;
        }
    }
}

#onestepcheckout-address-shipping-wrapper {
    .step-title {
        h2 {
            margin: 0;
        }
    }
    #onestepcheckout-address-shipping {
        label {
            &[for="shipping-address-select"] {
                color: darken($color-segment, 25%);
                font-weight: normal;
            }
        }
    }
}

#onestepcheckout-payment-method {
    .conteiner-form-list {
        display: block;
        clear: both;
        .banner_checkout_mp {
            width: 100%;
        }
    }
}

.prev-step {
    @extend .button-default-simple;
    .seta-voltar {
        transform: rotate(180deg);
        width: 6px;
    }
}

.btn-next-step {
    @extend .button-addtocart;
    text-transform: uppercase;
    padding: 9px 5px;
    .seta-seguir {
        width: 9px;
    }
    &:hover {
        .path-seta-seguir {
            fill: $button-default-font-color-hover;
        }
    }
}


/******
* STEPS
******/

.section-wizard {
    margin: -2em 0 0 0
}

.wizard {
    margin: 20px auto;
    //background: #fff;
    clear: both;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
    border: 0;
}

.wizard>div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 73%;
    margin: 0 auto;
    left: 0%;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    padding-top: .6em;
    .ico-tab {
        height: 35px;
        fill: #e0e0e0;
        &.ico-check-checkout {
            height: 23px;
            vertical-align: 3px;
        }
    }
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #4eb700;
    .ico-tab {
        fill: #4eb700;
    }
}

.wizard li.active span.round-tab i {
    color: #4eb700;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs>li {
    width: 28%;
    &#li_step2 {
        margin: 0 6.6em;
    }
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #4eb700;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #4eb700;
}

.wizard .nav-tabs>li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    display: block!important;
}

.wizard .nav-tabs>li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    //padding-top: 50px;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    @media only screen and (min-width: $screen-md) {
        width: 28%;
        float: left;
    }
    &#step2 {
        margin: 1em 0;
        @media only screen and (min-width: $screen-md) {
            margin: 0 6.6em;
        }
        .tab-pane-content {
            @media only screen and (min-width: $screen-md) {
                min-height: 390px;
            }
        }
    }
    &#step3 {
        .prev-step {
            margin-top: 2em;
            float: right;
            border: 0;
        }
    }
}

.wizard .tab-content>.tab-pane {
    display: block;
    opacity: .4;
    @media only screen and (min-width: $screen-md) {
        min-height: 550px;
    }
}

.wizard .tab-content>.active {
    opacity: 1;
    border-top: 3px solid #4eb700;
    @media only screen and (min-width: $screen-md) {
        min-height: 550px;
    }
}

.tab-pane {
    &.active {
        .step-title h2,
        .step-title .number {
            color: #55BA0B;
        }
    }
    .step-title {
        h3 {
            color: #4EB700;
            font-weight: bold;
        }
    }
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width: 585px) {
    .wizard {
        width: 90%;
        height: auto !important;
    }
    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.onestepcheckout-place-order-please-wait {
    min-height: 200px;
    position: fixed!important;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 4em 0 0 0;
    margin: 0!important;
    background-color: rgba(255, 255, 255, 0.89);
    float: none;
    z-index: 9999999;
    text-align: center;
    font-size: 13px;
    .msg-wait {
        font-size: 26px;
        font-weight: 300;
        line-height: 30px;
    }
    .msg-wait-2 {
        font-size: 26px;
        color: #FFA60B;
        margin-top: .5em;
    }
}

.opc-jn2 {
    .secure-block {
        display: flex;
        margin: 1em 0;
        justify-content: center;
        .ico-secure {
            margin-right: 1em;
            svg {
                fill: #000;
                width: 20px;
            }
        }
        .text-secure {
            span {
                text-transform: uppercase;
                font-size: 17px;
            }
        }
    }
}

.onestepcheckout-place-order-please-wait img {
    padding: 20px;
    margin: 0 auto;
    margin-top: 400px;
    width: auto !important;
    height: auto !important;
    position: initial !important;
}

#mp-checkout-dialog {
    z-index: 99999999999!important;
}

.mercadopago-pay-index {
    .col-main {
        text-align: center;
    }
    #standard_banner_checkout {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        padding: 3em 0;
        float: none;
    }
}