
/* -------------------------------------------- *
* Column Layouts
*/

.main:after,
.col-wrapper:after {
  @include clearfix;
}

.col-left,
.col-right,
.col-main {
  padding: 0;
}

.col-left {
  float: left;
  // width: percentage(240px/960px);
  padding-left: 0; /* Remove the 15px padding */
  clear: left;

  img {
    max-width: 100%;
  }
}

.col-right {
  float: right;
  // width: percentage(240px/960px);
  padding-right: 0; /* Remove the 15px padding */

  img {
    max-width: 100%;
  }
}

.col-main {
  float: left;
  // width: percentage(720px/960px);
}

.col1-layout {
  .col-main {
    float: none;
    width: auto;
    padding: 0; /* Remove the 15px padding */
  }
}

.col2-left-layout {
  .col-main {
    float: right;
    padding-right: 0; /* Remove the 15px padding */
    width: 100%;
    @media screen and (min-width: $screen-sm) {
      width: 75%;
    }
  }
}

.col2-right-layout {
  .col-main {
    padding-left: 0; /* Remove the 15px padding */
  }
}

.col3-layout {
  .col-right {
    width: percentage(200px/960px);
  }

  .col-wrapper {
    float: left;
    width: percentage(760px/960px);

    .col-main {
      float: right;
      width: percentage(560px/760px);
    }

    .col-left {
      width: percentage(200px/760px);
    }
  }
}






/* -------------------------------------------- *
* Messages
*/
.success {
  // color: $c-success;
}

.error {
  // color: $c-danger;
  font-weight: bold;
}

.notice {
  // color: $c-warn;
  font-weight: bold;
}

/* -------------------------------------------- *
* Page Popup
*/

.page-popup {
  padding: 20px;
  background: #FFFFFF;
  height: auto;
}

.page-popup h1 {
  margin: 0 0 0.5em;
  font-size: 36px;
}

/* ============================================ *
* Magento Helpers
* ============================================ */

.a-center {
  text-align: center;
}

.a-right,
.align-right {
  text-align: right;
}

.no-display {
  display: none !important;
}

.nobr,
.nowrap {
  white-space: nowrap;
}

.width-full {
  width: 100%;
}


/* ============================================ *
* Panels extend bootstrap
* ============================================ */


.panel{
  .panel-title{
    img{
      display: inline-block;
      margin-right: .7em;
      vertical-align: -7px;
    }
  }
}

.add-to-cart-buttons{
  .button {
    border: 0;
    padding: .7em 0;
  }
}


/* ============================================ *
* RADIO BUTTONS checkbox
* ============================================ */

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]{
  top: 0;
}


/* ============================================ *
* Custom Helpers
* ============================================ */

.hidden {
  display: none;
}

/* ============================================ *
* Print Styles
* ============================================ */

.page-print .print-head {
  margin: 0 0 15px;
  text-align: center;
}

.page-print .print-head .logo {
  float: none;
  max-height: 2cm;
  width: auto;
  margin: 0 auto;
}

/* ============================================ *
* Data Table
* ============================================ */

.data-table {
  width: 100%;
}

.data-table td,
.data-table th {
  padding: 10px;
  vertical-align: top;
}

.data-table th {
  background: #eee;
  text-transform: uppercase;
  line-height: 1.4;
  white-space: nowrap;
  font-size: 12px;
}

.data-table thead th,
.data-table tbody td {
  border-bottom: 1px solid #ccc;
}

.data-table tbody td,
.data-table tfoot td {
  // font-family: $f-stack-serif;
}

.data-table tfoot tr {
  background: #eee;
}

.data-table tbody td .item-options {
  margin-left: 20px;
  margin-top: 10px;

  dt:after {
    content: ':';
  }
}


/* ============================================ *
* Titles
* ============================================ */

.page-title-default{
  font-size: 16px;
  font-family: $secund-mobile-font;
  margin: 1em 0;
}
