/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.contacts-index-index{
  .main{
    margin-top: 30px;
  }
  .page-title{
    width: 100%;
    float: left;
    padding: 0 0 20px 0;

    h1{
      font-family: $primary-mobile-font;
      color: $product-page-product-name-color;
      font-size: 20px;
      text-transform: capitalize;
      text-align: center;
      margin: 0px;
      padding: 5px 0;
      float: left;

      @media only screen and (min-width : $screen-md) {
        font-size: 28px;
        font-family: $primary-desktop-font;
        font-weight: bold;
        text-align: left;
      }
    }
  }
  .btn-send-contact{
    @extend .button-default;
  }
}
