    /**
* JN2
* @package: Jn2 Clean Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
    
    body[class*="customer"] {
        .main-container {
            @media screen and (min-width: $screen-sm) {
                margin-top: 10px;
            }
            .page-title {
                width: 100%;
                float: left;
                padding: 0 0 20px 0;
                h1 {
                    font-family: $primary-mobile-font;
                    color: $product-page-product-name-color;
                    font-size: 20px;
                    text-transform: capitalize;
                    text-align: center;
                    margin: 0px;
                    padding: 5px 0;
                    float: left;
                    @media only screen and (min-width: $screen-md) {
                        font-size: 28px;
                        font-family: $primary-desktop-font;
                        font-weight: bold;
                        text-align: left;
                    }
                }
            }
            .addresses-primary,
            .addresses-additional {
                a {
                    @extend .button-default-simple;
                    &:first-child {
                        @extend .button-default;
                    }
                }
            }
            .sidebar {
                text-align: left;
                z-index: 5;
                padding: 0px;
                margin-bottom: 1em;
                @media only screen and (min-width: $screen-md) {
                    margin-bottom: 0px;
                }
                &.open {
                    .block-content {
                        height: auto !important;
                        @include transition(all .3s ease-in-out);
                    }
                }
                .block-account {
                    width: 100%;
                    display: inline-block;
                    @media only screen and (min-width: $screen-md) {
                        width: 80%;
                    }
                    .block-title {
                        background: url(../images/icon_chev_down.png) center right 15px no-repeat #fff;
                        @media only screen and (min-width: $screen-md) {
                            background: #fff;
                        }
                        border-bottom: 1px solid #ddd;
                        border-top: 1px solid #ddd;
                        font-family: $primary-mobile-font;
                        color: $product-page-product-name-color;
                        font-size: 20px;
                        text-transform: capitalize;
                        margin: 0;
                        padding: 15px;
                        float: left;
                        width: 100%;
                        @media only screen and (min-width: $screen-md) {
                            border-top: 0;
                            margin: 0 0 20px 0;
                            font-family: $primary-desktop-font;
                            font-weight: bold;
                            text-align: left;
                        }
                    }
                    .block-content {
                        background-color: #efefef;
                        overflow: hidden;
                        height: 0;
                        width: 100%;
                        @include transition(all 0.3s ease-in-out);
                        @media only screen and (min-width: $screen-md) {
                            height: auto;
                            display: inline-block;
                            background-color: #fff;
                        }
                        ul {
                            width: 100%;
                            float: left;
                            margin: 0;
                            padding: 0;
                            li {
                                border-bottom: 1px solid #e8e8e8;
                                i {
                                    width: 24%;
                                    font-size: 21px;
                                    text-align: center;
                                }
                                span {
                                    width: 70%;
                                    font-size: 17px;
                                    font-family: 'Roboto Condensed', sans-serif;
                                }
                                a {
                                    color: #000;
                                    padding: 15px;
                                    display: flex;
                                    align-items: center;
                                    &:hover {
                                        text-decoration: none;
                                        @media only screen and (min-width: $screen-md) {
                                            color: $customer-menu-color-hover;
                                        }
                                    }
                                    &:focus {
                                        text-decoration: none;
                                    }
                                }
                                &.current {
                                    background-color: $customer-menu-background-hover;
                                    color: $customer-menu-color-hover;
                                    padding: 15px;
                                    display: flex;
                                    align-items: center;
                                }
                                &:hover {
                                    @media only screen and (min-width: $screen-md) {
                                        background-color: $customer-menu-background-hover;
                                        color: $customer-menu-color-hover;
                                    }
                                    a {
                                        color: $customer-menu-color-hover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    body.customer-account {
        h1 {
            i {
                margin-right: .5em;
            }
        }
        .my-account {
            .form-horizontal {
                background-color: #f1f1f1;
                padding: 1em;
                @media screen and (min-width: $screen-sm) {
                    background-color: transparent
                }
            }
            .title-buttons {
                position: relative;
                text-align: center;
                @media screen and (min-width: $screen-sm) {
                    text-align: right;
                }
                h1 {
                    text-align: left;
                }
                .button {
                    // position: absolute;
                    // right: 0;
                    // top: 0;
                }
                a,
                span.separator {
                    position: relative;
                    //top: -42px;
                }
            }
            .fieldset h2,
            .addresses-list h2,
            .order-details h2 {
                width: 100%;
                display: inline-block;
            }
            .addresses-list h3 {
                font-size: 19px;
                font-weight: 600;
                svg {
                    width: 35px;
                    vertical-align: -.5em;
                    fill: #8e8e8e;
                }
            }
            .fieldset {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .form-group {
                .required {
                    em {
                        display: none;
                    }
                    &:after {
                        content: '*';
                        color: red;
                        float: right;
                        margin-left: 5px;
                    }
                }
                label {
                    font-weight: normal;
                }
                .checkbox-inline input[type="checkbox"] {
                    //top: auto;
                }
            }
            //ESTILOS MEUS ENDEREÇOS
            #add-address,
            #btn-save {
                @extend .button-default;
                width: 70%;
                padding: 1em;
                margin: 1em;
                border-radius: $button-border-radius;
                @media screen and (min-width: $screen-sm) {
                    width: 50%;
                    margin: 1em 10em;
                }
            }
            .link-change-address {
                @extend .button-default-simple;
            }
            .addresses-list {
                margin-top: 1em;
                clear: both;
                @media screen and (min-width: $screen-sm) {
                    clear: none;
                }
                .addresses-additional {
                    h2 {
                        font-size: 15px;
                        font-weight: bold;
                        font-style: italic;
                    }
                }
                ol {
                    li {
                        background-color: #efefef;
                        padding: .5em 2em;
                    }
                }
                .separator {
                    display: $display-separator;
                }
            }
            .billing-agreements {
                .data-table {
                    .created-at,
                    .updated-at {
                        display: none;
                    }
                }
            }
            .data-table {
                &.orders {
                    th.ship,
                    td.ship,
                    td.status,
                    th.status,
                    .date,
                    .link-reorder {
                        display: none;
                        @media screen and (min-width: $screen-sm) {
                            display: table-cell;
                        }
                    }
                    tbody {
                        td {
                            a {
                                @extend .button-default-simple;
                                padding: 5px 14px;
                                font-size: 13px;
                                border-radius: $button-border-radius;
                                &.link-reorder {
                                    @extend .button-default;
                                    padding: 6px 5px;
                                }
                            }
                            &:last-child {
                                a {
                                    padding: 5px 3px;
                                    font-size: 12px;
                                    margin-bottom: .5em;
                                    border-radius: $button-border-radius;
                                }
                            }
                        }
                    }
                }
            }
        }
        .data-table {
            margin-top: 5px;
            td {
                a {
                    font-family: $secund-desktop-font;
                    text-transform: uppercase;
                    font-style: normal;
                    font-size: 16px-s;
                }
            }
            span.nobr {
                white-space: normal;
                a {
                    white-space: nowrap;
                }
            }
            td.view {
                a {
                    display: block;
                }
            }
            .separator {
                display: none;
            }
        }
        .buttons-set {
            .back-link {
                clear: both;
                margin: 1.5em 0;
            }
            #btn-save {
                @extend .button-default;
                width: 90%;
                @media screen and (min-width: $screen-sm) {
                    width: auto;
                    float: right;
                }
            }
            p.required {
                margin-bottom: 5px;
                float: right;
                font-size: 12px;
                margin-top: 0px;
                color: red;
                @media screen and (min-width: $screen-sm) {
                    width: 100%;
                    text-align: right;
                }
            }
        }
        .box-form-edit-account {
            clear: both;
            @media screen and (min-width: $screen-sm) {
                clear: none;
            }
            .buttons-set #btn-save {
                margin: 0;
            }
        }
        .set-options {
            .alert {
                .checkbox {
                    display: inline-block;
                    margin-right: .5em;
                }
            }
        }
    }
    
    .form-list {
        .customer-dob {
            .dob-month,
            .dob-day {
                width: 40px;
                float: left;
                margin-right: 15px;
            }
            .dob-year {
                width: 80px;
                float: left;
            }
        }
    }
    /* ============================================ *
* Dashboard
* ============================================ */
    
    .my-account {
        .dashboard {
            .box-head {
                margin-top: 10px;
                border-bottom: 1px solid 1px;
                padding-bottom: 7px;
                h2 {
                    font-size: 18px;
                    font-weight: 600;
                    display: inline-block;
                    margin-bottom: 0;
                    color: darken($color-segment, 25%);
                }
                a {
                    padding: 15px;
                }
            }
            .box-title,
            .box-head {
                a {
                    @extend .button-default;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 0 .5em;
                    border-radius: $button-border-radius;
                    font-weight: normal;
                    //@media screen and (min-width: 992px) {
                    float: right;
                    margin: -1.4em 0 0 0;
                    //}
                }
            }
            .box-head {
                a {
                    float: right;
                    margin: 1.8em 0 0 0;
                    padding: .5em;
                }
            }
            .box-account {
                @media screen and (min-width: $screen-md) {
                    padding-bottom: 40px;
                    margin-bottom: 45px;
                }
                p,
                address {
                    font-family: $secund-desktop-font;
                    font-style: italic;
                }
            }
            .col2-set {
                clear: both;
                .col-1,
                .col-2 {
                    padding-bottom: 0;
                    @media screen and (min-width: $screen-md) {
                        padding-right: percentage(75/620);
                    }
                }
                .col-1 {
                    @media screen and (min-width: $screen-md) {
                        float: left;
                        width: 47%;
                    }
                }
                .col-2 {
                    @media screen and (min-width: $screen-md) {
                        float: right;
                        width: 47%;
                    }
                }
                .box {
                    padding-top: 1em;
                }
                .box-title {
                    position: relative;
                    padding-bottom: 10px;
                    @media screen and (min-width: 992px) {
                        border-bottom: 1px solid #D3D3D3;
                        margin-bottom: 1em;
                    }
                    h2,
                    h3 {
                        font-weight: 600;
                        font-size: 16px;
                        margin-bottom: 0;
                        color: darken($color-segment, 10%);
                    }
                    a {
                        line-height: (1.4 * 16px);
                    }
                }
            }
            .box-reviews {
                &.box-account {
                    padding-bottom: 0;
                }
                li {
                    padding: 15px 0;
                    border-top: 1px solid 1px-light;
                    &:first-child {
                        border-top: 0;
                    }
                    .number {
                        margin-right: -20px;
                        float: left;
                        line-height: 1.4;
                        font-size: 16px-s;
                    }
                    .details {
                        margin-left: 20px;
                        .ratings {
                            @include clearfix;
                            margin-bottom: 0;
                            strong {
                                float: left;
                                font-family: $secund-desktop-font;
                                font-size: 16px-s;
                                margin-right: 5px;
                            }
                            .rating-box {
                                float: left;
                                margin: 3px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    /* ============================================ *
* Address Book
* ============================================ */
    
    .my-account {
        .addresses-list {
            font-family: $secund-desktop-font;
            .col-1,
            .col-2 {
                padding-bottom: 0;
            }
            .item {
                margin: 0 0 10px 0;
                p {
                    margin-top: 15px;
                }
            }
            @media screen and (min-width: $screen-md) {
                .col-1,
                .col-2 {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    li.empty {
                        width: 100%;
                    }
                }
            }
            @media screen and (min-width: $screen-sm) {
                .addresses-additional {
                    p {
                        a {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    /* ============================================ *
* Order View
* ============================================ */
    
    .order-info {
        padding-bottom: 15px;
        border-bottom: 1px solid 1px-light;
        width: 100%;
        margin-bottom: 10px;
        dt,
        dd,
        ul,
        li {
            display: inline;
        }
        dt {
            margin-right: (15px*2);
        }
        li {
            margin: 0 0 0 (15px*2);
            &.current {
                font-weight: 600;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    
    .order-date {
        font-family: $secund-desktop-font;
        text-transform: uppercase;
    }
    
    .order-info-box {
        margin-bottom: 40px;
        margin-top: 20px;
        +.order-info-box {
            padding-bottom: 40px;
            border-bottom: 1px solid 1px-light;
        }
        .col-1 {
            @media screen and (min-width: $screen-md) {
                padding-right: 0;
                width: 48%;
            }
        }
        .col-2 {
            @media screen and (min-width: $screen-md) {
                width: 52%;
            }
        }
        .col-1,
        .col-2 {
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
        }
        .box-title {
            padding-right: 15px;
            float: left;
            h2 {
                font-size: 19px;
                font-family: $secund-desktop-font;
                font-weight: bold;
                line-height: 1.5;
                svg {
                    height: 35px;
                    vertical-align: -10px;
                    margin-right: .5em;
                    fill: #828282;
                }
                &:after {
                    content: ':';
                }
            }
        }
        .box-content {
            float: left;
            font-family: $secund-desktop-font;
            td,
            th {
                font-family: $secund-desktop-font;
                line-height: 1.3;
            }
            th {
                padding-top: 15px;
            }
            td {
                padding-left: 10px-small;
            }
            strong {
                font-family: $secund-desktop-font;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
    }
    
    #my-orders-table {
        .option-label {
            margin-left: 15px;
            font-weight: 600;
            font-style: italic;
        }
        .option-value {
            margin-left: 15px * 2;
        }
        tr.bundle:not(:last-child) td {
            border-bottom: none;
            border-top: none;
        }
    }
    
    ol#cart-sidebar-reorder {
        li {
            margin-top: 15px;
            margin-bottom: 0;
            input {
                margin-right: 10px;
            }
        }
        p.product-name {
            display: inline;
        }
    }
    /* ============================================ *
* WISHLIST CUSTOMER
* ============================================ */
    
    .my-wishlist {
        .products-grid .item .link-wishlist {
            display: block;
        }
    }
    
    .form-sharing-wishlist {
        h2 {
            margin: 0 0 1em 0;
            font-size: 16px;
            color: #666;
        }
        .form-list {
            label {
                color: darken($color-segment, 30%);
                margin-top: 1em;
                em {
                    color: red;
                }
            }
        }
        .buttons-set p.required {
            margin-bottom: 2em;
            text-align: left;
        }
        button {
            @extend .button-default;
        }
    }
    
    @media screen and (min-width: $screen-sm) {
        #my-orders-table {
            .option-label {
                margin-left: 20px;
            }
            .option-value {
                margin-left: 35px;
            }
            td[data-rwd-label=Qty] .nobr {
                br {
                    display: none;
                }
                strong {
                    margin-right: 15px;
                }
            }
            tr.bundle {
                border-color: 1px-light;
            }
            tr.bundle.child {
                td[data-rwd-label] {
                    padding-left: 60px;
                }
            }
            tbody:last-child tr:last-child {
                td {
                    padding-bottom: 10px;
                    border-bottom: 0;
                    &:last-child {
                        padding-bottom: 10px-small;
                    }
                }
            }
            tfoot tr.shipping {
                margin-top: 0;
            }
        }
    }
    
    .order-additional {
        margin: 40px 0;
    }
    
    .order-gift-message {
        dd {
            margin-top: 15px;
        }
    }
    
    @media screen and (min-width: $screen-lg) {
        .dashboard {
            .col2-set {
                .col-1,
                .col-2 {
                    padding-right: 10px;
                    padding-bottom: 0;
                }
            }
        }
        body.customer-account {
            .data-table {
                td.view a {
                    white-space: normal;
                }
            }
        }
    }
    
    @media screen and (min-width: $screen-lg) {
        body.customer-account {
            .my-account {
                .title-buttons {
                    text-align: left;
                    span.separator,
                    a {
                        top: -12px;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: $screen-md) {
        body.customer-account {
            .data-table {
                &.orders {
                    th.ship,
                    td.ship,
                    td.status,
                    th.status {
                        display: none;
                    }
                }
            }
        }
        .order-info-box {
            .box-content {
                clear: left;
                line-height: 23px;
            }
        }
        .addresses-list {
            .item {
                float: left;
                width: 50%;
                padding-right: 10px;
            }
        }
        .order-info {
            dt {
                display: none;
            }
        }
        .my-account {
            .dashboard {
                .page-title {
                    margin-top: 20px;
                    h1 {
                        margin-top: 0;
                    }
                }
                .welcome-msg {
                    font-family: $secund-desktop-font;
                    .hello {
                        font-style: italic;
                    }
                }
                .box-account {
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    @media screen and (min-width: $screen-sm) {
        body.customer-account {
            .my-account {
                .form-list {
                    .control {
                        padding-left: 0;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: $screen-xs) {
        body.customer-account {
            .my-account {
                .page-title {
                    h1 {
                        text-align: center;
                    }
                }
                .title-buttons {
                    text-align: center;
                    .button {
                        width: 100%;
                        position: static;
                        margin-bottom: 10px-small;
                        +.button {
                            margin-left: 0px;
                        }
                    }
                }
                .fieldset {
                    h2 {
                        font-size: 18px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        padding-bottom: .5em;
                    }
                }
                .order-details h2 {
                    margin-bottom: 10px-small;
                }
                .buttons-set {
                    border-top: 0;
                }
                .addresses-list {
                    .item {
                        margin-bottom: 10px-small;
                        padding-right: 0;
                        float: none;
                        width: auto;
                    }
                    h2 {
                        margin-bottom: 10px-small;
                    }
                }
                .col2-set {
                    .col-1,
                    .col-2 {
                        width: 48%;
                        padding-right: 0;
                        padding-left: 0;
                    }
                    .col-1 {
                        float: left;
                        margin-right: 4%;
                    }
                    .col-2 {
                        float: right;
                    }
                }
            }
        }
        .order-info {
            margin-top: 10px-small;
        }
        .data-table {
            &.orders {
                .link-reorder,
                .date {
                    display: none;
                }
                td.view {
                    text-align: right;
                }
            }
        }
        .dashboard {
            .col2-set {
                .col-1,
                .col-2 {
                    width: 100%;
                    margin-top: 10px-small;
                }
            }
        }
        .order-info-box {
            margin: 0;
            .col-1,
            .col-2 {
                width: 100%;
                border-bottom: 1px solid 1px-light;
                padding: 10px-small 0;
            }
            +.order-info-box {
                padding-bottom: 0;
                border-bottom: 0;
                margin-bottom: 10px;
            }
        }
        #my-reviews-table {
            .nobr {
                white-space: normal;
            }
        }
    }
    
    body.customer-account {
        .my-account {
            .box-info {
                .box-content {
                    a {
                        @extend .button-default-simple;
                        padding: 3px 5px;
                        margin-top: 1em;
                        font-style: normal;
                        border-radius: $button-border-radius;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
    #my-orders-table {
        thead {
            th {
                &.total {
                    width: 38%;
                    @media screen and (min-width: $screen-md) {
                        width: 20%;
                    }
                }
                &.view {
                    width: 21%;
                }
            }
        }
    }
    
    .sales-order-history {
        #my-orders-table {
            thead {
                th {
                    &.status {
                        width: 17%;
                    }
                }
            }
        }
    }
    
    .customer-account-index {
        .box-content {
            address {
                border-bottom: 1px solid rgba(#000000, 0.31);
                padding: 0 0 1em 0;
                @media screen and (min-width: $screen-md) {
                    border: 0;
                }
            }
            .col-2 {
                address {
                    border: 0;
                }
            }
        }
    }
    
    .order-details {
        .track-codes {
            clear: both;
            padding: 2em 3em;
            border-radius: $button-border-radius;
            p {
                font-family: $primary-desktop-font;
            }
        }
        .table-caption {
            display: block;
            text-transform: uppercase;
            font-weight: bold;
        }
        #my-orders-table {
            thead {
                display: none;
                @media screen and (min-width: $screen-md) {
                    display: table-header-group;
                }
            }
            tbody {
                border-bottom: 1px solid rgba(#000000, 0.1);
            }
            tr {
                display: block;
                margin-bottom: 10px;
                padding-bottom: 10px;
                position: relative;
                width: 100%;
                clear: both;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                @media screen and (min-width: $screen-md) {
                    display: table-row;
                    border: 0;
                }
            }
            td {
                line-height: normal;
                background: #fff;
                font-weight: normal;
                border: none;
                display: block;
                text-align: left;
                @media screen and (min-width: $screen-md) {
                    display: table-cell;
                    vertical-align: middle;
                }
                &[data-rwd-label="SKU"] {
                    display: none;
                    @media screen and (min-width: $screen-md) {
                        display: table-cell;
                        width: 18%;
                    }
                }
                &[data-rwd-label="Qtd"] {
                    @media screen and (min-width: $screen-md) {
                        width: 12%;
                        text-align: right;
                    }
                }
            }
            tfoot {
                .a-right {
                    @media screen and (min-width: $screen-md) {
                        text-align: right;
                    }
                }
            }
        }
    }
    
    .title-order {
        .content-button {
            clear: both;
            padding-top: 1em;
            text-align: center;
            @media screen and (min-width: $screen-md) {
                margin: 2em 0 -1em 0;
            }
            .link-reorder {
                @extend .button-default;
            }
            .link-print {
                @extend .button-default-simple;
            }
            .separator {
                display: none;
            }
        }
    }
    
    .sales-order-view {
        .order-date {
            background-color: $button-default-background-color;
            color: $button-default-font-color;
            padding: 1em;
        }
        .order-info-box {
            .col-1,
            .col-2 {
                background-color: #efefef;
                padding: .5em 2em!important;
            }
        }
    }
    
    .stepwizard-step {
        .arrow-down {
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            left: 45.5%;
            bottom: 42%;
            &.active {
                border-top: 10px solid #33bb2f;
            }
            &.desactive {
                border-top: 10px solid #fff;
            }
        }
        .arrow-down-svg {
            width: 20px;
            position: absolute;
            left: 45.5%;
            bottom: 42%;
            &.active {
                fill: #55BA0B;
            }
            &.desactive {
                fill: #e6e6e6;
            }
        }
        p {
            margin-top: 10px;
            font-size: 12px;
            &.active {
                color: #55BA0B;
            }
            &.desactive {
                color: #b1b1b1;
            }
        }
        .fa-check {
            color: #55BA0B;
        }
    }
    
    .stepwizard-row {
        display: flex;
    }
    
    .stepwizard {
        display: block;
        width: 100%;
        position: relative;
        margin: 4em 0 0 0;
        clear: both;
    }
    
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    
    .stepwizard-row:before {
        top: 14px;
        left: 11%;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 78%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }
    
    .stepwizard-step {
        flex-basis: 25%;
        text-align: center;
        position: relative;
    }
    
    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        background-color: #e6e6e6;
        color: #979ca1;
        &.status-check {
            background-color: #55BA0B;
            color: #fff;
        }
    }
    
    .sales-order-print {
        h1 {
            text-transform: uppercase;
            font-size: 15pt;
            padding: .5em;
        }
        .order-date {
            text-transform: uppercase;
            font-size: 13pt;
            padding: .5em;
        }
        .col2-set {
            .col-1,
            .col-2 {
                width: 50%;
                float: left;
            }
        }
    }
    
    .customer-address-form {
        .my-account {
            .page-title {
                float: none!important;
                clear: both;
                @media screen and (min-width: $screen-md) {
                    float: left;
                    clear: none;
                }
            }
            #form-validate {
                clear: both;
                margin-top: 2em;
                @media screen and (min-width: $screen-md) {
                    clear: none;
                }
                .form-list .control input.checkbox {
                    margin-top: -1px !important;
                }
            }
        }
    }
    
    .box-payment-info {
        clear: both;
        .cta-payment-info {
            @extend .button-addtocart;
            text-align: center;
            margin: 1em 0;
        }
    }
    /* ============================================ *
* Newsletter Subscriptions
* ============================================ */
    
    body.newsletter-manage-index .my-account {
        .fieldset {
            margin-bottom: 20px;
        }
        .fieldset h2 {
            display: none;
        }
        .form-list {
            border-top: 1px solid #eee;
            padding-top: 10px;
            input {
                &.checkbox {
                    float: left;
                }
            }
            label {
                margin: .2em 0 0 1em;
            }
        }
        .buttons-set {
            button {
                span {
                    span {
                        @extend .button-default-simple;
                    }
                }
            }
        }
    }
    
    .wishlist-empty {
        text-align: center;
        font-size: 16px;
        color: darken($color-segment, 30%);
        margin: 1.5em 0;
    }
    
    #current_password+span {
        font-size: 12px;
        margin: 1em 0 0 0;
        display: block;
        letter-spacing: 1px;
        line-height: 1.2em;
    }
    
    .box-form-edit-account {
        .checkbox-inline input[type="checkbox"] {
            top: auto;
        }
        .form-list .customer-dob .dob-month,
        .form-list .customer-dob .dob-day,
        .form-list .customer-dob .dob-year {
            width: 86% !important;
        }
    }