/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.failure-content{
  padding-top: 1.5em;
  .msg-default{
    .box-ico{
      text-align: right;
      padding-top: 2em;
      svg{
        margin: 0 4em 0 0;
        fill: rgb(187, 44, 44);
        width:185px;
      }
    }
    .box-msg{
      text-align: left;
      padding: 3.5em 0 0 0;
      .msg-fail{
        font-weight: bold;
        color: #d42f2f;
      }
      .link-reorder{
        @extend .button-addtocart;
        width: auto;
        margin-top: .5em;
        text-transform: uppercase;
        &:hover{
          text-decoration: none;
        }
      }
    }

    p{
      color: #6e6e6e;
      font-size: 23px;
      font-weight: 300;
      //margin-bottom: 1em;
      line-height: 28px;
      &.thanks{
        color: darken($color-segment, 20%);
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .section-resume-sale{
    clear: both;
    margin-top: 1em;
    h4{
      @extend .title-h4-section;
    }
    .resume-shipping-address,
    .resume-billing-address{
      h5{
        background-color: rgba(0, 0, 0, 0.14);
        padding: .9em;
        margin-bottom: 0;
      }
      .info-address{
        background-color: rgba(0, 0, 0, 0);
        padding: 1em;
        margin-bottom: 1.5em;
        color: #5f5f5f;
        line-height: 21px;
        border: 1px solid rgba(0, 0, 0, 0.11);
      }
    }
    .resume-shipping-address{
      padding-left: 0;
    }
    .resume-billing-address{
      padding-right: 0;
    }

    .resume-itens{
      .data-table{
        td{
          padding: 1.2em;
        }
      }
      .info-totals{
        //text-align: right;
        padding: 1em;
        background-color: #e6e6e6;
        float: right;
        width: 100%;
        @media only screen and (min-width : $screen-md) {
          width: 20%;
          font-size: 12px;
        }
        ul{
          li{
            padding: .5em 0;
            .price{
              float: right;
            }
            &.total{
              border: 1px solid rgba(#000000, 0.17);
              border-right: 0;
              border-left: 0;
              .price{
                font-size: 17px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
