/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.cms-index-index {    
    .owl-carousel{ 
        .owl-prev{
            position: absolute;
            left: 1%;
            top: 45%;
            @media screen and (max-width: $screen-md) {
                left: 3%;
                top: 36%;
            }
            img{
                @media screen and (max-width: $screen-md) {
                    width: 15px;
                    height: auto; 
                }
            }
        }
        .owl-next{
            position: absolute;
            right: 1%;
            top: 45%;
            @media screen and (max-width: $screen-md) {
                right: 3%;
                top: 36%;
            }
            img{
                width: 15px;
                height: auto;
            }
        }
    }
    .home-5 {
        .one-column {
            img {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
    .home-7 {
        .one-column {
            img {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
    // Banner principal
    .home-1 {
        .owl-nav {
            margin-top: -40px;
            top: 50%;
            text-align: center;
            position: absolute;
            width: 100%;
            display: none;
            @media only screen and (min-width: $screen-md) {
                margin-top: -20px;
                display: block;
            }
            .owl-prev,
            .owl-next {
                position: absolute;
                color: #FFF;
                display: inline-block;
                zoom: 1;
                margin: 5px;
                padding: 3px 10px;
                font-size: 12px;
                border-radius: 30px;
                background-color: transparent;
                opacity: 0.5;
                @include transition(all .3s);
                @media only screen and (min-width: $screen-md) {
                    background-color: #000;
                    width: 62px;
                    height: 62px;
                }
                img {
                    margin-top: 7px;
                }
                &:hover {
                    opacity: 1;
                    @include transition(all .3s);
                }
            }
            .owl-prev {
                left: 24px;
                img {
                    @include transform(translateX(7px));
                }
            }
            .owl-next {
                right: 24px;
                img {
                    @include transform(translateX(13px));
                }
            }
        }
        .owl-dots {
            margin-top: 15px;
            text-align: center;
            width: 100%;
            @media only screen and (min-width: $screen-md) {
                display: none;
            }
            .owl-dot {
                background: #e5e5e5;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                display: inline-block;
                margin: 2px;
                &.active {
                    background: #ff0000;
                }
            }
        }
    }
    // Pitbar
    .home-2 {
        border-bottom: 1px solid #eee;
        padding: 0;
        margin-bottom: 1em;
        display: inline-block;
        width: 100%;
        @media only screen and (min-width: $screen-md) {
            padding: 30px 0;
            margin-bottom: 30px;
        }
        .flex-grid {
            display: inline-block;
            width: 100%;
            @media only screen and (min-width: $screen-md) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .column {
                width: 100%;
                display: inline-block;
                text-align: center;
                padding: 20px 34px;
                float: left;
                @media only screen and (min-width: $screen-xs) {
                    width: 50%;
                    max-width: 49%;
                    padding: 20px 34px;
                    min-height: 80px;
                }
                @media only screen and (min-width: $screen-md) {
                    width: auto;
                    padding: 0px 34px;
                    min-height: auto;
                }
                img {
                    display: table;
                    margin: 0 auto;
                }
            }
        }
    }
    .three-columns {
        .col-1,
        .col-2,
        .col-3 {
            padding: 0;
        }
        img {
            width: 100%;
        }
    }
    .two-column {
        .col-1,
        .col-2 {
            img {
                width: 100%;
            }
        }
    }
    .category-title {
        font-family: $primary-mobile-font;
        margin: 1em 0;
        border-bottom: 0;
        text-align: left;
        display: inline-block;
        width: 100%;
        letter-spacing: 4px;
        @media only screen and (min-width: $screen-sm) {
            font-family: $primary-desktop-font;
            border-bottom: 1px solid #eee;
            letter-spacing: 1px;
            margin: 30px 0;
        }
        h2 {
            padding: 0;
            margin: 0;
            position: relative;
            display: inline-block;
            font-weight: bold;
            font-size: 26px;
            text-align: center;
            width: 100%;
            @media only screen and (min-width: $screen-sm) {
                font-size: 32px;
                text-align: left;
                width: auto;
                padding: 20px 0px 10px 0px;
            }
        }
        i,
        em {
            text-transform: lowercase;
            margin-left: 10px;
            font-size: 18px;
            display: none;
            @media only screen and (min-width: $screen-sm) {
                font-size: 26px;
                display: inline-block;
            }
        }
        .view-more {
            font-family: $primary-desktop-font;
            font-size: 14px;
            font-style: italic;
            font-weight: bold;
            color: #000;
            margin-top: 40px;
            float: right;
            display: none;
            @media only screen and (min-width: $screen-sm) {
                display: block;
            }
            img {
                float: left;
                margin: 5px;
            }
        }
    }
    .home-product-carousel {
        .category-products {
            width: 100%;
            display: inline-block;
            @media only screen and (min-width: $screen-sm) {
                //width: calc(100% + 30px);
                //margin: 0 -15px;
            }
            &.carousel {
                width: calc(100% + 30px);
                margin: 0 -15px;
                padding: 0 40px;
                @media only screen and (min-width: $screen-sm) {
                    padding: 0 0px;
                    margin: 0 -10px;
                    width: calc(100% + 10px);
                }
            }
            .owl-nav {
                margin-top: -40px;
                margin-left: -40px;
                top: 50%;
                text-align: center;
                position: absolute;
                width: calc(100% + 80px);
                @media only screen and (min-width: $screen-sm) {
                    margin-top: -20px;
                    margin-left: -50px;
                    width: calc(100% + 100px);
                }
                .owl-prev,
                .owl-next {
                    position: absolute;
                    color: #FFF;
                    display: inline-block;
                    zoom: 1;
                    margin: 5px;
                    padding: 3px 10px;
                    font-size: 12px;
                    border-radius: 30px;
                    background: transparent;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
                .owl-prev {
                    left: 5px;
                }
                .owl-next {
                    right: 5px;
                }
            }
        }
    }
    .products-grid {
        margin-bottom: 0;
        @media only screen and (min-width: $screen-sm) {
            margin-bottom: 1.5em;
        }
    }
    .depoimentos {
        background: #FAFAFA;
        border-top: 1px solid #eee;
        margin-top: 50px;
        .listagem-depoimento {
            display: flex;
            align-items: center;
            margin-bottom: 60px;
            .item-depoimento {
                font-family: $primary-desktop-font;
                padding: 50px 25px 30px 35px;
                background: url(../images/icon_quotes.png) top left no-repeat;
                span {
                    font-size: 18px;
                    line-height: 32px;
                }
                h3 {
                    font-size: 28px;
                }
                table {
                    margin-top: 30px;
                    margin-left: -30px;
                    td {
                        &:last-child {
                            padding-left: 20px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.section-home {
    >.content {
        display: grid;
        grid-template-columns: repeat(13, 7.7%);
        grid-row-gap: 2em;
    }
}

.block-home {
    width: 100%;
    &.-g1 {
        grid-row: 1;
        grid-column: 1 / span 13;   
        .ibanners-wrapper{
            .item{
                img{
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }     
    }
    &.-g2 {
        grid-row: 2;
        grid-column: 1 / span 13;
        .ibanners-wrapper{
            .item{
                img{
                    width: auto;
                    margin: 0 auto;
                }
            }
        }     
    }
    &.-g3 {
        grid-row: 3;
        grid-column: 2 / span 3;
        @media screen and (max-width: $screen-sm) {
            grid-row: 3;
            grid-column: 2 / span 11;    
        }
        img{
            @media screen and (max-width: $screen-sm) {
               width: 100%;
            }
        }
    }
    &.-g4 {
        grid-row: 3;
        grid-column: 6 / span 3;
        margin: 0 0 0 -19px;
        @media screen and (max-width: $screen-sm) {
            grid-row: 4;
            grid-column: 2 / span 11;
            margin: 0;  
        }
        img{
            @media screen and (max-width: $screen-sm) {
               width: 100%;
            }
        }
    }
    &.-g5 {
        grid-row: 3;
        grid-column: 10 / span 3;
        margin: 0 0 0 -36px;
        @media screen and (max-width: $screen-sm) {
            grid-row: 5;
            grid-column: 2 / span 11; 
            margin: 0;  
        }
        img{
            @media screen and (max-width: $screen-sm) {
               width: 100%;
            }
        }
    }
    &.-g6 {
        grid-row: 4;
        grid-column: 2 / span 11;
        @media screen and (max-width: $screen-sm) {
            grid-row: 6;
            grid-column: 2 / span 11; 
        }
        img{
            @media screen and (max-width: $screen-sm) {
               width: 100%;
            }
        }
        
    }
    &.-g7 {
        grid-row: 5;
        grid-column: 2 / span 11;
        @media screen and (max-width: $screen-sm) {
            grid-row: 7;
            grid-column: 2 / span 11;
        }
        img{
            @media screen and (max-width: $screen-sm) {
               width: 100%;
            }
        }
    }
    &.-g8 {
        grid-row: 6;
        grid-column: 2 / span 5;
        @media screen and (max-width: $screen-sm) {
            grid-row: 8;
            grid-column: 2 / span 11;
        }
    }
    &.-g9 {
        grid-row: 6;
        grid-column: 8 / span 5;
        @media screen and (max-width: $screen-sm) {
            grid-row: 9;
            grid-column: 2 / span 11;
        }
    }
    &.-g10 {
        grid-row: 7;
        grid-column: 2 / span 11;
        @media screen and (max-width: $screen-sm) {
            grid-row: 10;
            grid-column: 2 / span 11;
        }
        img{
            @media screen and (max-width: $screen-sm) {
               width: 100%;
            }
        }
    }
    &.-g11 {
        grid-row: 8;
        grid-column: 2 / span 11;
        @media screen and (max-width: $screen-sm) {
            grid-row: 11;
            grid-column: 2 / span 11;
        }
    }
    &.-g12 {
        grid-row: 9;
        grid-column: 2 / span 11;
        @media screen and (max-width: $screen-sm) {
            grid-row: 12;
            grid-column: 2 / span 11;
        }
    }
    &.-g13 {
        grid-row: 10;
        grid-column: 2 / span 11;
        @media screen and (max-width: $screen-sm) {
            grid-row: 13;
            grid-column: 2 / span 11;
        }
    }
    >img {
        width: initial;
    }
    >p>img {
        width: 100%;
    }
}