/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.customer-account-login,
.customer-account-forgotpassword {
    .account-login {
        width: 100%;
        float: left;
        padding: 50px 0;
        .frame {
            background: $login-frame-background;
            padding: 30px;
            margin-bottom: 30px;
            @media screen and (min-width: $screen-md) {
                min-height: 345px;
            }
            h2,
            h1 {
                font-family: $primary-mobile-font;
                color: $default-text-color;
                font-size: 28px;
                padding: 0 0 30px 0;
                margin: 0;
                font-weight: bold;
                @media screen and (min-width: $screen-md) {
                    font-weight: normal;
                    font-family: $primary-desktop-font;
                }
            }
            p {
                border-bottom: 1px solid #ddd;
                margin-bottom: 20px;
                padding-bottom: 20px;
            }
            label {
                font-weight: normal;
            }
            .forgot-pass {
                padding: 10px 0;
                display: inline-block;
                float: left;
                @media screen and (min-width: $screen-md) {
                    float: right;
                }
            }
            .btn-login,
            .btn-register,
            .btn-forgot-password {
                @extend .button-default;
            }
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                min-height: 378px;
            }
        }
    }
}

.pslogin-block {
    text-align: center;
    background-color: #EFEFEF;
    padding: 1em;
    @media screen and (min-width: $screen-md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .call-access {
        font-size: 18px;
        font-family: $primary-desktop-font;
        margin-right: .5em;        
        display: inline-block;
        @media screen and (min-width: $screen-md) {
            font-size: 26px;
        }
    }
    .pslogin-buttons {
      margin-top: .5em;
        ul {
            margin: 0;
        }
    }
}

.table-spacer {
    width: 100%;
    margin: 1.5em 0;
    .td-border-1 {
        width: 4%;
        padding-left: 36.5%;
        @media screen and (min-width: $screen-md) {
            padding-left: 45.5%;
        }
    }
    .pslogin-bordertext {
        width: 2%;
        color: #848484;
    }
    .pslogin-border {
        border-top: 1px solid #b1b1b1;
        width: 20px;
        height: 1px;
        margin: 0 .5em;
    }
}