/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.catalog-product-view {
    .panel-group {
        float: left;
        width: calc(100% + 60px);
        margin: 30px -30px 30px -30px;
        .panel-default {
            border-color: transparent;
            float: left;
            width: 100%;
            &+.panel {
                margin-top: 0;
            }
            .panel-heading {
                background: transparent;
                border: 0;
                border-bottom: 1px solid #ccc;
                float: left;
                width: 100%;
                padding: 10px 30px;
                .panel-title {
                    position: relative;
                    float: left;
                    width: 100%;
                    font-family: $primary-desktop-font;
                    font-size: 16px;
                    text-transform: uppercase;
                    img {
                        width: 24px;
                        display: inline-block;
                        margin-right: 15px;
                        vertical-align: -5px;
                        margin-left: -15px;
                    }
                    a {
                        float: left;
                        width: 100%;
                        &.collapsed {
                            .img-seta {
                                @include transform(rotate(-90deg));
                                @include transition(all .3s);
                            }
                        }
                        .img-seta {
                            width: 10px;
                            position: absolute;
                            right: -1.5em;
                            top: 3px;
                            @include transform(rotate(90deg));
                            @include transition(all .3s);
                        }
                    }
                }
            }
            .panel-body {
                float: left;
                width: 100%;
            }
        }
    }
    .media {
        position: relative;
        width: 100%;
        float: left;
        margin-bottom: 30px;
        overflow: visible;
        .loading-svg {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 99999999;
        }
        &.loading {
            .product-image {
                opacity: 0.5;
            }
            .loading-svg {
                display: block;
            }
        }
        @media only screen and (min-width: $screen-md) {
            margin-bottom: 60px;
        }
        .product-image {
            position: relative;
            display: block;
            width: 100%;
            z-index: 0;            
            .product-video{
                iframe{
                    width: 100%;
                    min-height: 450px;
                    margin: 90px 0 0 0;
                }
            }
            .owl-stage-outer {
                @include transform(scale(0.9));
                .owl-item {
                    a {
                        width: 100%;
                        float: left;
                        &>img {
                            width: 100%;
                            float: left;
                        }
                    }
                }
            }
            .easyzoom-flyout {
                img {
                    width: auto;
                    cursor: pointer;
                }
            }
            .owl-stage-outer {
                z-index: 9;
            }
            .owl-nav {
                position: absolute;
                top: 45%;
                left: 0;
                width: 100%;
                z-index: 8;
                display: none;
                @media only screen and (min-width: $screen-md) {
                    display: block;
                }
                .owl-prev {
                    width: 23px;
                    height: 45px;
                    background: url(../images/product_slider_left.png) center center;
                    float: left;
                    &:hover {
                        background: url(../images/product_slider_left_hover.png) center center;
                    }
                }
                .owl-next {
                    width: 23px;
                    height: 45px;
                    background: url(../images/product_slider_right.png) center center;
                    float: right;
                    &:hover {
                        background: url(../images/product_slider_right_hover.png) center center;
                    }
                }
            }
            .owl-dots {
                position: absolute;
                bottom: -1em;
                z-index: 9;
                width: 100%;
                text-align: center;
                @media only screen and (min-width: $screen-md) {
                    // width: auto;
                    right: 0;
                    bottom: 30px;
                }
                .owl-dot {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 1px solid $product-page-image-pagination-border-color;
                    display: inline-block;
                    margin: 3px;
                    background: $product-page-image-pagination-border-color;
                    &.active {
                        border-color: $product-page-image-pagination-border-color-active;
                        background: $product-page-image-pagination-border-color-active;
                    }
                }
            }
        }
        .galery-legend {
            position: relative;
            @media only screen and (min-width: $screen-md) {
                display: block;
            }
            img {
                float: left;
            }
            span {
                float: left;
                margin-left: 5px;
                font-size: 11px;
                line-height: 14px;
            }
        }
        .more-views {
            width: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            img {
                margin: 3px;
                height: 70px;
                width: auto;
                &.play-video{
                    padding: 13px;
                    width: 50px;
                    opacity: 0.7;
                }
            }            
        }
    }
    .product-view {
        width: 100%;
        float: left;
        .product-info,
        .floating-addtocart {
            .product-name {
                width: 100%;
                float: left;
                @media only screen and (min-width: $screen-md) {
                    // width: 100%;
                    margin-bottom: 15px;
                }
                small {
                    font-size: 10px;
                    color: $product-page-product-name-ref-color;
                    float: right;
                    width: 100%;
                    @media only screen and (min-width: $screen-md) {
                        font-size: 10px;
                    }
                }
                h1,
                h2 {
                    font-family: $primary-mobile-font;
                    color: $product-page-product-name-color;
                    font-size: 16px;
                    text-transform: capitalize;
                    margin: 0px;
                    padding: 5px 0;
                    width: 100%;
                    float: left;
                    @media only screen and (min-width: $screen-md) {
                        font-size: 28px;
                        font-family: $primary-desktop-font;
                        font-weight: bold;
                    }
                }
            }
            .price-box-content {
                width: 45%;
                float: right;
                text-align: right;
                margin-bottom: 20px;
                @media only screen and (min-width: $screen-md) {
                    text-align: left;
                    width: 100%;
                    float: left;
                    margin-bottom: 15px;
                }
                .old-price {
                    margin-bottom: 4px;
                    .price-label {
                        display: none;
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-old;
                        font-size: 13px;
                        text-decoration: line-through;
                        font-weight: lighter;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 15px;
                        }
                    }
                }
                .special-price,
                .regular-price {
                    margin-bottom: 4px;
                    @media only screen and (min-width: $screen-md) {
                        margin: 6px 0;
                    }
                    .price-label {
                        display: none;
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-special;
                        font-size: 18px;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 32px;
                        }
                    }
                }
                .price-parcelado {
                    margin-bottom: 4px;
                    @media only screen and (min-width: $screen-md) {}
                    .product-only {
                        display: inline-block;
                        font-size: 11px;
                        color: $product-page-price-instalments;
                        margin-right: 5px;
                        font-weight: lighter;
                        display: none;
                        @media only screen and (min-width: $screen-md) {
                            display: inline-block;
                            font-size: 14px;
                        }
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-special;
                        font-size: 16px;
                        margin-right: 5px;
                        font-weight: lighter;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 22px;
                        }
                    }
                }
                .price-billet {
                    display: inline-block;
                    font-size: 11px;
                    color: $product-page-price-instalments;
                    margin-right: 5px;
                    @media only screen and (min-width: $screen-md) {
                        font-weight: lighter;
                        font-size: 14px;
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-special;
                        font-size: 14px;
                        margin-right: 5px;
                        font-weight: lighter;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 20px;
                        }
                    }
                }
                .installment-options-popup {
                    position: relative;
                    width: 100%;
                    float: left;
                    margin-top: 10px;
                    .installment-options {
                        z-index: 999999;
                        margin: 180px auto;
                        width: 100%;
                        float: left;
                    }
                    .modal-dialog {
                        z-index: 999999;
                    }
                    .modal-content {
                        border-radius: 0 !important;
                        width: 100%;
                        float: left;
                        .modal-body {
                            padding: 20px !important;
                            width: 100%;
                            float: left;
                        }
                        .btn-close-popup {
                            @extend .button-default;
                        }
                    }
                    .link-pop-installment {
                        border: 0px;
                        background: transparent;
                        text-decoration: none;
                        font-size: 10px;
                        padding: 5px 0;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 12px;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .availability {
                &.out-of-stock {
                    padding: 10px;
                    background: #ff0000;
                    color: #fff;
                    font-family: $primary-mobile-font;
                    display: inline-block;
                    font-size: 16px;
                    width: auto;
                    margin: 5px 0;
                    text-align: center;
                    @media only screen and (min-width: $screen-md) {
                        font-family: $primary-desktop-font;
                        font-size: 18px;
                        width: 100%;
                    }
                }
            }
            .seals-1 {
                width: 100%;
                float: left;
                border-top: 1px dotted $product-page-options-row-border-color;
                border-bottom: 1px dotted $product-page-options-row-border-color;
            }
            .product-options-wrapper,
            .simple-product {
                width: 100%;
                float: left;
                .product-options {
                    width: 100%;
                    float: left;
                    padding: 0px;
                    p.required {
                        display: none;
                    }
                    .product-option {
                        width: 100%;
                        float: left;
                        padding: 5px 0;
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;
                        border-top: 1px dotted $product-page-options-row-border-color;
                        &.last {
                            border-bottom: 1px dotted $product-page-options-row-border-color;
                        }
                        label {
                            float: left;
                            font-weight: lighter;
                            text-transform: uppercase;
                            font-size: 13px;
                            display: none;
                            margin-right: 15px;
                            font-weight: lighter;
                            font-family: $primary-mobile-font;
                            @media only screen and (min-width: $screen-md) {
                                display: block;
                            }
                        }
                        .options {
                            display: inline-block;
                            text-align: center;
                            width: 100%;
                            flex: 3;
                            @media only screen and (min-width: $screen-md) {
                                text-align: left;
                                width: auto;
                            }
                            ul {
                                display: inline-block;
                                text-align: center;
                                width: 100%;
                                margin: 0;
                                @media only screen and (min-width: $screen-md) {
                                    text-align: left;
                                    width: auto;
                                }
                                li {
                                    display: inline-block;
                                    float: none;
                                    img {
                                        margin: 3px;
                                        padding: 0px;
                                        border: 0px;
                                        outline: 1px solid #ddd;
                                        outline-offset: -1px;
                                        width: 40px;
                                        height: 40px;
                                        @media only screen and (min-width: $screen-md) {
                                            width: 30px;
                                            height: 30px;
                                        }
                                    }
                                    .swatchSelected {
                                        outline: 1px solid #000;
                                    }
                                    &:hover {
                                        img {
                                            outline: 1px solid #000;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .qty-holder {
                        width: 100%;
                        float: left;
                        padding: 5px 0;
                        display: flex;
                        align-items: center;
                        clear: both;
                        flex: -1;
                        margin-top: 5px;
                        label {
                            float: left;
                            font-weight: lighter !important;
                            text-transform: uppercase;
                            font-size: 13px;
                            display: none;
                            margin-right: 15px;
                            font-weight: lighter;
                            font-family: $primary-mobile-font;
                            @media only screen and (min-width: $screen-md) {
                                display: block;
                            }
                        }
                        .qty-wrapper {
                            padding: 5px;
                            border: 1px solid #ddd;
                            color: #000;
                            display: inline-block;
                            height: 35px;
                            line-height: 35px;
                            float: left;
                            margin: 0px;
                            background-color: #fff;
                            .btn-minus {
                                color: $product-page-qty-btn-color;
                                float: left;
                                width: 30px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                                cursor: pointer;
                                &:hover {
                                    color: $product-page-qty-btn-color-hover;
                                }
                            }
                            input {
                                float: left;
                                border: 0px;
                                width: 40px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                            }
                            .btn-plus {
                                float: right;
                                width: 30px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                                cursor: pointer;
                                color: $product-page-qty-btn-color;
                                &:hover {
                                    color: $product-page-qty-btn-color-hover;
                                }
                            }
                        }
                    }
                }
                .add-to-cart {
                    width: 100%;
                    float: left;
                    .qty-wrapper {
                        width: 100%;
                        float: left;
                        padding: 5px 0;
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;
                        label {
                            float: left;
                            font-weight: lighter !important;
                            text-transform: uppercase;
                            font-size: 13px;
                            display: none;
                            margin: 0 15px 0 0;
                            font-weight: lighter;
                            font-family: $primary-mobile-font;
                            @media only screen and (min-width: $screen-md) {
                                display: block;
                            }
                        }
                        .qty-wrapper-input {
                            padding: 5px;
                            border: 1px solid #ddd;
                            color: #000;
                            display: inline-block;
                            height: 35px;
                            line-height: 35px;
                            float: left;
                            margin: 0px;
                            background-color: #fff;
                            .btn-minus {
                                color: $product-page-qty-btn-color;
                                float: left;
                                width: 30px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                                cursor: pointer;
                                &:hover {
                                    color: $product-page-qty-btn-color-hover;
                                }
                            }
                            input {
                                float: left;
                                border: 0px;
                                width: 40px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                            }
                            .btn-plus {
                                float: right;
                                width: 30px;
                                height: 25px;
                                line-height: 25px;
                                text-align: center;
                                cursor: pointer;
                                color: $product-page-qty-btn-color;
                                &:hover {
                                    color: $product-page-qty-btn-color-hover;
                                }
                            }
                        }
                    }
                    .add-to-cart-buttons {
                        width: 100%;
                        float: left;
                        margin-top: 10px;
                    }
                }
                .product-options-bottom {
                    width: 100%;
                    float: left;
                    padding: 1em;
                    background: rgba(0, 0, 0, 0.08);
                    margin-top: 1em;
                }
            }
            .add-to-cart-buttons {
                .link-wishlist {
                    width: 100%;
                    text-align: center;
                    background-color: transparent;
                    color: $button-outline-color;
                    border: 1px solid $button-outline-border;
                    font-size: 18px;
                    text-transform: capitalize;
                    border-radius: 0;
                    font-family: $primary-desktop-font;
                    padding: 9px 12px;
                    margin-top: 15px;
                    .ico-favoritos {
                        width: 18px;
                        display: inline-block;
                        margin-right: 10px;
                        margin-bottom: -2px;
                        vertical-align: 0px;
                    }
                }
            }
            .btn-addtocart {
                @extend .button-addtocart;
            }
            .estimate-shipping {
                width: 100%;
                float: left;
                margin: 0px;
                .shipping-estimate {
                    width: 100%;
                    float: left;
                    display: flex;
                    align-items: center;
                    margin: 10px 0 2em 0;
                    label {
                        float: left;
                        font-weight: lighter !important;
                        font-size: 13px;
                        margin-right: 15px;
                        font-weight: lighter;
                        font-family: $secund-desktop-font;
                    }
                    .shipping-form {
                        width: calc(100% - 140px);
                        float: right;
                        display: flex;
                        align-items: center;
                        .shipping-estimation-form {
                            float: right;
                        }
                        .actions {
                            float: right;
                            margin-left: 10px;
                            .btn-calc-frete {
                                @extend .button-default;
                                background: #ddd;
                                color: #000;
                                font-family: $primary-desktop-font;
                                padding: 10px;
                                float: left;
                            }
                        }
                    }
                }
                .please-wait {
                    width: 100%;
                    float: left;
                    margin: 10px 0 !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    img {
                        padding-left: 20px;
                    }
                }
                .shipping-estimate-results {
                    margin-bottom: 20px;
                    background: #efefef;
                    border-top: 1px solid #ddd;
                    width: 100%;
                    float: left;
                    padding: 15px 20px !important;
                    .item {
                        font-size: 12px;
                        font-weight: bold;
                        padding: .7em .3em;
                        width: 100%;
                        float: left;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
                        .price {
                            font-weight: normal;
                            float: right;
                        }
                        &:last-child {
                            border: 0;
                        }
                    }
                }
            }
        }
    }
    .additional-information {
        width: 100%;
        float: left;
        h3.title {
            @extend .title-default;
        }
        .product-description {
            width: 100%;
            float: left;
            margin-bottom: 60px;
            table {
                width: 100%;
                tr {
                    td:first-child {
                        font-weight: bold;
                    }
                }
                td {
                    padding: 5px;
                }
            }
        }
    }
    .related-products,
    .up-sell {
        width: 100%;
        float: left;
        margin-bottom: 60px;
        @media only screen and (max-width: $screen-md) {
            .title {
                display: none;
            }
        }
        .owl-nav:not(.disabled) {
            position: absolute;
            top: 30%;
            left: 0;
            width: calc(100% + 120px);
            z-index: 8;
            display: none;
            margin: 0 -60px;
            @media only screen and (min-width: $screen-md) {
                display: block;
            }
            .owl-prev {
                width: 23px;
                height: 45px;
                background: url(../images/product_slider_left.png) center center;
                float: left;
                &:hover {
                    background: url(../images/product_slider_left_hover.png) center center;
                }
            }
            .owl-next {
                width: 23px;
                height: 45px;
                background: url(../images/product_slider_right.png) center center;
                float: right;
                &:hover {
                    background: url(../images/product_slider_right_hover.png) center center;
                }
            }
        }
        .owl-dots:not(.disabled) {
            position: absolute;
            bottom: -30px;
            z-index: 9;
            width: 100%;
            text-align: center;
            @media only screen and (min-width: $screen-md) {
                display: none;
            }
            .owl-dot {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid $product-page-image-pagination-border-color;
                display: inline-block;
                margin: 3px;
                &.active {
                    border-color: $product-page-image-pagination-border-color-active;
                    background: $product-page-image-pagination-border-color-active;
                }
            }
        }
        .item {
            border-color: transparent;
            .checkbox {
                bottom: 4px;
                margin: 0 auto;
                @media only screen and (min-width: $screen-md) {
                    margin: 0;
                }
                label {
                    font-size: 12px !important;
                    color: #444;
                    font-family: $primary-mobile-font;
                }
            }
        }
        .product-name {
            width: 100% !important;
        }
        .related-all-actions {
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 20px;
            .btn-related-addtocart {
                @extend .button-addtocart;
                width: auto !important;
            }
        }
    }
    .floating-addtocart {
        width: 100%;
        background: #fafafa;
        border: 1px solid #ddd;
        padding: 20px;
        float: left;
        .btn-floating-addtocart {
            @extend .button-addtocart;
        }
    }
    .no-options {
        text-align: center;
    }
    .product-view {
        .alert-price,
        .alert-stock {
            clear: both;
        }
        .availability {
            &.in-stock {
                display: none;
            }
        }
    }
    .alert-price {
        text-align: center;
        padding: .2em;
        margin-top: 1em;
    }
    .main-container {
        z-index: auto;
    }
    .product-view {
        .col-box-buy {
            text-align: right;
            @media only screen and (min-width: 992px) {
                text-align: left;
            }
        }
        .grouped-items-table {
            text-align: left;
            @media only screen and (min-width: 992px) {}
        }
        .box-options {
            clear: both;
            .product-options {
                dl {
                    margin-bottom: 5px;
                    dt {
                        /*float: left;
            width: 25%;*/
                        border-top: 1px solid #ccc;
                        padding-top: 1em;
                        label {
                            padding: 0;
                            font-weight: normal;
                            text-transform: uppercase;
                            font-size: 12px;
                            &.required {
                                em {
                                    margin-right: .3em;
                                }
                            }
                        }
                        .swatchLabel {
                            font-size: 11px;
                        }
                    }
                    dd {
                        /*float: left;
            width: 70%;*/
                        position: relative;
                    }
                }
                p.required {
                    text-align: right;
                    font-size: 11px;
                }
                .validation-advice {
                    position: absolute;
                    bottom: -1em;
                }
            }
        }
        .add-to-box {
            clear: both;
            padding: 1em 1em 0 1em;
            @media only screen and (min-width: 992px) {
                clear: none;
            }
        }
        .panel-group {
            clear: both;
        }
        .product-shop {
            .block-billet,
            .block-parcel {
                //@extend .col-xs-6;
                padding: 0;
                //text-align: center;
                margin-bottom: .5em;
            }
        }
        .add-to-cart {
            clear: both;
        }
    }
    .error-msg {
        display: none;
    }
}


/* -------------------------------------------- *
* Quote
*/

.orcamento_form {
    h3 {
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding-bottom: .5em;
    }
    .btn-cart {
        @extend .button-addtocart;
    }
    em {
        color: #ff0000;
    }
    .required-fields {
        margin: 1em 0;
        text-align: right;
        font-size: 11px;
        color: #ff0000;
    }
}

.quote-success {
    text-align: center;
    .page-title {
        h1 {
            font-size: 24px;
            color: #6aa500;
        }
    }
    .sub-title {
        font-size: 19px;
        margin: 2em 0;
        color: #666;
    }
    .buttons-set {
        .btn {
            @extend .button-default-simple;
        }
    }
}


/* -------------------------------------------- *
* Catalog - Grouped Product List
*/

.grouped-items-table-wrapper {
    width: 100%;
    margin: 1em 0;
    clear: both;
    @media screen and (min-width: $screen-md) {
        padding: 5px;
    }
    tbody tr:last-child td {
        border-bottom: none;
    }
    .row-product-grouped {
        display: flex;
        margin: 1em 0;
        padding-bottom: .5em;
        border-bottom: 1px solid rgba(153, 153, 153, 0.28);
        justify-content: space-between;
        .image,
        .name,
        .price-box-grouped {
            padding: 0 .5em .5em .5em;
        }
        .image {
            padding: 0;
            img {
                width: 100%;
            }
        }
        .name {
            flex-basis: 70%;
            .qty-wrapper {
                input {
                    width: 36px;
                    text-align: center;
                    padding: .3em;
                    border: 1px solid #333;
                }
            }
        }
        .price-box-grouped {
            .regular-price .price,
            .special-price .price {
                font-size: 15px;
                @media screen and (min-width: $screen-md) {
                    font-size: 16px;
                }
            }
            .price-parcelado .price,
            .price-billet .price {
                color: $price-color;
                font-size: 20px;
                @media screen and (min-width: $screen-md) {
                    font-size: 24px;
                }
            }
        }
    }
}

.grouped-items-table {
    width: 100%;
    .name-wrapper {
        color: #000;
        text-align: left;
    }
    .image {
        .thumbnail {
            border: 0;
            border-right: 1px solid #ddd;
        }
    }
    .qty-label {
        margin-left: 10px;
        display: none;
    }
    tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-top: 1em;
        &.last {
            border: 0;
        }
        td {
            padding: 4px;
            vertical-align: top;
            width: 30%;
            &:last-child {
                width: 18%;
                text-align: left;
            }
        }
    }
}


/* -------------------------------------------- *
*  Produto Bundle
*/

.price-box-bundle {
    .price-box {
        .price {
            color: $product-page-bundle-price-color;
        }
    }
}

.product-options-wrapper {
    .product-options {
        .bundle {
            dt {
                margin-top: 1em;
                padding: .2em 0em;
                line-height: normal;
                font-family: $primary-desktop-font;
                font-size: 16px;
            }
            dd {
                border-bottom: 1px solid rgba(0, 0, 0, 0.16);
                padding-bottom: 1em;
            }
            .bundle-option-select {
                width: 100%;
                border-color: #e0e0e0;
                @media only screen and (min-width: $screen-md) {
                    overflow: auto;
                }
                option {
                    white-space: normal;
                    padding: .5em .2em;
                    &:nth-of-type(odd) {
                        background-color: #f0f0f0;
                    }
                }
            }
            .input-box {
                .options-list {
                    .radio,
                    .checkbox {
                        display: inline-block;
                    }
                }
            }
            .label {
                color: #565656;
                white-space: normal;
                font-size: 13px;
                display: inline-block;
                width: 94%;
                text-align: left;
                line-height: 16px;
                label {
                    font-weight: normal;
                }
            }
            .qty-holder {
                float: none!important;
                input {
                    width: 47px;
                    text-align: center;
                    padding: .5em;
                    border: 1px solid #111;
                }
            }
            .product-option {
                display: block!important;
                label {
                    display: block !important;
                    float: none !important;
                    margin-top: 1em;
                    text-transform: capitalize !important;
                    font-size: 16px!important;
                    font-weight: bold !important;
                }
            }
        }
    }
}


/* -------------------------------------------- *
*  Digital Product
*/

#downloadable-links-list {
    input {
        float: left;
    }
    .label {
        label {
            color: darken($color-segment, 50%);
            font-size: 14px;
        }
    }
}

.item-options {
    a {
        text-decoration: underline;
    }
    &.samples-itens {}
}

.info-product-downloadable {
    margin-top: 1em;
    @media screen and (min-width: $screen-md) {
        margin-top: -1em;
    }
    .price-box-content {
        width: 45%;
        float: left;
        text-align: left;
        @media screen and (min-width: $screen-md) {
            width: 100%;
        }
    }
    .samples-itens {
        width: 50%;
        float: left;
        padding: .5em;
        background-color: rgba(0, 0, 0, 0.09);
        @media screen and (min-width: $screen-md) {
            float: none;
            clear: both;
            margin-top: 1em;
        }
    }
    .links-downloadable {
        clear: both;
    }
}


/* -------------------------------------------- *
* Tabela de parcelas
*/

.panel-parcels {
    .panel-default {
        border-radius: 0;
        .panel-heading {
            background: #fafafa;
            .panel-title {
                font-family: $primary-desktop-font;
                font-size: 16px;
            }
        }
    }
}

#installment-options-table {
    .installment-options {
        &>div {
            padding: 0;
        }
        .installment-option {
            font-size: 12px;
            padding: .7em .5em;
            &:nth-of-type(odd) {
                background-color: #f0f0f0;
            }
            .installment-value {
                color: $product-page-installment-value-price-color;
            }
        }
    }
}


/* -------------------------------------------- *
* PANEIS COLLAPSED
*/

.panel {
    .panel-title {
        font-size: 13px;
        img {
            width: 30px;
        }
    }
}