/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.customer-account-create{

  .account-create{
    padding: 00px 0;
    width: 100%;
    float: left;

    &.loading{
      .form-control, label, label:before, label:after, .required{
        background: #efefef;
        border-color: #efefef;
        color: #efefef;
      }
    }

    .page-title{
      width: 100%;
      float: left;

      h1{
        font-family: $primary-mobile-font;
        color: $default-text-color;
        font-size: 28px;
        padding: 0 0 0px 0;
        margin: 0;
        font-weight: bold;


        @media screen and (min-width: $screen-md){
          font-weight: normal;
          font-family: $primary-desktop-font;
        }
      }
      .subtitle{
        width: 100%;
        display: inline-block;
        padding: 20px 0;
        font-size: 16px;
        line-height: 1.4em;
        .required{
          font-size: 11px;
          color: $title-required-color;
        }
      }
    }

    div#customer-wizard{
      width: 100%;
      float: left;

      select{
        width: 100% !important;
      }

      h2 {
        border-bottom: 1px solid #eee;
        margin-bottom: 25px;
        padding-bottom: 15px;
        padding-left: 40px;
        position: relative;
        width: 100%;
        float: left;
        font-family: $secund-desktop-font;
        font-weight: bold;
        font-size: 18px;

        &:before {
          content: ' ';
          width: 30px;
          height: 30px;
          position: absolute;
          border: 1px solid #ddd;
          top: -8px;
          border-radius: 50px;
          left: 0;
        }

        &:after{
          display: inline-block;
          font: normal normal normal 18px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          content: "\f00c";
          position: absolute;
          top: -2px;
          left: 5px;
          font-size: 20px;
          color: #ddd;
        }

        &.ok{
          &:before{
            border-color: #1D9C73;
            background: #1D9C73;
          }
          &:after{
            color: #fff;
          }
        }
      }

      em{
        color: red;
        float: right;
      }

      .tipopessoa{
        display: inline-block;
        width: 100%;

        input{
          display: none;
        }


        label{
          width: 50% !important;
          border: 1px solid #666;
          border-radius: 10px;
          overflow: hidden;
          display: inline-block;
          margin: 0 -2px;
          padding: 10px;
          cursor: pointer;
          background: #efefef;
          font-weight: normal;
          font-size: 15px;
          &:first-of-type {
            border-radius: 0 !important;
          }
          &:last-of-type {
            border-radius: 0 !important;
          }

          &.checked {
            background: $tipodepessoa-checked-background;
            color: $tipodepessoa-checked-color;
          }
        }
      }

      .has-danger{
        .form-control{
          border: 1px solid red;
        }
      }
      .has-success{
        .form-control{
          border: 1px solid green;
        }
      }

      .customer-name{
        input:first-of-type{

          @media only screen and (max-width : 480px) {
            margin-bottom: 15px;
          }
        }
      }

      .control{
        display: inline-block;
        padding-bottom: 10px;
      }
      .form-group{
        label{
          font-weight: normal;
        }
        .validation-advice{
          padding: 5px;
          display: inline-block;
          color: red;
          font-size: 11px;
        }
        .li-country{
          display: none;
        }
      }
      .radio-inline input[type="radio"]{
        top: 8px !important;
        left: 0px !important;
        margin-left: 0px !important;
      }

      fieldset{
        width: 100%;
        float: left;
        margin-bottom: 30px !important;
      }
    }
  }

  .btn-register, .btn-search-cep{
    @extend .button-default;
  }

   .btn-search-cep-close, .btn-back-store{
     @extend .button-default-simple;
   }

}
