/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.title-h4-section {
    font-family: $primary-desktop-font;
    font-size: 18px;
    border-bottom: 1px solid darken($color-segment, 25%);
    padding-bottom: .5em;
}

.success-content {
    padding: 0;
    font-family: $secund-mobile-font;
    .success-message {
        text-align: center;
        h1 {
            font-size: 22px;
            font-family: $primary-desktop-font;
            @media only screen and (min-width: $screen-md) {
                font-size: 42px;
            }
        }
        .number-sale {
            font-size: 16px;
            margin: .8em 0;
            color: #828282;
            @media only screen and (min-width: $screen-md) {
                font-size: 21px;
            }
            .number {
                background-color: rgba(73, 150, 3, 0.74);
                border-radius: 100px;
                padding: .2em .5em;
                margin-left: .4em;
                font-size: 18px;
                color: #fff;
            }
        }
        .msg-send-email {
            .email {
                color: darken($color-segment, 25%);
                font-weight: bold;
            }
        }
    }
    .section-msg-payment {
        //border-bottom: 1px solid darken($color-segment, 25%);
        margin: 1em 0 2em 0;
        padding: .5em 0;
        h3 {
            text-align: center;
            font-size: 24px;
            margin-bottom: .5em;
            font-family: $primary-desktop-font;
            @media only screen and (min-width: $screen-md) {
                font-size: 32px;
            }
        }
        .btn-print-billet {
            @extend .button-addtocart;
            margin: 1em 0;
        }
        .box-info-payments {
            .btn-print-billet {
                margin-top: .5em;
            }
            .list-info {
                li {
                    padding: .5em 0;
                    color: #8c8c8c;
                    line-height: 17px;
                }
            }
        }
    }
    .msg-default {
        .box-ico {
            text-align: right;
            svg {
                margin: 0 1em 0 0;
                fill: rgb(102, 174, 89);
                width: 195px;
            }
        }
        .box-msg {
            text-align: left;
            padding: .5em 0 0 3em;
        }
        h4 {
            font-family: $primary-desktop-font;
            font-size: 19px;
            position: relative;
            padding-bottom: .3em;
            @media only screen and (min-width: $screen-md) {
                font-size: 27px;
            }
        }
        p {
            color: #6e6e6e;
            font-size: 23px;
            font-weight: 300;
            margin-bottom: 1em;
            line-height: 28px;
            &.thanks {
                color: darken($color-segment, 15%);
                font-size: 20px;
            }
        }
        .number-sale {
            font-size: 16px;
            margin: .8em 0;
            color: #828282;
            font-weight: 300;
            @media only screen and (min-width: $screen-md) {
                font-size: 21px;
            }
            .number {
                background-color: rgba(73, 150, 3, 0.74);
                border-radius: 100px;
                padding: .2em .5em;
                margin-left: .4em;
                font-size: 18px;
                color: #fff;
            }
        }
    }
    .section-static-block {
        clear: both;
        margin: 1em 0;
        .alert {
            text-align: center;
        }
    }
    .section-resume-sale {
        clear: both;
        margin-top: 1em;
        h4 {
            @extend .title-h4-section;
        }
        .resume-shipping-address,
        .resume-billing-address {
            h5 {
                background-color: rgba(0, 0, 0, 0.14);
                padding: .9em;
                margin-bottom: 0;
            }
            .info-address {
                background-color: rgba(0, 0, 0, 0);
                padding: 1em;
                margin-bottom: 1.5em;
                color: #5f5f5f;
                line-height: 21px;
                border: 1px solid rgba(0, 0, 0, 0.11);
            }
        }
        .resume-shipping-address {
            padding-left: 0;
        }
        .resume-billing-address {
            padding-right: 0;
        }
        .resume-itens {
            .data-table {
                td {
                    padding: 1.2em;
                }
            }
            .info-totals {
                //text-align: right;
                padding: 1em;
                background-color: #e6e6e6;
                float: right;
                width: 100%;
                @media only screen and (min-width: $screen-md) {
                    width: 20%;
                    font-size: 12px;
                }
                ul {
                    li {
                        padding: .5em 0;
                        .price {
                            float: right;
                        }
                        &.total {
                            border: 1px solid rgba(#000000, 0.17);
                            border-right: 0;
                            border-left: 0;
                            .price {
                                font-size: 17px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-resume-track-sale {
        clear: both;
        border-bottom: 1px solid darken($color-segment, 25%);
        padding-bottom: 1.5em;
        h4 {
            font-family: $primary-desktop-font;
            text-align: center;
            font-size: 21px;
            font-weight: bold;
            color: #83c64e;
        }
        .msg {
            margin: 1em 0 1.5em 0;
            text-align: center;
            font-size: 16px;
            a {
                text-decoration: underline;
                color: darken($color-segment, 25%);
            }
        }
        img {
            margin: 1em auto;
            width: 100%;
        }
    }
    .page-title h1 {
        color: #00b73a;
        font-size: 20px;
        font-weight: bold;
    }
    .sub-title {
        font-weight: bold;
        font-size: 15px;
    }
    .buttons-set {
        margin: 1em 0;
        text-align: center;
        button {
            @extend .button-default-simple;
            float: none;
        }
    }
}