/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.wishlist-index-index{
  .btn-addtocart{
    @extend .button-addtocart;
    font-family: $secund-desktop-font;
    font-size: 14px;
    padding: 7px 20px;
    margin: 5px 0;
  }
  .buttons-set {
    button{
      @extend .button-default;
      font-size: 12px;
      margin-right: 5px;
      margin-bottom: 5px;
      width: 100%;

      @media only screen and (min-width: $screen-md) {
        width: auto;
      }
      &.btn-share{
        display: none;
      }
    }
    .btn-update{
      display: none;
    }
  }
}
