<?php
/**
*
* @category   Inovarti
* @package    Inovarti_Onestepcheckout
* @author     Suporte <suporte@inovarti.com.br>
*/
?>
<div class="account-create">
  <div class="page-title">
    <h1><?php echo $this->__('Create an Account') ?></h1>
  </div>
  <?php echo $this->getChildHtml('form_fields_before') ?>
  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
  <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate" data-tipo_pessoa_scope="">
    <div class="fieldset">
      <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
      <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />




      <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Login Information') ?></h2>
        <ul class="form-list">

          <li class="li-email">
            <div class="field">
              <label for="email_address" class="required">
                <em>*</em>
                <?php echo $this->__('Email Address') ?></label>
                <div class="input-box">
                  <input type="email" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email validate-email-exist required-entry" />
                </div>
              </div>
            </li>

            <li class="fields li-password-area">
              <div class="field">
                <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                <div class="input-box">
                  <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                </div>
              </div>
              <div class="field">
                <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                <div class="input-box">
                  <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                </div>
              </div>
            </li>
            <?php echo $this->getChildHtml('form.additional.info'); ?>
            <?php echo $this->getChildHtml('persistent.remember.me'); ?>
          </ul>
          <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
        </div>


        <h2 class="legend"><?php echo $this->__('Personal Information') ?></h2>



        <ul class="form-list">
          <?php $_tipopessoa = $this->getLayout()->createBlock('onestepcheckout/widget_tipopessoa'); ?>
          <?php if ($_tipopessoa->isEnabled()): ?>
            <li class="control fields tipopessoa li-radio-tipo-pessoa">
              <div class="field">
                <input type="hidden" name="billing[tipopessoa]" id="accout-tipo-pessoa"/>
                <label for="fisica"><input type="radio" checked="checked" name="radio_tipopessoa" value="9" id="fisica" class="radio" title="CPF" <?php if ($this->getFormData()->getRadioTipopessoa() == '9'): ?> checked="checked"<?php endif; ?>/><?php echo $this->__('Individual person') ?></label>
                  <!--</div>
                  <div class="field">-->
                  <label for="juridica"><input type="radio" name="radio_tipopessoa" value="10" id="juridica" class="radio" title="CNPJ" <?php if ($this->getFormData()->getRadioTipopessoa() == '10'): ?> checked="checked"<?php endif; ?>/><?php echo $this->__('Legal Entity') ?></label>
                  </div>
                </li>
              </li>
              <li class="wide hide li-select-tipo-pessoa">
                <?php echo $_tipopessoa->setTipopessoa($this->getFormData()->getTipopessoa())->toHtml() ?>
              </li>
            <?php endif ?>
            <li class="fields li-name">
              <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
            </li>

            <li class="wide li-company">
              <div class="field">
                <label for="company"><?php echo $this->__('Company') ?></label>
                <div class="input-box">
                  <input type="text" name="razaosocial" id="company" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                </div>
              </div>
            </li>

            <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
            <?php if ($_taxvat->isEnabled()): ?>

              <li class="li-taxvat swatch-label">
                <label for="taxvat" class="required for-fisica"><em>*</em><?php echo __('CPF'); ?></label>
                <label for="taxvat" class="required for-juridica"><em>*</em><?php echo __('CNPJ'); ?></label>
                <?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?>
              </li>
            <?php endif ?>

            <li class="wide required li-ie swatch-label">
              <label for="ie" class="for-fisica"><?php __('RG'); ?></label>
              <label for="ie" class="for-juridica"><?php echo $this->__('IE (Inscrição Estadual)') ?></label>
              <div class="input-box">
                <input type="text" id="ie" name="ie" title="<?php echo $this->__('IE (Inscrição Estadual)') ?>" class="input-text" value="<?php echo $this->getFormData()->getIe(); ?>" />
              </div>
            </li>
            <?php /* APPEND INSCRIÇÃO MUNICIPAL */ ?>
            <?php if ($this->helper('onestepcheckoutex/config')->isIm()): ?>
              <li class="wide li-im">
                <label for="im" class="for-juridica "><?php echo $this->__('IM (Inscrição Municipal)') ?></label>
                <div class="input-box">
                  <input type="text" id="im" name="im" title="<?php echo $this->__('IM (Inscrição Municipal)') ?>" class="input-text" value="<?php echo $this->getFormData()->getIm(); ?>" />
                </div>
              </li>
            <?php endif; ?>
            <?php /* END APPEND INSCRIÇÃO MUNICIPAL */ ?>

            <li class="fields li-birthdate-gender">
              <ul id="tipopessoa-area">
                <?php $_dob = $this->getLayout()->createBlock('onestepcheckout/widget_dob') ?>
                <?php if ($_dob->isEnabled()): ?>


                  <div class="field li-birthdate">
                    <?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?>
                  </div>

                <?php endif ?>
                <?php $_gender = $this->getLayout()->createBlock('onestepcheckout/widget_gender') ?>
                <?php if ($_gender->isEnabled()): ?>

                  <div class="field li-gender">
                    <?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?>
                  </div>

                <?php endif ?>
              </ul>
            </li>


            <li class="fields li-phones">
              <div class="field">
                <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                <div class="input-box">
                  <input type="text" name="telephone" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" value="<?php echo $this->getFormData()->getTelephone(); ?>" autocomplete="off"/>
                </div>
              </div>
              <div class="field">
                <label for="fax"><?php echo $this->__('Fax') ?></label>
                <div class="input-box">
                  <input type="text" name="fax" title="<?php echo $this->__('Fax') ?>" class="input-text" id="fax" value="<?php echo $this->getFormData()->getFax(); ?>" autocomplete="off"/>
                </div>
              </div>
            </li>


            <li class="li-newsletter">
              <?php if ($this->isNewsletterEnabled()): ?>
                <div class="checkbox">
                  <input type="checkbox" style="float: left;" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                    <label for="is_subscribed" style="position: relative;bottom: 3px;font-size: 14px;font-weight: normal;"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                  </div>
                <?php endif ?>
              </li>


            </ul>
          </div>







          <?php if ($this->getShowAddressFields()): ?>
            <div class="fieldset">
              <input type="hidden" name="create_address" value="1" />
              <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
              <ul class="form-list">

                <li class="wide li-country">
                  <div class="field">
                    <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                    <div class="input-box">
                      <?php echo $this->getCountryHtmlSelect() ?>
                    </div>
                  </div>
                </li>

                <li class="fields li-postcode">
                  <div class="field">
                    <label for="postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                    <div class="input-box">
                      <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="postcode" id="postcode" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>"  onblur="buscaCep('');"/>
                    </div>
                  </div>
                </li>





                <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                <li class="li-street1">

                  <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                  <div class="input-box">
                    <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text <?php echo $_streetValidationClass ?>" />
                  </div>

                </li>
                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                  <li class="li-street<?php echo $_i; ?>">
                      
                    <label for="street_<?php echo $_i ?>" <?php if ($_i != 3): ?> class="required"<?php endif; ?>><em>*</em><?php echo $this->__("Street Address {$_i}") ?></label>
                    <div class="input-box">
                      <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                    </div>

                  </li>
                <?php endfor; ?>

                <li class="fields li-city-region">
                  <div class="field">
                    <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                    <div class="input-box">
                      <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
                    </div>
                  </div>
                  <div class="field">
                    <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                    <div class="input-box">
                      <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                        <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                      </select>
                      <script type="text/javascript">
                      //<![CDATA[
                      $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                      //]]>
                      </script>
                      <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                    </div>
                  </div>
                </li>


              </ul>
              <input type="hidden" name="default_billing" value="1" />
              <input type="hidden" name="default_shipping" value="1" />
            </div>
          <?php endif; ?>


          <div class="buttons-set">
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>

            <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>

            <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>

          </div>
          <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
          <?php endif; ?>
        </form>



      </div>


      <script type="text/javascript">
      //<![CDATA[
      var dataForm = new VarienForm('form-validate', true);
      dataForm.submit = function (button, url) {
        if (this.validator.validate()) {
          if (button && button != 'undefined') {
            button.disabled = true;
          }
        }
      }.bind(dataForm);
      <?php if ($this->getShowAddressFields()): ?>
      var regionUpdater = new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');

      var $country = jQuery('#country');
      $country.on('change', function () {
        regionUpdater.update();
      });
      $country.val('BR');
      $region = jQuery('#region_id');
      $region.trigger('change');
      $region.find('option[title="Minas Gerais"]').attr('selected', 'selected');
      <?php endif; ?>

      //]]>

      </script>
