<?php
$_product = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
$swatch_attributes = Mage::helper('colorselectorplus')->getSwatchAttributes();
$title = Mage::getStoreConfig('color_selector_plus/colorselectorplusgeneral/title', Mage::app()->getStore());
$hide = Mage::getStoreConfig('color_selector_plus/colorselectorplusgeneral/hidedropdown', Mage::app()->getStore());
?>
<?php $count=0; ?>
<?php if ($_product->isSaleable() && count($_attributes)): ?>
  <?php foreach($_attributes as $_attribute): ?>
    <div class="product-option option-value-<?php echo $count;?> <?php if ($_attribute->decoratedIsLast):?>last<?php endif;?>">
      <?php $_productAttribute = $_attribute->getProductAttribute(); ?>
      <?php if(in_array($_productAttribute->getAttributeCode(), $swatch_attributes)): ?>
        <?php $attributeId = $_attribute->getAttributeId(); ?>
        <label class="required"><?php echo $_attribute->getLabel() ?></label>
        <div class="options">
          <select name="super_attribute[<?php echo $attributeId ?>]" id="attribute<?php echo $attributeId ?>" class="required-entry super-attribute-select<?php if($hide == 1) echo ' swatchSelect' ?>"<?php if($hide == 1) echo ' style="display:none"'?>>
            <option><?php echo $this->__('Choose an Option...') ?></option>
          </select>
          <?php echo Mage::helper('colorselectorplus')->getSwatchHtml($_productAttribute->getAttributeCode(), $attributeId, $_product); ?>
        </div>
      <?php else: ?>
        <label class="required"><?php echo $_attribute->getLabel() ?></label>
        <dd<?php if ($_attribute->decoratedIsLast){?> class="last"<?php }?>>
        <div class="input-box">
          <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
            <option><?php echo $this->__('Choose an Option...') ?></option>
          </select>
        </div></dd>

      <?php endif; ?>
      <?php $count++; ?>
    </div>
  <?php endforeach; ?>

  <?php $jsonConfig = $this->getJsonConfig(); ?>

  <script type="text/javascript">
  var spConfig = new Product.Config(<?php echo $jsonConfig ?>);
  var selecttitle = '<?php echo $title ?>';
  </script>
<?php endif;
