<?php if ($this->getActive()): ?>

  <!-- Modal HTML embedded directly into document -->
   <div id="aditional_information" style="display:none;">
     <?php echo $this->getBlock() ?>
   </div>

   <!-- Link to open the modal -->
   <p><a href="#aditional_information" rel="modal:open"><?php echo $this->getLabel() ?></a></p>
   
<?php endif ?>
