<?php if ($posts = $this->getRecent()): ?>
        <div class="widget-latest">
            <div class="page-title category-title center">
                <h1><?php echo Mage::helper('blog')->__('From the blog');  ?></h1>
            </div>
            <div class="container">
                <ul class="row">
                    <?php $i = 0; ?>
                    <?php foreach ($posts as $post): ?>
                        <?php if ($i<4): ?>
                            <li class="col-xs-12 col-sm-6">
                                <div class="widget-latest-wrap">
                                    <div class="postContent postContent-img">
                                        <?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($post->getShortContent()); ?>
                                    </div>
                                    <div class="widget-latest-content">
                                        
                                        <div class="widget-latest-details">
                                            <?php // $post->setCreatedTime($this->formatDate($post->getCreatedTime(), "long", false)); ?>
                                            <?php //echo $post->getCreatedTime(); ?>
                                            <?php $_ct= new Zend_Date($post->getCreatedTime()); ?>
                                            <span class="widget-latest-data"><i class="material-design-schedule2"></i><?php echo $_ct->toString('dd/MM/yyyy'); ?></span>
                                             <!--<span class="postDetails-user">
                                                <i class="fa fa-user"></i>
                                                <?php echo $post->getUser(); ?>
                                            </span> -->
                                        </div>
                                        <div class="widget-latest-title"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></div>
                                         <!-- <div class="postContent postContent-desc">
                                            <?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($post->getShortContent()); ?>
                                        </div>
                                        <a class="widget-latest-comment" href="<?php echo $post->getAddress(); ?>#commentBox" >
                                             <i class="fa fa-comment-o"></i>
                                            <?php if ($post->getCommentCount() > 0): ?>
                                                <?php echo $post->getCommentCount(); ?> <?php // echo Mage::helper('blog')->__('Comments'); ?>
                                            <?php endif; ?>
                                             <?php if ($post->getCommentCount() < 1): ?> 
                                                <?php echo "0"; ?> <?php echo Mage::helper('blog')->__('Comments'); ?>
                                            <?php endif; ?>
                                        </a>
                                         -->
                                         <a href="<?php echo $post->getAddress(); ?>"class="all-blog"><?php echo Mage::helper('blog')->__('Read more');  ?></a>
                                    </div>
                                </div>
                            </li>
                        <?php endif; ?>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="aw-blog-read">
                <a href="<?php echo $this->getBlogUrl() ?>"class="aw-blog-read-more all-blog"><?php echo Mage::helper('blog')->__('View all posts');  ?></a>
            </div>
        </div>
<?php endif; ?>