/* FOOTER */

footer{
  display: inline-block;
  width: 100%;
  padding: 60px 0;
  background: #171312;
  color: #fff;
  font-size: 10pt;
  text-align: left;
}


footer h2{
  text-transform: uppercase;
  font-size: 12pt;
  color: #fff;
  font-weight: bold;
}

footer ul{
  margin: 0;
  padding: 0;
}

footer ul li{
  width: 100%;
  display: inline-block;
}

footer ul li a{
  color: #fff;
  font-size: 10pt;
  opacity: 0.9;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer ul li a:hover{
  opacity: 1;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .store-desc {
  margin-top: 10px;
}

.footer-last-row{
  margin: 50px 0;
}

.footer-last-row h2{
  text-transform: uppercase;
  font-size: 12pt;
  color: #171312;
}

/* NEWSLETTER */


.newsletter{
  background: #fff;
  border-top: 3px solid #171312;
  padding: 30px 0;
}

.newsletter p{
  font-size: 14pt;
  text-transform: uppercase;
  margin-top: 15px;
}

.newsletter p strong{
  font-weight: bold;
}


.newsletter .icon-email{
  background: #171312;
  padding: 15px;
  float: left;
  margin-right: 30px;
}

.newsletter .icon-email i{
  font-size: 40pt;
  color: #fff;
  text-transform: lowercase;
}

.newsletter form{
  display: inline-block;
  width: 100%;
  border: 1px solid #171312;
  margin-top: 15px;
}

.newsletter form .form-control{
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: calc(100% - 60px);
  float: left;
  padding: 25px;
}

.newsletter form .btn-send{
  width: 50px;
  float: right;
  padding: 7px;
  border: 0;
  border-radius: 0;
  background: #171312;
  margin: 3px;
}

.newsletter form .btn-send i{
  color: #fff;
  font-size: 20pt;
}
