<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<div id="onestepcheckout-review-coupon">

  <?php if ($this->canShow()): ?>
    <div class="coupon-message-container" style="overflow:hidden;height:0px;"></div>

    <div class="coupon-code-form">

      <div class="step-title">
        <h2><?php echo $this->__('Discount Code') ?></h2>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="coupon_code" name="coupon_code" value="<?php echo $this->getCouponCode(); ?>" />
          <span class="input-group-btn">
            <button type="submit" class="onestepcheckout-coupon-code-apply-btn" id="onestepcheckout-coupon-code-apply-btn" onclick="return false;"<?php if ($this->getCouponCode()) : ?> style="display:none;"<?php endif; ?>><i class="fa fa-tag"></i></button>
              <button type="submit" class="onestepcheckout-coupon-code-cancel-btn" id="onestepcheckout-coupon-code-cancel-btn" onclick="return false;"<?php if (!$this->getCouponCode()) : ?> style="display:none;"<?php endif; ?>><i class="fa fa-times"></i></button>
              </span>
            </div>
          </div>

        </div>
        <script type="text/javascript">
        var OSCReviewCoupon = new OnestepcheckoutReviewCoupon({
          isCouponApplied: <?php echo ($this->getCouponCode()) ? 'true' : 'false'; ?>,
          isApplyCouponButton: <?php echo ($this->getConfig()->isApplyCouponButton()) ? 'true' : 'false'; ?>,
          applyCouponButtonSelector: '#onestepcheckout-coupon-code-apply-btn',
          cancelCouponButtonSelector: '#onestepcheckout-coupon-code-cancel-btn',
          msgContainerSelector: '.coupon-message-container',
          applyCouponUrl: '<?php echo $this->getApplyCouponAjaxUrl(); ?>',
          cancelCouponUrl: '<?php echo $this->getCancelCouponAjaxUrl(); ?>',
          couponCodeInput: 'coupon_code',
          successMessageBoxCssClass: 'onestepcheckout-success-msg',
          errorMessageBoxCssClass: 'onestepcheckout-error-msg',
          jsErrorMsg: <?php echo Zend_Json::encode($this->__("Oops something's wrong")); ?>,
          jsSuccessMsg: <?php echo Zend_Json::encode($this->__("Ok")); ?>
        });

        <?php if(Mage::getStoreConfigFlag('payment/paypal_plus/active')): ?>
            if (jQuery('#p_method_paypal_plus').length > 0) {
                jQuery('#onestepcheckout-coupon-code-apply-btn').on('mouseup', function () {
                    idIntervalPayPal = setInterval(payPalClick, 500);
                });
            }
        <?php endif; ?>

        </script>
        <?php endif; ?>
        </div>
