<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php echo $this->getChildHtml('before_footer') ?>

<?php echo $this->getChildHtml('footer-mobile-menu') ?>

<footer>
    <!--Newsletter-->
	<div class="row-1 footer-row">
        <div class="container">
		<div class="col-sm-12 visible-xs visible-sm footer-1">
			<div class="fale-conosco">
				<div class="padding">
					<?php // Fale Conosco Mobile ?>
					<?php  echo $this->getBlock(1); ?>
				</div>
			</div>
		</div>
        <!--Logo-->
		<div class="col-md-12 visible-md visible-lg footer-2">
			<div class="column">
				<?php // Logo versão desktop ?>
				<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
					<img class="img-responsive" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
				</a>
                <p><?php echo Mage::getStoreConfig("custom_footer/template_newsletter/newsletter_desc"); ?></p>
			</div>
		</div>
		<div class="col-md-12 col-sm-6 footer-3">
			<div class="column">
				<?php // Newsletter ?>
				<?php echo $this->getChildHtml('newsletter.footer') ?>
			</div>
		</div>
        </div>
	</div>
	<div class="clearfix"></div>

	<div class="row-2 footer-row">
		<div class="container">
		<div class="col-md-3 col-sm-4 footer-5">
			<div class="column">
				<?php // Menu Voce ?>
				<?php  echo $this->getBlock(2); ?>
			</div>
		</div>

		<div class="col-md-3 col-sm-4 footer-6">
			<div class="column">
				<?php // Menu Duvidas ?>
				<?php  echo $this->getBlock(3); ?>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 footer-7">
			<div class="column">
				<?php // Menu Sobre ?>
				<?php  echo $this->getBlock(4); ?>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg footer-8">
			<div class="column">
				<?php // Fale conosco Desktop ?>
				<?php  echo $this->getBlock(1); ?>
			</div>
		</div>
	</div>
</div>

	<div class="row-4 footer-row">
		<div class="container">
		<div class="col-md-4 text-right store-name visible-md visible-lg footer-14">
				<?php // Formas de Pagamento ?>
				<?php  echo $this->getBlock(5); ?>
		</div>
		<div class="col-md-4 footer-15"> <?php //col-md-offset-1  margin left classe ?>
			<?php // Copyright ?>
			<a href="https://www.jn2.com.br" title="JN2 eCommerce expert"  target="_blank" class="pull-left logo-assinatura">
				<img src="<?php echo $this->getSkinUrl('images/assinatura.png') ?>" alt="JN2 eCommerce expert" />
			</a>
			<div class="copright"><?php echo Mage::getStoreConfig('design/footer/copyright'); ?></div>
		</div>
		<div class="col-md-4 footer-16 visible-md visible-lg">
			<?php // Compra Segura ?>
			<?php  echo $this->getBlock(6); ?>
		</div>
	</div>
</div>
	<?php echo $this->getChildHtml('store_switcher') ?>
</footer>
