<?php
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Onestepcheckout
 * @author     Suporte <suporte@inovarti.com.br>
 */
?>
<?php $blockNumber = $this->getBlockNumber(); ?>
<?php $blockNumberClass = (!is_null($blockNumber)) ? "onestepcheckout-number-{$blockNumber}" : ""; ?>
<?php if(Mage::getStoreConfig('onestepcheckout/general/is_show_titles')): ?><div class="step-title"><span class="number onestepcheckout-number <?php echo $blockNumberClass; ?>"><?php echo $blockNumber; ?></span><h2><?php echo $this->__('PAYMENT METHOD'); ?></h2></div><?php endif; ?>
<div class="step a-item">
    <div id="onestepcheckout-payment-method" class="onestepcheckout-add-loader-into-this-block">
        <?php echo $this->getEnterpriseRewardHtml(); ?>
        <dl class="sp-methods" id="checkout-payment-method-load">
            <?php $methods = $this->getMethods(); ?>
            <?php $oneMethod = count($methods) <= 1; ?>
            <?php foreach ($methods as $_method): ?>
                <?php $_code = $_method->getCode(); ?>
                <dt rel="<?php echo $_code ?>">
                <?php if (!$oneMethod): ?>
                    <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>"<?php if ($this->getSelectedMethodCode() == $_code): ?> checked="checked"<?php endif; ?> class="radio" />
                <?php else: ?>
                    <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
                    <?php $oneMethod = $_code; ?>
                <?php endif; ?>
                <label for="p_method_<?php echo $_code ?>"><?php echo $this->escapeHtml($this->getMethodTitle($_method)) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
                </dt>
                <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
                    <dd>
                        <?php echo $html; ?>
                    </dd>
                <?php endif; ?>
            <?php endforeach; ?>
        </dl>
        <div class="validation-advice" style="display: none;"></div>
        <?php echo $this->getChildChildHtml('additional'); ?>
        <div class="tool-tip" id="payment-tool-tip" style="display:none;">
            <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
            <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
        </div>
        <script type="text/javascript">
            var OSCPayment = new OnestepcheckoutPayment({
                containerSelector: "#onestepcheckout-payment-method",
                wrapContainerSelector: "#onestepcheckout-payment-method-wrapper",
                switchMethodInputsSelector: "input[name='payment[method]']",
                enterpriseRewardsSelector: 'use_reward_points',
                methodAdditionalContainerIdPrefix: "payment_form_",
                cvv: {
                    tooltipSelector: "#payment-tool-tip",
                    closeElSelector: "#payment-tool-tip-close",
                    triggerElsSelector: ".cvv-what-is-this"
                },
                savePaymentUrl: <?php echo Zend_Json::encode($this->getSavePaymentUrl()); ?>
            });

            jQuery("input[name='payment[method]']").click(function (event){
              // event.preventDefault();
              var _code = jQuery(this).val();
              OSCPayment.switchToMethod();
              OSCPayment.switchToMethod(_code);
              OSCShipment.switchToMethod();

                if(this.value != 'paypal_plus') {
                    var OSCShipment = new OnestepcheckoutShipment({
                        containerSelector: "#onestepcheckout-shipping-method",
                        switchMethodInputsSelector: "input[type='radio'][name='shipping_method']",
                        saveShipmentUrl: <?php echo Zend_Json::encode($this->getSaveShipmentUrl()); ?>,
                        currentMethodSelector: "input[type='radio'][name='shipping_method'][checked='true']"
                    });

                    OSCShipment.switchToMethod();
                }
            });

            // Coloca os dados na imagem do cartão se bloco for recarregado
            jQuery(document).ready(function() {
                // Utiliza a mudança de foco para disparar o evento de buscar a bandeira correta
                jQuery('#nitrocielo_numero_cartao_cielo').focus();
                jQuery('#nitrocielo_portador_cielo').focus();
                jQuery('#nitrocielo_numero_cartao_cielo').focus();

                // Setando valores padrão a imagem do cartão
                var card_number = '•••• •••• •••• ••••';
                var card_name = 'Titular Cartão';
                var card_expiry_mes = '••';
                var card_expiry_ano = '••';
                var card_cvc = '•••';

                // Setando variáveis caso tenham valor
                if(jQuery('#nitrocielo_numero_cartao_cielo').val() != '') {
                    card_number = jQuery('#nitrocielo_numero_cartao_cielo').val();
                }

                if(jQuery('#nitrocielo_portador_cielo').val() != '') {
                    card_name = jQuery('#nitrocielo_portador_cielo').val();
                }

                if(jQuery('#nitrocielo_expiracao_mes_cielo').val() != '') {
                    card_expiry_mes = jQuery('#nitrocielo_expiracao_mes_cielo').val();
                }

                if(jQuery('#nitrocielo_expiracao_ano_cielo').val() != '') {
                    card_expiry_ano = jQuery('#nitrocielo_expiracao_ano_cielo').val();
                }

                if(jQuery('#nitrocielo_codigo_seguranca_cielo').val() != '') {
                    card_cvc = jQuery('#nitrocielo_codigo_seguranca_cielo').val();
                }

                // Colocando valor na imagem do cartão
                jQuery('.jp-card-number').text(card_number);
                jQuery('.jp-card-name').text(card_name);
                jQuery('.jp-card-expiry').text(card_expiry_mes  +'/' + card_expiry_ano);
                jQuery('.jp-card-cvc').text(card_cvc);

            });

        </script>
        <?php echo $this->getChildHtml('extra'); ?>
    </div>
</div>
