<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
$helper = Mage::helper('mobile/data');
?>

<?php $category = $helper->getCategory(1);?>
<?php if ($category):?>
  <?php $_productCollection = Mage::getModel('catalog/product')->getCollection()->addCategoryFilter($category)->addAttributeToSelect('*')->setOrder('position', 'asc')->setPageSize($helper->getMobileProductCategoryQty())->load();?>
 <div class="row products-carousel">
  <div class="page-title category-title">
    <h2>
      <span class="jicon <?php echo Mage::getResourceModel('catalog/category')->getAttributeRawValue($category->getId(), "category_icon_class", Mage::app()->getStore()->getId()); ?>"></span>
      <span class="title"><?php echo $category->getName();?></span>
    </h2>
  </div>
  <div class="owl-carousel" id="products_1" ng-equaler="{'type': 'max', 'element': '.product-name'}">
    <?php foreach ($_productCollection as $_product): ?>
      <div class="item">
        <a href="<?php echo $_product->getProductUrl() ?>" class="product-image">
          <h2 class="product-name"><?php echo $_product->getName();?></h2>
          <img preload-image ng-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" default-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" fallback-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="img-responsive"/>
        </a>
        <div class="price-detail">
          <?php
          $productBlock = $this->getLayout()->createBlock('Jn2_DetailedPrice_Block_Catalog_Product_Price')->setTemplate('jn2/catalog/product/price.phtml');
          echo $productBlock->getPriceHtml($_product);
          ?>
        </div>
      </div>
      <?php endforeach; ?>
    </div>
  </div>
  <script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function($){
      $('#products_1').owlCarousel({
        navigation: false,
        pagination: true,
        singleItem: false,
        items: 2,
        itemsMobile: [479,2],
        autoPlay: false
      });
    });
    //]]>
  </script>
<?php endif; ?>


<?php $category = $helper->getCategory(2);?>
<?php if ($category):?>
  <?php $_productCollection = Mage::getModel('catalog/product')->getCollection()->addCategoryFilter($category)->addAttributeToSelect('*')->setOrder('position', 'asc')->setPageSize($helper->getMobileProductCategoryQty())->load();?>
 <div class="row products-carousel">
  <div class="page-title category-title">
    <h2>
      <span class="jicon <?php echo Mage::getResourceModel('catalog/category')->getAttributeRawValue($category->getId(), "category_icon_class", Mage::app()->getStore()->getId()); ?>"></span>
      <span class="title"><?php echo $category->getName();?></span>
    </h2>
  </div>
  <div class="owl-carousel" id="products_2" ng-equaler="{'type': 'max', 'element': '.product-name'}">
    <?php foreach ($_productCollection as $_product): ?>
      <div class="item">
        <a href="<?php echo $_product->getProductUrl() ?>" class="product-image">
          <h2 class="product-name"><?php echo $_product->getName();?></h2>
          <img preload-image ng-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" default-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" fallback-image="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="img-responsive"/>
        </a>
        <div class="price-detail">
          <?php
          $productBlock = $this->getLayout()->createBlock('Jn2_DetailedPrice_Block_Catalog_Product_Price')->setTemplate('jn2/catalog/product/price.phtml');
          echo $productBlock->getPriceHtml($_product);
          ?>
        </div>
      </div>
      <?php endforeach; ?>
    </div>
  </div>
  <script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function($){
      $('#products_2').owlCarousel({
        navigation: false,
        pagination: true,
        singleItem: false,
        items: 2,
        itemsMobile: [479,2],
        autoPlay: false
      });
    });
    //]]>
  </script>
<?php endif; ?>
