<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php
$columns = $this->getColumns();
$_helper = $this->helper('catalog/output');
?>

<div class="products-grid">
  <?php foreach ($this->getItems() as $item): ?>
    <?php $_product = Mage::getModel('catalog/product')->load($item->getProductId()) ?>
    <div class="item">
      <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
        <div class="productlabel-wrap">
          <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150,150) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image_label'), null, true) ?>" />
        </div>
      </a>
      <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
      <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="price-box-link">
        <?php $productBlock = $this->getLayout()->createBlock('catalog/product_price');  ?>
        <?php echo $productBlock->getPriceHtml($_product, true) ?>
      </a>
      <?php if ($this->helper('wishlist')->isAllow()) : ?>
        <a href="<?php echo $this->helper('wishlist')->getRemoveUrl($item)  ?>" onclick="return confirmRemoveWishlistItem();" class="link-wishlist">
          <i class="fa fa-times"></i>
        </a>
      <?php endif; ?>
      <textarea style="display:none;" name="description[<?php echo $item->getWishlistItemId() ?>]" rows="3" cols="5" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Comment')) ?>" placeholder="<?php echo $this->helper('wishlist')->defaultCommentString(); ?>"><?php echo ($this->escapeHtml($item->getDescription() ? $item->getDescription() : '')) ?></textarea>
      <button type="button" onclick="addWItemToCart(<?php echo $item->getWishlistItemId() ?>);" class="btn-addtocart" id="btn-addtocart"><?php echo $this->__("Comprar") ?></button>
    </div>
  <?php endforeach ?>
</div>

<?php foreach ($columns as $column): ?>
  <?php echo $column->getAdditionalHtml();?>
<?php endforeach; ?>

<script type="text/javascript">
//<![CDATA[
<?php foreach ($columns as $column): ?>
<?php echo $column->getJs();?>
<?php endforeach; ?>
//]]>
</script>
