<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
$helper = Mage::helper("mobile/data");
?>
<footer class="view">
  <?php echo $this->getChildHtml('newsletter') ?>

  <button class="footer-colapse" type="button" ng-click="showbutton_one = !showbutton_one" ng-init="showbutton_one=0"><?php echo explode("-",$helper->getMobileBlockTitle(1))[1];?></button>
  <div id="footer-block-1" ng-show="showbutton_one">
    <?php echo $helper->getMobileBlock(1);?>
  </div>

  <button class="footer-colapse" type="button" ng-click="showbutton_two = !showbutton_two" ng-init="showbutton_two=0"><?php echo explode("-",$helper->getMobileBlockTitle(2))[1];?></button>
  <div id="footer-block-1" ng-show="showbutton_two">
    <?php echo $helper->getMobileBlock(2);?>
  </div>

  <button class="footer-colapse" type="button" ng-click="showbutton_three = !showbutton_three" ng-init="showbutton_three=0"><?php echo explode("-",$helper->getMobileBlockTitle(3))[1];?></button>
  <div id="footer-block-1" ng-show="showbutton_three">
    <?php echo $helper->getMobileBlock(3);?>
  </div>

  <div class="payment">
    <?php echo $helper->getMobileBlock(4);?>
  </div>
  <div class="security">
    <?php echo $helper->getMobileBlock(5);?>
  </div>
  <div class="contact">
    <?php echo $helper->getMobileBlock(6);?>
  </div>

  <address><?php echo $this->getCopyright() ?></address>

</footer>
