<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />

<title><?php echo $this->getTitle() ?></title>

<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#<?php echo Mage::helper("mobile/data")->getColor("background_topbar");?>">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#<?php echo Mage::helper("mobile/data")->getColor("background_topbar");?>">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#<?php echo Mage::helper("mobile/data")->getColor("background_topbar");?>">

<?php $favicon = $this->getFaviconFile(); ?>

<link rel="icon" href="<?php echo  $favicon ?>" type="image/x-icon" />
<link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="<?php echo  $favicon ?>">
<link rel="apple-touch-icon" sizes="57x57" href="<?php echo  $favicon ?>">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<?php echo  $favicon ?>">
<link rel="apple-touch-icon" sizes="72x72" href="<?php echo  $favicon ?>">
<link rel="apple-touch-icon" sizes="114x114" href="<?php echo  $favicon ?>">
<link rel="apple-touch-icon" sizes="120x120" href="<?php echo  $favicon ?>">
<link rel="apple-touch-icon" sizes="144x144" href="<?php echo  $favicon ?>">
<link rel="apple-touch-icon" sizes="152x152" href="<?php echo  $favicon ?>">
<meta name="application-name" content="<?php echo $this->getLogoAlt() ?>">
<meta name="msapplication-TileImage" content="<?php echo  $favicon ?>">
<meta name="msapplication-TileColor" content="#2A2A2A">

<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>
