<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
$helper = Mage::helper("mobile/data");
?>
<div ng-controller="topBarController">
  <div class="loading">
    <svg width='112px' height='112px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-balls"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="rotate(0 50 50)">
      <circle r="6" cx="30" cy="50">
        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite" dur="1s" values="0 0;13.819660112501051 -19.02113032590307" keyTimes="0;1"/>
        <animate attributeName="fill" dur="1s" begin="0s" repeatCount="indefinite"  keyTimes="0;1" values="#c5523f;#f2b736"/>
      </circle>
    </g><g transform="rotate(72 50 50)">
      <circle r="6" cx="30" cy="50">
        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite" dur="1s" values="0 0;13.819660112501051 -19.02113032590307" keyTimes="0;1"/>
        <animate attributeName="fill" dur="1s" begin="0s" repeatCount="indefinite"  keyTimes="0;1" values="#f2b736;#499255"/>
      </circle>
    </g><g transform="rotate(144 50 50)">
      <circle r="6" cx="30" cy="50">
        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite" dur="1s" values="0 0;13.819660112501051 -19.02113032590307" keyTimes="0;1"/>
        <animate attributeName="fill" dur="1s" begin="0s" repeatCount="indefinite"  keyTimes="0;1" values="#499255;#1875e5"/>
      </circle>
    </g><g transform="rotate(216 50 50)">
      <circle r="6" cx="30" cy="50">
        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite" dur="1s" values="0 0;13.819660112501051 -19.02113032590307" keyTimes="0;1"/>
        <animate attributeName="fill" dur="1s" begin="0s" repeatCount="indefinite"  keyTimes="0;1" values="#1875e5;#c5523f"/>
      </circle>
    </g><g transform="rotate(288 50 50)">
      <circle r="6" cx="30" cy="50">
        <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite" dur="1s" values="0 0;13.819660112501051 -19.02113032590307" keyTimes="0;1"/>
        <animate attributeName="fill" dur="1s" begin="0s" repeatCount="indefinite"  keyTimes="0;1" values="#c5523f;#f2b736"/>
      </circle>
    </g></svg>


  </div>

  <header class="headerFixed">
    <div class="row topbar">
      <div class="container" ng-equaler="{'type': 'max', 'element': '.equaler'}">
        <div class="col-xs-6 equaler" onclick="setLocation('<?php echo Mage::getUrl("")?>')">
          <?php if($helper->getMobileLogo()): ?>
            <div class="logo-store">
              <img src="<?php echo $helper->getMobileLogo() ?>" ng-click="window.location.href= BASE_URL " class="img-responsive"/>
            </div>
          <?php else: ?>
            <div class="logo-store">
              <?php echo $this->getLogoAlt() ?>
            </div>
          <?php endif ?>
        </div>
        <div class="col-xs-6 text-right equaler">
          <button class="btn" ng-click="searchToggle()"><span class="jicon search"></span></button>
          <button class="btn" ng-click="goBag()"><span class="jicon bag"></span></button>
          <button class="btn" ng-click="menuToggle()"><span class="jicon menu"></span></button>
        </div>
      </div>
    </div>

    <div class="row-fluid search" ng-class="{'open-animation': searchState, 'close-animation': !searchState}">
      <div class="input-group">
        <input class="form-control" ng-keyup="$event.keyCode == 13 && search()" maxlength="128" ng-model="q" placeholder="O que você procura?" />
        <span class="input-group-addon">
          <span class="jicon search" ng-click="search()"></span>
        </span>
      </div>
    </div>

  </header>

  <?php
  //$this->getChild('side-menu')->setData('logo_src',  $this->getLogoSrc())->setData('logo_alt',  $this->getLogoAlt());
  echo $this->getChildHtml('side-menu', false);
  ?>

</div>
