<ul class="menu-0">

  <?php $root = Mage::getModel('catalog/category')->load(2); # Load Root Category?>
  <?php $categories = $root->getChildrenCategories();  #List of Category Level0 after Root Category ?>

  <?php if (count($categories) > 0): # Level0 ?>
    <?php foreach($categories as $category): # Level0?>
      <?php $subcategories = $category->getChildrenCategories();?>
      <li><a href="<?php echo $category->getUrl();?>"><?php echo $category->getName();?></a><?php if (count($subcategories) > 0):?><span class="expand-menu" data-category="<?php echo $category->getId()?>" ></span><?php endif;?>
        <?php if (count($subcategories) > 0): # Level1?>
          <ul class="menu-1 category-<?php echo $category->getId()?>">
            <?php foreach($subcategories as $subcategory): # Level1?>
              <?php $subcategories_2 = $subcategory->getChildrenCategories(); # Level2?>
              <li><a href="<?php echo $subcategory->getUrl();?>"><?php echo $subcategory->getName(); ?></a><?php if (count($subcategories_2) > 0):?><span class="expand-menu" data-category="<?php echo $subcategory->getId()?>"></span><?php endif;?>
                <?php if (count($subcategories_2) > 0): # Level2?>
                  <ul class="menu-2 category-<?php echo $subcategory->getId()?>">
                    <?php foreach($subcategories_2 as $subcategory):  # Level2?>
                      <li><a href="<?php echo $subcategory->getUrl();?>"><?php echo $subcategory->getName(); ?></a></li>
                    <?php endforeach;  # Level2?>
                  </ul>
                </li>
              <?php endif;  # Level2?>
            <?php endforeach; # Level1?>
          </ul>
        </li>
      <?php endif; # Level1 ?>
    <?php endforeach; # Level0 ?>
  <?php endif; # Level0 ?>
</ul>