<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
$parentBlock = $this->getParentBlock();
$logoSrc = $parentBlock->getLogoSrc();
$logoAlt = $parentBlock->getLogoAlt();
?>
<div class="menu-offcanvas" ng-class="{'open-menu': menuState, 'close-menu': !menuState}" ng-click="">
  <div class="menu">
    <div class="header-menu">
      <div class="col-xs-10">
        <?php if($logoSrc && file_exists($logoSrc) ): ?>
          <img src="<?php echo $logoSrc; ?>" alt="<?php echo $logoAlt; ?>" ng-click="window.location.href= BASE_URL "/>
        <?php else: ?>
          <div class="logo-store">
            <?php echo $logoAlt; ?>
          </div>
        <?php endif ?>
      </div>
      <div class="col-xs-2">
        <span class="jicon close" ng-click="menuState = !menuState "></span>
      </div>
    </div>
    <div class="my-account">
      <ul>
        <?php if(!Mage::getSingleton('customer/session')->isLoggedIn()):?>
          <li><a href="<?php echo Mage::getUrl('customer/account'); ?>">Login / Cadastrar-se</a></li>
        <?php else:?>
          <li><a href="<?php echo Mage::getUrl('customer/account'); ?>">Meus dados</a></li>
          <li><a href="<?php echo Mage::getUrl('sales/order/history/'); ?>">Meus pedidos</a></li>
          <li><a href="<?php echo Mage::getUrl('checkout/cart'); ?>">Finalizar compra</a></li>
          <li><a href="<?php echo Mage::getUrl('customer/account/logout'); ?>">Sair</a></li>
        <?php endif;?>
      </ul>
    </div>
    <div class="categories">
      <?php echo $this->getChildHtml('mobile-menu') ?>
    </div>
  </div>
</div>
