<!--
/**
 * Unicode Systems
 * @category   Uni
 * @package    Uni_Fileuploader
 * @copyright  Copyright (c) 2010-2011 Unicode Systems. (http://www.unicodesystems.in)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
 -->
<?php
    if(Mage::getConfig('product_page/general/optimize_page')){
        $optimizePage = true;
    }
?>
 <?php $_description = $this->getProduct()->getDescription(); ?>
 <?php if ($_description): ?>
    <?php if (!$optimizePage):?>
         <h3 class="title"><?php echo $this->__('Sobre o produto') ?></h3>
     <?php else:?>
        <h2 class="title"><?php echo $this->__('Sobre o produto') ?></h2>
     <?php endif; ?>
     <div class="std">
         <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'description') ?>
     </div>
 <?php endif; ?>

<?php echo $this->getChildHtml('product.attachments'); ?>
