<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<div class="newsletter">
  <div class="container">
    <div class="col-md-6">
      <div class="icon-email">
        <i class="jicon envelope"></i>
      </div>
      <?php echo $this->getChildHtml('newsletter-message'); ?>
    </div>
    <div class="col-md-6">
      <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <input type="email" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="form-control required-entry validate-email" placeholder="Digite seu email aqui ... "/>
        <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="btn btn-send"><i class="jicon send"></i></button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>
