<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>

<?php if($orders->getSize()): ?>


  <?php foreach ($orders as $order): ?>
    <div class="panel panel-default">
      <div class="panel-heading">Pedido #<?php echo $order->getRealOrderId() ?></div>
      <div class="panel-body">

        <p><?php echo date("D, j M, Y", strtotime($order->getCreatedAt())) ?>&nbsp;</p>
        <!--<p class="a-center">{$page.orders[io].customer}</p>-->
        <p><?php echo $order->getGrandTotal() ?>&nbsp;</p>
        <p><?php echo $order->getStatus() ?>&nbsp;</p>
        <p><a href="<?php echo $this->getUrl('customer/order/view', array('order'=>$order->getOrderId())) ?>"><?php echo $this->__('View Order') ?></a>&nbsp;</p>
      </div>
    </div>
  <?php endforeach ?>

<?php else: ?>
  <p><?php echo $this->__('You have placed no orders yet.') ?></p>
<?php endif ?>
<div class="buttons-set">
  <p class="back-link"><a href="<?php echo $this->getUrl('customer/account') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
