<!--@subject Pedido de Orçamento de {{var nome}}@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}" width="200px"><img src="{{var logo_url}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" width="200px" border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Boa tarde administrador(a),</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Um pedido de orçamento foi gerado.</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>Produto:</b> {{var produto}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>SKU:</b> {{var sku}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>Nome:</b> {{var nome}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>E-mail:</b> {{var email}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>Telefone:</b> {{var telefone}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>CEP:</b> {{var cep}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>Estado:</b> {{var estado}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>Cidade:</b> {{var cidade}}</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; <b>Comentários Adicionais:</b> {{var comentario}}</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
