<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php echo $this->getChildHtml('before_footer') ?>

<?php echo $this->getChildHtml('footer_mobile_menu') ?>

<footer>
	<div class="row-1 footer-row">
		<div class="col-sm-6 visible-xs visible-sm footer-1">
			<div class="fale-conosco">
				<div class="padding">
					<?php // Fale Conosco Mobile ?>
					<?php  echo $this->getBlock(1); ?>
				</div>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg footer-2">
			<div class="column">
				<?php // Logo versão desktop ?>
				<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
					<img class="img-responsive" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
				</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 footer-3">
			<div class="column">
				<?php // Newsletter ?>
				<?php echo $this->getChildHtml('newsletter.footer') ?>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg footer-4">
			<div class="column">
				<?php // Rede social desktop ?>
				<?php  echo $this->getBlock(8); ?>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="row-2 footer-row">
		<div class="col-md-3 col-sm-4 footer-5">
			<div class="column">
				<?php // Menu Voce ?>
				<?php  echo $this->getBlock(2); ?>
			</div>
		</div>

		<div class="col-md-3 col-sm-4 footer-6">
			<div class="column">
				<?php // Menu Duvidas ?>
				<?php  echo $this->getBlock(3); ?>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 footer-7">
			<div class="column">
				<?php // Menu Sobre ?>
				<?php  echo $this->getBlock(4); ?>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg footer-8">
			<div class="column">
				<?php // Fale conosco Desktop ?>
				<?php  echo $this->getBlock(1); ?>
			</div>
		</div>
	</div>

	<div class="row-3 footer-row">
		<div class="col-md-3 col-sm-6 col-md-push-6 footer-9">
			<div class="column">
				<?php // Formas de Pagamento ?>
				<?php  echo $this->getBlock(5); ?>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-md-pull-3 footer-10">
			<div class="column">
				<?php // Compra segura ?>
				<?php  echo $this->getBlock(6); ?>
			</div>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-md-3 col-sm-6 footer-11">
			<div class="column">
				<?php // Formas de envio ?>
				<?php  echo $this->getBlock(7); ?>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 visible-xs visible-sm footer-12">
			<div class="column">
				<?php // Rede social versão Mobile ?>
				<?php  echo $this->getBlock(8); ?>
			</div>
		</div>
		<div class="col-md-3 visible-xs visible-sm footer-13">
			<?php // Logo Versão Mobile ?>
			<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
				<img class="img-responsive" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
			</a>
		</div>
	</div>

	<div class="row-4 footer-row">
		<div class="col-md-2 text-right store-name visible-md visible-lg footer-14">
			<?php // Nome da loja ?>
			<div class="store-name">
				<?php $store = Mage::app()->getStore(); ?>
				<strong class="text-right"><?php echo $store->getName(); ?></strong>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-1 footer-15">
			<?php // Descrição da loja ?>
			<?php echo Mage::getStoreConfig("custom_theme/footer/store_desc") ?>
		</div>
		<div class="col-md-3 footer-16 visible-md visible-lg">
			<?php // Facebook ?>
			<?php  echo $this->getBlock(9); ?>
		</div>
	</div>

	<div class="row-5 footer-row">
		<div class="col-md-2 visible-md visible-lg footer-17">
			<?php // Assinatura Versão Desktop ?>
			<div class="pull-right">
				<a href="https://www.jn2.com.br" title="JN2 eCommerce expert"  target="_blank" class="pull-left logo-assinatura">
					<img src="<?php echo $this->getSkinUrl('images/assinatura.png') ?>" alt="JN2 eCommerce expert" />
				</a>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-1 col-xs-12 footer-18">
			<?php // Copyright ?>
			<div class="copright"><?php echo Mage::getStoreConfig('design/footer/copyright'); ?></div>
		</div>
		<!-- googleoff: all -->
		<div class="col-xs-12 visible-xs visible-sm footer-19">
			<?php // Assinatura Versão Mobile ?>
			<a href="https://www.jn2.com.br" title="JN2 eCommerce expert"  target="_blank" class="pull-left logo-assinatura">
				<img src="<?php echo $this->getSkinUrl('images/assinatura.png') ?>" alt="JN2 eCommerce expert" />
			</a>
		</div>
		<!-- googleon: all -->
		<div class="col-md-3 col-xs-12 footer-20">
			<?php // Back to top ?>
			<div id="back-top" class="back-top"><div></div></div>
		</div>
	</div>
	<?php echo $this->getChildHtml('store_switcher') ?>
</footer>
