<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

?>
<div class="account-login" ng-controller="loginController">

  <div class="card">
    <div class="title">
      <span>Login</span>
      <a href="<?php echo Mage::getUrl('')?>" class="close pull-right"><span class="jicon close"></span></a>
    </div>
    <div class="body">
      <?php echo $this->getChildHtml('customer.form.login.extra')?>
      <?php echo $this->getMessagesBlock()->toHtml() ?>
      <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="form-group">
          <label for="email" class="required">E-mail</label>
          <input type="email" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" placeholder="email@email.com.br" id="email" class="form-control required-entry validate-email" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" />
        </div>
        <div class="form-group">
          <label for="pass" class="required">Senha</label>
          <input type="password" name="login[password]" class="form-control required-entry validate-password" placeholder="*********" id="pass" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" />
        </div>
        <div class="form-group">
          <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__('Forgot Your Password?') ?></a>
          <button type="submit" class="btn btn-default btn-login pull-right" name="send" id="send2"><span class="jicon lock"></span><?php echo $this->__('Login') ?></button>
        </div>
        <?php echo $this->getChildHtml('form.additional.info'); ?>
      </form>
      <div class="clearfix"></div>
      <hr>
      <h2>Ainda não tem uma conta?</h2>
      <button type="button" class="btn btn-success btn-block btn-new-account" onclick="window.location='<?php echo $this->getCreateAccountUrl() ?>';"><span class="jicon user-check"></span><?php echo $this->__('Cadastre aqui') ?></button>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('login-form', true);
//]]>
</script>
