<?php
$_interest_type = Mage::getStoreConfig('detailedprice/installments_price/installment_type');
$_interest_value = Mage::getStoreConfig('detailedprice/installments_price/interest_value');
$_interest_max_installments = Mage::getStoreConfig('detailedprice/installments_price/max_installments_without_interest');
$_installments = $this->getInstallmentOptions();
$_id = $this->getProduct()->getId();
?>
<div id="installment-options-popup">
    <button type="button" class="link-pop-installment" data-toggle="modal" data-target="#installment-options-popup .installment-options">Opções de parcelamento</button>
    <div class="installment-options modal fade" tabindex="-1" role="dialog" aria-labelledby="Opções de Parcelamento" data-max-installments="<?php echo $_interest_max_installments; ?>" data-interest-value="<?php echo $_interest_value; ?>" data-type="<?php echo $_interest_type; ?>" data-id="<?php echo $_id; ?>">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                  <div class="col-xs-6">
                    <?php for ($i = 1; $i <= ceil(count($_installments) / 2); $i++): ?>
                        <div class="installment-option" data-installment="<?php echo $i; ?>">
                            <?php echo $i ?>x de <span class="installment-value"><?php echo Mage::helper('core')->currency($_installments[$i]['value'], true, false); ?></span><?php if (!$_installments[$i]['interest']): ?> sem juros<?php endif; ?>
                        </div>
                    <?php endfor; ?>
                  </div>
                  <div class="col-xs-6">
                    <?php for ($i = ceil(count($_installments) / 2) + 1; $i <= count($_installments); $i++): ?>
                        <div class="installment-option" data-installment="<?php echo $i; ?>">
                            <?php echo $i ?>x de <span class="installment-value"><?php echo Mage::helper('core')->currency($_installments[$i]['value'], true, false); ?></span><?php if (!$_installments[$i]['interest']): ?> sem juros<?php endif; ?>
                        </div>
                    <?php endfor; ?>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close-popup" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
