<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php
$_coreHelper = $this->helper('core');
$_weeeHelper = $this->helper('weee');
$_taxHelper  = $this->helper('tax');
/* @var $_coreHelper Mage_Core_Helper_Data */
/* @var $_weeeHelper Mage_Weee_Helper_Data */
/* @var $_taxHelper Mage_Tax_Helper_Data */
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$_storeId = $_product->getStoreId();
$_id = $_product->getId();
$_weeeSeparator = '';
$_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
$_minimalPriceValue = $_product->getMinimalPrice();
$_minimalPrice = $_taxHelper->getPrice($_product, $_minimalPriceValue, $_simplePricesTax);
?>

<?php if (!$_product->isGrouped()): ?>
  <?php $_weeeTaxAmount = $_weeeHelper->getAmountForDisplay($_product); ?>
  <?php if ($_weeeHelper->typeOfDisplay($_product, array(Mage_Weee_Model_Tax::DISPLAY_INCL_DESCR, Mage_Weee_Model_Tax::DISPLAY_EXCL_DESCR_INCL, 4))): ?>
    <?php $_weeeTaxAmount = $_weeeHelper->getAmount($_product); ?>
    <?php $_weeeTaxAttributes = $_weeeHelper->getProductWeeeAttributesForDisplay($_product); ?>
  <?php endif; ?>
  <?php $_weeeTaxAmountInclTaxes = $_weeeTaxAmount; ?>
  <?php if ($_weeeHelper->isTaxable() && !$_taxHelper->priceIncludesTax($_storeId)): ?>
    <?php $_attributes = $_weeeHelper->getProductWeeeAttributesForRenderer($_product, null, null, null, true); ?>
    <?php $_weeeTaxAmountInclTaxes = $_weeeHelper->getAmountInclTaxes($_attributes); ?>
  <?php endif; ?>

    <?php if ($_product->getShortDescription() && Mage::getStoreConfigFlag('detailedprice/short_description/active')):?>
        <h2 class="short-description">
            <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
        </h2>
    <?php endif;?>

  <div class="price-box">
    <?php $_price = $_taxHelper->getPrice($_product, $_product->getPrice()) ?>
    <?php $_regularPrice = $_taxHelper->getPrice($_product, $_product->getPrice(), $_simplePricesTax) ?>
    <?php $_finalPrice = $_taxHelper->getPrice($_product, $_product->getFinalPrice()) ?>
    <?php $_finalPriceInclTax = $_taxHelper->getPrice($_product, $_product->getFinalPrice(), true) ?>
    <?php $_weeeDisplayType = $_weeeHelper->getPriceDisplayType(); ?>
    <?php if ($_finalPrice >= $_price): ?>
      <?php if ($_taxHelper->displayBothPrices()): ?>
        <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
          <span class="price-excluding-tax">
            <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
            <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
              <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
            </span>
          </span>
          <span class="price-including-tax">
            <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
            <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
              <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
            </span>
          </span>
        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
          <span class="price-excluding-tax">
            <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
            <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
              <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
            </span>
          </span>
          <span class="price-including-tax">
            <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
            <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
              <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
            </span>
            <span class="weee">(
              <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                <?php echo $_weeeSeparator; ?>
                <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                <?php $_weeeSeparator = ' + '; ?>
              <?php endforeach; ?>
              )</span>
            </span>
          <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
            <span class="price-excluding-tax">
              <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
              <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
              </span>
            </span>
            <span class="price-including-tax">
              <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
              <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
              </span>
              <span class="weee">(
                <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                  <?php echo $_weeeSeparator; ?>
                  <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                  <?php $_weeeSeparator = ' + '; ?>
                <?php endforeach; ?>
                )</span>
              </span>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
              <span class="price-excluding-tax">
                <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                  <?php echo $_coreHelper->currency($_price, true, false) ?>
                </span>
              </span>
              <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                <span class="weee">
                  <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                </span>
              <?php endforeach; ?>
              <span class="price-including-tax">
                <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                  <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                </span>
              </span>
            <?php else: ?>
              <span class="price-excluding-tax">
                <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                  <?php if ($_finalPrice == $_price): ?>
                    <?php echo $_coreHelper->currency($_price, true, false) ?>
                  <?php else: ?>
                    <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
                  <?php endif; ?>
                </span>
              </span>
              <span class="price-including-tax">
                <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                  <?php echo $_coreHelper->currency($_finalPriceInclTax, true, false) ?>
                </span>
              </span>
            <?php endif; ?>
          <?php else: ?>
            <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
              <span class="regular-price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
              </span>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
              <span class="regular-price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
              </span>
              <span class="weee">(
                <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                  <?php echo $_weeeSeparator; ?>
                  <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                  <?php $_weeeSeparator = ' + '; ?>
                <?php endforeach; ?>
                )</span>
              <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
                <span class="regular-price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                  <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
                </span>
                <span class="weee">(
                  <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                    <?php echo $_weeeSeparator; ?>
                    <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                    <?php $_weeeSeparator = ' + '; ?>
                  <?php endforeach; ?>
                  )</span>
                <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
                  <span class="regular-price"><?php echo $_coreHelper->currency($_price,true,true) ?></span><br />
                  <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                    <span class="weee">
                      <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                    </span>
                  <?php endforeach; ?>
                  <span class="regular-price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
                  </span>
                <?php else: ?>
                  <span class="regular-price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                    <?php if ($_finalPrice == $_price): ?>
                      <?php echo $_coreHelper->currency($_price, true, true) ?>
                    <?php else: ?>
                      <?php echo $_coreHelper->currency($_finalPrice, true, true) ?>
                    <?php endif; ?>
                  </span>
                <?php endif; ?>
              <?php endif; ?>
            <?php else: /* if ($_finalPrice == $_price): */ ?>
              <?php $_originalWeeeTaxAmount = $_weeeHelper->getOriginalAmount($_product); ?>

              <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
                <p class="old-price">
                  <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                  <span class="price" id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
                  </span>
                </p>

                <?php if ($_taxHelper->displayBothPrices()): ?>
                  <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                    <span class="price-excluding-tax">
                      <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                      <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
                      </span>
                    </span>
                    <span class="price-including-tax">
                      <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                      <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                      </span>
                    </span>
                  </p>
                <?php else: ?>
                  <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                    <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                      <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmountInclTaxes, true, false) ?>
                    </span>
                  </p>
                <?php endif; ?>

              <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
                <p class="old-price">
                  <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                  <span class="price" id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
                  </span>
                </p>

                <p class="special-price">
                  <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                  <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                      <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
                    </span>
                  </span>
                  <span class="weee">(
                    <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                      <?php echo $_weeeSeparator; ?>
                      <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                      <?php $_weeeSeparator = ' + '; ?>
                    <?php endforeach; ?>
                    )</span>
                    <span class="price-including-tax">
                      <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                      <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                      </span>
                    </span>
                  </p>
                <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
                  <p class="old-price">
                    <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                    <span class="price" id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                      <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
                    </span>
                  </p>

                  <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                    <span class="price-excluding-tax">
                      <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                      <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
                      </span>
                    </span>
                    <span class="weee">(
                      <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                        <?php echo $_weeeSeparator; ?>
                        <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                        <?php $_weeeSeparator = ' + '; ?>
                      <?php endforeach; ?>
                      )</span>
                      <span class="price-including-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                        <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                          <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span>
                      </span>
                    </p>
                  <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
                    <p class="old-price">
                      <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                      <span class="price" id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_regularPrice, true, false) ?>
                      </span>
                    </p>

                    <p class="special-price">
                      <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                      <span class="price-excluding-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                        <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                          <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
                        </span>
                      </span>
                      <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                        <span class="weee">
                          <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                        </span>
                      <?php endforeach; ?>
                      <span class="price-including-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                        <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                          <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                        </span>
                      </span>
                    </p>
                  <?php else: // excl. ?>
                    <p class="old-price">
                      <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                      <span class="price" id="old-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_regularPrice, true, false) ?>
                      </span>
                    </p>

                    <?php if ($_taxHelper->displayBothPrices()): ?>
                      <p class="special-price">
                        <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                        <span class="price-excluding-tax">
                          <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                          <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
                          </span>
                        </span>
                        <span class="price-including-tax">
                          <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                          <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_finalPriceInclTax, true, false) ?>
                          </span>
                        </span>
                      </p>
                    <?php else: ?>
                      <p class="special-price">
                        <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                        <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                          <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
                        </span>
                      </p>
                    <?php endif; ?>
                  <?php endif; ?>

                <?php endif; /* if ($_finalPrice == $_price): */ ?>

                  <?php if ($this->getDisplayMinimalPrice() && $_minimalPriceValue && $_minimalPriceValue < $_product->getFinalPrice()): ?>

                    <?php $_minimalPriceDisplayValue = $_minimalPrice; ?>
                    <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, array(0, 1, 4))): ?>
                      <?php $_minimalPriceDisplayValue = $_minimalPrice + $_weeeTaxAmount; ?>
                    <?php endif; ?>

                    <?php if ($this->getUseLinkForAsLowAs()):?>
                      <a href="<?php echo $_product->getProductUrl(); ?>" class="minimal-price-link">
                      <?php else:?>
                        <span class="minimal-price-link">
                        <?php endif?>
                        <span class="label"><?php echo $this->__('Menor preço:') ?></span>
                        <span class="price" id="product-minimal-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                          <?php echo $_coreHelper->currency($_minimalPriceDisplayValue, true, false) ?>
                        </span>
                        <?php if ($this->getUseLinkForAsLowAs()):?>
                        </a>
                      <?php else:?>
                      </span>
                    <?php endif?>
                  <?php endif; /* if ($this->getDisplayMinimalPrice() && $_minimalPrice && $_minimalPrice < $_finalPrice): */ ?>


                    <?php echo $this->getDetailedPriceHtml(); ?>

                    <?php//FIM PRICE-BOX  ?>
                  </div>















                <?php else: /* if (!$_product->isGrouped()): */ ?>
                  <?php
                  $_exclTax = $_taxHelper->getPrice($_product, $_minimalPriceValue);
                  $_inclTax = $_taxHelper->getPrice($_product, $_minimalPriceValue, true);
                  ?>
                  <?php if ($this->getDisplayMinimalPrice() && $_minimalPriceValue): ?>
                    <div class="price-box">
                      <p class="minimal-price">
                        <span class="price-label"><?php echo $this->__('Começando em:') ?></span>
                        <?php if ($_taxHelper->displayBothPrices()): ?>
                          <span class="price-excluding-tax">
                            <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                            <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                              <?php echo $_coreHelper->currency($_exclTax, true, false) ?>
                            </span>
                          </span>
                          <span class="price-including-tax">
                            <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                            <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                              <?php echo $_coreHelper->currency($_inclTax, true, false) ?>
                            </span>
                          </span>
                        <?php else: ?>
                          <?php
                          $_showPrice = $_inclTax;
                          if (!$_taxHelper->displayPriceIncludingTax()) {
                            $_showPrice = $_exclTax;
                          }
                          ?>
                          <span class="price" id="product-minimal-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_showPrice, true, false) ?>
                          </span>
                        <?php endif; ?>
                      </p>

                      <?php echo $this->getDetailedPriceHtml(); ?>

                    </div>
                  <?php endif; /* if ($this->getDisplayMinimalPrice() && $_minimalPrice): */ ?>
                  <?php endif; /* if (!$_product->isGrouped()): */ ?>
