<?php 
  $rowData = $this->getRow();   
  $imgPath = Mage::getBaseUrl('media')."productlabel/category_img/".$rowData['category_img']; 
  $size = getimagesize($imgPath);
?>
<div class="productlabel-preview-wrap">
	<div class="productlabel-wrap">
		<table style="width:<?php echo $size[0]?>px; height:<?php echo $size[1]?>px" id="category_image_<?php echo $rowData['label_id'];?>" class="label-category-page <?php echo Mage::helper('productlabel')->getCssByPosition($rowData['category_position']);?>">
			<colgroup>
				<col width="1">
			</colgroup>
			<tbody>
				<tr>
					<td style="background: url('<?php echo $imgPath;?>') no-repeat 0 0"><label style="<?php echo $rowData['category_style'];?>"><?php echo $rowData['category_txt'];?></label>
					</td>
				</tr>
			</tbody>
		</table>
	</div> 
</div>
