<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* Home Page
*/
?>
<?php if ($this->getBlock(1)): ?>
<div class="home-primary-banner home-1">
  <?php // Banner ?>
  <?php echo $this->getBlock(1); ?>
</div>
<?php endif; ?>

<?php if ($this->getBlock(2)): ?>
<div class="home-pitbar home-2 hidden-xs">
  <div class="container">
    <?php // Pitbar  ?>
    <?php echo $this->getBlock(2); ?>
  </div>
</div>
<?php endif; ?>


<?php // Banner 2 Coluanas ?>
<?php if ($this->getBlock(3) && $this->getBlock(4)): ?>
<div class="home-banners home-3 hidden-xs">
  <div class="container">
    <div class="two-columns">
      <div class="row">
        <div class="col-sm-6 col-1">
          <?php echo $this->getBlock(3); ?>
        </div>
        <div class="col-sm-6 col-2">
          <?php echo $this->getBlock(4); ?>
        </div>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>

<?php if ($this->getProductListHtml(1)): ?>
<div class="home-product-carousel home-4">
  <div class="container">
    <div class="row">
      <div class="product-list-1">
        <?php // Carousel de produto 1  ?>
        <?php echo $this->getProductListHtml(1); ?>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>

<?php if ($this->getBlock(5)): ?>
<div class="home-banner-4-full home-5 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="one-column">
        <div class="col-1">
          <?php // Banner 4 ?>
          <?php echo $this->getBlock(5); ?>
        </div>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>

<?php if ($this->getProductListHtml(2)): ?>
<div class="home-product-carousel home-7">
  <div class="container">
    <div class="row">
      <div class="product-list-2">
        <?php // Carousel de produto 2  ?>
        <?php echo $this->getProductListHtml(2); ?>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>

<?php if ($this->getBlock(6)): ?>
<div class="home-banner-4-full home-8 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="one-column">
        <div class="col-1">
          <?php // Banner 4 ?>
          <?php echo $this->getBlock(6); ?>
        </div>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>

<?php if ($this->getProductListHtml(3)): ?>
<div class="home-product-carousel home-9">
  <div class="container">
    <div class="row">
      <div class="product-list-3">
        <?php // Carousel de produto 3  ?>
        <?php echo $this->getProductListHtml(3); ?>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>

<?php if ($this->getBlock(7)): ?>
<div class="home-instagram home-9 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="one-column">
        <div class="col-1">
          <?php // Instagram ?>
          <?php echo $this->getBlock(7); ?>
        </div>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>
