<div class="notification-global">
    <strong>
        Em caso de dúvidas <a href="https://atendimento.jn2.com.br" target="_blank">clique aqui</a> para visitar nossa base de conhecimento.
    </strong>
</div>