<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="frame-card">
  <div class="title"><?php echo $this->__('Default Billing Address') ?></div>
  <div class="body">
    <?php echo $this->getPrimaryBillingAddressHtml() ?>
    <hr/>
    <a href="<?php echo $this->getPrimaryBillingAddressEditUrl() ?>" class="btn btn-info" role="button"><?php echo $this->__('Edit Address') ?></a>
  </div>
</div>

<div class="frame-card">
  <div class="title"><?php echo $this->__('Default Shipping Address') ?></div>
  <div class="body">
    <?php echo $this->getPrimaryShippingAddressHtml() ?><br />
    <hr/>
    <a href="<?php echo $this->getPrimaryShippingAddressEditUrl() ?>" class="btn btn-info" role="button"><?php echo $this->__('Edit Address') ?></a>
  </div>
</div>
