<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="frame-card">
  <div class="title"><?php echo $this->__('Contact Information') ?></div>
  <div class="body">
    <p>
      <?php echo $this->escapeHtml($this->getCustomer()->getName()) ?><br />
      <?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?><br />
    </p>
    <hr/>
    <a href="<?php echo $this->getUrl('customer/account/edit') ?>" class="btn btn-info" role="button"><?php echo $this->__('Edit') ?></a>
    <a href="<?php echo $this->getChangePasswordUrl() ?>" class="btn btn-danger" role="button"><?php echo $this->__('Change Password') ?></a>
  </div>
</div>

