<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<?php if ($this->hasValidGroup()): ?>
	<?php $group = $this->getGroup() ?>
	<?php $banners = $this->getBanners() ?>
	<div id="<?php echo $this->getWrapperId() ?>" class="owl-carousel <?php echo $this->getWrapperClass() ?>">
		<?php foreach($banners as $banner): ?>
			<div id="ibanner-<?php echo $banner->getId() ?>" class="item">
				<?php if ($banner->getImageUrl()): ?>
					<?php if ($banner->hasUrl()): ?>
						<a href="<?php echo $banner->getUrl() ?>" title="<?php echo $this->escapeHtml($banner->getTitle()) ?>"<?php if ($banner->getUrlTarget()): ?> target="<?php echo $banner->getUrlTarget() ?>"<?php endif; ?>>
						<?php endif; ?>
						<img src="<?php echo $banner->getImageUrl() ?>" alt="<?php echo $this->escapeHtml($banner->getAltText()) ?>" class="img-responsive"/>
						<?php if ($banner->hasUrl()): ?>
						</a>
					<?php endif; ?>
				<?php endif; ?>
				<?php if ($banner->getHtml()): ?>
					<div class="html"><?php echo $banner->getHtml() ?></div>
				<?php endif; ?>
			</div>
		<?php endforeach; ?>
	</div>
	<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function($){
		$('#<?php echo $this->getWrapperId() ?>').owlCarousel({
			loop:true,
			navigation: true,
			navigationText: ['<img src="<?php echo $this->getSkinUrl('images/slide-left.png');?>"/>','<img src="<?php echo $this->getSkinUrl('images/slide-right.png');?>" />'],
			pagination: false,
			singleItem: <?php echo $group->getCarouselVisibleSlides() ? "true" : "false" ?>,
			items: <?php echo $group->getCarouselVisibleSlides() ?>,
			slideSpeed: <?php echo $group->getCarouselDuration() ?>,
			autoPlay: <?php if ($group->getCarouselAuto()): ?>true<?php else: ?>false<?php endif; ?>,
		});
	});
	//]]>
	</script>
<?php endif; ?>
