
    <div class="<?php if($this->getConfig("custom_home/blocks/bloco_1_fluid")==1): ?> container-fluid offset-0<?php else:?> container <?php endif ?> ">
        <div class="row show-grid">
            <div class="col-sm-12">
              <?php echo $this->getBlock(1); ?>
            </div>
        </div>
    </div>
  <!-- FIM ROW 1 BLOCK BANNER -->

<div class="container<?php if($this->getConfig("custom_home/blocks/bloco_2_fluid")==1) echo "-fluid"; ?> content-theme">
  
  <!-- ROW 2 BLOCK BANNER-->    
    <div class="row show-grid">
        <div class="col-sm-12">
          <?php echo $this->getBlock(2); ?>
        </div>
    </div>
  <!-- FIM ROW 2 BLOCK BANNER-->

<!-- LISTA DE PRODUTO 1 -->
   <div class="row show-grid">
      <div class="col-sm-12">
        <?php echo $this->getProductListHtml(1); ?>
      </div>
  </div>
<!-- FIM LISTA DE PRODUTO 1 -->

<!-- BLOCO 3 E 4 -->

   <div class="row show-grid">
      <div class="col-sm-6">
        <?php echo $this->getBlock(3); ?>
      </div>
        <div class="col-sm-6">
        <?php echo $this->getBlock(4); ?>
      </div>
  </div>

<!-- FIM BLOCO 3 E 4 -->

<!-- LISTA DE PRODUTO 2  -->

<?php //echo $this->getProductListHtml(2); ?>

<?php //echo $this->getProductListHtml(3); ?> 

  <div class="row show-grid">
    <?php echo $this->getProductTabListHtml([2, 3]); ?>
  </div>

<!-- FIM LISTA DE PRODUTO 2 -->

<!-- BLOCO 5 6 E 7 -->
  <div class="row show-grid">
      <div class="col-sm-4">
        <?php echo $this->getBlock(5); ?>
      </div>
      <div class="col-sm-4">
        <?php echo $this->getBlock(6); ?>
      </div>
      <div class="col-sm-4">
        <?php echo $this->getBlock(7); ?>
      </div>
  </div>
<!-- FIM BLOCO 5 6 E 7 -->

<!-- BLOCO 8 -->
  <div class="row show-grid">
      <div class="col-sm-3">
        <?php echo $this->getBlock(8); ?>
      </div>
      <div class="col-sm-9">
        <?php echo $this->getBlock(9); ?>
      </div>
  </div>
<!-- FIM BLOCO 8 -->

<!-- BLOCO 9 -->      
  <div class="row show-grid">
      <div class="col-sm-12">
        <?php echo $this->getBlock(10); ?>
      </div>    
  </div>
<!--FIM BLOCO 9 -->      

</div>
