

    <div class="<?php if($this->getConfig("custom_home/blocks/bloco_1_fluid")==1): ?> container-fluid offset-0<?php else:?> container <?php endif ?> ">
        <div class="row show-grid">
            <div class="col-sm-12">
            <?php echo $this->getBlock(1); ?>
            </div>
        </div>
    </div>

  <!-- FIM ROW 1 BLOCK BANNER -->

    <div class="container<?php if($this->getConfig("custom_home/blocks/bloco_2_fluid")==1) echo "-fluid"; ?> content-theme">
      <div class="row show-grid">
        <div class="col-sm-12">
          <?php echo $this->getBlock(2); ?>
        </div>
      </div>
        
  <!-- FIM ROW 2 BLOCK BANNER-->


   <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getProductListHtml(1); ?>
    </div>
  </div>

  <!-- FIM ROW 3 PRODUCT-->

  <div class="row show-grid">
    <div class="col-sm-6">
      <?php echo $this->getBlock(3); ?>
    </div>
    <div class="col-sm-6">
      <?php echo $this->getBlock(4); ?>
    </div>
  </div>

  <!-- FIM ROW 4 BlOCK BANNER-->


  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getProductListHtml(2); ?>
    </div>
  </div>

  <!-- FIM ROW 5 PRODUCT-->

</div>
