.menu-theme3 {
  width: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  display: none;
  ul {
    float: none;
    padding: 0;
    border-bottom: 6px solid;
    li{
      text-align: left;
      &:hover ~ .inner-content-level2-2 {
        display: block;
      }
      a {
        display: block;
        padding: 10px 15px;
        &:hover ~ .inner-content-level2-2 {
          display: block;
        }
      }
    }
  }

  .ul-level2 {
    width: 25%;
    background-color: #fff;
    height: 100%;
    a{
      &.with-itens{
        &:before{
          content: '\f105';
          display: inline-block;
          font-family: FontAwesome;
          float: right;
          font-size: 14px;
          //padding: 11px 12px 9px 0;

        }
        &:hover{
          color: #fff!important;

        }
      }
    }
  }

  .inner-content-level2-2 {
    display: none;
    position: absolute;
    left: auto;
    top: 0px;
    right: 0;
    width: 75%;
    background-color: #fff;
    border-left: 4px solid #ccc;
    z-index: 999;
    min-height: 100%;
    height: auto;
    .ul-level3 {
      float: left;
      padding: 10px 15px;
      border-right: 1px solid #ccc;
      margin-bottom: 10px;

      li {
        font-size: 13px;
      }
    }
    .img-display-level3{
      img{
        width: 100%;
      }
    }
    &:hover{
      display: block;
    }
  }
  &:hover{
    display: block;
  }
}
