@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Roboto:100,300,400,700&subset=cyrillic-ext,greek');

.roboto{
  font-family: 'Roboto', sans-serif;
}

.playfair{
  font-family: 'Playfair Display', serif !important;
}

*:not(.fa):not(.jicon){
  font-family: 'Roboto', sans-serif;
}
$red: #FF0539;

.menu-theme-5{
  background: #fff;

  .content-mega-menu {
    .inner-content{
      background: #FFFFFF;
      border: 0px;
      padding-bottom: 50px;

      .category-img-display{
        position: absolute;
        top: 0px;
        right: 0px;

        img{
          width: 100%;
        }
      }
    }
    ul.nav {
      & > li{
        &:hover{
          & > a{
            background: #fff;
            color: $red !important;
            position: relative;

            &:before{
              content: ' ';
              position: absolute;
              width: 10px;
              height: 10px;
              background: #fff;
              border-top: 1px solid #eee;
              border-left: 1px solid #eee;
              left: calc(50% - 5px);
              bottom: -5px;
              transform: rotate(45deg);
            }
          }
        }
        & > a {
          @extend .roboto;
          font-weight: 300;
          color: #000;

          &:hover{
            background: #fff;
            color: $red !important;
          }
        }
      }
    }
    .level2{
      & > a{
        @extend .playfair;
        text-transform: none !important;
        color: #000 !important;
        font-style: italic;
        font-size: 26px;
        font-weight: normal;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      &:hover > a {
        color: #000 !important;
      }

      .subcategory.level3{
        padding: 0px;
        margin: 0px;
        width: 100%;

        li{
          padding: 0px;
          margin: 0px;
          width: 100%;
          margin-left: -10px;
          margin-bottom: 5px;

          a{
            text-transform: uppercase;
            color: #000;
            padding: 5px 10px !important;
            font-weight: lighter !important;
            font-size: 12px;
            overflow: hidden;
            position: relative;

            &:before{
              content: ' ';
              position: absolute;
              width: 10px;
              height: 10px;
              left: -20px;
              margin-top: 2px;
              color: #000;
              background: url(../img/icon_chev_down.png) no-repeat center center;
              transform: rotate(-90deg);
            }

            &:hover{
              padding-left: 15px !important;

              &:before{
                left: 0px;
              }
            }
          }
        }
      }
    }
    & > ul > li:last-child > a{
      color: $red !important;
      font-weight: normal;
      &:hover{
        background: $red;
        color: #fff !important;
      }
    }
  }

  &.mega-menu-jn2 .content-mega-menu ul li{
    float: none;
  }
  .content-mega-menu{
    .inner-content{
      top: 233px !important;
    }
    .level2{
      & > a{
        color: #000 !important;
        background: transparent !important;

        &:hover{
          background: transparent !important;
          color: #000 !important;
          text-decoration: underline;
        }
      }
    }
    .nav{
      li{
        &.level0{
          position: static;
        }
      }
    }
    ul{
      li{
        a{
          float: none;
        }
      }
    }
  }
}
