.menu-theme-4{
  &.mega-menu-jn2 .content-mega-menu ul li{
    float: none;
  }
  .content-mega-menu{
    .inner-content{
      top: 193px!important;
    }
    .nav{
      li{
        &.level0{
          position: static;
        }
      }
    }
    ul{
      li{
        a{
          float: none;
        }
      }
    }
  }
}
