@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Roboto:100,300,400,700&subset=cyrillic-ext,greek');
@import "compass/css3/box-shadow";

.roboto{
  font-family: 'Roboto', sans-serif;
}

.playfair{
  font-family: 'Playfair Display', serif !important;
}

*:not(.fa):not(.jicon){
  font-family: 'Roboto', sans-serif;
}

$color-1:#666;
$color-3:#333;
$red: #FF0539;

.nav-container,
.mega-menu-jn2 {
    background-color: $color-3;
    border: 0;
    transition: all 0.1s;
    .content-mega-menu {
        display: block;
        ul {
            li {
                float: left;
                font-family: 'Open Sans Condensed', sans-serif;
                font-weight: 700;

                a {
                    color: #fff;
                    display: block;
                    padding: .9em .9em;
                    float: left;

                    &:hover ~ .inner-content{
                        display: block;
                    }
                    @media screen and (min-width: 992px) and (max-width: 1199px){
                        padding: .5em .5em;
                    }
                }
                .ico-cat{
                    float: left;
                    margin-right: .7em;
                    width: 29px;
                    height: 28px;
                    background-position: 0 0;
                    margin-top: -5px;
                    @media screen and (min-width: 992px) and (max-width: 1199px){
                        margin-left: .3em;
                        margin-right: .3em;
                    }
                }
                &:hover{
                    .ico-cat{
                        background-position: 0 27px;
                    }
                }
            }
            & > li {
                position: relative;
                font-size: 14px;
                text-transform: uppercase;
                // padding: .7em 0;
                //border-left: 1px solid #fff;
                 //&:after{
                    // content: "|";
                    // color: #fff;
                    // font-size: 19px;
                    // margin-left: 1.4em;
                    // font-weight: lighter;
                    // float: right;
                    // margin-top: 4px;
                    // margin-right: 3px;
                    // width: 0px;
               // }
                &:last-child:after{
                    visibility: hidden;
                }
                &:hover{
                    background-color: #f5f5f5;
                    cursor: pointer;
                    a{
                        color: $color-1;
                    }
                }

                @media screen and (min-width: 992px) and (max-width: 1199px){
                    font-size: 15px;
                }


            }
        }

        .inner-content
         {
            @include box-shadow(rgba(0, 0, 0, 0.5) 0px 10px 17px);
            display: none;
            position: absolute;
            min-width: 225px;
            background-color: #f5f5f5;
            z-index: 98;
            border-bottom: 6px solid $color-1;
            top: 3.1em;
            left: 0;
            min-height: 175px;
            text-align: left;
            &:hover {
                display: block!important;
            }
            .img-display {
                /*position: absolute;
                text-align: right;
                right: 0;
                top: 0;
                max-height: 420px;
                overflow: hidden;*/
                float: right;
                width: 60%;
                img {
                    margin: 0;
                    width: 100%;
                }
            }
            ul {
                /*position: absolute;
                top: 20px;*/
                //left: 40px;
                float: left;
                padding: 15px;
                li {
                    float: none;
                    margin-bottom: 0.5em;
                    font-size: 16px;
                    padding: 0;

                    a {
                        color: $color-1;
                        text-transform: capitalize;
                        padding: 0 0 0 0;
                        float: none;
                        i {
                            font-size: 5px;
                            color: #aaa;
                            vertical-align: 3px;
                            margin-right: 3px;
                        }
                        &:hover{
                            color: $color-3;
                        }
                    }
                    &:after{
                        display: none;
                    }
                    &:hover{
                        background-color: transparent;
                    }
                }
                &:hover {
                    //display: block!important;
                }
            }

            &.theme2{
              ul{
                float: none;
                padding: 0;
                li{
                  &:hover ~ .inner-content-level2 {
                      display: block;
                  }
                  a{
                    display: block;
                    padding: 10px 15px;
                    &:hover{
                      background-color: #A1E73C;
                      color: #fff!important;
                    }
                    &:hover ~ .inner-content-level2 {
                        display: block;
                    }
                  }
                }

              }
              &>ul{
                &>li{
                  &:before{
                    content: '\f105';
                    display: inline-block;
                    font-family: FontAwesome;
                    float: right;
                    font-size: 14px;
                    padding: 11px 12px 9px 0;

                  }
                  &:hover{
                    color: #fff!important;

                  }

                }
              }

            }

        }

        .inner-content-level2{
          display: none;
          position: absolute;
            left: 205px;
          top: 0px;
          background-color: #fff;
          border-left: 4px solid #ccc;
          min-width: 650px;
          z-index: 999;
          &:hover {
              display: block!important;
          }
          ul.ul-level3{
            float: left;
            padding: 10px 15px;
            border-right: 1px solid #ccc;
            margin-bottom: 10px;
            &:last-child{
              border: none;
            }
            li{
              font-size: 13px;
              padding: 10px 0;

              &:hover{
                color: #666;
              }
            }
          }
          .img-display-level3{
            img{
              width: 100%;
            }
          }
        }

    }
}


.content-mega-menu{
  ul{
    .menu-item{
      a{
        &:hover ~ .menu-theme3 {
            display: block;
        }
      }
    }
  }
}

.menu-theme3 {
    width: 100%;
    position: absolute;
    z-index: 999;
    left: 0;
    display: none;
    ul {
      float: none;
      padding: 0;
      border-bottom: 6px solid;
      li{
        text-align: left;
        &:hover ~ .inner-content-level2-2 {
            display: block;
        }
          a {
            display: block;
            padding: 10px 15px;
            &:hover ~ .inner-content-level2-2 {
                display: block;
            }
          }
        }
      }

    .ul-level2 {
      width: 25%;
      background-color: #fff;
      height: 100%;
      a{
        &.with-itens{
          &:before{
            content: '\f105';
            display: inline-block;
            font-family: FontAwesome;
            float: right;
            font-size: 14px;
            //padding: 11px 12px 9px 0;

          }
          &:hover{
            color: #fff!important;

          }
        }
      }
    }


    .inner-content-level2-2 {
      display: none;
      position: absolute;
      left: auto;
      top: 0px;
      right: 0;
      width: 75%;
      background-color: #fff;
      border-left: 4px solid #ccc;
      /* min-width: 650px; */
      z-index: 999;
      //height: 100%;
      min-height: 100%;
      height: auto;
      .ul-level3 {
          float: left;
          padding: 10px 15px;
          border-right: 1px solid #ccc;
          margin-bottom: 10px;

          li {
            font-size: 13px;
        }
      }
      .img-display-level3{
        img{
          width: 100%;
        }
      }
      &:hover{
          display: block;
      }
    }
    &:hover{
        display: block;
    }
}

.menu-theme-4{
    &.mega-menu-jn2 .content-mega-menu ul li{
        float: none;
    }
    .content-mega-menu{
        .inner-content{
            top: 193px!important;
        }
        .nav{
          li{
            &.level0{
                position: static;
            }
          }
        }
        ul{
            li{
                a{
                  float: none;
                }
            }
        }
    }
}


.menu-item {
    position: static !important;
    &.no-grandchild{
      position: relative!important;
      .menu-theme3{
        .ul-level2{
          width: 100%;
        }
      }
    }
}
.item-link {
    padding: 10px 0px;
    font-size: 13px;
    display: block;
    height: 100%;
    width: 100%;
}


// @for $i from 1 through 4{
//   .content-mega-menu ul li:nth-last-child(#{$i}) .inner-content {
//      right: 0px;
//      left: auto;
//   }
// }

.mega-menu-jn2{
    @media screen and (max-width: 991px){
        display: none;
    }
}

.content-mega-menu ul li:last-child .inner-content { right: 0px; left: auto; }
.content-mega-menu ul li:nth-last-child(2) .inner-content { right: 0px; left: auto; }

.layered {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}


.menu-theme-5{
  background: #fff;

  .content-mega-menu {
    .inner-content{
      background: #FFFFFF;
      border: 0px;
      padding-bottom: 50px;

      .category-img-display{
        position: absolute;
        top: 0px;
        right: 0px;

        img{
          width: 100%;
        }
      }
    }
    ul.nav {
      & > li{
        &:hover{
          & > a{
            background: #fff;
            color: $red !important;
            position: relative;

            &:before{
              content: ' ';
              position: absolute;
              width: 10px;
              height: 10px;
              background: #fff;
              border-top: 1px solid #eee;
              border-left: 1px solid #eee;
              left: calc(50% - 5px);
              bottom: -5px;
              transform: rotate(45deg);
            }
          }
        }
        & > a {
          @extend .roboto;
          font-weight: 300;
          color: #000;

          &:hover{
            background: #fff;
            color: $red !important;
          }
        }
      }
    }
    .level2{
      & > a{
        @extend .playfair;
        text-transform: none !important;
        color: #000 !important;
        font-style: italic;
        font-size: 26px;
        font-weight: normal;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 10px;
      }
      &:hover > a {
        color: #000 !important;
      }

      .subcategory.level3{
        padding: 0px;
        margin: 0px;
        width: 100%;

        li{
          padding: 0px;
          margin: 0px;
          width: 100%;
          margin-left: -10px;
          margin-bottom: 5px;

          a{
            text-transform: uppercase;
            color: #000;
            padding: 5px 10px !important;
            font-weight: lighter !important;
            font-size: 12px;
            overflow: hidden;
            position: relative;

            &:before{
              content: ' ';
              position: absolute;
              width: 10px;
              height: 10px;
              left: -20px;
              margin-top: 2px;
              color: #000;
              background: url(../img/icon_chev_down.png) no-repeat center center;
              transform: rotate(-90deg);
            }

            &:hover{
              padding-left: 15px !important;

              &:before{
                left: 0px;
              }
            }
          }
        }
      }
    }
    & > ul > li:last-child > a{
      color: $red !important;
      font-weight: normal;
      &:hover{
        background: $red;
        color: #fff !important;
      }
    }
  }

  &.mega-menu-jn2 .content-mega-menu ul li{
    float: none;
  }
  .content-mega-menu{
    .inner-content{
      top: 167px !important;
    }
    .level2{
      & > a{
        color: #000 !important;
        background: transparent !important;

        &:hover{
          background: transparent !important;
          color: #000 !important;
          text-decoration: underline;
        }
      }
    }
    .nav{
      li{
        &.level0{
          position: static;
        }
      }
    }
    ul{
      li{
        a{
          float: none;
        }
      }
    }
  }
}
