.blog-list li {
    margin-bottom: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e3e3e3;
}
.blog-index-list .toolbar .pager,
.blog-cat-view .toolbar .pager{
    border: none;
}
.postWrapper {
    clear: both;
    margin-bottom: 60px;
}

.postTitle {
    margin-bottom: 7px;
}

.postTitle h2 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.postTitle h2 a {
    cursor: pointer;
}

.postTitle h3 {
    font-size: 10px;
    margin: 0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
}

.postTitleTop {
    margin-top: 60px;
}

.postContent {
    overflow: hidden;
}

.blog-list .postContent img {
}

.postDetails {
    padding: 0 0 20px;
    color: #81858f;
}

.postDetails a,
.postDetails-tags li a {
    color: #81858f;
}

.postDetails a:hover,
.postDetails-tags li a:hover {
    color: #000;
}

.postDetails i {
    margin-right: 3px;
}

.postDetails span {
    margin-right: 12px;
    font-size: 9pt;
}

.aw-blog-read-more {
    display: table;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 15px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    padding: 15px 70px;
    background: #f1ba84;
    box-shadow: 0 5px 5px rgba(44, 45, 48, 0.14);
    -webkit-box-shadow: 0 5px 5px rgba(44, 45, 48, 0.14);
}

.widget-latest .aw-blog-read {
    text-align: center;
}

.widget-latest .aw-blog-read-more {
    display: inline-block;
    margin: -8px 0 0;
}

.widget-latest-wrap .aw-blog-read-more:hover {
    background: #676b78;
}

.aw-blog-read-more span {
    position: relative;
}

.aw-blog-read-more:hover,
.aw-blog-read-more:focus {
    color: #fff;
    background: #676b78;
    text-decoration: none;
}

.widget-latest li .all-blog {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #676b78;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 5px;
}

.widget-latest li .all-blog:hover {
    color: #f1ba84;
}

.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

.commentWrapper {
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #d6d6d6;
}

.commentWrapper:after {
    content: "";
    display: table;
    clear: both;
}

.commentWrapper i {
    font-size: 16px;
    margin-right: 5px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #81858f;
}

.commentDetails > span {

}

.commentDetails .postDetails-user {
    margin-right: 10px;
}

.commentDetails h4.username {
    display: inline;
}

.postError {
    font-size: 16px;
}

.tags {

}

.postDetails-tags h4 {
    display: none;
}

.postDetails-tags ul:before {
    content: "\f02b";
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: 5px 9px;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {

}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.block-blog .menu-categories UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI {
    margin-left: 10px;
    margin-bottom: 5px;
}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {

}

.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {

}

.block-blog .block-subtitle,
.menu-tags h5 {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.block-blog .menu-categories {
    margin: 0;
    padding: 5px 9px;
}

.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}

.widget-latest {
    margin-bottom: 46px;
    padding-bottom: 46px;
    border-bottom: 1px solid #ebecec;
}

.widget-latest .row > li {
    margin-bottom: 40px;
}

.widget-latest-wrap {
    overflow: hidden;
}

.widget-latest-content {
    padding: 0 0 0 30px;
    overflow: hidden;
}

.widget-latest-title {
    margin-bottom: 6px;
}

.widget-latest-title a {
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: #f1ba84;
}

.widget-latest-title a:hover {
    color: #374046;
}

.widget-latest .postContent {
    padding: 0;
    margin-bottom: 28px;
}

.widget-latest .postContent-desc {
    margin: 0 0 10px;
    max-height: 44px;
}

.widget-latest .postContent-desc img {
    display: none;
}

.widget-latest .postContent-img p {
    display: none;
}

.widget-latest .postContent-img {
    float: left;
    margin: 0;
}

.widget-latest .postContent img {
    position: relative;
    margin-right: 0 !important;
    float: none !important;
    max-width: 100%;
}

.widget-latest-details {
    margin-bottom: 15px;
}

.widget-latest-details,
.widget-latest-details a {
    font-size: 14px;
    color: #81858f;
    display: inline-block;
}

.widget-latest-details .widget-latest-data {
    display: inline-block;
}

.widget-latest-comment {
    color: #81858f;
    text-transform: uppercase;
}

.widget-latest-comment:hover {
    color: #333;
}

.widget-latest-comment i {
    margin-right: 4px;
}

.widget-latest-details i {
    margin-right: 5px;
    font-size: 21px;
    vertical-align: sub;
    color: #c9c8c8;
}

.widget-latest-details .widget-latest-comment:hover {
    color: #fe3c3c;
}

@media only screen and (max-width: 1199px) {
    .widget-latest .postContent-img {
        float: none;
    }

    .widget-latest .postContent-img img {
        width: 100%;
    }

    .widget-latest-content {
        padding-left: 0;
        padding-top: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .widget-latest-title a {
        font-size: 16px;
        line-height: 20px;
    }

    .widget-latest-content {
        padding-left: 0;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .widget-latest-wrap {
        padding: 0 10px;
    }

    .widget-latest ul > li {
        margin-bottom: 30px;
    }

    .blog-list .postContent img {
        width: 30%;
    }

    .widget-latest-content {
        padding: 20px 0 0;
    }
}
