<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>

<div class="newsletter-footer">
  <div class="container">
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
      <div class="newsletter-form">
        <input type="email" name="email" id="newsletter" class="form-control required-entry validate-email" placeholder="Digite aqui seu email..."/>
        <button type="submit" class="btn btn-send"><span class="jicon send"></span></button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>
