@import url("jn2_icons.css");


h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
.main-container label {font-weight: normal;}
.page .label,
.ajaxcartmsgc .label {
	color: inherit;
	font-size: 100%;
	border-radius: 0;
	display: inline-block;
	text-align: left;
	white-space:normal;
	line-height: normal;
}
.ajaxcartmsgc .label label {font-weight: normal;}
.main-container .data-table .label {display: table-cell;}
.main-container .radio, .main-container .checkbox {display: inline-block; margin-top: 0;}

#review-form {
	/*border: 1px solid #ececec!important;*/
}


@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
		width: 1200px;
	}
}

@media only screen and (min-width: 768px) {
	span.toggle {display: none;}
	.footer-col-content,
	.block .block-content,
	.box-collateral-content {
		height: 100% !important;
		display: block !important;
		opacity: 1 !important;
	}
}


.block-shipping-estimate input {
    width: 94%!important;
}

/*
* Category view
*/


.catalog-category-view .products-grid .item {

}

.catalog-category-view .products-grid .first {
			margin-left: 0px;
}


/*
* Product view
*/



.product-view .box-buy {
    background-color: #FFFFFF!important;
    padding: 0.5em!important	;
    border: 1px solid #AFAFAF!important;
}

.star-cb-group {
    background-color: #FFFFFF!important;
}

.block-shipping-estimate button.button span span {
    padding: 5px 5px!important;
}

.product-view .block-shipping-results {
    background-color: #FFFFFF!important;
    border-color: #AFAFAF!important;
}


.product-view .block-shipping-results .block-content li.error-msg {
	border-bottom: 1px solid #df0505;
	background: none;
}


.catalog-product-view .products-grid .item:first-child {
		margin-left: 0px;
}

.catalog-product-view .products-grid .item {
    margin-left: 20px;
}

.reports-list ul li.first {
    border: 1px solid #AFAFAF!important;
}

.reports-list ul li {
    min-height: 310px!important;
}

/*.box-buy.realocate.row, .box-buy.realocate.content-reviews, .box-buy.realocate .box-buy.realocate.box-row {
    display: none;
}*/

@media (min-width: 992px){
	.reports-list .col-md-3 {
		/*width: 18.5%;*/
	}
}

/*
* Account login / register
*/


.account-login .new-users {
    background: none!important;
		border: 1px solid #afafaf!important;
}

.account-login .registered-users {
	background: none!important;
	    border: 1px solid #afafaf!important;
}

.customer-account-login .account-login .new-users h2, .account-login .registered-users h2 {
    border-bottom: 1px solid #AFAFAF!important;
    color: #afafaf!important;
}

.customer-account-login div.account-wrapper {
	padding-top: 0px!important;
}

/*
* Customer Account Create
*/

.fieldset .legend {
    color: #afafaf!important;
}

/*
* Customer Account
*/

.customer-address-index .my-account button.button {
    float: right;
}
