@font-face {
  font-family: 'Jn2 Icons';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/jn2-font.otf) format('otf');
}

@font-face {
  font-family: 'Jn2 Icons';
  src: url('../fonts/jn2-font.eot');
  src: url('../fonts/jn2-font.otf') format('embedded-opentype'),
        url('../fonts/jn2-font.woff') format('woff'),
        url('../fonts/jn2-font.ttf') format('truetype'),
        url('../fonts/jn2-font.svg#font1') format('svg');
  font-weight: normal;
  font-style: normal;
}

.jicon{
  font: normal normal normal 14px/1 'Jn2 Icons';
  text-indent: inherit;
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}

.jicon::before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.jicon.user-circle::before{content: '1'}
.jicon.user::before{content: '2'}
.jicon.interprise::before{content: '3'}
.jicon.plus-circle::before{content: 'a'}
.jicon.bag::before{content: 'b'}
.jicon.barcode::before{content: 'c'}
.jicon.calc::before{content: 'd'}
.jicon.card::before{content: 'e'}
.jicon.cart::before{content: 'f'}
.jicon.check-circle-open::before{content: 'g'}
.jicon.check-circle-close::before{content: 'h'}
.jicon.check::before{content: 'i'}
.jicon.chev-down::before{content: 'j'}
.jicon.chev-up::before{content: 'k'}
.jicon.close::before{content: 'l'}
.jicon.discount::before{content: 'm'}
.jicon.edit::before{content: 'n'}
.jicon.envelope::before{content: 'o'}
.jicon.filter::before{content: 'p'}
.jicon.lock::before{content: 'q'}
.jicon.menu::before{content: 'r'}
.jicon.sales::before{content: 's'}
.jicon.search::before{content: 't'}
.jicon.send::before{content: 'u'}
.jicon.star::before{content: 'v'}
.jicon.truck::before{content: 'x'}
.jicon.user-chat::before{content: 'z'}
.jicon.user-check::before{content: 'w'}
