<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $modules = Mage::getConfig()->getNode('modules')->children();
    $modulesArray = (array)$modules;
    if(isset($modulesArray['Tm_ProductListGallery'])) {
        $productgallerylist_helper = Mage::helper('productlistgallery');
        $productgallerylist_config = $productgallerylist_helper->getConfigData('home_grid');    
    }

?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php
    $_collectionSize = $_products->getSize();

    if($_collectionSize > 4)  {
        $_sliderClass = "sliderClass";
        $_sliderOnOf = "homeSider1";
        $_itemwidth = "free";
        $_slidControl = '<div class="home-carousel-control">
            <a class="carousel-prev1 material-design-go10" href="#"></a>
                <a class="carousel-next1 material-design-right244" href="#"></a>
        </div>';
    } else {
        $_sliderOnOf = "row";
        $_itemwidth = "col-sm-3";
    }
    
?>
<div class="widget-products <?php echo $_sliderClass;?> sale-products">
        <div class="page-title category-title">
            <h1><?php echo $this->__('Special products') ?></h1>
        </div>
            <?php $suffix = $this->getNameInLayout(); ?>
            <ul class="products-grid <?php echo $_sliderOnOf;?>" id="widget-catalogsale-products-<?php echo $suffix; ?>">
            <?php foreach ($_products->getItems() as $_product): ?>
                <li class="item <?php echo $_itemwidth;?>" itemscope itemtype="http://schema.org/product">
                    <div class="wrapper-hover">
                        <?php if ($productgallerylist_config['active'] == '1'): ?> 
                             <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image noSwipe">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($productgallerylist_config['image_width'], $productgallerylist_config['image_height']) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
                            
                            <ul class="product-thumbs">
                                <?php 
                                $product_id = $_product->getId();               
                                $list_product = Mage::getModel('catalog/product')->load($product_id);
                                $k = 0;
                                foreach ($list_product->getMediaGalleryImages() as $image) { if ($k<3):  ?>
                                    <li class="product-thumb">
                                        <a href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'small_image', $image->getFile())->resize($productgallerylist_config['image_width']); ?>">
                                            <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $image->getFile())->resize($productgallerylist_config['image_width'], $productgallerylist_config['image_height']); ?>" alt="" width="<?php echo $productgallerylist_config['thumb_size_w']; ?>" height="<?php echo $productgallerylist_config['thumb_size_h']; ?>"/>
                                        </a>
                                    </li>
                                <?php endif; ?>
                                <?php $k++; ?>  
                                <?php } ?>
                            </ul>
                        <?php endif; ?>
                        <div class="product-shop">
                            <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
                           <h2 class="product-name">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" itemprop="name">
                                    <?php 
                                        $small_getName = strip_tags($this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name'));
                                        if (strlen($small_getName) < 40) echo($small_getName);
                                        else { echo mb_substr($small_getName, 0, 40,'UTF-8').'...';} 
                                    ?>
                                </a>
                            </h2>
                            <div class="wrapper-hover-hiden">
                                <div class="desc_grid" itemprop="description"><?php $small_getDescription = strip_tags($_product->getShortDescription());
                                    if (strlen($small_getDescription) < 70) echo($small_getDescription);
                                    else { echo mb_substr($small_getDescription, 0, 70,'UTF-8').'...';} ?>
                                </div>
                                <div class="actions">
                                    <?php if($_product->isSaleable()): ?>
                                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><i class="material-design-shopping231"></i><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                    <?php else: ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?>
                                    <ul class="add-to-links">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" rel="tooltip" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                        <?php endif; ?>
                                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                            <li><span class="separator">|</span> <a  title="<?php echo $this->__('Add to Compare') ?> " href="<?php echo $_compareUrl ?>" rel="tooltip" class="link-compare "><?php echo $this->__('Add to Compare') ?></a></li>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            </div>
                        </div>
                        <?php $_product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                        <div class="label-product">             
                            <?php if($_product->getData('new')){echo '<span class="new">'.$this->__('New').'</span>';  }?>
                            <?php if($_product->getData('sale')){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                        </div>
                        
                    </div>
                </li>
            <?php endforeach; ?>
            </ul>
            <?php echo "$_slidControl"; ?>
 <script type="text/javascript">decorateList('widget-catalogsale-products-<?php echo $suffix; ?>', 'none-recursive')</script>
</div>
<?php endif; ?>
<script type="text/javascript">
    jQuery(window).load(function(){
        if(jQuery(".homeSider1").length){ 
            jQuery('.homeSider1').carouFredSel({
                responsive: true,
                width: '100%',
                prev: '.carousel-prev1',
                next: '.carousel-next1',
                scroll: 1,
                auto    : {
                    play    : 1,
                    timeoutDuration :17000
                },
                items: {
                    visible: {
                        min: 1,
                        max: 4
                    },
                    width:390,
                    height: 'variable'
                },
                mousewheel: true,
                swipe: {
                    onMouse: false,
                    onTouch: true
                }
            });
            jQuery('.sliderClass .caroufredsel_wrapper').css({
                'overflow': 'inherit'
            });
        };
    });
</script>
