/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

*{
  font-family: 'Roboto';
}


body{
  position: relative;
  margin-top:  6rem;
  overflow-x: hidden;
  font-family: 'Roboto';
  background: #efefef !important;
}

.page-title{
  background: #bf3312;
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 3;

  h2{
    color: #fff;
    font-size: 1.8rem;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    float: left;

    .jicon{
      font-style: normal !important;
      text-transform: lowercase;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

.section-title{
  h2{
    display: inline-block;

    .title{
      text-transform: uppercase;
      font-style: italic;
      font-size: 2rem;
      margin-bottom: 0.8rem;
      float: left;
    }

    span.jicon{
      font-style: normal;
      text-transform: lowercase;
      font-size: 3rem;
      padding-bottom: 0rem;
      margin-right: 1rem;
      float: left;
    }
  }
}


.view{
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.view.load{
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control{
  border-radius: 0px !important;
}

.owl-controls{
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;

  .owl-pagination{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;

    .owl-page{
      background: #ccc;
      width: 1rem;
      height: 1rem;
      display: inline-block;
      border-radius: 100px;
      border: 0px;
      margin: 0px 0.5rem;

      &.active{
        background: #bf3312;
      }
    }
  }
}

div.card{
  margin: 0.5rem;
  background: #fff;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  border-radius: 5px !important;
  overflow: hidden;

  .title{
    background: #bf3312;
    padding: 2rem;
    font-weight: normal;
    span{
      color: #fff;
      font-size: 2rem;
      font-style: italic;
    }

    .span{}

  }

  .body{
    padding: 2rem;
  }
}

.frame-card{
  margin: 1rem 0;
  background: #fff;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  border-radius: 5px !important;
  overflow: hidden;
  width: 100%;

  .title{
    width: 100%;
    float: left;
    padding: 1.5rem;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: bold;

    .jicon{
      color: #000;
      font-size: 2rem;
      float: right;
    }
    .badge{
      font-size: 1rem;
      font-weight: normal;
      text-transform: uppercase;
    }
    .badge.warning{
      background: #FF920D;
    }
    .badge.info{
      background: #4790FF;
    }
    .badge.success{
      background: $green;
    }
  }

  .body{
    width: 100%;
    float: left;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}


.form-control{
  padding: 1rem;
  min-height: 36px;
}


.btn-success{
  background: #008000;
  border: 0;
}

.btn {
  .jicon{
    font-style: normal;
    font-weight: 400;
    font-size: 2rem !important;
  }
}


.btn-default{
  background: #bf3312;
  border: 0;
}

.scale07{
  img{
    transform: scale(0.7);
  }
}

input[type="text"], input[type="email"],input[type="tel"],textarea, select{
  border: 1px solid $lg-gray;
  min-height: 36px;
  font-size: 1.4rem;
  color: #000;
  padding: 0 15px;
}
.btn{
  border: 0 !important;
  border-radius: 0 !important;
}

.validation-advice{
  background: #ff0000;
  padding: 5px;
  width: 100%;
  float: left;
  color: #fff;
}

.input-group-addon,
.input-group-btn{
  vertical-align: top;
}

.form-group{
  position: relative;

  .form-control-feedback{
    top: 27px;
  }
}
