/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.checkout-cart-index{
  margin-top: 12rem;
  margin-bottom: 10rem;

  .page-title{
    background: #bf3312;
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);

    h1{
      color: #fff;
      font-size: 1.6rem;
      font-style: italic;
      text-transform: uppercase;
      padding: 1.5rem 1rem;
      margin: 0;
      height: 55px;
      line-height: 25px;

      .jicon{
        font-style: normal !important;
        text-transform: lowercase;
        font-size: 2rem;
      }
    }

    .price{
      display: inline-block;
      background: $green;
      height: 55px;

      .content{
        padding: 0.8rem 15px 0.8rem 0;
        text-align: right;
        display: inline-block;
        float: right;
        width: 100%;

        p{
          display: inline-block;
          padding: 0;
          margin: 0;
          float: right;

          span{
            text-align: right;
            color: #fff;
            display: inline-block;
            font-size: 2rem;
            margin: 0;
          }
          small{
            text-align: right;
            color: #fff;
            display: inline-block;
            font-size: 1.4rem;
            margin: 0 -0.3rem;
          }
        }

        & > small{
          width: 100%;
          text-align: right;
          color: #fff;
          display: inline-block;
          font-size: 1.3rem;
          font-weight: lighter;
          margin: 0 -0.3rem;
          margin-top: -5px;
          float: right;
        }

      }
    }
  }

  .frame-card{

    .item{
      padding: 1rem;
      display: inline-block;
      width: 100%;
      border-top: 1px solid $lg-gray;

      &:first-child{
        border-top: 0;
      }

      .qty{
        width: 10%;
        height: 100%;
        display: inline-block;
        float: left;

        .plus, .minus{
          width: 100%;
          display: inline-block;
          text-align: center;

          &.disable{
            opacity: 0.4;
          }
        }

        input{
          width: 100%;
          border: 0px;
          font-size: 2rem;
          color: #000;
          text-align: center;
          height: 60%;
        }
      }

      .image{
        width: 30%;
        height: 100%;
        display: inline-block;
        float: left;
      }

      .info{
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left;

        h2{
          font-size: 1.4rem;
          margin: 0 0 0.5rem 0;
        }

        .options{
          font-size: 1rem;
          text-transform: uppercase;
        }

        .price{
          color: $green;
          font-size: 2rem;
        }
      }

      .remove{
        width: 10%;
        float: left;
        opacity: 1;

        i{
          color: $red;
          opacity: 1;
        }
      }

    }
  }

  .cart{
    .shipping{
      border: 0;
      padding: 0;

      .shipping-form{
        border: 0;
        padding: 0;
        width: 100%;
        display: inline-block;

        #shipping-zip-form{
          float: left;
          border: 1px solid $lg-gray;
          padding: 0.3rem;
          width: auto;
        }

        ul{
          margin: 0;
          padding: 0;

          li{
            padding: 0;
            margin: 0;
            list-style: none;
            float: left;
            width: 100%;

            .validate-postcode{
              width: 100%;
              border: 0px;
              height: 36px;
              font-size: 1.4rem;
              color: #000;
              padding: 0 15px;
            }
          }

        }

        .bnt-shippment{
          background: $orange;
          border: 0;
          color: #fff;
          height: 36px;
          width: 36px;

          i{
            font-size: 2rem;
          }
        }

        .sp-methods{
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 0;

          dd{
            margin: 0;
            padding: 0;
            width: 100%;

            ul{
              margin: 0;
              padding: 0;
              width: 100%;
            }
          }

          p{
            background: $lg-gray;
            padding: 0.5rem;
            margin: 1rem 0rem;
          }

          ul{
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 0;

            li{
              line-height: 2rem;

              input{
                display: inline-block;
                height: 20px;
                width: 20px;
              }

              label{
                display: inline-block;
                font-style: italic;
                font-size: 1.5rem;
                line-height: 2rem;
                margin-left: 1rem;
                font-weight: normal;
              }
            }
          }
        }

        .btn-cart-update{
          background: $orange;
          color: #fff;
          padding: 1rem;
          text-align: center;
          width: 100%;
          border: 0;
          margin: 2rem 0rem;
        }
      }
    }

    #discount-coupon-form{
      float: left;
      border: 1px solid $lg-gray;
      padding: 0.3rem;
      width: auto;

      .discount-form{
        .col-xs-8{
          padding: 0;
        }
        input{
          width: 100%;
          border: 0px;
          height: 36px;
          font-size: 1.4rem;
          color: #000;
          padding: 0 15px;
        }
      }

      .btn-add-cupom{
        background: $orange;
        border: 0;
        color: #fff;
        height: 36px;
        width: 36px;

        i{
          font-size: 2rem;
        }
      }
    }
  }

  .checkout-types{
    position: fixed;
    border: 0px;
    background: #fff;
    margin: 0;
    padding: 2rem;
    bottom: 0;
    width: 100%;
    z-index: 999999999999999999999999999999;
    list-style: none;
    left: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);

    button{
      background: $green;
      color: #fff;
      font-size: 2rem;
      width: 100%;
      padding: 1rem 2rem;
      text-transform: uppercase;
      border-radius: 5px;
      border: 0;
    }
  }

  .crosssell{
    margin-bottom: 3rem;

    h2{
      line-height: 2.5rem;
      display: inline-block;

      .title{
        text-transform: uppercase;
        font-style: italic;
        font-size: 2rem;
        margin-bottom: 0.8rem;
        float: left;
        color: #000;
        width: calc(100% - 4rem);
      }

      i.jicon{
        font-style: normal;
        text-transform: lowercase;
        font-size: 3rem;
        padding-bottom: 0rem;
        margin-right: 1rem;
        float: left;
      }
    }

    .btn-add-cart{
      background: $green;
      color: #fff;
      width: calc(100% - 1rem);
      padding: 1rem;
      margin: 0.5rem;
      border: 0;

      i{
        font: 1.5rem;
      }
    }
  }
}

.steps-cart{

}
