/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.catalog-category-view, .catalogsearch-result-index {
  margin-top: 12rem;

  .page-title{
    background: #bf3312;
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 3;

    h1{
      color: #fff;
      font-size: 1.8rem;
      font-style: italic;
      text-transform: uppercase;
      padding: 1.5rem 2rem;
      margin: 0;

      .jicon{
        font-style: normal !important;
        text-transform: lowercase;
        font-size: 2rem;
      }
    }
  }
}
