/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.onestepcheckout-index-index{
  .page-title{
    position: relative !important;
    float: left;
    width: 100%;
    background: transparent !important;
    top: 0 !important;

    h2{
      line-height: 2.5rem;
      display: inline-block;
      font-weight: normal;

      .title{
        font-style: italic;
        font-size: 2rem;
        margin-bottom: 0.8rem;
        float: left;
        color: #000;
      }
    }
  }

  #onestepcheckout-review-coupon{
    margin-top: 5px;
    float: left;
    list-style: none;

    .coupon-message-container{
      overflow: visible !important;
      height: auto !important;
    }

    .onestepcheckout-error-msg{
      margin: 0 !important;
      ul{
        list-style: none;
        margin: 0px;
        padding: 10px;

      }
    }
  }

  .form-list{
    margin: 0;
    padding: 0;
    list-style: none;

    label{
      font-weight: normal;
    }

    .li-select-address{
      select{
        border: 0;
        background: #fff;
        font-style: italic;
      }
    }
  }

  .sp-methods{
    font-weight: normal;
    display: inline-block;
    width: 100%;

    ul{
      margin: 0;
      padding: 0;
      list-style: none;

      label{
        font-weight: normal;
      }
    }
  }

  #onestepcheckout-shipping-method{
    input{
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 0.5rem;
    }

    label{
      display: inline-block;
      font-style: italic;
      font-size: 1.5rem;
      line-height: 3rem;
      margin-left: 1rem;
    }

  }

  #onestepcheckout-payment-method{
    .sp-methods{
      dt{
        width: 100%;
        float: left;
        text-align: center;
        border: 1px solid $lg-gray;
        border-radius: 5px;
        padding: 1rem;

        &.active{
          border-color: $orange;
        }

        input{
          opacity: 0;
          background: red;
          margin: 0;
          padding: 0;
        }

        fieldset{
          margin: 0;
          padding: 0;
          width: 100%;

          select{
            width: 50%;
            float: left;
            background: #fff;
            padding: 0.5rem;
            border: 1px solid $lg-gray;
          }
        }

        label{
          font-size: 1.5rem;
          font-weight: normal;
          margin: 0;
          padding: 0;

          &:before{
            @extend .jicon;
            content: 'e';
            position: absolute;
            margin-left: -2rem;
            margin-top: 2px;
            font-size: 1.5rem;
          }
        }

        &[rel="boleto_bancario"]{
          label:before{
            content: 'c';
          }
        }
      }
    }
  }

  .btn-proceed-checkout{
    background: $green;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 0;
  }

  #onestepcheckout-general-form{
    margin-bottom: 3rem;
  }

  .coupon-code-form{
    input{
      width: 80%;
    }
  }

  #pagarme-checkout-button{
    background: $orange;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
    border: 0;
    margin: 2rem 0rem;
  }

  #payment_form_Query_Cielo_Cc{
    .v-fix{
      width: 50%;
      float: left;

      select{
        border: 1px solid $lg-gray;
        background: #fff;
        font-style: italic;
      }
    }
  }
  #cielo-installments{
    border: 1px solid $lg-gray;
    background: #fff;
    font-style: italic;
  }
  #onestepcheckout-review-terms{

    ul{
      list-style: none;
      margin: 0;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      -webkit-padding-start: 0px;
    }
  }
}
