.cms-page-view{
	padding-top: 80px;
}

.page-title{
	 background: #bf3312;
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 3;

    h1{
      color: #fff;
      font-size: 1.8rem;
      font-style: italic;
      text-transform: uppercase;
      padding: 1.5rem 2rem;
      margin: 0;

      .jicon{
        font-style: normal !important;
        text-transform: lowercase;
        font-size: 2rem;
      }
    }
}