/**
* Magento Mobile Theme jn2
* Developer: Leandro Marques
*
*/

@import 'color';

.no-display {display: none;}

.customer-account-index{
  padding-top: 60px;
}

.sales-order-view{
  @extend .checkout-cart-index;

  .frame-card{
    a{
      @extend .btn-default;
      padding: 1rem;
      border-radius: 3px;
      color: #fff;
    }
    .item{
      .qty{
        font-size: 4rem;
        margin-top: 2rem;
        text-align: center;
      }
    }

  }
  .section-title{
    h2{
      text-transform: uppercase;
      font-style: italic;
      font-size: 2rem;
      margin-bottom: 0.8rem;
      float: left;
      color: #000;
    }
  }
}
