/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

@keyframes filter-open {
  0%   { top: -100% }
  50%  { top: 105px  }
  100% { top: 105px  }
}

@keyframes filter-close {
  0%   { top: 105px  }
  50%  { top: 105px  }
  100% { top: -100% }
}

div.filter{
  position: fixed;
  top: -100%;
  left: 0;
  height: calc(100% - 55px);
  width: 100%;
  z-index: 2;
  background: #fff;
  overflow-y: scroll;

  &.open-filter{
    -webkit-animation: filter-open 0.5s ease-in-out;
    animation: filter-open 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &.close-filter{
    -webkit-animation: filter-close 0.5s ease-in-out;
    animation: filter-close 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }


  .pagination{

    li{
      color: #000;
      font-size: 2rem;
      display: inline-block;
      text-align: center;
      line-height: 2.5rem;

      &.current a{
        background: #bf3312;
        color: #fff;
      }

      a{
        padding: 1rem;
        float: left;
        padding: 0;
        color: #000;
        background: transparent;
        border: 0;
        border-radius: 3px;;
        font-size: 2.5rem;
        text-align: center;
        min-width: 3.5rem;
        min-height: 3.5rem;
      }
    }

    .next, .previous{
      text-align: center;
      float: left;
      padding: 0.3rem 0rem;

      .jicon{
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 2.5rem;
        padding: 0;
        text-align: center;
      }
    }
  }
  #narrow-by-list{
    display: inline-block;
    width: 100%;
  }
  .label{
    width: 100%;
    float: left;
    padding: 1rem;
    background: $lg-gray;
    color: #000;
    font-style: italic;
    text-align: left;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    line-height: 2.5rem;

    .jicon{
      padding: 0.5rem;
      float: right;
    }
  }

  .value,.currently{
    display: inline-block;
    width: 100%;

    ol{
      width: 100%;
      float: left;
      margin: 0;
      padding: 1rem 2rem;
      list-style: none;

      li{
        width: 100%;
        float: left;
        font: 1.4rem;
        color: #666;

        a{
          font: 1.4rem;
          color: #666;

          img{
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .btn-primary{
      background: $orange;
      border: 0;
      border-radius: 0;

      &:hover{
        background: $orange;
      }

    }
    .lowest-value{
      color: $green;
      font-size: 1.4rem;
      float: left;
      margin: 1rem;
    }
    .highest-value{
      color: $green;
      font-size: 1.4rem;
      float: right;
      margin: 1rem;
    }
    .ngrs-range-slider{
      display: inline-block;
      width: 100%;
      margin: 2rem 0;
      border: 0;
      box-shadow: none;
      margin-left: -6px;

      .ngrs-runner{
        background: $lg-gray;
        height: 10px;
      }
      .ngrs-handle{
        background: $green;
        border-radius: 40px;
        box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);
        width: 26px;
        height: 26px;
        margin-top: -9px;
      }
      .ngrs-join{
        background: $green;
      }
    }
  }
  .actions{
    display: none;
  }
  .line-actions{
    background: $lg-gray;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: right;

  }
}
