/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

footer{
  margin-top: 5rem;
  width: 100%;
  display: inline-block;

  h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    display: none;
  }

  .newsletter-footer{
    width: 100%;
    display: inline-block;
    border-top: 5px solid #bf3312;
    background: #fff;
    padding: 2rem;

    .container{
      margin: 0 -20px;
    }

    .newsletter-form{
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 1rem;
      width: 100%;
      float: left;
      margin-top: 0.3rem;

      .form-control{
        width: calc(100% - 60px);
        float: left;
        border: 0;
        box-shadow: none;
        padding: 0;
        height: 40px;
      }

      .btn-send{
        height: 40px;
        background: #bf3312;
        color: #fff;
        float: right;

        .jicon{
          font-size: 3rem !important;
        }
      }
    }

  }

  p{
    margin: 0;
    padding: 0;
  }
  .footer-colapse{
    background: #bf3312;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: 0px;
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    text-align: left;
    border-bottom: 1px solid #fff;
  }

  ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    background: #fff;
    width: 100%;

    li{
      padding: 1rem 3rem;
      color: #000;
      display: inline-block;
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #ddd;

      a{
        color: #000;
      }
    }
  }

  .payment{
    width: 100%;
    background: #fff;
    display: inline-block;
    text-align: center;
    padding: 2rem;
  }

  .security{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 2rem;
  }

  .contact{
    width: 100%;
    background: #fff;
    display: inline-block;
    text-align: center;
    padding: 2rem;
  }

  address{
    width: 100%;
    display: inline-block;
    text-align: center !important;
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
  }
}


.footer{
  address{
    text-align: center;
  }
}

.jn2-sign{
  border-top: 1px solid #aaa;
  padding: 2rem;
  text-align: center;

  a{
    font-size: 1.5rem;
    color: #000;
  }

  img{
    height: 2.5rem;
    margin-right: 1rem;
  }
}
