/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

@keyframes open-search {
  0%   {
    margin-top: -55px;
    width: 100%;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
    width: 100%;
  }
}

@keyframes close-search {
  0%   {
    width: 100%;
  }
  100% {
    margin-top: -55px;
    opacity: 0;
    width: 100%;
  }
}


header{
  &.headerFixed{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;


    .topbar{
      background: #fff;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      padding: 1rem;
      color: #000;
      position: relative;
      z-index: 10;
      height: 55px;
      margin: 0 -30px;

      .logo-store{
        display: inline-block;
        width: 100%;
        height: 45px;
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 4rem;
        text-transform: uppercase;
        color: $orange;

        img{
          height: 40px;
          width: auto !important;
        }
      }

      .btn{
        background: transparent;
        color: #000;
        padding: 0.8rem;
        line-height: 0px;

        .jicon{
          font-size: 1.8rem;
          color: $orange;
        }

        &:focus{
          outline: none;
        }
      }
    }


    div.search {
      background: #fff;
      width: 100%;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      padding-top: 1rem;
      margin-top: -55px;

      &.open-animation{
        -webkit-animation: open-search 0.5s ease-in-out;
        animation: open-search 0.5s ease-in-out;
        animation-fill-mode: forwards;

        .input-group{
          width: 100% !important;
        }
      }

      &.close-animation{
        -webkit-animation: close-search 0.5s ease-in-out;
        animation: close-search 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }

      .form-control{
        padding: 1.2rem;
        height: auto !important;
        color: #000;
        border-radius: 0px;
        border: 0px !important;
        outline: none !important;
        box-shadow: none !important;
        margin: 0 !important;

        &:focus,&:active, &:hover{
          outline:0px !important;
          -webkit-appearance:none;
          box-shadow: none !important;
        }
      }

      .input-group-addon{
        border: 0px;
        padding: 0px;
        background: #fff;

        .jicon{
          box-shadow: none !important;
          padding: 1rem;
          font-size: 2rem;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }

}
