.loading{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999999999999999999999999;
	background: rgba(255,255,255,0.8);
	text-align: center;

	svg{
		position: fixed;
		left: calc(50% - 50px);
		top: calc(50% - 50px);
	}
}