/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.account-login{
  .card{
    margin-bottom: 3rem;

    .title{
      line-height: 1.5rem;

      .close{
        color: #fff;
        font-style: normal;
        opacity: 1;
        font-size: 1.5rem;
      }
    }

    .body{
      h2{
        font-size: 2rem;
        font-style: italic;
        text-align: center;
      }

      .btn-login{
        color: #fff;
        font-size: 2rem;
        border: 0;
        padding: 1rem;

        .jicon{
          font-size: 2rem;
          margin-right: 0.5rem;
        }
      }

      .btn-new-account{
        font-size: 2rem;
        line-height: 2rem;
        padding: 1rem;

        .jicon{
          margin-right: 0.5rem;
          font-size: 2rem !important;
          line-height: 3rem !important;
        }
      }
    }

  }

  hr{
    border-color: #444
  }
}
