/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.timeTransition{
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}
.animation-fade{
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

@keyframes open-menu {
  0%   {background: rgba(0,0,0,0.0); right: -100% }
  50%   {background: rgba(0,0,0,0.0); right: 0% }
  100% {background: rgba(0,0,0,0.8); right: 0%}
}

@keyframes close-menu {
  0%   {background: rgba(0,0,0,0.8); right: 0% }
  50%   {background: rgba(0,0,0,0.0); right: 0% }
  100% {background: rgba(0,0,0,0.0); right: -100% }
}


.menu-offcanvas{
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100%;
  z-index: 99999999999999999999999999;

  .menu{
    @extend .timeTransition;
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);

    width: 80%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #bf3312;
    position: relative;
    margin-right: -80%;
    float: right;
    box-sizing: 0 0 8rem 0 rgba(0,0,0,0.8);

    .header-menu{
      width: 100%;
      padding: 2rem 0;
      display: inline-block;;

      .logo-store{
        color: #fff;
        font-size: 2rem ;
        font-weight: bold;
        text-transform: uppercase;
      }

      .jicon{
        color: #fff;
        font-size: 2rem;
        opacity: 1;
      }
    }

    .my-account{
      background: rgba(0,0,0,0.2);

      ul{
        display: inline-block;
        width: 100%;
        margin: 1.5rem;
        padding: 0;

        li{
          display: inline-block;
          width: 100%;

          a{
            display: inline-block;
            color: #fff;
            padding: 0.5rem;
            text-transform: uppercase;
            font-size: 1.5rem;
          }
        }
      }
    }

    .categories{
      margin-top: 3rem;

      .menu-0{
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .menu-1{
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgba(0,0,0,0.15);
        display: none;

        & li{
          padding-left: 3rem !important;
        }
      }

      .menu-2{
        background: rgba(0,0,0,0.15);
        display: none;
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        width: calc(100% + 3.5rem);

        & li{
          padding-left: 4rem;

          &.expand-menu{
            right: 2.5rem;
          }
        }
      }
      
      li{
        position: relative;
        display: inline-block;
        width: 100%;

        .expand-menu{
          @extend .jicon;
          @extend .chev-down;

          display: inline-block;
          color: #fff;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: normal;
          position: absolute !important;
          right: 2rem;
          margin-top: 1.5rem;
          z-index: 2;
        }

        & ul{
          display: none;
        }

        &.open{
          .expand-menu{
            @extend .chev-up;
          }
        }

        &:last-child{
          a{
            border: 0;
          }
        }

        a{
          border-bottom: 1px solid rgba(255,255,255,0.1);
          width: calc(100% - 4rem);
          display: inline-block;
          color: #fff;
          padding: 1rem 1.5rem;
          text-transform: uppercase;
          font-size: 1.6rem;
          text-decoration: none;

          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }

  &.open-menu{
    -webkit-animation: open-menu 0.5s ease-in-out;
    animation: open-menu 0.5s ease-in-out;
    animation-fill-mode: forwards;

    -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
    animation-delay: 0.2s;

    .menu{
      @extend .timeTransition;
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
    }
  }

  &.close-menu{
    -webkit-animation: close-menu 0.5s ease-in-out;
    animation: close-menu 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}