/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.messages{
  margin: 2rem 0;
  padding: 0;
  list-style: none;

  .success-msg{
    list-style: none;
    background: $green;
    color: #fff;
    padding: 1rem 2rem;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .error-msg{
    list-style: none;
    background: $red;
    color: #fff;
    padding: 1rem 2rem;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }

  }
}


.note-msg{
 margin: 2rem 0;
 padding: 0;
 list-style: none;
 background: $green;
 color: #fff;
 padding: 1rem 2rem;
}