/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.pitbar-mobile{
  display: inline-block;
  background: #bf3312;
  margin: 0 -30px;
  text-align: center;

  & .row{
    width: calc(100% + 15px);

    & > div{
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      padding: 2rem 1rem 2rem 2rem;
      text-align: center;

      &:last-child{
        border-right: 0;
      }
    }

    &:last-child > div {
      border-bottom: 0;
    }

  }

  .title{
    display: inline-block;
    text-align: left;
    width: 100%;

    .jicon{
      font-style: normal;
      text-transform: lowercase;
      content: '';
      font-size: 2.5rem;
      height: 100%;
      float: left;
      width: 3rem;
      margin-right: 0.5rem;
      color: #fff;
    }

    span{
      float: left;
      font-size: 1.4rem;
      font-style: italic;
      text-transform: uppercase;
      color: #fff;
      width: calc(100% - 4rem);
      margin-top: 0.5rem;
    }
  }

  .badge{
    background: lighten(#bf3312, 20);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    width: 100%;
  }
}
