/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.products-grid{
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;

  .col-xs-6{
    padding: 0;
  }

  .product{
    background: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px !important;
    overflow: hidden;
    margin: 0.5rem;
    padding: 0;

    .product-name{
      display: inline-block;
      width: 100%;
      color: #000;
      text-transform: capitalize;
      font-style: italic;
      font-size: 1.4rem !important;
      padding: 1rem;
      margin: 0;
      overflow: hidden;
    }

    .colors{
      margin: 1rem;
      padding: 0;

      span{
        display: none;
      }

      p{
        margin: 0;
        padding: 0;
      }

      .swatch-category-container{
        margin: 0;
        padding: 0;
      }
    }

    .price-detail{
      border-top: 1px solid #ccc;
      margin: 1rem;
      padding: 1rem 0;

      .price-parcelado{
        padding: 0;
        margin: 0;
        color: #808080;
        font-size: 1rem;

        .price{
          font-size: 1rem !important;
        }
      }

      .price-billet{
        padding: 0;
        margin: 0;
        font-size: 1rem;

        .regular-price{
          color: #000;
          font-size: 1rem !important;

          .price{
            color: #000;
            font-size: 1rem !important;
          }
        }
      }

      .special-price{
        padding: 0;
        margin: 0;
        color: #008000;
        font-size: 2.3rem;

        .price{
          color: #008000;
          font-size: 2.3rem;
        }
      }

      .regular-price{
        padding: 0;
        margin: 0;
        color: #008000;
        font-size: 2.3rem !important;

        &.has_parcel {
          .price{
            color: #008000;
            font-size: 2.3rem !important;
          }
        }
        .price{
          color: #008000;
          font-size: 2.3rem !important;
        }
      }

      .old-price{
        padding: 0;
        margin: 0;

        .price{
          font-size: 1rem;
          text-decoration: line-through;
          color: #808080;
        }
      }

    }

  }

}
