/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.calendar {
  z-index: 100;
}

.add-this-wrapper{
  display: none;
}

.product-view{
  margin-bottom: 80px;

  .no-display{
    display: none;
  }

  .product-options-bottom{
    display: none;
  }

  p.required{
    display: none;
  }

  .product-name{
    width: 100% !important;
    display: inline-block;
    padding-bottom: 2rem;

    h1{
      font-size: 1.8rem;
      font-style: italic;
      padding: 2rem 0 0 0;
      margin: 0;
    }

  }

  .ratings-view{
    width: 100%;
    height: 32px;
    display: inline-block;
    float: left;

    .rating-box{
      background: url(../images/star.png) no-repeat;
      width: 190px;
      height: 32px;
      display: inline-block;
      transform: scale(0.6);
      margin-left: -4rem;

      .rating{
        background: url(../images/star-on.png) no-repeat;
        height: 32px;
        display: inline-block;

      }
    }
  }

  .media-section{
    margin: 0px -30px;
    padding-bottom: 50px;

    .more-views{
      width: 100%;
      background: #fff;
    }
  }

  .owl-item{
    padding: 2rem;

    img{
      width: 100%;
    }
  }
  .owl-pagination{
    bottom: -30px;
  }

  .block-shipping-estimate{
    width: 100%;
    float: left;
    padding: 0 !important;

    .form-group{
      background: #fff;
      margin: 0;
    }

    li{
      list-style: none;
    }

    .form-group{
      border: 1px solid #ccc;
      width: 100%;
      float: left;
      padding: 3px;

      .form-control{
        width: 70%;
        float: left;
        border: 0;
        box-shadow: none !important;
        font-size: 1.4rem;
      }

      .btn{
        border-radius: 3px;
        color: #fff;
        float: right;
        min-height: 36px;

        &:hover, &:focus, &:active{
          background-color: darken(#BE3312, 10);
        }
      }
    }

  }

  .block-shipping-results{
    border-top: 1px solid #ccc !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    background: #fff !important;
    padding: 2rem 0 0 0 !important;
    margin: 0 !important;

    ul{
      padding: 0 !important;
      margin: 0 !important;

      li{
        font-size: 2rem;
        font-style: italic;
        border: 0 !important;

        .price{
          font-style: italic;
          font-size: 2rem;
        }
      }
    }
  }
  .options-list {
    input[type="checkbox"], input[type="radio"]  {
      display: inline-block;
    }
    label {
      color: #000;
      vertical-align: 4px;
    }
  }

  .options{
    .add-to-cart{
      button{
        display: none;
      }
    }

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin: 0;
        padding: 0;
      }
    }

    .validation-advice{
      display: none;
    }
    .swatchesContainer{
      img{
        width: 4rem;
        height: 4rem;
      }
    }

    .qty-block {
      label{
        width: 100%;
      }

      input{
        float: left;
        font-size: 3rem;
        font-style: italic;
        font-weight: bold;
        width: 30%;
        padding: 2rem;
        border: 1px solid #cecece;
        text-align: center;
      }
    }
  }

  .box-buy{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #fff !important;
    border: 0px;
    box-shadow: 0 0 15px -4px rgba(0,0,0,0.5);
    width: 100%;
    z-index: 99999;
    padding: 0 !important;

    .col-1,.col-2{
      min-height: 50px;
      float: left;
      width: 50%;
    }

    .col-1{
      padding: 1rem;
    }

    .col-2 {
      .availability.out-of-stock{
        background: maroon;
        font-size: 2rem;
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 100%;
        color: #fff;
        float: left;
        margin: 0;
      }
    }

    .btn-cart{
      background: #008000;
      border: 0;
      width: 50%;
      height: 100%;
      color: #fff;
      float: left;
      position: absolute;
      font-size: 3rem;
    }

    .price-box{
      background: #fff;
      line-height: 1rem;


      .price-parcelado{
        padding: 0;
        margin: 0;
        color: #808080;
        font-size: 1rem;
        line-height: 1rem;


        .price{
          font-size: 1rem !important;
          line-height: 1rem;

        }
      }

      .price-billet{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        line-height: 1rem;


        .regular-price{
          color: #000;
          font-size: 1rem !important;
          line-height: 1rem;


          .price{
            color: #000;
            font-size: 1rem !important;
            line-height: 1rem;

          }
        }
      }

      .special-price{
        padding: 0;
        margin: 0;
        color: #008000;
        font-size: 2.3rem;
        line-height: 2.5rem;


        .price{
          color: #008000;
          font-size: 2.3rem;
          line-height: 2.5rem;

        }
      }

      .regular-price{
        padding: 0;
        margin: 0;
        color: #008000;
        font-size: 2.3rem !important;
        line-height: 2.5rem;


        &.has_parcel {
          .price{
            color: #008000;
            font-size: 2.3rem !important;
            line-height: 2.5rem;

          }
        }
        .price{
          color: #008000;
          font-size: 2.3rem !important;
          line-height: 2.5rem;

        }
      }

      .old-price{
        padding: 0;
        margin: 0;
        line-height: 1rem;


        .price{
          font-size: 1rem;
          text-decoration: line-through;
          color: #808080;
          line-height: 1rem;

        }
      }

    }
  }

  .description{
    img{
      width: 100%;
    }
  }
}

.form-review{
  margin: 0;
  padding: 0 !important;

  .form-list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .button{
    background: $orange;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    padding: 1rem 2rem;
    border: 0;
  }
  input,textarea{
    min-height: 36px;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    border: 1px solid $lg-gray;
  }
}
.box-reviews #review-form .stars-review{
  border: 0px !important;
  padding: 0 !important;
}

.frame-card.product-info .body {
  margin-top: 20px;
}

.product-groupedoptions-wrapper {
  .qty{
    height: 100%;
    display: inline-block;
    float: left;

    .plus, .minus{
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 0.5rem 0;
      i {
          font-size: 3.5rem !important;
      }

      &.disable{
        opacity: 0.4;
      }
    }

    input{
      width: 100%;
      border: 0px;
      font-size: 2rem;
      color: #000;
      text-align: center;
      height: 60%;
    }
  }
  .info{
    height: 100%;
    display: inline-block;
    float: left;

    h2{
      font-size: 1.4rem;
      margin: 0 0 0.5rem 0;
    }

    .price{
      color: $green;
      font-size: 2rem;
    }
  }
}

.container.aditional-info {
  overflow: auto;

  .row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .info-label {
    font-weight: bold;
  }

  .info-data {
    border-left: 1px solid #ccc;

  }
}
