/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.products-carousel{

  .page-title{
    position: relative;
    background: transparent !important;
    float: left;
    width: 100%;
    top: 0px;
    margin: 10px 0px;

    h2{
      line-height: 3.5rem;
      display: inline-block;

      .title{
        text-transform: uppercase;
        font-style: italic;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 0.8rem;
        float: left;
        color: #000;
      }

      span.jicon{
        color: #000;
        font-style: normal;
        text-transform: lowercase;
        font-size: 3rem;
        padding-bottom: 0rem;
        margin-right: 1rem;
        float: left;
      }
    }
  }

  .owl-carousel{
    width: 100;
    float: left;

    .item{
      max-width: 100%;
      display: inline-block;
      margin: 0.5rem;
      background: #fff;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
      border-radius: 5px !important;
      overflow: hidden;

      .product-image{
        width: 100%;
        display: inline-block;

        img{
          width: 100%;
          display: inline-block;        
        }

        .product-name{
          display: inline-block;
          width: 100%;
          color: #000;
          text-transform: capitalize;
          font-style: italic;
          font-size: 1.4rem !important;
          padding: 1rem;
          margin: 0;
          overflow: hidden;
        }
      }

      .price-detail{
        border-top: 1px solid #ccc;
        margin: 1rem;
        padding: 1rem 0;

        .price-parcelado{
          padding: 0;
          margin: 0;
          color: #808080;
          font-size: 1rem;

          .price{
            font-size: 1rem !important;
          }
        }

        .price-billet{
          padding: 0;
          margin: 0;
          font-size: 1rem;

          .regular-price{
            color: #000;
            font-size: 1rem !important;

            .price{
              color: #000;
              font-size: 1rem !important;
            }
          }
        }

        .special-price{
          padding: 0;
          margin: 0;
          color: #008000;
          font-size: 2.3rem;

          .price{
            color: #008000;
            font-size: 2.3rem;
          }
        }

        .regular-price{
          padding: 0;
          margin: 0;
          color: #008000;
          font-size: 2.3rem !important;

          &.has_parcel {
            .price{
              color: #008000;
              font-size: 2.3rem !important;
            }
          }
          .price{
            color: #008000;
            font-size: 2.3rem !important;
          }
        }

        .old-price{
          padding: 0;
          margin: 0;

          .price{
            font-size: 1rem;
            text-decoration: line-through;
            color: #808080;
          }
        }
      }

    }

    .owl-controls{
      display: inline-block;
      width: 100%;
      position: relative;
      text-align: center;
      margin-top: 5rem;

      .owl-pagination{
        bottom: 0px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
