/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.account-create{
  margin-top: 7rem !important;
  padding: 2rem;

  label{
    font-size: 1.5rem !important;
    font-style: italic;
    font-weight: normal;
  }

  .form-control{
    font-size: 1.5rem!important;
    min-height: 36px;
  }

  .btn-pessoal{
    width: 49%;

    &.active{
      background: #bf3312;
      color: #fff;
    }
  }

  .btn-cep{
    border: 2px solid #bf3312;
    color: #fff;

    .jicon{
      font-size: 2rem !important;
    }
  }

  .btn-submit{
    .jicon{
      font-size: 4.5rem;
    }
  }

}

.customer-account-create,
.customer-account-logoutsuccess{
  .page-title{
    background: #bf3312;
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 3;

    h1{
      color: #fff;
      font-size: 1.8rem;
      font-style: italic;
      text-transform: uppercase;
      padding: 1.5rem 2rem;
      margin: 0;

      .jicon{
        font-style: normal !important;
        text-transform: lowercase;
        font-size: 2rem;
      }
    }
  }

}


.input-zipcode{
  .form-control-feedback{
    top: 0 !important;
    right: 45px !important;
  }
}
