.steps-cart {
  width: 100%;
  list-style: none;
  float: left;
  padding: 0;
  margin: 4rem 0 2rem 0;

  li{
    color: $dark-gray;
    float: left;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    width: 33.333333333333333333333333333333%;

    .jicon{
      font-size: 2.2rem !important;
    }

    &.active{
      color: $green;

      &:after{
        background: $green;
      }

      & ~ li:after{
        background: $dark-gray;
      }
    }

    &:after{
      content: '';
      background: $dark-gray;
      height: 3px;
      width: calc(100% - 2rem);
      position: absolute;
      top: 1rem;
      left: 50%;
      margin-left: 1rem;
    }

    &:last-child::after{
      content: '' !important;
      display: none;
    }
  }

}
