/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

@import 'color';

.checkout-onepage-success,.checkouttester-index-success,
.payment_status.success{
  background: $green !important;
  color: #fff;
  margin-top: 3rem;

  .page-title {
    background: transparent !important;
    position: relative !important;
    top: 0 !important;
    width: 100%;
    display: inline-block;

    h2{
      font-size: 4rem;
      color: #fff;

      i{
        font-size: 3rem !important;
        color: #fff;
        margin-left: 1rem;
      }
    }
  }

  .buttons-set{
    button{
      background: #fff;
      color: $green;
      font-size: 2rem;
      width: 100%;
      padding: 1rem 2rem;
      border-radius: 5px;
      border: 0;
      margin: 2rem 0;
    }
  }

  .container{

    a{
      color: #fff;
      text-decoration: underline;
    }

    img{
      background: #fff;
      padding: 1rem;
      border-radius: 5px;
    }
  }

  .jn2-sign{
    background: #fff;
  }

}
