<?php
$_product = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
$swatch_attributes = Mage::helper('colorselectorplus')->getSwatchAttributes();
$title = Mage::getStoreConfig('color_selector_plus/colorselectorplusgeneral/title', Mage::app()->getStore());
$hide = Mage::getStoreConfig('color_selector_plus/colorselectorplusgeneral/hidedropdown', Mage::app()->getStore());
?>

<?php if ($_product->isSaleable() && count($_attributes)): ?>
  <?php foreach($_attributes as $_attribute): ?>
    <?php $_productAttribute = $_attribute->getProductAttribute(); ?>

    <?php if(in_array($_productAttribute->getAttributeCode(), $swatch_attributes)): ?>
      <?php $attributeId = $_attribute->getAttributeId(); ?>
      <div class="row">
        <div class="frame-card options">
          <div class="title" ng-init="options<?php echo $attributeId ?> = 0" ng-click="options<?php echo $attributeId ?> = !options<?php echo $attributeId ?>"><?php echo $_attribute->getLabel() ?>  <span class="jicon" ng-class="{'chev-down': options<?php echo $attributeId ?>, 'chev-up': !options<?php echo $attributeId ?>}"></span></div>
          <div class="body" ng-hide="options<?php echo $attributeId ?>">
            <div class="input-box">
              <select name="super_attribute[<?php echo $attributeId ?>]" id="attribute<?php echo $attributeId ?>" class="required-entry super-attribute-select<?php if($hide == 1) echo ' swatchSelect form-control' ?>">
                <option><?php echo $this->__('Choose an Option...') ?></option>
              </select>
            </div>
            <?php echo Mage::helper('colorselectorplus')->getSwatchHtml($_productAttribute->getAttributeCode(), $attributeId, $_product); ?>
          </div>
        </div>
      </div>
    <?php else: ?>
      <div class="row">
        <div class=" frame-card options">
          <div class="title"><?php echo $_attribute->getLabel() ?>  <span class="jicon" ng-init="options<?php echo $attributeId ?> = 0" ng-class="{'chev-down': options<?php echo $attributeId ?>, 'chev-up': !options<?php echo $attributeId ?>}" ng-click="options<?php echo $attributeId ?> = !options<?php echo $attributeId ?>"></span></div>
          <div class="body" ng-hide="options<?php echo $attributeId ?>">
            <div class="input-box">
              <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select form-control">
                <option><?php echo $this->__('Choose an Option...') ?></option>
              </select>
            </div>

          </div>
        </div>
      </div>
    <?php endif; ?>
  <?php endforeach; ?>

  <script type="text/javascript">
  var spConfig = new Product.Config(<?php echo $this->getJsonConfig() ?>);
  var selecttitle = '<?php echo $title ?>';
  </script>
<?php endif;
