<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div id="onestepcheckout-address-billing" class="fieldset">
  <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
      <li class="li-select-address">
        <?php echo $this->getAddressesHtmlSelect('billing') ?>
      </li>
    <?php endif; ?>
    <li>
      <ul id="onestepcheckout-billing-address-list"<?php if ($this->customerHasAddresses()): ?> style="overflow: hidden;height: 0px;display:none"<?php endif; ?> data-tipo_pessoa_scope="billing">
        <li><p class="required"><?php echo $this->__('* Required Fields') ?></p></li>
        <?php if (!$this->isCustomerLoggedIn()) : ?>

          <?php if (Mage::getStoreConfig('onestepcheckout/general/is_show_titles')): ?>
            <h2 class="legend"><?php echo $this->__('Access Information') ?></h2>
          <?php endif; ?>

          <li class="wide li-email">
            <label for="billing:email" class="required"><em>*</em><?php echo $this->__('Email') ?></label>
            <div class="input-box">
              <input type="text" name="billing[email]" id="billing:email" title="<?php echo $this->__('Email') ?>" class="input-text input-w1 validate-email validate-email-exist required-entry" value="<?php echo $this->getDataFromSession('email'); ?>" />
            </div>
          </li>
          <li class="li-password-area">
            <ul id="osc-billing-password-area" style="overflow: hidden;<?php if (!$this->getDataFromSession('create_account') && $this->customerMustBeRegistered()): ?>height: 0px;display:none<?php endif; ?>">
              <li class="fields">
                <div class="field">
                  <label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                  <div class="input-box">
                    <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                  </div>
                </div>
                <div class="field">
                  <label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                  <div class="input-box">
                    <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <li class="control li-must-be-registered">
            <?php if ($this->customerMustBeRegistered()): ?>
              <input type="checkbox" name="billing[create_account]" value="1" title="<?php echo $this->__('Create Account') ?>" id="billing:create_account" class="checkbox"<?php if ($this->getDataFromSession('create_account')): ?> checked="checked"<?php endif; ?>/><label for="billing:create_account"><?php echo $this->__('Create Account') ?></label>
              <?php else: ?>
                <input type="hidden" name="billing[create_account]" value="1" id="billing:create_account" />
              <?php endif ?>
            </li>
            <?php if (Mage::getStoreConfig('onestepcheckout/general/is_show_titles')): ?><h2 class="legend">
              <?php echo $this->__('Personal Information') ?></h2><?php endif; ?>
              <?php if (!$this->isCustomerLoggedIn()) : ?>
                <?php $_tipopessoa = $this->getLayout()->createBlock('onestepcheckout/widget_tipopessoa') ?>
                <?php if ($_tipopessoa->isEnabled()): ?>
                  <li class="control tipopessoa li-radio-tipo-pessoa">
                    <span>
                      <input type="radio" name="billing[radio_tipopessoa]" checked="checked"  value="Física" id="billing:fisica" class="radio" title="CPF" <?php if ($this->getDataFromSession('radio_tipopessoa') == 'Física'): ?> checked="checked"<?php endif; ?>/><label for="billing:fisica"><?php echo $this->__('Pessoa Física') ?></label>
                      </span>
                      <span>
                        <input type="radio" name="billing[radio_tipopessoa]" value="Jurídica" id="billing:juridica" class="radio" title="CNPJ" <?php if ($this->getDataFromSession('radio_tipopessoa') == 'Jurídica'): ?> checked="checked"<?php endif; ?>/><label for="billing:juridica"><?php echo $this->__('Pessoa Jurídica') ?></label>
                        </span>
                      </li>
                      <li class="wide hidden li-select-tipo-pessoa">
                        <?php echo $_tipopessoa->setTipopessoa($this->getDataFromSession('tipopessoa'))->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                      </li>
                    <?php endif ?>
                  <?php endif ?>
                  <li class="fields li-name"><?php echo $this->getCustomerWidgetName()->toHtml(); ?></li>
                  <?php if (!$this->isCustomerLoggedIn()): ?>
                    <?php if ($this->isTaxvatEnabled()): ?><?php if ($this->getConfig()->isCompany()): ?>
                      <li class="wide li-company">
                        <label for="billing:company"><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                          <input type="text" id="billing:company" name="billing[company]" title="<?php echo $this->__('Company') ?>" class="input-text input-w1 <?php echo $this->getAttributeValidationClass('company') ?>" value="<?php echo $this->getDataFromSession('company'); ?>" />
                        </div>
                      </li>
                    <?php endif; ?>
                    <li class="wide li-taxvat swatch-label">
                      <label for="billing:taxvat" class="required for-fisica "><em>*</em><?php echo __('CPF'); ?></label>
                      <label for="billing:taxvat" class="required for-juridica"><em>*</em><?php echo __('CNPJ'); ?></label>
                      <?php echo $this->getTaxvatHtml() ?>
                    </li>
                  <?php endif; ?>
                  <li class="wide li-ie swatch-label">
                    <label for=":billingie" class="for-fisica "><?php __('RG'); ?></label>
                    <label for="billing:ie" class="for-juridica "><?php echo $this->__('IE (Inscrição Estadual)') ?></label>
                    <div class="input-box">
                      <input type="text" id="billing:ie" name="billing[ie]" title="<?php echo $this->__('IE (Inscrição Estadual)') ?>" class="input-text" value="<?php echo $this->getDataFromSession('ie'); ?>" />
                    </div>
                  </li>
                  <li class="li-birthdate-gender">
                    <ul id="osc-billing-tipopessoa-area"  style="display:block;">
                      <li class="wide li-birthdate">
                        <?php $_dateOfBirthWidget = $this->getCustomerWidgetDateOfBirth(); ?>
                        <?php if ($_dateOfBirthWidget->isEnabled()): ?>
                          <?php echo $_dateOfBirthWidget->toHtml() ?>
                        <?php endif; ?>
                      </li>
                      <li class="wide li-gender">
                        <?php $_genderWidget = $this->getCustomerWidgetGender(); ?>
                        <?php if ($_genderWidget->isEnabled()): ?>
                          <?php echo $_genderWidget->toHtml() ?>
                        <?php endif ?>
                      </li>
                    </ul>
                  </li>
                <?php endif; ?>



                <li class="fields li-phones">
                  <div class="field">
                    <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                    <div class="input-box">
                      <input type="text" name="billing[telephone]" title="<?php echo $this->__('Telephone') ?>" class="input-text validate-phone-br <?php echo $this->getAttributeValidationClass('telephone') ?>" id="billing:telephone" value="<?php echo $this->getDataFromSession('telephone'); ?>" placeholder="(xx) 4567-8900" />
                    </div>
                  </div>
                  <?php if ($this->getConfig()->isFax()): ?>
                    <div class="field">
                      <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                      <div class="input-box">
                        <input type="text" name="billing[fax]" title="<?php echo $this->__('Fax') ?>" class="input-text validate-phone-br <?php echo $this->getAttributeValidationClass('fax') ?>" id="billing:fax" value="<?php echo $this->getDataFromSession('fax'); ?>"  placeholder="(xx) x4567-8900" />
                      </div>
                    </div>
                  <?php endif ?>
                </li>
              <?php endif ?>


              <!-- Aqui começa endereço -->

              <?php if (Mage::getStoreConfig('onestepcheckout/general/is_show_titles')): ?><h2 class="legend"><?php echo $this->__('Billing Address') ?></h2><?php endif ?>

                <li class="wide li-country">
                  <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                  <div class="input-box">
                    <?php echo $this->getCountryHtmlSelect('billing') ?>
                  </div>
                </li>

                <li>
                  <div class="field">
                    <label for="billing:firstname" class="required"><em>*</em><?php echo $this->__('firstname') ?></label>
                    <div class="input-box">
                      <input type="text" title="<?php echo $this->__('Firstname') ?>" name="billing[firstname]" id="billing:firstname" class="input-text <?php echo $this->getAttributeValidationClass('firstname') ?>" />
                    </div>
                  </div>
                  <div class="field">
                    <label for="billing:lastname" class="required"><em>*</em><?php echo $this->__('Sobrenome') ?></label>
                    <div class="input-box">
                      <input type="text" title="<?php echo $this->__('Sobrenome') ?>" name="billing[lastname]" id="billing:lastname" class="input-text" />
                    </div>
                  </div>
                  <div class="field">
                    <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                    <div class="input-box">
                      <input type="text" name="billing[telephone]" title="<?php echo $this->__('Telephone') ?>" class="input-text validate-phone-br <?php echo $this->getAttributeValidationClass('telephone') ?>" id="billing:telephone" value="<?php echo $this->getDataFromSession('telephone'); ?>" placeholder="(xx) 4567-8900" />
                    </div>
                  </div>
                </li>

                <li class="fields li-postcode">
                  <div class="field">
                    <label for="billing:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                    <div class="input-box">
                      <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" class="input-text <?php echo $this->getAttributeValidationClass('postcode') ?>" value="<?php echo $this->getDataFromSession('postcode') ?>" maxlength="8" onblur="buscaCep('billing');" />
                    </div>
                  </div>
                  <div class="field">
                    <label>&nbsp;</label>
                    <div class="input-box">
                      <div class="onestepcheckout-postcod-process onestepcheckout-overlay-16">&nbsp;</div>
                      <a class="nao-sei-cep" href="#" onclick="popWin('http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm', 'I forgot my zipcode', 'width=360,height=370,left=200,top=50,location=no,status=yes,scrollbars=yes,resizable=yes');
                      return false;"><?php echo $this->__('What is my postcode?') ?></a>
                    </div>
                  </div>
                </li>
                <?php $_streetValidationClass = $this->getAttributeValidationClass('street'); ?>
                <?php $streetValues = $this->getDataFromSession('street'); ?>
                <li class="wide li-street1">
                  <div class="">
                    <label for="billing:street1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                    <div class="input-box">
                      <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" class="input-text <?php echo $_streetValidationClass ?>" value="<?php echo (isset($streetValues[0])) ? $streetValues[0] : ''; ?>" autocomplete="off"/>
                    </div>
                  </div>
                </li>
                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                <?php
                for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++):
                  ?>
                  <li class="wide li-street<?php echo $_i; ?>">
                    <div class="">
                      <label for="billing:street<?php echo $_i ?>" <?php if ($_i != 3): ?> class="required" <?php endif; ?>><?php if ($_i != 3): ?> <em>*</em> <?php endif; ?><?php echo $this->__('Street Address ' . $_i) ?></label>
                        <div class="input-box">
                          <input type="text" title="<?php echo $this->__('Street Address ' . $_i) ?>" name="billing[street][<?php echo $_i ?>]" id="billing:street<?php echo $_i ?>" class="input-text <?php if ($_i != 3): ?>required-entry<?php endif; ?>" value="<?php echo $streetValues[$_i]; ?>" autocomplete="off"/>
                          </div>
                        </div>
                      </li>
                    <?php endfor; ?>
                    <?php if ($this->isVatAttributeVisible()) : ?>
                      <li class="wide li-billing-taxvat">
                        <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
                        <div class="input-box">
                          <input type="text" id="billing:vat_id" name="billing[vat_id]" title="<?php echo $this->__('VAT Number') ?>" class="input-text <?php echo $this->getAttributeValidationClass('vat_id'); ?>" value="<?php echo $this->getDataFromSession('vat_id'); ?>" />
                        </div>
                      </li>
                    <?php endif; ?>
                    <li class="fields li-city-region">
                      <div class="field">
                        <label for="billing:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                          <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" class="input-text <?php echo $this->getAttributeValidationClass('city') ?>" id="billing:city" value="<?php echo $this->getDataFromSession('city') ?>" />
                        </div>
                      </div>
                      <div class="field">
                        <label for="billing:region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box">
                          <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                            <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                          </select>
                          <script type="text/javascript">
                          //<![CDATA[
                          $('billing:region_id').setAttribute('defaultValue', "<?php echo $this->getDataFromSession('region_id') ?>");
                          //]]>
                          </script>
                          <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->getAttributeValidationClass('region') ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                        </div>
                      </div>
                    </li>

                    <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()): ?>
                      <li class="control li-save-in-address-book">
                        <label for="billing:save_in_address_book"><input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if (window.shipping)
                          shipping.setSameAsBilling(false);"<?php if ($this->getDataFromSession('save_in_address_book')): ?> checked="checked"<?php endif; ?> class="checkbox" /><?php echo $this->__('Save in address book') ?></label>
                          </li>
                        <?php else: ?>
                          <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                        <?php endif; ?>
                      </ul>
                    </li>
                    <?php if (!$this->isUseBillingAsShipping() && $this->canShip()): ?>
                      <li class="control li-use-for-shipping">
                        <hr>
                        <label for="billing:use_for_shipping"> <input type="checkbox" name="billing[use_for_shipping]" value="1" title="<?php echo $this->__('Ship to same address') ?>" id="billing:use_for_shipping" <?php if ($this->isUseBillingAsShippingChecked()): ?> checked="checked"<?php endif; ?> class="checkbox" /><?php echo $this->__('Será enviado para este endereço') ?></label>
                        </li>
                      <?php else : ?>
                        <li class="no-display"><input type="hidden" name="billing[use_for_shipping]" value="1" /></li>
                      <?php endif; ?>
                    </ul>
                    <?php echo $this->getChildHtml('extra'); ?>
                  </div>


                  <?php
                  //////////////INICIO JAVASCRIPT//////////////////////////////////?
                  ?>






                  <script type="text/javascript">
                  //<![CDATA[
                  var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');

                  var $country = jQuery('[id="billing:country_id"]');
                  $country.on('change', function () {
                    billingRegionUpdater.update();
                  });
                  $country.val('BR');
                  $country.trigger('change');
                  $region = jQuery('[id="billing:region_id"]');
                  $region.find('option[title="Minas Gerais"]').attr('selected', 'selected');

                  jQuery('billing:taxvat').addClass('validate-taxvat');
                  jQuery('billing:telephone').addClass('validate-phone-br');
                  //$('billing:fax').addClassName('validate-phone-br');
                  jQuery('billing:postcode').addClass('validate-zip-br');


                  jQuery(document).ready(function(){

                    var cep_onestep = jQuery("input[name='billing[postcode]']");

                    //verifica se cep já está preenchido
                    if(cep_onestep != null && cep_onestep != '') {
                      //verifica se cep foi preenchido anteriormente para calcular o frete automaticamente
                      var cep = sessionStorage.getItem('cep_estimado');

                      if(cep != null && cep != '') {
                        //seta o cep no campo de cep
                        cep_onestep.val(cep);
                        //dispara a função de calcular cep
                        buscaCep('billing');
                      }
                    }

                  });

                  //]]>
                  </script>
