/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.btn-newsletter {
    float: right;
    &.-transparent {
        background-color: transparent;
    }
}

.newsletter-form {
    >.input {
        @extend .form-control;
        @extend .required-entry !optional;
        @extend .validate-email !optional;
    }
    >.btn {
        @extend .button-default;
        @extend .btn-newsletter;
        //NO ALERTA DO SASS FOI COMENTADO QUE NAS PROXIMAS RELEASES FAZER "Extending a compound selector" NÃO SERÁ MAIS SUPORTADO
        //@extend .btn-newsletter.-transparent;
    }
}