    /*ESTILOS USADOS NO MODULO MIRASVIT SPHINX*/
    
    .searchautocomplete {
        .nav-search-in {
            &:after {
                background-color: $header-search-content-border-color;
            }
            .nav-down-arrow {
                border-color: $button-default-background-color transparent transparent transparent;
            }
            .category-fake {
                color: $header-form-search-input-color;
                &:hover {
                    color: $default-color-segment;
                }
            }
            &:hover {
                .category-fake {
                    color: $default-color-segment;
                }
            }
        }
    }
    
    .searchautocomplete .searchautocomplete-placeholder ul li .price-box .regular-price .price,
    .searchautocomplete .searchautocomplete-placeholder ul li .price-box .special-price .price,
    .searchautocomplete .searchautocomplete-placeholder ul li .price-box .price-billet .price,
    .searchautocomplete .searchautocomplete-placeholder ul li .price-box .price-parcelado .price {
        color: $price-color;
    }