<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

// ESTA CONDIÇÃO TEM RELAÇÃO COM O MODULO CURTOMER PRICES - P00119-customerprices-Webtex_CustomerPrices
 if (Mage::helper('core')->isModuleEnabled(Webtex_Core)){
   $_webtexHelper = Mage::helper('customerprices');
 }

?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>

<div id="messages_product_view">
  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>

<div class="product-view">

  <div class="col-sm-12 col-md-7">
    <?php // Product Gallery Image ?>
    <div class="product-img-box">
      <div class="row">
        <div class="media loading">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="black" class="loading-svg">
            <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
            <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
              <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
            </path>
          </svg>
          <?php echo $this->getChildHtml('media') ?>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <div class="product-info">

      <div class="product-name">
        <?php // Product Name ?>
        <small>REF: #<?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?></small>
        <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
      </div>

      <?php if ($_product->getShortDescription()):?>
          <?php if(Mage::getStoreConfig('product_page/general/optimize_page')):?>
              <p class="short-description">
                  <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
              </p>
          <?php else:?>
              <h2 class="short-description">
                  <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
              </h2>
          <?php endif;?>
      <?php endif;?>

      <div class="price-box-content">
        <?php // Product Price ?>
        <?php echo $this->getChildHtml('product_type_data') ?>
        <?php echo $this->getTierPriceHtml() ?>
        <?php echo $this->getChildHtml('extrahint') ?>


        <?php if (Mage::getStoreConfig('detailedprice/installments_price/show_options_popup')==1 && Mage::getStoreConfig('customerprices/settings/hide_price')==0): ?>
        <div class="installment-options-popup visible-md visible-lg">
          <?php // Product Price Popup ?>
          <?php echo $this->getChildHtml('jn2.detailedprice.popup') ?>
        </div>
        <?php endif; ?>

      </div>

      <?php if ($_product->getTypeId() != 'orcamento'): ?>
      <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => Mage::app()->getStore()->isCurrentlySecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
      <?php endif ?>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
          <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
          <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
        <?php if (!$this->hasOptions()):?>
          <div class="simple-product">
            <?php if($_product->isSaleable()): ?>
              <?php echo $this->getChildHtml('addtocart') ?>
              <?php echo $this->getChildHtml('orcamento.form') ?>
            <?php endif; ?>
          </div>
        <?php endif; ?>

        <div class="product-options-wrapper">
          <?php echo $this->getChildHtml("product.info.options.wrapper"); ?>
          <?php echo $this->getChildHtml("product_type_data_grouped"); ?>

          <?php // Product Options ?>
          <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildHtml('product_info_downloadable') ?>
            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
          <?php endif;?>

          <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
          <?php endif;?>
        </div>

        <?php if ($_product->getTypeId() != 'orcamento'): ?>
          <?php echo $this->getChildHtml('alert_urls') ?>
        <?php endif ?>
        <?php //echo $this->getChildHtml('extra_buttons') ?>

        <?php echo $this->getChildHtml('product_type_availability'); ?>

      <?php if ($_product->getTypeId() != 'orcamento'): ?>
      </form>
      <?php endif ?>

      <?php if (Mage::getStoreConfig('detailedprice/installments_price/show_options_table')==1 && Mage::getStoreConfig('customerprices/settings/hide_price')==0): ?>
        <div class="clearfix">&nbsp;</div>
        <div class="panel-parcels hidden-xs hidden-sm">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><img src="<?php echo $this->getSkinUrl('images/card-4.svg') ?>" alt="Cartão de Crédito" width="35" />Formas de Parcelamento</h3>
            </div>
            <div class="panel-body">
              <?php echo $this->getChildHtml('jn2.detailedprice.table') ?>
            </div>
          </div>
        </div>
      <?php endif; ?>


      <?php if(Mage::getStoreConfig("product_page/blocks/bloco_1")): ?>
        <div class="seals-1 visible-md visible-lg">
          <?php #Store Seals ?>
          <?php echo $this->getChildHtml('product.page.seal1')?>
        </div>
      <?php endif ?>


        <div class="estimate-shipping visible-md visible-lg">
          <?php #Estimate Shipping ?>
              <?php $estimate_shipping = $this->getLayout()->getBlock('shipping.estimate.form'); ?>
              <?php if ($estimate_shipping): ?>
                <?php echo $this->getLayout()->getBlock('shipping.estimate.form')->toHtml()?>
              <?php endif; ?>
        </div>


      <?php if(Mage::getStoreConfig("product_page/blocks/bloco_2")): ?>
        <div class="seals-2 visible-md visible-lg">
          <?php #Store Seals ?>
          <?php echo $this->getChildHtml('product.page.seal2')?>
        </div>
      <?php endif ?>

      <?php //Panel RWD informações / Compre Junto / Formas de Parcelamento / Descrição / Quem Comprou Comprou Tb ?>
      <div class="hidden-md hidden-lg panel-group">
        <?php //FORMAS DE PARCELAMENTO ?>
        <?php if (Mage::getStoreConfig('detailedprice/installments_price/show_options_table')==true): ?>
          <div class="panel panel-default">
            <div class="panel-heading" id="collapseListGroupHeading2">
              <h4 class="panel-title">
                <a href="#collapseListGroup2" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup2">
                  <img src="<?php echo $this->getSkinUrl('images/card-4.svg') ?>" alt="Cartão de Crédito" />Formas de Parcelamento <img src="<?php echo $this->getSkinUrl('images/arrow3.svg') ?>" alt="Seta" class="img-seta" />
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup2" aria-labelledby="collapseListGroupHeading2" aria-expanded="false" >
              <div class="panel-body">
                <?php echo $this->getChildHtml('jn2.detailedprice.table') ?>
              </div>
            </div>
          </div>
        <?php endif; ?>

        <?php //DESCRIÇÃO ?>
        <div class="panel panel-default">
          <div class="panel-heading" id="collapseListGroupHeading3">
            <h4 class="panel-title">
              <a href="#collapseListGroup3" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup3">
                <img src="<?php echo $this->getSkinUrl('images/description2.svg') ?>" alt="Descrição" />  <?php echo $this->__( 'Descrição' ) ?> <img src="<?php echo $this->getSkinUrl('images/arrow3.svg') ?>" alt="Seta" class="img-seta" />
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup3" aria-labelledby="collapseListGroupHeading3" aria-expanded="false">
            <div class="panel-body">
              <?php //Product Detail ?>
              <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
                <div class="box-collateral <?php echo "box-{$alias}"?>">
                  <?php echo $html; ?>
                </div>
              <?php endforeach;?>
            </div>
          </div>
        </div>

        <?php if (count($_product->getRelatedProductIds()) > 0) : ?>
        <?php // Quem comprou comprou também ?>
        <div class="panel panel-default">
          <div class="panel-heading" id="collapseListGroupHeading4">
            <h4 class="panel-title">
              <a href="#collapseListGroup4" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup4">
                <img src="<?php echo $this->getSkinUrl('images/together.svg') ?>" alt="<?php echo $this->__("Related Products") ?>" />  <?php echo $this->__("Related Products") ?> <img src="<?php echo $this->getSkinUrl('images/arrow3.svg') ?>" alt="Seta" class="img-seta" />
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse in" role="tabpanel" id="collapseListGroup4" aria-labelledby="collapseListGroupHeading4" aria-expanded="false">
            <div class="panel-body">
              <?php //Product Detail ?>
              <?php echo $this->getChild("catalog.product.related")->setData("mobile", true)->toHtml(); ?>
            </div>
          </div>
        </div>
        <?php endif; ?>

        <?php if (count($_product->getUpSellProductIds()) > 0) : ?>
        <?php // Quem viu tambem ?>
        <div class="panel panel-default up-sell-products">
          <div class="panel-heading" id="collapseListGroupHeading5">
            <h4 class="panel-title">
              <a href="#collapseListGroup5" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup5">
                <img src="<?php echo $this->getSkinUrl('images/upsell3.svg') ?>" alt="<?php echo $this->__("Quem viu este produto, viu também") ?>" />  <?php echo $this->__("Quem viu este produto, viu também") ?> <img src="<?php echo $this->getSkinUrl('images/arrow3.svg') ?>" alt="Seta" class="img-seta" />
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse in" role="tabpanel" id="collapseListGroup5" aria-labelledby="collapseListGroupHeading5" aria-expanded="false">
            <div class="panel-body">
              <?php //Upsell Products ?>
              <?php echo $this->getChild("upsell_products")->setData("mobile", true)->toHtml(); ?>
            </div>
          </div>
        </div>
        <?php endif; ?>

      </div>
    </div>
  </div>

<?php
$isModuleNotActive = !Mage::helper('core')->isModuleEnabled('AW_Autorelated');
?>
  

  <div class="col-sm-12 col-md-7 same-height-default">
    <div class="additional-information">
    
    <?php echo $this->getChildHtml('jn2_gridvariacoes_grid') ?>

    <?php if ($isModuleNotActive): ?>
      <?php //Related Product ?>
      <div class="visible-md visible-lg">
        <?php echo $this->getChild("catalog.product.related")->setData("mobile", false)->toHtml(); ?>
      </div>
    <?php endif;?>

      <div class="product-description hidden-xs hidden-sm">
        <?php // Description ?>
        <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
          <div class="<?php echo "box-{$alias}"?>">
            <?php echo $html; ?>
          </div>
        <?php endforeach;?>
      </div>

      <?php if(Mage::getStoreConfig("product_page/blocks/bloco_3")): ?>
        <div class="social-proof visible-md visible-lg">
          <?php #Prova Social 2 ?>
          <?php echo $this->getChildHtml('product.page.social_proof1');?>
        </div>
      <?php endif;?>
      
    <?php if ($isModuleNotActive): ?>
      <div class="visible-md visible-lg">
        <?php //Upsell Products ?>
        <?php echo $this->getChild("upsell_products")->setData("mobile", false)->toHtml(); ?>
      </div>
    <?php endif;?>
      <?php if(Mage::getStoreConfig("product_page/blocks/bloco_4")): ?>
        <div class="social-proof visible-md visible-lg">
          <?php #Prova Social 2 ?>
          <?php echo $this->getChildHtml('product.page.social_proof2');?>
        </div>
      <?php endif;?>

    </div>
  </div>


<?php if ($_product->getTypeId() != 'orcamento'): ?>

  <div class="col-md-4 col-md-offset-1 visible-md visible-lg">
    <div class="same-height">
      <div class="floating-addtocart">
        <div class="product-name">
          <?php // Product Name ?>
          <h2><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
        </div>
        <div class="price-box-content">
          <?php // Product Price ?>
          <?php echo $this->getChildHtml('product_type_data') ?>
          <?php echo $this->getTierPriceHtml() ?>
          <?php echo $this->getChildHtml('extrahint') ?>
        </div>
        <?php if(!$_webtexHelper || ($_webtexHelper && $_webtexHelper->isShowListBlock($_product))): ?>
          <?php if($_product->isSaleable()): ?>
            <button type="button" class="btn-floating-addtocart" id="btn-floating-addtocart"><?php echo $this->__('Add to Cart') ?></button>
          <?php endif;?>
        <?php endif;?>
      </div>
    </div>
  </div>
<?php endif;?>

  <div class="col-xs-12">
    <?php #Addicional Data ?>
    <?php echo $this->getChildHtml('product_additional_data');?>
  </div>

  <script type="text/javascript">
  //<![CDATA[
  var productAddToCartForm = new VarienForm('product_addtocart_form');

  productAddToCartForm.submit = function(button, url) {
    if (this.validator.validate()) {

      var form = this.form;
      var oldUrl = form.action;

      if (url) {
        form.action = url;
      }
      var e = null;
      try {
        this.form.submit();
      } catch (e) {
      }
      this.form.action = oldUrl;
      if (e) {
        throw e;
      }

      if (button && button != 'undefined') {
        button.disabled = true;
      }
    } else {
      Element.scrollTo($$('.box-buy.row')[0]);
    }
  }.bind(productAddToCartForm);

  productAddToCartForm.submitLight = function(button, url){
    if(this.validator) {
      var nv = Validation.methods;
      delete Validation.methods['required-entry'];
      delete Validation.methods['validate-one-required'];
      delete Validation.methods['validate-one-required-by-name'];
      // Remove custom datetime validators
      for (var methodName in Validation.methods) {
        if (methodName.match(/^validate-datetime-.*/i)) {
          delete Validation.methods[methodName];
        }
      }

      if (this.validator.validate()) {
        if (url) {
          this.form.action = url;
        }
        this.form.submit();
      }
      Object.extend(Validation.methods, nv);
    }
  }.bind(productAddToCartForm);
  //]]>
  </script>
</div>

<script type="text/javascript">
var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
