<?php if($this->getItems()->getSize()): ?>
  <!-- INICIO RELACIONADO -->
  <div class="related-products">
    <h2><?php echo $this->__('Related Products') ?></h2>
    <div class="row">
      <ol class="products-grid" id="block-related">
        <?php $i=0; foreach($this->getItems() as $_item): ?>
          <?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
            <li class="col-xs-6 col-md-4">
              <div class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?> ">
                <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_item, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(300,350); ?>"  alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><?php echo $_item->getName() ?></a></h2>
                <?php echo $this->getPriceHtml($_item, true, '-related') ?>
                <?php if (!$_item->getRequiredOptions()): ?>
                  <div class="check">
                    <input type="checkbox" class="checkbox related-checkbox" id="related-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php echo $_item->getId() ?>" /> Selecionar item
                  </div>
                <?php endif; ?>
              </div>
            </li>
          <?php endif; ?>
        <?php endforeach ?>
      </ol>
      <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>

    </div>

    <div class="row related-all-actions text-right">
      <a href="#" class="related-all" onclick="selectAllRelated(this); return false;"><?php echo $this->__('select all') ?></a>
      <button type="button" class="btn btn-cart related pull-right" title="<?php echo $buttonTitle ?>" onclick="productAddToCartForm.submit(this)"><?php echo $this->__('Comprar (0) itens'); ?></button>
    </div>
  </div>

  <script >
  //<![CDATA[
  jQuery( document ).ready(function() {
    jQuery('.checkbox.related-checkbox').on('change', function() { updateButtonText(); }).change();
    jQuery('.related-all').on('click', function() { updateButtonText(); });
    function updateButtonText() {
      var total = jQuery('.checkbox.related-checkbox:checkbox:checked').length
      jQuery('.btn-cart.related').html('Comprar ('+total+') itens');
    }
  });
  $$('.related-checkbox').each(function(elem){
    Event.observe(elem, 'click', addRelatedToProduct)
  });
  var relatedProductsCheckFlag = false;
  function selectAllRelated(txt){
    if (relatedProductsCheckFlag == false) {
      $$('.related-checkbox').each(function(elem){
        elem.checked = true;
      });
      relatedProductsCheckFlag = true;
      txt.innerHTML="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('unselect all')) ?>";
    } else {
      $$('.related-checkbox').each(function(elem){
        elem.checked = false;
      });
      relatedProductsCheckFlag = false;
      txt.innerHTML="<?php echo Mage::helper('core')->jsQuoteEscape($this->__('select all')) ?>";
    }
    addRelatedToProduct();
  }

  function addRelatedToProduct(){
    var checkboxes = $$('.related-checkbox');
    var values = [];
    for(var i=0;i<checkboxes.length;i++){
      if(checkboxes[i].checked) values.push(checkboxes[i].value);
    }
    if($('related-products-field')){
      $('related-products-field').value = values.join(',');
    }
  }
  //]]>
  </script>


  <!-- FIM RELACIONADO -->
<?php endif; ?>
