<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
?>
<?php if (count($this->getGalleryImages()) > 0): ?>
  <div class="more-views media-slider">
    <?php foreach ($this->getGalleryImages() as $_image): ?>
    	<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(400); ?>" />
    <?php endforeach; ?>
  </div>
<?php endif; ?>
