<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php if ($this->canShowBlock()): ?>
  <div class="block block-layered-nav">
    <div class="block-title">
      <?php echo $this->__('Filtros') ?>
    </div>
    <div class="block-content">
      <?php echo $this->getStateHtml() ?>
      <?php if ($this->canShowOptions()): ?>
        <dl id="narrow-by-list">
          <?php $_filters = $this->getFilters() ?>
          <?php
          foreach ($_filters as $_filter):
            $_resource = $_filter->getAttributeModel();
            $_code = ($_resource) ? $_resource->getAttributeCode() : "category";
            $class = '';
            if (Mage::helper('core')->isModuleEnabled('CJM_ColorSelectorPlus')) {
              $swatch_attributes = Mage::helper('colorselectorplus')->getSwatchAttributes();
              $swatch_attributes = array_combine($swatch_attributes, $swatch_attributes);
              $class = (isset($swatch_attributes[$_code])) ? "colorselectorplus" : "";
            }
            ?>
            <?php if ($_filter->getItemsCount()): ?>
              <dt class="label <?php echo "{$_code} {$class}"; ?>"> <?php echo $this->__($_filter->getName()) ?> <span class="collapse">+</span></dt>
              <dd class="value <?php echo "{$_code} {$class}"; ?>"><?php echo $_filter->getHtml() ?></dd>
            <?php endif; ?>
          <?php endforeach; ?>
        </dl>
        <!-- <script type="text/javascript">decorateDataList('narrow-by-list')</script> -->
      <?php endif; ?>
    </div>
    <div class="action-close">
      <button type="button" id="btn-close-filter" class="btn-close-filter"><?php echo $this->__("Fechar filtro") ?></button>
    </div>
  </div>
<?php endif; ?>
