<?php
/**
 * JN2
 * @package: Jn2 Default Theme
 * @author: Igor Gottschalg <igorgottsweb@gmail.com>
 * @author: Diogo Siqueira <diogovsi@gmail.com>
 */
?>
<div class="account-create loading">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-title">
            <h1><?php echo $this->__( 'Identification' ) ?></h1>
            <hr/>
            <div class="subtitle">
                <p><?php echo $this->__( 'Register! Enjoy deals, exclusive offers')?></p>
                <p class="required"><?php echo $this->__( '* Required Fields' ) ?></p>
            </div>
        </div>
        <?php echo $this->getChildHtml( 'form_fields_before' ) ?>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <div id="customer-wizard">
            <form action="<?php echo $this->getPostActionUrl() ?>" class="form-horizontal" method="post"
                  id="form-validate" data-tipo_pessoa_scope="">


                <!-- Dados Acessos -->
                <fieldset class="fieldset">
                    <h2><?php echo $this->__( 'Login Information' ) ?></h2>
                    <div class="form-group">
                        <label for="email_address"
                               class="required col-sm-4 control-label"><?php echo $this->__( 'Email Address' ) ?>
                            <em>*</em></label>
                        <div class="col-sm-8">
                            <input type="email" name="email" id="email_address"
                                   value="<?php echo Mage::app()->getRequest()->getParam( "email" ) ?>"
                                   title="<?php echo $this->__( 'Email Address' ) ?>"
                                   class="form-control validate-on-focusout validate-email validate-email-exist required-entry"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password"
                               class="required  col-sm-4 control-label"><em>*</em><?php echo $this->__( 'Password' ) ?>
                        </label>
                        <div class="col-sm-4">
                            <input type="password" name="password" id="password"
                                   title="<?php echo $this->__( 'Password' ) ?>"
                                   class="form-control validate-on-focusout required-entry validate-password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmation"
                               class="required col-sm-4 control-label"><em>*</em><?php echo $this->__( 'Confirm Password' ) ?>
                        </label>
                        <div class="col-sm-4">
                            <input type="password" name="confirmation"
                                   title="<?php echo $this->__( 'Confirm Password' ) ?>" id="confirmation"
                                   class="form-control validate-on-focusout required-entry validate-cpassword"/>
                        </div>
                    </div>
                    <?php echo $this->getChildHtml( 'form.additional.info' ); ?>
                    <div class="hide">
                        <?php echo $this->getChildHtml( 'persistent.remember.me' ); ?>
                        <?php echo $this->getChildHtml( 'persistent.remember.me.tooltip' ); ?>
                    </div>
                </fieldset>

                <!-- Dados pessoais -->
                <fieldset class="fieldset">
                    <h2><?php echo $this->__( 'Personal Data' ) ?></h2>
                    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
                    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>
                    
                    
                    <?php $_tipopessoa = $this->getLayout()->createBlock( 'simplecheckout/widget_tipopessoa' ); ?>
                    <?php if ($_tipopessoa->isEnabled()): ?>
                        <div class="form-group">
                            <div class="control tipopessoa li-radio-tipo-pessoa">
                                <div class="col-sm-12 text-center">
                                    <input type="hidden" name="billing[tipopessoa]" id="accout-tipo-pessoa"/>
                                </div>
                            </div>
                            <div class="hide">
                                <?php echo $_tipopessoa->setTipopessoa( $this->getFormData()->getTipopessoa() )->toHtml() ?>
                            </div>
                        </div>
                    <?php endif ?>
                    
                    <?php echo $this->getLayout()->createBlock( 'simplecheckout/widget_nome' )->setObject( $this->getFormData() )->setForceUseCustomerAttributes( true )->toHtml() ?>

                    <div class="form-group show-pessoa-juridica">
                        <label for="company" class="col-sm-4 control-label"><?php echo $this->__( 'Company' ) ?></label>
                        <div class="col-md-8">
                            <input type="text" name="razaosocial" id="company"
                                   value="<?php echo $this->escapeHtml( $this->getFormData()->getCompany() ) ?>"
                                   title="<?php echo $this->__( 'Company' ) ?>"
                                   class="form-control validate-on-focusout <?php echo $this->helper( 'customer/address' )->getAttributeValidationClass( 'company' ) ?>"/>
                        </div>
                    </div>
                    
                    <?php $_taxvat = $this->getLayout()->createBlock( 'simplecheckout/widget_taxvat' ) ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <div class="form-group">
                            <label for="taxvat"
                                   class="required show-pessoa-fisica col-sm-4 control-label"><em>*</em><?php echo __( 'CPF' ); ?>
                            </label>
                            <label for="taxvat"
                                   class="required show-pessoa-juridica col-sm-4 control-label"><em>*</em><?php echo __( 'CNPJ' ); ?>
                            </label>
                            <div class="col-sm-5">
                                <?php echo $_taxvat->setTaxvat( $this->getFormData()->getTaxvat() )->toHtml() ?>
                            </div>
                        </div>
                    <?php endif ?>

                    <div class="form-group" <?php if (!Mage::getStoreConfigFlag( 'jn2_checkout/general/rg' )): ?> style="display: none;" <?php endif ?>>
                        <label for="ie"
                               class="show-pessoa-fisica col-sm-4 control-label"><?php echo $this->__( 'RG' ); ?><?php echo (Mage::getStoreConfig( 'jn2_checkout/general/rg_ie' )) ? '<em>*</em>' : ''; ?></label>
                        <label for="ie"
                               class="show-pessoa-juridica col-sm-4 control-label"><?php echo $this->__( 'IE (Inscrição Estadual)' ) ?><?php echo (Mage::getStoreConfig( 'jn2_checkout/general/rg_ie' )) ? '<em>*</em>' : ''; ?></label>
                        <div class="col-sm-5">
                            <input type="text" id="ie" name="ie"
                                   title="<?php echo $this->__( 'IE (Inscrição Estadual)' ) ?>"
                                   class="form-control validate-on-focusout <?php echo (Mage::getStoreConfig( 'jn2_checkout/general/rg_ie' )) ? 'required-entry' : ''; ?>"
                                   value="<?php echo $this->getFormData()->getIe(); ?>"
                                   data-show-rg="<?php echo Mage::getStoreConfig( 'jn2_checkout/general/rg' ) ?>"/>
                        </div>
                    </div>
                    
                    <?php /* APPEND INSCRIÇÃO MUNICIPAL */ ?>
                    <?php if ($this->helper( 'jn2_checkout/data' )->isIm()): ?>
                        <div class="form-group show-pessoa-juridica">
                            <label for="im"
                                   class="col-sm-4 control-label"><?php echo $this->__( 'IM (Inscrição Municipal)' ) ?></label>
                            <div class="col-sm-8">
                                <input type="text" id="im" name="im"
                                       title="<?php echo $this->__( 'IM (Inscrição Municipal)' ) ?>"
                                       class="form-control" value="<?php echo $this->getFormData()->getIm(); ?>"/>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php /* END APPEND INSCRIÇÃO MUNICIPAL */ ?>
                    
                    <?php $_gender = $this->getLayout()->createBlock( 'simplecheckout/widget_gender' ) ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <div class="form-group">
                            <div id="tipopessoa-area">
                                <div class="li-gender">
                                    <?php echo $_gender->setGender( $this->getFormData()->getGender() )->toHtml() ?>
                                </div>
                            </div>
                        </div>
                    <?php endif ?>
                    
                    
                    <?php $_dob = $this->getLayout()->createBlock( 'simplecheckout/widget_dob' ) ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <div class="form-group">
                            <div class="li-birthdate">
                                <?php echo $_dob->setDate( $this->getFormData()->getDob() )->toHtml() ?>
                            </div>
                        </div>
                    <?php endif ?>
                    <div class="form-group">
                        <label for="telephone"
                               class="col-sm-4 control-label"><?php echo $this->__( 'Telephone' ) ?><?php echo (Mage::getStoreConfig( 'jn2_checkout/general/phone' )) ? '<em>*</em>' : ''; ?></label>
                        <div class="col-sm-4">
                            <?php $removeMask = Mage::getStoreConfigFlag( 'jn2_checkout/general/disable_phone_mask' ) ? 'remove-mask' : ''; ?>
                            <input type="tel" name="telephone" title="<?php echo $this->__( 'Telephone' ) ?>"
                                   class="form-control <?php echo (Mage::getStoreConfig( 'jn2_checkout/general/phone' )) ? 'required-entry' : ''; ?> "
                                   id="telephoneInternational" value="<?php echo $this->getFormData()->getTelephone(); ?>"
                                   autocomplete="off" <?php echo !empty( $removeMask ) ? 'maxlength="16"' : null ?>/>
                        </div>
                    </div>
                    
                    <?php if (Mage::getStoreConfigFlag( 'onestepcheckout/exclude_include_fields/is_fax' )): ?>
                        <div class="form-group">
                            <label for="fax" class="col-sm-4 control-label"><?php echo $this->__( 'Fax' ) ?></label>
                            <div class="col-sm-4">
                                <input type="tel" name="fax" title="<?php echo $this->__( 'Fax' ) ?>"
                                       class="form-control validate-on-focusout" id="fax"
                                       value="<?php echo $this->getFormData()->getFax(); ?>" autocomplete="off"/>
                            </div>
                        </div>
                    <?php endif ?>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <?php if ($this->isNewsletterEnabled()): ?>
                                <label for="is_subscribed" class="checkbox-inline">
                                    <input type="checkbox" style="float: left;" name="is_subscribed"
                                           title="<?php echo $this->__( 'Sign Up for Newsletter' ) ?>" value="1"
                                           id="is_subscribed"<?php if ($this->getFormData()->getIsSubscribed()) echo 'checked="checked"'; ?> />
                                    <?php echo $this->__( 'Sign Up for Newsletter' ) ?>
                                </label>
                            <?php endif ?>
                        </div>
                    </div>

                </fieldset>

                <!-- Dados Endereço -->
                <?php if (true): ?>
                    <fieldset class="fieldset">
                        <h2><?php echo $this->__( 'Address Information' ) ?></h2>
                        <input type="hidden" name="create_address" value="1"/>

                        <div class="form-group">
                            <div class="li-postcode">
                                <label for="postcode"
                                       class="required col-sm-4 control-label"><em>*</em><?php echo $this->__( 'Zip/Postal Code' ) ?>
                                </label>
                                <div class="col-sm-3">
                                    <input type="text" title="<?php echo $this->__( 'Zip/Postal Code' ) ?>"
                                           name="postcode" id="postcodeInternational" class="form-control remove-mask"
                                           value="<?php echo $this->escapeHtml( $this->getFormData()->getPostcode() ) ?>" maxlength="10"/>
                                </div>
                            </div>
                        </div>
                        
                        <?php $_streetValidationClass = $this->helper( 'customer/address' )->getAttributeValidationClass( 'street' ); ?>
                        <div class="form-group">
                            <div class="li-street1">
                                <label for="street_1"
                                       class="required col-sm-4 control-label"><em>*</em><?php echo $this->__( 'Street Address' ) ?>
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" name="street[]"
                                           value="<?php echo $this->escapeHtml( $this->getFormData()->getStreet( 1 ) ) ?>"
                                           title="<?php echo $this->__( 'Street Address' ) ?>" id="street_1"
                                           class="form-control validate-on-focusout <?php echo $_streetValidationClass ?>"/>
                                </div>
                            </div>
                        </div>
                        <?php $_streetValidationClass = trim( str_replace( 'required-entry', '', $_streetValidationClass ) ); ?>
                        <?php $internationalFields = !empty(Mage::getStoreConfig('jn2_checkout/general/international_fields'))  && Mage::getStoreConfig('jn2_checkout/general/international_fields') == "1" ? '1' : '0'; ?>
                        <?php for ($_i = 2, $_n = $this->helper( 'customer/address' )->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <?php
                            switch ($_i) {
                                case 2:
                                    $col = 2;
                                    $required = "required";
                                    break;
                                case 3:
                                    if($internationalFields){
                                        $col = 3;
                                        $required = "required";
                                    }else{
                                        $required = "";
                                    }
                                    break;
                                default:
                                    $col = 4;
                                    $required = "required";
                                    break;
                            }
                            ?>

                            <div class="form-group">
                                <div class="li-street<?php echo $_i; ?>">
                                    <label for="street_<?php echo $_i ?>"
                                           class="<?php echo $required ?> col-sm-4 control-label">
                                        <?php if ($_i != 3): ?>
                                            <em>*</em>
                                        <?php endif; ?>
                                        
                                        <?php echo $this->__( "Street Address {$_i}" ) ?>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="street[]"
                                               value="<?php echo $this->escapeHtml( $this->getFormData()->getStreet( $_i ) ) ?>"
                                               title="<?php echo $this->__( 'Street Address %s', $_i ) ?>"
                                               id="street_<?php echo $_i ?>"
                                               class="form-control validate-on-focusout <?php echo $_streetValidationClass ?> <?php if ($_i == 2 || $_i == 4): ?>required-entry<?php endif; ?>"/>
                                    </div>
                                </div>
                            </div>
                        <?php endfor; ?>

                        <div class="form-group">
                            <div class="li-city-region">
                                <label for="city"
                                       class="required col-sm-4 control-label"><em>*</em><?php echo $this->__( 'City' ) ?>
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" name="city"
                                           value="<?php echo $this->escapeHtml( $this->getFormData()->getCity() ) ?>"
                                           title="<?php echo $this->__( 'City' ) ?>"
                                           class="form-control validate-on-focusout <?php echo $this->helper( 'customer/address' )->getAttributeValidationClass( 'city' ) ?>"
                                           id="city"/>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            
                            <div class="col-md-4">
                                <?php //echo $this->getCountryHtmlSelect() ?>
                            </div>
                        </div>  -->
                        <?php 
                            $_countries = Mage::getResourceModel('directory/country_collection')->loadByStore()->toOptionArray(false);                       
                        ?> 
                        <div class="form-group">
                            <label for="country" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__( 'Country' ) ?>
                            </label>
                            <div class="col-md-4">
                                <select name="country_id" id="country" class="validate-select form-control">
                                    <option value="">Please choose a Country</option>
                                    <?php foreach($_countries as $_country): ?>
                                        <option value="<?php echo $_country['value'] ?>">
                                            <?php echo $_country['label'] ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="region_id"
                                   class="required col-sm-4 control-label"><em>*</em><?php echo $this->__( 'State/Province' ) ?>
                            </label>
                            <div class="col-sm-4">
                                <select id="region_id" name="region_id"
                                    title="<?php echo $this->__( 'State/Province' ) ?>" 
                                    class="validate-select validate-on-focusout form-control">
                                    <option value=""><?php echo $this->__( 'Please select region, state or province' ) ?></option>
                                </select>   
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="hidden" id="region" name="region"
                                       value="<?php echo $this->escapeHtml( $this->getRegion() ) ?>"
                                       title="<?php echo $this->__( 'State/Province' ) ?>" style="display:none;"/>
                            </div>
                        </div>


                        <input type="hidden" name="default_billing" value="1"/>
                        <input type="hidden" name="default_shipping" value="1"/>
                    </fieldset>
                <?php endif; ?>


                <div class="clearfix"></div>
                <hr/>
                <div class="row">
                    <div class="col-xs-6 ">
                        <a href="<?php echo $this->getUrl() ?>" class="btn-back-store"
                           id="btn-back-store"><?php echo $this->__( 'Back' ) ?></a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="submit" title="<?php echo $this->__( 'Submit' ) ?>" id="btn-register"
                                class="btn-register"><?php echo $this->__( 'Save' ) ?></button>
                    </div>
                </div>

        </div>
        
        <?php if (Mage::helper( 'checkout' )->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout"/>
        <?php endif; ?>
        </form>
    </div>
</div>

<script>
    var regionUpdater = new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper( 'directory' )->getRegionJson() ?>, undefined, 'zip');

    var $country = jQuery('#country');
    $country.on('change', function () {
        regionUpdater.update();
    });
    
</script>