<div class="tabs-product-list" role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">

      <?php foreach ($this->getTitles() as $key => $title): ?>
        <li role="presentation" >
            <a  href="#tab-<?php echo $key ?>" 
                class="tab-control"
                aria-controls="tab-<?php echo $key ?>" 
                role="tab" 
                data-toggle="tab"
                data-id="<?php echo $this->getIds()[$key] ?>">
                  <?php echo $title ?>
            </a>
        </li>
        <!-- <div class="tab-<?php //echo $key ?>"><?php //echo $title ?></div> -->
      <?php endforeach ?>        
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">        
        <?php foreach ($this->getTabs() as $key => $tab): ?>
          <div role="tabpanel" class="tab-pane" id="tab-<?php echo $key ?>">
            <?php echo $tab ?>
          </div>          
          <!-- <div class="content-<?php //echo $key ?>"><?php //echo $tab ?></div> -->
        <?php endforeach ?>
        
    </div>
</div>

<script>
  jQuery('.nav-tabs li:first').addClass('active');
  jQuery('.tab-content div:first').addClass('active');
</script>

<style>
.tabs-product-list .nav-tabs{
    display: flex;
    justify-content: center;
    border: 0;
}

.tabs-product-list .nav-tabs > li.active > a, 
.tabs-product-list .nav-tabs > li.active > a:hover, 
.tabs-product-list .nav-tabs > li.active > a:focus{
  border: 0;
  color: #ee0000;
}
.tabs-product-list .nav-tabs > li > a:hover{
  border: 0;
}
</style>