<div class="account-create loading">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-title">
      <h1><?php echo $this->__('Identificação') ?></h1>
      <hr />
      <div class="subtitle">
        <p>Cadastre-se! Aproveite promoções, ofertas exclusivas e agilize suas compras com seus dados salvos.</p>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
      </div>
    </div>
    <?php echo $this->getChildHtml('form_fields_before') ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
      <div id="customer-wizard">
    <form action="<?php echo $this->getPostActionUrl() ?>" class="form-horizontal" method="post" id="form-validate" data-tipo_pessoa_scope="">


        <!-- Dados Acessos -->
        <fieldset class="fieldset">
        <h2><?php echo $this->__('Login Information') ?></h2>
          <div class="form-group">
            <label for="email_address" class="required col-sm-4 control-label"><?php echo $this->__('Email Address') ?><em>*</em></label>
            <div class="col-sm-8">
              <input type="email" name="email" id="email_address" value="<?php echo Mage::app()->getRequest()->getParam("email") ?>" title="<?php echo $this->__('Email Address') ?>" class="form-control validate-email validate-email-exist required-entry" />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="required  col-sm-4 control-label"><em>*</em><?php echo $this->__('Password') ?></label>
            <div class="col-sm-4">
              <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="form-control required-entry validate-password" />
            </div>
          </div>
          <div class="form-group">
            <label for="confirmation" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
            <div class="col-sm-4">
              <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="form-control required-entry validate-cpassword" />
            </div>
          </div>
          <?php echo $this->getChildHtml('form.additional.info'); ?>
          <div class="hide">
            <?php echo $this->getChildHtml('persistent.remember.me'); ?>
            <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
          </div>
        </fieldset>

        <!-- Dados pessoais -->
        <fieldset  class="fieldset">
        <h2><?php echo $this->__('Dados pessoais') ?></h2>
          <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
          <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />


          <?php $_tipopessoa = $this->getLayout()->createBlock('simplecheckout/widget_tipopessoa'); ?>
          <?php if ($_tipopessoa->isEnabled()) : ?>
            <div class="form-group">
              <div class="control tipopessoa li-radio-tipo-pessoa">
                <div class="col-sm-12 text-center">
                  <input type="hidden" name="billing[tipopessoa]" id="accout-tipo-pessoa"/>
                  <label for="fisica" id="check-pessoa-fisica" class="checked">
                    <input type="radio" checked="checked" name="radio_tipopessoa" value="9" id="fisica" class="radio" title="CPF"/>
                    <?php echo $this->__('Individual person') ?>
                  </label>
                  <label for="juridica" id="check-pessoa-juridica">
                    <input type="radio" name="radio_tipopessoa" value="10" id="juridica" class="radio" title="CNPJ" />
                    <?php echo $this->__('Legal Entity') ?>
                  </label>
                </div>
              </div>
              <div class="hide">
                <?php echo $_tipopessoa->setTipopessoa($this->getFormData()->getTipopessoa())->toHtml() ?>
              </div>
            </div>
          <?php endif ?>

          <?php echo $this->getLayout()->createBlock('simplecheckout/widget_nome')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

          <div class="form-group show-pessoa-juridica">
            <label for="company" class="col-sm-4 control-label"><?php echo $this->__('Company') ?></label>
            <div class="col-md-8">
              <input type="text" name="razaosocial" id="company" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
            </div>
          </div>

          <?php $_taxvat = $this->getLayout()->createBlock('simplecheckout/widget_taxvat') ?>
          <?php if ($_taxvat->isEnabled()) : ?>
            <div class="form-group">
              <label for="taxvat" class="required show-pessoa-fisica col-sm-4 control-label"><em>*</em><?php echo __('CPF'); ?></label>
              <label for="taxvat" class="required show-pessoa-juridica col-sm-4 control-label"><em>*</em><?php echo __('CNPJ'); ?></label>
              <div class="col-sm-5">
                <?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?>
              </div>
            </div>
          <?php endif ?>

          <div class="form-group" <?php if (!Mage::getStoreConfigFlag('jn2_checkout/general/rg')) : ?> style="display: none;" <?php endif ?>>
            <label for="ie" class="show-pessoa-fisica col-sm-4 control-label"><?php echo $this->__('RG'); ?></label>
            <label for="ie" class="show-pessoa-juridica col-sm-4 control-label"><?php echo $this->__('IE (Inscrição Estadual)') ?></label>
            <div class="col-sm-5">
              <input type="text" id="ie" name="ie" title="<?php echo $this->__('IE (Inscrição Estadual)') ?>" class="form-control" value="<?php echo $this->getFormData()->getIe(); ?>" data-show-rg="<?php echo Mage::getStoreConfig('jn2_checkout/general/rg') ?>"/>
            </div>
          </div>

          <?php /* APPEND INSCRIÇÃO MUNICIPAL */ ?>
          <?php if ($this->helper('jn2_checkout/data')->isIm()) : ?>
            <div class="form-group show-pessoa-juridica">
              <label for="im" class="col-sm-4 control-label"><?php echo $this->__('IM (Inscrição Municipal)') ?></label>
              <div class="col-sm-8">
                <input type="text" id="im" name="im" title="<?php echo $this->__('IM (Inscrição Municipal)') ?>" class="form-control" value="<?php echo $this->getFormData()->getIm(); ?>" />
              </div>
            </div>
          <?php endif; ?>
          <?php /* END APPEND INSCRIÇÃO MUNICIPAL */ ?>

          <div class="form-group">
            <div id="tipopessoa-area">
              <?php $_gender = $this->getLayout()->createBlock('simplecheckout/widget_gender') ?>
              <?php if ($_gender->isEnabled()) : ?>
                <div class="li-gender">
                  <?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?>
                </div>
              <?php endif ?>
            </div>
          </div>

          <div class="form-group">
            <?php $_dob = $this->getLayout()->createBlock('simplecheckout/widget_dob') ?>
            <?php if ($_dob->isEnabled()) : ?>
              <div class="li-birthdate">
                <?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?>
              </div>
            <?php endif ?>
          </div>

          <div class="form-group">
            <label for="telephone" class="col-sm-4 control-label"><?php echo $this->__('Telephone') ?> <?php echo (Mage::getStoreConfig('jn2_checkout/general/phone')) ? '<em>*</em>' : ''; ?></label>
            <div class="col-sm-4">
              <input type="tel" name="telephone" title="<?php echo $this->__('Telephone') ?>" class="form-control <?php echo (Mage::getStoreConfig('jn2_checkout/general/phone')) ? 'required-entry' : ''; ?>" id="telephone" value="<?php echo $this->getFormData()->getTelephone(); ?>" autocomplete="off"/>
            </div>
          </div>
          <!-- <div class="col-md-6 col-xs-12">
          <label for="fax"><?php echo $this->__('Fax') ?></label>
          <div class="form-group">
          <input type="text" name="fax" title="<?php echo $this->__('Fax') ?>" class="form-control" id="fax" value="<?php echo $this->getFormData()->getFax(); ?>" autocomplete="off"/>
        </div>
      </div> -->
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
          <?php if ($this->isNewsletterEnabled()) : ?>
            <label for="is_subscribed" class="checkbox-inline">
              <input type="checkbox" style="float: left;" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($this->getFormData()->getIsSubscribed()) echo 'checked="checked"'; ?> />
              <?php echo $this->__('Sign Up for Newsletter') ?>
            </label>
          <?php endif ?>
        </div>
      </div>

    </fieldset>


    <!-- Dados Endereço -->
    <?php if ($this->getShowAddressFields()) : ?>
      <fieldset  class="fieldset">
      <h2><?php echo $this->__('Address Information') ?></h2>
        <input type="hidden" name="create_address" value="1" />

        <div class="form-group">
          <div class="li-postcode">
            <label for="postcode" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
            <div class="col-sm-3">
              <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="postcode" id="postcode" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>" />
            </div>
            <div class="col-sm-3">
                <a class="btn btn-link" id="BuscaCep" target="_blank" href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm">não sei meu cep</a>
            </div>
          </div>
        </div>

        <div class="show-after-cep">

          <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
          <div class="form-group">
            <div class="li-street1">
              <label for="street_1" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Street Address') ?></label>
              <div class="col-sm-8">
                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="form-control <?php echo $_streetValidationClass ?>" />
              </div>
            </div>
          </div>
          <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
          <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++) : ?>
            <?php
            switch ($_i) {
              case 2:
                $col = 2;
                $required = "required";
                break;
              case 3:
                $required = "";
                break;
              default:
                $col = 4;
                $required = "required";
                break;
            }
            ?>

            <div class="form-group">
              <div class="li-street<?php echo $_i; ?>">
                <label for="street_<?php echo $_i ?>" class="<?php echo $required ?> col-sm-4 control-label">
                  <?php if ($_i != 3) : ?>
                    <em>*</em>
                  <?php endif; ?>

                  <?php echo $this->__("Street Address {$_i}") ?>
                </label>
                <div class="col-md-<?php echo $col ?>">
                  <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?>" class="form-control <?php echo $_streetValidationClass ?> <?php if ($_i == 2 || $_i == 4) : ?>required-entry<?php endif; ?>" />
                  </div>
                </div>
              </div>
            <?php endfor; ?>

            <div class="form-group">
              <div class="li-city-region">
                <label for="city" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('City') ?></label>
                <div class="col-sm-4">
                  <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="region_id" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('State/Province') ?></label>
              <div class="col-sm-4">
                <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select form-control" style="display:none;">
                  <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                </select>
                <script type="text/javascript">
                //<![CDATA[
                $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                //]]>
                </script>
                <input type="hidden" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" style="display:none;" />
              </div>
            </div>

            <div class="form-group">
              <div class="li-country">
                <label for="country" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Country') ?></label>
                <div class="col-md-4">
                  <?php echo $this->getCountryHtmlSelect() ?>
                </div>
              </div>
            </div>
          </div>

          <input type="hidden" name="default_billing" value="1" />
          <input type="hidden" name="default_shipping" value="1" />
        </fieldset>
      <?php endif; ?>

    

    <div class="clearfix"></div><hr />
    <div class="row">
      <div class="col-xs-6 ">
        <a href="<?php echo $this->getUrl() ?>" class="btn-back-store" id="btn-back-store">&laquo; <?php echo $this->__('Voltar para a loja') ?></a>
      </div>
      <div class="col-xs-6 text-right">
        <button type="submit" title="<?php echo $this->__('Submit') ?>" id="btn-register" class="button btn-register">
          <span>
            <span>
              <?php echo $this->__('Salvar cadastro') ?>
            </span>
          </span>
        </button>
      </div>
    </div>

  </div>

  <?php if (Mage::helper('checkout')->isContextCheckout()) : ?>
    <input name="context" type="hidden" value="checkout" />
  <?php endif; ?>
</form>
</div>
</div>

<?php if ($this->getShowAddressFields()) : ?>
  <div class="modal fade" id="buscaCep" tabindex="-1" role="dialog" aria-labelledby="buscaCepLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="buscaCeplLabel">Encontre o cep do seu endereço</h4>
        </div>
        <form name="Geral" class="form-horizontal" target="_blank" action="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-4 control-label">Endereço ou CEP:</label>
              <div class="col-sm-8">
                <input class="form-control" maxlength="60" name="relaxation" size="50" value="">
                <p>Não utilize nº de casa/apto/lote/prédio ou abreviação</p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">CEP de:</label>
              <div class="col-sm-8">
                <select name="tipoCEP" class="form-control">
                  <option value="LOG">Localidade/Logradouro</option>
                  <option value="PRO">CEP Promocional</option>
                  <option value="CPC">Caixa Postal Comunitária</option>
                  <option value="GRU">Grande Usuário</option>
                  <option value="UOP">Unidade Operacional</option>
                  <option value="ALL" selected="">Todos</option>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn-search-cep-close" id="btn-search-cep-close" data-dismiss="modal">Fechar</button>
            <button type="Submit" class="btn-search-cep" id="btn-search-cep">Buscar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<?php endif; ?>

<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);
dataForm.submit = function (button, url) {
  if (this.validator.validate()) {
    if (button && button != 'undefined') {
      button.disabled = true;
    }
  }
}.bind(dataForm);
<?php if ($this->getShowAddressFields()) : ?>
var regionUpdater = new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');

var $country = jQuery('#country');
$country.on('change', function () {
  regionUpdater.update();
});
$country.val('BR');
$region = jQuery('#region_id');
$region.trigger('change');
$region.find('option[title="Minas Gerais"]').attr('selected', 'selected');
<?php endif; ?>

//]]>
    jQuery( document ).ready(function() {
        jQuery(".account-create").removeClass("loading");

        jQuery("#check-pessoa-juridica").removeAttr("class");
        
        jQuery("#region").removeAttr("class");

        jQuery(".show-pessoa-juridica").hide();
        jQuery(".show-pessoa-fisica").show();
    });

    jQuery(".tipopessoa").on("click", "label", function(){
      var $_tipo = jQuery(".tipopessoa").find("input:checked");
      jQuery(".tipopessoa").find(".checked").removeClass("checked");
      jQuery(this).addClass("checked");
      if ($_tipo.val() == 9) { //pessoal fisica
        jQuery(".show-pessoa-juridica").hide();
        jQuery(".show-pessoa-fisica").show();

        if (jQuery('#ie').attr('data-show-rg') == '0') {
          jQuery('#ie').closest('.form-group').hide();
        }
      } else { // pessoa juridica
        jQuery(".show-pessoa-fisica").hide();
        jQuery(".show-pessoa-juridica").show();
        jQuery('#ie').closest('.form-group').show();
      }
    });

    

</script>