<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="step a-item">
  <div id="onestepcheckout-payment-method" class="onestepcheckout-add-loader-into-this-block">
    <?php echo $this->getEnterpriseRewardHtml(); ?>
    <dl class="sp-methods" id="checkout-payment-method-load">
      <?php $methods = $this->getMethods(); ?>
      <?php $oneMethod = count($methods) <= 1; ?>
      <?php foreach ($methods as $_method): ?>
        <?php $_code = $_method->getCode(); ?>
        <dt rel="<?php echo $_code ?>">
          <?php if (!$oneMethod): ?>
            <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>"<?php if ($this->getSelectedMethodCode() == $_code): ?> checked="checked"<?php endif; ?> class="radio" />
            <?php else: ?>
              <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
              <?php $oneMethod = $_code; ?>
            <?php endif; ?>
            <label for="p_method_<?php echo $_code ?>"><?php echo $this->escapeHtml($this->getMethodTitle($_method)) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
          </dt>
          <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
            <div class="clearfix"></div>
            <dd>
              <?php echo $html; ?>
            </dd>
          <?php endif; ?>
        <?php endforeach; ?>
      </dl>
      <div class="validation-advice" style="display: none;"></div>
      <?php echo $this->getChildChildHtml('additional'); ?>
      <div class="tool-tip" id="payment-tool-tip" style="display:none;">
        <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
        <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
      </div>
      <script type="text/javascript">

      jQuery(function(){
        jQuery(document).on("click",".sp-methods dt",function(){
          jQuery("#onestepcheckout-payment-method").find(".active").removeClass("active");
          jQuery(this).addClass("active");
        })
      })

      var OSCPayment = new OnestepcheckoutPayment({
        containerSelector: "#onestepcheckout-payment-method",
        wrapContainerSelector: "#onestepcheckout-payment-method-wrapper",
        switchMethodInputsSelector: "input[name='payment[method]']",
        enterpriseRewardsSelector: 'use_reward_points',
        methodAdditionalContainerIdPrefix: "payment_form_",
        cvv: {
          tooltipSelector: "#payment-tool-tip",
          closeElSelector: "#payment-tool-tip-close",
          triggerElsSelector: ".cvv-what-is-this"
        },
        savePaymentUrl: <?php echo Zend_Json::encode($this->getSavePaymentUrl()); ?>
      });

      jQuery("input[name='payment[method]']").click(function (event){
        // event.preventDefault();
        var _code = jQuery(this).val();
        OSCPayment.switchToMethod();
        OSCPayment.switchToMethod(_code);
        OSCShipment.switchToMethod();
      });

      </script>
      <?php echo $this->getChildHtml('extra'); ?>
    </div>
  </div>
