header{

  .cart-header{
    .floating-cart{
      .cart-actions{
        button{
          &:first-child{
            color: $default-text-color;
            background-color: transparent;
            font-weight: 400;
              &:hover{
                color: $default-color-segment;
              }
          }
        }
      }
    }
  }

  .skip-links{
    .block-login-logout{
      .label-skip{
        span{
          color: $color-segment;
        }
      }
      &:after,
      &:before{
        @media screen and (min-width: $screen-md){
          content: "";
          width: 1px;
          height: 25px;
          position: absolute;
          background-color: #3e3e3e;
          top: 1.1em;
        }
      }
      &:after{
        @media screen and (min-width: $screen-md){
          right: 0;
        }
      }
      &:before{
        @media screen and (min-width: $screen-md){
          left: 0;
        }
      }
    }
  }
}
