menu {
  .mega-menu-jn2{
    .content-mega-menu{
      ul.nav{
          & > li.open{
            & > a{
              background-color: #ececec !important;
            }
          }
          & > li{            
            & > a{
              &:hover {
                background-color: #ececec !important;
              }
            }
          }
      }
    }
  }
}
