.container{
  max-width: 1200px;
}

.page{
  background-color: #f6f5f4!important;
}

.pace{
  .pace-progress {
      background: #fffc00;
  }
}


.products-grid {
  .item {
    text-align: center;
    background-color: #fff;
    .product-name {
      @media only screen and (min-width : $screen-sm) {
        text-align: center;
      }
      a{
        @media only screen and (min-width : $screen-sm) {
          font-weight: 300;
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .price-box-link {
      .price-box{
        .price-billet{
          @media only screen and (min-width : $screen-sm) {
            text-align: center;
          }
        }
      }
    }
  }
}
