<?php //LINK FAVORITOS ?>
<?php if ($this->helper('wishlist')->isAllow()) : ?>
  <div class="block-skip-links hidden-xs hidden-sm">
    <a href="<?php echo $this->getUrl('wishlist') ?>" class="link-wishlist">
      <div class="icon -wishlist">
        <img src="<?php echo $this->getSkinUrl('images/ico-coracao.png') ?>" alt="Favoritos" class="" />
      </div>
      <div class="hidden-xs hidden-sm label-skip"><?php echo Mage::helper('wishlist')->getItemCount(); ?></div>
    </a>
  </div>
<?php endif ?>

<div class="block-skip-links hidden-md hidden-lg">
  <div class="icon" id="btn-search-mobile">
    <img src="<?php echo $this->getSkinUrl('images/search.svg') ?>" alt="Buscar" class="ico-busca" />
  </div>
</div>

<?php //LOGIN LOGOUT ?>
<div class="block-skip-links hidden-xs hidden-sm block-login-logout">
  <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <a href="<?php echo $this->getUrl("customer/account") ?>" class="customer-account">
      <div class="icon">
        <?php if (Mage::getStoreConfig("custom_header/icons/login") != ""): ?>
          <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_my_account" . DS.Mage::getStoreConfig("custom_header/icons/my_account")  ?>" alt="">
        <?php else: ?>
          <picture>
            <source srcset="<?php echo $this->getSkinUrl('images/ico-login-md.png') ?>" media="(min-width: 992px)" />
              <img src="<?php echo $this->getSkinUrl('images/ico-login.png') ?>" alt="Login" />
            </picture>
          <?php endif; ?>
        </div>
        <div class="hidden-xs hidden-sm label-skip">
          <strong><?php echo $this->__('Entre'); ?></strong> <?php echo $this->__('ou'); ?></br> <?php echo $this->__('Cadastre-se'); ?>
        </div>
      </a>
    <?php else: ?>
      <div class="customer-logged">
        <div class="icon">
          <?php if (Mage::getStoreConfig("custom_header/icons/my_account") != ""): ?>
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_logout" . DS.Mage::getStoreConfig("custom_header/icons/logout")  ?>" alt="">
          <?php else: ?>
            <picture>
              <source srcset="<?php echo $this->getSkinUrl('images/ico-login-md.png') ?>" media="(min-width: 992px)" />
                <img src="<?php echo $this->getSkinUrl('images/ico-login.png') ?>" alt="Login" />
              </picture>
            </div>
          <?php endif; ?>

          <div class="hidden-xs hidden-sm label-skip logout">
            <div>acessar a <a href="<?php echo Mage::getUrl('customer/account/'); ?>"><?php echo $this->__('minha conta'); ?></a></div>
            <div class="spacer">OU</div>
            <a href="<?php echo Mage::getUrl('customer/account/logout'); ?>">
              <?php echo $this->__('Sair'); ?>
            </a>
          </div>
        </div>
      <?php endif; ?>
    </div>
