@font-face {
  font-family: 'Jn2 Icons';
  src: url('../fonts/jn2-font.eot');
  src: url('../fonts/jn2-font.otf') format('embedded-opentype'),
  url('../fonts/jn2-font.woff') format('woff'),
  url('../fonts/jn2-font.ttf') format('truetype'),
  url('../fonts/jn2-font.svg#font1') format('svg');
  font-weight: normal;
  font-style: normal;
}

.jicon{
  font: normal normal normal 14px/1 'Jn2 Icons' !important;
  text-indent: inherit;
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.user-circle:before{content: '1';}
  &.user:before{content: '2';}
  &.interprise:before{content: '3';}
  &.plus-circle:before{content: 'a';}
  &.bag:before{content: 'b';}
  &.barcode:before{content: 'c';}
  &.calc:before{content: 'd';}
  &.card:before{content: 'e';}
  &.cart:before{content: 'f';}
  &.check-circle-open:before{content: 'g';}
  &.check-circle-close:before{content: 'h';}
  &.check:before{content: 'i';}
  &.chev-down:before{content: 'j';}
  &.chev-up:before{content: 'k';}
  &.close:before{content: 'l';}
  &.discount:before{content: 'm';}
  &.edit:before{content: 'n';}
  &.envelope:before{content: 'o';}
  &.filter:before{content: 'p';}
  &.lock:before{content: 'q';}
  &.menu:before{content: 'r';}
  &.sales:before{content: 's';}
  &.search:before{content: 't';}
  &.send:before{content: 'u';}
  &.star:before{content: 'v';}
  &.truck:before{content: 'x';}
  &.user-chat:before{content: 'z';}
  &.user-check:before{content: 'w';}

}
