<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
  <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
  <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>

<div class="banner_blog">
  <?php echo (Mage::getStoreConfig("blog/blog/banner_blog") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_banner_blog" . DS.Mage::getStoreConfig("blog/blog/banner_blog") . "\"/>" : "" ?>
</div>

<div class="blog-list">
  <?php $posts->count() ?>
  <?php $_iterator = 0; ?>
  <?php foreach ($posts as $post): ?>
    <div class="item<?php if (++$_iterator == sizeof($posts)): ?> last<?php endif; ?> col-md-6">
      <div class="postWrapper">
        <div class="image_post">
          <?php if($post->getPostImage() != "Array"):?>
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post->getPostImage()?>" width="100%"/>
          <?php endif; ?>
        </div>
        <div class="postTitle">
          <h2><a href="<?php echo $post->getAddress(); ?>"><?php echo $post->getTitle(); ?></a></h2>
        </div>
        <?php echo $this->getBookmarkHtml($post) ?>
        <div class="postDetails">
          <span class="postDetails-date">
            <i class="fa fa-clock-o"></i>
            <?php $explode = explode(",", str_replace("America/Sao_Paulo", "", $post->getCreatedTime())); ?>
            <?php echo substr($explode[1], 0, strlen($explode[1])-9) ?>
          </span>
          <?php if ($this->getCommentsEnabled()): ?>
            <span class="postDetails-coment">
              <i class="fa fa-comment-o"></i>
              <a href="<?php echo $post->getAddress(); ?>#commentBox">
                <?php if ($post->getCommentCount() > 0): ?>
                  <?php echo $post->getCommentCount(); ?>
                <?php endif; ?>
                <?php if ($post->getCommentCount() < 1): ?>
                  <?php echo "0"; ?>
                <?php endif; ?>
              </a>
            </span>
          <?php endif; ?>
          <span class="tags postDetails-tags"><?php echo $this->getTagsHtml($post) ?></span>
          <?php $postCats = $post->getCats(); ?>
          <span class="postDetails-user">
            <i class="fa fa-user"></i>
            <?php if (!empty($postCats)): ?>
              <?php echo Mage::helper('blog')->__('Posted in'); ?>
              <?php foreach ($postCats as $data): ?>
                <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
              <?php endforeach; ?>
            <?php else: ?>
              <?php echo Mage::helper('blog')->__('Posted'); ?>
            <?php endif; ?>
            <?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?>
          </span>
        </div>
        <div class="postContent"><?php echo $post->getPostContent(); ?></div>
      </div>
    </div>
  <?php endforeach; ?>
</div>
<?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
