<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php /* @var $this Mage_Bundle_Block_Catalog_Product_View_Type_Bundle_Option_Select */ ?>
<?php $_option      = $this->getOption(); ?>
<?php $_selections  = $_option->getSelections(); ?>
<?php $_default     = $_option->getDefaultSelection(); ?>
<?php list($_defaultQty, $_canChangeQty) = $this->_getDefaultValues(); ?>
<?php $tierPriceHtml = ''; ?>

<div class="product-option">
  <label<?php if ($_option->getRequired()) echo ' class="required"' ?>><?php echo $this->escapeHtml($_option->getTitle()) ?></label>
  <div class="options">
    <?php if ($this->_showSingle()): ?>
      <?php echo $this->getSelectionTitlePrice($_selections[0]); ?>
      <?php if ($_selections[0]->getSelectionCanChangeQty()): ?>
        <?php $tierPriceHtml = $this->getTierPriceHtml($_selections[0]); ?>
      <?php endif; ?>
      <input type="hidden" name="bundle_option[<?php echo $_option->getId() ?>]" value="<?php echo $_selections[0]->getSelectionId() ?>"/>
    <?php else:?>
      <select onchange="bundle.changeSelection(this)" id="bundle-option-<?php echo $_option->getId() ?>" name="bundle_option[<?php echo $_option->getId() ?>]" class="bundle-option-<?php echo $_option->getId() ?><?php if ($_option->getRequired()) echo ' required-entry' ?> bundle-option-select change-container-classname form-control">
        <option value=""><?php echo $this->__('Choose a selection...') ?></option>
        <?php foreach ($_selections as $_selection): ?>
          <?php if ($_selection->getSelectionCanChangeQty() && $this->_isSelected($_selection)): ?>
            <?php $tierPriceHtml = $this->getTierPriceHtml($_selection); ?>
          <?php endif; ?>
          <option value="<?php echo $_selection->getSelectionId() ?>"<?php if ($this->_isSelected($_selection)) echo ' selected="selected"' ?><?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>><?php echo $this->getSelectionTitlePrice($_selection, false) ?></option>
        <?php endforeach; ?>
      </select>
    <?php endif; ?>
  </div>
  <span id="bundle-option-<?php echo $_option->getId() ?>-tier-prices"> <?php echo $tierPriceHtml; ?></span>
  <div class="qty-holder">
    <label for="bundle-option-<?php echo $_option->getId() ?>-qty-input"><?php echo $this->__('Quantidade') ?></label>
    <div class="qty-wrapper">
      <div class="btn-minus" data-model="bundle-option-<?php echo $_option->getId() ?>-qty-input">-</div>
      <input onkeyup="bundle.changeOptionQty(this, event)" onblur="bundle.changeOptionQty(this, event)" <?php if (!$_canChangeQty) echo ' disabled="disabled"' ?> id="bundle-option-<?php echo $_option->getId() ?>-qty-input" class="input-text qty<?php if (!$_canChangeQty) echo ' qty-disabled' ?>" type="text" name="bundle_option_qty[<?php echo $_option->getId() ?>]" value="<?php echo $_defaultQty ?>"/>
      <div class="btn-plus" data-model="bundle-option-<?php echo $_option->getId() ?>-qty-input">+</div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).on("click", ".qty-wrapper .btn-minus", function(event) {
    var element = event.target.parentElement.childElements()[1];
    if (1 == element.value)
          return !1;
      element.value = parseInt(element.value) - 1;
  });
  $(document).on("click", ".qty-wrapper .btn-plus", function(event) {
    var element = event.target.parentElement.childElements()[1];
    element.value = parseInt(element.value) + 1;
  });
</script>