<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('jn2/home/wireframes/theme2.css')?>" />
<div class="container<?php if($this->getFluid()) echo "-fluid"; ?> content-theme">
  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bloco1_100')->toHtml(); ?>
    </div>
  </div>
  <!-- FIM ROW 1 BLOCK BANNER -->

  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('pitbar')->toHtml(); ?>
    </div>
  </div>
  <!-- FIM ROW 2 BLOCK BANNER-->

<div class="row show-grid">
  <div class="col-sm-6">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bloco1_50_double')->toHtml(); ?>
  </div>
  <div class="col-sm-6">
    <div class="row show-grid">
      <div class="col-sm-12">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bloco1_50')->toHtml(); ?>
      </div>
      </div>
      <div class="row show-grid">
      <div class="col-sm-12">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bloco2_50')->toHtml(); ?>
      </div>
    </div>

  </div>
</div>

<div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bloco2_100')->toHtml(); ?>
    </div>
</div>

<div class="row show-grid">
     <?php 
        $category_id  = 4;
        $qty          = 4;
        $column       = 4;

        $layout = Mage::getSingleton('core/layout');
        $toolbar_block_name = 'home_theme_'.$category_id;
        $toolbar = $layout->createBlock('catalog/product_list_toolbar',$toolbar_block_name);
        $block = $layout->createBlock('catalog/product_list')->append($toolbar)->setToolbarBlockName($toolbar_block_name);
        $toolbar->setData('_current_limit', $qty);
        echo $block->setCategoryId($category_id)->setData('column', 12/$column)->setTemplate('jn2/home/product-list.phtml')->setColumnCount($column)->toHtml();
      ?>
</div>

</div>
