<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <a href="<?php echo $this->getUrl("customer/account") ?>"><i class="material-design-ico material-design-user157 "></i> <?php echo $this->__('Log In') ?> </a>
    <a href="<?php echo $this->getUrl("customer/account/create") ?>"><i class="material-design-ico material-design-new102"></i> <?php echo $this->__('Register') ?> </a>
<?php else: ?>
    <a href="<?php echo $this->getUrl("customer/account") ?>"><i class="material-design-ico material-design-user157"></i> <?php echo $this->__('My Account') ?> </a>
    <a href="<?php echo $this->getUrl("sales/order/history") ?>"><i class="material-design-ico material-design-shopping231"></i> <?php echo $this->__('My Orders') ?></a>
    <a href="<?php echo $this->getUrl("customer/account/logout") ?>"><i class="material-design-ico material-design-close47"></i> <?php echo $this->__('Log Out') ?> </a>
<?php endif; ?>
