<div class="authlogin" style="background: <?php echo $this->getBackground(); ?>">
    <div class="container">
        <div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-3">
            <div class="box-content" style="background: #<?php echo Mage::getStoreConfig('authlogin/general/box_color'); ?>; border: 1px solid #<?php echo Mage::getStoreConfig('authlogin/general/border_color'); ?>">
                <?php if (Mage::getStoreConfig('authlogin/general/logo')): ?>
                    <img src="<?php echo $this->getLogo(); ?>" class="img-responsive"/>
                <?php endif; ?>
                <div class="login-form">
                    <div class="message"><?php echo Mage::getStoreConfig('authlogin/general/message'); ?></div>
                    <?php echo $this->getLayout()->createBlock('customer/form_login')->setTemplate('customer/form/mini.login.phtml')->toHtml(); ?>
                    <style> .button > span > span { background: #<?php echo Mage::getStoreConfig('authlogin/general/button_color'); ?> !important } </style>
                </div>
                <?php if (Mage::getStoreConfig('authlogin/general/show_register_link')): ?>
                    <div class="create-account">N&atilde;o tem conta? <a href="<?php echo Mage::helper('customer')->getRegisterUrl(); ?>">Clique aqui</a> e cadastre-se.</div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
<?php if ($message = $this->getRegistrationMessage()): ?>
<div class="register-message">
    <em><?php echo $message; ?></em>
</div>
<?php endif; ?>
