.image_container {
    position: relative;
}
.image_container img {
    transition: all 0.3s ease;
}
.image_container .cover {
    position: relative;
}
.image_container .hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.image_container:hover .cover {
    opacity: 0;
}
.image_container:hover .hover {
    opacity: 1;
}
