<!--@subject Novo usuário registrado em {{var store.getFrontendName()}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                Novo usu&aacute;rio registrado em {{var store.getFrontendName()}}.<br />
                                Nome: {{var customer.getName()}}<br />
                                Email: {{var customer.getEmail()}}
                            </p>

                            <p>
                                Para habilitar o usu&aacute;rio, por favor acesse a <a href="{{store url="adminhtml/customer"}}">&Aacute;rea Administrativa</a> e v&aacute; para
                                Clientes &gt; Gerenciar Clientes &gt; {{var customer.getName()}} &gt; Dados de Acesso e
                                altere o valor do campo Est&aacute; ativo.
                            </p>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
