
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    border: 1px solid #888;
    margin:-4px;	/* Set this to minus the border thickness. */
    background-color:#fff;
    cursor:move;
    background-repeat: no-repeat!important;
    background-position: center center;
}

/* This is for the title text. */
.cloud-zoom-title {
    font-family:Arial, Helvetica, sans-serif;
    position:absolute !important;
    background-color:#000;
    color:#fff;
    padding:3px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:10px;
    top:0px;
}

/* This is the zoom window. */
#cloud-zoom-big {
    overflow:hidden;    
    background-color:#fff;
    background-repeat: no-repeat!important;
    background-position: center center;
}


/*Override product view config css*/
.product-view .product-img-box .product-image {
    position:relative;
    border:1px solid #ececec;
    overflow:visible!important;
}
.product-view .product-img-box .product-image a{
    display:block;
    width:inherit;
    height:inherit;
    overflow: hidden;
    text-align:center;
}
.product-view .product-img-box .product-image a img{
    margin:0 auto;
    text-align:center;
}

/* This is the loading message. */
.cloud-zoom-loading {
    font-size:0;
}

/* Force product view media*/
.product-image .mousetrap {z-index:100 !important;}





