.nav-container {
  position: relative;
  z-index: 2;
}
.sf-menu {
  background: url(../images/nav-bg.jpg) 0 0 repeat-x;
		border-radius:6px 6px 0 0;
  font-size: 13px;
  line-height: 17px;
}
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  border-right: 1px solid #333333;
  z-index: 99;
}
.sf-menu li a {
  display: block;
  color: #383737;
  text-decoration: none;
  position: relative;
  padding: 0;
}
.sf-menu > li > a {
  background:url(../images/nav_hover.gif) repeat-x 0 -2000px;
		color: #fff;
}
.sf-menu > li.first > a {
  border-radius:5px 0 0 0;
}
.sf-menu > li > a > span {
  display: block;
  font-family:'Open Sans';
		font-size:17px;
  line-height:normal;  
  cursor: pointer;
  white-space: nowrap;
  padding:19px 20px 23px 20px;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a > span {  }

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {
  color: #333333;
  background:url(../images/nav_hover.gif) repeat-x 0 0;
}

.sf-menu > li.sfHover > a span,
.sf-menu > li > a:hover span,
.sf-menu > li.active > a span {}
.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
		padding:5px 0 0 0;
  background:#303030 url(../images/bg_tile_bottom.gif) 50% 0% repeat-x;
}
.sf-menu li li {
  border-bottom: 1px solid #454545;
}
.sf-menu li li.last {  border-bottom: none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover {
  float: none;
  border-right: none;
  position: relative;
  
}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a {
  display: block;
  background: none;
  font-family:'Open Sans';
		font-size: 15px;
		font-weight:600;
  line-height: normal;
  color: #8a8a8a;
  padding: 4px 20px 7px 10px;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #fff; }

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 65px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 980px) {
    #menu-icon,
    .sf-menu-phone {  display: none !important;}
}
@media only screen and (max-width: 979px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
  #menu-icon {
    display: block;
    background: url(../images/menu-icon-bg.png) 95% 11px no-repeat #e63232;
    font-family:'Open Sans';
				font-size: 17px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
    padding: 13px 0 0 20px;
    height: 33px;
    margin: 0 -10px;
  }

  #menu-icon.active { background-position: 95% -47px;  }

  .sf-menu-phone {
    background: #2c2c2c;
    position: relative;
    padding: 13px 20px 20px;
    z-index: 2;
    margin: 0 -10px;
  }
  .sf-menu-phone li { padding: 8px 0;  position: relative; font-family:'Open Sans'; font-size: 17px;  }
  .sf-menu-phone > li {  border-bottom: 1px solid #515050; }
  .sf-menu-phone li a { display: inline-block;  color: #fff;  }
  .sf-menu-phone li a:hover { color: #B90100; }
  .sf-menu-phone li li {font-size: 14px; padding: 3px 0; }
  .sf-menu-phone li li.last { padding-bottom: 0;  }
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    background: url(../images/toogle-button2.png) center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong.opened { background-position: center 7px; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  padding: 8px 0 0 20px;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover { color: #f33535;  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #f33535;}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
   #menu-icon,
   .sf-menu-phone {margin: 0;}
}
