<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<div class="block block-account">
  <div class="block-title">
    <strong><span><?php echo $this->__('My Account'); ?></span></strong>
  </div>
  <div class="block-content">
    <ul>
      <?php $_links = $this->getLinks(); ?>
      <?php $_index = 1; ?>
      <?php $_count = count($_links); ?>

      <?php foreach ($_links as $_link): ?>
        <?php

        $menu = $_link->getName();
        $icone = '';

        switch ($menu) {
          case 'account':
            $icone = "fa fa-globe";
            break;
          case 'account_edit':
            $icone = "fa fa-user ";
            break;
          case 'address_book':
            $icone = "fa fa-map-marker ";
            break;
          case 'orders':
            $icone = "fa fa-th-list ";
            break;
          case 'billing_agreements':
            $icone = "fa fa-file-text ";
            break;
          case 'recurring_profiles':
            $icone = "fa fa-refresh ";
            break;
          case 'reviews':
            $icone = "fa fa-comments ";
            break;
          case 'tags':
            $icone = "fa fa-tags ";
            break;
          case 'OAuth Customer Tokens':
            $icone = "fa fa-key ";
            $titulo = 'Minhas Aplicações';
            break;
          case 'newsletter':
            $icone = "fa fa-newspaper-o ";
            $titulo = 'Newsletter';
            break;
          case 'downloadable_products':
            $icone = "fa fa-download ";
            break;
          case 'wishlist':
            $icone = "fa fa-heart ";
            break;
          case 'pslogin':
            $icone = "fa fa-share-alt";
            break;
          case 'jn2_orderfile':
            $icone = "fas fa-file-upload";
            break;
          case 'aw_pq2':
            $icone = "far fa-question-circle";
            break;
          case 'awaffiliate':
            $icone = "fas fa-hand-holding-usd";
            break;
        case 'invitation':
            $icone = "far fa-envelope";
            break;
        case 'reward':
            $icone = "fas fa-dollar-sign";
            break;
        case 'awrma':
            $icone = "fas fa-exchange-alt";
            break;
        case 'amgiftreg':
            $icone = "fas fa-gift";
            break;

         }
        //---------------------------------------------------------------------------------------------------------------- 
        //Essas opções estão sendo ocultadas hardcoded, se um dia se tornaram utilizáveis, precisam ser retiradas daqui
        // 1 - recurring_profiles: perfis recorrentes
        // 2 - tags: tags de produto e tags de cliente
        // 3 - transparente(cartões): tem relação com a utilização do stant buy do mundipagg que salva os cartões para 
        // utilização posterior. 
        // ----------------------------------------------------------------------------------------------------------------
        if ($menu != 'recurring_profiles' && $menu != 'tags' && $menu != 'transparente') {

          if ($menu != 'OAuth Customer Tokens' && $menu != 'newsletter'){
            $titulo = $_link->getLabel();
          }

          ?>
          <?php $_last = ($_index++ >= $_count); ?>
          <?php if ($this->isActive($_link)): ?>
            <li class="current<?php echo ($_last ? ' last' : '') ?>">
              <i class="<?php echo $icone;?>"></i>
              <span><strong><?php echo $titulo;?></strong></span>
            </li>
          <?php else: ?>
            <li<?php echo ($_last ? ' class="last"' : '') ?>>
            <a href="<?php echo $_link->getUrl() ?>">
              <i class="<?php echo $icone;?>"></i>
              <span><?php echo $titulo;?></span>
            </a>
            </li>
          <?php endif; ?>
          
        <?php 
        } 
        ?>
        
        <?php endforeach; ?>
    </ul>
  </div>
</div>
