.container{
  max-width: 1200px;
}
.divisor {
  color: #ccc;
}
.demo-notice{
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  color: red;
  padding: 10px;
  float: left;
  z-index: 99999;

  p{
    margin: 0;
  }
}
