<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<div class="form-review">
  <h3><?php echo $this->__('Write Your Own Review') ?></h3>

  <?php if ($this->getAllowWriteReviewFlag()): ?>
    <form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
      <?php echo $this->getBlockHtml('formkey'); ?>
      <?php echo $this->getChildHtml('form_fields_before')?>
      <h4><?php echo $this->__('How do you rate this product?') ?> <em class="required">*</em></h4>
      <span id="input-message-box"></span>
      <div class="form-review">
        <div class="row">
          <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
            <div class="col-xs-3">
              <div class="stars-review">
                <div class="form-group">
                  <?php foreach ($this->getRatings() as $_rating): ?>
                    <span class="label-rating"><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></span>
                    <div class="star-cb-group">
                      <?php foreach (array_reverse($_rating->getOptions()) as $_option): ?>
                        <input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" class="radio" />
                        <label for="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>"></label>
                      <?php endforeach; ?>
                    </div>
                  <?php endforeach; ?>
                </div>
              </div>
            </div>
          <?php endif; ?>
          <div class="col-xs-5">
            <div class="form-group">
              <label for="nickname_field" class="required"><?php echo $this->__('Nickname') ?></label>
              <input type="text" name="nickname" id="nickname_field" class="form-control  required-entry" value="<?php echo $this->escapeHtml($data->getNickname()) ?>" />
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="summary_field" class="required"><?php echo $this->__('Summary of Your Review') ?></label>
              <input type="text" name="title" id="summary_field" class="form-control required-entry" value="<?php echo $this->escapeHtml($data->getTitle()) ?>" />
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label for="review_field" class="required"><?php echo $this->__('Review') ?></label>
              <textarea name="detail" id="review_field" cols="5" rows="3" class="form-control required-entry"><?php echo $this->escapeHtml($data->getDetail()) ?></textarea>
            </div>
          </div>
        </div>
        <div class="buttons-set ">
          <div class="form-group">
            <button type="submit" title="<?php echo $this->__('Submit Review') ?>" class="btn-send-comment" id="btn-send-comment"><?php echo $this->__('Submit Review') ?></button>
          </div>
        </div>
      </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('review-form');
    Validation.addAllThese(
      [
        ['validate-rating', '<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Please select one of each of the ratings above')) ?>', function(v) {
          var trs = $('product-review-table').select('tr');
          var inputs;
          var error = 1;

          for( var j=0; j < trs.length; j++ ) {
            var tr = trs[j];
            if( j > 0 ) {
              inputs = tr.select('input');

              for( i in inputs ) {
                if( inputs[i].checked == true ) {
                  error = 0;
                }
              }

              if( error == 1 ) {
                return false;
              } else {
                error = 1;
              }
            }
          }
          return true;
        }]
      ]
    );
    //]]>
    </script>
  <?php else: ?>
    <p class="review-nologged" id="review-form">
      <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
    </p>
  <?php endif ?>
</div>
