<?php
/**
 * Product list toolbar
 *
 * @see Mage_Catalog_Block_Product_List_Toolbar
 */
?>
<?php if ($this->getCollection()->getSize()): ?>
    <div class="toolbar">
        <div class="pager">
            <?php echo $this->getPagerHtml() ?>
        </div>
    </div>
<?php endif ?>
