
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    margin:0;    /* Set this to minus the border thickness. */
    background-color:#fff;
    cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {
    font-family:Arial, "Roboto", sans-serif;
    background-color:#000;
    color:#fff;
    padding:3px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:10px;
    top:0px;
}

/* This is the zoom window. */
#cloud-zoom-big {
    overflow:hidden;
	background-color:#fff;
    border: 1px solid #ececec;
}

/* This is the loading message. */
.cloud-zoom-loading {
	font-size:0;
}

.product-image .mousetrap {z-index:100 !important;}
