/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */

.ibanners li.slide ul.internal-inline li.banner{
    float:left;
    min-height:100px;
    min-width:100px;
}

.ibanners.animated {
    overflow: hidden; width: 100%;
}
/*.ibanners.animated ul { height: 1%; overflow: hidden; width: 9000px;  }*/
.ibanners.animated ul li { float: left; overflow: hidden; }

.ibanners.static { overflow: hidden; width: 100%; }
/*.ibanners.static ul { overflow: hidden; width: 9000px; }*/
.ibanners.static ul li { float: left; }


.ibanners.animated .control-prev,
.ibanners.animated .control-next{
    float: left;
}
.ibanners.animated .control-next{
    float: right;
}


#ibanners-banner_top_sec ul li {
  float: left;
    width: 100%
}

#ibanners-banner_top_sec ul li .banner {
  margin: 0 23px 0 0;
  width: 32%;
}
#ibanners-banner_top_sec ul li .banner:last-child {
    margin: 0;
}

@media all and (max-width: 980px) {
    #ibanners-banner_top_sec ul li .banner {        
            margin: 0 32px 0 0;
            width: 31%;
        }
}

#ibanners-banner_top_sec-wrapper{
    margin: 15px 0 25px 0;
}

#ibanners-home_top-wrapper li.slide li.banner img{
    width: 100%;
}

#ibanners-banner_top_sec ul li .banner img {
  width: 100%;
}
