/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\000039}}
#ibanners-home_top_left-wrapper {
  height: 470px;
  width: 655px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000316}}
#ibanners-banner_top_left-wrapper li.slide {
  display: block;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

/**
banner top right
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000327}}
#ibanners-banner_top_right-wrapper {
  float: right;
  width: 367px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000333}}
#ibanners-banner_top_right-wrapper li.slide {
  display: block;
  overflow: hidden;
  height: 470px;
  width: inherit;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000340}}
#ibanners-banner_top_right-wrapper li.slide ul li.banner {
  float: left;
  height: 470px;
  margin-bottom: 32px;
  margin-right: 17px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000349}}
#ibanners-banner_top_right-wrapper li.slide img {
  width: 370px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000353}}
#ibanners-banner_top_right-wrapper li.slide {
  clear: left;
}

/*Mini banners*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000361}}
#ibanners-banner_middle-wrapper {
  clear: both;
  padding: 10px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000365}}
#ibanners-banner_middle-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000373}}
#ibanners-banner_middle ul li,
#ibanners-banner_bottom_logo ul li {
  float: left;
  margin: 0 0px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000379}}
#ibanners-banner_middle ul li .banner {
  margin: 0 32px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000382}}
#ibanners-banner_middle ul li .banner:last-child {
  margin: 0;
}

/*BANNERS MARCAS*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000391}}
#ibanners-banner_bottom_logo-wrapper {
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\0000396}}
#ibanners-banner_bottom_logo {
  padding: 15px;
}

/*no controls on these banners*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003102}}
#ibanners-banner_list-wrapper .bx-controls,
#ibanners-banner_top_right-wrapper .bx-controls,
#ibanners-banner_top_left-wrapper .bx-controls {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003107}}
.bx-controls {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003111}}
.bx-controls .bx-pager {
  left: 21px;
  position: absolute;
  top: -42px;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003118}}
.bx-controls .bx-pager .bx-pager-item {
  padding: 0 3px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003122}}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link {
  border: 3px solid #c5c5c5;
  border-radius: 50%;
  padding: 0 4px;
  background-color: #fafafa;
  color: #fafafa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003129}}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
  border: 3px solid #4a4a4a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003133}}
.bx-controls-direction {
  /*display:none;*/
  margin: -20px 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003137}}
.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003141}}
.bx-wrapper .bx-controls-direction .bx-prev {
  background: url(../images/slider_arrow.png) no-repeat 0 0;
  width: 22px;
  height: 20px;
  display: block;
  text-indent: -9999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003149}}
.bx-wrapper .bx-controls-direction .bx-next {
  background: url(../images/slider_arrow.png) no-repeat -20px 0;
  width: 22px;
  height: 20px;
  display: block;
  text-indent: -9999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/repositorio\/jn2-magento-1\.9\/skin\/frontend\/default\/handbags\/sass\/ibanners\.scss}line{font-family:\00003157}}
.bx-wrapper .bx-controls-direction a {
  position: static;
}
