$red: #F1191A;
$gray: #2C2D30;


.top-links{
  background: #222;
  padding: 5px 0px;
  display: inline-block;
  width: 100%;
  margin: 0px;

  .links{
    margin: 0px;

    li{
      display: inline-block;
      padding: 10px;
      margin: 0px;

      a{
        display: inline-block;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .form-search{
    display: inline-block;
    background: #fff;

    .input-text{
      border: 0px;
    }
    .button{
      i{
        color: $red;
        font-size: 18pt;
        padding: 10px;
      }
    }
  }

}


header{
  background: $red;
  display: inline-block;
  width: 100%;
  margin: -10px 0px 0px 0px;
  z-index: 999999999;

  &.isStuck{
    margin-top: 0px;
    top: 0px;
  }

  .logo{
    padding: 5px 0px;
    height: 84px;
    max-height: 84px;
  }

  .nav-container{
    background: $red;
    box-shadow: none;
    display: inline-block;
    width: auto !important;

    li{
      box-shadow: none;
      border-left: 1px solid #000;
      height: 84px;

      & > a{
        position: relative;

        span{
          color: #fff !important;
          font-size: 14pt;
          font-weight: bold;
          box-shadow: none;
          padding: 30px;
          height: 84px;
          line-height: 26px;
          &:hover{
            color: #000 !important;
          }
        }

        &:hover{
          span{
            color: #000 !important;
          }
        }

      }

      ul{
        margin-left: -1px;

        li{
          height: auto !important;
          display: inline-block;
          width: 100%;

          a{
            height: auto !important;
            display: inline-block;
            width: 100%;

            span{
              font-size: 10pt;
              float: left;
              padding: 5px 10px !important;
              color: #000 !important;
              width: 100%;
              height: auto !important;
              display: inline-block;
            }
          }
        }
      }

      &.active{
        a{
          span{
            color: #000 !important;
          }
        }

      }

      &.parent{
        & > a{
          padding-right: 8px;

          &::before{
            content: "\f0d7";
            position: absolute;
            top: 35px;
            right: 20px;
            width: auto !important;
            height: auto !important;
          }
        }
        &:hover{
          a::before{
            color: #000;
          }
          ul{
            top: 85px !important;
          }
        }
      }

      &.sfHover{
        & > a{
          span{
            color: #000 !important;
          }
          &::before{
            color: #000;
          }
        }
        ul{
          top: 85px !important;
        }
      }
    }

  }

  .block-cart-header{
    background: #222;
    padding: 30px;
    height: 84px;
    clear: none;

    &::before {
      content: "\f07a";
      color: $red;
      font-size: 48pt;
      float: left;
      font-family: FontAwesome;
      margin-right: -50px;
    }

    .block-content{
      .empty{
        background: transparent !important;
        margin: -5px 30px 0px 12px;
      }
      .summary, .summary strong {
        margin: -5px 30px 0px 12px;
        background: transparent !important;
      }
    }
  }
}

footer{

  .titles{
    display: inline-block;
    width: 100%;

    .footer-col{
      min-height: auto;
    }
  }
}
