<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<ol>
  <?php foreach ($this->getItems() as $_item): ?>
    <li>
      <?php if ($_item->getCount() > 0): ?>
        <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>">
          <?php echo $_item->getLabel() ?>
          <?php if ($this->shouldDisplayProductCount()): ?>
            <span class="count">(<?php echo $_item->getCount() ?>)</span>
          <?php endif; ?>
        </a>
      <?php else: ?>
        <span>
          <?php echo $_item->getLabel(); ?>
          <?php if ($this->shouldDisplayProductCount()): ?>
            <span class="count">(<?php echo $_item->getCount() ?>)</span>
          <?php endif; ?>
        </span>
      <?php endif; ?>
    </li>
  <?php endforeach ?>
</ol>
