<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php
$_filters = $this->getActiveFilters();
$_renderers = $this->getParentBlock()->getChild('state_renderers');
?>
<?php if(!empty($_filters)): ?>
  <div class="currently">
    <ol>
      <?php foreach ($_filters as $_filter): ?>
        <?php
        $_rendered = false;
        foreach ($_renderers as $_rendererName):
          $_renderer = $this->getParentBlock()->getChild('state_renderers')->getChild($_rendererName);
          if (method_exists($_renderer, 'shouldRender') && $_renderer->shouldRender($_filter)):
            $_renderer->setFilter($_filter);
            echo $_renderer->toHtml();
            $_rendered = true;
            break;
          endif;
        endforeach;

        if (!$_rendered):
          ?>
          <li>
            <span class="label"><?php echo $this->__($_filter->getName()) ?>:</span> <span class="value"><?php echo $this->stripTags($_filter->getLabel()) ?></span>
            <?php
            $clearLinkUrl = $_filter->getClearLinkUrl();
            if ($clearLinkUrl):
              ?>
              <a  class="btn-previous" href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Previous')) ?>"><?php echo $this->__('Previous') ?></a>
              <a  class="btn-remove" title="<?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>" href="<?php echo $clearLinkUrl ?>"><?php echo $this->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></a>
            <?php else: ?>
              <a  class="btn-remove" href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remove This Item')) ?>"><?php echo $this->__('&times') ?></a>
            <?php endif; ?>
          </li>
        <?php endif; ?>
      <?php endforeach; ?>
    </ol>
  </div>
<?php endif; ?>
