<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php if($this->canShowBlock()): ?>
  <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
    <div class="block-title">
      <?php echo $this->__('Filtros') ?>
    </div>
    <div class="block-content toggle-content">
      <?php echo $this->getStateHtml() ?>
      <?php if ($this->getLayer()->getState()->getFilters()): ?>
        <div class="actions"><a class="button-default-simple" href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
      <?php endif; ?>
      <?php if($this->canShowOptions()): ?>
        
        <dl id="narrow-by-list">
          <?php $_filters = $this->getFilters() ?>
          <?php foreach ($_filters as $_filter): ?>
            <?php if($_filter->getItemsCount()): ?>
              <dt><?php echo $this->__($_filter->getName()) ?></dt>
              <dd><?php echo $_filter->getHtml() ?></dd>
            <?php endif; ?>
          <?php endforeach; ?>
        </dl>
        <script type="text/javascript">decorateDataList('narrow-by-list')</script>
      <?php endif; ?>
    </div>
    
  </div>
<?php endif; ?>
