<div class="page-title">
  <h1><i class="fa fa-user f-2" aria-hidden="true"></i> <?php echo $this->__('Edit Account Information') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
  <div class="box-form-edit-account col-sm-8">
<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" class="form-horizontal">
  <?php echo $this->getBlockHtml('formkey') ?>

    <div class="fieldset">
      <?php
      $attribute = Mage::getModel('eav/config')->getAttribute('customer', 'tipopessoa');
      $_tipopessoaLabel = $attribute->getSource()->getOptionText($this->getCustomer()->getTipopessoa());
      ?>
      <?php $_tipopessoa = $this->getLayout()->createBlock('simplecheckout/widget_tipopessoa') ?>
      <?php if ($_tipopessoa->isEnabled()): ?>
        <div class="hide">
          <?php echo $_tipopessoa->setTipopessoa($this->getCustomer()->getTipopessoa())->setFieldParams('disabled')->toHtml() ?>
        </div>
      <?php endif ?>
      <?php echo $this->getLayout()->createBlock('simplecheckout/widget_nome')->setObject($this->getCustomer())->toHtml() ?>

      <div class="form-group">
        <label for="email" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Email Address') ?></label>
        <div class="col-sm-8">
          <input type="text" name="email" id="email" readonly value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="form-control required-entry validate-email" />
        </div>
      </div>
        <div class="form-group">
            <label for="current_password"
                   class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Current Password') ?>
            </label>
            <div class="col-sm-8">
                <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                <input type="text" class="input-text no-display" name="dummy" id="dummy"/>
                <input type="password" title="<?php echo $this->__('Current Password') ?>"
                       class="input-text form-control" name="current_password" id="current_password"/> 
                <span><?php echo $this->__("Para alterar os dados é necessário digitar a senha atual por segurança") ?></span>
            </div>
        </div>

      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
          <div class="control">
            <label for="change_password" class="checkbox-inline">
              <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo $this->__('Change Password') ?>"<?php if ($this->getCustomer()->getChangePassword() == 1): ?> checked="checked"<?php endif; ?> class="checkbox" />
                <?php echo $this->__('Change Password') ?>
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <div class="fieldset" style="display:none;">
        <div class="form-list">
          <div class="form-group">
            <label for="password" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('New Password') ?></label>
            <div class="col-sm-8">
              <input type="password" title="<?php echo $this->__('New Password') ?>" class="input-text validate-password form-control" name="password" id="password" />
            </div>
          </div>

          <div class="form-group">
            <label for="confirmation" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>
            <div class="col-sm-8">
              <input type="password" title="<?php echo $this->__('Confirm New Password') ?>" class="input-text validate-cpassword form-control" name="confirmation" id="confirmation" />
            </div>
          </div>
        </div>
      </div>


      <?php if (empty($this->getCustomer()->getTaxvat())): ?>
        <div class="fieldset">
          <h2 class="legend"><?php echo $this->__('Personal Information') ?></h2>
          <div class="form-list">
            <?php $_taxvat = $this->getLayout()->createBlock('simplecheckout/widget_taxvat') ?>
            <?php if ($_taxvat->isEnabled()): ?>
              <div><?php echo $_taxvat->setTaxvat($this->getCustomer()->getTaxvat())->toHtml() ?></div>
            <?php endif ?>
          </div>
        </div>
      <?php endif ?>

      <?php $_dob = $this->getLayout()->createBlock('simplecheckout/widget_dob') ?>
      <?php $_gender = $this->getLayout()->createBlock('simplecheckout/widget_gender') ?>
      <?php if($_dob->isEnabled() || $_gender->isEnabled()):?>
        <div class="fieldset">
          <h2 class="legend"><?php echo $this->__('Personal Information') ?></h2>
          <div class="form-list">
            <div>
              <div id="tipopessoa-area"  style="overflow: hidden;display:block;">

                <?php if ($_dob->isEnabled()): ?>
                  <div><?php echo $_dob->setDate($this->getCustomer()->getDob())->toHtml() ?></div>
                <?php endif ?>
                <?php if ($_gender->isEnabled()): ?>
                  <div><?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?></div>
                <?php endif ?>
              </div>
            </div>
          </div>
        </div>
      <?php endif; //if($dob->isEnabled() || $_gender->isEnabled(); ?>
      <div class="buttons-set">

        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Save') ?>" id="btn-save" class="button">
          <?php echo $this->__('Save') ?>
        </button>
      </div>
  </form>
    </div>
  <script type="text/javascript">
  //<![CDATA[
  var dataForm = new VarienForm('form-validate', true);
  dataForm.submit = function (button, url) {
    if (this.validator.validate()) {
      if (button && button != 'undefined') {
        button.disabled = true;
      }
    }
  }.bind(dataForm);
  setTipopessoaArea('<?php echo $_tipopessoaLabel ?>');
  function setTipopessoaArea(arg) {
    if (arg == 'Jurídica') {
      if ($('taxvat')) {
        $('taxvat').maxLength = 18;
        $('ie').maxLength = 30;
        $$('label[for="ie"]').first().update('<em>*</em>IE (Inscrição Estadual)');
        $$('label[for="taxvat"]').first().update('<em>*</em>CNPJ');
        $$('label[for="firstname"]').first().update('<em>*</em>Razão social');
        $$('label[for="lastname"]').first().update('<em>*</em>N. Fantasia');
        $$('input[name="taxvat"]').first().writeAttribute('title', 'CNPJ');
        $$('input[name="ie"]').first().writeAttribute('title', 'IE (Inscrição Estadual)');
        $$('input[name="firstname"]').first().writeAttribute('title', 'Razão social');
        $$('input[name="lastname"]').first().writeAttribute('title', 'N. Fantasia');
        $('tipopessoa-area').hide();
        $('tipojuridica-area').show();
      }
    } else {
      if ($('taxvat')) {
        $('taxvat').maxLength = 14;
        $('ie').maxLength = 30;
        $$('label[for="taxvat"]').first().update('<em>*</em>CPF');
        $$('label[for="ie"]').first().update('<em>*</em>RG');
        $$('label[for="firstname"]').first().update('<em>*</em>Nome');
        $$('label[for="lastname"]').first().update('<em>*</em>Sobrenome');
        $$('input[name="taxvat"]').first().writeAttribute('title', 'CPF');
        $$('input[name="ie"]').first().writeAttribute('title', 'RG');
        $$('input[name="firstname"]').first().writeAttribute('title', 'Nome');
        $$('input[name="lastname"]').first().writeAttribute('title', 'Sobrenome');
        $('tipopessoa-area').show();
        $('tipojuridica-area').hide();
      }
    }
  }
  function setPasswordForm(arg) {
    if (arg) {
      $('password').up(3).show();
      $('password').addClassName('required-entry');
      $('password').addClassName('required-entry');
      $('confirmation').addClassName('required-entry');

    } else {
      $('password').up(3).hide();
      $('password').removeClassName('required-entry');
      $('password').removeClassName('required-entry');
      $('confirmation').removeClassName('required-entry');
    }
  }
  jQuery('taxvat').addClass('validate-taxvat');

  <?php if ($this->getCustomer()->getChangePassword()): ?>
  setPasswordForm(true);
  <?php endif; ?>
  //]]>
  </script>
