<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php $_helper = Mage::helper('catalog/category') ?>
<ul class="subcategory level3">
  <?php foreach ($this->getSubCategories() as $category): ?>
    <li><a href="<?php echo $_helper->getCategoryUrl($category) ?>" class="subcategory-title"><?php echo $category->getName() ?></a></li>
  <?php endforeach ?>
</ul>
