<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>



<div class="account-login<?php if (!$this->helper('customer')->isRegistrationAllowed()) echo ' login-only' ?>">

  <div class="col-md-10 col-md-offset-1">
    <div class="row">

      <?php echo $this->getChildHtml('pslogin_buttons'); ?>


      <div class="col-sm-6 col-md-6 <?php if (!$this->helper('customer')->isRegistrationAllowed()): ?> col-md-offset-4 <?php endif; ?>    ">
        <div class="login frame">
          <h2 class="frame-title"><?php echo $this->__("Already registered") ?></h2>

          <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form" class="scaffold-form">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <div class="form-group">
              <label for="email" class="required"><?php echo $this->__('Type your e-mail') ?></label>
              <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="form-control required-entry validate-email" title="<?php echo $this->quoteEscape($this->__('Email Address')) ?>" />
            </div>
            <div class="form-group">
              <label for="pass" class="required"><?php echo $this->__('Type your password') ?></label>
              <input type="password" name="login[password]" class="form-control required-entry validate-password" id="pass" title="<?php echo $this->quoteEscape($this->__('Password')) ?>" />
            </div>
            <div class="form-group">
              <?php //echo $this->getChildHtml('form.additional.info'); ?>
            </div>
            <div class="form-group">
              <div class="pull-left">
                <?php echo $this->getChildHtml('persistent.remember.me'); ?>
              </div>
              <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="forgot-pass"><?php echo $this->__('Forgot Your Password?') ?></a>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <button type="submit" class="btn-login" id="btn-login" title="<?php echo $this->quoteEscape($this->__('Entrar')) ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
            </div>
            <div class="form-group">
              <?php echo $this->getMessagesBlock()->toHtml() ?>
            </div>
            <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
              <input name="context" type="hidden" value="checkout" />
            <?php endif; ?>
          </form>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="register frame">
          <h2 class="frame-title"><?php echo $this->__("New client") ?></h2>
          <div class="form-group">
            <label for="email" class="required"><?php echo $this->__('Type your e-mail') ?></label>
            <input type="email" id="email-register" class="form-control required-entry validate-email" title="<?php echo $this->quoteEscape($this->__('Email Address')) ?>" />
          </div>
          <div class="form-group">
            <button title="<?php echo $this->quoteEscape($this->__('Create an Account')) ?>" id="btn-register" class="btn-register"><?php echo $this->__('Continue') ?></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
//<![CDATA[
var url = "<?php echo Mage::helper('persistent')->getCreateAccountUrl($this->getCreateAccountUrl()) ?>";
var dataForm = new VarienForm('login-form', true);

jQuery(document).ready(function(){
  jQuery("#btn-register").click(function(){
    var $_email = jQuery("#email-register").val();
    if($_email == ""){
      alert("<?php echo $this->__("Por favor, informe seu e-mail para continuar.") ?>")
      return false;
    }else{
      window.location.href = url+"?email="+encodeURIComponent($_email)
    }
  });
})
//]]>
</script>
