<?php
$_code = $this->getMethodCode();
$baseUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);
$idUnico = rand(0, 1000000) . rand(0, 1000000);
Mage::getSingleton('core/session')->setSecureCode($idUnico);
?>


<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none; width: 80%;">

<li>
   <img src="<?php echo $baseUrl; ?>frontend/base/default/sub/images/payment_types/boleto.png">
</li>
  

</ul>