<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<div class="fb-page"
     data-href="<?php echo $this->getPageUrl() ?>"
     data-small-header="<?php echo $this->getUseSmallHeader() ?>"
     data-adapt-container-width="<?php echo $this->getAdaptToContainerWidth() ?>"
     data-hide-cover="<?php echo $this->getHideCoverPhoto()?>"
     data-show-facepile="<?php echo $this->getShowFriendsFace()?>"
     data-show-posts="<?php echo $this->getShowPagePosts() ?>"
     data-width="<?php echo $this->getWidth() ?>"
     data-height="<?php echo $this->getHeight() ?>">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite="<?php echo $this->getPageUrl() ?>">
          <a href="<?php echo $this->getPageUrl() ?>"><?php echo $this->getShowPagePosts() ?>
          </a>
        </blockquote>
      </div>
</div>


