<?php
/**
* JN2
*/
?>


<header class="theme4">

  <div class="bar hidden-xs hidden-sm">
      <div class="container">
      <div class="content-block col-md-3 text-left">
          <?php echo Mage::helper("header")->getBlock(1) ?>
      </div>

      <div class="col-md-7">
        <?php echo $this->getChildHtml('customer_form_mini_login_header'); ?>
      </div>

      <div class="content-nav col-md-2 text-right offset-0">




        <div class="col-md-9">
          <div class="link-account">
          <i class="material-icons">account_circle</i>
          <div class="content-account">

              <?php echo $this->getChildHtml('customer_header');?>

            </div>
        </div>

        </div>

        <div class="col-md-3 offset-0">
<div class="link-cart">
          <i class="material-icons">shopping_cart</i>
          <?php echo $this->getChildHtml('cart_header') ?>
</div>

        </div>

    </div>

    </div>
  </div>

  <div class="container">

    <div class="col-md-3 col-xs-4 col-sm-4">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
        <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive center-block" />
      </a>
    </div>

    <div class="col-md-8 pull-right offset-0  block-search">
      <?php echo $this->getChildHtml('topSearch') ?>
    </div>



      <?php echo $this->getChildHtml('navMobile') ?>


  </div>
</header>

<menu>
  <div class="row">
    <div class="">
      <?php echo $this->getChildHtml('topMenu') ?>
    </div>
  </div>
</menu>




    <?php if($this->getChildHtml('pitbar')):?>
      <?php echo Mage::helper("header")->getBlock(3) ?>
    <?php endif;?>
