<?php
/**
* JN2

*/
?>
<header class="theme1">
  <div class="container">
    <div class="col-md-3 col-xs-4 col-sm-4 text-center">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive" /></a>
    </div>
    <div class="col-md-5 col-xs-2 col-sm-2   text-left">

        <div class="block-position-1">
          <?php echo Mage::helper("header")->getBlock(1) ?>
        </div>

      <!--<div class="clearfix"></div>-->
      <?php echo $this->getChildHtml('topSearch') ?>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm text-right">
      <div class="customer-links">
        <?php echo $this->getChildHtml('customer_header');?>
      </div>

      <?php echo $this->getChildHtml('cart_header') ?>
    </div>
    
      <?php echo $this->getChildHtml('navMobile') ?>
      
  </div>
</header>

<menu>
  <div class="row">
    <div class="">
      <?php echo $this->getChildHtml('topMenu') ?>
    </div>
  </div>
</menu>



    
    <?php if($this->getChildHtml('pitbar')):?>
      <?php echo Mage::helper("header")->getBlock(3) ?>
    <?php endif;?>
