<?php
/**
* JN2
*/
?>
<header class="theme2">


  <div class="bar hidden-xs hidden-sm">
      <div class="container">
      
<div class="col-md-5 text-left">
        <div class="block-position-1">
          <?php echo Mage::helper("header")->getBlock(1) ?>
        </div>
        <div class="block-position-2">
          <?php echo Mage::helper("header")->getBlock(2) ?>
        </div>
      </div>

    <div class="col-md-7 text-right offset-0">
        <div class="col-md-2">
          <?php echo $this->getChildHtml('store_language') ?>
        </div>
        <div class="customer-links col-md-7">
          <?php echo $this->getChildHtml('customer_header');?>
        </div>
        <div class="col-md-3 offset-0">
            <?php echo $this->getChildHtml('cart_header') ?>
        </div>

      </div>
          
    </div>
  </div>

  <div class="container">

    <div class="col-md-4 col-xs-4 col-sm-4 text-center">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive" /></a>
    </div>
    <div class="col-md-8">
      <?php echo $this->getChildHtml('topSearch') ?>
    </div>

      <?php echo $this->getChildHtml('navMobile') ?>


  </div>
</header>

<menu>
  <div class="row">
    <div class="">
      <?php echo $this->getChildHtml('topMenu') ?>
    </div>
  </div>
</menu>




    <?php if($this->getChildHtml('pitbar')):?>
      <?php echo Mage::helper("header")->getBlock(3) ?>
    <?php endif;?>
