<?php
/**
* JN2

*/
?>
<header class="theme5">

    <div class="bar hidden-xs hidden-sm  text-right">
        <div class="container">
            <?php echo Mage::helper("header")->getBlock(1) ?>
        </div>
    </div>

	<div class="container">
		<div class="col-md-2 col-xs-4 col-sm-4">
			<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive" /></a>
		</div>
		<div class="col-md-6 hidden-xs hidden-sm text-left">
			<?php echo $this->getChildHtml('topMenu') ?>
		</div>
		<div class="col-md-4 col-xs-2 col-sm-2  text-right">
			<ul class="top-menu-links">
				<li><?php echo $this->getChildHtml('topSearch') ?></li>
				<li class="hidden-xs hidden-sm"><i id="btn-user-actions" class="jicon user-circle"></i><?php echo $this->getChildHtml('topLinks') ?></li>
				<li class="hidden-xs hidden-sm"><?php echo $this->getChildHtml('cart_header') ?></li>
			</ul>
		</div>
		
        <?php echo $this->getChildHtml('navMobile') ?>
        
	</div>
</header>



<?php if($this->getChildHtml('pitbar')):?>
	<?php echo Mage::helper("header")->getBlock(3) ?>
<?php endif;?>
