<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.3.17
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $posts = $this->getPosts(); ?>
<?php if (count( $posts )): ?>
    <div class="toolbar-before">
        <?php echo $this->getChildHtml( 'aw_blog_comments_toolbar' ); ?>
    </div>
    <?php $classe = 'sem-img'; ?>
    <div class="postsBlog-wrapper">
        <?php foreach ($posts as $post): ?>
            <div class="postBlog blogLoop">
                <?php
                $imagemPostCompleta = Mage::getBaseUrl( Mage_Core_Model_Store::URL_TYPE_MEDIA ) . $post->getPostImage();
                $imagemPost = $post->getPostImage();
                //var_dump($imagemPost);
                //die();
                $file_headers = @get_headers( $imagemPostCompleta );
                ?>
                <?php if (!empty( $imagemPost ) && strpos( $file_headers[0], '404' ) === false): ?>
                    <?php $classe = 'com-img'; ?>
                    <div class="postImg">
                        <a href="<?php echo $post->getAddress(); ?>">
                            <img src="<?php echo $imagemPostCompleta; ?>" alt="featuredImage"/>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="postContentFull <?php echo $classe; ?>">
                    <div class="postTitle">
                        <h2><a href="<?php echo $post->getAddress(); ?>"><?php echo $post->getTitle(); ?></a></h2>
                        <h3><?php echo $post->getCreatedTime(); ?></h3>
                    </div>
                    <div class="postContent"><?php echo $post->getPostContent(); ?></div>
                    <?php echo $this->getBookmarkHtml( $post ) ?>
                    <div class="tags"><?php echo Mage::getBlockSingleton( 'blog/blog' )->getTagsHtml( $post ) ?></div>
                    <?php /*
                <div class="postDetails">
                    <?php if ($this->getCommentsEnabled()): ?>
                        <?php echo $post->getCommentCount(); ?> <a href="<?php echo $post->getAddress(); ?>#commentBox" ><?php echo Mage::helper('blog')->__('Comments'); ?></a> |
                    <?php endif; ?>
                    <?php $postCats = $post->getCats(); ?>
                    <?php if (!empty($postCats)): ?>
                        <?php echo Mage::helper('blog')->__('Posted in'); ?>
                        <?php foreach ($postCats as $data): ?>
                                <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <?php echo Mage::helper('blog')->__('Posted'); ?>
                    <?php endif; ?><?php echo$this->__("By"); ?> <?php echo $post->getUser(); ?>
                </div>
                */ ?>

                </div>

            </div>
        <?php endforeach; ?>
    </div>
    <div class="toolbar-after">
        <?php echo $this->getChildHtml( 'aw_blog_comments_toolbar' ); ?>
    </div>
<?php else: ?>
    <?php echo Mage::helper( 'blog' )->__( 'No Posts in this Category.' ); ?>
<?php endif; ?>