.container {
  max-width: 1200px;
}

.home-banners {
  .tree-columns {
    .col-sm-4 {
      img {
        width: 100%;
      }
    }
  }
}

footer {
  .footer-3 {
    .newsletter {
      .newsletter-form {
        .btn {
          &:hover {
            background-color: #4e4e4e;
          }
        }
      }
    }
  }
}

.products-grid {
  .item {
    text-align: center;
    .product-name {
      @media only screen and (min-width: $screen-sm) {
        text-align: center;
      }
      a {
        @media only screen and (min-width: $screen-sm) {
          font-weight: 300;
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .price-box-link {
      .price-box {
        .price-billet {
          @media only screen and (min-width: $screen-sm) {
            text-align: center;
          }
        }
      }
    }
  }
}

.searchautocomplete {
  .nav-search-in {
    .nav-down-arrow {
      border-color: #000 transparent transparent transparent;
    }
  }
}

menu .mega-menu-jn2 .content-mega-menu ul.nav > li > a {
  font-family: inherit;
}

div#logo-mercadopago img, .mercadopago-boleto-link {
  display: inline-block;
}

a#btn-boleto-mercadopago {
  background: #499603bd;
  color: #FFF;
  padding: 15px;
  margin-left: 20px;
  font-weight: bold;
}

.mercadopago-details {
  color: #6e6e6e;
  font-size: 18px;
}

.mercadopago-buttons {
  margin-bottom: 20px;
}