/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.top-bar {
    padding: 1em 0;
    font-family: 'Arial';
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 700;
    width: 100%;
    float: left;
    background: $header-topbar-background;
    p {
        padding: 0;
        margin: 0;
        color: $header-topbar-color;
    }
}

header {
    background: var(--header-bg-color);
    padding: 0;
    position: relative;
    z-index: 700;
    width: 100%;
    float: left;
    @media screen and (min-width: $screen-md) {
        background-color: var(--header-bg-color);
        border-top: 1px solid $header-search-content-border-color;
        border-bottom: 1px solid $header-search-content-border-color;
        @include box-shadow(0px -1px 4px 0px rgba(222, 222, 222, .5));
    }
    &.simple {
        border-bottom: 1px solid $header-simple-border-color;
        @media screen and (min-width: $screen-md) {
            padding-left: 0;
            padding: 10px 0 0; 
        }
        .logo-content {
            display: flex;
            justify-content: center;
            @media screen and (min-width: $screen-md) {
                text-align: left;
            }
            .link-logo {
                display: inline-block;
            }
        }
        .quick-access {
            padding-top: 2em;
            float: right;
            ul {
                li {
                    display: inline;
                    padding-left: 21px;
                }
            }
        }
    }
    @media screen and (min-width: $screen-md) {
        border-bottom: 0;
    }
    .logo-content {
        text-align: center;
        @media screen and (min-width: $screen-md) {
            text-align: left;
        }
        .link-logo {
            float: left;
        }
        .img-logo {
            display: inline-block;
            @media screen and (max-width: $screen-md) {
                max-height: 40px;
                width: auto;
                img {
                    max-height: 40px;
                    width: auto;
                }
            }
        }
    }
    .skip-links {
        padding-top: 5px;
        padding-left: 0;
        text-align: right;
        display: flex;
        align-items: center;
        @media screen and (min-width: $screen-md) {
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
        }
        .block-skip-links {
            text-align: left;
            position: relative;
            display: inline-block;
            //float: left;
            @media screen and (min-width: $screen-md) {
                text-align: right;
                //width: 38%;
                display: inline-block;
                border-right: 1px solid $header-block-skip-links-border-color;
                border-left: 1px solid $header-block-skip-links-border-color;
                min-height: 30px;
                padding: 0 8px;
            }
            &:nth-child(1) {
                //width: 40%;
                @media screen and (min-width: $screen-md) {
                    //width: 13%;
                }
                .icon {
                    @media screen and (min-width: $screen-md) {
                        margin: 9px 0 0 0px;
                    }
                }
                .label-skip {
                    @media screen and (min-width: $screen-md) {
                        text-align: left;
                        padding: 3px 0 0 0px;
                        color: #002C77;
                    }
                }
            }
            &:nth-child(3) {
                //width: 42%;
            }
            &:first-child {
                @media screen and (min-width: $screen-md) {
                    border: 0;
                }
            }
            &:last-child {
                @media screen and (min-width: $screen-md) {
                    border: 0;
                    margin: 0;
                    width: auto;
                }
            }
            .icon {
                display: inline-block;
                @media screen and (min-width: $screen-md) {
                    //width: 33%;
                    float: left;
                    margin: 5px 0 0 0;
                }
                img {
                    display: inline-block;
                }
                .ico-busca {
                    width: 25px;
                    margin-right: 10px;
                }
            }
            .label-skip {
                margin-top: 13px;
                text-align: left;
                @media screen and (min-width: $screen-md) {
                    //width: 60%;
                    float: left;
                    font-size: 13px;
                    padding: 0 5px;
                }
                strong {
                    font-family: $primary-desktop-font;
                    font-style: italic;
                }
                &.logout {
                    margin-top: .5em;
                }
            }
            .customer-logged {
                .spacer {
                    padding: 0 2px;
                    display: inline-block;
                    font-size: 11px;
                }
                a {
                    font-weight: bold;
                    font-size: 12px;
                    display: inline-block;
                }
            }
            .number-itens-cart {
                position: absolute;
                top: 2px;
                right: -7px;
                font-size: 14px;
                background: $header-mobile-cart-itens-cout-background;
                border-radius: 100%;
                padding: .2em .4em;
                color: #fff;
                @media screen and (min-width: $screen-md) {
                    position: absolute;
                    top: 14px;
                    right: -7px;
                    font-size: 14px;
                    background: $header-mobile-cart-itens-cout-background;
                    border-radius: 100%;
                    padding: .2em .4em;
                    color: #fff;
                    left: inherit;
                }
            }
        }
    }
    .cart-header {
        width: 100%;
        float: left;
        position: relative;
        padding: 10px 0;
        margin: -10px 0;
        .label-skip {
            @media screen and (min-width: $screen-md) {
                margin-top: 13px;
            }
        }
        @media screen and (min-width: $screen-md) {
            &:hover {
                .floating-cart {
                    display: block;
                }
            }
        }
        .floating-cart {
            display: none;
            position: absolute;
            background: #fff;
            @include box-shadow(0 0 30px -5px rgba(0, 0, 0, 0.5));
            width: 400px;
            right: -5px;
            top: 53px;
            z-index: 99999999999;
            h3 {
                color: #000;
                text-align: center;
            }
            .cart-itens {
                width: 100%;
                padding: 10px 0px;
                display: inline-block;
                .item {
                    display: inline-block;
                    width: 100%;
                    a {
                        display: inline-block;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 9pt;
                        padding: 0;
                        font-weight: 500;
                        img {
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .options {
                        display: inline-block;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        li {
                            font-size: 7pt;
                            text-transform: uppercase;
                        }
                    }
                    .price {
                        display: inline-block;
                        width: 100%;
                        font-size: 10pt;
                        font-weight: 500;
                    }
                    .item-remove {
                        font-family: $secund-desktop-font;
                        color: $secundary-text-color;
                        border-radius: 50%;
                        border: 1px solid $secundary-text-color;
                        font-weight: bold;
                        text-align: right;
                        padding: 5px;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        line-height: 14px;
                        font-size: 12px;
                        text-align: center;
                        text-decoration: none;
                        &:hover {
                            background: $secundary-text-color;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            .cart-actions {
                width: 100%;
                display: inline-block;
                border-top: 1px solid $header-cart-actions-border-color;
                text-align: center;
                padding: 10px 0;
                button {
                    @extend .button-default;
                    &:first-child {
                        margin-right: 10px;
                        color: $default-text-color;
                        background-color: transparent;
                        font-weight: 400;
                        &:hover {
                            color: $default-color-segment;
                        }
                    }
                }
            }
        }
    }
    .search-content {
        margin-top: .5em;
        display: none;
        .cms-index-index & {
            display: block;
            @media screen and (max-width: $screen-sm) {
                display: none;
            }
        }
        @media screen and (min-width: $screen-md) {
            margin-top: 10px;
            margin-bottom: 5px;
            display: block;
        }
    }
}


/**
Busca
*/

#search_mini_form {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    background: $header-search-content-background;
    padding: 3px;
    .form-search {
        input {
            border: 0;
            width: 100%;
            background: transparent;
            color: $header-form-search-input-color;
            padding: .5em .5em;
            border-radius: 3px;
            width: calc(100% - 80px);
            @media screen and (min-width: $screen-md) {
                border-radius: 0;
                background-color: transparent;
                padding: 10px 15px;
            }
            &:focus {
                outline: none;
            }
        }
        .button {
            @extend .clear-btn;
            border-radius: 25px;
            background-color: #000;
            width: 72px;
            color: #fff;
            margin: 2px;
            text-align: center;
            display: inline-block;
            @media screen and (min-width: $screen-md) {
                border-radius: 50%;
                background-color: #000;
                width: 30px;
                height: 30px;
                margin: 5px;
                text-align: center;
                display: inline-block;
                line-height: 30px;
                float: right;
                padding: 0;
            }
            i {
                color: #000;
                @media screen and (min-width: $screen-md) {
                    color: #fff;
                    font-size: 16px;
                    display: inline-block;
                }
            }
        }
    }
}