/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.cms-index-index{

  .home-3,
  .home-4,
  .home-5,
  .home-6,
  .home-7,
  .home-8,
  .home-9,
  .home-10,
  .home-11{
    margin: 30px 0;
  }

  // Banner principal
  .home-1{
    .owl-nav {
      margin-top: -40px;
      top: 50%;
      text-align: center;
      position: absolute;
      width: 100%;
      display: none;

      @media only screen and (min-width : $screen-md) {
        margin-top: -20px;
        display: block;
      }

      .owl-prev, .owl-next{
        position: absolute;
        color: #FFF;
        display: inline-block;
        zoom: 1;
        margin: 5px;
        padding: 0;
        font-size: 12px;
        border-radius: 50%;
        background: transparent;
        background: #000;
        filter: invert(1);
        width: 62px;
        height: 62px;
        @include transition(all 0.3 ease);

        &:hover{
          filter: invert(0);
          @include transition(all 0.3 ease);
        }

        img{
          display: table;
          margin: auto;
          margin-top: 10px;
          @include transform(scale(0.6));
        }
      }
      .owl-prev{
        left: 24px;

        img{
          @include transform(translateX(-3px));
        }
      }
      .owl-next{
        right: 24px;
        img{
          @include transform(translateX(3px));
        }
      }
    }
    .owl-dots{
      margin-top: 15px;
      text-align: center;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: none;
      }

      .owl-dot{
        background: #e5e5e5;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;

        &.active{
          background: #ff0000;
        }
      }
    }
  }

  // Pitbar
  .home-2{
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;

    .flex-grid{
      display: inline-block;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .column{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 20px 34px;
        float: left;

        @media only screen and (min-width : $screen-xs) {
          width: 50%;
          max-width: 49%;
          padding: 20px 34px;
          min-height: 80px;
        }
        @media only screen and (min-width : $screen-md) {
          width: auto;
          padding: 0px 34px;
          min-height: auto;
        }
        img{
          display: table;
          margin: 0 auto;
        }
      }
    }


  }

  .three-columns{
    margin: 0 -15px;
    width: calc(100% + 30px);
    display: inline-block;

    .col-1,
    .col-2,
    .col-3{
      // TODO
    }

    img{
      width: 100%;
    }
  }

  .two-column{
    .col-1,
    .col-2{

      img{
        width: 100%;
      }
    }

  }

  .category-title{
    font-family: $primary-mobile-font;
    margin: 30px 0;
    border-bottom: 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;

    @media only screen and (min-width : $screen-sm) {
      font-family: $primary-desktop-font;
      border-bottom: 1px solid #eee;
      letter-spacing: 1px;
    }

    h2{
      padding: 10px 0px 10px 0px;
      position: relative;
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      width: 100%;
      letter-spacing: 4px;
      text-transform: uppercase;

      @media only screen and (min-width : $screen-sm) {
        font-size: 28px;
        text-align: left;
        width: auto;
      }
    }

    i, em{
      margin-left: 10px;
      font-size: 24px;
      display: none;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 100;

      @media only screen and (min-width : $screen-sm) {
        font-size: 28px;
        display: inline-block;
      }
    }

    .view-more{
      font-family: $primary-desktop-font;
      font-size: 12px;
      color: #000;
      margin-top: 25px;
      float: right;
      display: none;
      text-transform: lowercase;

      @media only screen and (min-width : $screen-sm) {
        display: block;
      }

      img{
        float: left;
        margin: 5px;
      }
    }
  }

  .home-product-carousel{
    .category-products{
      width: 100%;
      display: inline-block;


      @media only screen and (min-width : $screen-sm) {
        width: calc(100% + 30px);
        margin: 0 -15px;
      }


      &.carousel{
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 0 40px;

        @media only screen and (min-width : $screen-sm) {
          padding: 0 0px;
          margin: 0 -10px;
          width: calc(100% + 10px);
        }
        .owl-item{
          // padding: 10px;
          .item{
            width: calc(100% - 10px) !important;
            margin: 0 5px 20px 5px;
          }
        }
      }
      .owl-nav {
        margin-top: -40px;
        margin-left: -40px;
        top: 50%;
        text-align: center;
        position: absolute;
        width: calc(100% + 80px);
        display: none;

        @media only screen and (min-width : $screen-sm) {
          display: block;
          margin-top: -20px;
          margin-left: -35px;
          width: calc(100% + 100px);
        }

        .owl-prev, .owl-next{
          position: absolute;
          color: #FFF;
          display: inline-block;
          zoom: 1;
          margin: 5px;
          padding: 3px 10px;
          font-size: 12px;
          border-radius: 30px;
          background: transparent;
          opacity: 0.5;

          &:hover{
            opacity: 1;
          }
        }
        .owl-prev{
          left: 5px;
        }
        .owl-next{
          right: 5px;
        }
      }

      .owl-dots{
        margin-top: 15px;
        text-align: center;
        width: 100%;

        @media only screen and (min-width : $screen-md) {
          display: none;
        }

        .owl-dot{
          background: #e5e5e5;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          margin: 2px;

          &.active{
            background: #ff0000;
          }
        }
      }
    }
  }

}
