<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view">
  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>

<div class="product-view">
  <?php if ($_product->getTypeId() != 'orcamento'): ?>
  <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => Mage::app()->getStore()->isCurrentlySecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
  <?php endif ?>
    <?php echo $this->getBlockHtml('formkey') ?>
    <div class="no-display">
      <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
      <input type="hidden" name="related_product" id="related-products-field" value="" />
    </div>
    <div class="product-name">
      <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="row">
          <div class="product-img-box">
            <?php #Product Gallery Image ?>
            <?php echo $this->getChildHtml('media') ?>
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-md-5 col-sm-12 theme3-product-wrapper">
        <div>
          <div>
              <div class="product-shop">
                <div class="short-description">
                    <?php if ($_product->getShortDescription()):?>
                      <h2 class="short-description">
                      <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                      </h2>
                    <?php endif;?>
                </div>
                  <!-- <div class="box-buy row"> -->
                    <div class="box-content well well-sm">
                      <div class="row">
                        <div class="box-row">
                          <?php echo $this->getChildHtml("product.info.options.wrapper"); ?>
                          <?php echo $this->getChildHtml("product_type_data_grouped"); ?>
                        </div>


                        <?php if (!$this->hasOptions()):?>
                        <div class="box-row col-md-6 col-sm-12 <?php if (!$_product->isAvailable()): ?> box-out-stock <?php endif; ?> ">
                        <?php elseif ($this->hasOptions()):?>
                          <div class="box-row col-md-12 col-sm-12 no-options">
                        <?php endif ?>

                          <div class="col-box-buy">
                            <!-- PRICES -->
                            <?php echo $this->getChildHtml('product_type_data') ?>
                            <?php echo $this->getTierPriceHtml() ?>

                            <?php echo $this->getChildHtml('extrahint') ?>
                          </div>

                          <?php echo $this->getChildHtml('jn2.detailedprice.popup') ?>

                          <?php if(Mage::getStoreConfig("product_page/blocks/bloco_1")): ?>
                          <div class="seals-1">
                            <?php echo $this->getChildHtml('product.page.seal1')?>
                          </div>
                        <?php endif ?>

                        </div>

                      <!-- <div class="col-box-buy last col-md-6 col-sm-12"> -->


                      <?php if (!$this->hasOptions()):?>
                        <div class="add-to-box col-md-6">
                          <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                          <?php endif; ?>
                        </div>
                        <div class="col-md-6">
                          <?php echo $this->getChildHtml('extra_buttons') ?>
                        </div>
                      <?php endif; ?>

                      <div class="col-md-12">
                        <?php echo $this->getChildHtml('other');?>

                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                          <?php echo $this->getChildChildHtml('container1', '', true, true) ?>

                        <?php endif;?>

                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                          <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        <?php endif;?>
                        <?php echo $this->getChildHtml('alert_urls') ?>
                      </div>

                      <!-- </div>  FIM col-box-buy-->
                    </div>

                  </div>
                </div>

            </div>

          <?php if (Mage::getStoreConfig('detailedprice/installments_price/show_options_table')==true): ?>
            <div class="col-md-12 form-parcels">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><img src="<?php echo $this->getSkinUrl('images/card-4.svg') ?>" alt="Cartão de Crédito" width="35" />Formas de Parcelamento</h3>
                </div>
                <div class="panel-body">
                  <?php echo $this->getChildHtml('jn2.detailedprice.table') ?>
                </div>
              </div>
            </div>
          <?php endif; ?>



            <div class="col-md-12">
              <?php #Estimate Shipping ?>
              <?php $estimate_shipping = $this->getLayout()->getBlock('shipping.estimate.form'); ?>
              <?php if ($estimate_shipping): ?>
                <?php echo $this->getLayout()->getBlock('shipping.estimate.form')->toHtml()?>
              <?php endif; ?>
            </div>
            <?php if(Mage::getStoreConfig("product_page/blocks/bloco_2")): ?>
              <div class="col-xs-12">
                <?php #Store Seals ?>
                <?php echo $this->getChildHtml('product.page.seal2')?>
              </div>
            <?php endif ?>

          </div>
        </div>
      </div>
    <?php if ($_product->getTypeId() != 'orcamento'): ?>
    </form>
    <?php endif ?>

    <div class="row">

    <div class="col-md-9">

      <div>
        <?php #Product Detail ?>
        <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
          <div class="box-collateral <?php echo "box-{$alias}"?>">
            <?php echo $html; ?>
          </div>
        <?php endforeach;?>
      </div>

      <div>
        <?php #Related Product ?>
        <?php echo $this->getChildHtml('catalog.product.related');?>
      </div>


      <div class="row">
        <?php #Upsell Products ?>
        <?php echo $this->getChildHtml('upsell_products') ?>
      </div>

      <?php if(Mage::getStoreConfig("product_page/blocks/bloco_3")): ?>
        <div class="row">
          <div class="col-xs-12 social-proof">
            <?php #Prova Social 2 ?>
            <?php echo $this->getChildHtml('product.page.social_proof1');?>
          </div>
        </div>
      <?php endif;?>


      <div class="row">
        <?php #Addicional Data ?>
        <?php echo $this->getChildHtml('product_additional_data');?>
      </div>

      <?php if(Mage::getStoreConfig("product_page/blocks/bloco_4")): ?>
        <div class="row">
          <div class="col-xs-12 social-proof">
            <?php #Prova Social 2 ?>
            <?php echo $this->getChildHtml('product.page.social_proof2');?>
          </div>
        </div>
      <?php endif;?>


      <div class="row">
        <?php #Last products View ?>
        <?php echo $this->getChildHtml('reports.product.viewed');?>
      </div>


    </div>

    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="panel panel-default box-price-scroll">
        <div class="panel-body">
          <h3><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h3>
          <?php echo $this->getChildHtml('product_type_data') ?>
          <?php echo $this->getChildHtml('addtocart.scroll');?>
        </div>
      </div>

    </div>

    </div>

    <script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');

    productAddToCartForm.submit = function(button, url) {
      if (this.validator.validate()) {

        var form = this.form;
        var oldUrl = form.action;

        if (url) {
          form.action = url;
        }
        var e = null;
        try {
          this.form.submit();
        } catch (e) {
        }
        this.form.action = oldUrl;
        if (e) {
          throw e;
        }

        if (button && button != 'undefined') {
          button.disabled = true;
        }
      } else {
        Element.scrollTo($$('.box-buy.row')[0]);
      }
    }.bind(productAddToCartForm);

    productAddToCartForm.submitLight = function(button, url){
      if(this.validator) {
        var nv = Validation.methods;
        delete Validation.methods['required-entry'];
        delete Validation.methods['validate-one-required'];
        delete Validation.methods['validate-one-required-by-name'];
        // Remove custom datetime validators
        for (var methodName in Validation.methods) {
          if (methodName.match(/^validate-datetime-.*/i)) {
            delete Validation.methods[methodName];
          }
        }

        if (this.validator.validate()) {
          if (url) {
            this.form.action = url;
          }
          this.form.submit();
        }
        Object.extend(Validation.methods, nv);
      }
    }.bind(productAddToCartForm);
    //]]>
    </script>
  </div>
<!--</div>-->


<?php if(Mage::getStoreConfig('product_page/general/active_product_option_empty')):?>
  <div class="nicemodal fade" id="option-modal">
    <div class="body"></div>
    <div class="footer">
      <button class="btn btn-default btn-link" data-dismiss="true">Fechar</button>
    </div>
  </div><!-- /.modal -->
  <script>
  function attribute_select(id, value){
    jQuery(id).val(value);
  }

  (function($){

    /********** Declare Vars **************/
    function getEmptyOptions(){
      return jQuery('[name^="super_attribute"]').filter(function(){
        return !this.value;
      });
    }

    /******* Check is has empty option ********/
    $(".add-to-cart .btn-cart, .block-shipping-estimate button").click(function(){
      var html = getEmptyOptions().map(function(){
        var optionBlock = jQuery("#ul-" + this.id);
        if(optionBlock.length){
          var textBlock   = jQuery("#div" + this.id).parent().find("label.required").clone().children().remove().end().text();
          return '<strong>'+textBlock + '</strong><div class="clearfix"><ul>' + optionBlock.html() + '</ul></div>';
        }else{
          var textBlock  = jQuery(this).parent().parent().prev("dt").find("label.required").clone().children().remove().end().text();
          return '<strong>'+textBlock + '</strong><div class="clearfix"><select onchange="attribute_select('+this.id+', this.value)">' + $(this).html() + '</select></div>';
        }
      });
      if(html.length > 0){
        html = Array.prototype.slice.call(html).join('');
        $("#option-modal .body").html(html);
        $("#option-modal").nicemodal('open');
        if($(this).hasClass("btn-cart")){
          $("#option-modal").attr("data-type", "cart");
        }else{
          $("#option-modal").attr("data-type", "estimate");
        }
      }
    });

    /************ Option click on modal *********************/
    function checkOptions(){
      eval($(this).attr("onclick"));
      if(getEmptyOptions().length == 0){
        $("#option-modal").nicemodal('close', function(){
          if($("#option-modal").attr("data-type") == "cart"){
            productAddToCartForm.submit();
          }else{
            estimateProductShipping();
          }
        });
      }
      if($(this).closest("a").attr("href")!= ""){
        return false;
      }
    }
    $("#option-modal").on("click", "li", checkOptions);
    $("#option-modal").on("change", "select", checkOptions);


  })(jQuery);

  /************ Modal Functions **************/
  jQuery.fn.nicemodal = function(options, callback){
    var me = this;
    switch (options) {
      case "close":
      this.removeClass("open");
      jQuery("body").find(".backed-nicemodal").remove();
      break;
      case "toogle":
      if(jQuery(this).hasClass("open")){
        jQuery(this).nicemodal("close");
      }else{
        jQuery(this).nicemodal();
      }
      break;
      default:
      this.css({
        "margin-left": -(this.width()/2)+"px",
        "margin-top": -(this.height()/2)+"px"
      }).addClass("open");
      this.before("<div class='backed-nicemodal'></div>");
      break;
    }
    jQuery(this).on("click", "button[data-dismiss='true']", function(){
      jQuery(me).nicemodal("close");
    });
    if(callback instanceof Function) callback();
    return this;
  }

  </script>
<?php endif; ?>

<script type="text/javascript">
jQuery(document).ready(function($){

  if($(window).width() >= 992){
    $('.box-price-scroll').scrollToFixed({
      marginTop: jQuery('.header').outerHeight() + 50,
      limit: function() {

          if($('.newsletter').length){
            return $('.newsletter').offset().top - $('.box-price-scroll').outerHeight() - 30;
        }

        return $('footer').offset().top - $('.box-price-scroll').outerHeight();

      },
        removeOffsets: true,

    });

    // ESTUDAR IMPLEMENTAÇÃO IMAGEM FIXA
    // $('.product-img-box').scrollToFixed({
    //   marginTop:20,
    //   limit: function() {
    //     return $('.box-description').offset().top - $('.product-img-box').outerHeight() - 30;
    //   },
    //   removeOffsets: true,
    // });

  }

});
</script>
