<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view">
  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>

<div class="product-view">
  <?php if ($_product->getTypeId() != 'orcamento'): ?>
  <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => Mage::app()->getStore()->isCurrentlySecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
  <?php endif ?>
    <?php echo $this->getBlockHtml('formkey') ?>
    <div class="no-display">
      <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
      <input type="hidden" name="related_product" id="related-products-field" value="" />
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="product-img-box">
            <?php #Product Gallery Image ?>
            <?php echo $this->getChildHtml('media') ?>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 theme1-product-page">
            <div class="product-shop">
              <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
              </div>

              <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>

              <?php if ($_product->getShortDescription()):?>
                <h2 class="short-description">
                  <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                </h2>
              <?php endif;?>

              <div class="box-buy">
                <div class="box-content">
                  <div class="box-row">
                    <?php echo $this->getChildHtml("product.info.options.wrapper"); ?>
                    <?php echo $this->getChildHtml("product_type_data_grouped"); ?>
                  </div>
                  <div class="box-row">
                    <div class="col-box-name">
                      <div class="box-image">
                        <img src="<?php echo $_product->getImageUrl() ?>">
                        <span class="name"><?php echo $_product->getName()?></span>
                      </div>
                    </div>

                    <div class="col-box-buy">
                      <?php echo $this->getChildHtml('product_type_data') ?>
                      <?php echo $this->getTierPriceHtml() ?>
                      <?php echo $this->getChildHtml('extrahint') ?>
                      <?php echo $this->getChildHtml('jn2.detailedprice.popup') ?>
                    </div>

                    <div class="col-box-buy last">

                      <?php if (!$this->hasOptions()):?>
                        <div class="add-to-box">
                          <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                            <?php echo $this->getChildHtml('orcamento.form') ?>
                          <?php endif; ?>
                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                      <?php endif; ?>

                      <?php echo $this->getChildHtml('other');?>

                      <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                      <?php endif;?>

                      <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                      <?php endif;?>
                      <?php echo $this->getChildHtml('alert_urls') ?>
                    </div>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
              </div>

              <?php if (Mage::getStoreConfig('detailedprice/installments_price/show_options_table')==true): ?>
                <div class="form-parcels">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><img src="<?php echo $this->getSkinUrl('images/card-4.svg') ?>" alt="Cartão de Crédito" width="35" />Formas de Parcelamento</h3>
                    </div>
                    <div class="panel-body">
                      <?php echo $this->getChildHtml('jn2.detailedprice.table') ?>
                    </div>
                  </div>
                </div>
              <?php endif; ?>

              <div class="box-rwd">
                <div class="box-1">
                  <?php echo $this->getChildHtml('product_type_data') ?>
                </div>
                <div class="box-2">
                  <?php echo $this->getChildHtml('addtocart.rwd');?>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix">&nbsp;</div>

          <div class="row">
            <div class='col-xs-12'>

              <div class="seals-1">
                <?php echo $this->getChildHtml('product.page.seal1')?>
              </div>
            </div>
          </div>

          <div>
            <div class="col-md-12 estimate-content">
              <?php #Estimate Shipping ?>
              <?php $estimate_shipping = $this->getLayout()->getBlock('shipping.estimate.form'); ?>
              <?php if ($estimate_shipping): ?>
                <?php echo $this->getLayout()->getBlock('shipping.estimate.form')->toHtml()?>
              <?php endif; ?>
            </div>
          </div>

          <div class="col-xs-12">
            <?php #Store Seals ?>
            <?php echo $this->getChildHtml('product.page.seal2')?>
          </div>
        </div>
      </div>
    <?php if ($_product->getTypeId() != 'orcamento'): ?>
    </form>
    <?php endif ?>

    <script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');

    productAddToCartForm.submit = function(button, url) {
      if (this.validator.validate()) {

        var form = this.form;
        var oldUrl = form.action;

        if (url) {
          form.action = url;
        }
        var e = null;
        try {
          this.form.submit();
        } catch (e) {
        }
        this.form.action = oldUrl;
        if (e) {
          throw e;
        }

        if (button && button != 'undefined') {
          button.disabled = true;
        }
      } else {
        Element.scrollTo($$('.box-buy.row')[0]);
      }
    }.bind(productAddToCartForm);

    productAddToCartForm.submitLight = function(button, url){
      if(this.validator) {
        var nv = Validation.methods;
        delete Validation.methods['required-entry'];
        delete Validation.methods['validate-one-required'];
        delete Validation.methods['validate-one-required-by-name'];
        // Remove custom datetime validators
        for (var methodName in Validation.methods) {
          if (methodName.match(/^validate-datetime-.*/i)) {
            delete Validation.methods[methodName];
          }
        }

        if (this.validator.validate()) {
          if (url) {
            this.form.action = url;
          }
          this.form.submit();
        }
        Object.extend(Validation.methods, nv);
      }
    }.bind(productAddToCartForm);
    //]]>
    </script>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <?php #Related Product ?>
    <?php echo $this->getChildHtml('catalog.product.related');?>
  </div>
</div>

<?php if(Mage::getStoreConfig("product_page/blocks/bloco_1")): ?>
  <div class="row">
    <div class="col-xs-12 social-proof">
      <?php #Prova Social ?>
      <?php echo $this->getChildHtml('product.page.social_proof1');?>
    </div>
  </div>
<?php endif;?>

<div class="row">
  <div class="col-xs-12">
    <?php #Product Detail ?>
    <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
      <div class="box-collateral <?php echo "box-{$alias}"?>">
        <?php echo $html; ?>
      </div>
    <?php endforeach;?>
  </div>
</div>

<div class="row">
  <?php #Addicional Data ?>
  <?php echo $this->getChildHtml('product_additional_data');?>
</div>

<div class="row">
  <div class="col-xs-12">
    <?php #Upsell Products ?>
    <?php echo $this->getChildHtml('upsell_products') ?>
  </div>
</div>

<?php if(Mage::getStoreConfig("product_page/blocks/bloco_2")): ?>
  <div class="row">
    <div class="col-xs-12 social-proof">
      <?php #Prova Social 2 ?>
      <?php echo $this->getChildHtml('product.page.social_proof2');?>
    </div>
  </div>
<?php endif;?>

<div class="row">
  <div class="col-xs-12">
    <?php #Last products View ?>
    <?php echo $this->getChildHtml('reports.product.viewed');?>
  </div>
</div>

<?php if(Mage::getStoreConfig('product_page/general/active_product_option_empty')):?>
  <div class="nicemodal fade" id="option-modal">
    <div class="body"></div>
    <div class="footer">
      <button class="btn btn-default btn-link" data-dismiss="true">Fechar</button>
    </div>
  </div><!-- /.modal -->
  <script>
  function attribute_select(id, value){
    jQuery(id).val(value);
  }

  (function($){

    /********** Declare Vars **************/
    function getEmptyOptions(){
      return jQuery('[name^="super_attribute"]').filter(function(){
        return !this.value;
      });
    }

    /******* Check is has empty option ********/
    $(".add-to-cart .btn-cart, .block-shipping-estimate button").click(function(){
      var html = getEmptyOptions().map(function(){
        var optionBlock = jQuery("#ul-" + this.id);
        if(optionBlock.length){
          var textBlock   = jQuery("#div" + this.id).parent().find("label.required").clone().children().remove().end().text();
          return '<strong>'+textBlock + '</strong><div class="clearfix"><ul>' + optionBlock.html() + '</ul></div>';
        }else{
          var textBlock  = jQuery(this).parent().parent().prev("dt").find("label.required").clone().children().remove().end().text();
          return '<strong>'+textBlock + '</strong><div class="clearfix"><select onchange="attribute_select('+this.id+', this.value)">' + $(this).html() + '</select></div>';
        }
      });
      if(html.length > 0){
        html = Array.prototype.slice.call(html).join('');
        $("#option-modal .body").html(html);
        $("#option-modal").nicemodal('open');
        if($(this).hasClass("btn-cart")){
          $("#option-modal").attr("data-type", "cart");
        }else{
          $("#option-modal").attr("data-type", "estimate");
        }
      }
    });

    /************ Option click on modal *********************/
    function checkOptions(){
      eval($(this).attr("onclick"));
      if(getEmptyOptions().length == 0){
        $("#option-modal").nicemodal('close', function(){
          if($("#option-modal").attr("data-type") == "cart"){
            productAddToCartForm.submit();
          }else{
            estimateProductShipping();
          }
        });
      }
      if($(this).closest("a").attr("href")!= ""){
        return false;
      }
    }
    $("#option-modal").on("click", "li", checkOptions);
    $("#option-modal").on("change", "select", checkOptions);


  })(jQuery);

  /************ Modal Functions **************/
  jQuery.fn.nicemodal = function(options, callback){
    var me = this;
    switch (options) {
      case "close":
      this.removeClass("open");
      jQuery("body").find(".backed-nicemodal").remove();
      break;
      case "toogle":
      if(jQuery(this).hasClass("open")){
        jQuery(this).nicemodal("close");
      }else{
        jQuery(this).nicemodal();
      }
      break;
      default:
      this.css({
        "margin-left": -(this.width()/2)+"px",
        "margin-top": -(this.height()/2)+"px"
      }).addClass("open");
      this.before("<div class='backed-nicemodal'></div>");
      break;
    }
    jQuery(this).on("click", "button[data-dismiss='true']", function(){
      jQuery(me).nicemodal("close");
    });
    if(callback instanceof Function) callback();
    return this;
  }

  </script>
<?php endif; ?>
