<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

?>
<div class="form-add">
  <?php if ($this->getAllowWriteReviewFlag()): ?>
    <form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
      <?php echo $this->getBlockHtml('formkey'); ?>
      <?php echo $this->getChildHtml('form_fields_before')?>

      <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
        <h4><?php echo $this->__('How do you rate this product?') ?> <em class="required">*</em></h4>
        <span id="input-message-box"></span>


        <div class="stars-review">
          <?php foreach ($this->getRatings() as $_rating): ?>

            <span class="label-rating"><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></span>
            <div class="star-cb-group">
              <?php foreach (array_reverse($_rating->getOptions()) as $_option): ?>
                <input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" class="radio" />
                <label for="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>"></label>
              <?php endforeach; ?>
            </div>
          <?php endforeach; ?>
        </div>

      <?php endif; ?>

      <div class="form-review">
        <ul class="form-list">
          <li>
            <label for="nickname_field" class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
            <input type="text" name="nickname" id="nickname_field" class="required-entry" value="<?php echo $this->escapeHtml($data->getNickname()) ?>" />
          </li>
          <li>
            <label for="summary_field" class="required"><em>*</em><?php echo $this->__('Summary of Your Review') ?></label>
            <input type="text" name="title" id="summary_field" class="required-entry" value="<?php echo $this->escapeHtml($data->getTitle()) ?>" />
          </li>
          <li>
            <label for="review_field" class="required"><em>*</em><?php echo $this->__('Review') ?></label>
            <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"><?php echo $this->escapeHtml($data->getDetail()) ?></textarea>
          </li>
        </ul>
        <div class="buttons-set">
          <button type="submit" class="button"><?php echo $this->__('Submit Review') ?></button>
        </div>
      </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('review-form');
    Validation.addAllThese(
      [
        ['validate-rating', '<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Please select one of each of the ratings above')) ?>', function(v) {
          var trs = $('product-review-table').select('tr');
          var inputs;
          var error = 1;

          for( var j=0; j < trs.length; j++ ) {
            var tr = trs[j];
            if( j > 0 ) {
              inputs = tr.select('input');

              for( i in inputs ) {
                if( inputs[i].checked == true ) {
                  error = 0;
                }
              }

              if( error == 1 ) {
                return false;
              } else {
                error = 1;
              }
            }
          }
          return true;
        }]
      ]
    );
    //]]>
    </script>
  <?php else: ?>
    <p class="review-nologged" id="review-form">
      <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
    </p>
  <?php endif ?>
</div>
