<?php $labelsData = $this->getLabelsData(); ?>
<?php $rem = $this->getLabelsRem(); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Endere&ccedil;ador</title>
		<style type="text/css">
			.style1 {font-family: Arial, Helvetica, sans-serif; font-size: 13px;	}
			.style2 {font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	}
			.style4 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}
			.style6 {font-family: Arial, Helvetica, sans-serif; font-size: 18px; }
		</style>
		<script type="text/javascript">
			function edit(field){
				field.onclick = null;
				var text = field.innerHTML;
				var input = '<input type="text" value="'+text+'" />';
				field.innerHTML = input;
				field.firstChild.focus();
				field.firstChild.select();
				field.firstChild.onblur = function(){
					if (field.firstChild.value == "") {
						field.firstChild.value = "&nbsp;";
					}
					field.innerHTML = field.firstChild.value;
					field.onclick = function(){edit(this);};
				}
			}
		</script>
	</head>
	<body>
		<?php $e = 1; ?>
		<?php for($p = 1; $p <= $this->getPagesCount(); $p++): ?>
		<table width="765" border="0" cellpadding="14" cellspacing="0">
			<?php for($i = 1; $i <= min(2, $this->getLabelsCount() - 2 * ($p -1) ); $i++) : ?>
			<tr>
				<td height="<?php echo ($i % 2) ? '482' : '427' ?>" width="100%"  valign="top">
					<table border="0" cellpadding="0" cellspacing="0" align="center" width="85%" style="height:150px;">
						<tr>
							<td align="center">
								<table width="100%">
									<tr>
										<td align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;<img src="<?php echo $this->getSkinUrl('images/etiquetaendereco/destinatario.gif') ?>" border="0" alt="" />
										</td>
										<td align="right" valign="top">
											<img src="<?php echo $this->getSkinUrl('images/etiquetaendereco/logo_correios.gif') ?>" border="0" alt="" />
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<div class="style6">
									<?php if ($labelsData[$e-1]['name1']): ?>
									&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="edit(this)"><?php echo $labelsData[$e-1]['name1'] ?></span><br />
									<?php endif; ?>
									<?php if ($labelsData[$e-1]['name2']): ?>
									&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="edit(this)"><?php echo $labelsData[$e-1]['name2'] ?></span><br />
									<?php endif; ?>
									<?php if ($labelsData[$e-1]['fone']): ?>
									&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="edit(this)">Fone: <?php echo $labelsData[$e-1]['fone'] ?></span><br />
									<?php endif; ?>
									&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="edit(this)"><?php echo $labelsData[$e-1]['street'] ?>&nbsp;&nbsp;&nbsp;<?php echo $labelsData[$e-1]['num'] ?></span><br />
									<?php if ($labelsData[$e-1]['compl']): ?>
									&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="edit(this)"><?php echo $labelsData[$e-1]['compl'] ?></span><br />
									<?php endif; ?>
									<?php if ($labelsData[$e-1]['bairro']): ?>
									&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="edit(this)"><?php echo $labelsData[$e-1]['bairro'] ?></span><br />
									<?php endif; ?>
									&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="edit(this)"><?php echo $labelsData[$e-1]['city'] ?> / <?php echo $labelsData[$e-1]['uf'] ?></span><br />
									&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $labelsData[$e-1]['zipcode'] ?>
								</div>
								<div align="center" class="style4">
									<br 
									<?php foreach ($labelsData[$e-1]['barcode'] as $code): ?>
										/><img src="<?php echo $this->getSkinUrl('images/etiquetaendereco/') . $code['type'] . '.gif' ?>" width="<?php echo $code['value'] ?>" height="90" alt="" 
									<?php endforeach ?>
									/><br />
									<?php echo $labelsData[$e-1]['zipcode'] ?>
								</div>
								<br />
								<hr align="center" size="1" width="100%" style="border: 0 none #c0c0c0; border-top: 1px solid #c0c0c0;"/>
								<div class="style1">
									<b>Remetente:</b><br />
									<?php if ($rem['name1']):?>
										<span onclick="edit(this)"><?php echo $rem['name1'] ?></span><br />
									<?php endif; ?>
									<?php if ($rem['name2']):?>
										<span onclick="edit(this)"><?php echo $rem['name2'] ?></span><br />
									<?php endif; ?>
									<?php if ($rem['fone']):?>
										<span onclick="edit(this)"><?php echo $rem['fone'] ?></span><br />
									<?php endif; ?>
									<span onclick="edit(this)"><?php echo $rem['address'] ?></span><br />
									<?php if ($rem['compl']):?>
										<span onclick="edit(this)"><?php echo $rem['compl']?></span><br />
									<?php endif; ?>
									<span onclick="edit(this)"><?php echo $rem['bairro']?></span><br />
									<span onclick="edit(this)"><?php echo $rem['zipcode']?>&nbsp;&nbsp;&nbsp;<?php echo $rem['city']?></span>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<?php $e++; ?>
			<?php endfor; ?>
		</table>
			<?php if ($p < $this->getPagesCount()): ?>
		<div style="page-break-after: always;"></div>
		<div style="margin-top: 8px;"></div>
			<?php endif; ?>
		<?php endfor; ?>
	</body>
</html>
