<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>

<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);

$productId = $_item->getProductId();
$product = Mage::getModel('catalog/product')->load($productId);
if($product->getTypeId() == "configurable"){
    $sku = $_item->getSku();
    $simpProdId = Mage::getModel('catalog/product')->loadByAttribute('sku',$sku)->getId();
    $product = Mage::getModel('catalog/product')->load($simpProdId);
}
$quantity = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product)->getQty();

?>
<div class="item">
  <div class="qty">
    <div class="plus <?php echo $this->getQty() == (int)$quantity ? "disable" : "" ?>" ng-click="plusProduct('#qty<?php echo $_item->getId() ?>')"><i class="jicon chev-up"></i></div>
    <input name="cart[<?php echo $_item->getId() ?>][qty]" id="qty<?php echo $_item->getId() ?>" ng-blur="blurQtyItem('#qty<?php echo $_item->getId() ?>')" data-max="<?php echo (int)$quantity ?>" data-cart-item-id="<?php echo $this->jsQuoteEscape($_item->getSku()) ?>" value="<?php echo $this->getQty() ?>" size="4" maxlength="12" />
    <div class="minus <?php echo $this->getQty() == 1 ? "disable" : "" ?>" ng-click="minusProduct('#qty<?php echo $_item->getId() ?>')"><i class="jicon chev-down"></i></div>
  </div>
  <div class="image">
    <img src="<?php echo $this->getProductThumbnail()->resize(100); ?>" class="img-responsive" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" />
  </div>
  <div class="info">
    <h2 class="product-name"><?php echo $this->escapeHtml($this->getProductName()) ?></h2>
    <div class="options">
      <?php if ($_options = $this->getOptionList()):?>
        <?php foreach ($_options as $_option) : ?>
          <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
          <?php echo $_formatedOptionValue['value'] ?>
          <?php if (isset($_formatedOptionValue['full_view'])): ?>
            <?php echo $_formatedOptionValue['full_view'] ?>
          <?php endif; ?>
        <?php endforeach; ?>
      <?php endif;?>
      <?php if ($messages = $this->getMessages()): ?>
        <?php foreach ($messages as $message): ?>
          <p class="item-msg <?php echo $message['type'] ?>">* <?php echo $this->escapeHtml($message['text']) ?></p>
        <?php endforeach; ?>
      <?php endif; ?>
      <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
      <?php if ($addInfoBlock): ?>
        <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
      <?php endif;?>
    </div>

    <div class="price">
      <?php
      $price = explode(",", Mage::getModel('directory/currency')->format($this->helper('checkout')->getSubtotalInclTax($_item),array('display'=>Zend_Currency::NO_SYMBOL),false));
      $symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
      ?>
      <small><?php echo $symbol ?></small>
      <span><?php echo $price[0] ?></span>
      <small><?php echo ','.$price[1] ?></small>
    </div>
  </div>
  <a href="<?php echo $this->getDeleteUrl()?>"class="remove"><i class="jicon close"></i></a>
</div>
