<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>

<?php if(Mage::getStoreConfig("custom_footer/template_newsletter/active")) : ?>
	<?php echo $this->getChildHtml('newsletter.footer') ?>
<?php endif; ?>

<footer>
	<div class="container">
		<div class="col-md-3 hidden-xs hidden-sm">
			<div class="col-md-8">
				<div class="row">
					<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img class="img-responsive" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
				</div>
			</div>
			<div class="clearfix"></div>
			<p class="store-desc"><?php echo Mage::getStoreConfig("custom_footer/template_newsletter/newsletter_desc_loja") ?></p>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6 ol-md-offset-1">
			<?php  echo $this->getBlock(1); ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6">
			<?php  echo $this->getBlock(2); ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6">
			<?php  echo $this->getBlock(3); ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6">
			<?php  echo $this->getBlock(4); ?>
		</div>
	</div>
</footer>
<div class="row footer-last-row">
	<div class="container">
		<div class="col-md-2">
			<?php  echo $this->getBlock(5); ?>
		</div>
		<div class="col-md-4">
			<?php  echo $this->getBlock(6); ?>
		</div>
		<div class="col-md-3">
			<?php  echo $this->getBlock(7); ?>
		</div>
		<div class="col-md-3">
			<?php  echo $this->getBlock(8); ?>
		</div>
	</div>
</div>
<address><?php echo $this->getCopyright() ?></address>
<?php echo $this->getChildHtml('store_switcher') ?>
