<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php if(Mage::getStoreConfig("custom_footer/template_newsletter/active")) : ?>
	<?php echo $this->getChildHtml('newsletter.footer') ?>
<?php endif; ?>

<footer>
	<div class="container">
		<div class="col-md-2 col-xs-6 col-sm-6 ol-md-offset-1">
			<?php  echo $this->getBlock(1); ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6">
			<?php  echo $this->getBlock(2); ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6">
			<?php  echo $this->getBlock(3); ?>
		</div>
	</div>
</footer>
<div class="row footer-last-row">
	<div class="container">
		<div class="col-md-2">
			<?php  echo $this->getBlock(4); ?>
		</div>
		<div class="col-md-4">
			<?php  echo $this->getBlock(5); ?>
		</div>
		<div class="col-md-3">
			<?php  echo $this->getBlock(6); ?>
		</div>
	</div>
</div>
<address><?php echo $this->getCopyright() ?></address>
<?php echo $this->getChildHtml('store_switcher') ?>
