<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>

<div class="row">
  <?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
  <?php else: ?>
    <div class="category-products">
      <div class="toolbar-top">
        <?php echo $this->getToolbarHtml() ?>
      </div>
      <ul class="products-grid" >
        <?php  foreach ($_productCollection as $_product): ?>
          <li class="grid-item col-xs-6">
            <div class="product">
              <a href="<?php echo $_product->getProductUrl() ?>" class="product-image">
                <h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" class="img-responsive"/>
              </a>
              <div class="colors">
                <?php echo $this->getLayout()->createBlock("colorselectorplus/listswatch")->setTemplate("colorselectorplus/listswatches.phtml")->setData('product', $_product)->toHtml(); ?>
              </div>
              <div class="price-detail">
                <?php echo $this->getPriceHtml($_product, true) ?>
              </div>
            </div>
          </li>
        <?php endforeach ?>
      </ul>

      <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
      </div>
    </div>
  <?php endif; ?>
</div>
