<div class="form-group">
  <label for="<?php echo $this->getFieldId('month')?>" class="<?php if ($this->isRequired()) echo 'required'; ?> col-sm-4 control-label"><?php echo $this->__('Date of Birth') ?></label>
  <div class="col-sm-8">
    <div class="customer-dob">
      <div class="col-md-4" style="padding: 5px 5px 5px 0;">
        <div class="dob-day">
          <select name="<?php echo $this->getFieldName('day'); ?>" id="<?php echo $this->getFieldId('day'); ?>" class="form-control<?php if ($this->isRequired()) echo ' required-entry'?>">
            <option value=""><?php echo $this->__('DD'); ?></option>
            <?php for ($i = 1; $i <= 31; $i++): ?>
              <?php $day = (strlen($i) == 1) ? "0" . $i : $i; ?>
              <option value="<?php echo $day; ?>" <?php echo ($i==$this->getDay()) ? "selected" : ""; ?>><?php echo $day; ?></option>
            <?php endfor; ?>
          </select>
        </div>
      </div>
      <div class="col-md-4" style="padding: 5px;">
        <div class="dob-month">
          <select name="<?php echo $this->getFieldName('month'); ?>" id="<?php echo $this->getFieldId('month'); ?>" class="form-control<?php if ($this->isRequired()) echo ' required-entry'?>">
            <option value=""><?php echo $this->__('MM'); ?></option>
            <?php for ($i = 1; $i <= 12; $i++): ?>
              <?php $month = (strlen($i) == 1) ? "0".$i : $i; ?>
              <option value="<?php echo $month; ?>" <?php echo ($i==$this->getMonth()) ? "selected" : ""; ?>><?php echo $month; ?></option>
            <?php endfor; ?>
          </select>
        </div>
      </div>
      <div class="col-md-4" style="padding: 5px;">
        <div class="dob-year">
          <?php $currentYear = intval(date("Y")); ?>
          <select name="<?php echo $this->getFieldName('year'); ?>" id="<?php echo $this->getFieldId('year'); ?>" class="form-control<?php if ($this->isRequired()) echo ' required-entry'?>">
            <option value=""><?php echo $this->__('YYYY'); ?></option>
            <?php for ($i = $currentYear; $i >= $currentYear - 100; $i--): ?>
              <option value="<?php echo $i; ?>" <?php echo ($i==$this->getYear()) ? "selected" : ""; ?>><?php echo $i; ?></option>
            <?php endfor; ?>
          </select>
        </div>
      </div>
      <div class="hide">

        <div class="dob-full">
          <input type="text" id="<?php echo $this->getFieldId('dob')?>" name="<?php echo $this->getFieldName('dob')?>" />
        </div>
      </div>
      <div class="validation-advice" style="display:none;"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
var DOBSelects = Class.create(Varien.DOB, {
  initialize: function(selector, required, format) {
    var el = $$(selector)[0];
    var container       = {};
    container.day       = Element.select(el, '.dob-day select')[0];
    container.month     = Element.select(el, '.dob-month select')[0];
    container.year      = Element.select(el, '.dob-year select')[0];
    container.full      = Element.select(el, '.dob-full input')[0];
    container.advice    = Element.select(el, '.validation-advice')[0];
    new Varien.DateElement('container', container, required, format);
  }
});
var customer_dob = new DOBSelects('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php echo $this->getDateFormat() ?>');
//]]>
</script>
