<div class="form-group">
  <label for="<?php echo $this->getFieldId('gender')?>" class="<?php if ($this->isRequired()) echo 'required' ?> col-sm-4 control-label" ><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('Gender') ?></label>
  <div class="col-sm-8">
    <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();?>
    <?php $value = $this->getGender();?>
    <?php foreach ($options as $option):?>
      <?php if (strlen($option['label']) > 0): ?>
        <label class="radio-inline"><?php echo $this->__($option['label']) ?>
          <input type="radio" class="<?php if ($this->isRequired()) echo 'validate-one-required-by-name'?>" name="<?php echo $this->getFieldName('gender')?>" value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $value) echo ' selected="selected"' ?>/>
        </label>
      <?php endif; ?>
    <?php endforeach;?>
  </div>
</div>
