<div class="<?php echo $this->getContainerClassName()?>">
  <div class="form-group">
    <label for="<?php echo $this->getFieldId('firstname')?>" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__("Nome Completo")?></label>
    <div class="col-sm-8">
      <div class="name-firstname">
        <input type="text" id="<?php echo $this->getFieldId('firstname')?>" name="<?php echo $this->getFieldName('firstname')?>" value="<?php echo trim($this->escapeHtml($this->getObject()->getFirstname() . ' ' . $this->getObject()->getLastname())) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->getStoreLabel('firstname')) ?>" maxlength="255" class="form-control validate-fullname <?php echo $this->helper('customer/address')->getAttributeValidationClass('firstname') ?>" <?php echo $this->getFieldParams() ?> />
        <input type="hidden" name="split_name" value="1" />
      </div>
    </div>
  </div>
</div>
