<?php
/**
* @author Leandro Marques
*
*/
?>
<div class="newsletter">
  <div class="container">
    <div class="col-md-6">
      <div class="icon-email">
        <?php echo (Mage::getStoreConfig("custom_footer/icons/icon_envelope") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_envelope" . DS.Mage::getStoreConfig("custom_footer/icons/icon_envelope") . "\"/>" : "<i class='jicon envelope'></i>";?>
      </div>
      <p><?php echo Mage::getStoreConfig("custom_footer/template_newsletter/newsletter_desc"); ?></p>
    </div>
    <div class="col-md-6">
      <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <input type="email" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="form-control required-entry validate-email" placeholder="<?php echo $this->__('Enter your e-mail address') ?>"/>
        <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="btn btn-send"><?php echo (Mage::getStoreConfig("custom_footer/icons/icon_buttom") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_buttom" . DS.Mage::getStoreConfig("custom_footer/icons/icon_buttom") . "\"/>" : "<i class='jicon send'></i>";?></button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>
