<form id="purge_everything_form" action="<?php echo $this->getPurgeEverythingUrl() ?>" method="post" id="cache_purge_everything_form" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>
    <table class="form-list">
        <tr>
            <td class="scope-label">
                <button type="submit" class="scalable"><span><?php echo Mage::helper('cache')->__('Liberar cache CloudFlare') ?></span></button>
            </td>
        </tr>
    </table>
</form>
