<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      body{
  background-color:whitesmoke;
}
body > .wrapper{
/*background-color: #f1fbff;*/



}
.container-anima{
  /*position:absolute;*/
  margin:auto;
  /*top:15em;right:0;bottom:0;left:0;*/
  width:700px;
  max-width:80%;
  height:335px;
  max-height:100%;
}
.oven{
  /*position:absolute;
  top:0;
  left:0;*/
  width:100%;
  height:100%;
}
.st0{fill:none;stroke:#D6E3E8;stroke-width:8;stroke-miterlimit:10;}
.st1{fill:#B5B5B5;}
.st2{fill:#939393;}
.st3{fill:none;stroke:#939393;stroke-width:6;stroke-miterlimit:10;}
.st4{fill:#C9C9C9;}
.st5{fill:#CAD5D8;}
.st6{clip-path:url(#SVGID_2_);fill:none;stroke:#CAD5D8;stroke-width:8;stroke-miterlimit:10;}
.st7{fill:#D6E3E8;}
.st8{clip-path:url(#SVGID_4_);fill:none;stroke:#FF9988;stroke-width:6;stroke-miterlimit:10;}
#heat2{clip-path:url(#heat2clipPath);stroke:#ffc5bd;}
.st9{fill:#A8A8A8;}

.main{
  height: 350px;
}
.title-maintenance{
  text-align: center;
  font-size: 36px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 1em 0 0 0;
  color: #F37053;
}
.contact-title{
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin: 1em 0;
  font-size: 22px;
}

.jn2-sign{
  padding-top: 3em;
}
    </style>


    <h2 class="title-maintenance">
      Loja em Manutenção
    </h2>
    <h3 class="contact-title">Contatos:</h3>
      <div class="container-anima">
        <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg class="oven" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="585.4px"
    	 height="517.5px" viewBox="0 0 585.4 517.5" style="enable-background:new 0 0 585.4 517.5;" xml:space="preserve">
    <g id="Layer_1">
    	<rect x="380.5" y="99.5" class="st7" width="41" height="54"/>
    	<polygon class="st5" points="380.5,114.4 421.5,131.7 421.5,134.5 380.5,117.1 	"/>
    	<polygon class="st7" points="293.2,77.8 138.5,151.3 138.5,416.5 448.5,416.5 448.5,151.3 	"/>
    	<line class="st3" x1="384.6" y1="230.8" x2="421.4" y2="357.5"/>
    	<line class="st3" x1="244.7" y1="339.9" x2="378.4" y2="385.4"/>
    	<g>
    		<defs>
    			<polygon id="SVGID_1_" points="293.2,77.8 138.5,151.3 138.5,416.5 448.5,416.5 448.5,151.3 			"/>
    		</defs>
    		<clipPath id="SVGID_2_">
    			<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
    		</clipPath>
    		<polyline class="st6" points="118.5,168.5 293.7,81.2 469.5,162.5 		"/>
    	</g>
    	<g>
    		<path class="st1" d="M295.6,358.8c-39.9,0-76-25.2-89.9-62.6c-18.4-49.6,6.8-104.9,56.3-123.3c10.7-4,21.9-6,33.3-6
    			c39.9,0,76,25.2,89.9,62.6c18.4,49.6-6.8,104.9-56.3,123.3C318.2,356.8,307,358.8,295.6,358.8z"/>
    		<path class="st9" d="M295.4,170.5c18.5,0,36.5,5.8,51.9,16.3c15.7,10.8,27.6,26,34.3,44c17.7,47.5-6.6,100.6-54,118.2
    			c-10.3,3.8-21,5.8-31.9,5.8c-18.6,0-36.5-5.6-51.9-16.1c-15.7-10.8-27.6-25.9-34.3-43.9c-17.7-47.5,6.6-100.7,54-118.4
    			C273.8,172.6,284.5,170.5,295.4,170.5h0.1 M295.4,162.9c-11.5,0-23.2,2-34.7,6.3c-51.7,19.2-77.9,76.7-58.7,128.5
    			c15,40.3,53.1,65.2,93.7,65.2c11.5,0,23.3-2,34.7-6.3c51.7-19.2,77.9-76.7,58.7-128.5C374.1,187.8,335.9,162.9,295.4,162.9
    			L295.4,162.9z"/>
    	</g>
    	<polyline class="st0" points="118.5,160.7 293.7,77.4 469.5,160.7 	"/>
    	<circle class="st2" cx="293.8" cy="259.5" r="67.4"/>
    	<circle class="st1" cx="397.4" cy="367" r="24"/>
    </g>
    <g id="gears">
    	<circle class="st9" cx="397.5" cy="366.8" r="22.5"/>
    	<path id="gear2" class="st4" d="M536.2,361.6c0.5-3,0.8-6,0.8-9.1l0-0.7l-4.5,0.1c0-4-0.6-7.9-1.5-11.7l4.4-1.1
    		c-0.8-3.1-1.9-6.1-3.2-9L528,332c-1.6-3.6-3.7-6.9-6.1-10l3.5-2.8c-2-2.5-4.2-4.8-6.6-6.9l-3,3.4c-2.9-2.6-6.2-4.8-9.6-6.6l2.1-4
    		c-2.8-1.5-5.8-2.7-8.9-3.7l-1.3,4.3c-3.7-1.1-7.5-1.9-11.5-2.1l0.3-4.5c-1.1-0.1-2.2-0.1-3.3-0.1l-0.5,0c-1.9,0-3.8,0.1-5.7,0.4
    		l0.5,4.5c-4,0.5-7.8,1.4-11.4,2.7l-1.6-4.2c-3,1.1-5.9,2.5-8.7,4.1l2.3,3.9c-3.4,2-6.5,4.4-9.3,7.1l-3.2-3.2
    		c-2.3,2.2-4.4,4.7-6.2,7.3l3.7,2.6c-2.3,3.2-4.1,6.6-5.6,10.3l-4.2-1.7c-1.2,3-2.1,6.1-2.7,9.2l4.4,0.9c-0.7,3.3-1,6.6-1,10.1
    		c0,0.5,0,1,0.1,1.6l-4.5,0.2c0.1,3.2,0.5,6.4,1.2,9.5l4.4-1c0.9,3.9,2.2,7.6,3.9,11l-4,2c1.4,2.9,3.1,5.6,5,8.2l3.6-2.7
    		c2.3,3.1,5,6,8,8.5l-2.9,3.5c2.5,2,5.1,3.9,7.9,5.4l2.2-3.9c3.4,1.9,7,3.4,10.8,4.5L469,404c3.1,0.9,6.2,1.5,9.4,1.8l0.4-4.5
    		c1.7,0.2,3.4,0.2,5.1,0.2c2.2,0,4.5-0.2,6.6-0.5l0.6,4.5c3.2-0.5,6.3-1.2,9.3-2.2l-1.4-4.3c3.7-1.3,7.3-2.9,10.6-5l2.4,3.8
    		c2.7-1.7,5.3-3.7,7.6-5.8l-3-3.3c2.9-2.6,5.4-5.6,7.6-8.9l3.7,2.5c1.8-2.7,3.3-5.5,4.6-8.4l-4.1-1.8c1.5-3.5,2.7-7.3,3.3-11.2
    		L536.2,361.6z M483.5,313.8c4.1,0,8.1,0.7,11.9,1.9l-5.5,17.2c-2-0.6-4.1-1-6.3-1c-2.5,0-4.8,0.5-7,1.3l-6.2-17
    		C474.4,314.6,478.9,313.8,483.5,313.8z M444.8,353.7c0-0.4,0-0.8,0-1.2c0-8.5,2.7-16.3,7.3-22.7l14.7,10.6
    		c-2.4,3.4-3.8,7.5-3.8,11.9c0,0.3,0,0.5,0,0.8L444.8,353.7z M452.2,375.4l14.8-10.8c2.7,3.6,6.5,6.3,10.9,7.6l-5.1,17.6
    		C464.4,387.3,457.2,382.2,452.2,375.4z M495.5,389.4l-5.7-17.4c4.3-1.4,8-4.2,10.6-7.8l15,10.4
    		C510.6,381.4,503.6,386.7,495.5,389.4z M504,353.3c0-0.3,0-0.6,0-0.9c0-4.6-1.5-8.8-4.1-12.3l14.2-11.3c5,6.5,8,14.5,8,23.3
    		L504,353.3z">
    			<animateTransform id="gear2Anim"
    				attributeName="transform"
    				attributeType="XML"
    				type="rotate"
    				from="0 483.52 352.38"
    				to="-360 483.52 352.38"
    				dur="8.33s"
    				repeatCount="indefinite" />
    		</path>
    	<circle class="st1" cx="483.5" cy="352.4" r="5.3"/>
    	<path id="gear1" class="st4" d="M427.5,366.7c0-4.1-0.9-8.1-2.4-11.7l4.1-1.8c-1.3-3.2-3.2-6.1-5.4-8.7l-3.4,2.9
    		c-2.6-3-5.7-5.6-9.3-7.4l2-4c-3.1-1.6-6.4-2.7-9.8-3.2l-0.8,4.4c-1.7-0.3-3.4-0.4-5.1-0.4c-2.3,0-4.6,0.3-6.8,0.8l-1-4.4
    		c-3.4,0.8-6.6,2-9.6,3.8l2.3,3.9c-3.5,2-6.5,4.7-8.9,7.9L370,346c-2.1,2.8-3.7,5.8-4.9,9l4.2,1.5c-1.2,3.2-1.8,6.6-1.8,10.2
    		c0,0.5,0,1,0,1.6l-4.5,0.2c0.2,3.5,0.9,6.8,2,10.1l4.2-1.5c1.4,3.8,3.5,7.2,6.2,10.1l-3.3,3.1c2.4,2.5,5.1,4.7,8,6.4l2.3-3.9
    		c3.4,2,7.2,3.3,11.3,3.8l-0.5,4.5c1.4,0.2,2.8,0.3,4.2,0.3c2,0,4-0.2,6-0.5l-0.8-4.4c4-0.7,7.8-2.2,11.1-4.3l2.5,3.8
    		c2.9-1.9,5.5-4.2,7.7-6.8l-3.5-2.9c2.5-3,4.5-6.5,5.7-10.4l4.3,1.3c1-3.3,1.3-6.7,1.3-10.3L427.5,366.7z M417.2,366.8l-11.1,0
    		c0-2.8-1.3-5.2-3.3-6.8l6.9-8.7C414.3,354.9,417.2,360.5,417.2,366.8z M401.1,366.8c0,2-1.6,3.6-3.6,3.6s-3.6-1.6-3.6-3.6
    		s1.6-3.6,3.6-3.6S401.1,364.8,401.1,366.8z M397.5,347l0,11.1c-2.7,0-5.2,1.3-6.8,3.3l-8.7-6.9C385.7,350,391.2,347.1,397.5,347z
    		 M377.8,366.8l11.1,0c0,2.7,1.2,5.1,3.2,6.7l-6.9,8.6C380.6,378.5,377.8,373,377.8,366.8z M397.5,386.5L397.5,386.5l0-11
    		c2.7,0,5.2-1.3,6.7-3.2l8.6,6.9C409.3,383.7,403.7,386.5,397.5,386.5L397.5,386.5z">
    			<animateTransform id="gear1Anim"
    				attributeName="transform"
    				attributeType="XML"
    				type="rotate"
    				from="0 397.5 366.8"
    				to="360 397.5 366.8"
    				dur="5s"
    				repeatCount="indefinite" />
    		</path>
    	<circle class="st1" cx="533.4" cy="281.6" r="5.3"/>
    	<path id="gear3" class="st4" d="M563.4,280.1c-0.2-4.1-1.2-8-2.9-11.5l4.1-1.9c-1.5-3.1-3.4-6-5.8-8.5l-3.3,3.1
    		c-2.7-2.9-6-5.3-9.6-7l1.9-4.1c-3.1-1.4-6.5-2.4-9.9-2.8l-0.6,4.5c-1.7-0.2-3.4-0.3-5.1-0.2c-2.3,0.1-4.6,0.5-6.7,1.1l-1.2-4.3
    		c-3.3,0.9-6.5,2.3-9.4,4.2l2.4,3.8c-3.4,2.2-6.3,5-8.5,8.3l-3.7-2.6c-2,2.8-3.5,6-4.5,9.2l4.3,1.3c-1,3.2-1.5,6.7-1.3,10.3
    		c0,0.5,0.1,1,0.1,1.6l-4.5,0.4c0.3,3.4,1.2,6.8,2.5,10l4.2-1.7c1.6,3.7,3.8,7.1,6.7,9.8l-3.2,3.2c2.5,2.4,5.3,4.5,8.3,6l2.1-4
    		c3.5,1.8,7.3,2.9,11.4,3.3l-0.4,4.5c1.4,0.1,2.8,0.1,4.3,0.1c2-0.1,4-0.4,6-0.8l-1-4.4c4-0.9,7.7-2.5,10.9-4.8l2.6,3.7
    		c2.8-2,5.3-4.4,7.4-7.1l-3.6-2.7c2.4-3.1,4.2-6.7,5.2-10.6l4.4,1.1c0.9-3.3,1-6.8,0.8-10.3L563.4,280.1z M553.2,280.6l-11.1,0.5
    		c-0.1-2.8-1.5-5.1-3.6-6.6l6.5-9C549.7,268.9,552.9,274.3,553.2,280.6z M537.1,281.3c0.1,2-1.5,3.7-3.5,3.8c-2,0.1-3.7-1.5-3.8-3.5
    		c-0.1-2,1.5-3.7,3.5-3.8C535.3,277.8,537,279.3,537.1,281.3z M532.6,261.7l0.5,11.1c-2.7,0.1-5.1,1.5-6.6,3.5l-9-6.5
    		C520.9,265.2,526.3,262,532.6,261.7z M513.7,282.4l11.1-0.5c0.1,2.7,1.5,5.1,3.5,6.6l-6.6,8.9C517.1,293.9,514,288.5,513.7,282.4z
    		 M533.7,301.3l0.6,0l-0.5-11.1c2.7-0.1,5.1-1.5,6.6-3.6l8.6,6.5c-3.4,4.7-9.4,7.8-15.4,8.1L533.7,301.3z">
    			<animateTransform id="gear3Anim"
    				attributeName="transform"
    				attributeType="XML"
    				type="rotate"
    				from="0 533.42 281.61"
    				to="360 533.42 281.61"
    				dur="5s"
    				repeatCount="indefinite" />
    		 </path>
    	<path id="Maingear" class="st4" d="M397,259.5c0-35.3-17.9-66.6-45-85.2l2.9-4.3c-2.3-1.6-4.7-3.1-7.1-4.5l-2.6,4.5
    		c-15.2-8.7-32.7-13.8-51.4-13.8c-16,0-31.1,3.7-44.7,10.2l-2.3-4.7c-2.5,1.2-5,2.5-7.4,3.9l2.6,4.5c-28.6,16.6-48.6,46.7-51.2,81.4
    		l-5.1-0.4c-0.2,2.7-0.2,5.5-0.2,8.2h5c0,0,0,0,0,0c0,35.3,17.8,66.5,44.9,85.2l-2.9,4.3c2.3,1.6,4.7,3.1,7.1,4.5l2.6-4.5
    		c15.2,8.8,32.8,13.8,51.5,13.8c16,0,31.1-3.6,44.6-10.1l2.3,4.7c2.5-1.2,5-2.5,7.4-3.9l-2.6-4.5c28.7-16.6,48.6-46.6,51.3-81.4
    		l5.3,0.4c0.2-2.8,0.5-5.6,0.5-8.4v0H397z M293.8,353.8c-52,0-94.2-42.3-94.2-94.2c0-52,42.3-94.2,94.2-94.2
    		c52,0,94.2,42.3,94.2,94.2C388,311.5,345.7,353.8,293.8,353.8z">
    			<animateTransform id="mainGearAnim"
    				attributeName="transform"
    				attributeType="XML"
    				type="rotate"
    				from="0 293.76 259.54"
    				to="360 293.76 259.54"
    				dur="13.5s"
    				repeatCount="indefinite" />
    		</path>
    </g>
    <g id="Heat">
    	<g>
    		<defs>
    			<rect id="heat2clip" x="386.5" y="36.5" width="30" height="50">
    			</rect>
    		</defs>
    		<clipPath id="heat2clipPath">
    			<use xlink:href="#heat2clip"  style="overflow:visible;"/>
    			<animateTransform id="heatClipAnim"
    				attributeName="transform"
    				attributeType="XML"
    				type="translate"
    				values="0,0;0,50"
    				dur="2s"
    				repeatCount="indefinite" />
    		</clipPath>
    		<path class="st8" id="heat2" d="M408.5,36.5c0,12.5-14,12.5-14,25c0,12.5,14,12.5,14,25c0,12.5-14,12.5-14,25s14,12.5,14,25">
    			<animateTransform id="heat2Anim"
    				attributeName="transform"
    				attributeType="XML"
    				type="translate"
    				values="8,-3;8,-53"
    				dur="2s"
    				repeatCount="indefinite" />
    		</path>
    	</g>
    	<g>
    		<defs>
    			<rect id="SVGID_3_" x="386.5" y="36.5" width="30" height="50">
    			</rect>
    		</defs>
    		<clipPath id="SVGID_4_">
    			<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
    			<animateTransform id="heatClipAnim"
    				attributeName="transform"
    				attributeType="XML"
    				type="translate"
    				values="0,0;0,50"
    				dur="2s"
    				repeatCount="indefinite" />
    		</clipPath>
    		<path class="st8" d="M408.5,36.5c0,12.5-14,12.5-14,25c0,12.5,14,12.5,14,25c0,12.5-14,12.5-14,25s14,12.5,14,25">
    			<animateTransform id="heatAnim"
    				attributeName="transform"
    				attributeType="XML"
    				type="translate"
    				values="0,0;0,-50"
    				dur="2s"
    				repeatCount="indefinite" />
    		</path>
    	</g>
    </g>
    </svg>
      </div>
