<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<?php
$_helper    = $this->helper('catalog/output');
if ($this->getCategoryId()):
  $collection = Mage::getModel('catalog/category')
  ->getCollection()
  ->addAttributeToFilter('parent_id', array('eq' => $this->getCategoryId()))
  ->addOrderField('position')
  ->addAttributeToSelect(array('name'));

  foreach ($collection as $index => $childCategory): ?>
  <div class="page-title category-title">
    <?php $category = Mage::getModel('catalog/category')->load($childCategory->getId())?>
    <h2><?php echo $category->getName(); ?><small><?php echo $category->getDescription() ?></small></h2>
  </div>
  <?php
  $block = $this->getLayout()->createBlock($this->getChildBlock(), "{$this->getName()}{$index}")->setTemplate($this->getChildTemplate())->setCategoryId($childCategory->getId())->append($this->getChild($this->getToolbarBlockName()))->setToolbarBlockName($this->getToolbarBlockName());
  $this->append($block);

  $layouts = $this->getColumnCountLayoutDepend();
  foreach ($layouts as $key => $value) {
    $block->addColumnCountLayoutDepend($key, $value);
  }

  $toolbar = $this->getChild($this->getToolbarBlockName());
  $ary = $this->getlimitByIndex();
  echo $block->toHtml();

endforeach;
endif;
?>
