body,
.popup-window .content-header {
    color: #555;
    font: 400 12px/1.33 'Open Sans', sans-serif;
    background: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #555;
    font-weight: 400;
}

a {
    display: inline;
    color: #ed652f;
    text-decoration: none;
}

a:visited {
    color: #ed652f;
}

a:focus,
a:hover,
a:active {
    color: #ff6d33;
    text-decoration: none;
}

strong,
b {
    font-weight: 600;
}

small {
    font-size: 12px;
    color: #555;
}

.header-top,
#nav,
.middle,
.footer-content,
.content-header-floating .content-header {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 960px;
    max-width: 1600px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.middle {
    background: #f6f6f6;
}

.content-header,
.content-header h3 {
    border: 0;
    color: #555;
    font-size: 24px;
    font-weight: 400;
}

.dashboard-container {
    border: none;
}

.columns {
    background: none;
}

.switcher {
    background: #fefefe;
    padding: 15px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.207843) 1px 1px 3px;
}

.side-col .switcher select {
    margin: 4px 0;
}

.entry-edit {
    margin-top: 10px;
}

.entry-edit .entry-edit-head h4 {
    color: #555;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300;
}

dl.accordion dt,
.entry-edit .entry-edit-head {
    background: #fefefe;
    color: #555;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.207843) 1px 1px 3px;
}

.entry-edit .entry-edit-head .tools {
    line-height: 32px;
}

.entry-edit .entry-edit-head .tools a:hover {
    text-decoration: none;
}

.box,
.entry-edit fieldset,
.entry-edit .fieldset {
    border: 0;
    background: #eee;
    border-top: 1px solid #ddd;
}

.grid table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.grid table.border {
    border: 1px solid #ddd;
}

.grid table td {
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px;
}

.grid table tfoot tr td {
    border: 1px solid #ddd;
    background: #fff;
}

.grid table.border tfoot tr td,
.grid tr.filter {
    background: #fff !important;
}

.grid tr.filter th {
    border: 1px solid #ddd;
    border-top: 0;
}

.grid tr.filter .range .range-line {
    width: 110px;
}

.grid tr.filter .range .label {
    font-weight: 600;
    width: 40px;
    padding: 4px;
}

.grid tr.filter .date img {
    padding: 4px;
}

.grid table tbody tr.selected td,
.grid table tbody tr:hover td,
.grid table tbody tr:nth-child(odd):hover td {
    background: #fff3e0;
}

.grid tr.headings {
    background: #ff6d33;
    border: 1px solid #ff6d33;
}

.grid tr.headings th {
    padding: 4px;
    font-size: 12px;
    vertical-align: middle;
    border: 1px solid #ff6d33;
}

.grid tr.headings th,
.grid tr.headings th a {
    color: #fff;
    font-weight: 400;
}

.grid tr.headings th a:hover {
    color: #ddd;
}

.grid tr.headings th.no-link {
    color: #fff;
    padding: 4px;
}

.grid tr.even td,
.grid tr.even tr td {
    background: #eee;
}

.grid tr.headings th a.sort-arrow-desc,
.grid tr.headings th a.sort-arrow-asc {
    background: #ed652f;
    border: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #ddd;
    border-radius: 2px;
    position: relative;
}

.grid tr.headings th a.sort-arrow-desc span.sort-title,
.grid tr.headings th a.sort-arrow-asc span.sort-title {
    background: none;
}

.grid tr.headings th a.sort-arrow-desc span.sort-title:after,
.grid tr.headings th a.sort-arrow-asc span.sort-title:after {
    content: "";
    display: block;
    position: absolute;
    right: 6px;
    bottom: 8px;
    width: 0;
    height: 0;
    border-style: solid;
}

.grid tr.headings th a.sort-arrow-asc span.sort-title:after {
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #ddd transparent;
}

.grid tr.headings th a.sort-arrow-desc span.sort-title:after {
    border-width: 6px 5px 0 5px;
    border-color: #ddd transparent transparent transparent;
}

.grid tbody.even tr td {
    background: #eee !important;
}

.grid tbody.odd tr td {
    background: #ff6d33 !important;
}

.grid td input.input-text {
    min-width: 80px;
}

.grid table td.first,
.grid table td.last {
    border-right: 1px solid #ddd;
}

.header {
    background: #272930;
}

.header-top {
    border: 0;
}

.header-top .logo {
    margin: 0;
    height: auto;
}

.header-right {
    font-size: 12px;
}

.header-right fieldset input.input-text {
    border: 0;
}

.footer {
    background: #eee;
    padding: 2.8em 0;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    font-size: 12px;
}

ul.tabs-horiz {
    background: none;
    margin: 0;
    padding: 0;
}

ul.tabs-horiz li {
    border: none;
    margin: 0 10px 0 0;
}

ul.tabs-horiz li a {
    background: #eee;
    color: #555 !important;
    font-size: 16px;
    font-weight: 300;
    padding: 9px 15px;
    border: 0;
}

ul.tabs-horiz li a.active {
    border: 0;
    background: #ff6d33;
    color: #fff !important;
}

#grid_tab_content {
    background: #fff;
    padding: 15px;
}

.nav-bar {
    background: #555;
    border: 0;
}


/* Admin Logo */

.header-top .logo {
    margin-top: 5px;
    float: left;
    text-decoration: none;
    display: inline-block;
}

.header-top .logo:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 109px;
    height: 35px;
    background-image: url('images/logo.svg');
    background-size: 109px 70px;
    background-repeat: no-repeat;
}

.header-top .logo:after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    content: attr(data-edition);
    font: 400 16px/1.33 'Open Sans', sans-serif;
    color: #ef672f;
    margin-top: -2px;
}

.header-top .logo span {
    clip: rect(0, 0, 0, 0);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.header-top .logo span.focusable:active,
.header-top .logo span.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

ul.config-tabs dt {
    color: #555;
    background: #fff;
    border: 0;
    font-weight: 300;
    text-transform: none;
    padding: 10px;
    font-size: 18px;
}

ul.tabs {
    background: none;
    color: #555;
    border-top: 0;
}

ul.tabs li {
    box-shadow: rgba(0, 0, 0, 0.207843) 1px 1px 3px;
}

ul.tabs dl {
    background: #ff6d33;
}

ul.tabs a {
    background: #fff;
    color: #555;
    padding: 8px 18px;
    border-bottom: 1px solid #eee;
}

ul.tabs a.active,
ul.tabs a:hover {
    background: #f4f4f4;
    color: #555;
    transition: background 0.3s ease-in-out;
}

ul.tabs a.active {
    border-left: 3px solid #ed652f;
    padding: 8px 18px;
    background: #eee;
    box-shadow: 0 1px 2px #ccc inset;
    border-bottom: 1px solid #eee;
}

ul.tabs a:hover.active {
    padding: 8px 18px;
}

ul.tabs span,
ul.tabs a.active span {
    background: none;
    padding: 0;
}

ul.tabs span,
ul.tabs a.active span,
ul.tabs a.active span,
ul.tabs a:hover.active span {
    background: none;
    font-weight: 400;
}

ul.config-tabs dt {
    border-top: 0;
    background: #ed652f;
    color: #fff;
}

dl.accordion dt,
div.collapseable {
    margin-top: 10px;
}

dl.accordion dt a,
div.collapseable a,
.entry-edit .entry-edit-head strong,
.entry-edit .entry-edit-head a,
dl.accordion dt a:hover,
div.collapseable a:hover,
dl.accordion dt.open a,
div.collapseable a.open {
    color: #555;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}

dl.accordion dt a,
div.collapseable a {
    position: relative;
    background: none;
}

dl.accordion dt a:after,
div.collapseable a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #888 transparent transparent transparent;
}

dl.accordion dt.open a,
div.collapseable a.open {
    background: none;
}

dl.accordion dt.open a:after,
div.collapseable a.open:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #888 transparent;
}

.section-config .config-advanced>.entry-edit-head.collapseable a:after,
.section-config .config-advanced>.entry-edit-head.collapseable a.open:after {
    border: none;
}

table.actions {
    padding: 15px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.207843) 1px 1px 3px;
}

table.actions td {
    vertical-align: middle;
}

.massaction {
    background: none;
    border: 0;
    font-size: 12px;
}

.massaction td {
    border-top: 0;
    padding: 10px;
}

.massaction .entry-edit .field-row label {
    vertical-align: middle;
}

.head-products,
.icon-head {
    background-position: left center;
}

.x-tree-node a,
.x-dd-drag-ghost a {
    font-size: 12px;
}

.x-tree-node a span,
.x-dd-drag-ghost a span {
    color: #555;
}

.x-tree-node .x-tree-selected a span {
    background: #ddd;
    color: #555;
}

.no-active-category a span {
    color: #999 !important;
}

.categories-side-col .tree-holder,
.categories-side-col .tree-actions {
    margin-right: 0;
}

.content-header-floating {
    opacity: .9;
}

.content-header-floating h3 {
    font-size: 18px;
}

.content-header-floating td {
    padding-right: 0;
}

.content-header h3 {
    margin: .3em;
    line-height: 32px;
}

#loading-mask {
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    color: #555;
    opacity: 1;
}

#loading-mask .loader {
    width: 160px;
    height: 100px;
    border: 0;
    opacity: .95;
    color: #555;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
}

.error,
a.error span,
.required,
.validation-advice {
    color: #FA4545 !important;
}

.content-header-floating {
    border-bottom: solid 1px #bdbdbd;
}

.content-header-floating .form-buttons {
    padding-right: 0;
}

.order-totals {
    background: #eee;
    border: 0 !important;
    border-top: 1px solid #ddd !important;
}

.order-choose-address,
.order-save-in-address-book {
    background: #fff;
}

.messages li {
    font-weight: 400 !important;
    font-size: 12px !important;
    padding: 10px 26px 10px 35px !important;
    min-height: inherit !important;
}

.messages ul li {
    margin: 0 !important;
}

.notice-msg,
.error-msg,
.success-msg,
.warning-msg {
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px 26px 10px 35px;
    position: relative;
    text-shadow: none;
}

.notice-msg {
    background-image: url(images/icon-notice.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #f9f5ec !important;
    background-position: 8px center !important;
    border: 1px solid #dfc97a !important;
    color: #555 !important;
}

.error-msg {
    background-image: url(images/icon-error.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #f3dcd8 !important;
    background-position: 8px center !important;
    border: 1px solid #963535 !important;
    color: #963535 !important;
}

.success-msg {
    background-image: url(images/icon-success.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #e4eecb !important;
    background-position: 8px center !important;
    border: 1px solid #ceceb6 !important;
    color: #185b00 !important;
}

.warning-msg {
    background-image: url(images/icon-notice.png) !important;
    background-repeat: no-repeat !important;
    background-size: 23px 23px !important;
    background-color: #fffbf0 !important;
    background-position: 8px center !important;
    border: 1px solid #d87e34 !important;
    color: #555 !important;
}

.links-feed {
    margin-top: 10px;
}

.link-feed {
    margin-right: 20px;
    font-size: .9em;
    text-decoration: none;
}

.options-box .option-header {
    background: none;
    border: 0;
}

.options-box .option-title {
    border-bottom: 1px solid #bebebe;
}

.options-box .option-box {
    background: #fff;
    border: 0;
}

.dialog table.table_window {
    background: #fff;
    border: 0;
}

.dialog table.table_window td,
.dialog table.table_window th {
    padding: 6px 0;
    vertical-align: middle;
}

.dialog table.table_window .fieldset td {
    vertical-align: top;
}


/* Login */

#page-login {
    background: #f6f6f6;
}

.login-container {
    background: #f6f6f6;
    width: 360px;
    margin: 100px auto;
}

.login-container.forgot-password {
    width: 500px;
}

.login-form {
    padding: 30px 25px;
    background: #eee;
}

.login-form h2 {
    font-weight: 600;
}

.login-form .input-box {
    margin-top: 12px;
}

.login-container .legal {
    font-size: 10px;
    background: none;
}

.login-form label {
    font-size: 16px;
    font-weight: 400;
    color: #555;
}

.login-form .input-box input.input-text {
    height: auto;
    width: 100%;
}

.login-form .form-buttons {
    text-align: left;
    margin: 12px 0;
}

.login-form .logo {
    float: none;
    display: block;
    width: 262px;
    height: 64px;
    text-indent: -999em;
    background: url(images/logo-magento.png) no-repeat;
    margin: 0 0 20px 0;
}

.login-form .logo-login {
    text-align: center;
}


/* Autocomplete */

div.autocomplete {
    border: 0;
    box-shadow: 0 3px 3px rgba(50, 50, 50, 0.15);
}

div.autocomplete ul li {
    color: #555;
}

div.autocomplete ul li.selected {
    background: #eee;
}

.config-heading {
    background-color: #fff;
    border: 0;
    margin: 4px 0 0;
}

.config-heading .button span {
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    text-shadow: none;
}

.section-config .section-config>.config {
    border: 0;
}

.section-config .section-config .section-config>.config,
.section-config .section-config .section-config .section-config .section-config>.config {
    background: #f8f8f8;
}

.section-config .section-config .section-config .section-config>.config {
    background: #fefefe;
}

.section-config .config-advanced>.config {
    padding: 10px;
}

.section-config .config-advanced>.entry-edit-head {
    border: 0;
    font-size: 14px;
    box-shadow: none;
}

.section-config .config-advanced>.entry-edit-head a:after {
    top: 5px;
}

.section-config .section-config>.entry-edit-head {
    border: 0;
}

.section-config .section-config>.entry-edit-head>a {
    background: none;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border: 0;
}

.with-button.active:after {
    background: none;
    margin: 0;
}

#payment_pphs_settings_advanced-head,
#payment_settings_payments_standart_advanced-head,
#payment_settings_ec_advanced-head {
    margin-bottom: 10px;
}

.wrapper-popup .content-header table {
    width: 90%;
}

.tier .data {
    width: 550px;
}

.tier .data select {
    width: auto;
}

.tier .data input.qty {
    width: 50px !important;
}

.grid-severity-notice,
.grid-severity-critical,
.grid-severity-major,
.grid-severity-minor {
    background: none;
    padding: 0;
    height: auto;
}

.grid-severity-notice span,
.grid-severity-critical span,
.grid-severity-major span,
.grid-severity-minor span {
    font: 400 12px/1.33 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 2px 10px;
}

.grid-severity-notice span {
    border: 0;
    background: #56af45;
    color: #fff;
}

.grid-severity-critical span {
    border: 0;
    background: #fa4040;
    color: #fff;
}

.grid-severity-major span,
.grid-severity-minor span {
    border: 0;
    background: #f0ad4e;
    color: #fff;
}

.rule-param .label {
    font-weight: 600;
}

.validation-advice {
    font-size: 12px;
    font-weight: 600 !important;
}

.custom-options .box {
    overflow: auto;
}

.custom-options .option-box {
    border: 0;
    background: #fff;
}

.custom-options .option-box .border {
    width: 700px;
}

.custom-options .option-header {
    background: #fff;
    border-bottom-color: #fff;
}

.bold {
    font-weight: 600 !important;
}

#address_form_container {
    margin-top: 0;
}

.sub-btn-set {
    border: 0;
    padding: 6px 10px;
    background: #eee;
    border-top: 1px solid #ddd;
}

.address-list li.on {
    background: #fff;
}

.no-display {
    display: none !important;
}

.header-top .logo-header {
    float: left;
    fill: #FFFFFF;
    margin-top: 10px;
    margin-left: 14px;
}

.header-top .link-admin p {
    color: #FFFFFF;
    float: left;
    margin-top: 23px;
    margin-left: 10px;
}

.header-top {
    height: 60px;
}

.notifications img, 
.notifications-trial img{
    max-width: 100%;
    height: auto;
    width: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.notifications ul li,
.notifications-trial ul li{
    list-style-type: none;
}
.notifications ul,
.notifications-trial ul{
    margin: 0;
    padding: 0;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}