/****************PARCELAS / BOLETO*********************/

.regular-price{
    float: none!important;
    display: inline-block!important;
}

.has_parcel .regular-price .price,
.has_parcel .special-price .price{
    font-size: 30px!important;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.regular-price .price {
    font-weight:normal;
    font-size:14px;
    line-height:25px;

}

.regular-price + .price-billet:before{
    content: "ou ";
}

.price-parcelado + .regular-price .price{
    color:#666;
    font-size: 14px!important;
}

.price-parcelado .price{
    font-size: 17px!important;
}

.price-billet{
    clear: both;
    margin: 5px 0 0 0px;
}
.price-billet .price {
    font-size: 22px!important;
    /*color: #000!important;*/
}
.price-billet .description{
    /*display: block;*/
    font-size: 11px!important;
}
.price-parcelado + .price-billet .description{
    display: inline;
}
.price-parcelado + .price-billet .price{
    font-weight: bold;
    font-size: 22px!important;
}
.price-parcelado + .price-billet:before {
  content: "ou";
  /*display: block;*/
  color: #000;
}



.has_parcel .price-parcelado:before{
    /*content: "em ";*/
}

.product-view .price-billet .price{
    font-size: 24px!important;
    font-weight: bold!important;
}
