<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$_blocoBotaoOrcamento = $this->getLayout()->createBlock('orcamento/button');
if ($_blocoBotaoOrcamento) {
    $_blocoBotaoOrcamento->setTemplate('jn2/orcamento/button.phtml');
}
?>
<?php if(!$_productCollection->count()): ?>
  <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
  <div class="category-products">
    <?php echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
      <?php $_iterator = 0; ?>
      <ol class="products-list" id="products-list">
        <?php foreach ($_productCollection as $_product): ?>
          <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>" id="the-<?php echo $_product->getId() ?>">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <?php // Product description ?>
            <div class="product-shop">
              <div class="f-fix">
                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                <?php echo $this->getLayout()->createBlock("colorselectorplus/listswatch")->setTemplate("colorselectorplus/listswatches.phtml")->setData('product', $_product)->toHtml(); ?>
                <?php if($_product->getRatingSummary()): ?>
                  <?php echo $this->getReviewsSummaryHtml($_product) ?>
                <?php endif; ?>
                <?php if ($_product->getTypeId() != 'orcamento'): ?>
                  <?php echo $this->getPriceHtml($_product, true) ?>
                <?php endif ?>
                <?php if ($_product->getTypeId() == 'orcamento'): ?>
                  <?php Mage::unregister('produto_orcamento') ?>
                  <?php Mage::register('produto_orcamento', $_product) ?>
                  <?php echo $_blocoBotaoOrcamento->setProduct($_product)->toHtml() ?>
                <?php elseif($_product->isSaleable()): ?>
                  <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                <?php else: ?>
                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                <div class="desc std">
                  <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                  <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                </div>
                <ul class="add-to-links">
                  <?php if ($this->helper('wishlist')->isAllow()) : ?>
                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                  <?php endif; ?>
                  <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                  <?php endif; ?>
                </ul>
              </div>
            </div>
          </li>
        <?php endforeach; ?>
      </ol>
      <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

      <?php // Grid Mode ?>

      <?php $_collectionSize = $_productCollection->count() ?>
      <?php $_columnCount = $this->getColumnCount(); ?>
      <?php
      if(Mage::getSingleton('cms/page')->getIdentifier() == 'home' && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') :
        $_columnCount = 4;
      endif; ?>
      <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
          <ul class="products-grid row">
          <?php endif ?>
          <li class="col-xs-12 col-sm-3" id="the-<?php echo $_product->getId() ?>">
            <div class="item <?php echo (($i-1)%$_columnCount==0)? "first" : "last" ?>">
              <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
              <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
              <?php echo $this->getLayout()->createBlock("colorselectorplus/listswatch")->setTemplate("colorselectorplus/listswatches.phtml")->setData('product', $_product)->toHtml(); ?>
              <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
              <?php endif; ?>
              <?php if ($_product->getTypeId() != 'orcamento'): ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
              <?php endif ?>
              <div class="actions">
                <?php if ($_product->getTypeId() == 'orcamento'): ?>
                  <?php Mage::unregister('produto_orcamento') ?>
                  <?php Mage::register('produto_orcamento', $_product) ?>
                  <?php echo $_blocoBotaoOrcamento->setProduct($_product)->toHtml() ?>
                <?php elseif($_product->isSaleable()): ?>
                  <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                <?php else: ?>
                  <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
              </div>

              <?php if ($this->helper('wishlist')->isAllow()) : ?>
                <ul class="add-to-links">
                  <li>
                    <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist">
                      <span class="label"><?php echo $this->__('Add to Wishlist') ?></span>
                      <img src="<?php echo $this->getSkinUrl("images/wish4.svg")?>" class="ico-wichlist svg"/>
                    </a>
                  </li>
                </ul>
              <?php endif; ?>


              <script type="text/javascript">

              /*
               * Replace all SVG images with inline SVG
               */

              jQuery(document).ready(function($){

                jQuery('img.svg').each(function(){
                    var $img = jQuery(this);
                    var imgID = $img.attr('id');
                    var imgClass = $img.attr('class');
                    var imgURL = $img.attr('src');

                    jQuery.get(imgURL, function(data) {
                        // Get the SVG tag, ignore the rest
                        var $svg = jQuery(data).find('svg');

                        // Add replaced image's ID to the new SVG
                        if(typeof imgID !== 'undefined') {
                            $svg = $svg.attr('id', imgID);
                        }
                        // Add replaced image's classes to the new SVG
                        if(typeof imgClass !== 'undefined') {
                            $svg = $svg.attr('class', imgClass+' replaced-svg');
                        }

                        // Remove any invalid XML tags as per http://validator.w3.org
                        $svg = $svg.removeAttr('xmlns:a');

                        // Check if the viewport is set, if the viewport is not set the SVG wont't scale.
                        if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                            $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
                        }

                        // Replace image with new SVG
                        $img.replaceWith($svg);

                    }, 'xml');

                });
              });
              </script>

            </div>
          </li>
          <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
          </ul>
        <?php endif ?>
      <?php endforeach ?>
      <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>

    <div class="toolbar-bottom">
      <?php echo $this->getToolbarHtml() ?>
    </div>
  </div>
<?php endif; ?>
