<?php
/**
 * Google Tag Manager Template
 *
 * @category    ShopGo
 * @package     Shopgo_GTM
 * @author      Ali Halabyah <ali@shopgo.me>
 * @copyright   Copyright (c) 2014 ShopGo
 * @license     http://opensource.org/licenses/osl-3.0.php Open Software License 3.0 (OSL-3.0)
 */
?>


<?php if (Mage::helper('gtm')->isGTMAvailable()): ?>
<!-- Google Tag Manager -->
<?php
// Render the data layer.
// echo $this->_getDataLayer();

// Render the container snippet.
$GTMContainerId =  $this->_getContainerId();
?>

<noscript data-footer-js-skip><iframe src="//www.googletagmanager.com/ns.html?id=<?php echo $GTMContainerId; ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager -->
<?php endif; ?>