<?php
/**
 * button.phtml
 *
 * @author Thiago Machado <thiagohenriqu3@gmail.com>
 * @version 1.0.0
 * @see Jn2_Orcamento_Block_Button
 */
?>
<button type="button" title="Comprar" class="button btn-cart" onclick="setLocation('<?php echo $this->getUrl() ?>')">
    <span><span><?php echo $this->__("Solicitar orçamento") ?></span></span>
</button>
