<?php
/**
* form.phtml
*
* @author Thiago Machado <thiagohenriqu3@gmail.com>
* @version 1.0.0
* @see Jn2_Orcamento_Block_Form
*/
?>


<div class="orcamento_form" id="formQuote">
  <form id="form_orcamento" action="<?php echo Mage::getUrl('orcamento') ?>">
    <input type="hidden" name="orcamento[sku]" value="<?php echo $this->getSku() ?>" />
    <input type="hidden" name="orcamento[produto]" value="<?php echo $this->getProduto() ?>" />
    <h3>Solicite orçamento</h3>
    <fieldset>
      <div class="form-group">
        <label for="orcamento[nome]"><em>*</em> Nome</label>
        <input type="text" name="orcamento[nome]" value="<?php echo $this->getNome() ?>" title="Nome" class="form-control required-entry" />
      </div>
      <div class="form-group">
        <label for="orcamento[email]"><em>*</em>E-mail</label>
        <input type="text" name="orcamento[email]" value="<?php echo $this->getEmail() ?>" title="E-mail" class="form-control required-entry validate-email" />
      </div>
      <div class="form-group">
        <label for="orcamento[telefone]"><em>*</em>Telefone</label>
        <input type="text" name="orcamento[telefone]" value="<?php echo $this->getTelefone() ?>" title="Telefone" class="form-control required-entry" mask="telefone" id="txttelefone" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
      </div>
      <div class="form-group">
        <label for="orcamento[cep]">CEP</label>
        <input type="text" name="orcamento[cep]" value="<?php echo $this->getCep() ?>" title="CEP" class="form-control" maxlength="8" id="zipcode" />
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="orcamento[cidade]">Cidade</label>
            <input type="text" name="orcamento[cidade]" value="<?php echo $this->getCidade() ?>" title="Cidade" class="form-control"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="orcamento[estado]">Estado</label>
            <select name="orcamento[estado]" title="Estado" class="select-estado form-control">
              <option value="" disabled="disabled" selected="selected">Selecione o Estado...</option>
              <option value="Acre">Acre</option>
              <option value="Alagoas">Alagoas</option>
              <option value="Amapá">Amapá</option>
              <option value="Amazonas">Amazonas</option>
              <option value="Bahia">Bahia</option>
              <option value="Ceará">Ceará</option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Espírito Santo">Espírito Santo</option>
              <option value="Goiás">Goiás</option>
              <option value="Maranhão">Maranhão</option>
              <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
              <option value="Mato Grosso">Mato Grosso</option>
              <option value="Minas Gerais">Minas Gerais</option>
              <option value="Paraná">Paraná</option>
              <option value="Paraíba">Paraíba</option>
              <option value="Pará">Pará</option>
              <option value="Pernambuco">Pernambuco</option>
              <option value="Piauí">Piauí</option>
              <option value="Rio Grande do Norte">Rio Grande do Norte</option>
              <option value="Rio Grande do Sul">Rio Grande do Sul</option>
              <option value="Rio de Janeiro">Rio de Janeiro</option>
              <option value="Rondônia">Rondônia</option>
              <option value="Roraima">Roraima</option>
              <option value="Santa Catarina">Santa Catarina</option>
              <option value="Sergipe">Sergipe</option>
              <option value="São Paulo">São Paulo</option>
              <option value="Tocantins">Tocantins</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="orcamento[comentario]">Comentários Adicionais</label>
        <textarea name="orcamento[comentario]" title="Comentários Adicionais" rows="4" class="form-control"></textarea>
      </div>
      <div class="required-fields">* Campos Obrigatórios</div>
      <div class="form-group">
        <button type="submit" class="button btn-cart"><span><span>Solicitar</span></span></button>
      </div>
    </fieldset>
  </form>
</div>
<script>
jQuery(function () {
  var estado = '<?php echo $this->getEstado() ?>';
  if (estado !== '') {
    jQuery('.select-estado').val(estado);
  }
});

var formOrcamento = new VarienForm('form_orcamento', true);
formOrcamento.submit = function(button, url) {
  if (this.validator.validate()) {
    if (button && button !== undefined) {
      button.disabled = true;
    }
  }
}
jQuery("#txttelefone").mask("(00) 0000-00009");
jQuery("#zipcode").mask("99999999");
</script>



