<?php
/**
* success.phtml
*
* @author Thiago Machado <thiagohenriqu3@gmail.com>
* @version 1.0.0
* @see Jn2_Orcamento_Block_Success
*/
?>
<div class="container quote-success">
  <div class="page-title">
    <h1><?php echo $this->__('Recebemos sua solicitação.') ?></h1>
  </div>
  <?php echo $this->getMessagesBlock()->toHtml() ?>
  <h2 class="sub-title"><?php echo $this->__('Iremos te retornar em instantes!') ?></h2>

  <div class="buttons-set">
    <a href="<?php echo Mage::getUrl('/') ?>" class="btn btn-back-to-store"><?php echo $this->__("&laquo Voltar para a loja") ?></a>
  </div>
</div>
