<?php
/**
 * JN2
 * @package: Jn2 Default Theme
 * @author: Igor Gottschalg <igorgottsweb@gmail.com>
 */

$isModuleJn2OrcamentoActive = Mage::helper( 'core' )->isModuleEnabled( 'Jn2_Orcamento' );
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper( 'catalog/output' );
$_labelHelper = Mage::helper( 'core' )->isModuleEnabled( 'Magebuzz_Productlabel' ) ? $this->helper( 'productlabel' ) : null;

$buttonEnable = Mage::getStoreConfig( "product_grid/general/show_button" );
$_blocoBotaoOrcamento = $this->getLayout()->createBlock( 'orcamento/button' );
if ($_blocoBotaoOrcamento) {
    $_blocoBotaoOrcamento->setTemplate( 'jn2/orcamento/button.phtml' );
}

// ESTA CONDIÇÃO TEM RELAÇÃO COM O MODULO CURTOMER PRICES - P00119-customerprices-Webtex_CustomerPrices
if (Mage::helper( 'core' )->isModuleEnabled( Webtex_Core )) {
    $_webtexHelper = Mage::helper( 'customerprices' );
}

?>

<?php if ($this->getShowCategory()): ?>
    <div class='category-title product-title category-title-<?php echo $this->getPosition() ?>'>
        <?php // Titulo da categoria ?>
        <?php $catName = explode( "|", $this->getCategory()->getName() ); ?>
        <?php if (count( $catName ) > 0): ?>
            <?php if (Mage::getStoreConfig( 'custom_home/general/use_h1' )): ?>
                <h1><?php echo $catName[0] ?></h1>
            <?php else: ?>
                <h2><?php echo $catName[0] ?></h2>
            <?php endif ?>
            <em><?php echo $catName[1] ?></em>
        <?php else: ?>
            <?php if (Mage::getStoreConfig( 'custom_home/general/use_h1' )): ?>
                <h1><?php echo $this->getCategory()->getName() ?></h1>
            <?php else: ?>
                <h2><?php echo $this->getCategory()->getName() ?></h2>
            <?php endif ?>
        <?php endif; ?>
        <a href="<?php echo $this->getCategory()->getUrl( $this->getCategory() ) ?>" class="view-more"><img
                    src="<?php echo $this->getSkinUrl( "images/link_bullet.png" ) ?>"/> ver todos</a>
    </div>
<?php endif ?>

<?php if ($_productCollection->count()): ?>
    <?php // Lista de produtos ?>
    <div class="category-products <?php echo $this->getIsCarousel() == true ? "carousel" : "" ?>">
        <?php $_collectionSize = $_productCollection->count() ?>


        <div class="products-grid <?php echo $this->getIsCarousel() == true ? "owl-carousel" : "" ?>"
             id="products-grid-<?php echo $this->getCategory()->getId() ?>">
            
            <?php /*Irá validar caso o produto seja do tipo orçamento,
          se o módulo de orçamento está ativo, caso não esteja, 
          o produto não será exibido.*/ ?>
            <?php foreach ($_productCollection as $_product): ?>
                
                <?php
                $showProduct = true;
                
                if ($_product->getTypeId() == 'orcamento') {
                    if ($isModuleJn2OrcamentoActive == false) {
                        $showProduct = false;
                    }
                }
                
                if ($showProduct) {
                    ?>

                    <div class="item">
                        <a href="<?php echo $_product->getProductUrl() ?>"
                           title="<?php echo $this->stripTags( $this->getImageLabel( $_product, 'small_image' ), null, true ) ?>"
                           class="product-image">
                            <div class="productlabel-wrap">
                                <?php if ($_labelHelper): ?>
                                    <?php echo $_labelHelper->getLabels( $_product, 'category' ) ?>
                                <?php endif; ?>
                                
                                <?php if (Mage::getStoreConfig( "custom_theme/general/tagpicture" )): ?>
                                    <picture>
                                        <source media="(min-width: 650px)"
                                                srcset="<?php echo $this->helper( 'catalog/image' )->init( $_product, 'small_image' )->resize( 500 ); ?>">
                                        <source media="(max-width: 480px)"
                                                srcset="<?php echo $this->helper( 'catalog/image' )->init( $_product, 'small_image' )->resize( 220 ); ?>">
                                        <?php echo $this->getLayout()->createBlock( 'Jn2_HoverImage_Block_Layout' )->setData( 'product', $_product )->setData( 'this', $this )->setData( 'resize', 500 )->toHtml() ?>
                                    </picture>
                                <?php else: ?>
                                    <?php echo $this->getLayout()->createBlock( 'Jn2_HoverImage_Block_Layout' )->setData( 'product', $_product )->setData( 'this', $this )->setData( 'resize', 500 )->toHtml() ?>
                                <?php endif; ?>

                            </div>
                        </a>
                        <h3 class="product-name">
                            <a href="<?php echo $_product->getProductUrl() ?>"
                               title="<?php echo $this->stripTags( $_product->getName(), null, true ) ?>">
                                <?php $prod_name = $_helper->productAttribute( $_product, $_product->getName(), 'name' ); ?>
                                <?php
                                $count_str = strlen( trim( $prod_name ) );
                                //echo $count_str;
                                if ($count_str < 45) {
                                    echo $prod_name;
                                } else {
                                    $offset = 0;
                                    $length = 46;
                                    $prod_name = html_entity_decode( $prod_name );
                                    echo htmlentities( mb_substr( $prod_name, 0, $length, 'utf-8' ) ) . "...";;
                                }
                                ?>
                            </a>
                        </h3>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml( $_product, 'short' ) ?>
                        <?php endif; ?>
                        
                        <?php if ($_product->getTypeId() != 'orcamento'): ?>
                            <a href="<?php echo $_product->getProductUrl() ?>"
                               title="<?php echo $this->stripTags( $_product->getName() ) ?>" class="price-box-link">
                                <?php echo $this->getPriceHtml( $_product, true ) ?>
                            </a>
                        <?php endif; ?>
                        
                        <?php if ($this->helper( 'wishlist' )->isAllow()) : ?>
                            <a href="<?php echo $this->helper( 'wishlist' )->getAddUrl( $_product ) ?>"
                               class="link-wishlist" title="<?php echo $this->__( 'Add to Wishlist' ) ?>">
                                <svg xml:space="preserve" style="enable-background:new 0 0 28 26;" viewBox="0 0 28 26"
                                     y="0px" x="0px" alt="Favoritos" class="ico-favoritos" version="1.1">
                    <g transform="matrix(0.94178753,0,0,0.94178753,0.81497463,0.75804236)" class="border">
                        <path d="M 20,0 C 17.6,0 15.5,1.1 14,2.7 12.5,1.1 10.4,0 8,0 3.6,0 0,3.6 0,8 0,20 14,26 14,26 14,26 28,20 28,8 28,3.6 24.4,0 20,0 Z"
                              class="heart"/>
                    </g>
                  </svg>
                            </a>
                        <?php endif; ?>
                        
                        <?php if ($buttonEnable == 1): ?>
                            
                            <?php if (!$_webtexHelper || ($_webtexHelper && $_webtexHelper->isShowListBlock( $_product ))): ?>
                                <?php if (Mage::helper( 'core' )->isModuleEnabled( 'Amasty_Giftregistry' )) : ?>
                                <!--Inicio do botão de "Adicionar a lista de presente" dentro das categorias-->
                                <?php
                                $_registryUrl = $this->helper( 'amgiftreg' )->getAddUrl( $_product );
                                ?>
                                <?php if ($_registryUrl): ?>
                                <?php
                                $listEvents = $this->helper( 'amgiftreg' )->getListEvents();
                                ?>
                                <li>
                                    <a href="<?php echo $_registryUrl ?>" class="amgiftreg link-registry"
                                       onclick="return am_add_to_list(this.href)"><?php echo $this->helper( 'amgiftreg' )->__( 'Add to Registry' ) ?></a>
                                    <?php if (count( $listEvents ) > 1): ?>
                                        <br>
                                        <select id="event" name="event" style="margin: 5px;"
                                                onchange="am_add_to_list('<?php echo $_registryUrl ?>')">
                                            <option value=""><?php echo $this->__( 'Select ...' ) ?></option>
                                            <?php foreach ($listEvents as $l): ?>
                                                <option value="<?php echo $l->getId() ?>"><?php echo $this->htmlEscape( $l->getEventTitle() ) ?></option>
                                            <?php endforeach ?>
                                        </select>
                                    <?php endif; ?>
                                </li>
                            <?php endif; ?>

                                <!--FIM do botão de "Adicionar a lista de presente" dentro das categorias-->
                            
                            <?php if ($_registryUrl) : ?>
                                <script>
                                    function am_add_to_list(lnk) {
                                        var f = $('product_addtocart_form');
                                        var selectEvent = $('event');

                                        if (selectEvent && selectEvent.value == '') {
                                            selectEvent.show();
                                            return false;
                                        }
                                        console.log(f);
                                        if (f) {
                                            f.action = lnk;
                                            productAddToCartForm.submit();
                                        }
                                        else
                                            document.location.href = lnk;

                                        return false;
                                    }
                                </script>
                            <?php endif; ?>
                            <?php endif ?>
                            
                            <?php if ($_product->isSaleable()): ?>
                            <?php if ($_product->getTypeId() == 'orcamento'): ?>
                                <?php Mage::unregister( 'produto_orcamento' ) ?>
                                <?php Mage::register( 'produto_orcamento', $_product ) ?>
                                <?php echo $_blocoBotaoOrcamento->setProduct( $_product )->toHtml() ?>
                            <?php else: ?>
                            
                            <?php
                            $qtyEnable = Mage::getStoreConfig( "product_grid/general/show_qty" );
                            if ($qtyEnable == 1): ?>
                                <div class="qty-wapper">
                                    <div class="qty-input">
                                        <button type="button" class="btn-minus">-</button>
                                        <input class="input-number" type="text" name="qty" value="1">
                                        <button type="button" class="btn-plus">+</button>
                                    </div>
                                </div>
                            <?php endif; ?>

                                <button type="button" title="<?php echo $this->__( 'Add to Cart' ) ?>"
                                        class="button btn-cart"
                                        onclick="jn2.addItems('<?php echo Mage::helper( 'checkout/cart' )->getAddUrl( $_product ) ?>', this)">
                                    <?php echo $this->__( 'Add to Cart' ) ?>
                                </button>
                            <?php endif; ?>
                            
                            <?php else: ?>
                                <p class="availability out-of-stock">
                                    <span><?php echo $this->__( 'Out of stock' ) ?></span></p>
                            
                            <?php endif; ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                    <?php
                }
                ?>
            <?php endforeach ?>
        </div>


    </div>
    
    <?php if ($this->getIsCarousel() == true): ?>
        
        <?php
        $carousel_slideby = Mage::getStoreConfig( "custom_home/general/config_carousel_slideby" );
        $carousel_loop = Mage::getStoreConfig( "custom_home/general/config_carousel_loop" );
        $carousel_dots = Mage::getStoreConfig( "custom_home/general/config_carousel_dots" );
        $carousel_nav = Mage::getStoreConfig( "custom_home/general/config_carousel_nav" );
        $carousel_items = Mage::getStoreConfig( "custom_home/general/config_carousel_items" );
        
        $carousel_items_xs = Mage::getStoreConfig( "custom_home/general/config_carousel_items_xs" );
        $carousel_items_xs_2 = Mage::getStoreConfig( "custom_home/general/config_carousel_items_xs_2" );
        $carousel_items_sm = Mage::getStoreConfig( "custom_home/general/config_carousel_items_sm" );
        $carousel_items_md = Mage::getStoreConfig( "custom_home/general/config_carousel_items_md" );
        $carousel_items_lg = Mage::getStoreConfig( "custom_home/general/config_carousel_items_lg" );
        
        ?>


        <script type="text/javascript">
            //<![CDATA[
            jQuery(document).ready(function ($) {
                $(window).load(function () {
                    $('#products-grid-<?php echo $this->getCategory()->getId() ?>').owlCarousel({
                        
                        <?php echo ($carousel_loop == 1) ? 'loop: true,' : 'loop: false,'; ?>
                        <?php echo ($carousel_dots == 1) ? 'dots: true,' : 'dots: false,'; ?>
                        <?php echo ($carousel_nav == 1) ? 'nav: true,' : 'nav: false,'; ?>
                        slideBy:<?php echo $carousel_slideby; ?>,
                        items: <?php echo $carousel_items; ?>,

                        navText: ['<img src="<?php echo $this->getSkinUrl( 'images/slider_b_left.png' );?>"/>', '<img src="<?php echo $this->getSkinUrl( 'images/slider_b_right.png' );?>" />'],

                        singleItem: false,
                        margin: 0,
                        responsive: {
                            0: {items: <?php echo $carousel_items_xs; ?> },
                            480: {items: <?php echo $carousel_items_xs_2; ?> },
                            768: {items: <?php echo $carousel_items_sm; ?> },
                            992: {items: <?php echo $carousel_items_md; ?> },
                            1200: {items: <?php echo $carousel_items_lg; ?> }
                        },
                        autoplay: true,
                        lazyLoad: true,
                        onInitialized: function () {
                            $(document).trigger("owl-carousel-initialized", ['#products-grid-<?php echo $this->getCategory()->getId() ?>']);
                        }
                    });
                })
            });
            //]]>
        </script>
    <?php endif; ?>
<?php endif; ?>
