<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="row">
  <div class="row">
    <?php
    /**
    * Banners home for mobile App
    */
    echo $this->getChildHtml('mobile_home_banner');
    ?>
  </div>
</div>
<?php
  /**
  * Products for Home
  */
  echo $this->getChildHtml('products');
?>
