<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>

<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
$zoomenabled = Mage::getStoreConfig('color_selector_plus/zoom/enabled');
$theSizes = Mage::helper('colorselectorplus')->getImageSizes();
$galleryPath = '';
$galleryImages = $this->getGalleryImages();
$outputHelper = $this->helper('catalog/output');
?>

<div id="loadingImage" style="display:none;">Loading... </div>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
  <?php
  if (count($galleryImages) > 0):
    foreach ($galleryImages as $_image):
      if ($_image->getFile() == $_product->getData('image')):
        $galleryPath = $this->getGalleryUrl($_image);
      endif;
    endforeach;
  endif;
  ?>
<?php else: ?>
  <?php $_img = '<img src="' . $this->helper('catalog/image')->init($_product, 'image')->resize($theSizes['base']['width'], $theSizes['base']['height']) . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" />'; ?>
<?php endif; ?>

<?php if (count($galleryImages) > 0): ?>
  <div class="more-views media-slider" id="media-slider">
    <?php if ($zoomenabled): ?>
      <?php foreach ($galleryImages as $_image): ?>
        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile())->resize(400) ?>"/>
      <?php endforeach; ?>
    <?php else: ?>
      <?php foreach ($galleryImages as $_image): ?>
        <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(400); ?>"/>
      <?php endforeach; ?>
    <?php endif; ?>
  </div>
<?php endif; ?>
