<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = Mage::helper('core')->quoteEscape($this->__('Add to Cart')); ?>
<?php if($_product->isSaleable()): ?>
  <div class="add-to-cart">
    <?php if(!$_product->isGrouped()): ?>
      <div class="hidden-xs hidden-sm qty-wrapper">
        <label for="qty"><?php echo $this->__('Quantidade') ?></label>
        <div class="qty-wrapper-input">
          <div class="btn-minus">-</div>
          <input type="text" pattern="\d*(\.\d+)?" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
          <div class="btn-plus">+</div>
        </div>
      </div>
    <?php endif; ?>
    <div class="add-to-cart-buttons">
      <button type="button" title="<?php echo $buttonTitle ?>" class="btn-addtocart" id="btn-addtocart" onclick="productAddToCartForm.submit(this)">
        <?php echo $buttonTitle ?>
      </button>

      <?php if ($this->helper('wishlist')->isAllow()) : ?>
        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="btn link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>">
          <svg  xml:space="preserve" style="enable-background:new 0 0 28 26;" viewBox="0 0 28 26" y="0px" x="0px" alt="Favoritos" class="ico-favoritos"  version="1.1">
            <g transform="matrix(0.94178753,0,0,0.94178753,0.81497463,0.75804236)" class="border">
              <path d="M 20,0 C 17.6,0 15.5,1.1 14,2.7 12.5,1.1 10.4,0 8,0 3.6,0 0,3.6 0,8 0,20 14,26 14,26 14,26 28,20 28,8 28,3.6 24.4,0 20,0 Z" class="heart"/>
            </g>
          </svg>
          <?php echo $this->__('Add to Wishlist') ?>
        </a>
      <?php endif; 
      if(Mage::getStoreConfig('amgiftreg/general/active')){
          echo $this->getLayout()->createBlock('core/template')->setTemplate('amasty/amgiftreg/rewrite/catalog_product_view.phtml')->toHtml();
      }
      ?>

      <?php echo $this->getChildHtml('', true, true) ?>

    </div>
  </div>
<?php endif; ?>
