<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
$theSizes = Mage::helper('colorselectorplus')->getImageSizes();

$config_resizer = Mage::getStoreConfig('product_page/resizer');
$cfg_rszr = explode('x',$config_resizer['base']);
$baseImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 736,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 600);
$cfg_rszr = explode('x',$config_resizer['mobile']);
$mobileImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 480,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 480);
$cfg_rszr = explode('x',$config_resizer['thumb']);
$thumbImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 73.6,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 100);
$cfg_rszr = explode('x',$config_resizer['zoom']);
$zoomSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 1540,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 1540);
$index = 0;
?>

<div class="productlabel-wrap">
  <?php echo Mage::helper('productlabel')->getLabels($_product, 'product')?>

  <div class="product-image owl-carousel ">
    <?php foreach ($this->getGalleryImages() as $image): ?>
      <?php if ($this->isGalleryImageVisible($_image)): ?>
        <div class="easyzoom easyzoom--overlay">
          <a data-zoom-image="<?php echo $this->helper('catalog/image')->init($_product, 'image', $image->getFile())->resize($zoomSize['x'], $zoomSize['y']) ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'image', $image->getFile())->resize($zoomSize['x'], $zoomSize['y']) ?>" data-lightbox="<?php echo $_product->getName() ?>">
            <img
            data-src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $image->getFile())->resize($baseImageSize['x'], $baseImageSize['y']) ?>"
            src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $image->getFile())->resize($thumbImageSize['x'],$thumbImageSize['y'] ) ?>"
            alt="<?php echo $this->htmlEscape($image->getLabel()) ?>" class="img-responsive"
            />
          </a>
        </div>
      <?php endif; ?>
    <?php endforeach ?>
  </div>
</div>
<div class="galery-legend">
  <img src="<?php echo $this->getSkinUrl("images/zoom-image.png") ?>" alt="" />  <span><?php echo $this->__("Clique na imagem para ampliar") ?></span>
</div>

<?php if (count($this->getGalleryImages()) > 0): ?>
  <div class="more-views">
    <?php foreach ($this->getGalleryImages() as $image): ?>
      <?php if ($this->isGalleryImageVisible($_image)): ?>
        <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(75); ?>"
        width="75" height="75" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" />
      <?php endif; ?>
    <?php endforeach; ?>
  </div>
<?php endif; ?>
