<?php
/**
*
* @category   Inovarti
* @package    Inovarti_Pagarme
* @author     Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<h3>FALTA POUCO! AGORA É SÓ PAGAR O BOLETO</h3>
<div class="col-xs-12 col-md-6 box-info-payments">
  <?php if(trim($this->getBoletoUrl()) != false): ?>

    <button
    onclick="window.open('<?php echo $this->getBoletoUrl() ?>')"
    title="<?php echo $this->__('Click here to print your Boleto') ?>"
    class="btn btn-print-billet"
    type="button">

    <span><?php echo $this->__('Imprimir Boleto') ?></span>

  </button>
<?php else: ?>

  <?php echo $this->__('Your Boleto is being generated and will be ready soon') ?>

<?php endif ?>

<ul class="list-info">
  <li>Atenção:
  </li>
  <li>
    * Não será enviado uma cópia impressa do boleto para seu endereço de email.
  </li>
  <li>
    * Desabilite o recurso anti pop-up caso você use.</li>
  </ul>

</div>

<div class="col-xs-12 col-md-6 box-info-payments">
  <ul class="list-info">
    <li>
      * Data de vencimento: verifique a data de vencimento do boleto. Caso não seja pago até a data informada, o pedido será automaticamente cancelado.
    </li>
    <li>
      * Prazo de entrega: é contado a partir da confirmação de pagamento pelo banco, o que pode levar até 3 dias úteis.
    </li>
    <li>
      * Pagamento: pode ser feito pela internet ou telefone, utilizando o código de barras, ou diretamente em bancos, lotéricas e correios, apresentando o boleto impresso.</li>
    </ul>
  </div>
