<?php
$bannerGroupCode = $this->getBannerGroupCode();
$data = $this->getDataByGroupCode($bannerGroupCode);
$bannerGroupData = $data['group_data'];
$mediaDir = Mage::getBaseDir('media');
$bannerData = $data['banner_data'];
$bannerdest = (($bannerGroupData->getLinkTarget() == 0) ? '_blank' : '_self');
$bannerType = $bannerGroupData->getAnimationType();
$bannerWidth = $bannerGroupData->getBannerWidth();
$bannerHeight = $bannerGroupData->getBannerHeight();
$imageWidth = ((int) $bannerWidth - 3);
$imageHeight = ((int) $bannerHeight - 3);
$styleWH = 'width: ' . $imageWidth . 'px; height: ' . $imageHeight . 'px;';
$duration = Mage::getStoreConfig('banner/banner/banner_time_delay');
$autoplay = Mage::getStoreConfig('banner/banner/banner_autoplay');
$durat = $duration / 1000;
$styleMBWH = 'width: ' . $bannerWidth . 'px; height: ' . ((int) $bannerHeight + 20) . 'px;';
?>
<div class="bx-wrapper">
    <ul id="bxslider-<?php echo $bannerGroupCode; ?>">
        <?php
        $i = 0;
        foreach ($bannerData as $banner):
            $bannerPath = $banner->getFilename();
            $bannerLink = $banner->getLink();
            $bannerContent = $banner->getBannerContent();
            $bannerTitle = $banner->getTitle();
            $i++;
            $bannerType = $banner->getBannerType();
            if ($bannerType == 0) :
                $bannerImage = '';
                if ($bannerPath != '' && @file_exists($mediaDir . DS . $bannerPath)) :
                    $bannerImage = $this->getResizeImage($bannerPath, $bannerGroupCode, $imageWidth, $imageHeight);
                endif;
                if ($bannerImage != '') :
                    $i++;
                    $v = "imgpps" . $i;
                    ?>
                    <li><a href="<?php echo (($bannerLink) ? $bannerLink : 'javascript:'); ?>" <?php echo (($bannerLink) ? 'target="' . $bannerdest . '"' : ''); ?> title="<?php echo $bannerTitle; ?>"><img id="<?php echo $v; ?>" class="slide-banner-img" src="<?php echo $bannerImage; ?>" alt="<?php echo $bannerTitle; ?>" /></a></li>
                    <?php
                endif;
            else:
                ?>
                <li class="slide-banner-txt"><a href="<?php echo (($bannerLink) ? $bannerLink : 'javascript:'); ?>" title="<?php echo $bannerTitle; ?>" <?php echo (($bannerLink) ? 'target="' . $bannerdest . '"' : ''); ?>><?php echo $bannerContent; ?></a></li>
            <?php endif;
        endforeach;
        ?>
    </ul>
</div>