<div class="price-billet">  
      <span class="price" data-price='<?php echo $this->original_price; ?>' data-billetdiscount='<?php echo $this->billet_discount; ?>'>R$<?php echo $this->end_price; ?></span>
      <span class="description"><?php echo $this->description; ?></span>  
</div>
