/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

// Cores gerais
$default-text-color: #000;
$secundary-text-color: #ff0000;
$default-color-segment: $secundary-text-color;
$color-segment: #ffd797;
$menu-max-level: 6;
// Fontes desktop
$primary-desktop-font: 'Roboto Condensed',
sans-serif;
$secund-desktop-font: 'Roboto',
sans-serif;
// Fontes Mobile
$primary-mobile-font: 'Roboto Condensed',
sans-serif;
$secund-mobile-font: 'Roboto',
sans-serif;
// Header
$header-topbar-background: #121212;
$header-topbar-color: #a0a0a0;
$header-background: #010101;
$header-simple-border-color: #202020;
$header-block-skip-links-border-color: #ddd;
$header-mobile-cart-itens-cout-background: #ffd797;
$header-cart-actions-border-color: #ddd;
$header-search-content-background: #fff;
$header-search-content-border-color: #202020;
$header-form-search-input-color: #666;
$header-form-search-input-border-color: #ddd;
// Cores do Rodape
$footer-background: #090909;
$footer-border-color: #161616;
$footer-links-color: #FFF;
// Cores do botões
$button-default-background-color: #000;
$button-default-font-color: #fff;
$button-default-background-color-hover: #ffd797;
$button-default-font-color-hover: #000;
$button-add-cart-background:#c27700;
$button-add-cart-color:#fff;
$button-outline-border:#000;
$button-outline-color:#000;
// Cores grid de produtos
$grid-border-color: #eee;
$grid-border-hover-color: #eda83b;
$price-color: #eda83b;
$default-text-color: #000;
// Cores do Menu
$menu-background: #121212;
$menu-color:#fff;
$menu-background-hover:#fff;
$menu-border-color: #202020;
$menu-link-hover-color: #c78a3e;
$menu-layered-background: rgba(0, 0, 0, 0.5);
$btn-hamburger-color: #000;
// breadcrumbs
$link-color: #000;
$link-hover-color: #000;
$non-link-color: #000;
// Inputs
$input-focus-shadow: #000;
$input-focus-border-color: #000;
// login
$login-frame-background: #efefef;
// Tela de registro
$title-required-color: #ff0000;
$tipodepessoa-checked-background: #000;
$tipodepessoa-checked-color: #fff;
// Product product_page
$product-page-product-name-color: #000;
$product-page-product-name-ref-color: #666;
$product-page-image-pagination-border-color: #000;
$product-page-image-pagination-border-color-active: $color-segment;
$product-page-price-old: #666;
$product-page-price-special: #c7a472;
$product-page-price-regular: #c7a472;
$product-page-price-instalments: #000;
$product-page-options-row-border-color: #ccc;
$product-page-qty-btn-color: #000;
$product-page-qty-btn-color-hover: #ff0000;
$product-page-installment-value-price-color:#88785f;
$product-page-bundle-price-color:$price-color;
// reviews$unchecked-star: '\2606';
$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;
//customer menu
$customer-menu-background-hover:#FFEBCB;
$customer-menu-color-hover:rgba(185, 125, 12, 0.78);