/**
* JN2
* @package: Jn2 Moda Clean Theme
* @author:
*/

// Cores gerais
$default-text-color: #000;
$secundary-text-color: #ff0000;

$default-color-segment:#f40071;
$default-color-segment-flat:#fdd29a;

$menu-max-level: 6;

// Fontes desktop
$primary-desktop-font: 'Roboto', serif;
$secund-desktop-font: 'Roboto', sans-serif;

// Fontes Mobile
$primary-mobile-font: 'Roboto Condensed', sans-serif;
$secund-mobile-font: 'Roboto', sans-serif;

// Header
$header-topbar-background: #121212;
$header-topbar-color: #888;
$header-background: #121212;
$header-simple-border-color: #ddd;
$header-block-skip-links-border-color: #ddd;
$header-mobile-cart-itens-cout-background: $default-color-segment-flat;
$header-cart-actions-border-color: #ddd;

$header-search-content-background: #121212;
$header-search-content-border-color: #010101;
$header-search-border-color: transparent;
$header-search-button:transparent;

$header-form-search-input-color: #a5a5a5;
$header-form-search-input-border-color: rgba(0,0,0,0);


// Cores do Rodape
$footer-background: #121212;
$footer-border-color: #1c1c1c;
$footer-links-color: #fff;
$footer-button-send-color:#c78a3e;

// Cores do botões
$button-default-background-color: #000;
$button-default-font-color: #fff;
$button-default-background-color-hover: $default-color-segment-flat;
$button-default-font-color-hover: #fff;
$button-add-cart-background:$default-color-segment-flat;
$button-add-cart-color:#fff;
$button-outline-border:#000;
$button-outline-color:#000;

//Home
$home-pitbar-background-color:#000;

// Cores grid de produtos
$grid-border-color: #eee;
$grid-border-hover-color: $default-color-segment-flat;
$price-color: #c78a3e;
$default-text-color: #000;

// Cores do Menu
$menu-background: #121212;
$menu-color:#fff;
$menu-background-hover:#fff;
$menu-border-color: #ddd;
$menu-link-hover-color: #c78a3e;
$menu-layered-background: rgba(0,0,0,0.5);
$btn-hamburger-color: $default-color-segment-flat;

// breadcrumbs
$link-color: #000;
$link-hover-color: #000;
$non-link-color: #000;

// Inputs
$input-focus-shadow: #000;
$input-focus-border-color: #000;

// login
$login-frame-background: #efefef;

// Tela de registro
$title-required-color: #c78a3e;
$tipodepessoa-checked-background: #000;
$tipodepessoa-checked-color: #fff;


// Product product_page
$product-page-product-name-color: #000;
$product-page-product-name-ref-color: #666;
$product-page-image-pagination-border-color: #000;
$product-page-image-pagination-border-color-active: #c78a3e;
$product-page-price-old: #666;
$product-page-price-special: #c78a3e;
$product-page-price-regular: #c78a3e;
$product-page-price-instalments: #000;
$product-page-options-row-border-color: #ccc;
$product-page-qty-btn-color: #000;
$product-page-qty-btn-color-hover: #c78a3e;


// reviews$unchecked-star: '\2606';
$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;
