<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php $_product = $this->getProduct(); ?>
<?php $_options = Mage::helper('core')->decorateArray($this->getOptions()); ?>
<?php if ($_product->isSaleable()):?>
  <?php if (count($_options)): ?>
    <div class="bundle">
      <?php foreach ($_options as $_option): ?>
        <?php if (!$_option->getSelections()): ?>
          <?php continue; ?>
        <?php endif; ?>
        <?php echo $this->getOptionHtml($_option) ?>
      <?php endforeach; ?>
    </div>
  <?php else: ?>
    <p><?php echo $this->__('No options of this product are available.') ?></p>
  <?php endif; ?>
<?php endif;?>
