<?php
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Onestepcheckout
 * @author     Suporte <suporte@inovarti.com.br>
 */
?>
<div id="onestepcheckout-title">
    <h1><?php echo $this->getTitle(); ?></h1>
    <p id="onestepcheckout-title-description" class="onestepcheckout-title-description form-instructions"><?php echo $this->getDescription(); ?></p>
</div>
