<?php
/**
* JN2
*/
?>
<header class="theme7">

  <div class="row top-bar bar">
    <div class="container">

      <div class="col-md-6 offset-0">
        <?php echo $this->getChildHtml('topSearch') ?>
      </div>


      <div class="content-nav col-md-6 text-right offset-0 hidden-xs hidden-sm">

        <div class="customer-links col-md-10">
          <?php echo $this->getChildHtml('customer_header');?>
        </div>
        <div class="col-md-2 offset-0">
          <?php echo $this->getChildHtml('cart_header') ?>
        </div>

      </div>

    </div>
  </div>

  <div class="row bottom-bar">

    <div class="container container-bottom">

      <div class="col-md-3 col-xs-4 col-sm-4 logo-wrapper">
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
          <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive center-block" />
        </a>
      </div>

      <div class="col-md-9 hidden-xs hidden-sm menu-wrapper">
        <menu>
          <div class="row">
            <div class="">
              <?php echo $this->getChildHtml('topMenu') ?>
            </div>
          </div>
        </menu>
      </div>

      <?php echo $this->getChildHtml('navMobile') ?>

    </div>
  </div>
</header>



    <?php if($this->getChildHtml('pitbar')):?>
      <?php echo Mage::helper("header")->getBlock(3) ?>
    <?php endif;?>
