<?php
/**
* JN2
*/
?>
<header class="theme8">


  <div class="bar hidden-xs hidden-sm">
    <div class="container">

      <div class="col-md-6 offset-0">
        <div class="block-header-2">
          <?php echo Mage::helper("header")->getBlock(2); ?>
        </div>
      </div>
      <div class="col-md-6 text-right  pull-right offset-0">
        <div class="customer-links">
          <?php echo $this->getChildHtml('customer_header');?>
        </div>


      </div>
    </div>
  </div>

  <div class="container row-logo">

    <div class="col-md-3 col-xs-4 col-sm-4 text-center">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive" /></a>
    </div>
    <div class="col-md-6 ">
      <div class="block-header-1">
        <?php echo Mage::helper("header")->getBlock(1) ?>
      </div>
      <?php echo $this->getChildHtml('topSearch') ?>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm text-right offset-0">
      <?php echo $this->getChildHtml('cart_header') ?>
    </div>
    <?php echo $this->getChildHtml('navMobile') ?>
  </div>
</header>

<menu>
  <div class="row">
    <div class="">
      <?php echo $this->getChildHtml('topMenu') ?>
    </div>
  </div>
</menu>
