<?php
/**
* JN2
*/
?>
<header class="theme6">


  <div class="bar hidden-xs hidden-sm">
      <div class="container">
      <div class="col-md-6 text-left">
        <div class="block-position-1">
          <?php echo Mage::helper("header")->getBlock(1) ?>
        </div>
        <div class="block-position-2">
          <?php echo Mage::helper("header")->getBlock(2) ?>
        </div>
      </div>

      <div class="col-md-6 text-right  offset-0">
        <div class="customer-links">
          <?php echo $this->getChildHtml('customer_header');?>
        </div>


    </div>
    </div>
  </div>

  <div class="container row-logo">

    <div class="col-md-3 col-xs-4 col-sm-4 text-center">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive" /></a>
    </div>
    <div class="col-md-6 ">
      <?php echo $this->getChildHtml('topSearch') ?>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm text-right offset-0">
        <?php echo $this->getChildHtml('cart_header') ?>
    </div>


      <?php echo $this->getChildHtml('navMobile') ?>


  </div>
</header>

<menu>
  <div class="row">
    <div class="">
      <?php echo $this->getChildHtml('topMenu') ?>
    </div>
  </div>
</menu>




    <script type="text/javascript">
    $j = jQuery.noConflict();
    $j(document).ready(function($){


      $(function(){
          var lastScrollTop = 0, delta = 5;
          $(window).scroll(function(event){
             var st = $(this).scrollTop();

             if(Math.abs(lastScrollTop - st) <= delta)
                return;

             if (st > lastScrollTop){
                 $('menu').slideUp();
                $('.product-shop').animate({marginTop: 0 }, 10);
             } else {
                // upscroll code
                $('menu').slideDown();
                //$('.product-shop').animate({marginTop: $('menu').outerHeight() }, 10);
                console.log('scroll up');
             }
             lastScrollTop = st;
          });
      });

      $('header').scrollToFixed({
        marginTop: -32,
        zIndex:9999
      });
      $('menu').scrollToFixed({
        marginTop: $('header').outerHeight() - 32,
        zIndex:999
      });


    });
    </script>
