.container{
  max-width: 1200px;
}
.home-banners{
  .tree-columns{
    .col-sm-4{
      img{
        width: 100%;
      }
    }
  }
}
footer {
    .footer-3{
        .newsletter{
          .newsletter-form{
                .btn{
                    &:hover{
                        background-color: #4e4e4e;
                    }
                }
            }
        }
    }
}


.products-grid {
  .item {
    text-align: center;
    .product-name {
      @media only screen and (min-width : $screen-sm) {
        text-align: center;
      }
      a{
        @media only screen and (min-width : $screen-sm) {
          font-weight: 300;
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .price-box-link {
      .price-box{
        .price-billet{
          @media only screen and (min-width : $screen-sm) {
            text-align: center;
          }
        }
      }
    }
  }
}
