/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.cms-index-index{

  .home-3,
  .home-4,
  .home-5,
  .home-6,
  .home-7,
  .home-8,
  .home-9,
  .home-10,
  .home-11{
    margin: 30px 0;
  }

  .home-5,
  .home-6,
  .home-7 {
    margin: 0;
  }


  // Banner principal
  .home-1{
    .owl-nav {
      margin-top: -40px;
      top: 50%;
      text-align: center;
      position: absolute;
      width: 100%;
      display: none;

      @media only screen and (min-width : $screen-md) {
        margin-top: -20px;
        display: block;
      }

      .owl-prev, .owl-next{
        position: absolute;
        color: #FFF;
        display: inline-block;
        zoom: 1;
        margin: 5px;
        padding: 0;
        opacity: 1;
        font-size: 12px;
        border-radius: 50%;
        background: $third-color;
        width: 42px;
        height: 42px;
        @include transition(all 0.3 ease);

        &:hover{
          background: #0000005e;
          @include transition(all 0.3 ease);
        }

        img{
          display: table;
          margin: auto;
          margin-top: 10px;
          width: 11px;
          @include transform(scale(0.6));
        }
      }
      .owl-prev{
        left: 24px;

        img{
          @include transform(translateX(-3px));
        }
      }
      .owl-next{
        right: 24px;
        img{
          @include transform(translateX(3px));
        }
      }
    }
    .owl-dots{
      margin-top: 15px;
      text-align: center;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: none;
      }

      .owl-dot{
        background: #e5e5e5;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;

        &.active{
          background: #ff0000;
        }
      }
    }
  }

  // Pitbar
  .home-2{
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;

    .flex-grid{
      display: inline-block;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .column{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 20px 34px;
        float: left;

        @media only screen and (min-width : $screen-xs) {
          width: 50%;
          max-width: 49%;
          padding: 20px 34px;
          min-height: 80px;
        }
        @media only screen and (min-width : $screen-md) {
          width: auto;
          padding: 0px 34px;
          min-height: auto;
        }
        img{
          display: table;
          margin: 0 auto;
        }
      }
    }


  }
//Como Funciona
  .home-3{
    border-bottom: 0px solid #eee;
    padding: 0;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    background: #ebebeb;
    margin-top: 0;
    margin: 0;
    margin-bottom: -2px;

    .col-sm-6 {

        padding: 6em;

      h3 {
        font-size: 32px;
        color: #3a3a3b;
        font-weight: bold;
        font-family: $primary-desktop-font;
      }

    p {
      margin-top: 3rem;
      color: #7d7d7d;
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 3rem;
      font-family: $primary-desktop-font;

      span {
        color: #6f6f6f;
        font-weight: 500;
      }
    }

      a {
        margin: 0;
        width: auto;
        background: transparent;
        border: 3px solid #f17f80;
        border-radius: 7px;
        padding: 1rem 3rem;
        font-family: $primary-desktop-font;
        color: #f17f80;
      }
    }

    .col-sm-6.col-2 {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }

    .flex-grid{
      display: inline-block;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .column{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 20px 34px;
        float: left;

        @media only screen and (min-width : $screen-xs) {
          width: 50%;
          max-width: 49%;
          padding: 20px 34px;
          min-height: 80px;
        }
        @media only screen and (min-width : $screen-md) {
          width: auto;
          padding: 0px 34px;
          min-height: auto;
        }
        img{
          display: table;
          margin: 0 auto;
        }
      }
    }


  }

  .home-4{
      margin: 0 !important;
    background: url(/media/wysiwyg/back3.png);

    .owl-carousel{
      display: block !important;
    }
  }

  .home-5, .home-2{
    border-bottom: 0px solid #eee;
    margin: 60px 0;
    display: inline-block;
    width: 100%;
    background: #fff;

    h3{
      font-size: 32px;
      margin-bottom: 2rem;
      color: #231f20;
      font-weight: normal;
      font-family: "Open Sans",sans-serif;
      text-align: center;
      width: 100%;
      display: block;
    }

    h2 {
      font-size: 18px;
      margin-bottom: -16px;
      color: #00000080;
      font-weight: normal;
      font-family: "Open Sans",sans-serif;
      text-align: center;
      width: 100%;
    }

    h4 {
      text-align: center;
      color: #00000094;
      font-weight: bold;
    }


    .curso {
      padding: 6rem;
      /* min-height: 53rem;*/
      text-align: center;

      .btn-cursos {
        background: white;
        border-radius: 7px;
        padding: 1rem 3rem;
        color: #585858;
        font-size: 16px;

        &:hover{
          background: #536074;
          color: #fff;
          text-decoration: none;
        }
      }

      em.fa {
        font-size: 39px;
        color: #fff;
        background: #0000006e;
        padding: 1.5rem;
        border-radius: 56px;
        width: 70px;
        height: 70px;
        line-height: 43px;
      }

      ul {
        margin: 3rem 0;
        margin-bottom: 5rem;

        li {
          font-family: "Open Sans",sans-serif;
          margin: 1rem 0;
          font-size: 15px;
          font-weight: bold;
          background: #00000029;
          color: white;
          padding: 1rem;
          text-align: center;
        }
      }
    }

    .col-1{
      .curso{
        background: #d9c35f;
        background-image: url(/media/wysiwyg/patternPersonal.png);
      }
    }
    .col-3{
      .curso{
        background: #ef6d57;
        background-image: url(/media/wysiwyg/patternCEO4.png);
      }
    }
    .col-2{
      .curso{
        background: #5fb3b9;
        background-image: url(/media/wysiwyg/patternProfessional.png);
      }
    }

    .col-sm-4 {

      @media screen and (max-width: $screen-md){
        margin-bottom: 3rem;
      }
    }




    .col-sm-6 {

      h3 {
        font-size: 32px;
        color: #231f20;
        font-weight: normal;
        font-family: $primary-desktop-font;
      }

      p {
        margin-top: 3rem;
        color: rgba(0, 0, 0, 0.5215686274509804);
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 5rem;
        font-family: $primary-desktop-font;
      }

      a {
        width: 199px;
        background: #f17f7f;
        border: 3px solid #f17f80;
        border-radius: 7px;
        padding: 1.5rem 2rem;
        color: #ffffff;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 19px;
        margin-top: 5rem;
        letter-spacing: 1px;

        &:hover{
          background: #536074;
          border: 3px solid #525f74;
          text-decoration: none;
        }
      }
    }

    .col-sm-6.col-2 {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }

    .flex-grid{
      display: inline-block;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .column{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 20px 34px;
        float: left;

        @media only screen and (min-width : $screen-xs) {
          width: 50%;
          max-width: 49%;
          padding: 20px 34px;
          min-height: 80px;
        }
        @media only screen and (min-width : $screen-md) {
          width: auto;
          padding: 0px 34px;
          min-height: auto;
        }
        img{
          display: table;
          margin: 0 auto;
        }
      }
    }


  }

  .home-8{
    background: #aca9d0;
    padding: 6em;
    margin: 0;

      h3 {
        font-size: 32px;
        color: #231f20;
        font-weight: normal;
        font-family: $primary-desktop-font;
        margin-bottom: 4rem !important;
        text-align: center;
      }

      p {
        margin-top: 3rem;
        color: rgba(0, 0, 0, 0.5215686274509804);
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 0;
        font-family: $primary-desktop-font;
      }

      a {
        margin: 0;
        width: auto;
        background: transparent;
        border: 3px solid #fff;
        border-radius: 7px;
        padding: 1rem 3rem;
        color: #fff;
      }
  }

  //Vantagens
  .home-9{
    border-bottom: 0px solid #eee;
    padding: 0;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-top: 0;
    margin: 0;
    margin-bottom: -2px;

    .col-2 {
      background-repeat: no-repeat !important;
      background: url(/media/wysiwyg/framework.png);
      height: 100%;
      min-height: 59rem;
      background-position: bottom;

      @media only screen and (max-width : $screen-md) {
        min-height: 26rem;
        background-position: bottom;
        background-size: contain;
      }
    }

    .col-sm-6 {

      padding: 6em;

      h3 {
        font-size: 32px;
        color: #3a3a3b;
        font-weight: normal;
        font-family: $primary-desktop-font;
      }

      p {
        margin-top: 3rem;
        color: #7d7d7d;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 3rem;
        font-family: $primary-desktop-font;

        span {
          color: #6f6f6f;
          font-weight: 500;
        }
      }

      a {
        margin: 0;
        width: auto;
        background: transparent;
        border: 3px solid #f17f80;
        border-radius: 7px;
        padding: 1rem 3rem;
        color: #f17f80;
      }

      ul {
        padding-left: 1em;

        li {
          font-family: $primary-desktop-font;
          margin-top: 3rem;
          color: #7486ce;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 3rem;
          list-style-type: disc;
        }
      }
    }

    .col-sm-6.col-2 {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }

    .flex-grid{
      display: inline-block;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .column{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 20px 34px;
        float: left;

        @media only screen and (min-width : $screen-xs) {
          width: 50%;
          max-width: 49%;
          padding: 20px 34px;
          min-height: 80px;
        }
        @media only screen and (min-width : $screen-md) {
          width: auto;
          padding: 0px 34px;
          min-height: auto;
        }
        img{
          display: table;
          margin: 0 auto;
        }
      }
    }


  }

  .three-columns{
    margin: 0 -15px;
    width: calc(100% + 30px);
    display: inline-block;

    .col-1,
    .col-2,
    .col-3{
      // TODO
    }

    img{
      width: 100%;
    }
  }

  .two-column{
    .col-1,
    .col-2{

      img{
        width: 100%;
      }
    }

  }

  .category-title{
    font-family: $primary-mobile-font;
    margin: 30px 0;
    border-bottom: 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;

    @media only screen and (min-width : $screen-sm) {
      font-family: $primary-desktop-font;
      border-bottom: 1px solid #eee;
      letter-spacing: 1px;
    }

    h2{
      padding: 10px 0px 10px 0px;
      position: relative;
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      width: 100%;
      letter-spacing: 4px;
      text-transform: uppercase;

      @media only screen and (min-width : $screen-sm) {
        font-size: 28px;
        text-align: left;
        width: auto;
      }
    }

    i, em{
      margin-left: 10px;
      font-size: 24px;
      display: none;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 100;

      @media only screen and (min-width : $screen-sm) {
        font-size: 28px;
        display: inline-block;
      }
    }

    .view-more{
      font-family: $primary-desktop-font;
      font-size: 12px;
      color: #000;
      margin-top: 25px;
      float: right;
      display: none;
      text-transform: lowercase;

      @media only screen and (min-width : $screen-sm) {
        display: block;
      }

      img{
        float: left;
        margin: 5px;
      }
    }
  }

  .home-product-carousel{
    .category-products{
      width: 100%;
      display: inline-block;


      @media only screen and (min-width : $screen-sm) {
        width: calc(100% + 30px);
        margin: 0 -15px;
      }


      &.carousel{
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 0 40px;

        @media only screen and (min-width : $screen-sm) {
          padding: 0 0px;
          margin: 0 -10px;
          width: calc(100% + 10px);
        }
        .owl-item{
          // padding: 10px;
          .item{
            width: calc(100% - 10px) !important;
            margin: 0 5px 20px 5px;
          }
        }
      }
      .owl-nav {
        margin-top: -40px;
        margin-left: -40px;
        top: 50%;
        text-align: center;
        position: absolute;
        width: calc(100% + 80px);
        display: none;

        @media only screen and (min-width : $screen-sm) {
          display: block;
          margin-top: -20px;
          margin-left: -35px;
          width: calc(100% + 100px);
        }

        .owl-prev, .owl-next{
          position: absolute;
          color: #FFF;
          display: inline-block;
          zoom: 1;
          margin: 5px;
          padding: 3px 10px;
          font-size: 12px;
          border-radius: 30px;
          background: transparent;
          opacity: 0.5;

          &:hover{
            opacity: 1;
          }
        }
        .owl-prev{
          left: 5px;
        }
        .owl-next{
          right: 5px;
        }
      }

      .owl-dots{
        margin-top: 15px;
        text-align: center;
        width: 100%;

        @media only screen and (min-width : $screen-md) {
          display: none;
        }

        .owl-dot{
          background: #e5e5e5;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          margin: 2px;

          &.active{
            background: #ff0000;
          }
        }
      }
    }
  }

}
