/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.products-grid {
    position: relative;
    margin-bottom: 20px;
    list-style: none;
    float: left;
    width: 100%;
    padding: 0 20px;
    @media only screen and (min-width: $screen-md) {
        padding: 0px;
    }
    &.owl-carousel {
        padding: 0px;
        .item {
            margin-bottom: 0px !important;
            width: 100% !important;
        }
    }
    .item {
        float: left;
        overflow: hidden;
        border-bottom: 1px solid $grid-border-color;
        margin: 0 8px 20px 8px;
        padding-bottom: 10px;
        text-align: center;
        position: relative;
        @media only screen and (min-width: $screen-sm) {}
        @media only screen and (min-width: $screen-md) {
            text-align: left;
        }
        @media only screen and (min-width: $screen-lg) {}
        &:hover {
            box-shadow: none;
            border-color: $grid-border-hover-color;
            .link-wishlist {
                display: block;
            }
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        .product-image {
            display: block;
            border: 0;
            width: 100%;
            height: auto;
            text-align: center;
            position: relative;
            overflow: hidden;
            padding: 5px 5px 15px 5px;
            img {
                width: 100%;
                display: inline-block;
            }
        }
        .product-info {
            width: 100%;
            float: left;
        }
        .link-wishlist {
            position: absolute;
            right: 8px;
            top: 5px;
            padding: 4px 5px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            &:hover {
                svg {
                    opacity: 1;
                    .heart {
                        fill: #ff0000;
                        stroke: #ff0000;
                    }
                }
            }
            svg {
                width: 16px;
                height: 16px;
                @media only screen and (min-width: $screen-md) {
                    width: 12px;
                    height: 12px;
                    opacity: .5;
                }
                .border {
                    fill: #666;
                    stroke: #666;
                    stroke-opacity: 1;
                    fill-opacity: 1
                }
                .heart {
                    fill: transparent;
                    stroke: #666;
                    stroke-opacity: 1;
                    fill-opacity: 1;
                }
            }
        }
        .product-name {
            font-family: $primary-mobile-font;
            padding: 10px 0 0 0 !important;
            text-align: center;
            margin-bottom: 5px;
            text-transform: capitalize !important;
            @media only screen and (min-width: $screen-md) {
                text-align: left;
                font-family: $primary-desktop-font;
            }
            a {
                font-family: $primary-mobile-font;
                font-size: 16px;
                color: $default-text-color;
                font-weight: normal;
                text-decoration: none;
                text-transform: capitalize !important;
                font-weight: normal;
                text-align: center;
                @media only screen and (min-width: $screen-md) {
                    font-family: $primary-desktop-font;
                    text-align: left;
                }
                &:hover {
                    color: $default-text-color !important;
                }
            }
        }
        .product-shop {
            position: static;
        }
        .price-box-link {
            .col-xs-6 {
                width: 100%;
                padding: 0;
            }
            .price-box {
                font-family: $secund-desktop-font;
                color: $default-text-color !important;
                overflow: hidden;
                margin: 0 0 8px;
                width: 100% !important;
                font-size: 14px;
                .old-price {
                    margin-top: 4px;
                    margin-bottom: 2px;
                    margin-right: 10px;
                    width: auto;
                    display: inline-block;
                    line-height: 16px;
                    @media only screen and (min-width: $screen-md) {
                        line-height: 20px;
                    }
                    .price-label {
                        display: none;
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-old;
                        font-size: 11px;
                        text-decoration: line-through;
                        font-weight: lighter;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 13px;
                        }
                    }
                }
                .special-price,
                .regular-price {
                    margin-bottom: 4px;
                    width: auto;
                    display: inline-block;
                    line-height: 16px;
                    @media only screen and (min-width: $screen-md) {
                        line-height: 20px;
                        margin: 6px 0;
                    }
                    .price-label {
                        display: none;
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-special;
                        font-size: 16px;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 20px;
                        }
                    }
                }
                .price-parcelado {
                    margin-bottom: 4px;
                    width: 100%;
                    float: left;
                    @media only screen and (min-width: $screen-md) {}
                    .product-only {
                        display: inline-block;
                        font-size: 11px;
                        color: $product-page-price-instalments;
                        margin-right: 5px;
                        font-weight: lighter;
                        display: none;
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-special;
                        font-size: 16px;
                        margin-right: 5px;
                        font-weight: lighter;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 16px;
                        }
                    }
                }
                .price-billet {
                    display: inline-block;
                    font-size: 11px;
                    color: $product-page-price-instalments;
                    margin-right: 5px;
                    width: 100%;
                    float: left;
                    line-height: 16px;
                    text-align: center;
                    @media only screen and (min-width: $screen-md) {
                        font-weight: lighter;
                        font-size: 14px;
                        text-align: left;
                    }
                    .description {
                        display: inline-block;
                        font-size: 11px;
                        color: $product-page-price-instalments;
                        margin-right: 0 0 0 5px;
                    }
                    .price {
                        font-family: $primary-mobile-font;
                        color: $product-page-price-special;
                        font-size: 14px;
                        margin-right: 5px;
                        font-weight: lighter;
                        display: inline-block;
                        @media only screen and (min-width: $screen-md) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.products-grid .item .btn-cart {
    background-color: $button-default-background-color;
}