<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<?php
$_category  = Mage::registry('current_category');
if ($_category && $_imgUrl = $_category->getImageUrl()):
  ?>
  <div class="category-image">
    <img src="<?php echo $_imgUrl ?>" alt="<?php echo $this->escapeHtml($_category->getName()) ?>" title="<?php echo $this->escapeHtml($_category->getName()) ?>" class="responsive" />
  </div>
<?php endif; ?>
