/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
*/



/**
Banner Home Principal TOP 1170x440
*/

#ibanners-banner_home_top{
    margin-bottom: 25px;
}
#ibanners-banner_home_top-wrapper{
    height:auto;
    width: 100%;
    float:left;
    clear:both;    
}

#ibanners-banner_home_top-wrapper li.slide{
    display:block;
    overflow:hidden;
    height:auto;
    width:100%;
}

.bx-wrapper {
    margin: 0 auto 20px;
}

.bx-wrapper .bx-viewport {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: none !important;
    box-shadow: none !important;
    left: auto !important;
}


/**
Banner Home Bottom 370x180
*/

#ibanners-banner_home_right-wrapper,
#ibanners-banner_home_middle-wrapper,
#ibanners-banner_home_left-wrapper{
    float: left;
/*    height: 180px;*/
    margin: 20px 2% 50px 0;
    width: 32%;
    overflow:hidden;
}

#ibanners-banner_home_right-wrapper{
    margin-right:0;
}

#ibanners-banner_home_right-wrapper li.slide,
#ibanners-banner_home_middle-wrapper li.slide,
#ibanners-banner_home_left-wrapper li.slide{
    display:block;
    overflow:hidden;
/*    height:180px;
    width:370px;*/
    float:left;
}

/*
#ibanners-banner_home_left-wrapper li.slide ul li.banner{
    float: left;
    //height: 270px;
    margin-bottom: 32px;
    margin-right: 17px;
    overflow: hidden;    
}*/

#ibanners-banner_home_right-wrapper li.slide img,
#ibanners-banner_home_middle-wrapper li.slide img,
#ibanners-banner_home_left-wrapper li.slide img{
/*     width: 270px;    
     height:150px;*/
     width:100%;
}

#ibanners-banner_home_right-wrapper li.slide,
#ibanners-banner_home_middle-wrapper li.slide,
#ibanners-banner_home_left-wrapper li.slide{
/*    clear:left;*//*Bug não rotaciona*/
}

/**
Banner list
*/

/*
#ibanners-banner_list-wrapper li.slide li.banner{
    float:left;
    margin:0 17px;
}
#ibanners-banner_list-wrapper li.slide li.banner{
    width:120px;
    height:55px;
    overflow:hidden;
}
#ibanners-banner_list-wrapper li.slide li.banner img{
    width: 120px;
}
*/


/*no controls on these banners*/
#ibanners-banner_home_left-wrapper .bx-controls,
#ibanners-banner_home_middle-wrapper .bx-controls,
#ibanners-banner_home_right-wrapper .bx-controls{
    display:none;
}

.bx-controls{
    position:relative;    
} 

.bx-controls .bx-pager{         
/*    background: none repeat scroll 0 0 $cor-primaria;*/
    bottom: 0;
    left: 0;
    padding: 8px 0 4px;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 3;
    
}

.bx-controls .bx-pager .bx-pager-item{
    display: inline-block;
    margin-right: 4px;
    overflow: hidden;
    position: relative;    
    line-height: 1em;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link{
    border:0;
    border-radius:50%;
    padding: 0px;
    display:inline-block;
    height:13px;
    width:13px;
    background-color:#fff;
    color:transparent;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link.active{    
    background-color:#333;
}

.bx-controls-direction{
    display:none;
}



