<?php
/**
 * Shipping Estimate extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomDev
 * @package    EcomDev_ProductPageShipping
 * @copyright  Copyright (c) 2011 EcomDev BV (http://www.ecomdev.org)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
 */

/**
 * Estimate shipping results
 *
 */
/* @var $this EcomDev_ProductPageShipping_Block_Estimate_Result */
?>
<div class="block block-shipping-estimate block-shipping-results ">

    <?php //echo Mage::helper('ecomdev_productpageshipping')->__('Shipping Rates') ?>

    <div class="block-content">
        <?php if ($this->getResult()):?>
            <dl>
                <?php foreach ($this->getResult() as $code => $_rates): ?>
                    <!--<dt><?php //echo $this->getCarrierName($code) ?></dt>-->
                    <dd>
                        <ul>
                            <?php foreach ($_rates as $_rate): ?>
                                <li>
                                    <?php if ($_rate->getErrorMessage()): ?>
                                        <?php Mage::log(print_r("{$_rate->getErrorMessage()} - CEP: {$this->getRequest()->getParam('estimate')['postcode']}",1)); ?>
                                    <?php else: ?>
                                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                        <?php if (strpos($_excl,'price'))echo $_rate->getMethodTitle() ?>
                                        <?php echo $_excl; ?>
                                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                            (<?php echo Mage::helper('ecomdev_productpageshipping')->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                        <?php endif; ?>
                                    <?php endif ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </dd>
                <?php endforeach; ?>
            </dl>
        <?php else: ?>
            <?php echo $this->getMessagesBlock()->toHtml(); ?>
            <span><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></span>
        <?php endif;?>
    </div>
</div>