<?php
/**
 * JN2
 * @package: Jn2 Default Theme
 * @author: Igor Gottschalg <igorgottsweb@gmail.com>
 * @author: Diogo Siqueira <diogovsi@gmail.com>
 */
?>
<?php if ($this->hasValidGroup()): ?>
    <?php $group = $this->getGroup() ?>
    <?php $banners = $this->getBanners() ?>
    <?php $time = time(); ?>
    <div id="<?php echo $this->getWrapperId() . $time ?>" class="owl-carousel <?php echo $this->getWrapperClass() ?>">
        <?php foreach ($banners as $banner): ?>
            <div id="ibanner-<?php echo $banner->getId() ?>" class="item">
                <?php if ($banner->getImageUrl()): ?>
                    <?php if ($banner->hasUrl()): ?>
                        <a href="<?php echo $banner->getUrl() ?>" title="<?php echo $this->escapeHtml( $banner->getTitle() ) ?>"<?php if ($banner->getUrlTarget()): ?> target="<?php echo $banner->getUrlTarget() ?>"<?php endif; ?>>
                    <?php endif; ?>
                    <?php
                    $width = $this->getWidth();
                    $height = $this->getHeight();
                    # $banner->getResizedImageUrl($width, $height);
                    #$url = $banner->getImageUrl();
                    # if ($height || $width) {
                    
                    $url = $banner->getImageUrl( $width, $height );
                    $small_url = $banner->getSmallImageUrl();
                    $medium_url = $banner->getMediumImageUrl();
                    #}
                    ?>
                    <picture>
                        <?php if ($small_url): ?>
                            <source srcset="<?php echo $small_url; ?>" media="(max-width: 768px)">
                        <?php endif; ?>
                        <?php if ($medium_url): ?>
                            <source srcset="<?php echo $medium_url; ?>" media="(max-width: 992px)">
                        <?php endif; ?>
                        <source srcset="<?php echo $url; ?>">
                        <img class='fallback-img' data-src="<?php echo $url; ?>"
                             alt="<?php echo $this->escapeHtml( $banner->getAltText() ) ?>" style='max-width: 100%;'>
                    </picture>
                    <?php if ($banner->hasUrl()): ?>
                        </a>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if ($banner->getHtml()): ?>
                    <div class="html"><?php echo $banner->getHtml() ?></div>
                <?php endif; ?>
            </div>
        <?php endforeach; ?>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function ($) {
            $('#<?php echo $this->getWrapperId() . $time ?>').owlCarousel({
                loop: true,
                nav: true,
                navText: ['<img src="<?php echo $this->getSkinUrl( 'images/slider_banner_left.png' );?>"/>', '<img src="<?php echo $this->getSkinUrl( 'images/slider_banner_right.png' );?>" />'],
                dots: true,
                singleItem: <?php echo $group->getCarouselVisibleSlides() ? "true" : "false" ?>,
                autoplay: <?php if ($group->getCarouselAuto()): ?>true<?php else: ?>false<?php endif; ?>,
                autoplayTimeout:<?php
                if ($group->getCarouselDuration() == '1' || empty( $group->getCarouselDuration() )) {
                    echo 8000;
                } else {
                    echo $group->getCarouselDuration() * 1000;
                } ?>,
                //autoplayHoverPause:true,
                lazyLoad: true,
                responsive: {
                    // breakpoint from 0 up
                    0: {
                        items: <?php echo $group->getCarouselVisibleSlidesSmall() ? $group->getCarouselVisibleSlidesSmall() : $group->getCarouselVisibleSlides() ?>,
                    },
                    // breakpoint from 768 up
                    768: {
                        items: <?php echo $group->getCarouselVisibleSlidesMedium() ? $group->getCarouselVisibleSlidesMedium() : $group->getCarouselVisibleSlides() ?>,
                    },
                    // breakpoint from 992 up
                    992: {
                        items: <?php echo $group->getCarouselVisibleSlides() ?>,
                    }
                }
            });
        });
        //]]>
    </script>
<?php endif; ?>
