<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php $currentCategory = Mage::registry('current_category') ?>



<?php if (count($_categories) > 0): ?>

<div class="container">
  <div class="row">
    <div class="col-xs-12">


        <div class="content-mega-menu container">
            <ul class="nav nav-justified">

                <?php foreach($_categories as $_category): ?>

                <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>

                <?php $collection = Mage::getModel('catalog/category')->getCollection()->addPathsFilter($_category->getPath().'/')->addAttributeToFilter('is_active', 1)->addAttributeToFilter('level',$_category->getLevel() + 2)?>



                    <li  class="level0 menu-item <?php echo (count($_category->getChildrenCategories()) > 0) ? "" : "without-subcategories" ?><?php if ($collection->getSize()>0) :?> grandchild  <?php else: ?> no-grandchild <?php endif ?>">

                        <a href="<?php echo $_helper->getCategoryUrl($_category) ?>" class="item-link">
                          <?php if ($_category->getIcon()): ?>
                            <div style="background-image:url(<?php echo Mage::getBaseUrl('media').'catalog/category/'.$_category->getIcon() ?>);" class="ico-cat">&nbsp;</div>
                            <!--<img src='<?php //echo Mage::getBaseUrl('media').'catalog/category/'.$_category->getIcon() ?>' class="ico-cat"/>-->
                          <?php endif ?>
                            <?php echo $_category->getName() ?>
                        </a>

                        <?php $_subcategories = $_category->getChildrenCategories() ?>




                        <?php if (count($_subcategories) > 0): ?>

                                <?php echo $this->subCategory($_category,1) ?>

                                <!--ul <?php /* if ($_category->getImgDisplay()): ?>style="max-width: 40%; "<?php endif ?>>
                                    <?php foreach($_subcategories as $_subcategory): ?>
                                        <li  class="level1">
                                            <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>">
                                                <i class="fa fa-circle"></i> <?php echo $_subcategory->getName() ?>
                                            </a>
                                        </li>
                                    <?php endforeach; */?>
                                </ul-->

                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
</div>

  </div>
</div>

<?php $_menu = $this->getHtml('level-top') ?>
<?php if($_menu): ?>
<div class="sf-menu-block">
    <div id="menu-icon"><?php echo $this->__('Categorias') ?></div>
    <ul class="sf-menu-phone">
        <?php echo $_menu ?>
    </ul>
</div>
<?php endif ?>

<div class="layered">&nbsp;</div>
<?php endif; ?>

<script type="text/javascript">
(function($){
  var timer = null;
  var duration = 50;
  var fnTimeout = function(cb){
    return setTimeout(requestAnimationFrame(cb),duration);
  };
  var fnHide = function(){
    clearTimeout(timer);
    timer =  fnTimeout(function(){
        $('.layered').hide();
    });
  }
  $('.content-mega-menu').on('hover','> ul > li:not(.without-subcategories)',function(evt){
    if(evt.type == 'mouseleave'){
        fnHide();
    }else if(evt.type == 'mouseenter'){
      clearTimeout(timer);
      timer =  fnTimeout(function(){
          $(".layered").show().siblings('.layered').hide();
        });
    }

  })//.on('mouseleave',fnHide);
})(jQuery);

</script>
