<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php if($this->getCollection()->getSize()): ?>
  <select onchange="setLocation(this.value)" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sort By')) ?>">
    <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
      <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
        <?php echo $this->__($_order) ?>
      </option>
    <?php endforeach; ?>
  </select>
<?php endif ?>
