<?php
/**
* JN2
* @author      Raphael Mário
* @category    design
* @package     Loja Agile
*/
$catalogSearchHelper =  $this->helper('catalogsearch');
?>
<form id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
  <div class="form-search">
    <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
    <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Search')) ?>" class="button">
      <?php
          echo (Mage::getStoreConfig("custom_header/icons/search") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_search" . DS.Mage::getStoreConfig("custom_header/icons/search") . "\"/>" : "<i class=\"jicon search\"></i>";
      ?>
    </button>
  </div>
  <div id="search_autocomplete" class="search-autocomplete"></div>
  <script type="text/javascript">
      //<![CDATA[
      var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo Mage::helper('core')->jsQuoteEscape(Mage::getStoreConfig('custom_header/blocks/search_text')) ?>');
      searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete');
      //]]>
  </script>
</form>
