<?php
/**
* @var $this  Mage_Checkout_Block_Cart_Sidebar
*
* JN2
* @author Raphael Mário
* @author Igor Gottschalg
*/
?>
<?php $_items = $this->getItems(); ?>
<?php $_total_items = $this->getItems(); ?>
<div class="cart-header-container">
<script type="text/javascript">
    function closeCart() {
        document.querySelector('.cart-header .floating-cart').classList.remove('visible-block');
        document.querySelector('#acp-overlay').classList.remove('ajaxcartpro-box-show');
        document.querySelector('#acp-overlay').classList.add('ajaxcartpro-box-hide');
    }
</script>
<div class="cart-header">
  <a href="<?php echo $this->getUrl("checkout/cart") ?>">
    <div class="icon">
      <?php if ((Mage::getStoreConfig("custom_header/icons/cart") != "")): ?>
        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_cart" . DS.Mage::getStoreConfig("custom_header/icons/cart")  ?>"/>
      <?php else: ?>
        <picture>
          <source srcset="<?php echo $this->getSkinUrl('images/ico-sacola-md.png') ?>" media="(min-width: 992px)" />
            <img src="<?php echo $this->getSkinUrl('images/ico-sacola.png') ?>" alt="Sacola" />
          </picture>
        <?php endif; ?>
      </div>
      <div class="number-itens-cart"><?php echo count($_total_items); ?></div>
    </a>
    <div class="floating-cart">
      <h4><span>Meu Carrinho</span> <span onclick="closeCart()" class="close">X</span></h4>
      <?php if (count($_items)): ?>
        <div class="cart-itens">
          <?php foreach ($_items as $_item): ?>
            <?php echo $this->getItemHtml($_item); ?>
          <?php endforeach; ?>
        </div>
      <?php else: ?>
        <div class="cart-itens">
          <h3><?php echo $this->__('Empty cart') ?></h3>
        </div>
      <?php endif; ?>
      <div class="cart-actions">
        <button type="button" title="<?php echo $this->__('My Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><?php echo $this->__('Go to cart') ?></button>
        <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><?php echo $this->__('Checkout') ?></button>
      </div>
    </div>
  </div>
    <style>
        #ajaxcartpro-add-confirm, #ajaxcartpro-remove-confirm {
            display: none;
        }
        .cart-header .floating-cart.visible-block h4 {
            justify-content: space-between;
        }
        @media screen and (max-width: 767px) {
            .floating-cart h4 span {
                margin-left: 67px;
            }
        }
    </style>
    <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
</div>


