<?php 
  $productId = $this->getRequest()->getParam('id');  
  $position = $this->getPosition()      ;
?>
<div class="right">  
  <button id="add_new_custom_label" style="" onclick="showLabelCustom();" class="scalable add" type="button" title="<?php echo $this->__('Add Custom Label')?>" id="add_new_custom_label"><span><span><span><?php echo $this->__('Add Custom Label')?></span></span></span></button>
  <button id="delete_new_custom_label" style="display: none" onclick="hideLabelCustom();" class="scalable add" type="button" title="<?php echo $this->__('Close Add Form')?>" id="add_new_custom_label"><span><span><span><?php echo $this->__('Close Add Form')?></span></span></span></button>
  <input type="hidden" name="is_show_custom_label" id="is_show_custom_label" value="0"/>
</div>
<div class="content-custom-label" id="content-custom-label" style="display:none;">
  <div class="entry-edit">
    <div class="entry-edit-head">
      <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Category Page');?></h4>
      <div class="form-buttons"></div>
    </div>
    <div id="caretory_image_form" class="fieldset ">
      <div class="hor-scroll">
        <table cellspacing="0" class="form-list">
          <tbody>
            <tr>
              <td class="label"><label for="category_txt"><?php echo $this->__('Text');?></label></td>
              <td class="value">
                <input type="text" class=" input-text" value="" name="label[category_txt]" id="category_txt">       
              </td>
            </tr>
            <tr>
              <td class="label"><label for="category_img"><?php echo $this->__('Image');?></label></td>
              <td class="value">            
                <div class="category-image-upload"> 
                  <input type="file" name="category_img" id="category_img" title="<?php echo $this->__('Image') ?>" class="input-text category_img" />
                  <input type="hidden" name="label[category_img]" id="hide_category_img"/>                        
                  <img id="preview-image-category" src="" width="60px" height="60px" style="display: none;"/> 
                  <p><img id="loading-image-category" style="display:none;" src="<?php echo $this->getSkinUrl('magebuzz/images/uploading.gif')?>" title="<?php echo $this->__('Please wait...');?>"/></p>
                  <p id="upload-error-message-category" style="color: red;"></p> 
                </div>     
              </td>
            </tr>
            <tr>
              <td class="label"><label for="category_postion"><?php echo $this->__('Position');?></label></td>
              <td class="value">
                <select class=" select" name="label[category_postion]" id="category_postion">
                  <?php foreach($position as $key => $pos):?>
                    <option value="<?php echo $key;?>"><?php echo $pos;?></option>
                    <?php endforeach;?> 
                </select>   
              </td>
            </tr>
            <tr>
              <td class="label"><label for="category_style"><?php echo $this->__('Text Style');?></label></td>
              <td class="value">
                <input type="text" class=" input-text" value="" name="label[category_style]" id="category_style">       
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="entry-edit-head">
      <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Product Page');?></h4>
      <div class="form-buttons"></div>
    </div>
    <div id="product_image_form" class="fieldset ">
      <div class="hor-scroll">
        <table cellspacing="0" class="form-list">
          <tbody>
            <tr>
              <td class="label"><label for="product_txt"><?php echo $this->__('Text');?></label></td>
              <td class="value">
                <input type="text" class=" input-text" value="" name="label[product_txt]" id="product_txt">        
              </td>
            </tr>
            <tr>
              <td class="label"><label for="product_img"><?php echo $this->__('Image');?></label></td>
              <td class="value">
                <div class="product-image-upload"> 
                  <input type="file" name="product_img" id="product_img" title="<?php echo $this->__('Image') ?>" class="input-text product_img" />
                  <input type="hidden" name="label[product_img]" id="hide_product_img"/>        
                  <img id="preview-image-product" src="" width="60px" height="60px" style="display: none;"/> 
                  <p><img id="loading-image-product" style="display:none;" src="<?php echo $this->getSkinUrl('magebuzz/images/uploading.gif')?>" title="<?php echo $this->__('Please wait...');?>"/> </p>
                  <p id="upload-error-message-product" style="color: red;"></p> 
                </div>  
              </td>
            </tr>
            <tr>
              <td class="label"><label for="product_position"><?php echo $this->__('Position');?></label></td>
              <td class="value">
                <select class=" select" name="label[product_position]" id="product_position">
                  <?php foreach($position as $key => $pos):?>
                    <option value="<?php echo $key;?>"><?php echo $pos;?></option>
                    <?php endforeach;?> 
                </select>        
              </td>
            </tr>
            <tr>
              <td class="label"><label for="product_style"><?php echo $this->__('Text Style');?></label></td>
              <td class="value">
                <input type="text" class=" input-text" value="" name="label[product_style]" id="product_style">       
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="entry-edit">
  <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Select labels in label list');?></h4>    
  </div>
  <div id="page_base_fieldset" class="fieldset ">
    <div class="hor-scroll">  
      <?php echo $this->getGridLabelHtml();?>
    </div>
  </div>
</div>
<script type="text/javascript">  
  var category_preview = $('preview-image-category'); //id of the preview image
  var category_loading = $('loading-image-category');
  var product_preview = $('preview-image-product'); //id of the preview image
  var product_loading = $('loading-image-product');
  new AjaxUpload('category_img', {
    action: '<?php echo $this->getUrl('productlabel/index/uploadimagecategory')?>', //the php script that receives and saves the image
    name: 'category_img', //The saveimagephp will find the image info in the variable $_FILES['image']
    onSubmit: function(file, extension) {
      category_loading.show();
      //preview.attr('src', 'loading.gif'); //replace the image SRC with an animated GIF with a 'loading...' message 
    },
    onChange: function(file, extension) {
      $('upload-error-message-category').update('');
    },
    autoSubmit: true,
    onComplete: function(file, response) {
      var data = response.evalJSON();  
      if (data.error) {
        $('upload-error-message-category').update(data.message);
      }
      else {
        $('hide_category_img').value = data.imageName;       
        category_preview.src = data.imageUrl;
        category_preview.show();
        //  $('bannerfile').value = data.imageName;
      }
      category_loading.hide();
    }
  });   


  new AjaxUpload('product_img', {
    action: '<?php echo $this->getUrl('productlabel/index/uploadimageproduct')?>', //the php script that receives and saves the image
    name: 'product_img', //The saveimagephp will find the image info in the variable $_FILES['image']
    onSubmit: function(file, extension) {
      product_loading.show();
      //preview.attr('src', 'loading.gif'); //replace the image SRC with an animated GIF with a 'loading...' message 
    },
    onChange: function(file, extension) {
      $('upload-error-message-product').update('');
    },
    autoSubmit: true,
    onComplete: function(file, response) {
      var data = response.evalJSON();  
      if (data.error) {
        $('upload-error-message-product').update(data.message);
      }
      else {
        $('hide_product_img').value = data.imageName;       
        product_preview.src = data.imageUrl;
        product_preview.show();
        //  $('bannerfile').value = data.imageName;
      }
      product_loading.hide();
    }
  }); 
</script>