<script type="text/javascript">
  var skin_path = '<?php echo $this->getSkinUrl(); ?>';
</script>
<script type="text/javascript" src="<?php echo $this->getJsUrl('magebuzz/prototip/prototip.js')?>"></script>
<script type="text/javascript" src="<?php echo $this->getJsUrl('magebuzz/prototip/styles.js')?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('magebuzz/css/prototip.css')?>" />
