<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php if ($this->isEnabled()): ?>
  <div class="shipping-estimate">
    <label for=""><?php echo $this->__("Calcular frete e prazo") ?></label>
    <div class="shipping-form">

      <div class="shipping-estimation-form" id="shipping-estimation-form">
        <?php if ($this->isFieldVisible('country')): ?>
          <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect(($this->getFieldValue('country') ? $this->getFieldValue('country') : $this->getConfig()->getDefaultCountry()),'estimate[country_id]','estimate_country'); ?>
        <?php else: ?>
          <input type="hidden" id="estimate_country" name="estimate[country_id]" value="<?php echo $this->htmlEscape($this->getConfig()->getDefaultCountry())?>" />
        <?php endif; ?>
        <?php if ($this->isFieldVisible('postcode')): ?>
          <input class="input-text form-control validate-postcode" type="text" placeholder="Digite seu CEP" id="estimate_postcode" name="estimate[postcode]" value="<?php echo $this->htmlEscape($this->getFieldValue('postcode')) ?>" maxlength="9"/>
        <?php endif; ?>
      </div>
      <div class="actions">
        <button type="button" title="<?php echo Mage::helper('ecomdev_productpageshipping')->__('Get a Quote') ?>" onclick="estimateProductShipping()" class="btn-calc-frete" id="btn-calc-frete">Ok</button>
      </div>
    </div>
  </div>

  <div class="please-wait" id="shipping-estimate-loading-message" style="display: none;">
    <?php echo Mage::helper('ecomdev_productpageshipping')->__('Carregando...') ?> <img src="<?php echo $this->getSkinUrl("images/ajax-loader-48px.gif") ?>"/>
  </div>
  <div id="shipping-estimate-results" class="shipping-estimate-results"  style="display: none;"></div>

  <script type="text/javascript">
  //<![CDATA[
  function estimateProductShipping(){
console.log(1);
    var estimationUrl = '<?php echo $this->jsQuoteEscape($this->getEstimateUrl());?>';
    var items = $$(['.shipping-estimation-form input',
    '.shipping-estimation-form select',
    '#product_addtocart_form input',
    '#product_addtocart_form select']);

    var validationResult = true;

    //seta o cep informado no sessionStorage
    sessionStorage.setItem('cep_estimado', $$('[name="estimate[postcode]"]').first().value);

    // Check the valid input
    if (!items.map(Validation.validate).all()) {
      return;
    }

    var parameters = Form.serializeElements(items, true);
    $('shipping-estimate-loading-message').show();
    $('shipping-estimate-results').hide();
    new Ajax.Updater('shipping-estimate-results', estimationUrl, {
      parameters: parameters,
      onComplete: function() {
        $('shipping-estimate-loading-message').hide();
        $('shipping-estimate-results').show();
      }
    });

  }

  jQuery(document).ready(function(){
    //verifica se cep foi preenchido anteriormente para calcular o frete automaticamente
    var cep = sessionStorage.getItem('cep_estimado');

    if(cep != null && cep != '') {
      //seta o cep no campo de cep
      jQuery('#estimate_postcode').val(cep);
      //dispara a função de calcular cep
      estimateProductShipping();
    }
  });
  //]]>
  </script>
  <script type="text/javascript">decorateList('shipping-estimation-form');</script>
<?php endif;?>
