<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php if ($this->getResult()):?>
    <?php foreach ($this->getResult() as $code => $_rates): ?>
        <?php foreach ($_rates as $_rate): ?>
          <div class="item <?php if ($_rate->getErrorMessage()) echo 'error-msg';?>">
          <?php if ($_rate->getErrorMessage()): ?>
            <?php echo $_rate->getErrorMessage() ?>
          <?php else: ?>
            <?php echo $_rate->getMethodTitle() ?>
            <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
            <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
            <?php echo $_excl; ?>
            <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
              (<?php echo Mage::helper('ecomdev_productpageshipping')->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
            <?php endif; ?>
          <?php endif; ?>
          </div>
      <?php endforeach; ?>
  <?php endforeach; ?>
<?php else: ?>
  <?php if (!empty($this->getMessagesBlock()->toHtml())): ?>
    <?php $this->getMessagesBlock()->toHtml(); ?>
  <?php else: ?>
    <span><strong><?php echo Mage::getStoreConfig('shipping/general/deny_zipcode_message') ?></strong></span>
  <?php endif; ?>
<?php endif;