.product-image-container{
	float: left;
}

.product-thumbs{
	margin: 0 -5px;
	padding-bottom: 10px;
}
.product-thumbs:after {
	content: "";
	display: table;
	clear: both;
}

.product-thumb {
	margin:0 0 10px;	
}

.product-thumb a{
	background: #fff;
	border: 1px solid #eaedee;
	display: block;
}

.product-thumb a:hover,
.product-thumb a.active {
	box-shadow: 0 0px 18px rgba(187,194,199,0.42);
    -webkit-box-shadow: 0 0px 18px rgba(187,194,199,0.42);
}

.products-grid li.item .product-thumbs { 
	display: none;
}
.products-grid li.item.hovered .product-thumbs { }
.product-thumbs img {max-width: 100%; height: auto;}
.ps-static .products-grid li.item.hovered  .product-thumbs {	
	display: block;
	animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: zoomIn;
    -webkit-animation-name:zoomIn;
}
.products-grid li.item  .product-thumbs li {display:inline-block; margin: 0 5px;}
.products-list .product-thumbs {float: left; margin-right: 15px;}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.products-grid .product-thumb a {width: 30px;}
	.products-grid .product-thumbs {display: block !important; }
}
@media only screen and (max-width: 767px) { 
	.products-grid .product-thumbs {
		float: left;
		position: relative;
		display: block !important;
		margin-right: 10px;
	}
	.products-grid li.item .product-thumbs li {display: block; margin-bottom: 3px;}
	.products-grid li.item .product-thumbs li a {width: 28px;} 

	.products-grid li.item.free .product-thumbs {float: none; margin-right: 0; text-align: center;}
	.products-grid li.item.free .product-thumbs li {display: inline-block;}
	.products-grid li.item.free .product-image {width: 100%; margin: 0 0 10px; float: none;}
}

@media only screen and (max-width: 481px)  {
	.product-thumb a img { height: auto; width: auto;}
	.products-list .product-thumbs {font-weight: normal; clear: left; margin-right: 0;}
	.products-list .product-thumbs li {display: inline-block;}
	.products-list .product-thumb a {width: 86px;}

}
@media only screen and (max-width: 460px) { 
	.products-grid .product-thumbs {margin-right: -3px;}
	.products-grid li.item .product-thumbs li {display: inline-block; margin: 3px;}
	.products-grid li.item .product-thumbs li a {width: 76px;}
	.products-grid li.free .product-thumbs li a {width: 28px;} 
	.products-list .product-thumb a {width: 78px;}
}

@media only screen and (max-width: 390px) { 
	.products-grid li.item.free .product-thumbs li a {width: 45px;}
}