.product-image-container{
	float: left;
}

.product-thumbs{
	overflow: hidden;
	margin: 0 -2px;
}

.product-thumb {
	margin:0 0 10px;	
}

.product-thumb a{
	background: #fff;
	border: 1px solid #eaedee;
	display: block;
}

.product-thumb a:hover,
.product-thumb a.active {
	box-shadow: 0 0px 18px rgba(187,194,199,0.42);
    -webkit-box-shadow: 0 0px 18px rgba(187,194,199,0.42);
}

.products-grid .product-thumbs { }
.product-thumbs img {max-width: 100%;}
.products-grid li.item  .product-thumbs li {display:inline-block;}
.products-list .product-thumbs { padding: 5px 0; clear: both; }
.products-list .product-thumbs li  {display: inline-block;}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
}
@media only screen and (max-width: 767px) { 
	.product-thumb a img { height: auto; width: auto;}
	.products-grid .product-thumbs {
		float: left;
		clear: left;
		position: relative;
		display: block;
		margin-right: 10px;
	}
	.products-grid .product-thumbs a {width: 34px;}

	.products-list .product-thumbs a {width: 49px;}

}

@media only screen and (max-width: 460px) { 
	.products-grid .product-thumbs a {width: 45px;}
	.products-list .product-thumbs a {width: 66px;}

}