//
//
// .bx-wrapper .bx-pager{
//   display: none;
// }
// .bx-wrapper .bx-controls-direction a.bx-prev,
// .bx-wrapper .bx-controls-direction a.bx-next {
//     opacity: 0.6;
//     width: 52px;
//     height: 165px;
//     background-position: 0 0;
// }
//
// .bx-wrapper .bx-controls-direction a.bx-prev:hover,
// .bx-wrapper .bx-controls-direction a.bx-next:hover {
//     opacity: 1;
// }
//
// .bx-wrapper .bx-controls-direction a.bx-prev {
//     background-image: url('../images/arrow-left-w.png');
//     left: 2%;
// }
//
// .bx-wrapper .bx-controls-direction a.bx-next{
//   background-image: url('../images/arrow-right-w.png');
//   right: 2%;
// }
//
//
//
// .owl-theme .owl-controls .owl-buttons div{
//   background-color: transparent!important;
// }
//
// .owl-prev,
// .owl-next{
//   position: absolute;
//   z-index: 999;
//   top: 15%;
// }
// .owl-prev{
//   left: -25px;
//   @media only screen and (max-width: 768px) {
//       left: 0;
//   }
//   .icon-chevron-left{
//     background-image: url('../images/arrow-left.png');
//     background-repeat: no-repeat;
//     background-position: 0 0;
//     height: 158px;
//     width: 48px;
//     display: block;
//   }
// }
//
// .owl-next{
//   right:-25px;
//   @media only screen and (max-width: 768px) {
//     right:0;
//   }
//   .icon-chevron-right{
//     background-image: url('../images/arrow-right.png');
//     background-repeat: no-repeat;
//     background-position: 0 0;
//     height: 158px;
//     width: 48px;
//     display: block;
//   }
// }
