

.catalog-category-view,
.cms-index-index,
.catalogsearch-result-index{
  .toolbar{
    .sorter{
      width: 100%;
      float: left;
      margin-bottom: .5em;
    }
    hr{
      margin: 7px 0px .5em 0 !important;
      width: 100%;
      clear: both;
    }
  }
  .category-products{
    width: 100%;
    float: left;
    position: relative;
  }
}

.col-left{
  &.sidebar{
      padding-left: 3em;
  }
}

.block-layered-nav{
  .block-subtitle{
    display: none;
  }
}

.products-grid{
  .item{
    @extend .hover-fade;
    text-align: left;
    border: 1px solid rgba(0,0,0,0);
    @include box-shadow(rgba(0,0,0,0.2) 0px 2px 4px);
    background-color: #fff;
    .product-name {
      a{
        font-size: 13px;
        line-height: normal;
      }
    }
    .btn-quote{
      width: 100%;
    }

    .btn-cart,
    .btn-quote{
        width: 48%;
        float: left;
    }
    .btn-quote{
        margin-left: .5em;
    }

    .btn-cart {
      &.no-quote{
      width: 100%;
      }
    }
    &:hover{
      @extend .hover-fade;
      border: 1px solid rgba(0,0,0,.2);
      @include box-shadow(rgba(0,0,0,0.3) 0px 8px 18px);
      .actions{
        opacity: 1;
      }
    }
  }

}

.btn-cart{
  @extend .btn-main;
}

.btn-quote{
  @extend .btn-stroke;
}


.catalog-category-view{

}

.category-products{

}

.limiter{
  // margin: 0 0 0 104px;
  select{
    width: 50px;
    min-width:initial;
    font-size: 12px!important;
    padding: 5px;
  }
}
.sort-by {
  select{
    text-transform: uppercase;
    font-size: 12px!important;
    padding: 5px;
  }
}







.box-rwd{

  .regular-price{
  
  }
  .label-billet{
    display: none !important;
  }
  .price-billet{
    .regular-price{
      display: block!important;
    }
  }
  .old-price,
  .special-price{
    float: left;
  }
  .old-price{
    .price{
      font-size: 11px;
      color: #ccc;
    }
  }
}


.block.first{
  margin-bottom: 15px !important;
  border-bottom: 1px solid #ddd;
  .current{
    color: $blue;
  }
}
.block-layered-nav dd{
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.catalog-category-view,
.cms-index-index{
}

.pager {
  .pages{
    a{
      &:hover{
        color: $blue;
      }
    }
  }
}


.products-grid{
}


.block{
  .block-title {
    strong{
      span{
        color: #222;
      }
    }
  }

  .block-content{
    dt{
      color: $blue !important;
      margin-bottom: 10px;
    }
    a{
      font-size: 11pt;
      font-weight: lighter;
      color: #666;
    }
  }
}
