


.onestepcheckout-index-index{

  .block-secure{
    display: none !important;
  }

  #onestepcheckout-authentification{

  }

  h1{
    font-size: 22pt;
    // color: $green-default;
  }

  .header-container{
    background-color:#fff;
    box-shadow: none;
    border-bottom: 1px solid #eee!important;
    margin-bottom: 0 !important;
    z-index: 2;
    position: relative;
    .header{
      padding: 10px 0px;
    }
  }

  .page-head{
    margin: 20px 0 20px 0!important;
    #onestepcheckout-title{
      #onestepcheckout-title-description{
        font-size: 14px;
        margin: 1em 0;
      }
    }
  }
  .opc-jn2{
    background-color: #fff !important;
    margin-top: 20px;
    padding: 20px 10px;

    .step-title{
      // border-bottom: 2px solid $green-default;

      .number{
        //color: $green-default;
        //border: 1px solid $green-default;
        //border-radius: 50px;
        padding: 0.5em .8em;
        margin: -8px 10px 0 0px;
      }
      h2{
        // color: $green-default;
      }
    }
  }
  .btn-proceed-checkout{
    // cursor: pointer;
    // color: #ddd;
    // text-transform: uppercase;
    // text-align: center;
    // padding: 10px 15px;
    // border-radius: 0px;
    // font-size: 14pt !important;
    // border: 0px;
    // background-color: #7B7A80 !important;
    @extend .btn-main;
    @include transition(all 0.2s ease);
    height: auto!important;
    &:hover{
      //opacity: 0.8;
    }
  }

  .onestepcheckout-cart-table{
    th{
      border-top: 0;
    }
    tfoot{

      tr{
        &:last-child td{
          font-weight: bold;
          vertical-align: baseline;

        }
        &:last-child td .price{
          font-size: 14pt;
        }
      }
      strong{
        font-weight: bold;
      }
    }
  }
  #billing-address-select{
    padding: 10px 20px!important;
    font-size: 12px;
    color: #666;
    margin-top: 1em;
    background-color: #eee;
    border: 1px solid #ccc;
  }


}


.checkout-onepage-success{
  .buttons-set{
    text-align: center;
    button{
      @extend .btn-main;
      float: none !important;
    }
  }
}


.col-3{
  .opc-jn2{


    .step-title{
      margin: 0 !important;
      .number,
      h2{

      }
    }

    label{

    }

    .onestepcheckout-cart-table{
      tbody, tfoot{
        *{

        }
      }
    }
  }
}
.onestepcheckout-index-index .header-container .logo img {
    width: 160px!important;
}
#onestepcheckout-coupon-code-apply-btn,
#onestepcheckout-login-submit-btn{
  @extend .btn-stroke;
  padding: 5px 15px!important;
}
#onestepcheckout-login-forgot-link{
  margin-top: -21px;
}
.onestepcheckout-cart-table thead th{
  // color: $green-default!important;
}

#onestepcheckout-forgot-password-form,
#onestepcheckout-forgot-password-success{
  display: none;
}
