

.btn-login{
  @extend .btn-stroke;
  padding: .5em!important;
  font-size: 16px;
}

.btn-create-account{
  @extend .btn-stroke;
  padding: .5em!important;
  font-size: 16px;
}

.sidebar{
  .row-title{
    padding-bottom: 1em;
    margin-bottom: .5em;
  }
}

.addresses-list{
  a{
    font-weight: bold;
  }
}
.customer-name{
  .name-firstname{
    padding: 0;
  }
}
.customer-account-login{
  .row-title{
    margin-bottom: 0!important;
  }
}

.customer-account-create{
  .row-title{
    margin-bottom: 0;
  }
  .account-create{
    .fieldset{
      h2{

        text-transform: initial;
        font-size: 16px;
        float: left;
        width: 100%;
      }
    }

    .tipopessoa{

    }
  }

}


.customer-address-index{
  address{
    color: #666;
  }
}

.addresses-additional{
  ol{
    li{
      border: 1px solid #ddd;
      padding:0 2em;
      margin-bottom: 1.5em;
    }
  }
}

.tipopessoa  label[for="juridica"]{
  // display: none;
}

.buttons-set p.required{
  color: #bf0000!important;
}


#remember-me-box{
  display: none;
}


.reset-pass{
  text-transform: lowercase;
}

.li-city-region{
  select{
    width: 100% !important;
  }
}


.block-account{
  .current{
    
  }
}

.item.empty{
  background: #eee;
  padding: 10px !important;
  text-align: center;
}


.my-account{
  .item{
    margin-bottom: 30px;
  }
  .checkbox{
    input{
      margin-left: 0px !important;
    }
  }
  .fieldset .legend{
    font-weight: bold;
  }
}
