
.hover-fade{
  @include transition(all 0.2s ease-in)
}

button.button {
    -webkit-border-fit: lines;
    border: 0;
}

button{
  /*padding: 7px 15px;
  background-color: $green-light-2;
  color: #fff;*/
}

.btn-main{
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px;
  border-radius: 0px;
  border: 1px solid rgba(0,0,0,0);
  // background: $c-btn !important;
   //box-shadow: inset 0 -3px rgba(0,0,0,.3);
   @include transition(all 0.2s ease);
  &:hover{
    color: #fff;
    // background: $c-btn;
    //opacity: 0.9;
     //box-shadow: inset 0px 2px 20px rgba(0,0,0,0.3);
     //box-shadow: inset 0px 1px 10px rgba(256,256,256,0.4);
    // @include transition(all 0.2s ease);
     //@include transform(scale(1.05));

  }

  &.small{
    font-size: 9pt;
    padding: 6px;
  }
}

.btn-stroke{
  //border: 1px solid $c-btn!important;
  border: 1px solid;
  // color: $c-btn !important;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  background: transparent;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 0px;

  &.small{
    font-size: 8pt;
    padding: 5px;
  }

  &:hover{
    // background: $c-btn;
    //color: #fff !important;
    opacity: .7;
  }
}


.btn-link{
  text-decoration: none !important;
}


.form-control{
  border-radius: 0px !important;
}


.price{
  font-family: "Open Sans" !important;
}
