.home-row-1{
  img{
    width: 100%;
  }
}

.home-row-2{
  .block-wrapper{
    color: #fff;
    height: 85px;
    img{
      width: auto;
      float: left;
      margin: 1.5em 1.5em 0 2.5em;
    }
    &.ship{
      background-color:#521312;
    }
    &.card{
      background-color:#751816;
    }
    &.secure{
      background-color:#b3120f;
      h3{
        font-size: 19px!important;
      }
    }
    .text-des{
      padding: 1em;
          float: left;
      h3{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 0;
      }
      p{
        font-size: 18px;
      }

    }

  }
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
  bottom: 10px !important;
text-align: right !important;
padding-right: 35px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    width: 17px;
    height: 17px;
    border-radius: 50px;
    border: 1px solid #fff;
    text-align: center;
    background-color: $green-medium!important;
    &.active{
      background-color:#898989!important;
    }
}
