.mega-menu-jn2 .content-mega-menu ul li a{
  // display: -webkit-box!important;
  //   display: -moz-box!important;
  //   display: -ms-flexbox!important;
  //   display: -webkit-flex!important;
  // display: flex!important;
  // justify-content: center;
  // align-items: center;

  font-weight: normal;

}

.nav-container .content-mega-menu ul>li,
.mega-menu-jn2 .content-mega-menu ul>li{
  font-size: 11px!important;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-container .content-mega-menu ul > li > a,
.mega-menu-jn2 .content-mega-menu ul > li > a{
  height: 63px !important;
padding: 1.7em 1.2em !important;
}

menu{
  border-top: 1px solid #ccc;
  background: rgba(255,255,255,1)!important;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(219,219,219,1)))!important;
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb', GradientType=0 )!important;
  .mega-menu-jn2{
    background: rgba(255,255,255,1)!important;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(219,219,219,1)))!important;
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(219,219,219,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb', GradientType=0 )!important;

  }
}

.mega-menu-jn2{
  .content-mega-menu{
    .nav{
      li{
        &:first-child{
            background-color:#b3120f;
            a{
              color: #fff!important;
              &:hover{
                  color: #B3B3B3!important;
              }
            }
        }
      }
      .inner-content{
        ul{
          li{
            border-right: 0;
            &:first-child{
              background-color: transparent;
              a{
                  color: $green-medium-3!important;
              }
            }
            a{
              padding: .5em .9em!important;
              height: 25px!important;
              font-size: 15px;
              color: $green-medium-3!important;
              &:hover{
                color:#B3B3B3!important;
              }
              i{
                //display: none;
              }
            }
          }
        }
      }
    }
  }
}

menu .menu-theme-4 .content-mega-menu .inner-content{
  top: 189px !important;
}
