.product-view{
  .product-img-box .product-image{
    background-color: #fff;
  }
  .product-shop{
    padding: 1em;
  }
    .btn-quote{
      margin-top: 1em;
    }
}

.block-shipping-estimate{
  .block-content{
    background-color: transparent;
  }
}
