/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */

.ibanners.animated { overflow: hidden; width: 100%; }
.ibanners.animated ul { /*height: 1%; overflow: hidden; width: 9000px;*/  }
.ibanners.animated ul li { float: left; overflow: hidden; }

.ibanners.static { overflow: hidden; width: 100%; }
.ibanners.static ul { /*height: 1%; overflow: hidden; width: 9000px;*/ }
.ibanners.static ul li { float: left; }

.ibanners-wrapper { position: relative; }

.ibanners-wrapper .controls { position: absolute; width: 100%; }
.ibanners-wrapper .controls .control-prev { float: left; }
.ibanners-wrapper .controls .control-next { float: right; }

.ibanners-wrapper .controls-top { top: 0; }
.ibanners-wrapper .controls-middle { top: 45%; }
.ibanners-wrapper .controls-bottom { bottom: 0; }
.ibanners-wrapper .controls-below { position: static; height: 1%; overflow: hidden; }

.ibanners-wrapper .controls-ol .control-prev { position: relative; left: -10px; }
.ibanners-wrapper .controls-ol .control-next { position: relative; right: -10px; }


#ibanners-home_top_left li.slide li.banner img{
    width: 100%;
}
#ibanners-banner_bottom_logo{
    margin: 20px 0; 
}

#ibanners-banner_bottom_logo li.slide li.banner{
    margin: 0 30px 0 0;
}

#ibanners-banner_bottom_logo li.slide li.banner:last-child{
    margin: 0;
}
#ibanners-banner_bottom_logo li.slide li.banner img{
    width: 90px;
}
#ibanners-banner_bottom{
    margin-bottom: 20px;
}
#ibanners-banner_bottom li.slide li.banner{
    margin-bottom: 10px;
    width: 50%;
}
#ibanners-banner_bottom li.slide li.banner img{
    width: 100%; 
}
  
#ibanners-banner_mini_top li.slide li.banner img{
    width: 100%; 
}

.container-fluid.content-banners,
.content-banners .col-md-9,
.content-banners .col-md-3{
    padding: 0;
} 
