@media only screen and (min-width: 768px) {
	body.ind .swipe,
	body.ind div.shadow {display: none !important; left: -300px !important;}
	.indent-swipe  {margin-left: auto !important;}
	.top-search-cont {float: right; position: relative; font-size: 18px;}

 }
@media only screen and (min-width: 992px) {
 	.list-left {float: left; width: 61%;}
	.list-right {
		float: right;
		border-left: 1px solid #d1d0d0;
		padding-left: 20px;
		padding-right: 4px;
		padding-bottom: 250px;
		margin-bottom: -250px;
		width: 35%;
	}
	.products-list .rating-links {font-size: 11px;}
	.products-list .rating-links .separator {
		display: block;
		font-size: 0;
		width: 100%;
		border-top: 1px solid #ECECEC;
		height: 0;
		margin: 2px 0 3px;
	}
	.products-list button.button > span {font-size: 12px;}

 }
@media only screen and (max-width: 1164px) {
	.list-1 .block-1 {	bottom: 20px;}
	.list-1 .title-2 { font-size: 25px; line-height: 25px; margin-bottom: 15px;}
	.list-1 .title-1 {font-size: 36px; line-height: 36px; padding-top: 20px;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	 #my-orders-table .nobr { white-space:normal; }
	.product-view .product-shop {width:53%;}
	.product-view .addthis_button_tweet {width:95px;}
	.addthis_default_main .addthis_counter {clear:left;}
	.addthis_mini_style .addthis_counter {clear:inherit;}
	.mini-products-list .product-image {width:90px; margin-bottom: 15px;}
	.mini-products-list .product-name {width:130px; margin-left: 0;}
	.block-related .product-name {width:120px;}
	.block-poll .answer {width: 150px;}
	.de-lang-class .row-product .email-friend,
	.es-lang-class .row-product .email-friend {float: left; clear: left;}
	.box-up-sell .up-sell-carousel-none li .product-box {padding: 10px;}
	.box-up-sell .up-sell-carousel-none li {width: 200px;}
	#search_mini_form {width: 500px;}
	.container-bg .input-box {width: 400px;}
	.footer .footer-col {width: 33.3333333%;}
	.footer .footer-col.exta-width {clear: left; margin-top: 40px;}

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.header-container  {padding-top: 15px;}
	.header {padding: 0 10px;}
	.order-buttons {display:none !important;}
	.nobr         { white-space:normal; }
	.sorter .view-mode {padding-top:0;}
	#search_mini_form {display: block !important; height: 100% !important; opacity: 1!important; margin-left: 80px;}
	.form-search .search-autocomplete {display: none !important;}
	.account-login .registered-users .form-list input.input-text {width:326px;}
	.cart .crosssell button.btn-cart {float:none; margin-bottom:10px;}
	.cart .crosssell .add-to-links {float:none;}
	.cart .crosssell .product-details button.button > span {font-size:11px;}
	.cart .discount-form .input-box input { width:198px; }
	.form-list .input-box {width:225px;}
	.cart .shipping .form-list li select option {width:174px;}
	.cart .totals button.button > span { font-size:14px; }
	.cart .totals table th,
	.cart .totals table td { font-size:11px; padding: 15px 10px; }
	.cart .totals table td+td { padding: 15px 10px; }
	.cart .totals .price { font-size:18px; }
	.mini-products-list .product-name {width:100%; margin:0; padding-top: 10px;}
	.block-compare .product-image {float: none; margin:0 auto 10px;}
	.block .block-title strong,
	.page-title h1,
	.page-title h2 {font-size: 14px; word-wrap:break-word;}
	#search_mini_form {width: 264px;}
	.sale-products li.item .product-shop {clear: left;}
	.sale-products .actions a {margin-left: 0;}

	.regular-price,
	.products-grid li.item .minimal-price-link {float:none;}
	.products-grid li.item .price-box.map-info a {float:none; padding:0; margin-top:2px;}
	.products-grid li.item .regular-price,
	.products-grid li.item .old-price { display:block; }
	.products-grid li.item .ratings .rating-box { float:none; margin:0 auto 10px; }
	.products-grid li.item .ratings .amount { float:none; display:block; text-align:center; margin:0; }
	.product-shop .price-box {float:none;}
	.products-grid .product-image {padding:0px;}
	.wrapper-hover {padding: 8px;}
	.products-grid button.btn-cart i {display: none;}

	.product-view .product-img-box .more-views li.item-4 {margin-left:0;}
	.product-view .product-img-box {float:none;width:310px;margin: 0 auto 30px;}
	#cloud-zoom-big {width: 250px !important; height: 250px !important; left:-260px !important;}
	.product-view .product-shop {float:none;width:auto;}
	.catalog-product-view .map-popup {left: 0 !important;}
	.addthis_default_main .addthis_counter {clear:inherit;}
	.block-layered-nav dd {padding-left:5px;}

	.my-account a {text-decoration:underline;}
	.my-account a:hover {text-decoration:none;}

	.cart-table th { word-wrap: break-word; white-space:normal; padding:5px; }
	.opc .field {width:255px;}
	.opc .fields input,
	.opc .field input {width:238px;}
	.opc .fields select,
	.opc .field select {width:238px;}
	.opc .fields select option,
	.opc .field select option {width:217px;}
	.opc .form-list li.wide input.input-text {width:490px;}
	.opc .form-list li.wide .input-box {width: auto;}
	.opc .name-middlename {width:149px;}
	.opc .form-list .customer-name-suffix .name-lastname,
	.opc .form-list .customer-name-middlename .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-lastname {width:118px;}
	.opc .form-list .customer-name-prefix .name-firstname input.input-text,
	.opc .form-list .customer-name-suffix .name-lastname input.input-text,
	.opc .form-list .customer-name-middlename .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text {width:93px;}
	.cart-collaterals .col2-set .col-1 {margin-right:15px;}
	.cart .totals button.button > span { font-size: 12px; }
	.cart button.button {margin-bottom: 3px;}

	.cart .crosssell .product-image,
	.cart .crosssell .product-image img {width: 80px; height: 80px; overflow: hidden; }

	.box-up-sell {height:auto;}
	.box-up-sell h2 {font-size:12px;line-height:15px;}
	.box-up-sell ul li .product-box { padding:8px;}
	.box-up-sell ul li {margin: 0 8px;}

	#multiship-addresses-table select {width:200px;}
	#multiship-addresses-table select option {width:170px;}
	#checkout-step-login .col2-set .col-1 {margin-bottom:10px;}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2 {	float:none;	margin-right:0;	width:96%;}
	#multishipping-billing-form .sp-methods .form-list input.input-text {width:100%;}
	#co-billing-form > fieldset {display: table-column;}
	.checkout-progress li {clear: left; width: 100%;}
	.box-collateral.form-add .box-collateral-content {overflow: auto;}
	.form-list select {width: 340px;}
	.search-form  .form-list select {width: 300px;}

	.multiple-checkout .form-list li.wide .input-box {width: 100%;}
	.multiple-checkout .gift-messages-form .item .details .field {width:100%;}
	.multiple-checkout .gift-messages-form .form-list input.input-text {width:100%;}
	.multiple-checkout .gift-messages-form .inner-box .form-list li.wide textarea {width:100%;}

	.cms-about-magento-demo-store .about-col-1,
	.cms-about-magento-demo-store .about-col-2,
	.cms-about-magento-demo-store .about-col-3 { padding:214px 15px 15px;}
	.cms-about-magento-demo-store .about-col-4 ul,
	.cms-about-magento-demo-store .about-col-5 ul,
	.cms-about-magento-demo-store .about-col-6 ul {padding:25px 0 12px 20px;}

	.block-poll .answer {width:95px;}

	.footer-container {padding: 20px 0;}
	.footer-cols-wrapper { position:relative;  }
	.footer .footer-col.last { margin-right:0; }
	.container-bg .input-box {width: 220px;}

	.my-account #wishlist-view-form #wishlist-table .product-image img {height:100px;width:100px;}
	.my-account .data-table th, .my-account .data-table td {padding: 5px;}
	#wishlist-view-form .buttons-set.buttons-set2 {text-align:center;}
	#wishlist-view-form .buttons-set.buttons-set2 button.button {float:none;margin: 0 10px 10px 0 !important;}
	#customer-reviews button.button {float:left;}
	.box-up-sell .up-sell-carousel-none li .product-box {padding: 5px;}
	.box-up-sell .up-sell-carousel-none li {width: 150px;}

	.footer .footer-col {width: 50%; margin-bottom: 30px}
	.footer .footer-col:nth-child(3) {
		clear: left;
	}
	.list-1 .title-4,
	.list-1 .title-2 {font-size: 30px; line-height: 30px;}

	.selos {
		text-align: center;
	}

	.selos h4 {
		padding-left: 0px;
	}

}
@media only screen and (max-width: 767px) {
	body {padding:0; }
	 body.ind.ps-phone { overflow: scroll; position: fixed; width: 100%; margin-left: -9px;}
	body.ind.ps-static { overflow: hidden; }
	.col1-layout .col-main,
	.col2-left-layout .col-main,
	.col2-right-layout .col-main  {float:none; }

	.container {margin:0; }
	.page > div > .container {padding: 0;}
	.page {margin: 0 8px;  padding-top: 50px;}
	.header-bg { margin-top: 0;}
	.header-container {margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px;}
	.header { margin: 0; padding: 0 10px; }
	.header .top-search,
	.header .welcome-msg {display: none;}
	.header .logo {
		display: block;
		float: none;
		margin: 0 auto 15px !important;
		text-align: center;
	}
	.header .header-info,
	.header-list-icon {float: none; text-align:center; border: 0;}
	.header .header-info {padding:10px;}
	.header-list-icon li {float: none;display: inline-block; }

	.padding-s {padding:0 10px; }
	.order-buttons {display:none !important;}
	.title-buttons h1,
	.title-buttons h2,
	.title-buttons h3,
	.title-buttons h4,
	.title-buttons h5,
	.title-buttons h6 {float:none;}
	.nobr         { white-space:normal; }
	.top-icon-menu {display: block;}
	.head-icon-menu {height: 0;}
	.quick-access,
	.header-buttons {display: none;}
	.toolbar { margin-bottom:20px; }
	.toolbar .pager {padding: 0 18px 18px 0;}
	.toolbar .pager .amount {padding:0;}
	.toolbar .pager .pages { margin:0; padding-top:10px; }
	.pager .pages li { font-size:14px; line-height:17px; font-weight:normal; margin-right:10px; }
	.toolbar-bottom .toolbar .pager {border:0; padding:0; }
	.toolbar-bottom .toolbar .pages {border:0;  padding-bottom:0; margin-top:10px; overflow:hidden; border-top:1px solid #E5E5E5; float:left; width:100%;}

	.indent-sw1 {margin-bottom:20px;}
	.checkout-multishipping-login .col-main {padding-bottom:0;}
	.account-login .registered-users .form-list input.input-text {width:252px;}
	.form-list select {width:300px;}
	.form-list input.input-text,
	.form-list li.wide input.input-text {width:294px;}
	.form-list .name-middlename {width:117px;}
	.form-list .customer-name-prefix .name-firstname input.input-text,
	.form-list .customer-name-suffix .name-lastname input.input-text,
	.form-list .customer-name-middlename .name-firstname input.input-text,
	.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
	.form-list .customer-name-middlename-suffix .name-lastname input.input-text {width:99%;}
	.form-list .customer-name-suffix .name-lastname,
	.form-list .customer-name-middlename .name-firstname,
	.form-list .customer-name-middlename-suffix .name-firstname,
	.form-list .customer-name-middlename-suffix .name-lastname {width:100%;}
	.form-list .name-middlename input.input-text {width:99%;}
	.form-list .customer-dob .dob-year input.input-text {width:146px;}
	#checkout-payment-method-load input.input-text {width: 100%;}
	#shopping-cart-table { display:block; width:100%;}
	#checkout-step-login .col-2 .form-list input.input-text {width:253px;}
	.multiple-checkout .page-title.title-buttons h1 {margin-bottom: 10px;}

	.page-title,
	.category-title { margin-bottom:16px; }
	.pager .pages {clear:both;margin:0;text-align:center; padding-top:10px;}

	.products-grid {margin-bottom:0 !important;}
	.products-grid li.item { overflow:hidden; text-align: left; position:relative; padding: 15px; width:100%; margin: 0 !important; }
	.products-grid li.item.free {border-bottom: 0; margin-bottom: 0; padding-right: 0; padding-left: 0;}
	.products-grid .product-image,
	.products-list .product-image { float:left; margin:0 10px 0 0; width:180px; overflow: hidden; }
	.products-grid .product-shop,
	.products-list .product-shop { overflow:hidden;}
	.products-grid .product-name {min-height: inherit;}
	.products-list .ratings .rating-links a+span+a,
	.products-list .ratings .rating-links .separator {display:none;}
	.products-grid .ratings .rating-box {margin: 0 0 5px 0;}
	.products-grid .actions {width: auto;}
	.products-grid li.item .wrapper-hover-hiden {display: block;}
	.note-msg-empty-catalog {padding:  150px 0 0; background-position: center top; text-align: center;}
	.label-product > span {padding: 2px 2px 3px 5px;}
	.label-product {left: 45px; right: auto;}
	.label-product.label-indent {left: 75px;}

	.sale-products li.item {padding: 0;}

	.product-view { margin-bottom:5px; }
	.product-view .product-shop { float:none; width:100%; }
	.product-view .product-img-box { float:none;  width:310px; margin:0 auto 20px; }
	.product-view .product-name h1 { font-size:16px; line-height:19px; }
	.product-view h2 {padding-right: 45px; border-bottom: 1px solid #000; padding-bottom: 10px; margin-bottom: 10px;}
	.product-view .product-shop .price-box { float:none; display:block; margin: 0 0 10px; overflow:hidden; }
	.product-view .add-to-cart button.button {float:none;}
	.product-view .add-to-cart .qty-block {margin-right: 25px;}
	.add-to-cart {padding-top: 15px;}
	.add-to-cart .qty-block {padding-top:0; margin:0 0 5px;}
	.product-view .product-shop .add-to-links {border-bottom:none;padding-bottom:0;}
	.product-view .product-shop .add-to-links li {float:none; font-size:14px; line-height:17px; font-weight:normal; margin:0 !important; padding-bottom:19px;}
	.product-view .row-product {padding-top:0;}
	.product-view .row-product p {float:none !important;font-size:14px;line-height:17px;}
	.product-view .row-product .no-rating {padding-bottom:19px;}
	.product-view .row-product .ratings {float:none;padding-bottom:19px;}
	.product-view .row-product .ratings .rating-links {padding-left:0 !important;}
	.product-view .add-to-links li+li {display:none;}
	.product-options .options-list li label { padding-top:2px; }
	.product-view .box-description .std {padding: 0 15px;}
	.product-view .product-collateral #customer-reviews dl {padding:0 15px;}
	.product-view #review-form h3,
	.product-view #review-form h4,
	.product-view .tabs-custom {padding:0 15px;}
	.container-slider {margin:0 auto;}
	.addthis_default_main .addthis_counter {clear:inherit;}
	.product-view .product-options-bottom {margin-bottom: 20px;}

	.block-slider-sidebar {display: none !important;}

	.product-collateral #customer-reviews #product-review-table span.nobr {padding:0;}
	#review-form #product-review-table th {padding:9px 4px; }
	#review-form #product-review-table td {padding:14px 4px; text-align:center;}


	.product-collateral .box-collateral {margin-bottom:0;}
	.product-collateral .box-collateral h2 {cursor:pointer;}
	.product-collateral .box-collateral h2 span.toggle {top:0px;}
	.box-collateral-content {display:none;margin-bottom:7px;}

	.box-up-sell .up-sell-carousel-none  li .product-image {float:left; margin-right:15px; width:100px;}
	.box-up-sell {background:none;border:none;padding:20px 0 0;}
	.box-up-sell .up-sell-carousel-none li {float:none;background:none; width: auto; margin: 0 0 15px; text-align: left;  }
	.box-up-sell .up-sell-carousel-none li .product-box {padding: 10px; overflow: hidden;}
	.box-up-sell .up-sell-carousel-none li .rating-box {margin: 0 0 5px;}
	.box-up-sell ul li .product-box {padding: 5px;}
	.carousel-prev, .carousel-next {right: 10px;}
	.carousel-prev {right: 40px;}

	.block {margin-bottom:8px; padding:0 10px;}
	.block .block-title	{margin-bottom:8px; padding-bottom: 8px; padding-right:40px; border-bottom: 1px solid #000; }
	.block .block-title strong {font-size: 16px;}
	.block .block-title:hover {cursor:pointer;}
	.block.block-account .block-title:hover {cursor:default;}
	.block .block-title	span.toggle { color: #000;}
	.sidebar .block.block-progress .block-content {display:block;}
	.mini-products-list .product-name {width:185px;}

	.product-view .product-shop {float: none; width: 100%;}

	/*====================================== cart table	========================================*/
	.cart .data-table,
	.cms-template-settings .data-table {position: relative; padding-bottom: 90px;}
 	.cart .data-table thead,
 	.cart .data-table colgroup,
 	.cms-template-settings .data-table thead,
 	.cms-template-settings .data-table colgroup {display: none; }
 	.cart .data-table tfoot,
 	.cms-template-settings .data-table tfoot {width: 100%; display: block;}
 	.cart .data-table td,
 	.cart .data-table tr,
 	.cart .data-table tbody,
 	.cms-template-settings .data-table td,
 	.cms-template-settings .data-table tr,
 	.cms-template-settings .data-table tbody {display: block; text-align: center !important;}
 	.cart .data-table td,
 	.cms-template-settings .data-table td {margin: 0 10px; border: 0; border-bottom: 1px solid #ddd;}
 	.cart .data-table td.last,
 	.cms-template-settings .data-table td:last-child  {border: 0;}
 	.cart .data-table tr,
 	.cms-template-settings .data-table tr {margin: 4px 0 25px; border: 1px solid #e9e9e9; }
 	.cart .data-table tfoot {position: absolute; bottom: 0; left: 0;}
 	.cart .data-table {padding-bottom: 200px;}
	.cart .data-table tfoot button.button {	width: 100%;margin-left: 0;	margin-right: 0;}
	.cart .data-table tfoot button.button span {display: inline-block;	float: none;width: 100%;margin: 3px 0;	}


	/*====================================== end ===============================================*/

	.block-related .product-name {width:185px;}
	.cart .cart-table-foot {text-align:center;}
	.cart .cart-table-foot .btn-continue {float:none;}
	.cart .cart-table-foot button.button {margin-bottom:5px;}
	.cart .crosssell .add-to-links { float:none; display:block; padding-top:10px; }
	.cart .crosssell .add-to-links li {margin:0;}
	.cart .crosssell button.btn-cart {float:none;}
	.cart-collaterals .col2-set .col-1,
	.cart-collaterals .col2-set .col-2,
	.cart .cart-collaterals .col2-set,
	.cart .totals {width:100%; clear:both;}
	.cart-collaterals .col2-set .col-1,
	.cart-collaterals .col2-set .col-2 {margin: 0 0 25px;}
	.cart .discount, .cart .shipping {width: 100%;}

	.col-main .block-account {display:block;}
	.padding-s .block {padding:0;}
	.block-account ul li {font-size:14px;line-height:17px;}
	.block-account ul li a,
	.my-account a {text-decoration:underline;}
	.block-account ul li a:hover,
	.my-account a:hover	{text-decoration:none;}
	.my-account .col2-set .col-1,
	.my-account .col2-set .col-2 {float:none;width:100%;}
	.my-account .data-table {border:1px solid #ECECEC;width:100%;}
	.my-account .data-table th, .my-account .data-table td {padding:10px 4px;}
	.my-account .data-table tr {display:block;border-bottom:1px solid #ECECEC;}
	.my-account .data-table tr.last {border-bottom:none;}
	.my-account .data-table td {display:block;border:none;}
	.my-account .data-table colgroup {display:none;}
	.my-account #my-orders-table td {padding:10px 10px 0 10px;}
	.my-account #my-orders-table td.order-qty {font-weight:bold;}
	.my-account #my-orders-table td.order-qty .nobr strong {font-weight:normal;}
	.my-account #my-orders-table td.order-product-name .product-name {font-weight:bold;}
	.my-account #my-orders-table td.order-subtotal.last { text-align:left; }
	.my-account #my-orders-table td.last { padding-bottom:10px;  text-align:left; }
	.my-account #my-orders-table tfoot {border-top: 1px solid #ECECEC;}
	.my-account #my-orders-table tfoot td {display:inline-block;padding:10px;width:120px;}
	.my-account #my-orders-table tfoot td+td {text-align:left !important;}
	.my-account #my-orders-table tfoot .grand_total {font-size:14px;line-height:17px;}
	.my-account .page-title button.button {margin-top:10px;}
	.send-friend .buttons-set button.button {float: left; clear: left; }

	.my-account textarea {max-width:294px;min-width:294px;}
	.my-account #wishlist-view-form .buttons-set {text-align:center;}
	.my-account #wishlist-view-form .buttons-set button.button {float:none;margin: 0 0 3px;}
	.my-account #wishlist-table .cart-cell .price-box span.old-price {display:block;}
	.my-account #wishlist-table .product-image {margin-left:42px;}
	#wishlist-view-form #wishlist-table .product-image img {height:200px;width:200px;}

	.my-account #my-tags-table td .price-box {overflow:hidden;}
	.my-account #my-tags-table td button.button {float:left;margin-right:10px;}
	.my-account #my-tags-table .add-to-links {float:right;margin-top:5px;}
	#checkout-review-table-wrapper {overflow-x:auto;}

	.product-review .product-img-box {float:none;overflow:hidden;margin:0 0 20px;width:310px;}
	.product-review .product-img-box .product-image {float:left; margin: 0 10px 0 0;height:100px;width:100px;}
	.product-review .product-img-box .product-image img {height:100px;width:100px;}

	.product-review .product-img-box .product-review-block {overflow:hidden;padding-top:20px;}
	.product-review .product-img-box .product-review-block .rating-links {text-align:center;}
	.product-view .add-to-cart .qty-block {}

	.form-list .field,
	.opc .field,
	.form-list .input-box,
	.form-list li.wide .input-box,
	.form-list select,
	.opc .form-list li.wide input.input-text,
	.form-list input.input-text,
	.form-list li.wide input.input-text,
	.opc .fields select, .opc .field select {width:100%;}
	.opc .form-list .customer-name-suffix .name-lastname,
	.opc .form-list .customer-name-middlename .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-lastname,
	.opc .form-list .customer-name-prefix .name-firstname input.input-text,
	.opc .form-list .customer-name-suffix .name-lastname input.input-text,
	.opc .form-list .customer-name-middlename .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text {width:100%;}
	.opc .name-middlename input  {width:100% !important;}
	.checkout-multishipping-address-newshipping .form-list li.wide input.input-text {width:265px;}
	.checkout-multishipping-address-newshipping .form-list select {width:265px;}
	.multiple-checkout .col-1.col-narrow,
	.multiple-checkout .col-2.col-wide {float:none;width:100%;}
	.multiple-checkout .col-2.col-wide .box {margin-left:0;}
	.checkout-progress li {clear:left; width:100%;}
	#checkout-step-login .col2-set .col-1 {margin-bottom:10px;}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2 {	float:none;	margin-right:0;	width:268px;}
	#co-billing-form > fieldset {border:0; padding:0;}
	#payment-tool-tip {right:0;}
	#payment-tool-tip img {width:268px;}

    .opc #checkout-review-table td {padding:7px;}
	.opc #checkout-review-table tfoot td {padding:7px;}
	#checkout-progress-wrapper {display:none;}
	#multiship-addresses-table.data-table td {padding:5px;}
	#multiship-addresses-table select {width:80px;}

	.gift-messages-form .inner-box .form-list li.wide textarea {width:99%; max-width: inherit;}
	.gift-messages-form .item .product-img-box {float:none;margin-bottom:10px;}
	.gift-messages-form .item .details {margin:0;}
	#checkout-step-login .col2-set {padding:10px;}

	#product_sendtofriend_form .form-list .fields .field input.input-text,
	#product_sendtofriend_form #sender_message {width:285px;}

	.advanced-search .form-list select {width:100%;}
	.advanced-search + .buttons-set {max-width: 100%;}

	.title-buttons {text-align:left;}
	.account-login .registered-users-wrapper,
	.account-login .new-users-wrapper {width:100%; clear:both;}
	#contactForm .form-list input.input-text,
	#contactForm .form-list li.wide .input-box {width:100%;}
	.sales-guest-form .form-alt li .input-box,
	.sales-guest-form .form-alt input.input-text {width:100% !important;}

	.cms-privacy-policy-cookie-restriction-mode .data-table thead {display:none;}
	.cms-privacy-policy-cookie-restriction-mode .data-table {border:1px solid #ECECEC;width:100%;}
	.cms-privacy-policy-cookie-restriction-mode .data-table tr {display:block;border-bottom:1px solid #ECECEC;}
	.cms-privacy-policy-cookie-restriction-mode .data-table tr.last {border-bottom:none;}
	.cms-privacy-policy-cookie-restriction-mode .data-table td,
	.cms-privacy-policy-cookie-restriction-mode .data-table th {display:block;border:none;}
	.cms-privacy-policy-cookie-restriction-mode .data-table th {padding: 10px 10px 5px;}
	.cms-privacy-policy-cookie-restriction-mode .data-table td {padding: 5px 10px 10px;}

	.cms-about-magento-demo-store .about-col-1,
	.cms-about-magento-demo-store .about-col-2,
	.cms-about-magento-demo-store .about-col-3,
	.cms-about-magento-demo-store .about-col-4,
	.cms-about-magento-demo-store .about-col-5,
	.cms-about-magento-demo-store .about-col-6 {margin: 0 0 40px; width:100%;}
	.about-padd,
	.about-padd2 {padding-bottom:0;}
	.page-sitemap .pager .amount {display:block; }
	.page-sitemap .sitemap {padding: 0;}

	.sidebar .block .block-content,
	.block-compared,
	.block-compare,
	.products-grid .actions	li+li,
	.products-list .add-to-links li+li,
	.products-grid .add-to-links,
	.products-list .add-to-links,
	.block-wishlist,
	.breadcrumbs,
	.toolbar .sorter,
	.cart .crosssell .add-to-links li+li,
	.my-account .data-table thead,
	.opc #checkout-review-table thead,
	.opc #checkout-review-table colgroup,
	.opc #checkout-review-table .item-options,
	.footer .footer-col-content {display:none;}

	.footer-container {margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px;}
	.footer {padding:0 10px; text-align: center;}
	.footer-cols-wrapper {border:0;}
	.footer .footer-col { margin-right:0; width:100%; border: 0px; }
	.footer .footer-col-content {margin-bottom:12px;}
	.footer .paypal-logo {float: left; clear: left; margin: 10px 0;}
	.footer address { border-top:none; }
	.footer h4 {border-bottom: 1px solid #373737; padding-bottom: 10px; margin-bottom: 12px; padding-right: 45px; }
	.footer h4:hover {cursor:pointer;}
	.footer h4 span.toggle {top: 3px;}
	.footer-container-bottom .paypal-logo { float: left; clear: left; margin: 10px 0;}
	.footer .store-switcher {float: left; clear: left;}
	.container-bg {margin: 0 -10px; padding:7px 20px;}
	.container-bg .block-subscribe {float: none;}
	.container-bg .input-box {width: 100%;}
	.container-bg .block-title {float: none; margin-bottom: 10px;}
	.container-bg button.button {margin-top: 10px;}
	#back-top {display: none !important;}

	.map-popup {left:0 !important; width:320px;}

	.contact-left,
	#contactForm {float:none;margin:0;width:100%;}
	#contactForm .form-list .field {float:none;width:100%;}
	.list-1 {margin-left: -10px; margin-right: -10px;}
	.list-1 .title-2 { font-size: 20px; line-height: 20px; margin-bottom: 10px;}
	.list-1 .title-1 {font-size: 30px; line-height: 30px;}
	.list-1 li span {font-size: 12px;}

	.list-2 {padding: 0 20px;}
	.list-2 li {width: 20%;}
}
@media only screen and (max-width: 586px)  {
	.list-1 li {width: 100%;}
}
@media only screen and (max-width: 481px)  {
	.products-list .product-image-container {float: none; max-width: 270px; margin: 0 auto;}
	.products-list .product-image {margin-bottom: 5px; width: 270px;}
	.products-list .product-shop {overflow: inherit; clear: both;}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.account-login .registered-users .form-list input.input-text {width:372px;}
	.form-list .name-middlename {width:100%;}
	.form-list .customer-dob .dob-year input.input-text {width:213px;}
	.products-list .product-image {width:150px; }
	.minimal-price-link .label {padding-left: 0;}
	.map-popup {left:50px !important;}
	.mini-products-list .product-name {width:315px;}
	.checkout-multishipping-address-newshipping .form-list li.wide input.input-text {width:390px;}
	.checkout-multishipping-address-newshipping .form-list select {width:390px;}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2 {width:398px;}
	#checkout-step-login .col-2 .form-list .input-box {width:398px;}
	#checkout-step-login .col-2 .form-list input.input-text {width:392px;}
	#payment-tool-tip img {width:400px;}
	#co-billing-form > fieldset {border:1px solid #E5E5E5; padding:10px;}
	#multiship-addresses-table select {width:150px;}
}

@media only screen and (max-width: 460px) {
	.data-table th,
	.data-table td  {padding: 10px 5px;}
	.multiple-checkout .page-title h1 {margin-bottom: 5px;}
	.multiple-checkout,
	.product-view .box-collateral-content,
	#review-form {overflow: auto; padding-bottom: 20px; -webkit-overflow-scrolling: touch;}
	.page-sitemap .links {margin: 0;}
	.cart .totals button.button > span { font-size: 12px; }
	.box-up-sell .caroufredsel_wrapper { min-height: 320px;}
	#review-form #product-review-table th .nobr {white-space:normal !important; text-align: center; display: block;}
	.products-grid .product-image {width: 100%;}
	.addthis_button_google_plusone {clear:left;}
	.products-grid .product-shop {width: 100%;}
	button.button > span, .page-sitemap .links a {font-size: 12px;}
	.col-main .regular-price .price,
	.col-main .price-box.map-info .old-price .price,
	#tabquickshowcontainer .regular-price .price,
	.products-grid .special-price .price,
	.products-list .special-price .price,
	.block .special-price .price,
	#tabquickshowcontainer .special-price .price {font-size: 15px;}

	.products-grid .old-price .price,
	.products-list .old-price .price,
	.block .old-price .price,
	#tabquickshowcontainer .old-price .price {font-size: 14px;}

}

@media only screen and (max-width: 362px) {
	.product-view .product-img-box {text-align:left; width: 288px;}
	.product-view .product-img-box .product-box-customs .product-image { overflow:hidden; width:284px;}
	.container-slider {width: 290px;}
	.tumbSlider li,
	.container-slider li {width: 90px;}
	.container-slider li {margin-right: 3px;}
	.top-icon-menu {min-width: 320px;}
	.search-form .form-list .input-box,
	.search-form .form-list .input-box input {width: 99% !important;}
	.list-1 .title-4 {font-size: 40px; line-height: 40px;}
	.list-1 .block-1 {padding-left: 10px; padding-right: 10px;}
}
