.nav-container {  position: relative;  z-index: 4; top:0; width: 100%; left: 0;}
.sf-menu { }
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  /*border-right: 1px solid #ddd;*/
  z-index: 99;
}
.sf-menu li.parent {z-index: 999;}
.sf-menu li a {
  display: block;
  color: #383737;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: capitalize;
}
.sf-menu > li > a > span {
  display: block;  
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  padding: 16px 20px 14px;
  color: #a1a3a7;
    font-size: 16px;    
    font-weight: 500;
    text-transform: uppercase;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a:before { content: "\f103"; position: absolute; bottom: 0; width: 100%; text-align: center;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {background: #fff;}

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #fff;
  box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -moz-box-shadow:0 4px 8px rgba(0,0,0,0.12);
  -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.12);
}
.sf-menu li li {  border: 1px solid #ddd; border-bottom-width: 0;}
.sf-menu li li.parent > a:before { content: "\f101"; float: right; }
.sf-menu li li.last {  border-bottom-width: 1px;}
.sf-menu li li {  position: relative; float: none;}
.sf-menu li li a {
  display:block;
  background: none;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  padding:6px 15px;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #B90100;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 47px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

}
@media only screen and (max-width: 991px) {
  .nav-container {position: relative !important;}
  .pseudoStickyBlock {display: none !important;}
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
 .sf-menu-block {display: block; position: relative;}
  #menu-icon {
    display: block;
    font-size: 17px;
    line-height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #fff;

  }
  #menu-icon:before {content: "\f067"; font-size: 20px; line-height: 50px; float: right; }
  #menu-icon.active:before { content: "\f068"; }

  .sf-menu-phone {
    background: #fff;
    border-top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    box-shadow: 0 5px 51px rgba(0,0,0,0.15);
    -webkit-box-shadow:0 5px 51px rgba(0,0,0,0.15); 
  }
  .sf-menu-phone li {  position: relative; text-transform: uppercase;  }
  .sf-menu-phone > li { border-bottom: 1px solid #e5e5e5; padding: 10px 20px; font-size: 14px; text-transform: uppercase; }
  .sf-menu-phone > li.last {border-bottom: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #838383;  }
  .sf-menu-phone li a:hover { color: #000; }
  .sf-menu-phone li li {font-size: 11px; padding: 2px 8px; }
  .sf-menu-phone li li.last {padding-bottom: 10px;}
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 16px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto; display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone li.active > a,
  .sf-menu-phone li a:hover { color: #F1191A;  }

}
@media only screen and (max-width: 767px) { 
   .sf-menu-block {margin: 0 10px;}
}


.nav-container,
.nav-container-mobile {  
  position: relative;  
  z-index: 4; 
  width: 100%;
  background-color: #2c2d30;
  box-shadow:0 4px 5px rgba(0,0,0,0.11);
  -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.11);
}
.nav-container-mobile {display: none;}

.nav {    
    margin: 0 auto;
}



/*********************FORMATAÇÃO MENU*************************/



