<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');

if(Mage::helper('core')->isModuleEnabled('Amasty_Shopby')) {
    $toolbar   = Mage::app()->getLayout()->getBlock('product_list_toolbar');
    $top_toolbar = Mage::app()->getLayout()->getBlock('top_toolbar')->setCollection($this->getLoadedProductCollection())->toHtml();
    $bottom_toolbar = Mage::app()->getLayout()->getBlock('bottom_toolbar')->setCollection($this->getLoadedProductCollection())->toHtml();
    $pager = Mage::app()->getLayout()->getBlock('product_list_toolbar_pager');
    $pager->setCollection($this->getLoadedProductCollection());
    $pagerHtml = $pager->toHtml();
}
?>
<?php if(!$_productCollection->count()): ?>
  <div class="alert alert-info" role="alert"><?php echo $this->__('There are no products matching the selection.') ?></div>
<?php else: ?>
  <div class="category-products">
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php if($this->getMode() == 'grid'): ?>
      <?php echo $this->getLayout()->getBlock('grid_mode')->setData('productCollection', $_productCollection)->toHtml();  ?>
    <?php else: ?>
      <?php echo $this->getLayout()->getBlock('list_mode')->setData('productCollection', $_productCollection)->toHtml();  ?>
    <?php endif; ?>
  </div>
<?php endif; ?>

<?php if(Mage::helper('core')->isModuleEnabled('Amasty_Shopby')):?>
<script>
    jQuery(document).ready(function() {

        if(typeof amshopby_ajax_init != "undefined") {
            let fixProductList = function () {
                let top_toolbar = '<?php echo str_replace("\n","", $top_toolbar)?>';
                let bottom_toolbar  = '<?php echo str_replace("\n","", $bottom_toolbar)?>';
                let pager = '<?php echo str_replace("\n","", $pagerHtml)?>';
                jQuery('.toolbar.top').replaceWith(top_toolbar);
                jQuery('.toolbar.bottom').replaceWith(bottom_toolbar);
                jQuery('.pager').replaceWith(pager);
                amshopby_ajax_init();

                setTimeout(function() {
                    let productListHeight = 0;

                    jQuery('.products-grid .item').each(function() {
                        let newHeight = jQuery(this).outerHeight(true);
                        if(newHeight > productListHeight) productListHeight = newHeight;
                    });
                    ;
                    jQuery('.products-grid .item').height(productListHeight + 4);
                }, 800);

                jQuery('.bottom-seo-category').not(':last').remove();<?php /*resolve duplicidade de descricao de categoria*/ ?>
            };

            fixProductList();
        }
    });
</script>
<?php endif?>