.welcome-msg,.onestepcheckout-index-index .continue-buy.first{display: none;}
#onestepcheckout-authentification-button{border-top: 1px solid #D8D2C7;}
#onestepcheckout-authentification{overflow: hidden;}
#onestepcheckout-authentification-container {
    position: relative;
    top: 0px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}
#onestepcheckout-authentification-container .page-title{margin: 0 0 16px;}
#onestepcheckout-authentification .validation-advice{position: absolute;width: 163px;}
#onestepcheckout-login-form,
#onestepcheckout-forgot-password-form,
#onestepcheckout-forgot-password-success{padding-top:5px;min-height:initial;}
#onestepcheckout-forgot-password-success{
  min-height:120px;
}

#onestepcheckout-login-form .form-list, #onestepcheckout-forgot-password-form .form-list, #onestepcheckout-forgot-password-success{padding-bottom: 5px}
.onestepcheckout-auth-form-block{display:inline-block;padding-right: 10px;vertical-align: bottom;}
.onestepcheckout-auth-form-block.forgot_password{padding-top: 18px;}
.onestepcheckout-auth-form-block .input-box{width:180px;}
.onestepcheckout-auth-form-block input.input-text {width:174px;}
#onestepcheckout-login-forgot-link {
  cursor: pointer;
  display: block;
  text-align: right;
  width: 500px;
}
#onestepcheckout-forgot-password-form p, #onestepcheckout-forgot-password-success p{margin:0;padding:0;}
#onestepcheckout-authentification label{width: auto;text-align: left;padding: 0;}
#onestepcheckout-authentification label.required em {float: right;font-style: normal;color: #eb340a;position: relative;right: -4px;margin-right: 0;}
#onestepcheckout-authentification .form-list .input-box{float: none;}
#onestepcheckout-authentification .form-list .input-box input{float: none;}
#onestepcheckout-login-form .onestepcheckout-auth-form-block #onestepcheckout-login-submit-btn {margin-top: -27px !important;}
.onestepcheckout-index-index .onestepcheckout-auth-form-block #onestepcheckout-login-submit-btn {margin: -23px 0 0;}
#onestepcheckout-login-submit-btn, .btn-login, .btn-create-account, #onestepcheckout-forgot-password-submit-btn {
    border: 1px solid;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 15px;
    display: inline-block;
    background: transparent;
    text-decoration: none !important;
    cursor: pointer;
    border-radius: 0px;
}
.onestepcheckout #onestepcheckout-title{padding-top: 0;}
#onestepcheckout-general-form .radio, #onestepcheckout-general-form .checkbox {
    display: inline-block;
}
.form-list li.control input.radio, .form-list li.control input.checkbox {
    margin-right: 6px;
}
.onestepcheckout-index-index .tipopessoa .radio {
    margin-top: -2px;
}
.onestepcheckout-index-index .li-radio-tipo-pessoa span {
    background-color: #ddd;
    padding: 4px;
    border-radius: 10px;
    margin-right: 15px;
}
.onestepcheckout-index-index .name-lastname {
    margin-left: 0%;
}
.onestepcheckout-index-index .li-radio-tipo-pessoa span{    width: 45%;
    display: inline-block;
    margin-right: 5%;}
.onestepcheckout-index-index .li-radio-tipo-pessoa span:last-child{margin-right: 0;}
#onestepcheckout-login-forgot-link{text-align: left;}
.onestepcheckout-index-index .name-middlename {display: none;}
/*.wizard .tab-content>.tab-pane{padding: 0;}*/
#onestepcheckout-billing-address-list h2.legend,
#onestepcheckout-address-billing h2.legend{float: left;width: 100%;}
#onestepcheckout-place-order #onestepcheckout-place-order-button{float: none;}
#onestepcheckout-general-form #step1,#onestepcheckout-general-form #step3{padding: 0;}
.onestepcheckout #onestepcheckout-address-billing .step-title{float: left;width: 100%;}
.tab-pane.active .step-title.title-use-for-shipping .number{margin-top: 12px;}