<?php
$parentBlock = $this->getParentBlock();


$paymentTitle = Mage::getStoreConfig('payment/boleto_bancario/title');
$order = Mage::getModel('sales/order');
$order->loadByIncrementId($parentBlock->getOrderId());
$method = $order->getPayment()->getMethod();


if (strpos($method, $paymentTitle) !== false || $method === 'boleto_bancario') {
    echo $this->__('<div align="center"><a href="%s" onclick="this.target=\'_blank\'">Clique aqui para imprimir o boleto bancário.<br/><img src="%s"/></a></div>', $this->getUrl('boleto/standard/view/order_id/' . $order->getId()), $this->getSkinUrl('images/boleto.gif'));
}
