<?php if ($this->getActive()): ?>

<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php $_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes()); ?>
<?php var_dump(count($_attributes)) ?>
<div id="product_info_bar">

    <div class="container">
        <div class="row">

                <div class="col-md-4">
                    <?php echo $_product->getName() ?>
                    <?php echo $this->getTierPriceHtml() ?>
                </div>

                <div class="col-md-4">
                    <?php echo $this->getChildHtml('product_type_data') ?>



    <?php if ($_product->isSaleable() && count($_attributes)):?>
        <?php echo $this->getChildHtml('options_configurable') ?>
    <?php endif;?>


                </div>

                <div class="col-md-4">
                    <?php if($_product->isSaleable()): ?>
              <?php if(!$_product->isGrouped()): ?>
      			<div class="qty-block">
      				<label for="qty"><?php echo $this->__('Qty:') ?></label>
      				<input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
      			</div>
              <?php endif; ?>
              <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
              <?php //echo $this->getChildHtml('', true, true) ?>

      <?php endif; ?>

                </div>

            </div>
        </div>
    </div>




















<?php endif ?>
