            /**
* JN2
* @package: Jn2 Clean Theme
* @author:
*/
        
        .cms-index-index {
            .home-pitbar {
                background-color: #000;
            }
        }
        
        header {
            .block-skip-links {
                a {
                    color: #FFF;
                    .label-skip {
                        color: #FFF!important;
                        @media only screen and (min-width: $screen-sm) {
                            font-weight: lighter;
                            letter-spacing: 1px;
                        }
                        strong {
                            font-family: $secund-desktop-font!important;
                            font-style: normal!important;
                            font-weight: normal;
                        }
                    }
                }
                .number-itens-cart {
                    @media only screen and (min-width: $screen-sm) {
                        color: #fff!important;
                    }
                }
                .customer-logged {
                    .label-skip {
                        &.logout {
                            div {
                                a {
                                    @media only screen and (min-width: $screen-md) {
                                        color: #FFF;
                                    }
                                }
                            }
                            .spacer {
                                color: #b9b9b9;
                            }
                        }
                    }
                }
            }
        }
        
        header .skip-links .block-skip-links .number-itens-cart {
            color: #fff;
        }
        
        .form-search .button span {
            color: #fff;
        }
        
        #search_mini_form .form-search input {
            border-color: #fff;
            @media only screen and (min-width: $screen-sm) {
                background-color: rgba(#000000, 0);
                border-color: #b9b9b9;
            }
        }
        
        #search_mini_form .form-search .button {
            border-color: #fff;
        }
        
        menu .mega-menu-jn2 .content-mega-menu ul.nav>li>a {
            font-family: $secund-desktop-font;
            font-size: 13px;
            font-weight: bold!important;
        }
        
        footer {
            .row-1 {
                .footer-2,
                .footer-3 {
                    border-right: 1px solid rgba(72, 72, 72, 0.05);
                }
            }
            .footer-3 {
                .newsletter {
                    .newsletter-form {
                          @media only screen and (min-width: $screen-sm) {
                              background-color: #292929;
                          }
                            .form-control {
                                font-family: $primary-desktop-font;
                            }
                            .btn {
                                font-style: normal;
                            }
                        }
                    }
                }
                h3 {
                    font-style: normal;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    @media only screen and (min-width: $screen-sm) {
                        text-transform: uppercase;
                    }
                }
                .footer-4 h3 {
                    color: #fff;
                }
            }
            .products-grid {
                .item {
                    text-align: center;
                    .product-name {
                        @media only screen and (min-width: $screen-sm) {
                            text-align: center;
                        }
                        a {
                            @media only screen and (min-width: $screen-sm) {
                                font-weight: 300;
                                text-align: center;
                                font-size: 15px;
                            }
                        }
                    }
                    .price-box-link {
                        .price-box {
                            .price-billet {
                                @media only screen and (min-width: $screen-sm) {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            footer {
                .footer-17 {
                    .logo-assinatura {
                        background-position: 0 0px;
                    }
                }
            }