/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */

.ibanners li.slide ul.internal-inline li.banner{
    float:left;
    /*height:300px;
    width:400px;*/
}
 
.ibanners.animated { 
    overflow: hidden; width: 100%;
}
/*.ibanners.animated ul { height: 1%; overflow: hidden; width: 9000px;  }
.ibanners.animated ul li { float: left; overflow: hidden; }*/

/*.ibanners.static { overflow: hidden; width: 100%; }
.ibanners.static ul { height: 1%; overflow: hidden; width: 9000px; }
.ibanners.static ul li { float: left; }*/

.ibanners.animated ul.lista-cycle {
    height: 100px;
    border:4px solid #f00;
}
.ibanners.animated .control-prev,
.ibanners.animated .control-next{
    float: left;    
}
.ibanners.animated .control-next{
    float: right;
}

#ibanners-banner_list .slide li.banner:last-child,
#ibanners-banner_list li.banner:last-child{
    margin: 0;
}

#ibanners-banner_list .slide li.banner,
#ibanners-banner_list li.banner{
    margin: 0 5% 0 0;
    width: 30%;
    float: left;
}


#ibanners-banner_list-wrapper li.slide li.banner img,
#ibanners-banner_list-wrapper li.banner img {
    width: 100%;
}

.bx-wrapper .bx-controls-direction a{
     position: relative;
}
.bx-controls-direction .bx-prev{
    background: url(../images/bt-prev.png) no-repeat 0 0;
    display: block;
    text-indent: -9999px;
    top: -237px!important;
    width: 20px;
}

.bx-controls-direction .bx-next{
    background: url(../images/bt-next.png) no-repeat 0 0;
    display: block;
    text-indent: -9999px;
   right: -1140px;
    top: -237px !important;
    width: 20px;
}

.bx-controls-direction .bx-prev:hover,
.bx-controls-direction .bx-next:hover{
    background-position: 0 0;
}

#ibanners-home_top_left-wrapper{
    margin-bottom: -117px;
    position: relative;
    z-index: 2;
}