.nav-container {  position: relative;  z-index: 4;}
.sf-menu {  background:url(../images/sf-menu.gif) repeat-x center bottom #fff; border: 1px solid #dbdbdb;  margin-bottom: 25px;}
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  z-index: 99;
}
.sf-menu > li {border-right: 1px solid #dbdbdb;}
.sf-menu li.parent {z-index: 999;}
.sf-menu li a {
  display: block;
  color: #333333;
  text-decoration: none;
  position: relative;
  padding: 0;
  text-transform: uppercase;
}
.sf-menu > li > a > span {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  padding: 18px 18px 25px;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a:before { content: "\f103"; position: absolute; bottom: 5px; width: 100%; text-align: center;}
.sf-menu > li > a:after {
  content: ".";
  font-size: 0;
  text-indent: -77777px;
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #f7f7f7;
}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {background: #f7f7f7;}

.sf-menu > li.sfHover > a:after,
.sf-menu> li > a:hover:after,
.sf-menu > li.active > a:after {background: #fff;}

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #fff;
  box-shadow:0 5px 13px rgba(0,0,0,0.10);
  -moz-box-shadow:0 5px 13px rgba(0,0,0,0.10);
  -webkit-box-shadow:0 5px 13px rgba(0,0,0,0.10);
  moz-box-sizing:content-box;
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
   box-sizing: content-box;
}
.sf-menu > li > ul {padding-top: 20px; padding-bottom: 25px;}
.sf-menu li li {  padding:0;}
.sf-menu li li.parent > a:before { content: "\f0ab"; float: right; }
.sf-menu li li.last {  border-bottom-width: 1px;}
.sf-menu li li {  position: relative; float: none;}
.sf-menu li li a {
  text-transform: none;
  display:block;
  background: none;
  font-size: 13px;
  line-height: 15px;
  color: #999898;
  padding:4px 25px;
  font-weight: bold;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #79a542;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 62px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 992px) {
    #menu-icon,
    .sf-menu-phone,
    .sf-menu-block {  display: none !important;}

}
@media only screen and (max-width: 991px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
 .sf-menu-block {display: block; position: relative;}
  #menu-icon {
    font-family: 'Roboto', sans-serif;
    display: block;
    background:url(../images/sf-menu.gif) repeat-x center bottom #fff;
    border: 1px solid #dbdbdb;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    padding: 0 20px;
    height: 55px;
    line-height: 50px;
    color: #333333;
  }
  #menu-icon:before {content: "\f055"; font-size: 25px; line-height: 50px; float: right; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #fff;
    border: 1px solid #CCCCCC;
    border-top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    box-shadow:0 5px 13px rgba(0,0,0,0.10);
  -moz-box-shadow:0 5px 13px rgba(0,0,0,0.10);
  -webkit-box-shadow:0 5px 13px rgba(0,0,0,0.10);
    top:55px;

  }
  .sf-menu-phone li {  position: relative;   }
  .sf-menu-phone > li { border-bottom: 1px solid #ccc; padding: 10px 20px; font-size: 18px; }
  .sf-menu-phone > li.last {border-bottom: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #999898;  }
  .sf-menu-phone li a:hover { color: #79a542; }
  .sf-menu-phone li li {font-size: 13px; padding: 2px 8px; font-weight: bold; }
  .sf-menu-phone li li.last {padding-bottom: 10px;}
  .sf-menu-phone li li:first-child {padding-top: 10px;}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 16px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 20px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {}
}
@media only screen and (max-width: 767px) { 
   .sf-menu-block {margin: 0 10px;}
}
