/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com> / Diogo Siqueira <diogovsi@gmail.com> / Cláudio Barbosa <claudiobareis@gmail.com>
*/

$cor1:#333;

$header-search-border:$cor1;
$header-search-bg: transparent;
$header-search-border-color: $cor1;
$header-search-button: $cor1;


$button-border-radius:0px;
$display-separator:none;
