<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
  <h1><?php echo Mage::helper('contacts')->__('Contact Us') ?></h1>
</div>

<div class="contact-block clearfix">

  <div class="row">
    <div class="col-md-8">
      <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post">
        <div class="row">
          <div class="col-md-6 same-height-default">
            <div class="form-group">
              <label for="name" class="required"><?php echo Mage::helper('contacts')->__('Name') ?></label>
              <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="form-control required-entry" type="text" />
            </div>
            <div class="form-group">
              <label for="email" class="required"><?php echo Mage::helper('contacts')->__('Email') ?></label>
              <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="form-control required-entry validate-email" type="text" />
            </div>
            <div class="form-group last">
              <label for="telephone"><?php echo Mage::helper('contacts')->__('Telephone') ?></label>
              <input name="telephone" id="telephone" title="<?php echo Mage::helper('contacts')->__('Telephone') ?>" value="" class="form-control" type="text" />
            </div>
          </div>
          <div class="col-md-6 same-height">
            <div class="form-group last">
              <label for="comment" class="required"><?php echo Mage::helper('contacts')->__('Comment') ?></label>
              <textarea name="comment" id="comment" title="<?php echo Mage::helper('contacts')->__('Comment') ?>" class="required-entry form-control" cols="5" rows="3"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="buttons-set">
              <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
              <button type="submit" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="btn-send-contact" id="btn-send-contact"><?php echo Mage::helper('contacts')->__('Submit') ?></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <div class="contact-right">
        <?php echo Mage::helper('contact')->getBlock(1) ? Mage::helper('contact')->getBlock(1) : "" ; ?>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
