.regular-price{
    float: none!important;
    display: inline-block!important;
}

.price-box .price{
  font-weight:bold;
}

.old-price .price{
  color: #AAA;
  font-weight: normal;
}

.regular-price + .price-billet:before{
    content: "ou ";
}
.price-billet{
    clear: both;
}
.price-parcelado + .price-billet .description{
    display: inline;
}
.price-parcelado + .price-billet:before {
  content: "ou";
}

.price-billet .description{
    font-size: 11px;
}


.regular-price .price,
.special-price .price {
    font-size:18px;
    line-height:25px;
}
.price-parcelado{
  font-size: 13px;
}
.price-parcelado .price{
    font-size:14px;
}
.price-billet .price{
    font-size:24px;
}

/**************
    PRICE ON PRODUCT DETAIL
**********************************/
.product-shop .regular-price .price,
.product-shop .special-price .price{
  font-size:21px;
}
.product-shop .price-parcelado{
  font-size: 14px;
}
.product-shop .price-parcelado .price{
    font-size:18px;
}
.product-shop .price-billet .price{
    font-size:28px;
}
