// @import "bootstrap-modify";

.catalog-product-view, #option-modal{

  .product-view{

    .validation-advice{
      display: none;
    }

    .product-shop{
      position: relative;
      background: #fff;

      .btn-instalments{
        display: block !important;
        border: 0px;
        border-bottom: 1px dashed #ddd;
        margin-bottom: 20px;
      }

      &.affix-scroll{
        position: fixed;
        top: 5%;
      }
      &.affix-stop{
        position: absolute;
      }

      .swatchContainer{
        position: relative;
        float: left;
        margin: 0;
        padding: 2px;

        .swatchSelected{
          
        }

        .swatch{
          margin: 0;
          padding: 0;
        }

        .disabledSwatchX{
          color: red;
          position: absolute;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 14px;
          font-size: 10pt;
          margin: 0;
          padding: 2px;
        }
      }


      .product-name{
        h1{
          font-size: 18pt !important;
          color: #000;
          /*font-style: italic;*/
        }
        small{
          color: #999;
        }
      }

      .alert-price{
        display: none;
      }

      .price-box{
        padding: 10px 0 !important;
        * {
          font-family: "Open Sans";
          /*font-style: italic;*/
        }


        .regular-price{
          .price{
            color: #424242;
            font-size: 18pt !important;
            font-weight: bold;
          }
        }

        .special-price{
          float: left;
          .price{
            /*font-size: 18pt !important;
            font-weight: bold;*/
          }
        }

        .old-price{
          float: left;
          margin-top: 8px;
          .price{
            /*font-size: 12pt !important;*/
          }
        }


        .price-parcelado{
          /*font-size: 12pt !important;*/
          .number{
            display: inline-block;;
            float: left;
            width: auto;
            padding-right: 5px
          }
          .text{
            display: inline-block;;
            float: left;
            width: auto;
            padding-right: 5px
          }
          .price{
            /*font-size: 14pt !important;*/
            font-weight: bold;
          }
        }

        &.has_parcel{
          .regular-price{
            .price{
              color: #4A4A4A;
            }
          }
        }

        &.price-billet{
          /*font-size: 10pt !important;*/
          &:before{
            content: '';
          }
          .regular-price{
            .price{
              color: #FC9D25;
              /*font-size: 24pt !important;*/
              font-weight: bold;
            }
          }
        }
      }
      .product-options {
        background-color: #FFF;
        border: none;
        clear: both;
        margin: 5px 0 18px;
        border-top: 1px solid #DBDBDB;
        background: #fbfbfb;
        border-bottom: 0;
        padding: 10px;
        margin-bottom: 0;
        .qty-holder {
          display: block;
          padding-top: 10px;
        }

        dl dt {
          display: block;

          .qty-disabled {
            background: none;
            border: 0;
            padding: 3px;
          }

          .qty-holder {
            float: right;

            label {
              vertical-align: middle;
            }
          }

          label {
            font-weight: bold;
            display: inline-block;
            text-transform: uppercase;;
            font-size: 10pt !important;

            em {
              float: right;
              color: #e03b3b;
            }
          }
        }
        dd {
          margin: 0px 0 10px 0!important;
          display: block;
          width: 100%;
          border: 0!important;
          padding-bottom: 0!important;

          input.input-text {
            width: 98%;
          }

          input.datetime-picker {
            width: 150px;
          }

          .time-picker {
            display: -moz-inline-box;
            display: inline-block;
            padding: 2px 0;
            vertical-align: middle;
          }

          textarea {
            width: 98%;
            height: 8em;
          }

          select {
            width: 100%;
          }

          &.last{
            margin-bottom: 0!important;
          }

          .options-list li {
            padding-top: 10px;

            &:first-child {
              padding-top: 0;
            }
            label {
              display: inline-block;
            }
            input.radio {
              float: left;
              margin: 2px 0 0 0;
              height: auto;
            }
            input {
              width: auto;
            }
            input.checkbox {
              float: left;
              margin: 3px -20px 0 0;
              height: auto;
            }
          }
          .label {
            display: block;
            margin-left: 20px;
          }
        }
        ul.validation-failed {
          padding: 0 7px;
        }
        p.required {
          padding: 5px 0 0;
          overflow: hidden;
          width: 100%;
          text-align: left;
          font-size: 12px;
          color: #e03b3b;
        }
      }
      .add-to-cart{
        .btn-cart{
          //@extend .button-fx;
          margin-top: 20px;
          img{
            margin-top: -5px;
          }
        }
        .qty-block{
          // display: none;
        }
      }



      .block-shipping-estimate {
        .block-shipping-results{
          padding: 0px;
          margin: 0px;
          border: 0px !important;
          dl {
            dd{
              padding: 2px 10px;
            }
          }
        }
        h6{
          font-weight: bold;
        }
        .input-group{
          border: 1px solid #bbb;
          input{
            border: 0px;
            box-shadow: none;
          }
          .input-group-btn{
            .btn{
              background: #424242 !important;
              border: 0px;
              margin-right: 2px;
            }
          }
        }
      }

      .alert-stock{
        background: transparent !important;
        border: 0px;
        padding: 0px;
        width: 100%;
        float: left;

        a{
          background: #c92a2a;
          background-image: -webkit-linear-gradient(top, #c92a2a, #c10a0a);
          background-image: -moz-linear-gradient(top, #c92a2a, #c10a0a);
          background-image: -ms-linear-gradient(top, #c92a2a, #c10a0a);
          background-image: -o-linear-gradient(top, #c92a2a, #c10a0a);
          background-image: linear-gradient(to bottom, #c92a2a, #c10a0a);
          border-radius: 8px !important;
          color: #ffffff !important;
          padding: 10px 20px 10px 20px;
          border: solid #c10a0a 3px;
          text-decoration: none;
          font-size: 10pt;
          text-align: center;
          float: left;
        }
      }

      // .out-of-stock{
      //   display: none;
      // }

    }

    .media{
      margin: 0px !important;

      .more-views{
        float: left;
        width: 100%;

        ul{
          float: left;
          width: 100%;
          margin: 0px;
          list-style: none;

          .show-video{
            background: #000;
            width: 100%;
            height: 50px;
            cursor: pointer;

            i{
              width: 100%;
              text-align: center;
              font-size: 25pt;
              color: #fff;
              line-height: 40px;
            }
          }

          li{
            float: left;
            width: 100%;
            padding: 5px 0;
            opacity: 0.8;

            img{
              float: left;
              width: 100%;
            }

            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }

    .preview{
      position: relative;

      .product-video{
        padding: 0 15px;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: #fff;
      }
      .product-video iframe{
        width: calc(100% - 30px);
        height: 100%;
        margin-left: 15px;
        display: inline-block;
      }
      .show-video:hover{
        cursor: pointer;
      }
      .product-video.show{
        z-index: 99999;
      }
      .show-video i{
        margin-left: 33px;
      }
      .show-video i:before{
        font-size: 54px;
      }
      .product-image-zoom{
        width: 100%;
      }
    }

    .short-description{
      margin: 15px 0 0 0;
    }
    .box-description{
      margin: 60px 0 30px 0;
      background: #eee;
      padding: 20px;
      font-size: 10pt;
      float: left;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }

      h3{
        margin-top: -40px;
        margin-left: -20px;
        background: #eee;
        padding: 10px 20px;
        border-radius: 8px;
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12pt;
      }

      strong{
        font-weight: bold !important;
      }

      table{
        float: left;
        td{
          padding: 5px;
        }
      }
      .std{
        clear: both;
      }
    }



    .product-options-bottom{
      // background: #eee;
      padding: 10px;

      .price-box {
        float: none;
        display: block;
        padding: 0;
        margin-top: 0;
        margin-right: 0 !important;
        overflow: hidden;
      }

      .stock-info{
        font-size: 10pt;
        img{
          margin-right: 10px;
        }
      }
    }


    .related-products{
      margin-top: 30px;
      float: left;
      width: 100%;

      h2{
        font-weight: bold;
        font-size: 14pt;
      }

      .btn-cart.related{
        //@extend .button-fx;
        width: auto;
        font-size: 11pt;
        padding: 10px;
        margin-left: 10px;
      }

      .related-all{
        //@extend .btn, .btn-default;
        padding: 13px;
        border-radius: 8px;
      }

      .item{
        .product-name{
          a{
            font-size: 12pt !important;
          }
        }
        .price-box{
          .regular-price{
            .price{
              font-size: 12pt !important;
            }
          }
          .special-price{
            .price{
              font-size: 12pt !important;
            }
          }
          .old-price{
            .price{
              font-size: 10pt !important;
            }
          }
          .price-parcelado{
            font-size: 10pt !important;
            .price{
              font-size: 10pt !important;
            }
          }
        }
      }

      .check{
        font-size: 10pt;
      }
    }

    .upsell-products{
      margin-top: 30px;
      float: left;
      width: 100%;

      h2{
        font-weight: bold;
        font-size: 14pt;
      }
      .item{
        .product-name{
          a{
            font-size: 12pt !important;
          }
        }
        .price-box{
          .regular-price{
            .price{
              font-size: 12pt !important;
            }
          }
          .special-price{
            .price{
              font-size: 12pt !important;
            }
          }
          .old-price{
            .price{
              font-size: 10pt !important;
            }
          }
          .price-parcelado{
            font-size: 10pt !important;
            .price{
              font-size: 10pt !important;
            }
          }
        }
      }
    }
    .social-proof{
      margin-top: 30px;
      float: left;
      width: 100%;
    }
  }
}


.nicemodal#option-modal{
  text-align: center;
  ul{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }
  p.required{
    display: none;
  }
  dt{
    label{
      font-size: 10pt;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .swatchContainer{
    position: relative;
    float: left;
    margin: 0;
    padding: 2px;



    .swatchSelected{
      filter: invert(100%);
      -webkit-filter: invert(100%);
    }

    .swatch{
      margin: 0;
      padding: 0;
    }

    .disabledSwatchX{
      color: red;
      position: absolute;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 14px;
      font-size: 10pt;
      margin: 0;
      padding: 2px;
    }
  }
}

.stars-review{
  padding: .3em!important;
}
.star-cb-group{
  padding: 0!important;
}
.star-cb-group>input+label:before {
    font-size: 25px;
}
.stars-review {
  margin: 0px;
}
.box-reviews {
  #review-form {
    .stars-review {
      border: none;
    }
  }
}

.block-related {
  .block-title{
    margin-bottom: 0;
    border: 0;
  }
  .block-subtitle{
    font-size: 13px;
    border: 0;
  }
    .mini-products-list {
        .item {
            .product {
                .product-image {
                    float: none;
                }
            }
        }
    }
}

.related-all-actions{
  .block-subtitle{
    line-height: 38px;
    .related-all{
      font-size: 14px;
    }
  }
  .related{
    span{
      span{
        font-size: 14px;
      }
    }
  }
}

.reports-list {
  .products-grid{
    li{
      width: 30%;
      float: left;
      position: relative;
    }
  }
}

.theme2-product-wrapper.scroll-to-fixed-fixed.position-correction {
  left: 15px !important;
}
