.theme3-product-wrapper{
  .product-options,
  .product-options-bottom{
    border: 0;
    padding: 1em 0;
    margin: .5em 0;
    background: transparent;
    border-top: 1px dotted #ccc;
  }

  .modal{
    z-index: 99999;
  }
  .col-box-buy{
    padding-top: 1em;
  }
  .product-options{
    dl{
      dt{
        float: left;
        width: 25%;
        label{
          padding: 0;
        }
        .swatchLabel{
          font-size: 11px;
        }
      }
      dd{
        float: left;
        width: 70%;
        position: relative;
      }
    }
    p.required{
      text-align: right;
      font-size: 11px;
    }
    .validation-advice{
      position: absolute;
      bottom: -1em;
    }
  }

  
   .block-shipping-estimate{
     padding: 1em;
    clear: both;
    background-color: rgba(0,0,0,.1);
   }
   .block-shipping-results{
     margin-top: 0;
     border-color: rgba(0,0,0,.1)!important;
   }
   .price-billet{
      position: relative;
   }
   .price-parcelado + .price-billet:before{

      display: block;
      text-align: center;
      background-color: #fff;
      /* z-index: -1; */
      //width: 23%;
      margin: 0 7em;
      z-index: 2;
      position: relative;
      background-color: #f5f5f5;

   }
   .price-parcelado + .price-billet:after {
      display: block;
      content: "";
      border-top: 1px solid #ccc;
      position: absolute;
       width: 100%;
       top: 10px;

      }


      .no-options{
        text-align: center;
        .price-parcelado{
          font-size: 13px;
          display: inline-block;
          border-left: 1px solid #ccc;
          padding: 0 0 0 1em;
          margin: 0 0 0 .7em;
        }
        .price-billet .price {
           font-size: 32px;
        }
        .price-parcelado + .price-billet:before{
            margin: 1em 16em 0 16em;
        }
        .price-parcelado + .price-billet:after {
          width: 80%;
          left: 11%;
        }
      }

      .add-to-box{
        &.col-md-6{
              border-left: 1px solid #ddd;
        }
        .alert-price{
            margin-top: 1em;
        }
      }
      .alert-price{
        text-align: center;
        padding: .2em;
      }

      .product-options-bottom{
        .add-to-cart{
          .qty-block{
            display: inline;
            float: left!important;
          }
          .button{
            width: 65% !important;
            float: right!important;
            @media only screen  and (min-width: 992px) and (max-width: 1199px){
              width: 48% !important;
            }
          }
        }
      }
}

.link-pop-installment{
  background: transparent;
  border: 0;
  color: #666;
  text-decoration: underline;
}

.catalog-product-view{
  .main-container{
    z-index: auto;
  }
}
