.h1_opc{text-transform:uppercase;font-size:22px;color:#000;}

.onepagecheckout_loginarea {  float:right }
.onepagecheckout_loginlink {color:#fff; background:#999; border-radius:25px; padding:5px 15px;  }
.onepagecheckout_loginlink:hover {background:#666; }


.op_login_area{width:400px;padding:10px;border:1px solid #ccc;margin-bottom:15px; float:right; margin-top: -30px; background:#f9f9f9;}
.op_login_area .page-title{font-weight:bold;}
.op_login_area sup{color:#767676;font-size:100%;line-height:0;margin-left:3px;position:relative;top:6px;}
.op_login_area .buttons-set{margin-top:10px;}
/*.op_login_area .buttons-set a{color:#767676;}*/
.op_login_area .page-title{margin-bottom:10px;}
.close_la{position:relative;margin-bottom:-16px;top:-16px;right:-16px;cursor:pointer;float:right;width:16px;height:16px; background:url("../images/onepagecheckout/cancel.png") no-repeat scroll 0 0 transparent;}
/*//.op_login_area button.button{border:1px solid #ccc; background:url("../images/onepagecheckout/buttonbgsmall.gif") repeat-x scroll 0 0 #00A7D1; -moz-box-shadow: 3px 3px 5px #ccc;-webkit-box-shadow: 3px 3px 5px #ccc;box-shadow: 3px 3px 5px #ccc;}
//.op_login_area button.button span{background:none no-repeat scroll 0 0 transparent;border:0 none; color:#FFFFFF;font:bold 12px/20px Arial,Helvetica,sans-serif;height:20px !important;padding:0 0 0 5px;text-transform:uppercase;}
//.op_login_area button.button span span {background-position:100% 0;padding:0 5px 0 0;}*/
.op_login_area button.button { margin-top:-35px; }
.op_login_area .buttons-set a{color:#333; font-size:11px; padding:3px;}

.op_login_area .form_fields .short {
    width: 35%;
    float: left;
    margin-right: 6%;
}

.op_login_area .form_fields div.two_fields .data_area { width: 100%; }
.op_login_area .form_fields div.two_fields .data_area input { width: 100%; }

.onepagecheckout-index-index .onepagetitle { margin-bottom: 10px; }
.onepagecheckout-index-index .page-title { border-bottom:3px solid #eee; margin-bottom:10px; color:#000;}
.ptdivline{width:100%;height:1px;margin:-1px 0 0;-moz-box-shadow: 0 2px 2px #999;-webkit-box-shadow: 0 2px 2px #999;box-shadow: 0 2px 2px #999;}
.onepagecheckout_datafields{border-bottom:1px solid #CCCCCC;padding-bottom:20px;}

#onepagecheckout_orderform .col3-set .col-1{width:30%;}
#onepagecheckout_orderform .col3-set .col-2{width:26%;margin-left:4%;}
#onepagecheckout_orderform .col3-set .col-3 { width:36%; }

#onepagecheckout_orderform #register-customer-password{margin-bottom:5px;}
#onepagecheckout_orderform #ship_address_block{margin-top:35px;}



.onepagecheckout_datafields .op_block_title{ color:#333; font-size:14px; letter-spacing: -0.5px;  font-weight:bold; border-bottom:1px solid #999; margin: 15px 0 10px;}

.onepagecheckout_datafields .col-1 .form_fields .short {
    width: 46%;
    float: left;
    margin: 0 2% 7px 2%;
}

.onepagecheckout_datafields .col-1 .form_fields div.two_fields .data_area { width: 100%; }
.onepagecheckout_datafields .col-1 .form_fields div.two_fields .short { margin-bottom:7px; }
.onepagecheckout_datafields .col-1 .form_fields input.t1 { 
    width: 94%;
    padding: 5px 3%;
}
.onepagecheckout_datafields .col-1 .form_fields select { 
    width: 94%;
    padding: 5px 3%;
}

.onepagecheckout_datafields .col-1 .form_fields div.full {
    margin: 0 2% 7px 2%;
    width: 96%;
}

.onepagecheckout_datafields .col-1 .form_fields ul.register-type {margin:15px 0 6px; height:28px; list-style: none }
.onepagecheckout_datafields .col-1 .form_fields ul.register-type li {float:left; border-radius:5px; background-color:#eee; padding:3px 5px;  margin-right:10px; display: inline-block; }

.onepagecheckout_datafields .col-1 .form_fields div.full .data_area { width: 100%; }
.onepagecheckout_datafields .col-1 .form_fields div.full input.t1 { }
.onepagecheckout_datafields .col-1 .form_fields div.full select { width: 94%; }

.onepagecheckout_datafields .col-2 .form_fields div.full .data_area { width: 275px; }
.onepagecheckout_datafields .col-2 .form_fields div.full textarea { width: 254px; height: 85px; }
.onepagecheckout_datafields .col-2 .form-list li.wide .input-box { width: 275px; }
.onepagecheckout_datafields .col-2 .form-list li.wide textarea { width: 254px; height: 85px; }

.onepagecheckout_datafields .col-3 .form_fields div.full .data_area { width: 275px; }
.onepagecheckout_datafields .col-3 .form_fields div.full textarea { width: 280px; height: 60px; }
.onepagecheckout_datafields .col-3 .form-list li.wide .input-box { width: 275px; }
.onepagecheckout_datafields .col-3 .form-list li.wide textarea { width: 280px; height: 60px; }

.onepagecheckout_datafields #comment-block { width: 100%; }
.onepagecheckout_datafields #comment-label { font-weight:normal; }
.onepagecheckout_datafields #comment-block #order-comment{ width: 100%; padding:0px;}

.form_fields label {color:#333!important; height:16px; white-space: nowrap; font-size:11px; font-weight:normal!important; font-weight:normal;position:relative;z-index:0;}

.onepagecheckout_datafields .form_fields li {margin:0 0 8px;}
.onepagecheckout_datafields .form_fields li.options input.radio,
.onepagecheckout_datafields .form_fields li.options input.checkbox {margin-right:3px;}
.onepagecheckout_datafields .form_fields li.options label {float:none;}
.onepagecheckout_datafields .form_fields li.options .input-box {clear:none;display:inline;width:auto;}
li.options label {color:#767676;}

input, select, textarea, button{color:#000;} 

input:focus, select:focus, textarea:focus {background:#fff4a7!important;} 

#onepagecheckout_orderform .col3-set .col-2 , #onepagecheckout_orderform .col3-set .col-1  { min-height: 450px;}

.onepagecheckout_datafields .gift-messages-form .item .details .form-list .field,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list .input-box,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide .input-box { width:186px; }
.onepagecheckout_datafields .gift-messages-form .item .details .form-list input.input-text,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide textarea { width:165px; }

.onepagecheckout_datafields .sp-methods { margin: 0; }
.onepagecheckout_datafields .sp-methods > li { margin: 6px 0; border-bottom:1px solid #eee; padding-bottom:6px;}
.onepagecheckout_datafields .sp-methods li label { font-size:11px;}
.onepagecheckout_datafields .sp-methods li label .price { color:red }
#onepage-checkout-shipping-method-additional-load { margin-top:25px; }
.onepagecheckout_datafields #checkout-review-submit { margin: 10px 0 0; }
.onepagecheckout_datafields .checkout-agreements li { margin: 0 0 30px 0; }

.onepagecheckout_datafields .loading { background: url(../images/onepagecheckout/loader.gif) no-repeat 50% 50%; }

.onepagecheckout_datafields #checkout-shipping-method-load,
.onepagecheckout_datafields #checkout-payment-method-load,
.onepagecheckout_datafields #checkout-review-load { min-height: 50px; }

.onepagecheckout_datafields .newsletter { margin:0; padding:35px 0 10px 0; }
.onepagecheckout_datafields .buttons-set { margin: 5px 0 0; border:0;padding:2px 0 0;}
.onepagecheckout_datafields .checkout-agreements .last { margin: 0; }

/*//.onepagecheckout_loginlink{	color:#767676;}*/

.onepagecheckout_datafields .discount .buttons-set button:first-child{
    margin-left:0;
    //@extend .btPadrao2;
    background-color: $azul1;
} 

#onepagecheckout_orderform button.btn-checkout > span { 
    font-size: 22px;
    font-weight: bold;
/*    padding: 5px;    */
    line-height: 49px;
    height:49px;
}

/*
#onepagecheckout_orderform button.btn-checkout{float:right;border:1px solid #ccc;margin-bottom:10px;
background:url("../images/onepagecheckout/buttonbg.gif") repeat-x scroll 0 0 #00A7D1;
-moz-box-shadow: 3px 3px 5px #ccc;-webkit-box-shadow: 3px 3px 5px #ccc;box-shadow: 3px 3px 5px #ccc;}
#onepagecheckout_orderform button.btn-checkout span {background:none no-repeat scroll 0 0 transparent;border:0 none;
color:#FFFFFF;font:bold 16px/32px Arial,Helvetica,sans-serif;height:32px !important;padding:0 0 0 20px;text-transform:uppercase;}
#onepagecheckout_orderform button.btn-checkout span span{background-position:100% 0;padding:0 20px 0 0;}
*/



#onepagecheckout_orderform .form_fields sup,
#onepagecheckout_orderform .form_fields label.required sup,
#onepagecheckout_orderform .form_fields label.required em,
#onepagecheckout_orderform .form-list sup,
#onepagecheckout_orderform .form-list label.required sup,
#onepagecheckout_orderform .form-list label.required em
{
    display:none;
}

.onepagecheckout-index-index label.required:after{
    content: "*";
    color: #f00;
    font-size:100%;
    line-height:0;
    padding-left:3px;
}

.onepagecheckout-index-index .required-entry {
/*    border: 1px dashed #f00 !important;
    background: #faebe7 !important;*/
}

#onepagecheckout_orderform .form-list label.required em{color:#767676;}

/* CHECKOUT Review Your Order Table */
#checkout-review-table-wrapper{margin-top:-5px;}
.order-products-table { width:100%;color:#767676;}
.order-products-table .odd  { background:#fff; }
.order-products-table .even { background:#fff; }
.order-products-table td.last,
.order-products-table th.last { border-right:0; width:30%;}
/*
.order-products-table tr.last th,
.order-products-table tr.last td { border-bottom:0 !important; }
*/
.order-products-table th { padding:3px 8px; font-weight:bold; border-bottom:1px solid #BFBFBF;}
.order-products-table td { padding:8px 8px 2px;}

.order-products-table thead th{font-weight:bold;border-bottom:1px solid #848484;font-size:13px;padding:2px 0;color:#000;white-space:nowrap;vertical-align:middle;text-transform:uppercase;}
.order-products-table thead th.wrap { white-space:normal; }
.order-products-table thead th a,
.order-products-table thead th a:hover { color:#fff; }
.order-products-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.order-products-table tfoot { border:0;}
.order-products-table tfoot tr.first td{background-color:#ffffff;}
.order-products-table tfoot tr.last td{border:0 none !important;font-size:13px;text-transform:uppercase;color:#000;}
.order-products-table tfoot tr { background-color:#FFFFFF !important; }
.order-products-table tfoot td { border-bottom:1px solid #BFBFBF; }
.order-products-table tfoot strong { font-size:105%; }

.order-products-table tbody th,
.order-products-table tbody td { border:0; border-bottom:1px dotted #BFBFBF;}

.order-products-table tbody.odd tr { background:#f8f7f5 !important; }
.order-products-table tbody.even tr { background:#f6f6f6 !important; }
.order-products-table tbody.odd tr td,
.order-products-table tbody.even tr td { border-bottom:0; }
.order-products-table tbody.odd tr.border td,
.order-products-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }

.order-products-table tbody td .option-label { font-weight:bold; font-style:italic; }
.order-products-table tbody td .option-value { padding-left:10px; }

.clr{clear:both;}

p.agree a{color:#8E8D8B;}
p.newsletter label{color:#8E8D8B;}

.onepagecheckout-window { border: none; background: #fff; z-index: 999; position: absolute; text-align: left; }
.onepagecheckout-window .page-title span { color:#0A263C; font-size:20px; margin:0; }
.onepagecheckout-window .content { padding: 7px; overflow: auto; }
.onepagecheckout-window .close { position: absolute; top: -15px; right: -16px; width: 16px; height: 16px; background: url(../images/onepagecheckout/cancel_round.png) no-repeat 50% 50%; }
.onepagecheckout-window .buttons-set { margin: 1em 0 0; }

.d-shadow { position: absolute; width: 30%; left: 20%; top: 10%; }
.d-shadow-wrap { position: relative; width: 100%; padding: 15px 21px 0 21px; margin: -15px -21px 0 -21px; overflow: hidden; }
.d-sh-cn { position: absolute; background: url(../images/onepagecheckout/shd-medium.png) no-repeat; left: -25px; z-index: -1; }
.d-sh-tl,
.d-sh-tr { height: 500px; top: -28px; }
.d-sh-tl,
.d-sh-bl { width: 100%; }
.d-sh-tr,
.d-sh-br { width: 25px; margin-left: 100%; }
.d-sh-bl,
.d-sh-br { height: 28px; }
.d-sh-bl { left: -46px; padding-right: 42px; clip: rect(auto auto auto 25px); }
.d-sh-br { left: -4px; }

/* IE6 fix */
* html .onepagecheckout-hidden { visibility: hidden; }
* html .onepagecheckout-window { width: 500px; }
* html .d-sh-tl, * html .d-sh-tr { padding-right:42px; }
/* IE7 fix */
*:first-child+html .onepagecheckout-window { width: 500px; }




/*  Ajustes por Douglas 10/10/13  */

#checkout-review-table {
    width: 92%;
    margin: 20px 10px;
}

#checkout-review-table td  {
    color:#666;
}

.dob-day label{font-size:10px;}

#onepagecheckout_orderform select,
#onepagecheckout_orderform .input-text {
/*    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #CCCCCC !important;*/
/*    padding: 5px;
    width: 90%; */ 
}

#onepagecheckout_orderform .full .input-text {
/*    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    padding: 5px;*/
    width: 94%; 
}

#onepagecheckout_orderform select{
/*    padding: 4px 5px;
    width: 100%; */
}

#onepagecheckout_orderform .validation-advice{
    font-size:9px;
    font-weight:normal;
}

.onepagecheckout_block{
    background-image: linear-gradient(to bottom, #f9f9f9, #fff);
    padding:1px 10px;
    margin-bottom:20px;
}


.onepagecheckout-index-index .main input, 
.onepagecheckout-index-index .main input.input-text, 
.onepagecheckout-index-index .main select, 
.onepagecheckout-index-index .main textarea, 
.onepagecheckout-index-index .main .form-control {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 8px;
    background:#fff;
    font-size: 12px;
    height: auto;
    box-sizing: inherit;
}



@media only screen and (max-width: 1199px) {
    /* Tabela carrinho responsivo */        
    .order-products-table thead {display:none;}
    .order-products-table tr th, .order-products-table tr  td {  padding: 3px 0;    width: 100%;        }
    .order-products-table tr td{ padding:10px 0;}
    table [class*="span"], .row-fluid table [class*="span"] {   display:inline-block;   }
    .order-products-table thead th, .order-products-table thead td,
    .order-products-table tr.even th, .order-products-table tr.odd td, 
    .order-products-table tr.odd th, .order-products-table tr.even td, 
    .order-products-table tfoot td, .order-products-table tr.first th, .order-products-table tr.first td {  float: none !important; width:auto !important; text-align:center!important; display:block; }

    .order-products-table colgroup {  display:none; } 
    .cart-collaterals .totals td {  display:block;  }

    .cms-page-view .order-products-table thead th, .cms-page-view .order-products-table thead td{   float:none !important; display:block;   width:auto; }
    .cms-page-view .order-products-table td, .cms-page-view .order-products-table th {  display:block;  }

    .cart .cart-table.order-products-table .product-image{ /* width:95%; */   overflow:hidden;    display:inline-block;   }
    .cart .cart-table.order-products-table .product-image img {/*     width:100%; */  }

    .order-products-table tr { display: block;     float: none !important;     text-align: center !important; }

    .order-products-table tbody tr { margin-bottom: 25px; border:1px solid #ccc; }
    .order-products-table td { border:none; }


    .order-products-table tfoot {border-top:none;}
    
    #checkout-review-table tfoot td{ text-align:center !important;}
    #checkout-review-table tfoot td+td{ text-align:center !important;}
    
}

@media only screen and (max-width: 767px) {
    /* Checkout Responsivo */
    #onepagecheckout_orderform .col3-set .col-3,
    #onepagecheckout_orderform .col3-set .col-2,
    #onepagecheckout_orderform .col3-set .col-1{
        width:100% !important;
        clear:both !important;
        float:none !important;
        margin: 0!important;
        min-height: inherit !important;
    }

    #onepagecheckout_orderform .form_fields label {
        float: none;
        display: block;
        clear: both;
    }

    .op_login_area {
        width: 92% !important;
        padding: 10px 4% !important;
        float: none !important;
        margin-top: 20px !important;
    }
    
    .onepagecheckout_datafields .col-1 .form_fields .short {
        width: 100%;
        float: left;
        margin: 0 0 7px 0;
    }
    
    .onepagecheckout_datafields .col-1 .form_fields div.full {
        margin: 0 0% 7px 0%;
        width: 100%;
    }
    
 
}



