<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<div class="account-login">
  <div class="col-md-10 col-md-offset-3">
    <div class="row">
      <div class="col-sm-6 col-md-6 <?php if (!$this->helper('customer')->isRegistrationAllowed()): ?> col-md-offset-4 <?php endif; ?>    ">
        <div class="forgot frame">
          <h1 class="frame-title"><?php echo $this->__('Forgot Your Password?') ?></h1>
          <p><?php echo $this->__('Please enter your email address below. You will receive a link to reset your password.') ?></p>

          <form action="<?php echo $this->getUrl('*/*/forgotpasswordpost') ?>" method="post" id="form-validate">
            <div class="form-group">
              <label for="email_address" class="required"><?php echo $this->__('Email Address') ?></label>
              <input type="email" name="email" alt="email" id="email_address" class="form-control required-entry validate-email" value="<?php echo $this->escapeHtml($this->getEmailValue()) ?>" required />
            </div>
            <?php echo $this->getChildHtml('form.additional.info'); ?>
            <div class="clearfix"></div>
            <div class="form-group">
              <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')) ?>" class="btn-forgot-password" id="btn-forgot-password"><?php echo $this->__('Submit') ?></button>
            </div>
          </form>
          <?php echo $this->getMessagesBlock()->toHtml() ?>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="back-link"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>

<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
