<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php $_items = $this->getReviewsCollection()->getItems();?>
<div class="reviews visible-md visible-lg" id="customer-reviews">
  <div class="container">
      <?php if(Mage::getStoreConfig('product_page/general/optimize_page')):?>
          <h2 class="title"><?php echo $this->__("Avaliações") ?></h2>
      <?php else:?>
          <h3 class="title"><?php echo $this->__("Avaliações") ?></h3>
      <?php endif;?>
    <?php 
    if(Mage::getStoreConfig('hibridotrustvox/configuracoes/trustvox_token')):
        echo $this->getLayout()->createBlock('core/template')->setTemplate('hibrido/trustvox/widget_trustvox.phtml')->toHtml();
    elseif(count($_items)): ?>
      <div class="content-reviews">
        <h4><?php echo $this->__('Veja as avaliações recentes deste produto') ?></h4>
        <?php foreach ($_items as $_review):?>
          <div class="row-comment">
            <div class="col-xs-3">
              <div class="table-review">
                <div class="rating-label">
                  <?php echo $this->__("Nota") ?>
                </div>
                <?php $_votes = $_review->getRatingVotes(); ?>
                <?php if (count($_votes)): ?>
                  <?php foreach ($_votes as $_vote): ?>
                    <div class="rating-box">
                      <div class="rating" style="width:<?php echo $_vote->getPercent() ?>%;"></div>
                    </div>
                    <img src="<?php echo $this->getSkinUrl("images/seal-review-2.png")?>" class="seal-review"/>
                  <?php endforeach; ?>
                <?php endif; ?>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="testimony">
                <h4><?php echo $this->escapeHtml($_review->getTitle()) ?></h4>
                <blockquote>
                  <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
                </blockquote>
                <span class="author-review">
                  <?php echo $this->escapeHtml($_review->getNickname()) ?>
                  <small class="date"><?php echo $this->__('(Posted on %s)', $this->formatDate($_review->getCreatedAt()), 'long') ?></small>
                </span>
              </div>
            </div>
          </div>
        <?php endforeach; ?>
        <span class="obs-review">Avaliações reais de clientes da loja.</span>
      </div>
    <?php endif;?>
    <?php echo $this->getChildHtml('review_form') ?>
  </div>
</div>
