<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
$helper = Mage::helper("mobile/data");
?>
<div ng-controller="topBarController">

  <header class="headerFixed">
    <div class="row topbar">
      <div class="container" ng-equaler="{'type': 'max', 'element': '.equaler'}">
        <div class="col-xs-6 equaler">
          <?php if($helper->getMobileLogo()): ?>
            <div class="logo-store">
              <img src="<?php echo $helper->getMobileLogo() ?>" ng-click="window.location.href= BASE_URL " class="img-responsive"/>
            </div>
          <?php else: ?>
            <div class="logo-store">
              <?php echo $this->getLogoAlt() ?>
            </div>
          <?php endif ?>
        </div>
        <div class="col-xs-6 text-right scale07">
          <?php echo $this->getChildHtml('selo_secure'); ?>
        </div>
      </div>
    </div>
  </header>
</div>
