footer{
  &.simple{

    .block-1{
      .info{
        font-size: 16px;
        font-weight: 300;
        color: #95989A;
        margin: 0;
      }
      .phone{
        font-size: 26px;
        font-weight: bold;
        color: darken($color-segment, 25%);
        font-stretch:condensed;
      }
    }
    .block-2{
      ul{
        text-align: center;
        padding-top: .5em;
        li{
          margin-bottom: 1em;
          a{
            color: darken($color-segment, 25%);
          }
        }
      }
    }
    .block-1,
    .block-2,
    .block-3,
    .block-4{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 120px;
      @media screen and (min-width: $screen-md){
        min-height: 90px;
      }
    }
    .block-1{
      flex-wrap: wrap;
      justify-content: left;
    }
    .block-3,
    .block-4{
      img{
        width: 90%;
      }
    }

    address{
      font-size: 12px;
      color: #5F5F5F;
      margin: 2em 0;
    }
    .logo-assinatura{
      img{
        margin: 0 auto;
      }
    }
  }
}
