.footer-menu-mobile {
    position: relative;
    width: 100%;
    float: left;
    background: #fff;
    $class-slug: '.menu-item ' !default;
    $padding: 20 !default;
    margin: 20px 0;
    @for $i from 2 through $menu-max-level {
        $class: '';
        $padding: $padding + 15;
        @for $j from 1 through $i {
            $class: $class + '.menu-item ';
        }
        #{unquote($class)} {
            a {
                padding-left: unquote($padding+'px');
            }
        }
    }
    .menu-item {
        width: 100%;
        float: left;
        border-top: 1px solid #eee;
        a {
            width: 100%;
            float: left;
            background: #fff;
            padding: 20px;
            color: #000;
            text-transform: uppercase;
            font-size: 14px;
            width: calc(100% - 50px);
            overflow-x: hidden;
        }
        .colapse {
            float: right;
            padding: 0 5px;
            width: 40px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            &:active {
                color: #fff;
                background: #000;
            }
        }
        .sub-menu {
            display: none;
        }
    }
}

.footer-last-row {
    font-size: 10pt;
    h2 {
        font-weight: lighter;
        font-size: 11pt;
    }
}

footer {
    padding: 0px !important;
    display: inline-block;
    background: $footer-background;
    color: $footer-links-color;
    margin-top: 40px;
    width: 100%;
    float: left;
    
    @media only screen and (min-width: $screen-md) {
        margin-top: 0;
    }
    //ESTE ESTILO FOI PASSADO PARA O FOOTER-SIMPLE.SCSS NA BRANCH CHECKOUT-FOOTER
    &.simple {
        background: #fff;
        border-top: 1px solid #eee;
        padding: 3em 0 !important;
        margin-top: 0;
        color: $simple-footer-color;
    }
    h3 {
        font-family: $primary-mobile-font;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
        @media only screen and (min-width: $screen-md) {
            font-family: $primary-desktop-font;
            color: $footer-links-color;            
            margin-right: 20px;
            margin-top: 12px;
            font-size: 14px;
        }
    }
    .row-1,
    .row-2,
    .row-3,
    .row-4,
    .row-5 {
        width: 100%;
        float: left;
    }
    .row-1 {
        .column {
            align-items: center;
        }
        .fale-conosco {
            text-align: center;
            color: $footer-links-color;
            font-family: $primary-mobile-font;
            float: left;
            width: 100%;
            .padding {
                padding: 30px 0;
            }
            h4 {
                font-size: 17px;
            }
        }
    }
    .row-4 {
        padding: 20px 0;
        display: inline-block;
        width: 100%;
        @media only screen and (min-width: $screen-md) {
            border-top: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
        }
    }
    .row-5 {
        padding: 20px 0 0 0;
        display: inline-block;
        width: 100%;
        font-size: 12px;
        float: left;
    }
    .column {
        padding: 30px 20px;
        text-align: center;
        border-top: 1px solid $footer-border-color;
        display: inline-block;
        width: 100%;
        @media only screen and (min-width: $screen-md) {
            display: flex;
            justify-content: center;
            border-top: 0;
        }
        ul {
            float: left;
            width: 100%;
            max-width: 100%;
            @media only screen and (min-width: $screen-md) {
                max-width: 180px;
            }
            li {
                float: left;
                width: 100%;
                text-transform: uppercase;
            }
        }
        a {
            color: $footer-links-color;
            padding: 10px 0;
            float: left;
            font-size: 13px;
            text-transform: uppercase;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            @media only screen and (min-width: $screen-md) {
                font-family: 'Open Sans', sans-serif;
                width: auto;
                font-size: 14px;
                text-align: left;
            }
        }
    }
    // Fale Conosco Mobile
    .footer-1 {
        //TODO
    }
    // Logo
    .footer-2 {
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
        }
        .logo {
            display: inline-block;
            margin: 0 auto;
            float: none;
            width: 100%;
            text-align: center;
            img {
                display: inline-block;
                margin: 0 auto;
            }
        }
    }
    // Newsletter
    .footer-3 {
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
        }
        .newsletter {
            text-align: center;
            width: 100%;
            float: left;
            h3 {
                letter-spacing: 4px;
                font-size: 24px;
                margin-bottom: 5px;
            }
            p {
                font-family: $primary-mobile-font;
                margin-bottom: 10px;
            }
            .newsletter-form {
                @media only screen and (min-width: $screen-md) {
                    border: 0;
                    border-radius: 0;
                    box-shadow: none;
                    background: url("../images/icon_envelope.png") center left 20px no-repeat #fff;
                    float: left;
                    width: 100%;
                    padding: 5px 10px;
                }
                .form-control {
                    border: 1px solid #000;
                    border-radius: 0;
                    padding: 20px;
                    box-shadow: none;
                    background: url("../images/icon_envelope.png") center right 10px no-repeat #fff;
                    @media only screen and (min-width: $screen-md) {
                        border: 0;
                        background: transparent;
                        width: calc(100% - 100px);
                        padding-left: 40px;
                        border-right: 1px solid #ddd;
                        float: left;
                    }
                }
                input[type=email] {
                    @media only screen and (min-width: $screen-md) {
                        // esta propriedade está quebrando alguns temas width: calc(100% - 100px)!important;
                    }
                }
                .btn {
                    @extend .button-default;
                    margin-top: 20px;
                    @media only screen and (min-width: $screen-md) {
                        margin: 0px;
                        float: right;
                        background: transparent;
                        font-family: $primary-desktop-font;
                        text-transform: lowercase;
                        font-style: italic;
                        font-size: 20px;
                        color: $footer-button-send-color;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
    // Rede social desktop
    .footer-4 {
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
        }
        h3 {
            font-size: 15px;
            @media only screen and (min-width: $screen-md) and (max-width: $screen-lg) {
                display: none;
            }
        }
        *:nth-child(2) {
            //verificar pq tem este display none
            //display: none;
        }
        a {
            padding: 5px;
        }
    }
    // Menu Você
    .footer-5 {
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
        }
    }
    // Menu Dúvidas
    .footer-6 {
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
        }
    }
    // Menu Sobre
    .footer-7 {
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
        }
    }
    // Menu Fale Conosco Desktop
    .footer-8 {
        text-align: center;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
            border-bottom: 1px solid $footer-border-color;
            text-align: left;
        }
        .column {
            @media only screen and (min-width: $screen-md) {
                display: inline-block;
                text-align: left;
            }
        }
        h3 {
            width: 100%;
            float: left;
        }
        h4 {
            font-family: $primary-desktop-font;
            font-size: 23px;
            font-weight: bold;
        }
        strong {
            font-style: bold;
        }
    }
    // Formas de pagamento
    .footer-9 {
        text-align: center;
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
        }
        .column {
            @media only screen and (min-width: $screen-md) {
                display: inline-block;
            }
        }
        h3 {
            @media only screen and (min-width: $screen-md) {
                width: 100%;
                text-align: left;
            }
        }
        img {
            display: table;
            margin: 0 auto;
            max-width: 90%;
            @media only screen and (min-width: $screen-md) {
                max-width: 100%;
                display: inline-block;
                float: left;
            }
        }
    }
    // Compra segura
    .footer-10 {
        text-align: center;
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .column {
            @media only screen and (min-width: $screen-md) {
                display: inline-block;
                padding: 30px 40px;
            }
        }
        h3 {
            @media only screen and (min-width: $screen-md) {
                width: 100%;
                text-align: left;
            }
        }
        img {
            display: table;
            margin: 0 auto;
            max-width: 22%;
            @media only screen and (min-width: $screen-md) {
                max-width: 100%;
                display: inline-block;
                float: left;
            }
        }
    }
    // Formas de Envio
    .footer-11 {
        text-align: center;
        @media only screen and (min-width: $screen-md) {
            border-right: 1px solid $footer-border-color;
        }
        p {
            width: 100%;
            float: left;
            text-align: center;
            font-size: 12px;
            @media only screen and (min-width: $screen-md) {
                text-align: left;
            }
        }
        .column {
            @media only screen and (min-width: $screen-md) {
                display: inline-block;
                padding: 30px 40px;
            }
        }
        h3 {
            @media only screen and (min-width: $screen-md) {
                width: 100%;
                text-align: left;
            }
        }
        img {
            display: table;
            margin: 0 auto;
            max-width: 90%;
            @media only screen and (min-width: $screen-md) {
                max-width: 100%;
                display: inline-block;
                float: left;
            }
        }
    }
    // Rede Social Mobile
    .footer-12 {
        p {
            display: flex;
            justify-content: center;
            a {
                text-align: center;
                img {
                    display: table;
                    margin: 0 auto;
                }
            }
        }
    }
    .footer-13 {
        text-align: center;
        .logo {
            float: none !important;
            display: table;
            margin: 0 auto;
            width: auto !important;
        }
    }
    // Nome da loja
    .footer-14 {
        text-align: right;
        .store-name {
            float: right;
            strong {
                font-family: $primary-desktop-font;
                font-size: 13px;
                font-style: italic;
                text-align: right;
                float: right;
            }
        }
    }
    // Descrição da loja
    .footer-15 {
        font-size: 12px;
        text-align: center;
        @media only screen and (min-width: $screen-md) {
            text-align: left;
        }
    }
    // facebook
    .footer-16 {
        .fb_iframe_widget {
            display: inline-block;
            position: relative;
            width: 100%;
            float: left;
        }
        .fb_iframe_widget span {
            display: inline-block;
            position: relative;
            text-align: justify;
            width: 100% !important;
            float: left;
        }
        .fb_iframe_widget iframe {
            position: absolute;
            width: 100% !important;
        }
    }
    // Assinatura Versão Desktop
    .footer-17 {
        text-align: right;
        .logo-assinatura {
            width: 100%;
            float: left;
            margin-top: -8px;
            display: block;
            background-image: url("../../default/images/sprite-assinatura.png");
            width: 119px;
            height: 30px;
            background-position: 0 30px;
            &.aplica-2 {
                background-position: 0 0px;
            }
            &:hover {
                color: rgba(#000000, 0);
            }
        }
    }
    // Copyright
    .footer-18 {
        text-align: center;
    }
    // Assinatura Versão Mobile
    .footer-19 {
        text-align: center;
        .logo-assinatura {
            float: none !important;
            display: block;
            margin: 4em auto;
            background-image: url("../../default/images/sprite-assinatura.png");
            width: 119px;
            height: 30px;
            background-position: 0 30px;
        }
    }
    // Back to top
    .footer-20 {
        margin-top: -20px;
        text-align: center;
        @media only screen and (min-width: $screen-md) {
            text-align: right;
        }
        .back-top {
            width: 60px;
            height: 60px;
            background: #fff;
            border-left: 1px solid #eee;
            position: relative;
            top: 0px;
            right: -15px;
            display: table;
            margin: 0 auto;
            @media only screen and (min-width: $screen-md) {
                float: right;
                display: inline-block;
            }
            &>div {
                background: url(../images/slider_b_left.png) no-repeat center center;
                transform: rotate(90deg);
                width: 60px;
                height: 60px;
                display: inline-block;
                padding: 10px;
                cursor: pointer;
            }
        }
    }
}


/*ESTILOS PARA VERSÃO THEME 2 */

.info-newsletter {
    @media only screen and (min-width: $screen-md) {
        display: none;
    }
}

.-footer--grid {
    grid-template-columns: repeat(8, 1fr);
    //grid-template-rows: repeat(4, 1fr); -- se o numero de colunas é definido ha uma influencia na altura das linhas
}

footer {    
    &.-grid{
        @media only screen and (max-width: $screen-md) {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
        .logo-assinatura{
            @media only screen and (max-width: $screen-md) {
                margin: 0 auto;
            }
        }
    }    
    //TEMPLATE DO THEME2 FOI ALTERADO NÃO NECESSITANDO MAIS DA PROPRIEDADE ABAIXO   
    // .info-newsletter {
    //     @media only screen and (min-width: $screen-md) {
    //         display: block;
    //     }
    // }
    @extend .-grid;
    @extend .-footer--grid;   
}

.block-footer {    
    position: relative;
    z-index: 200;
    @media screen and (max-width: $screen-sm) {
        padding: 10px 0;
    }   
    /* 
    1 - 11
    2 - 4
    3 - 6
    4 - 5
    5 - 9
    6 - 8
    7 - 10
    8 - 2
    9 - 1
    10 - 7
    11 - 3
    12 - 12
    13 - 13    
    */ 
    &.-g1 {
        align-self: center;        
        grid-column: 7 / span 2;
        grid-row: 2;
        justify-self: center;
        margin: 0 62px 0 0;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 11;
            justify-self: center;
            margin: 0;
            width: 100%;
            text-align: center;
        }
        
    }
    &.-g2 {
        align-self: center;        
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-self: center;
        margin: 0 62px 0 0;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 4;
            justify-self: center;
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }
    &.-g3 {
        align-self: center;        
        grid-column: 3 / span 2;
        grid-row: 2;
        justify-self: center;
        margin: 0 62px 0 0;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 6;
            justify-self: center;
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }
    &.-g4 {
        align-self: center;        
        grid-column: 5 / span 2;
        grid-row: 2;
        justify-self: center;
        margin: 0 62px 0 0;  
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 5;
            justify-self: center;
            margin: 0;
            width: 100%;
            text-align: center;
        }      
    }
    &.-g5 {
        grid-column: 5 / span 2;
        grid-row: 3;
        justify-self: left;
        align-self: left;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 9;
            justify-self: center;   
            width: 100%;
            text-align: center;      
        }
    }
    &.-g6 {
        align-self: center;       
        grid-column: 1 / span 4;
        grid-row: 3;
        justify-self: left;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 8;
            justify-self: center; 
            width: 100%;
            text-align: center;           
        }
    }
    &.-g7 {
        grid-column: 7 / span 2;
        grid-row: 3;
        justify-self: left;
        align-self: left;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 10;
            justify-self: center;            
            width: 100%;
            text-align: center;
        }
    }
    &.-g8{
        align-self: center;        
        grid-column: 7 / span 2;
        grid-row: 1;
        justify-self: center;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 2;
            justify-self: center;       
            width: 100%;
            text-align: center;     
        }
    }
    &.-g9{
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: center;
        padding: 35px 0 0 0;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 1;
            justify-self: center;    
            width: 100%;
            text-align: center;   
            padding: 0;     
        }
    }
    &.-g10{
        @media screen and (max-width: $screen-sm) {
            display: none;
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 7;
            justify-self: center;   
            width: 100%;
            text-align: center;         
        }
    }
    &.-g11{
        align-self: center;        
        grid-column: 3 / span 4;
        grid-row: 1;
        justify-self: center;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 3;
            justify-self: center;   
            width: 100%;
            text-align: center;         
        }
    }
    &.-g12 {
        align-self: center;        
        grid-column: 3 / span 5;
        grid-row: 4;
        justify-self: center;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 12;
            justify-self: center;   
            width: 100%;
            text-align: center;         
        }
    }   
    &.-g13 {    
        grid-column: 2 / span 2;
        grid-row: 4;
        justify-self: center;
        align-self: center;
        @media screen and (max-width: $screen-sm) {
            align-self: center;        
            grid-column: 1 / span 1;
            grid-row: 13;
            justify-self: center;  
            width: 100%;
            text-align: center;          
        }
    }

    .inf-a, .inf-b, .inf-c {
        a{
            display: block;
            line-height: 22px;
        }   
        h3{
            padding: 40px 0 0 0;
            @media screen and (max-width: $screen-sm) {
                padding: 0;
            }
        }     
    }
    
    .inf-d {
        h3{
            padding: 45px 0 0 0;
            @media screen and (max-width: $screen-sm) {
                padding: 0;
            }
        }        
    }
    
    .inf-g {
        padding: 20px 0 0 22px;
        width: 100%;
        @media screen and (max-width: $screen-sm) {
            padding: 0;
        }
        img{
            @media screen and (max-width: $screen-sm) {
                display: initial;
            }
        }
    }
    
    .inf-f {
        padding: 20px 0 0 0;
        width: 100%;
        @media screen and (max-width: $screen-sm) {
            padding: 0;
        }
        img{
            @media screen and (max-width: $screen-sm) {
                display: initial;
            }
        }        
    }
    
    .inf-e {
        padding: 20px 0 0 93px;
        width: 100%;
        @media screen and (max-width: $screen-sm) {
            padding: 0;
        }
        p{
            display: flex;
            img{
                margin: 0 50px 0 0;
                @media screen and (max-width: $screen-sm) {
                    padding: 15px;
                    margin: 0;
                }
            }
        }           
    }
    
    .newsletter {
        padding: 25px 0 0 0;
        @media screen and (max-width: $screen-sm) {
            padding: 25px 15px 0 15px;
        }
        .legend {
            font-size: 13px;
        }
        .newsletter-form {
            display: flex;            
            .input{
                height: 40px;
                min-width: 450px;
                @media screen and (max-width: $screen-sm) {
                    min-width: auto;
                }
            }       
        }        
    }       
    
    .redes-footer {
        padding: 20px 0 0 0;
        ul{
            display: flex;
            @media screen and (max-width: $screen-sm) {
                justify-content: center;
            }
            li{
                a{
                    font-size: 18px;
                    padding: 5px;
                }
            }
        }
    }
    .logo{
        img{
            @media screen and (max-width: $screen-sm) {
                display: initial;
                padding: 35px 0 0 0;
            }
        }        
    }
    .copright {
        padding: 25px 0 25px 35px;
        text-align: left;
        font-size: 12px;
        @media screen and (max-width: $screen-sm) {
            padding: 10px 15px;
            text-align: center;
        }
    }
    
    
}

.block-footer {
    &.-g4>p {
        @extend .-flex;
    }
}