
.bs-wizard{
  padding-top: 0.5em;
}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;
  &.active{
    .bs-wizard-stepnum{
      color: $color-segment;
      font-weight: 400;
    }
    .svg-seta{
      width: 7px;
      width: 12px;
      top: 27px;
      left: 36%;
      position: absolute;
      @media only screen and (min-width : $screen-md) {
        top: 27px;
        left: 41%;
      }
      .cls-1 {
        fill: $color-segment;
      }
    }
  }
  &.complete{
    .bs-wizard-stepnum{
      color: transparentize($color-segment, 0.3);

    }
  }
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 14px; margin-bottom: 5px;
@media only screen and (min-width : $screen-md) {
  font-size: 16px;
}
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 16px; height: 16px; display: block; background: $color-segment; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
// .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 6px;
  box-shadow: none;
  margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none;
  background: #fbe8aa;}
  .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
  .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
  .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
  .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
  .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #e0e0e0;}
  .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
  .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
  .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
  .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


  header{

    &.simple{
      border-bottom: 1px solid $header-simple-border-color;

      @media screen and (min-width: $screen-md){
        padding-left: 0;
        margin-bottom: 1em;
      }

      .content-header-simple{
        padding: 0;
      }

      .logo-content{
        display: flex;
        justify-content: center;

        @media screen and (min-width: $screen-md){
          text-align: left;
        }
        .link-logo{
          display: inline-block;
        }
      }
      .quick-access{
        padding-top: 2em;
        float: right;
        ul{
          li{
            display: inline;
            padding-left: 21px;
            a{
              font-family: $secund-desktop-font;
            }
          }
        }
      }
      //&.header-login{
      .secure-block{        
        font-family: $primary-desktop-font;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
        @media screen and (min-width: $screen-md){
          padding-top: .7em;
        }
        .ico-secure{
          margin-right: .5em;
          svg{
            height: 40px;
            path{
              fill: #cccccc;
            }
          }
        }
        .text-secure{
          span{
            font-size: 20px;
          }
        }
      }
      //}
    }
  }

  .bs-wizard{
    .bs-wizard-step{
      .bs-wizard-stepnum{
        font-weight: 300;
        font-family: $primary-desktop-font;
        color: #797979;
        @media only screen and (min-width : $screen-md) {
          color: #797979;
        }
      }
    }
  }
