/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

.top-bar {
    padding: 1em 0;
    font-family: 'Arial';
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    z-index: 600;
    width: 100%;
    float: left;
    background: $header-topbar-background;
    .divisor {
        color: #ececec;
    }
    p {
        padding: 0;
        margin: 0;
        color: $header-topbar-color;
    }
}

header {
    background: var(--header-bg-color);
    padding: 10px 0;
    position: relative;
    z-index: 700;
    width: 100%;
    float: left;
    //border-bottom: 1px solid #ddd;    
    @media screen and (min-width: $screen-md) {
        border-bottom: 0;
    }
    @media screen and (max-width: $screen-md) {
        &.simple{
            .logo-content {
                .img-logo{
                    margin: 7px 0 0 123px;
                }
            }
        }
    }
    .logo-content {
        text-align: center;
        @media screen and (min-width: $screen-md) {
            text-align: left;
        }
        .link-logo {}
        .img-logo {
            display: inline-block;
            @media screen and (max-width: $screen-md) {
                max-height: 40px;
                width: auto;
                margin: 7px 0 0 0;
                img {
                    max-height: 40px;
                    width: auto;
                }
            }
        }
    }
    .skip-links {
        padding-top: 5px;
        padding-left: 0;
        text-align: right;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            zoom: 0.9;
        }
        @media screen and (min-width: $screen-md) {
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
        }
        div[data-block-alias="customer_header"] {
            display: flex;
            align-items: center;
        }
        .block-skip-links {
            text-align: left;
            position: relative;
            display: inline-block;
            //float: left;
            @media screen and (min-width: $screen-md) {
                text-align: right;
                //width: 38%;
                display: inline-block;
                //border-right: 1px solid $header-block-skip-links-border-color;
                //border-left: 1px solid $header-block-skip-links-border-color;
                min-height: 30px;
                padding: 0 8px;
            }
            &:nth-child(1) {
                //width: 40%;
                @media screen and (min-width: $screen-md) {
                    //width: 13%;
                }
                .icon {
                    @media screen and (min-width: $screen-md) {
                        margin: 9px 0 0 0px;
                    }
                }
                .label-skip {
                    @media screen and (min-width: $screen-md) {
                        text-align: left;
                        padding: 3px 0 0 0px;
                        color: #000;
                    }
                }
            }
            &:nth-child(3) {
                //width: 42%;
                @media screen and (max-width: 1200px) {
                    // .label-skip{
                    //   display: none;
                    // }
                }
            }
            &:first-child {
                @media screen and (min-width: $screen-md) {
                    border: 0;
                }
            }
            &:last-child {
                @media screen and (min-width: $screen-md) {
                    border: 0;
                    margin: 0;
                    width: auto;
                }
            }
            .icon {
                display: inline-block;
                @media screen and (min-width: $screen-md) {
                    //width: 33%;
                    float: left;
                    margin: 9px 0 0 0;
                }
                img {
                    display: inline-block;
                }
                .ico-busca {
                    width: 25px;
                    margin: 8px 10px 0;
                }
            }
            .label-skip {
                margin-top: 13px;
                text-align: left;
                @media screen and (min-width: $screen-md) {
                    //width: 60%;
                    float: left;
                    font-size: 13px;
                    padding: 0 5px;
                }
                strong {
                    font-family: $primary-desktop-font;
                    font-style: italic;
                }
                &.logout {
                    margin-top: .5em;
                    padding-top: .5em;
                    &>div a {
                        @media screen and (min-width: $screen-md) {
                            color: $color-segment;
                        }
                        a {
                            @media screen and (min-width: $screen-md) {
                                color: $header-block-skip-links-border-color;
                            }
                        }
                    }
                }
            }
            .customer-logged {
                .spacer {
                    padding: 0 2px;
                    display: inline-block;
                    font-size: 11px;
                }
                a {
                    font-weight: bold;
                    font-size: 12px;
                    display: inline-block;
                }
            }
            .number-itens-cart {
                position: absolute;
                top: 2px;
                right: -7px;
                font-size: 14px;
                background: $header-mobile-cart-itens-cout-background;
                border-radius: 100%;
                padding: .2em .4em;
                color: #fff;
                @media screen and (min-width: $screen-md) {
                    top: 28px;
                    left: 9px;
                    font-size: 16px;
                    right: auto;
                    color: #000;
                    background-color: transparent;
                }
            }
        }
        .block-login-logout {
            .label-skip {
                span {
                    color: $color-segment;
                }
            }
            &:after,
            &:before {
                @media screen and (min-width: $screen-md) {
                    content: "";
                    width: 1px;
                    height: 25px;
                    position: absolute;
                    background-color: #EEE;
                    top: 1.2em;
                }
            }
            &:after {
                @media screen and (min-width: $screen-md) {
                    right: 0;
                }
            }
            &:before {
                @media screen and (min-width: $screen-md) {
                    left: 0;
                }
            }
        }
    }
    .cart-header {
        width: 100%;
        float: left;
        position: relative;
        padding: 10px 0;
        margin: -10px 0;
        .label-skip {
            @media screen and (min-width: $screen-md) {
                margin-top: 13px;
                strong {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
        @media screen and (min-width: $screen-md) {
            &:hover {
                .floating-cart {
                    display: block;
                }
            }
        }
        .floating-cart {
            display: none;
            position: absolute;
            background: #fff;
            @include box-shadow(0 0 30px -5px rgba(0, 0, 0, 0.5));
            width: 400px;
            right: 28px;
            top: 53px;
            z-index: 99999999999;
            h4 {
                display: none;
            }
            h3 {
                color: #000;
                text-align: center;
            }
            .cart-itens {
                width: 100%;
                padding: 10px 0px;
                display: inline-block;
                max-height: 60vh;
                overflow: auto;
                .item {
                    display: inline-block;
                    width: 100%;
                    a {
                        display: inline-block;
                        width: 100%;
                        text-transform: uppercase;
                        font-size: 9pt;
                        padding: 0;
                        font-weight: 500;
                        color: $default-text-color;
                        img {
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .options {
                        display: inline-block;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        li {
                            font-size: 7pt;
                            text-transform: uppercase;
                        }
                    }
                    .price {
                        display: inline-block;
                        width: 100%;
                        font-size: 10pt;
                        font-weight: 500;
                    }
                    .item-remove {
                        font-family: $secund-desktop-font;
                        color: $secundary-text-color;
                        border-radius: 50%;
                        border: 1px solid $secundary-text-color;
                        font-weight: bold;
                        text-align: right;
                        padding: 5px;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        line-height: 14px;
                        font-size: 12px;
                        text-align: center;
                        text-decoration: none;
                        &:hover {
                            background: $secundary-text-color;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            .cart-actions {
                width: 100%;
                display: inline-block;
                border-top: 1px solid $header-cart-actions-border-color;
                text-align: center;
                padding: 10px 0;
                button {
                    @extend .button-default;
                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .search-content {
        margin-top: .5em;
        display: none;
        @media screen and (max-width: $screen-md) {
            margin: 5px 0 15px;         
        }
        .cms-index-index & {
            display: block;
            @media screen and (max-width: $screen-sm) {
                display: none;
            }
        }
        @media screen and (min-width: $screen-md) {
            margin-top: 1.1em;
            display: block;
        }
    }
}


/**
Busca
*/

#search_mini_form {
    position: relative;
    .form-search {
        input {
            width: 100%;
            border: 1px solid $header-search-border;
            background-color: $header-search-bg;
            color: $header-form-search-input-color;
            padding: .5em .5em;
            border-radius: 3px;
            @media screen and (min-width: $screen-md) {
                border-radius: 0;
                border-color: $header-form-search-input-border-color;
                background-color: #fff;
                padding: .7em .5em;
            }
        }
        .button {
            @extend .clear-btn;
            background-color: transparent;
            padding: .6em 1em .7em 1em;
            margin-left: -2px;
            position: absolute;
            right: 0;
            top: 0;
            border-left: 1px solid $header-search-border-color;
            i {
                color: #000;
                @media screen and (min-width: $screen-md) {
                    color: #fff;
                }
            }
            @media screen and (min-width: $screen-md) {
                background-color: $header-search-button;
                padding: .8em 1em .8em 1em;
            }
        }
    }
}


/*ESTILOS PARA VERSÃO THEME 2 */

.cart {
    .number-itens-cart {
        //FUGINDO UM POUCO DO RSCSS - IMPLEMENTANDO DESTA FORMA PARA NÃO IMPLICAR EM ALTERAÇÕES NO THEME1   
        position: absolute;
        top: 6px;
        right: -7px;
        font-size: 14px;
        background: $header-mobile-cart-itens-cout-background;
        border-radius: 100%;
        padding: .2em .4em;
        color: #fff;
    }
    &.block-skip-links{
        margin: 10px 0 0 0;
    }
}

.customer_header,
.top-links {
    @extend .-flex;
    justify-content: space-between;
    flex-basis: 70%;
}

#btn-search-mobile {
    >.ico-busca {
        width: 25px;
        margin-right: 10px;
        @media screen and (max-width: $screen-md) {
            margin: 10px 10px 0;
        }
    }
}

.-header--grid {
    grid-template-columns: repeat(20, 1fr);
    //grid-template-rows: repeat(3, 1fr);    
}

.header-block {
    >.content {
        @extend .-grid;
        @extend .-header--grid;
    }
}

.block-header {
    &.-g1 {
        grid-row: 1;
        grid-column: 2 / span 17;
        align-self: center;
        @media screen and (max-width: $screen-sm) {
            display: none;
        }
        .bloco-top-header{
            padding: 10px 0;
            font-size: 13px;
            ul{
                display: flex;
                justify-content: center;
                li{
                    padding: 0 4px;
                    display: flex;
                    i{
                        color: #9e9e9e; 
                    }
                }
            }
        }
    }
    &.-g2 {
        grid-row: 2;
        grid-column: 2 / span 2;
        @media screen and (max-width: $screen-sm) {
            grid-column: 5 / span 2;
        }
    }
    &.-g3 {
        grid-row: 2;
        grid-column: 15 / span 4;
    }
    &.-g4 {
        grid-row: 2;
        grid-column: 5 / span 10;
        @media screen and (max-width: $screen-sm) {
            grid-row: 3;
            grid-column: 2 / span 18;
        }
    }
    &.-g5 {
        grid-row: 3;
        grid-column: 2 / span 17;
    }
}

.block-skip-links {
    >a {
        display: flex;
        align-items: center;
        margin-right: 2em;
    }
}