        /**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
        
        @include keyframes(moveDown) {
            0% {
                transform: translate(0, -130%);
                box-shadow: none;
                display: none;
            }
            1% {
                transform: translate(0, -130%);
                display: inline-block;
            }
            100% {
                transform: translate(0, 0);
                display: inline-block;
                box-shadow: 0 30px 20px 0px rgba(0, 0, 0, .3);
            }
        }
        
        @include keyframes(moveUp) {
            0% {
                transform: translate(0, 0);
                display: inline-block;
                box-shadow: 0 30px 20px 0px rgba(0, 0, 0, .3);
            }
            99% {
                transform: translate(0, -130%);
                display: inline-block;
            }
            100% {
                transform: translate(0, -130%);
                box-shadow: none;
                display: none;
            }
        }
        
        menu {
            background: $menu-background;
            position: relative;
            display: none;
            z-index: 100;
            width: 100%;
            float: left;
            @media screen and (min-width: $screen-md) {
                display: block;
            }
            .mega-menu-jn2 {
                border-top: 1px solid $menu-border-color;
                border-bottom: 1px solid $menu-border-color;
                position: static;
                background: $menu-background;
                .content-mega-menu {
                    position: static;
                    padding: 10px 0 0;
                    ul.nav {
                        position: static;
                        z-index: 99999;
                        &>li {
                            position: static;
                            &.simple-menu {
                                position: relative;
                            }
                            &.with-subcategories>a {
                                background: url(../images/icon_chev_down.png) no-repeat right 10px center $menu-background;
                            }
                            &>a {
                                font-family: $primary-mobile-font;
                                font-weight: 300;
                                color: $menu-color;
                                padding: 15px 0;
                                display: inline-block;
                                width: 100%;
                                &:hover {
                                    color: $menu-link-hover-color !important;
                                    background-color: $menu-background-hover;
                                }
                            }
                            .submenu {
                                width: 100%;
                                top: 45px;
                                left: 0;
                                background: #fff;
                                padding: 20px 20px 50px 20px;
                                position: absolute;
                                border: 0px;
                                z-index: -2;
                                //@include animate(moveUp, 0.4s);
                                //opacity: 0;
                                display: none;
                                transition: all .2s;
                                &.simple-menu {
                                    width: auto;
                                    left: 0px;
                                    padding: 10px;
                                    max-width: 300px;
                                    a {
                                        text-transform: uppercase;
                                        color: #000;
                                        padding: 10px !important;
                                        font-weight: lighter !important;
                                        font-size: 12px;
                                        overflow: hidden;
                                        position: relative;
                                        width: 100%;
                                        float: left;
                                        &:before {
                                            content: ' ';
                                            position: absolute;
                                            width: 10px;
                                            height: 10px;
                                            left: -20px;
                                            margin-top: 2px;
                                            color: #000;
                                            background: url(../images/icon_chev_down.png) no-repeat center center;
                                            transform: rotate(-90deg);
                                            opacity: 0;
                                            @include transition(all 0.5s ease-in-out);
                                        }
                                        &:hover {
                                            padding-left: 15px !important;
                                            &:before {
                                                left: 0px;
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                                .category-img-display {
                                    position: absolute;
                                    top: 0px;
                                    right: 0px;
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                            &.open {
                                .submenu {
                                    //@include animate(moveDown, 0.2s);
                                    //opacity: 1;
                                    display: block;
                                    transition: all .2s;
                                }
                                &>a {
                                    color: $menu-link-hover-color !important;
                                    position: relative;
                                    background: $menu-background-hover !important;
                                }
                                &.with-subcategories {
                                    &>a:before {
                                        content: ' ';
                                        position: absolute;
                                        width: 10px;
                                        height: 10px;
                                        background: #fff;
                                        border-top: 1px solid $menu-border-color;
                                        border-left: 1px solid $menu-border-color;
                                        left: calc(50% - 5px);
                                        bottom: -5px;
                                        transform: rotate(45deg);
                                    }
                                }
                            }
                        }
                    }
                    .level2 {
                        &>a {
                            font-family: $primary-desktop-font;
                            text-transform: none !important;
                            color: #000 !important;
                            font-style: italic;
                            font-size: 26px;
                            font-weight: normal;
                            padding: 0px;
                            margin-top: 30px;
                            margin-bottom: 20px;
                            display: inline-block;
                        }
                        &:hover>a {
                            color: #000 !important;
                        }
                        .subcategory.level3 {
                            padding: 0px;
                            margin: 0px;
                            width: 100%;
                            li {
                                padding: 0px;
                                margin: 0px;
                                width: 100%;
                                margin-left: -10px;
                                margin-bottom: 5px;
                                a {
                                    text-transform: uppercase;
                                    color: #000;
                                    padding: 5px 10px !important;
                                    font-size: 12px;
                                    overflow: hidden;
                                    position: relative;
                                    &:before {
                                        content: ' ';
                                        position: absolute;
                                        width: 10px;
                                        height: 10px;
                                        left: -20px;
                                        margin-top: 2px;
                                        color: #000;
                                        background: url(../images/icon_chev_down.png) no-repeat center center;
                                        transform: rotate(-90deg);
                                        opacity: 0;
                                        @include transition(all 0.5s ease-in-out);
                                    }
                                    &:hover {
                                        padding-left: 15px !important;
                                        &:before {
                                            @include transition-delay(0.5s);
                                            left: 0px;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .layered {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            background: $menu-layered-background;
            display: none;
            z-index: 9;
        }
        
        .menu-mobile {
            min-width: 250px;
            max-width: 80%;
            background: #eee;
            height: 100vh;
            position: fixed;
            overflow-y: scroll;
            left: 0;
            top: 0;
            transform: translateX(-100%);
            @include transition(all 0.3s ease-in-out);
            z-index: 999999;
            &.open {
                transform: translateX(0%);
                @include transition(all 0.3s ease-in-out);
            }
            li {
                position: relative;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                .link-first-level,
                .link-sec-level {
                    &.with-subcategory {
                        position: relative;
                        &:after {
                            content: "";
                            width: 1px;
                            background: rgba(0, 0, 0, 0.4);
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
            .block-account {
                display: flex;
                background-color: #000;
                padding: 0 3em 0 0em;
                width: 110%;
            }
            .logar,
            .minha-conta {
                background: #000;
                color: #fff;
                padding: 20px;
                font-size: 16px;
                width: 100%;
                display: flex;
            }
            .logar {
                padding: 20px 11.7em 20px .5em;
                .text-login {
                    padding: .5em 0 0 0;
                    text-transform: uppercase;
                }
            }
            .sair {
                color: red;
                align-self: center;
                padding: 0 1em;
            }
            /*COLLAPSIBLE*/
            input[type='checkbox'] {
                display: none;
            }
            .lbl-toggle {
                /*display: block;*/
                font-weight: bold;
                font-family: monospace;
                font-size: 1.2rem;
                text-transform: uppercase;
                text-align: center;
                padding: 2em 1.5em 1.3em 2.5em;
                margin: -4.7em 0 0 0;
                float: right;
                color: #000;
                cursor: pointer;
                transition: all 0.25s ease-out;
                //border-left: 1px solid rgba(0, 0, 0, 0.4);
                // height: 100%;
                // position: absolute;
                // right: 0;
                // bottom: 0;
                &:focus {
                    outline: rgba(255, 255, 255, 0);
                    box-shadow: none;
                }
            }
            .lbl-toggle::before {
                content: ' ';
                display: inline-block;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid currentColor;
                vertical-align: middle;
                margin-right: .7rem;
                transform: rotate(90deg);
                transition: transform .2s ease-out;
            }
            .collapsible-content {
                max-height: 0px;
                overflow: hidden;
                transition: max-height .25s ease-in-out;
            }
            .toggle:checked+.lbl-toggle+.collapsible-content {
                max-height: 1000px;
                overflow-y: scroll;
            }
            .toggle:checked+.lbl-toggle::before {
                transform: rotate(-90deg);
            }
            .toggle:checked+.lbl-toggle {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .link-first-level {
                display: block;
                width: 80%;
                padding: 1em 0 1em .5em;
                font-size: 15px;
            }
            .link-sec-level {
                display: block;
                width: 80%;
                padding: 1em .5em 1em 1.5em;
            }
        }
        
        .nav-mobile {
            .hamburger {
                margin-top: .8em;
                width: 20%;
                height: 11%;
                position: absolute;
                top: -10px;
                left: 0;
                cursor: pointer;
                border: 0;
                background: transparent;
                display: inline-block;
                outline: none;
                z-index: 999999;
                @include transform(rotate(0deg));
                @include transition(.3s ease-in-out);
                z-index: 99999999;
                span {
                    display: block;
                    position: absolute;
                    height: 1px;
                    width: 50%;
                    background: $btn-hamburger-color;
                    border-radius: 1px;
                    opacity: 1;
                    left: 20px;
                    @include transform(rotate(0deg));
                    @include transition(.25s ease-in-out);
                    &:nth-child(1) {
                        top: 18px;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 28px;
                    }
                    &:nth-child(4) {
                        top: 38px;
                    }
                }
                &.open {
                    background: rgba($btn-hamburger-color, .2);
                    position: fixed;
                    top: 0px;
                    left: 80%;
                    z-index: 9999;
                    margin-top: 0;
                    span {
                        background: #fff;
                        &:nth-child(1) {
                            top: 18px;
                            width: 0%;
                            left: 40%;
                        }
                        &:nth-child(2) {
                            @include transform(rotate(45deg));
                        }
                        &:nth-child(3) {
                            @include transform(rotate(-45deg));
                        }
                        &:nth-child(4) {
                            top: 18px;
                            width: 0%;
                            left: 40%;
                        }
                    }
                }
            }
        }
        
        .collapsible-content {
            &.first-level {
                background-color: #cacaca;
                >ul {
                    >li {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                }
            }
            &.sec-level {
                background-color: #e0e0e0;
                >ul {
                    >li {
                        padding: 1em 3em 1em 1.5em;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        /*SIMPLIFICANDO ESTRUTURA DO MEGA MENU*/
        
        //FUGINDO DO RSCSS
        menu .mega-menu-jn2 .content-mega-menu ul.nav-itens>li>a {
            padding: 15px 1em;
        }
        
        .nav-itens {
            justify-content: space-between;
            .link-first-level {
                padding-left: 1em;
                padding-right: 1em;
            }
        }
        
        .block-menu {
            >.mega-menu-jn2 {
                border: 0;
                width: 100%;
            }
        }
        
        .submenu-container {
            //@include animate(moveUp, 0.4s);
            width: 100%;
            top: 45px;
            left: 0;
            background: #fff;
            padding: 20px 20px 50px 20px;
            position: absolute;
            border: 0px;
            z-index: -2;
            opacity: 0;
            transition: all .2s;
            .open & {
                //POR ALGUMA RAZAO AO TIRAR O INCLUDE O HOVER COMEÇA A FUNCIONAR NO BANNER
                //@include animate(moveDown, 0.2s);
                opacity: 1;
                transition: all .2s;
            }
            &.simple-menu {
                width: auto;
                left: 0px;
                padding: 10px;
                max-width: 300px;
                a {
                    text-transform: uppercase;
                    color: #000;
                    padding: 10px !important;
                    font-weight: lighter !important;
                    font-size: 12px;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    float: left;
                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        left: -20px;
                        margin-top: 2px;
                        color: #000;
                        background: url(../images/icon_chev_down.png) no-repeat center center;
                        transform: rotate(-90deg);
                        opacity: 0;
                        @include transition(all 0.5s ease-in-out);
                    }
                    &:hover {
                        padding-left: 15px !important;
                        &:before {
                            left: 0px;
                            opacity: 1;
                        }
                    }
                }
            }
            .category-img-display {
                position: absolute;
                top: 0px;
                right: 0px;
                img {
                    width: 100%;
                }
            }
        }