<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<form id="discount-coupon-form" action="<?php echo $this->getFormActionUrl() ?>" method="post">
  <div class="discount">
    <h2><?php echo $this->__('Discount Codes') ?></h2>
    <div class="discount-form">

      <div class="form-group">
        <label class="col-md-5 label-block" for="coupon_code"><?php echo $this->__('Enter your coupon code if you have one.') ?></label>
        <input type="hidden" name="remove" id="remove-coupone" value="0" />
        <div class="input-group col-md-5">
          <input class="form-control" id="coupon_code" name="coupon_code" value="<?php echo $this->escapeHtml($this->getCouponCode()) ?>" />
          <span class="input-group-btn">
            <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Apply Coupon')) ?>" class="button" onclick="discountForm.submit(false)" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Apply Coupon')) ?>"><i class="fa fa-tag"></i></button>
            <?php if(strlen($this->getCouponCode())): ?>
              <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Cancel Coupon')) ?>" class="button" onclick="discountForm.submit(true)" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Cancel Coupon')) ?>"><i class="fa fa-times"></i></button>
            <?php endif;?>
          </span>
        </div>
      </div>

    </div>
  </div>
</form>
<script type="text/javascript">
//<![CDATA[
var discountForm = new VarienForm('discount-coupon-form');
discountForm.submit = function (isRemove) {
  if (isRemove) {
    $('coupon_code').removeClassName('required-entry');
    $('remove-coupone').value = "1";
  } else {
    $('coupon_code').addClassName('required-entry');
    $('remove-coupone').value = "0";
  }
  return VarienForm.prototype.submit.bind(discountForm)();
}
//]]>
</script>
