<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<div class="shipping">
  <h2><?php echo $this->__('Estimate Shipping and Tax') ?></h2>
  <div class="shipping-form">
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="shipping-zip-form">

      <div class="form-group">
        <label class="col-md-5 label-block"><?php echo $this->__('Enter your destination to get a shipping estimate.') ?></label>
        <div class="input-group col-md-5">
          <input class="form-control validate-postcode<?php if ($this->isZipCodeRequired()):?> required-entry<?php endif;?>" type="text" id="postcode" name="estimate_postcode" value="<?php echo $this->escapeHtml($this->getEstimatePostcode()) ?>" />
            <span class="input-group-btn">
              <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Get a Quote')) ?>" onclick="coShippingMethodForm.submit()" class="btn-shipping" id="btn-shipping"><i class="fa fa-truck"></i></button>
            </span>
          </div>
        </div>

        <ul class="form-list hide">
          <li>
            <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
            <div class="input-box">
              <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect($this->getEstimateCountryId()) ?>
            </div>
          </li>
          <?php //if($this->getStateActive()): ?>
            <li>
              <label for="region_id"<?php if ($this->isStateProvinceRequired()) echo ' class="required"' ?>><?php if ($this->isStateProvinceRequired()) echo '<em>*</em>' ?><?php echo $this->__('State/Province') ?></label>
              <div class="input-box">
                <select id="region_id" name="region_id" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" style="display:none;"<?php echo ($this->isStateProvinceRequired() ? ' class="validate-select"' : '') ?>>
                  <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                </select>
                <script type="text/javascript">
                //<![CDATA[
                $('region_id').setAttribute('defaultValue',  "<?php echo $this->getEstimateRegionId() ?>");
                //]]>
                </script>
                <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getEstimateRegion()) ?>"  title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="input-text" style="display:none;" />
              </div>
            </li>
            <?php //endif; ?>
            <?php if($this->getCityActive()): ?>
              <li>
                <label for="city"<?php if ($this->isCityRequired()) echo ' class="required"' ?>><?php if ($this->isCityRequired()) echo '<em>*</em>' ?><?php echo $this->__('City') ?></label>
                <div class="input-box">
                  <input class="input-text<?php if ($this->isCityRequired()):?> required-entry<?php endif;?>" id="city" type="text" name="estimate_city" value="<?php echo $this->escapeHtml($this->getEstimateCity()) ?>" />
                  </div>
                </li>
              <?php endif; ?>
              <li>
                <?php /* <label for="postcode"<?php if ($this->isZipCodeRequired()) echo ' class="required"' ?>><?php if ($this->isZipCodeRequired()) echo '<em>*</em>' ?><?php echo $this->__('Zip/Postal Code') ?></label> */?>
                <div class="input-box">

                </div>
              </li>
            </ul>
          </form>
          <script type="text/javascript">
          //<![CDATA[
          new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
          //]]>
          </script>

          <?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
          <form id="co-shipping-method-form" action="<?php echo $this->getUpdateFormActionUrl() ?>">
            <dl class="sp-methods">
            <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
            <dt><?php echo $this->escapeHtml($this->getCarrierName($code)) ?></dt>
              <dd>
                <ul>
                <?php foreach ($_rates as $_rate): ?>
                  
                  <li class="list-group-item list-group-item-warning <?php echo ($_rate->getErrorMessage()) ? "error-msg" : ''; ?>">
                      <?php if ($_rate->getErrorMessage()): ?>
                        <?php echo $this->escapeHtml($_rate->getErrorMessage()) ?>
                      <?php else: ?>
                      
                      <input name="estimate_method" type="radio" value="<?php echo $this->escapeHtml($_rate->getCode()) ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
                      <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>
                      <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                      <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                      <?php echo $_excl; ?>
                      
                      <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                      <?php endif; ?>

                    </label>
                    <?php endif ?>
                  </li>
                <?php endforeach; ?>
                </ul>
              </dd>
            <?php endforeach; ?>
            </dl>
            <div class="buttons-set">
            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Update Total')) ?>" class="button" name="do" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Update Total')) ?>">
            <?php echo $this->__('Update Total') ?>
            </button>
            </div>
          </form>
          <?php elseif(!is_null($this->getQuote()->getShippingAddress()->getPostcode()) &&
              !empty($this->getQuote()->getShippingAddress()->getPostcode())) : ?>
              <dl class="sp-no-methods"><li><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></li></dl>
          <?php endif; ?>
          <script type="text/javascript">
          //<![CDATA[
          var coShippingMethodForm = new VarienForm('shipping-zip-form');
          var countriesWithOptionalZip = <?php echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>;

          coShippingMethodForm.submit = function () {
            var country = $F('country');
            var optionalZip = false;

            for (i=0; i < countriesWithOptionalZip.length; i++) {
              if (countriesWithOptionalZip[i] == country) {
                optionalZip = true;
              }
            }
            if (optionalZip) {
              $('postcode').removeClassName('required-entry');
            }
            else {
              $('postcode').addClassName('required-entry');
            }

            //seta o cep informado no sessionStorage
            sessionStorage.setItem('cep_estimado', $$('[name="estimate_postcode"]').first().value);

            return VarienForm.prototype.submit.bind(coShippingMethodForm)();
          }

          jQuery(document).ready(function(){
            //verifica se cep foi preenchido anteriormente para calcular o frete automaticamente
            var cep = sessionStorage.getItem('cep_estimado');

            if(cep != null && cep != '') {
              //seta o cep no campo de cep
              jQuery('#postcode').val(cep);
            }
          });

          //]]>
          </script>
          </div>
          </div>
