<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php $_helper = $this->helper('catalog/output'); ?>

<?php if($this->getItems()->getSize()): ?>
  <div class="related-products">
    <h3 class="title"><?php echo $this->__('Related Products') ?></h3>
    <div class="products-grid owl-carousel" id="related-products<?php echo $this->mobile == true ? "-mobile" : "" ?>">
      <?php foreach ($this->getItems() as $_product): ?>
        <?php if(!$_product->isComposite() && $_product->isSaleable()): ?>
          <div class="item">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
              <div class="productlabel-wrap">
                <?php if ($_labelHelper): ?>
                  <?php echo $_labelHelper->getLabels($_product, 'category')?>
                <?php endif; ?>
                <?php echo $this->getLayout()->createBlock( 'Jn2_HoverImage_Block_Layout' )->setData('product',$_product)->setData('this',$this)->setData('resize',500)->toHtml() ?>
              </div>
            </a>
            <h3 class="product-name">
              <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                <?php $prod_name = $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                <?php
                $count_str = strlen($prod_name);
                if ($count_str < 38) {
                  echo $prod_name;
                } else {
                  $offset = 0;
                  $length = 39;
                  $prod_name = html_entity_decode($prod_name);
                  echo htmlentities(mb_substr($prod_name,0,$length,'utf-8')). "...";;
                }
                ?>
              </a>
            </h3>
            <?php if($_product->getRatingSummary()): ?>
              <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
            <?php endif; ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="price-box-link">
              <?php echo $this->getPriceHtml($_product, true) ?>
            </a>
            <?php if (!$_product->getRequiredOptions()): ?>
              <div class="checkbox">
                <label for="related-checkbox<?php echo $_product->getId() ?>">
                  <input type="checkbox" class="related-checkbox" id="related-checkbox<?php echo $_product->getId() ?>" name="related_products[]" value="<?php echo $_product->getId() ?>" /> <?php echo $this->__("Comprar junto") ?>
                </label>
              </div>
            <?php endif; ?>
          </div>
        <?php endif; ?>
      <?php endforeach ?>
    </div>

    <div class="related-all-actions">
      <button type="button" class="btn-related-addtocart" id="btn-related-addtocart" title="<?php echo $buttonTitle ?>" onclick="productAddToCartForm.submit(this)"><?php echo $this->__('Comprar os itens marcados'); ?></button>
    </div>
  </div>

  <script >
  //<![CDATA[
  $$('.related-checkbox').each(function(elem){
    Event.observe(elem, 'click', addRelatedToProduct)
  });
  var relatedProductsCheckFlag = false;
  function selectAllRelated(txt){
    if (relatedProductsCheckFlag == false) {
      $$('.related-checkbox').each(function(elem){
        elem.checked = true;
      });
      relatedProductsCheckFlag = true;
    } else {
      $$('.related-checkbox').each(function(elem){
        elem.checked = false;
      });
      relatedProductsCheckFlag = false;
    }
    addRelatedToProduct();
  }

  function addRelatedToProduct(){
    var checkboxes = $$('.related-checkbox');
    var values = [];
    for(var i=0;i<checkboxes.length;i++){
      if(checkboxes[i].checked) values.push(checkboxes[i].value);
    }
    if($('related-products-field')){
      $('related-products-field').value = values.join(',');
    }
  }
  //]]>
  </script>


  <!-- FIM RELACIONADO -->
<?php endif; ?>
