<?php

/**
 * JN2
 * @package: Jn2 Default Theme
 * @author: Diogo Siqueira <diogovsi@gmail.com>
 * @author: Igor Gottschalg <igorgottsweb@gmail.com>
 */
?>

<?php 
$config_resizer = Mage::getStoreConfig('product_page/resizer');
$cfg_rszr = explode('x',$config_resizer['thumb']);
$thumbImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 207,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 207);
$cfg_rszr = explode('x',$config_resizer['mobile']);
$mobileImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 480,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 480);
$trueSize = $this->mobile == true ? $mobileImageSize : $thumbImageSize;
?>

<?php if (count($this->getItemCollection()->getItems())) : ?>
    <div class="up-sell">
        <h3 class="title">
            <?php echo (Mage::getStoreConfig('product_page/general/text_product_related')) ? Mage::getStoreConfig('product_page/general/text_product_related') : $this->__('Quem viu este produto, viu também'); ?></h3>
        <div class="products-grid owl-carousel" id="up-sell<?php echo $this->mobile == true ? "-mobile" : "" ?>">
            <?php $this->resetItemsIterator() ?>
            <?php for ($_i = 0; $_i < $this->getRowCount(); $_i++) : ?>
                <?php for ($_j = 0; $_j < $this->getColumnCount(); $_j++) : ?>
                    <?php if ($_link = $this->getIterableItem()) : ?>
                        <div class="item">
                            <div class="product-box">
                                <a href="<?php echo $_link->getProductUrl() ?>" 
                                 title="<?php echo $this->htmlEscape($_link->getName()) ?>" 
                                 class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize((float) $trueSize['x'], (float) $trueSize['y']) ?>" 
                                     alt="<?php echo $this->htmlEscape($_link->getName()) ?>" />
                                </a>
                                <div class="noSwipe">
                                    <h3 class="product-name">
                                        <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>">
                                            <?php echo $this->htmlEscape($_link->getName()) ?>
                                        </a>
                                    </h3>
                                    <a href="<?php echo  $_link->getProductUrl() ?>" title="<?php echo $this->stripTags($_link->getName()) ?>" class="price-box-link">
                                        <?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <?php else : ?>
                    <?php endif; ?>
                <?php endfor; ?>
            <?php endfor; ?>
        </div>
    </div>
<?php endif ?>