<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php echo $this->getChildHtml('before_footer') ?>

<?php echo $this->getChildHtml('footer-mobile-menu') ?>

<footer class="-grid">
  
  <div class="block-footer -g1">    
      <?php  echo $this->getBlock(1); ?>
  </div>

  <div class="block-footer -g2">
    <?php  echo $this->getBlock(2); ?>      
  </div>

  <div class="block-footer -g3">    
      <?php  echo $this->getBlock(3); ?>
  </div>
  
  <div class="block-footer -g4">    
      <?php  echo $this->getBlock(4); ?>
  </div>

  <div class="block-footer -g5">
      <?php  echo $this->getBlock(5); ?>
  </div>

  <div class="block-footer -g6">    
      <?php  echo $this->getBlock(6); ?>
  </div>

  <div class="block-footer -g7">    
      <?php  echo $this->getBlock(7); ?>
  </div>

  <div class="block-footer -g8">    
      <?php  echo $this->getBlock(8); ?>
  </div>

  <div class="block-footer -g9">    
      <?php  echo $this->getBlock(9); ?>
  </div>

  <div class="block-footer -g10">    
      <?php  echo $this->getBlock(10); ?>
    </div>
    
    <div class="block-footer -g11">
      <?php  echo $this->getBlock(11); ?>    
  </div>
  
  <div class="block-footer -g12">
    <?php // Copyright ?>
    <div class="copright"><?php echo Mage::getStoreConfig('design/footer/copyright'); ?></div>
  </div>
  
  <div class="block-footer -g13">
      <?php // Assinatura Versão Desktop ?>
      <?php $url = str_replace('http://','',Mage::getBaseUrl());?>    
        <a href="<?php echo 'https://www.jn2.com.br?utm_source=lojas&utm_medium=rodape&utm_campaign='.$url;?>" title="JN2 eCommerce expert"  target="_blank" class="logo-assinatura">
          &nbsp;
        </a>
      
  </div>
    
  <?php echo $this->getChildHtml('store_switcher') ?>
</footer>
