<div class="visible-xs visible-sm col-xs-6 col-sm-6 pull-right offset-0 nav-mobile">
  <button class="hamburger pull-right"><span class="jicon menu"></span></button>        
  <button class="cart-mobile pull-right" onclick="javascript:location.href='<?php echo $this->getBaseUrl(); ?>checkout/cart/'"><span class="jicon cart"></span></button>          
  <button class="top-search pull-right"><span class="jicon search"></span></button>
  
</div>
      
<div class="menu-mobile visible-xs visible-sm">
  <ul>

    <li>
      <?php
      $loggedIn = $this->helper("customer")->isLoggedIn();
      if($loggedIn == 1){
        echo "<a href=\"".Mage::getBaseUrl()."customer/account/logout/\" /><i class=\"fa fa-user\"></i> Sair</a>";
      }else{
        echo "<a href=\"".Mage::getBaseUrl()."customer/account/\" /><i class=\"fa fa-user\"></i> Entrar</a>";
      }?>
    </li>
    <li><a href="#" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><i class="fa fa-shopping-cart"></i> Carrinho</a></li>
    <li><a href="#" onclick="setLocation('<?php echo Mage::helper("checkout/url")->getCheckoutUrl() ?>')"><i class="fa fa-check-circle"></i> Finalizar Compra</a></li>

    <?php $root = Mage::getModel('catalog/category')->load(Mage::app()->getStore()->getRootCategoryId()); # Load Root Category?>
    <?php $categories = $root->getChildrenCategories();  #List of Category Level0 after Root Category ?>

    <?php if (count($categories) > 0): # Level0 ?>
      <?php foreach($categories as $category): # Level0?>
        <?php $subcategories = $category->getChildrenCategories(); # Level1?>
        <li>
        <a href="<?php echo $category->getUrl();?>">
          <?php echo $category->getName();?>
          </a>
          <?php if (count($subcategories) > 0):?>
            <span class="expand-menu" data-category="<?php echo $category->getId()?>" >+</span>
           <?php endif;?>
        </li>
          <?php if (count($subcategories) > 0): # Level1?>
            <ul class="level1 category-<?php echo $category->getId()?>">
              
              <?php foreach($subcategories as $subcategory): # Level1?>
                <?php $subcategories_2 = $subcategory->getChildrenCategories(); # Level2?>
                <li>
                  <a href="<?php echo $subcategory->getUrl();?>"><?php echo $subcategory->getName(); ?></a>
                    <?php if (count($subcategories_2) > 0):?>
                      <span class="expand-menu" data-category="<?php echo $subcategory->getId()?>">+</span>
                    <?php endif;?>
                  </li>
                  <?php if (count($subcategories_2) > 0): # Level2?>
                    <ul class="level2 category-<?php echo $subcategory->getId()?>">
                      <?php foreach($subcategories_2 as $subcategory):  # Level2?>
                        <li>
                          <a href="<?php echo $subcategory->getUrl();?>"><?php echo $subcategory->getName(); ?></a>
                        </li>
                      <?php endforeach;  # Level2?>
                    </ul>
                  <?php endif;  # Level2?>

                <?php endforeach; # Level1?>

              </ul>
            <?php endif; # Level1 ?>

          <?php endforeach; # Level0 ?>

        <?php endif; # Level0 ?>
      </ul>
    </div>
    <div class="mobile-menu-background visible-xs visible-sm"></div>
    <script type="text/javascript">
    $j = jQuery.noConflict();
    $j(document).ready(function($){
      $(".menu-mobile").find(".level1, .level2").slideToggle();

      $(".hamburger").on("click",function(){
        $('.menu-mobile').toggleClass('open');
        $('.mobile-menu-background').toggleClass('open');
      });

      $(".mobile-menu-background").on("click",function(){
        $(".menu-mobile").removeClass("open");
        $(".mobile-menu-background").removeClass("open");
      });

      $(".expand-menu").on("click", function(){
        $(".category-" + $(this).data('category')).slideToggle();
      });

    });
    </script>