<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php   $_collectionSize = $_products->getSize(); ?>
<div class="widget-products sale-products block">
        <div class="page-title category-title">
            <h1><?php echo $this->__('Special products') ?></h1>
        </div>
            <?php $suffix = $this->getNameInLayout(); ?>
            <ul class="products-grid" id="widget-catalogsale-products-<?php echo $suffix; ?>">
            <?php foreach ($_products->getItems() as $_product): ?>
                <li class="item <?php echo $_itemwidth;?>" itemscope itemtype="http://schema.org/product">
                    <div class="wrapper-hover">
                             <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(90) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
                            
                        <div class="product-shop">
                            <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
                           <h2 class="product-name">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" itemprop="name">
                                    <?php 
                                        $small_getName = strip_tags($this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name'));
                                        if (strlen($small_getName) < 20) echo($small_getName);
                                        else { echo mb_substr($small_getName, 0, 20,'UTF-8').'...';} 
                                    ?>
                                </a>
                            </h2>
                             <div class="desc_grid" itemprop="description"><?php $small_getDescription = strip_tags($_product->getShortDescription());
                                if (strlen($small_getDescription) < 60) echo($small_getDescription);
                                else { echo mb_substr($small_getDescription, 0, 60,'UTF-8').'...';} ?>
                            </div>
                            <div class="wrapper-hover-hiden">
                                <div class="actions">
                                    <?php if($_product->isSaleable()): ?>
                                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><i class="material-design-shopping232"></i><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                    <?php else: ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?>
                                    <ul class="add-to-links">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" rel="tooltip" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                        <?php endif; ?>
                                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                            <li><span class="separator">|</span> <a  title="<?php echo $this->__('Add to Compare') ?> " href="<?php echo $_compareUrl ?>" rel="tooltip" class="link-compare "><?php echo $this->__('Add to Compare') ?></a></li>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            </div>
                        </div>
                        <?php $_product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                        <div class="label-product">             
                            <?php if($_product->getData('new')){echo '<span class="new">'.$this->__('New').'</span>';  }?>
                            <?php if($_product->getData('sale')){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                        </div>
                        
                    </div>
                </li>
            <?php endforeach; ?>
            </ul>
 <script type="text/javascript">decorateList('widget-catalogsale-products-<?php echo $suffix; ?>', 'none-recursive')</script>
</div>
<?php endif; ?>
