@import "bootstrap";
/*@import "bootstrap";
@import "compass/css3";*/

.catalog-product-view {
    .header-container.isStuck, .nav-container.isStuck {
        display: none!important;
        @media screen and (max-width: $screen-sm) {
            display: block!important;
        }
    }
    .span12 {
        margin: 0;
        padding: 0;
    }
    .seals {
        padding: 1em 0;
    }
}

#product_info_bar {
    display: none;
    padding: 0.5ex;
    width: 600px;
    font-size: 2em;
    background-color: #eee;
    padding: 0.5em;
    border: 1px solid #ddd;
}

.box-buy.realocate {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
/*******************DETALHE DO PRODUTO*********************/

.alert-stock {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    color: #ad0f0f;
    text-align: center;
    margin: 30px 0 10px 0;
}

.alert-stock a {
    color: #ad0f0f;
    text-decoration: underline;
}

.availability-only {
    //display: none;
}

.availability {
    &.in-stock {
        display: none!important;
    }
}

.availability{
    &.out-of-stock {
      span{
        color: #d83820!important;
        font-size: 16px!important;
      }
    }
}

.more-views {
    ul {
        margin-top: 15px;
        li {
            float: left;
            margin-right: 10px;
        }
    }
}

.price-parcelado {
    display: block;
    clear: both;
    .price {
        font-size: 16px;
    }
}

.price-box {
    padding: 0!important;
    .regular-price {
        .price {}
    }
}

.clear-styles {
    float: none!important;
    width: auto!important;
    height: auto!important;
}

.product-view {
    @extend .clear-styles;
    @extend .col-md-12;
    h2 {
        &.short-description {
            background: none;
            color: #999;
            padding: 0;
            text-transform: none;
            font-size: 15px;
            margin: 1em 0;
        }
    }
    .product-img-box {
        @extend .clear-styles;
        .product-image {
            @extend .clear-styles;
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
    .price-parcelado {
        .price {
            color: #000!important;
        }
    }
    .product-shop {
        @extend .clear-styles;
        .product-pricing {
            overflow: visible;
        }
    }
    .ratings {
        @extend .clear-styles;
        .rating-box {
            float: left!important;
            margin-right: 15px!important;
        }
    }
    .box-buy {
        background-color: #eee;
        padding: 0.5em;
        border: 1px solid #ddd;
    }
    .tier-prices {
        .tier-price {
            font-size: 12px!important;
            padding: 0 5px!important;
            border: 1px solid #ddd;
        }
    }
    .add-to-box,
    .product-options-bottom {
        .add-to-cart {
            @extend .clear-styles;
            margin: 0!important;
            padding: 0!important;
            border: 0!important;
            .qty-block {
                @extend .clear-styles;
                padding: 0!important;
                margin-bottom: 1em;
            }
            .button {
                @extend .clear-styles;
                width: 100%!important;
                span {
                    span {
                        float: none;
                        font-size: 20px;
                    }
                }
            }
            .button > span {
                width: 100%;
            }
        }
    }
    .realocate .button span span {
        padding: 0 13px;
    }
    .product-options {
        dd {
            margin: 0 0 1em 0;
            border-bottom: 1px solid #ccc;
            padding-bottom: 1em;
            select {
                margin-bottom: 0.5em;
            }
            .input-box {
                width: 100%!important;
                .options-list {
                    label {
                        font-weight: normal;
                        .price-notice {
                            .price {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .grouped-items-table {
        margin-bottom: 1em;
        thead {
            th {
                &.a-right {
                    text-align: left!important;
                }
            }
        }
        td {
            padding: 5px 15px;
            font-size: 12px;
            border-bottom: 1px solid #ccc;
            &.a-right {
                text-align: left!important;
            }
            .price-parcelado {
                .price {
                    font-size: 16px!important;
                }
                &+ .price-billet .price {
                    font-size: 15px!important;
                }
            }
        }
        .price-box {
            width: 195px;
            margin: 0;
        }
    }
    .price-box-bundle {
        .price-box {
            .price {
                font-size: 15px;
            }
        }
    }
    .price-as-configured {
        .full-product-price {
            .price {
                font-size: 20px;
            }
        }
    }
    .block-shipping-estimate {
        padding: 1em 0;
        clear: both;
    }
    .block-shipping-results {
        @extend .alert;
        @extend .alert-success;
        border-radius: 0;
        background-color: #eee;
        color: #666;
        border-color: #ddd;
        margin-top: 1em;
        padding: 1em;
        .block-content {
            font-size: 12px;
            li {
                border-bottom: 1px dotted #ccc;
                padding: 0.3em 0;
            }
            .price {
                float: right;
            }
        }
    }
}

.block-related {
    .mini-products-list {
        .item {
            @extend .col-md-4;
            border: 0!important;
            padding: 0!important;
            &:first-child {
                padding: 0;
            }
            .checkbox {
                margin: 0px 5px 0 0;
            }
            .product {
                margin-top: 15px;
                .product-name {
                    font-size: 12px;
                }
                .product-image {
                    width: auto;
                }
            }
            .price-parcelado .price {
                font-size: 16px!important;
            }
        }
    }
}

.related-all-actions {
    margin-top: 25px;
    .block-subtitle {
        line-height: 25px;
        text-align: right;
    }
}

.box-description {
    margin: 3em 0;
}

.content-reviews {
    @extend .row;
    margin-bottom: 2em;
    h2{
        .toggle{
            display: none;
        }
    }
    .row-comment {
        margin: 1em 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 2em;
        &:last-child {
            border: none;
        }
        .table-review {}
        .quote {
            font-size: 34px;
        }
        blockquote {
            font-size: 16px;
            color: #666;
            margin: 0em 7px 0 0px;
            padding: 0.5em 0px;
            position: relative;
            border: 0;
            &:before {
                display: block;
                content: "\201C";
                font-size: 40px;
                position: absolute;
                left: -20px;
                top: 15px;
                color: #7a7a7a;
            }
        }
        .author-review {
            display: block;
            font-size: 15px;
            font-weight: bold;
        }
    }
    .seal-review {
        margin: 2em 0 0 0;
    }
    .obs-review {
        float: right;
        font-size: 12px;
        font-style: italic;
        color: #666;
    }
}

#customer-reviews {
    textarea {
        width: 100%!important;
        min-width: initial!important;
        max-width: initial!important;
    }
}

.box-reviews {
    margin-bottom: 2em;
    .form-add{
        h2{
            .toggle{
                display: none;
            }
        }
    }
    #review-form {
        h4 {
            margin-bottom: 1em;
        }
        .stars-review {
            @extend .col-md-3;
            border: 1px solid #ccc;
            padding: 1em;
            margin-bottom: 1em;
            .label-rating {
                font-size: 16px;
            }
        }
        .form-review {
            @extend .col-md-9;
            ul {
                li {
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}

$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;
.star-cb-group {
    /* remove inline-block whitespace */

    //font-size: 0;
    background-color: #ddd;
    margin-bottom: 1em;
    display: block;
    padding: 1em 1em 0em 1em;
    * {
        font-size: 1rem;
    }
    /* flip the order so we can use the + and ~ combinators */

    unicode-bidi: bidi-override;
    direction: rtl;
    & > input {
        display: none !important;
        & + label {
            /* only enough room for the star */

            display: inline-block;
            overflow: hidden;
            // text-indent: 9999px;
            // width: 1em;
            // white-space: nowrap;
            cursor: pointer;
            &:before {
                display: inline-block;
                // text-indent: -9999px;
                content: $unchecked-star;
                color: $unchecked-color;
                font-size: 35px;
            }
        }
        &:checked ~ label:before,
        & + label:hover ~ label:before,
        & + label:active ~ label:before,
        & + label:hover:before,
        & + label:active:before {
            content: $checked-star;
            color: #e52;
            text-shadow: 0 0 1px #333;
        }
    }
    /* the hidden clearer */

    & > .star-cb-clear + label {
        text-indent: -9999px;
        width: .5em;
        margin-left: -.5em;
    }
    & > .star-cb-clear + label:before {
        width: .5em;
    }
    &:hover > input + label:before {
        content: $unchecked-star;
        color: $unchecked-color;
        text-shadow: none;
    }
    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:active ~ label:before,
    &:hover > input + label:active:before,
    &:hover > input + label:hover:before {
        content: $checked-star;
        color: $checked-color;
        text-shadow: 0 0 1px #333;
    }
}

.social-proof {
    margin: 2em 0;
    padding: 2em 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.box-up-sell {
    .jcarousel-clip {
        width: auto;
    }
}

.reports-list {
    margin-top: 1em;
    ul {
        li {
            min-height: 400px;
            .price-box {
                margin-bottom: 5px;
            }
            .price-billet {
                margin-bottom: 5px;
            }
            &.first {
                border: 0;
            }
        }
    }
}

.box-buy {
    .col-box-name {
        display: none;
    }
    .col-box-buy {
        @extend .col-md-6;
        @extend .col-xs-12;
        .alert-price{
          display: none;
        }
        .availability-only{
          background: #f4f4f4;
            border: 1px solid #ddd;
            color: 333;
            padding: 3px;
            text-align: center;
        }
    }
    &.realocate {
        @include box-shadow(rgba(black, 0.3) 2px 2px 50px);
        padding: 0.5em 0.5em 0 0.5em;
        @media screen and (max-width: 767px) {
            position: static !important;
        }
        &.row {
            margin: 0;
        }
        .box-content {
            @extend .container;
        }
        .box-row {
            @extend .row;
        }
        .col-box-name {
            display: block;
            @extend .col-md-3;
            .name {
                font-size: 13px;
                width: 195px;
                float: left;
                overflow: hidden;
                height: 70px;
                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    width: 140px;
                }
            }
            .box-image {
                img {
                    height: 60px;
                    margin-right: 3px;
                    float: left;
                }
            }
        }
        .alert-stock{
          margin-top: -15px;
        }
        .col-box-buy {
            @extend .col-md-3;
            .tier-prices {
                display: none;
            }
            .price-box {
                float: none;
                margin: 0;
            }

            .has_parcel{
              .old-price,
              .special-price{
                display: none;
              }
            }

            .has_parcel .regular-price .price {
                font-size: 12px!important;
            }
            .price-parcelado {
                font-size: 12px;
                .price {
                    font-size: 12px!important;
                }
            }
            .has_parcel .price-box.price-billet .price {
                font-size: 16px!important;
            }
            .add-to-cart {
                .qty-block {
                    width: 48%!important;
                    float: left!important;
                }
                .button.btn-cart {
                    width: 46% !important;
                    float: left!important;
                    &>span {
                        font-size: 17px;
                        line-height: 42px;
                        height: 44px;
                    }
                }
            }
            &.last {
                @extend .col-md-6;
                .product-options {
                    @extend .col-md-6;
                    margin: 0;
                    background: none;
                    border: none;
                    padding: 0 10px;
                    dt {
                        margin-bottom: 3px;
                        label {
                            font-size: 12px;
                            padding: 0;
                            margin: 0;
                        }
                    }
                    dd {
                        border: 0;
                        padding: 0;
                        margin: 0;
                        .swatchesContainer {
                            padding: 0;
                        }
                    }

                }
                .product-options{
                  p.required{
                       display: none;
                  }
                }
                .product-options-bottom {
                    @extend .col-md-6;
                    background: none;
                    border: none;
                    padding: 0 10px 5px 10px;
                    .qty-block {
                        margin: 23px 0 0 0;
                        label {
                            display: none;
                        }
                    }
                    .availability-only {
                        padding: 0;
                    }
                    .button.btn-cart {
                        margin-top: 1em;
                        span {
                            span {
                                padding: 0;
                            }
                        }
                    }
                }
                .add-to-box {
                    padding: 1em 0;
                }
            }
        }
    }
}

.box-rwd{
  @include box-shadow(rgba(black, 0.3) 2px 2px 50px);
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
  left: 0;

  .box-1{
    width: 50%;
    float: left;
    padding: 0 10px;
    .has_parcel{
      margin: 0!important;
      .price-box{
        margin: 0;
      }
      .regular-price{
        display: none!important;

      }
      .price-billet .regular-price{
        display: inline-block!important;
        .price{
          font-size: 20px!important;
        }
      }
        .price-parcelado{
            padding: 0;
            margin: 0;
        }
    }
  }
  .box-2{
    width: 50%;
    float: left;
    .add-to-cart{
      border: 0;
      padding: 0;
      .qty-block{
        display: none;
      }
      .btn-cart{
        width: 100%;
        span {
          width: 100%;
          span{
                float: none;
                padding: 11px 0;
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px){
    display: none;
  }
}
