<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
  <div class="block block-specials">
      <div class="block-title">
          <strong><span><?php echo $this->__('Specials') ?></span></strong>
      </div>
      <div class="block-content">
          <?php $suffix = $this->getNameInLayout(); ?>
          <ol class="mini-products-list" id="widget-catalogsale-products-<?php echo $suffix; ?>">
          <?php foreach ($_products->getItems() as $_product): ?>
              <li class="item">
                  <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(90) ?>" width="90" height="90" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
                  <div class="product-details">
                      <p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></p>
                      <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
                  </div>
              </li>
          <?php endforeach; ?>
          </ol>
          <script type="text/javascript">decorateList('widget-catalogsale-products-<?php echo $suffix; ?>', 'none-recursive')</script>
      </div>
  </div>
<?php endif; ?>
