/**
* JN2
* @package: Jn2 Clean Theme
* @author:
*/

header {
    .cart-header {
        .floating-cart {
            .cart-actions {
                button {
                    &:first-child {
                        background: transparent;
                        color: $default-text-color;
                        &:hover {
                            color: $secundary-text-color;
                        }
                    }
                    &:hover {
                        color: $default-text-color;
                    }
                }
            }
        }
    }
    .skip-links .block-skip-links .number-itens-cart {
        color: #000;
    }
}

menu {
    .mega-menu-jn2 {
        .content-mega-menu {
            .level2 {
                .subcategory.level3 {
                    li {
                        a {
                            &:before {
                                background: url(../images/icon_chev_down_black.png) no-repeat center center !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cms-index-index {
    .three-columns {
        img {
            width: 95%;
            margin: 0 auto;
        }
    }
    .home-2 {
        padding: .7em 0;
    }
}

.home-pitbar {
    background-color: $home-pitbar-background-color;
}

.cms-index-index {
    .category-title {
        @media only screen and (min-width: $screen-sm) {
            font-family: $primary-mobile-font;
            text-transform: uppercase;
        }
        em {
            font-style: normal;
            font-weight: lighter;
            text-transform: uppercase;
        }
        .view-more {
            font-style: normal;
            font-size: 13px;
            font-weight: 500;
            margin-top: 37px;
        }
    }
}

header {
    .skip-links {
        .block-login-logout {
            &:before {
                top: 1.2em;
            }
            &:after {
                top: 1.2em;
            }
        }
    }
    @media only screen and (min-width: $screen-sm) {
        border-bottom: 1px solid #010101!important;
        box-shadow: none!important;
    }
    .block-skip-links {
        a {
            color: #FFF;
            .label-skip {
                color: #FFF!important;
                @media only screen and (min-width: $screen-sm) {
                    font-weight: lighter;
                    letter-spacing: 1px;
                }
                strong {
                    font-style: normal!important;
                    font-weight: normal;
                }
            }
        }
        .number-itens-cart {
            @media only screen and (min-width: $screen-sm) {
                color: #fff!important;
            }
        }
    }
    #search_mini_form {
        .form-search {
            input {
                background-color: #454545;
            }
            .button i {
                color: #fdd29a;
            }
        }
    }
}

menu {
    .mega-menu-jn2 {
        border: 0;
    }
}

footer {
    h3 {
        @media only screen and (min-width: $screen-sm) {
            font-style: normal;
            text-transform: uppercase;
            color: #b8b8b8;
        }
    }
    .footer-3 {
        .newsletter {
            .newsletter-form {
                background-position: 8px 11px;
                @media only screen and (min-width: $screen-sm) {
                    background-color: #454545;
                }
                .btn {
                    color: #fdd29a;
                    text-transform: uppercase;
                    font-style: normal;
                    font-family: $primary-mobile-font;
                    font-size: 16px;
                    padding: 9px 20px;
                }
            }
        }
    }
    .footer-4 {
        h3 {
            font-size: 14px;
        }
        a {
            img {
                width: 30px;
                height: auto;
            }
        }
    }
    .column {
        a {
            text-transform: capitalize;
            @media only screen and (min-width: $screen-sm) {
                font-family: $primary-desktop-font;
                font-weight: lighter;
            }
        }
    }
    .footer-17 {
        .logo-assinatura {
            background-position: 0 0;
        }
    }
}

.products-grid .item .btn-cart {
    background-color: $button-default-background-color;
}

body[class*="customer"] .main-container .sidebar .block-account .block-title {
    background-image: url(../images/icon_chev_down_black.png);
}