<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/

?>

<?php $_items = $this->getReviewsCollection()->getItems();?>
<div class="box-collateral box-reviews" id="customer-reviews">
  <?php if (count($_items)):?>
    <div class="content-reviews">
      <div class="col-xs-12">
        <?php echo $this->getChildHtml('toolbar') ?>
        <?php foreach ($_items as $_review):?>
          <div class="row-comment col-lg-12 col-md-12 col-xs-12 ">
            <div class="col-md-10 col-sm-8">
              <h4><?php echo $this->escapeHtml($_review->getTitle()) ?></h4>
              <blockquote>
                <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
              </blockquote>
              <span class="author-review">
                <?php echo $this->escapeHtml($_review->getNickname()) ?>
                <small class="date"><?php echo $this->__('(Posted on %s)', $this->formatDate($_review->getCreatedAt()), 'long') ?></small>
              </span>
            </div>
          </div>
        <?php endforeach; ?>
        <span class="obs-review">Avaliações reais de clientes da loja.</span>
      </div>
    </div>
    <?php echo $this->getChildHtml('toolbar') ?>
  <?php endif;?>
  <?php echo $this->getChildHtml('review_form') ?>
</div>
