<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<?php $_orders = $this->getOrders(); ?>
<?php echo $this->getPagerHtml(); ?>

<?php $_orders = $this->getOrders(); ?>
<?php if( sizeof($_orders->getItems()) > 0 ): ?>
    <?php foreach ($_orders as $_order): ?>
        <div class="frame-card" onclick="setLocation('<?php echo $this->getViewUrl($_order) ?>')">
            <div class="title">
                <?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?> - #<?php echo $_order->getRealOrderId() ?>
                <?php
                $class = "";
                switch($_order->getStatusLabel()){
                    case 'Pendente':
                    $class = "warning";
                    break;
                    default:
                    $class = "";
                    break;
                }
                ?>
                <span class="badge <?php echo $class ?> pull-right"><?php echo $_order->getStatusLabel(); ?></span>

            </div>
            <div class="body">
                <p></p>
                <p>
                    <strong>Endereço de entrega: </strong><br />
                    <?php
                    if($_order->getShippingAddress()){
                        echo $this->escapeHtml(implode(" ",$_order->getShippingAddress()->getStreet()))."<br />";
                        echo $this->escapeHtml($_order->getShippingAddress()->getRegion())."<br />";
                        echo $this->escapeHtml($_order->getShippingAddress()->getCity())."<br />";
                    };
                    ?></p>
                    <p>
                        <strong>Total do Pedido:</strong><br />
                        <?php echo $_order->formatPrice($_order->getGrandTotal()) ?>
                    </p>
                    <a href="<?php echo $this->getViewUrl($_order) ?>" class="btn btn-info" role="button"><?php echo $this->__('View Order') ?></a>
                    <?php /*<span class="separator">|</span><a href="<?php echo $this->getTrackUrl($_order) ?>"><?php echo $this->__('Track Order') ?></a>&nbsp;*/ ?>
                    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                        <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder btn btn-success" role="button"><?php echo $this->__('Reorder') ?></a>
                    <?php endif ?>
                </div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <p><?php echo $this->__('You have placed no orders.'); ?></p>
    <?php endif; ?>


    <?php echo $this->getPagerHtml(); ?>
