<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php /** @var $this Mage_Sales_Block_Order_Info */ ?>
<?php $_order = $this->getOrder() ?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="row">
  <div class="page-title">
    <?php
    $class = "";
    switch($_order->getStatusLabel()){
      case 'Pendente':
      $class = "warning";
      break;
      default:
      $class = "";
      break;
    }
    ?>
    <h2> Pedido #<?php echo $_order->getRealOrderId()?><span class="badge <?php echo $class ?> pull-right"><?php echo $_order->getStatusLabel(); ?></span></h2>
  </div>
</div>
<?php echo $this->getStatusHistoryRssUrl($_order) ?>
<div class="row">
  <?php echo $this->getChildHtml('buttons') ?>
  <div class="frame-card">
    <div class="title"><?php echo $this->__('About This Order:') ?></div>
    <div class="body">
      <p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>
    </div>
  </div>
  <?php if (!$_order->getIsVirtual()): ?>
    <div class="frame-card">
      <div class="title"><?php echo $this->__('Shipping Address') ?></div>
      <div class="body">
        <strong>Envio</strong>
        <address><?php echo $_order->getShippingAddress()->format('html') ?></address>
        <strong>Cobrança</strong>
        <address><?php echo $_order->getBillingAddress()->format('html') ?></address>
      </div>
    </div>

    <div class="frame-card">
      <div class="title"><?php echo $this->__('Shipping Method') ?></div>
      <div class="body">
        <?php if ($_order->getShippingDescription()): ?>
          <?php echo $this->escapeHtml($_order->getShippingDescription()) ?>
        <?php else: ?>
          <p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
        <?php endif; ?>
      </div>
    </div>
  <?php endif; ?>
  <div class="frame-card">
    <div class="title"><?php echo $this->__('Payment Method') ?></div>
    <div class="body">
      <?php echo $this->getPaymentInfoHtml() ?>
    </div>
  </div>
</div>
