<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<strong><?php echo $this->__('Payment Method') ?></strong>
<?php foreach ($this->getTotals() as $_code => $_total): ?>
  <p>
    <?php if ($_total->getBlockName()): ?>
      <?php echo $this->getChildHtml($_total->getBlockName(), false); ?>:
    <?php else:?>

      <?php if ($_total->getStrong()):?>
        <strong><?php echo $this->escapeHtml($_total->getLabel());?></strong>:
      <?php else:?>
        <?php echo $this->escapeHtml($_total->getLabel());?>:
      <?php endif?>

      <?php if ($_total->getStrong()):?>
        <span style="width: 30%; float: right;"><strong><?php echo $this->formatValue($_total) ?></strong></span>
      <?php else:?>
        <span style="width: 30%; float: right;"><?php echo $this->formatValue($_total) ?></span>
      <?php endif?>

    <?php endif?>
  </p>
<?php endforeach?>
