<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>

<div class="order-items order-details">
  <?php if ($this->helper('giftmessage/message')->getIsMessagesAvailable('items', $this->getOrder())): ?>
    <script type="text/javascript">
    //<![CDATA[
    function giftMessageToogle(giftMessageIdentifier)
    {
      var link = $('order-item-gift-message-link-'+giftMessageIdentifier);
      var container = $('order-item-gift-message-'+giftMessageIdentifier);
      var row = $('order-item-row-'+giftMessageIdentifier);
      if(link.expanded) {
        link.expanded = false;
        link.removeClassName('expanded');
        if(container.hasClassName('last')) {
          row.addClassName('last');
        }
        container.hide();
      } else {
        link.expanded = true;
        link.addClassName('expanded');
        if(container.hasClassName('last')) {
          row.removeClassName('last');
        }
        container.show();
      }

      return false;
    }
    //]]>
    </script>
  <?php endif; ?>
  <?php $_order = $this->getOrder() ?>
  <div class="section-title">
    <h2><?php echo $this->__('Items Ordered') ?></h2>
  </div>
  <?php //echo $this->helper('shipping')->getTrackingPopupUrlBySalesModel($_order) ?>

  <div class="row">
    <div class="frame-card">
      <?php echo $this->getChildHtml('order_items') ?>
    </div>
  </div>

  <?php if($this->helper('giftmessage/message')->getIsMessagesAvailable('order', $_order) && $_order->getGiftMessageId()): ?>
    <div class="row">
      <div class="frame-card">
        <div class="title">Mensagem para presente</div>
        <div class="body">
          <strong><?php echo $this->__('Gift Message for This Order') ?></strong>
          <?php $_giftMessage=$this->helper('giftmessage/message')->getGiftMessageForEntity($_order); ?>
          <p><strong><?php echo $this->__('From:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getSender()) ?></p>
          <p><strong><?php echo $this->__('To:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getRecipient()) ?></p>
          <p><?php echo $this->helper('giftmessage/message')->getEscapedGiftMessage($_order) ?></p>
        </div>
      </div>
    </div>
  <?php endif; ?>


  <?php $_history = $this->getOrder()->getVisibleStatusHistory() ?>
  <?php if (count($_history)): ?>
    <div class="row">
      <div class="frame-card">
        <div class="title"><?php echo $this->__('About Your Order') ?></div>
        <div class="body">
          <?php foreach ($_history as $_historyItem): ?>
            <p><?php echo $this->formatDate($_historyItem->getCreatedAtStoreDate(), 'medium', true) ?></p>
            <p><?php echo $this->escapeHtml($_historyItem->getComment()) ?></p>
          <?php endforeach; ?>
        </div>
      </div>
    </div>
  <?php endif; ?>

  <div class="row">
    <a href="<?php echo $this->getBackUrl() ?>" class="btn btn-success"><small>&laquo; </small><?php echo $this->getBackTitle() ?></a>
  </div>
</div>
