<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<!DOCTYPE html>
<html lang="<?php echo $this->getLang() ?>">
<head>
  <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="ps-static '.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper <?php echo $this->getLang().'-lang-class';?>">
  <?php echo $this->getChildHtml('global_notices') ?>
  <?php echo $this->getChildHtml('header') ?>
  <div class="page">
    <?php echo $this->getChildHtml('global_messages') ?>
    <?php echo $this->getChildHtml('content') ?>
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('global_cookie_notice') ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
  </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
