<?php
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Onestepcheckout
 * @author     Suporte <suporte@inovarti.com.br>
 */
?>
<?php $blockNumber = $this->getBlockNumber(); ?>
<?php $blockNumberClass = (!is_null($blockNumber)) ? "onestepcheckout-number-{$blockNumber}" : ""; ?>
<?php if (Mage::getStoreConfig('onestepcheckout/general/is_show_titles')): ?>
    <div class="step-title"><span
            class="number onestepcheckout-number <?php echo $blockNumberClass; ?>"><?php echo $blockNumber; ?></span>
    <h2><?php echo $this->__('PAYMENT METHOD'); ?></h2></div><?php endif; ?>
<div class="step a-item">
    <div id="onestepcheckout-payment-method" class="onestepcheckout-add-loader-into-this-block">
        <?php echo $this->getEnterpriseRewardHtml(); ?>
        <dl class="sp-methods" id="checkout-payment-method-load">
            <?php
            $methods = $this->getMethods();
            $oneMethod = count($methods) <= 1;
            $_previousPaymentMethod = $this->getSelectedMethodCode();
            ?>
            <?php foreach ($methods as $key => $_method): ?>
                <?php $_code = $_method->getCode(); ?>
                <dt rel="<?php echo $_code ?>">
                    <?php if (!$oneMethod): ?>
                        <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio"
                               name="payment[method]"
                               title="<?php echo $this->htmlEscape($_method->getTitle()) ?>"
                            <?php
                            if (!empty($_previousPaymentMethod)){
                                if ($_code === $_previousPaymentMethod){
                                    echo 'checked="checked"';
                                }
                            }else if ($key == 0){
                                echo 'checked="checked"';
                            }
                            ?>
                               class="radio"
                        />
                    <?php else: ?>
                        <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>"
                                                        type="radio" name="payment[method]" checked="checked"
                                                        class="radio"/></span>
                        <?php $oneMethod = $_code; ?>
                    <?php endif; ?>
                    <label for="p_method_<?php echo $_code ?>"><?php echo $this->escapeHtml($this->getMethodTitle($_method)) ?><?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
                </dt>
                <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
                    <dd>
                        <?php echo $html; ?>
                    </dd>
                <?php endif; ?>
            <?php endforeach; ?>
        </dl>
        <div class="validation-advice" style="display: none;"></div>
        <?php echo $this->getChildChildHtml('additional'); ?>
        <div class="tool-tip" id="payment-tool-tip" style="display:none;">
            <div class="btn-close"><a href="#" id="payment-tool-tip-close"
                                      title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a>
            </div>
            <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>"
                                               alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>"
                                               title="<?php echo $this->__('Card Verification Number Visual Reference') ?>"/>
            </div>
        </div>
        <script type="text/javascript">
            var OSCPayment = new OnestepcheckoutPayment({
                containerSelector: "#onestepcheckout-payment-method",
                wrapContainerSelector: "#onestepcheckout-payment-method-wrapper",
                switchMethodInputsSelector: "input[name='payment[method]']",
                enterpriseRewardsSelector: 'use_reward_points',
                methodAdditionalContainerIdPrefix: "payment_form_",
                cvv: {
                    tooltipSelector: "#payment-tool-tip",
                    closeElSelector: "#payment-tool-tip-close",
                    triggerElsSelector: ".cvv-what-is-this"
                },
                savePaymentUrl: <?php echo Zend_Json::encode($this->getSavePaymentUrl()); ?>
            });

            jQuery("input[name='payment[method]']").click(function (event) {
                // event.preventDefault();
                var _code = jQuery(this).val();
                OSCPayment.switchToMethod();
                OSCPayment.switchToMethod(_code);

                if(this.value != 'paypal_plus') {
                    var OSCShipment = new OnestepcheckoutShipment({
                        containerSelector: "#onestepcheckout-shipping-method",
                        switchMethodInputsSelector: "input[type='radio'][name='shipping_method']",
                        saveShipmentUrl: <?php echo Zend_Json::encode($this->getSaveShipmentUrl()); ?>,
                        currentMethodSelector: "input[type='radio'][name='shipping_method'][checked='true']"
                    });

                    OSCShipment.switchToMethod();
                }
            });
        </script>
        <?php echo $this->getChildHtml('extra'); ?>
    </div>
</div>

<style>
    div#mundipagg_debit ul.inline li img {
        width: 30px !important;
    }
    .onestepcheckout .step .sp-methods div#mundipagg_debit ul.input-radio li {
        width: 31% !important;
    }
    .onestepcheckout .step .sp-methods div#mundipagg_debit ul li {
        width: 100% !important;
    }
    div#mundipagg_debit ul.inline li input {
        margin-left: 8px !important;
    }
</style>