<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="row">
  <div class="row">
    <ul class="steps-cart">
      <li class="active"><i class="jicon check-circle-close"></i><br>carrinho</li>
      <li><i class="jicon check-circle-close"></i><br>pagamento</li>
      <li><i class="jicon check-circle-open"></i><br>sucesso</li>
    </ul>
  </div>
</div>


<div class="page-title category-title">
  <h2><span class="title">Falta pouco para você receber o produto em sua casa!</span></h2>
</div>

<form id="onestepcheckout-general-form" method="post" action="#" ng-controller="checkoutController">

  <div class="frame-card">
    <div class="title">Qual o endereço para envio?</div>
    <div class="body">
      <?php echo $this->getChildHtml('address'); ?>
    </div>
  </div>

  <div class="frame-card">
    <div class="title">Qual será a forma de envio?</div>
    <div class="body">
      <div id="onestepcheckout-shipping-method-wrapper">
        <?php echo $this->getChildHtml('shippingmethod'); ?>
      </div>
    </div>
  </div>

  <div class="frame-card">
    <div class="title">Qual a forma de pagamento?</div>
    <div class="body">
      <div id="onestepcheckout-payment-method-wrapper">
        <?php echo $this->getChildHtml('paymentmethod'); ?>
      </div>
    </div>
  </div>

  <div class="frame-card">
    <div class="title">Você possui cupom de desconto?</div>
    <div class="body">
      <div id="onestepcheckout-order-review-coupon-wrapper">
        <?php echo $this->getChildHtml('review.coupon'); ?>
      </div>
    </div>
  </div>

  <?php echo $this->getChildHtml('review.terms'); ?>

  <div class="frame-card">
    <div class="title">Resumo</div>
    <div class="body">
      <div id="onestepcheckout-order-review-cart-wrapper">
        <?php echo $this->getChildHtml('review.cart'); ?>
      </div>
    </div>
  </div>

  <div id="onestepcheckout-place-order">
    <button type="button" class="button btn-proceed-checkout btn-checkout" title="<?php echo $this->__('Place Order Now'); ?>" id="onestepcheckout-place-order-button">
      <i class="jicon check"></i> Finalizar Compra
    </button>
    <div class="onestepcheckout-place-order-please-wait">
      <img src="<?php echo $this->getSkinUrl('onestepcheckout/images/ajax-loader.gif') ?>" />
      <?php echo $this->__('Please wait, processing your order...') ?></div>
    </div>
  </div>

</form>

<div id="onestepcheckout-popup" class="onestepcheckout-popup" style="display:none">
  <div id="onestepcheckout-popup-content" class="onestepcheckout-popup-content"></div>
  <div id="onestepcheckout-popup-accept" class="onestepcheckout-popup-accept">
    <button type="button"><?php echo $this->__('ACCEPT'); ?></button>
    <a href="javascript:void(0)"><?php echo $this->__('Close'); ?></a>
  </div>
</div>
<div id="onestepcheckout-overlay" class="onestepcheckout-popup-overlay" style="display:none"></div>
<script type="text/javascript">
var OSCForm = new OnestepcheckoutForm({
  formId: 'onestepcheckout-general-form',
  cartContainerSelector: "#onestepcheckout-order-review-cart-wrapper",
  // validate shipping and payment
  shippingMethodName: 'shipping_method',
  shippingMethodAdvice: '#onestepcheckout-shipping-method .validation-advice',
  shippingValidationMessage: '<?php echo $this->__('Please specify shipping method.'); ?>',
  shippingMethodWrapperSelector: '#onestepcheckout-shipping-method .sp-methods',
  paymentMethodName: 'payment[method]',
  paymentMethodAdvice: '#onestepcheckout-payment-method dl+.validation-advice',
  paymentValidationMessage: '<?php echo $this->__('Please specify payment method.'); ?>',
  paymentMethodWrapperSelector: '#onestepcheckout-payment-method .sp-methods',
  //place order functionality
  placeOrderUrl: '<?php echo $this->getPlaceOrderUrl(); ?>',
  successUrl: '<?php echo $this->getUrl('checkout/onepage/success'); ?>',
  placeOrderButtonSelector: 'onestepcheckout-place-order-button',
  pleaseWaitNoticeSelector: '.onestepcheckout-place-order-please-wait',
  overlayId: 'onestepcheckout-place-order-overlay',
  disabledClassName: 'onestepcheckout-place-order-button-disabled',
  popup: {
    overlaySelector: "#onestepcheckout-overlay",
    containerSelector: "#onestepcheckout-popup",
    contentContainerSelector: "#onestepcheckout-popup-content",
    acceptContainerSelector: "#onestepcheckout-popup-accept",
    buttons: {
      accept:{
        selector: "#onestepcheckout-popup-accept button",
        enabled: false
      },
      close:{
        selector: "#onestepcheckout-popup-accept a",
        enabled: false
      }
    }
  }
});
</script>
<script type="text/javascript">
OnestepcheckoutCore.updateNumbers();
OnestepcheckoutCore.updater.setConfig({
  loaderConfig: {
    '48px': 'onestepcheckout-overlay onestepcheckout-overlay-48',
    '24px': 'onestepcheckout-overlay onestepcheckout-overlay-24',
    '16px': 'onestepcheckout-overlay onestepcheckout-overlay-16'
  },
  map: <?php echo Zend_Json::encode($this->getBlockMap()); ?>,
  blocks: [
    ['shipping_method', '#onestepcheckout-shipping-method-wrapper'],
    ['payment_method', '#onestepcheckout-payment-method-wrapper'],
    ['review_cart', '#onestepcheckout-order-review-cart-wrapper'],
    ['review_coupon', '#onestepcheckout-order-review-coupon-wrapper'],
    ['review_points', '#onestepcheckout-order-review-points-wrapper'],
    ['review_referafriend', '#onestepcheckout-order-review-referafriend-wrapper']
  ],
  loaderToBlockCssClass: 'onestepcheckout-add-loader-into-this-block'
});
</script>
