<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php // Nome da loja ?>
<div class="store-name">
  <?php $store = Mage::app()->getStore(); ?>
  <strong class="text-right"><?php echo $store->getName(); ?></strong>
</div>
<?php // Descrição da loja ?>            
<?php echo Mage::getStoreConfig("custom_footer/template_newsletter/newsletter_desc_loja") ?>