<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
  <img class="img-responsive" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
</a>