<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php
$_helper = Mage::helper('catalog/category');
$_categories = $_helper->getStoreCategories();
$currentCategory = Mage::registry('current_category');
?>

<div class="visible-xs visible-sm">
  <?php if (count($_categories) > 0): ?>
    <div class="footer-menu-mobile">
      <?php foreach($_categories as $_category): ?>
        <?php $catId = $_category->getId(); ?>
        <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()); ?>
        <?php if($_category->getIsActive()): ?>
          <div class="menu-item">
            <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
              <?php echo $_category->getName(); ?>
            </a>
            <?php if($_category->getChildren()): ?>
              <div class="colapse">+</div>
            <?php endif; ?>
            <div class="sub-menu">
              <?php if($_category->getChildren()): ?>
                <?php echo Mage::app()->getLayout()->createBlock('core/template')->setData('subcategory', $_category->getChildren())->setTemplate('jn2/footer/sub-menu.phtml')->toHtml(); ?>
              <?php endif; ?>
            </div>
          </div>
        <?php endif; ?>
      <?php endforeach; ?>
    </div>
  <?php endif; ?>
</div>
