<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php
$_helper = Mage::helper('catalog/category');
?>
<?php if($this->subcategory): ?>
  <?php foreach(explode(',',$this->subcategory) as $_category): ?>
    <?php $catId = $_category; ?>
    <?php $_category = Mage::getModel('catalog/category')->load($_category); ?>
    <?php if ($_category->getName() && $_category->getIsActive() ): ?>
      <div class="menu-item">
        <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
          <?php if ($_category->getIcon()): ?>
            <div style="background-image:url(<?php echo Mage::getBaseUrl('media').'catalog/category/'.$_category->getIcon() ?>);" class="ico-cat">&nbsp;</div>
          <?php endif ?>
          <?php echo $_category->getName(); ?>
        </a>
        <?php if($_category->getChildren()): ?>
          <div class="colapse">+</div>
        <?php endif; ?>
        <div class="sub-menu">
          <?php if($_category->getChildren()): ?>
            <?php echo Mage::app()->getLayout()->createBlock('core/template')->setData('subcategory', $_category->getChildren())->setTemplate('jn2/footer/sub-menu.phtml')->toHtml(); ?>
          <?php endif; ?>
        </div>
      </div>
    <?php endif; ?>
  <?php endforeach; ?>
<?php endif; ?>
