<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<div class="newsletter">  
  <p class="legend"><?php echo $this->__('Register to receive our newsletter.') ?></p>
  <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail" class="newsletter-form">
    <input type="email" name="email" id="newsletter" title="<?php echo $this->__('E-mail address') ?>" class="input" placeholder="<?php echo $this->__('E-mail address') ?>" required=""/>
    <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="btn"><?php echo $this->__('send') ?></button>
  </form>
</div>
<script type="text/javascript">
  //<![CDATA[
  var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
  //]]>
</script>
