<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>


<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
  var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view">
  <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>

<div class="row">
  <div class="product-view" ng-controller="productController">
    <div class="row">
      <div class="product-name">
        <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        <?php
        $RatingOb = Mage::getModel('rating/rating')->getEntitySummary($_product->getId());
        $ratings = $RatingOb->getSum()/$RatingOb->getCount();
        ?>
        <?php if($ratings): ?>
          <div class="ratings-view">
            <div class="rating-box">
              <div class="rating" style="width:<?php echo $ratings; ?>%"></div>
            </div>
          </div>
        <?php endif;?>
      </div>
    </div>

    <div class="row media-section">
      <?php echo $this->getChildHtml('media') ?>
    </div>

    <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => Mage::app()->getStore()->isCurrentlySecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
      <?php echo $this->getBlockHtml('formkey') ?>
      <div class="no-display">
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
      </div>

      <?php if ($_product->isSaleable() && $this->hasOptions()):?>
        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
      <?php endif;?>

      <?php if ($this->getChildHtml("product.info.options.wrapper") || $this->getChildHtml("product_type_data_grouped")): ?>
      <div class="row">
        <div class="frame-card product-info">
          <div class="title" ng-click="info = !info" ng-init="info=1">Informações  <span class="jicon" ng-class="{'chev-down': !info, 'chev-up': info}"></span></div>
          <div class="body" ng-show="info">
            <?php echo $this->getChildHtml("product.info.options.wrapper"); ?>
            <?php echo $this->getChildHtml("product_type_data_grouped"); ?>
          </div>
        </div>
      </div>

    <?php endif ?>

      <?php $_description = $_helper->productAttribute($_product->getProduct(),  $_product->getDescription() , 'description')?>

        <div class="row">
          <div class="frame-card description">
            <div class="title" ng-click="description = !description" ng-init="description=1">Descrição  <span class="jicon" ng-class="{'chev-down': !description, 'chev-up': description}"></span></div>
            <div class="body" ng-show="description">
              <?php echo $_description?>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="frame-card description">
            <div class="title" ng-click="description = !description" ng-init="description=1"><?php echo $this->__('Additional Information') ?>  <span class="jicon" ng-class="{'chev-down': !description, 'chev-up': description}"></span></div>
            <div class="body" ng-show="description">
              <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
                <?php echo $html; ?>
              <?php endforeach;?>
            </div>
          </div>
        </div>

      <?php if ($_product->isSaleable()):?>
      <div class="row">
        <div class="frame-card shipping">
          <div class="title" ng-click="shipping = !shipping" ng-init="shipping=1">Frete  <span class="jicon" ng-class="{'chev-down': !shipping, 'chev-up': shipping}"></span></div>
          <div class="body" ng-show="shipping">
            <?php echo $this->getLayout()->getBlock('shipping.estimate.form')->toHtml()?>
          </div>
        </div>
      </div>
      <?php endif;?>

      <div class="box-buy">
        <div class="col-1">
          <?php echo $this->getChildHtml('product_type_data') ?>
        </div>
        <div class="col-2">
          <?php if ($_product->isSaleable()):?>
            <?php echo $this->getChildHtml('addtocart.rwd');?>
          <?php else:?>
            <?php if (!$_product->isAvailable()): ?>
              <p class="availability out-of-stock"><?php echo $this->__('Out of stock') ?></p>
            <?php endif; ?>
          <?php endif;?>
        </div>
      </div>

    </form>

    <div class="row">
      <div class="frame-card comments">
        <div class="title" ng-click="comments = !comments">Comentários  <span class="jicon" ng-class="{'chev-down': !comments, 'chev-up': comments}"></span></div>
        <div class="body" ng-show="comments">
          <?php echo $this->getChildHtml('product_additional_data');?>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <?php #Upsell Products ?>
  <?php echo $this->getChildHtml('upsell_products') ?>
</div>

<script type="text/javascript">
//<![CDATA[
var productAddToCartForm = new VarienForm('product_addtocart_form');
productAddToCartForm.submit = function(button, url) {
  if (this.validator.validate()) {

    var form = this.form;
    var oldUrl = form.action;

    if (url) {
      form.action = url;
    }
    var e = null;
    try {
      this.form.submit();
    } catch (e) {
    }
    this.form.action = oldUrl;
    if (e) {
      throw e;
    }

    if (button && button != 'undefined') {
      button.disabled = true;
    }
  }
  Element.scrollTo($$('.box-buy.row')[0]);
}.bind(productAddToCartForm);

productAddToCartForm.submitLight = function(button, url){
  if(this.validator) {
    var nv = Validation.methods;
    delete Validation.methods['required-entry'];
    delete Validation.methods['validate-one-required'];
    delete Validation.methods['validate-one-required-by-name'];
    // Remove custom datetime validators
    for (var methodName in Validation.methods) {
      if (methodName.match(/^validate-datetime-.*/i)) {
        delete Validation.methods[methodName];
      }
    }

    if (this.validator.validate()) {
      if (url) {
        this.form.action = url;
      }
      this.form.submit();
    }
    Object.extend(Validation.methods, nv);
  }
}.bind(productAddToCartForm);
//]]>
</script>
