/**
 * Shipping Estimate extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   EcomDev
 * @package    EcomDev_ProductPageShipping
 * @copyright  Copyright (c) 2011 EcomDev BV (http://www.ecomdev.org)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
 */
.block-shipping-estimate h6{
    font-size: 14px;
}

.block-shipping-estimate call{
    font-size: 12px;
}

.block-shipping-estimate select,
.block-shipping-estimate input {
    width: 100%;
    padding: 0 4px;
}

.block-shipping-estimate .radio input {
    width: 20px;
}

.block-shipping-estimate .radio div.input-box {
    clear: both;
}

.block-shipping-estimate .block-content li.item {
    padding: 0;
}

.block-shipping-estimate .block-content li.last {
    padding-bottom: 7px;
}

.block-shipping-estimate .block-content li label {
    float: left;
    color: #666;
    font-weight: bold;
    position: relative;
    z-index: 0;
}

.block-shipping-estimate .block-content li label.required em {
    float: right;
    font-style: normal;
    color: #eb340a;
    position: absolute;
    top: 0;
    right: -8px;
}

.block-shipping-estimate .block-content li.odd {
    background: transparent;
}

.block-shipping-estimate .block-content li.even {
    background: transparent;
}

.block-shipping-results .block-content {
    
}

.block-shipping-results .block-content dl dt,
.block-shipping-results .block-content .price {
    font-weight: bold;
}

.block-shipping-results .block-content dl dd {
    padding: 0px 0px 0px 10px;
}

.block-shipping-estimate .actions {
    padding: 0;
}
.shipping-estimation-form,
#shipping-estimate-results{
    padding: 0;
}

#shipping-estimate-loading-message{
    margin-top: 2em;
    margin-left: 3em;
}
