
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
<meta name="HandheldFriendly" content="true">

<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<?php $author = empty(Mage::getStoreConfig('custom_header/blocks_direitos/author')) ? "Jn2 Ecommerce Expert" : Mage::getStoreConfig('custom_header/blocks_direitos/author'); ?>
<meta name="author" content="<?php echo $author ?>">
<?php $copyright = empty(Mage::getStoreConfig('custom_header/blocks_direitos/copyright')) ? "Jn2 Ecommerce" :  Mage::getStoreConfig('custom_header/blocks_direitos/copyright'); ?>
<meta name="copyright" content="<?php echo $copyright ?>">
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->
<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>
<script type="text/javascript">
var $_skinUrl = "<?php echo $this->getSkinUrl() ?>";
</script>
