<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<?php if($this->getCollection()->getSize()): ?>
  <div class="toolbar top">

    <div class="col-md-3">
      <div class="limiter">
        <span class="title"><?php echo $this->__('Show') ?>:</span>
        <ol>
          <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
            <li class="<?php if($this->isLimitCurrent($_key)): ?>current<?php endif ?>"><a href="<?php echo $this->getLimitUrl($_key) ?>"><?php echo $_limit ?></a></li>
            <?php endforeach; ?>
          </ol>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <?php if($this->getLastPageNum()>1): ?>
            <span class="title"><?php echo $this->__("Encontrados") ?>:</span>
            <span class="amount amount--has-pages">
              <?php echo $this->__('%s-%s de %s', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
            </span>
          <?php else: ?>
            <span class="title"><?php echo $this->__("Encontrados") ?>:</span>
            <span class="amount amount--no-pages">
              <?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?>
            </span>
          <?php endif; ?>
        </div>
      </div>

      <div class="col-md-5">
        <?php if( $this->isExpanded() ): ?>
          <div class="sorter">
            <span class="title"><?php echo $this->__('Ordenar Por') ?>:</span>
            <select onchange="setLocation(this.value)" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sort By')) ?>">
              <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                  <?php echo $this->__($_order) ?>
                </option>
              <?php endforeach; ?>
            </select>
            <?php if($this->getCurrentDirection() == 'desc'): ?>
              <a href="<?php echo $this->getOrderUrl(null, 'asc') ?>" class="sort-by-switcher sort-by-switcher--desc" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Set Ascending Direction')) ?>"><img src="<?php echo $this->getSkinUrl("images/icon_chev_down.png") ?>"  /></a>
            <?php else: ?>
              <a href="<?php echo $this->getOrderUrl(null, 'desc') ?>" class="sort-by-switcher sort-by-switcher--asc" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Set Descending Direction')) ?>"><img src="<?php echo $this->getSkinUrl("images/icon_chev_down.png") ?>"  /></a>
            <?php endif; ?>
          </div>
        <?php endif; ?>
      </div>
    </div>
  <?php endif ?>
