<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<?php
$_helper   = $this->helper('catalog/output');
$_category = Mage::registry('current_category');
?>
<?php if($this->getCollection()->getSize()): ?>
  <div class="toolbar bottom">

    <div class="col-md-3 visible-md visible-lg">
      <div class="limiter">
        <span class="title"><?php echo $this->__('Show') ?>:</span>
        <ol>
          <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
            <li class="<?php if($this->isLimitCurrent($_key)): ?>current<?php endif ?>"><a href="<?php echo $this->getLimitUrl($_key) ?>"><?php echo $_limit ?></a></li>
            <?php endforeach; ?>
          </ol>
        </div>
      </div>

      <div class="col-md-4 visible-md visible-lg">
        <div class="info">
          <?php if($this->getLastPageNum()>1): ?>
            <span class="title"><?php echo $this->__("Encontrados") ?>:</span>
            <span class="amount amount--has-pages">
              <?php echo $this->__('%s-%s de %s', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
            </span>
          <?php else: ?>
            <span class="title"><?php echo $this->__("Found") ?>:</span>
            <span class="amount amount--no-pages">
              <?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?>
            </span>
          <?php endif; ?>
        </div>
      </div>

      <div class="col-md-5">
        <?php echo $this->getPagerHtml() ?>
      </div>


    </div>
  <?php endif ?>
  <?php if ($_category): ?>
    <div class="bottom-seo-category">
      <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
      <div><?php echo $_helper->categoryAttribute($_category, $_category->getDescription(), 'description') ?></div>
    </div>
  <?php endif; ?>
