/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/

:root {
    --header-bg-color: #{$header-background};
}

// Cores gerais
$default-text-color: #000;
$secundary-text-color: #ff0000;
$default-color-segment: $secundary-text-color;
$menu-max-level: 6; 
// Fontes desktop
$primary-desktop-font: 'Roboto Condensed',
sans-serif;
$secund-desktop-font: 'Roboto',
sans-serif;
// Fontes Mobile
$primary-mobile-font: 'Roboto Condensed',
sans-serif;
$secund-mobile-font: 'Roboto',
sans-serif;
// Header
$header-topbar-background: #fff;
$header-topbar-color: #000;
$header-background: #fff;
$header-simple-border-color: #ddd;
$header-block-skip-links-border-color: #ddd;
$header-mobile-cart-itens-cout-background: #000;
$header-cart-actions-border-color: #ddd;
$header-search-content-background: #d4d4d4;
$header-search-content-border-color: rgb(100, 100, 100);
$header-form-search-input-color: #666;
$header-form-search-input-border-color: #ddd;
// Cores do Rodape
$footer-background: #fff;
$footer-border-color: #EBEBEC;
$footer-links-color: #242424;
// Cores do botões
$button-default-background-color: #000;
$button-default-font-color: #fff;
$button-default-background-color-hover: #ff0101;
$button-default-font-color-hover: #fff;
$button-add-cart-background:#000000;
$button-add-cart-color:#fff;
$button-outline-border:#000;
$button-outline-color:#000;
// Cores grid de produtos
$grid-border-color: #eee;
$grid-border-hover-color: #ff0000;
$price-color: #ff0000;
$default-text-color: #000;
// Cores do Menu
$menu-border-color: #ddd;
$menu-link-hover-color: #ff0000;
$menu-layered-background: rgba(0, 0, 0, 0.5);
$btn-hamburger-color: #000;
// breadcrumbs
$link-color: #000;
$link-hover-color: #000;
$non-link-color: #000;
// Inputs
$input-focus-shadow: #000;
$input-focus-border-color: #000;
// login
$login-frame-background: #efefef;
// Tela de registro
$title-required-color: #ff0000;
$tipodepessoa-checked-background: #000;
$tipodepessoa-checked-color: #fff;
// Product product_page
$product-page-product-name-color: #000;
$product-page-product-name-ref-color: #666;
$product-page-image-pagination-border-color: #000;
$product-page-image-pagination-border-color-active: #ff0000;
$product-page-price-old: #666;
$product-page-price-special: #ff0000;
$product-page-price-regular: #ff0000;
$product-page-price-instalments: #000;
$product-page-options-row-border-color: #ccc;
$product-page-qty-btn-color: #000;
$product-page-qty-btn-color-hover: #ff0000;
// reviews$unchecked-star: '\2606';
$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;