<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php
$_helper = Mage::helper('catalog/category');
$_categories = $_helper->getStoreCategories();
$currentCategory = Mage::registry('current_category');
?>

<?php if (count($_categories) > 0): ?>
  <div class="mega-menu-jn2 menu-theme-5">
    <div class="content-mega-menu">
      <ul class="nav nav-itens -flex">
        <?php foreach($_categories as $_category): ?>
          <?php $catId = $_category->getId(); ?>
          <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()); ?>
          <?php $_subcategories = $_category->getChildrenCategories(); ?>
          <li  class="level0 <?php echo (count($_category->getChildrenCategories()) > 0) ? "with-subcategories" : "without-subcategories" ?> menu-category-<?php echo $catId; ?>">
            <a href="<?php echo $_helper->getCategoryUrl($_category) ?>" class="link-first-level">
              <?php if ($_category->getIcon()): ?>
                <div style="background-image:url(<?php echo Mage::getBaseUrl('media').'catalog/category/'.$_category->getIcon() ?>);" class="ico-cat">&nbsp;</div>
              <?php endif ?>
              <?php echo $_category->getName(); ?>
            </a>
            <?php if (count($_subcategories) > 0): ?>
              <?php echo $this->subCategory($_category,1); ?>
            <?php endif; ?>
          </li>
        <?php endforeach; ?>
      </ul>
    </div>
  </div>
<?php endif; ?>
