<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('jn2/home/css/menu-vert.css')?>" />

<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>

<?php $currentCategory = Mage::registry('current_category') ?>
<?php if (count($_categories) > 0): ?>

    <div class="container hidden-xs hidden-sm">
        <div class="all-categories-menu col-md-3">
            <i class="fa fa-bars"></i><span class="title">Todas as Categorias</span>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="mega-menu-jn2-vert col-md-3">
            <div class="content-mega-menu">
                <ul>
                    <?php foreach($_categories as $_category): ?>
                        <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
                        <?php $_subcategories = $_category->getChildrenCategories() ?>
                        <li  class="level0 <?php if (count($_subcategories) > 0): ?>parent<?php endif; ?>" >

                            <?php if ($_category->getIcon()): ?>
                                <img src='<?php echo Mage::getBaseUrl('media').'catalog/category/'.$_category->getIcon() ?>' />
                            <?php endif ?>

                            <a href="<?php echo $_helper->getCategoryUrl($_category) ?>"> <i class="fa fa-angle-right"></i> <?php echo $_category->getName() ?></a>

                            <?php if (count($_subcategories) > 0): ?>
                                <div class="inner-content" <?php if ($_category->getImgDisplay()): ?>style="min-width: 500px;"<?php endif ?>>
                                    <div class="row">
                                        <ul <?php if ($_category->getImgDisplay()): ?>style="max-width: 30%; "<?php endif ?>>
                                            <?php foreach($_subcategories as $_subcategory): ?>
                                                <li  class="level1">
                                                    <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"><?php echo $_subcategory->getName() ?></a>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                        <?php if ($_category->getImgDisplay()): ?>
                                            <div class="img-display">
                                                <img src='<?php echo Mage::getBaseUrl('media').'catalog/category/'.$_category->getImgDisplay() ?>' />
                                            </div>
                                        <?php endif ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>

<script type="text/javascript">
    jQuery(function(){
        jQuery('body').prepend('<div class="layered">&nbsp;</div>');
    })
    jQuery(document).on('mouseover', '.content-mega-menu ul li.parent a, .inner-content,.content-mega-menu ul li.parent', function () {
        jQuery(".layered").show().siblings('.layered').hide();
    });
    jQuery(document).on('mouseleave', '.content-mega-menu ul li.parent a, .inner-content,.content-mega-menu ul li.parent', function () {
        jQuery('.layered').hide();
    });
</script>
