/**
* JN2
* @package: Jn2 Clean Theme
* @author:
*/
h2, h3{
  color: #f0f;
}
.cms-index-index {
  .home-product-carousel{
      .category-products.carousel{
          .owl-item{
              padding: 10px;
          }
      }
  }
}
.products-grid {
  .item {
      background-color: #fff;
      padding: 10px;
  }
}
.products-grid{
  .item{
    .price-box-link{
      .price-box{
        .price-billet, .regular-price, .price-parcelado{
          .price{
            color: $h2-title-color;
          }
        }
      }
    }
  }
}

.page{
  background: $page-backgroud-color !important;
}
.onestepcheckout-index-index{
  .page{
    background: #fff !important;
  }
}
.cms-index-index {
  .home-2{
    padding: 2em 0;
  }
}

.home-pitbar{
  background-color: #fff;
}


.cms-index-index {
  .category-title {

    @media only screen and (min-width : $screen-sm) {
      font-family: $primary-mobile-font;
      text-transform: uppercase;
    }
    em{
      font-style: normal;
      font-weight: lighter;
      text-transform: uppercase;
    }
    .view-more{
      font-style: normal;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

menu {
  .mega-menu-jn2{

  }
}

footer{
  h3{
    @media only screen and (min-width : $screen-sm) {
      font-style: normal;
      text-transform: uppercase;
      color: $color-segment;
    }
  }
  .footer-4 {
    h3{
      font-size: 14px;
    }
  }
  .column{
    a{
      text-transform: capitalize;
      @media only screen and (min-width : $screen-sm) {
        font-family: $primary-desktop-font;
        font-weight: lighter;
      }
    }
  }
}
