/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.cms-index-index{

  // Banner principal
  .home-1{
    .owl-nav {
      margin-top: -40px;
      top: 50%;
      text-align: center;
      position: absolute;
      width: 100%;
      display: none;

      @media only screen and (min-width : $screen-md) {
        margin-top: -20px;
        display: block;
      }

      .owl-prev, .owl-next{
        position: absolute;
        color: #FFF;
        display: inline-block;
        zoom: 1;
        margin: 5px;
        padding: 3px 10px;
        font-size: 12px;
        border-radius: 30px;
        background: transparent;
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
      }
      .owl-prev{
        left: 24px;
      }
      .owl-next{
        right: 24px;
      }
    }
    .owl-dots{
      margin-top: 15px;
      text-align: center;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: none;
      }

      .owl-dot{
        background: $color-segment-menu-drop;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;

        &.active{
          background: $color-segment;
        }
      }
    }
  }

  // Pitbar
  .home-2{
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;

    .flex-grid{
      display: inline-block;
      width: 100%;

      @media only screen and (min-width : $screen-md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .column{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 20px 34px;
        float: left;

        @media only screen and (min-width : $screen-xs) {
          width: 50%;
          max-width: 49%;
          padding: 20px 34px;
          min-height: 80px;
        }
        @media only screen and (min-width : $screen-md) {
          width: auto;
          padding: 0px 34px;
          min-height: auto;
        }
        img{
          display: table;
          margin: 0 auto;
        }
      }
    }


  }

  .three-columns{
    .col-1,
    .col-2,
    .col-3{
      padding: 0;
    }

    img{
      width: 100%;
    }
  }

  .two-column{
    .col-1,
    .col-2{

      img{
        width: 100%;
      }
    }

  }

  .category-title{
    font-family: $primary-mobile-font;
    margin: 30px 0;
    border-bottom: 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    letter-spacing: 4px;

    @media only screen and (min-width : $screen-sm) {
      font-family: $primary-desktop-font;
      border-bottom: 1px solid #eee;
      letter-spacing: 1px;
    }

    h2{
      padding: 20px 0px 10px 0px;
      position: relative;
      display: inline-block;
      font-weight: bold;
      font-size: 26px;
      text-align: center;
      width: 100%;
      color: $h2-title-color;

      @media only screen and (min-width : $screen-sm) {
        font-size: 32px;
        text-align: left;
        width: auto;
      }
    }

    i, em{
      text-transform: lowercase;
      margin-left: 10px;
      font-size: 18px;
      display: none;

      @media only screen and (min-width : $screen-sm) {
        font-size: 26px;
        display: inline-block;
      }
    }

    .view-more{
      font-family: $primary-desktop-font;
      font-size: 14px;
      font-style: italic;
      font-weight: bold;
      color: #000;
      margin-top: 38px;
      float: right;



      @media only screen and (min-width : $screen-sm) {
        display: block;
      }

      img{
        float: left;
        margin: 5px;
      }
    }
  }

  .home-product-carousel{
    .category-products{
      width: 100%;
      display: inline-block;

      @media only screen and (min-width : $screen-sm) {
        
      }

      &.carousel{
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 0 40px;

        @media only screen and (min-width : $screen-sm) {
          padding: 0 50px;
        }

      }
      .owl-nav {
        margin-top: -40px;
        margin-left: -40px;
        top: 50%;
        text-align: center;
        position: absolute;
        width: calc(100% + 80px);

        @media only screen and (min-width : $screen-sm) {
          margin-top: -20px;
          margin-left: -50px;
          width: calc(100% + 100px);
        }

        .owl-prev, .owl-next{
          position: absolute;
          color: #FFF;
          display: inline-block;
          zoom: 1;
          margin: 5px;
          padding: 3px 10px;
          font-size: 12px;
          border-radius: 30px;
          background: transparent;
          opacity: 0.5;

          &:hover{
            opacity: 1;
          }
        }
        .owl-prev{
          left: 5px;
        }
        .owl-next{
          right: 5px;
        }
      }
    }
  }

  .depoimentos{
    background: #FAFAFA;
    border-top: 1px solid #eee;
    margin-top: 50px;

    .listagem-depoimento{
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      .item-depoimento{
        font-family: $primary-desktop-font;
        padding: 50px 25px 30px 35px;
        background: url(../images/icon_quotes.png) top left no-repeat;

        span{
          font-size: 18px;
          line-height: 32px;
        }

        h3{
          font-size: 28px;
        }

        table{
          margin-top: 30px;
          margin-left: -30px;

          td{
            &:last-child{
              padding-left: 20px;
              font-size: 14px;
            }
          }
        }

      }
    }
  }

}
