<div class="price-box price-billet">
  <span class="regular-price">
      <span class="price">R$<?php echo $this->end_price; ?></span>
      <span class="description"><?php echo $this->description; ?></span>
  </span>
</div>
