<?php
#$this = new Mage_Core_Block_Template;


$block = $this->getLayout()->getBlock('product_list.sidebar');

$category = Mage::getModel('catalog/category')->load($block->getCategoryId());

$htmlOutput = $block->toHtml();
?>

<?php if (trim($htmlOutput) != ''): ?>
    <div class="clear">&nbsp;</div>
    <div class="page-title category-title">

        <h2>
            <?php echo $category->getName(); ?>
        </h2>
    </div>
    <?php echo $htmlOutput; ?>
<?php endif; ?>
