/**
* JN2
* @package: Jn2 Moda Clean Theme
* @author:
*/

// Cores gerais
$default-text-color: #000;
$secundary-text-color: #ff0000;

$default-color-segment:#ee0065;

$menu-background-hover:#f3f3f3;

$menu-max-level: 6;

// Fontes desktop
$primary-desktop-font: 'Roboto Condensed', sans-serif;
$secund-desktop-font: 'Roboto', sans-serif;

// Fontes Mobile
$primary-mobile-font: 'Roboto Condensed', sans-serif;
$secund-mobile-font: 'Roboto', sans-serif;

// Header
$header-topbar-background: #121212;
$header-topbar-color: #b9b9b9;
$header-background: #121212;
$header-simple-border-color: #010101;
$header-block-skip-links-border-color: #ddd;
$header-mobile-cart-itens-cout-background: $color-segment;
$header-cart-actions-border-color: #ddd;
$header-search-content-background: #EBEBEC;
$header-search-content-border-color: #EBEBEC;
$header-form-search-input-color: #666;
$header-form-search-input-border-color: #ddd;

$header-search-content-background: #121212;
$header-search-content-border-color: rgba(#000000, 0);
$header-search-button:rgba(#000000, 0);
$header-search-border-color:rgba(#000000, 0);



// Cores do Rodape
$footer-background: #111111;
$footer-border-color: #262626;
$footer-links-color: #cdcdcd;
$footer-button-send-color:#ff3376;

// Cores do botões
$button-default-background-color: #000;
$button-default-font-color: #fff;
$button-default-background-color-hover: $default-color-segment;
$button-default-font-color-hover: #fff;
$button-add-cart-background:$default-color-segment;
$button-add-cart-color:#fff;
$button-outline-border:#000;
$button-outline-color:#000;

//Home
$home-pitbar-background-color:$color-segment;

// Cores grid de produtos
$grid-border-color: #eee;
$grid-border-hover-color: $default-color-segment;
$price-color: $default-color-segment;
$default-text-color: #000;

// Cores do Menu
$menu-background: #fff;
$menu-color:#000;
$menu-background-hover: #fff;
$menu-border-color: #EEE;
$menu-link-hover-color: $default-color-segment;
$menu-layered-background: rgba(0,0,0,0.5);
$btn-hamburger-color: $default-color-segment;

// breadcrumbs
$link-color: #000;
$link-hover-color: #000;
$non-link-color: #000;

// Inputs
$input-focus-shadow: #000;
$input-focus-border-color: #000;

// login
$login-frame-background: #efefef;

// Tela de registro
$title-required-color: $default-color-segment;
$tipodepessoa-checked-background: #000;
$tipodepessoa-checked-color: #fff;


// Product product_page
$product-page-product-name-color: #000;
$product-page-product-name-ref-color: #666;
$product-page-image-pagination-border-color: #000;
$product-page-image-pagination-border-color-active: $default-color-segment;
$product-page-price-old: #666;
$product-page-price-special: $default-color-segment;
$product-page-price-regular: $default-color-segment;
$product-page-price-instalments: #000;
$product-page-options-row-border-color: #ccc;
$product-page-qty-btn-color: #000;
$product-page-qty-btn-color-hover: $default-color-segment;


// reviews$unchecked-star: '\2606';
$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;
