/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
*/


#ibanners-home_top_left-wrapper{
    /*height:570px;
    width: 570px;*/
    float:left;
    border:1px solid #dfdfdf;
}

#ibanners-banner_top_left-wrapper li.slide{
    display:block;
    overflow:hidden;
    height:inherit;
    width:inherit;
}


/**
banner top right
*/
#ibanners-banner_top_right-wrapper{
    float:right;
    width:578px;
}


#ibanners-banner_top_right-wrapper li.slide{
    display:block;
    overflow:hidden;
    /*height:573px;*/
    width:inherit;
    float:left;
}
#ibanners-banner_top_right-wrapper li.slide ul li.banner{
    float: left;
    height: 270px;
    margin-bottom: 32px;
    margin-right: 17px;
    overflow: hidden;

}

#ibanners-banner_top_right-wrapper li.slide img{
     width: 270px;
}

#ibanners-banner_top_right-wrapper li.slide{
    /*clear:left;*/
}

/**
Banner list
*/

/*
#ibanners-banner_list-wrapper li.slide li.banner{
    float:left;
    margin:0 17px;
}
#ibanners-banner_list-wrapper li.slide li.banner{
    width:120px;
    height:55px;
    overflow:hidden;
}
#ibanners-banner_list-wrapper li.slide li.banner img{
    width: 120px;
}
*/


/*no controls on these banners*/
#ibanners-banner_list-wrapper .bx-controls,
#ibanners-banner_top_right-wrapper .bx-controls,
#ibanners-banner_top_left-wrapper .bx-controls{
    display:none;
}
.bx-controls{
    position:relative;
}

.bx-controls .bx-pager{
    left: 21px;
    position: absolute;
    top: -55px;
}

.bx-controls .bx-pager .bx-pager-item{
    padding:0 3px;
    float:left;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link{
    border:3px solid #c5c5c5;
    border-radius:50%;
    padding: 2px 2px;
    background-color:#fafafa;
    color:#fafafa;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link.active{
    border:3px solid #4a4a4a;
}

.bx-controls-direction{
    display:none;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #FFF;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0 3px;
}
