.nav-container {
  position: relative;
  z-index: 2;
}
.sf-menu {
  border: 1px solid #dddddd;
  background: #fbfbfb;
  border-bottom-width: 0;
}
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  border-right: 1px solid #dddddd;
  z-index: 99;
}
.sf-menu li a {
  display: block;
  color: #4a4a4a;
  text-decoration: none;
  position: relative;
  padding: 0;
}
.sf-menu > li > a > span {
  display: block;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  padding: 18px 20px 20px;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a > span {  background: url(../images/marker-8.gif) center -59px no-repeat;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {
  color: #75dadf;
  background: #fff;
}
.sf-menu > li.sfHover:before {
  content: '.';
  font-size: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  z-index: 1;
}

.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #fff;
  border: 1px solid #dddddd;
  padding: 10px 15px;
}
.sf-menu > li > ul {border-top-width: 0;}
.sf-menu li li a:before {content: '\f105'; font-size: 18px; color: #75dadf; margin-right: 10px; float: left; }
.sf-menu li li.last {  border-bottom: none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover {
  float: none;
  border-right: none;
  position: relative;
  padding: 4px 0;
}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a {
  display: inline-block;
  background: none;
  font-size: 13px;
  line-height: 15px;
  color: #838383;
  padding: 0;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #4a4a4a;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: -1px;
  top: 56px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 980px) and (max-width: 1199px) { 
    .sf-menu > li > a > span {padding: 18px 15px 20px; font-size: 13px;}
}
@media only screen and (min-width: 979px) {
    #menu-icon,
    .sf-menu-phone {  display: none !important;}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
   #menu-icon,
   .sf-menu-phone {margin: 0 !important;}
}
@media only screen and (max-width: 979px) {
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
  #menu-icon {
    display: block;
    background: url(../images/menu-icon-bg.png) 95% 11px no-repeat;
    border-bottom: 5px solid #B90100;
    font-size: 20px;
    line-height: 21px;
    color: #4a4a4a;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px 0 0 15px;
    height: 36px;
    margin: 0 10px;
    border: 1px solid #dddddd;
    border-bottom: 0;
  }

  #menu-icon.active { background-position: 95% -47px;  }

  .sf-menu-phone {
    border: 1px solid #dddddd;
    position: relative;
    padding: 13px 20px 20px;
    z-index: 2;
    margin: 0 10px;
    border-bottom: 0;
  }
  .sf-menu-phone li { padding: 10px 0;  position: relative; font-size: 18px;  }
  .sf-menu-phone > li {  border-bottom: 1px solid #dddddd; }
    .sf-menu-phone > li:last-child {border: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #838383;  }
  .sf-menu-phone li a:hover { color: #4a4a4a; }
  .sf-menu-phone li li {font-size: 14px; padding: 3px 0;}
  .sf-menu-phone li li.last { padding-bottom: 0 !important;  }
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    background: url(../images/toogle-button3.png) center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong.opened { background-position: center 7px; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  padding: 8px 0 0 20px;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover { color: #4a4a4a;  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #4a4a4a;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #menu-icon {  background-position: 96% 11px; }
  #menu-icon.active { background-position: 96% -47px;}
}
