/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/



.breadcrumbs {
  overflow: hidden;
  padding: 20px;
  font-size: 10px;
  color: $link-hover-color;
  border-bottom: 1px solid #ddd;
  width: calc(100% + 30px);
  margin: 0 -15px;
  display: none;
  border: 0px;
  box-shadow: none;
  color: #666;
  text-transform: uppercase;
  font-size: 10px;
  width: 100%;
  float: left;

  @media screen and (min-width: $screen-md){
    border-bottom: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: block;
  }

  li {
    float: left;

    a {
      float: left;
      font-size: 12px;
      color: $link-color;
      text-transform: lowercase !important;
      color: #000;
      text-transform: uppercase;      

      &:hover {
        color: $link-hover-color;
      }
    }

    strong {
      font-weight: bold;
      font-size: 12px;
      color: $link-hover-color;
      font-family: $primary-desktop-font;
      font-style: italic;
      text-transform: lowercase !important;
    }

    span {
      margin: 0 5px 0 3px;
      float: left;
      padding: 4px 6px;
    }
  }
}
