/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.button-default{
  font-family: $secund-desktop-font;
  background: $button-default-background-color;
  color: $button-default-font-color;
  padding: 10px 20px;
  display: inline-block;
  border: 0px;
  border-radius: 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;

  &:hover, &:active, &:focus{
    background: $button-default-background-color-hover;
    color: $button-default-font-color-hover;
    text-decoration: none;
  }
}

.button-default-simple{
  @extend .button-default;
  background: transparent;
  color: $button-outline-color;
  border: 1px solid $button-outline-border;
  text-decoration: none;
}

.button-addtocart{
  background-color:$button-add-cart-background;
  color: $button-add-cart-color;
  font-family:$primary-desktop-font;
  font-size: 21px;
  padding: 13px 40px;
  display: inline-block;
  border: 0px;
  width: 100%;
  &:hover, &:active,&:focus{
    background: $button-default-background-color-hover;
    color: $button-default-font-color-hover;
    text-decoration: none;
  }
}

.btn-track {
  @extend .button-default;
}
