/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

input:-webkit-autofill {
    @include box-shadow(0 0 0px 1000px white inset);
}

.form-control:focus {
    @include box-shadow(0 0 5px 0 $input-focus-shadow);
    border-color: $input-focus-shadow;
}

.form-control {
    border-radius: 0px;
}

.radio label,
.checkbox label {
    line-height: 20px;
}

button,
a {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently*/
    cursor: pointer
}

.track-number {
    color: $color-segment;
    font-weight: bold;
}

body {
    color: #F0F;
}

.dob-day {
    width: 30%;
    float: left;
}

.dob-month {
    width: 30%;
    float: left;
    margin: 0 0.3em;
}

.dob-year {
    width: 36%;
    float: left;
}

div#rm_pagseguro_cc_cpf_div {
    margin-top: 60px;
}

.validation-advice {
    // margin-top: 37px;
    // position: absolute;
    font-size: 10px;
    color: red;
}

.expmonth {
    width: 48% !important;
    float: left;
}

.expyear {
    width: 48%;
    float: right;
}

select#rm_pagseguro_cc_expiration {
    width: 100%;
}

#rm_pagseguro_cc_cc_type_cvv_div .v-fix {
    width: 30%;
    float: left;
}

#rm_pagseguro_cc_cc_type_cvv_div .pagarme-cvv-tool-tip {
    position: relative;
    display: inline-block;
    width: 65%;
    float: right;
    padding-top: 5px;
    left: auto;
}

div#payment_form_rm_pagseguro_cc {
    overflow: visible !important;
}

div#rm_pagseguro_cc_cc_type_cvv_div {
    margin-top: 50px;
}

div#rm_pagseguro_cc_cc_installments_div {
    margin-top: 50px;
}

@media screen and (max-width: 480px) {
    .pagarme-cvv-image img {
        width: 300px;
    }
    .pagarme-cvv-image {
        display: none;
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        position: absolute;
        top: -167px;
        right: -42px;
        z-index: 100px;
    }
}

.product-options {
    select,
    input {
        @extend .form-control;
    }
}

.title-default {
    color: #000;
    font-family: $primary-desktop-font;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.loading-cache {
    background-image: url("../images/circle-spinner.svg")!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: contain!important;
    opacity: 1!important;
}