/**
* JN2
* @package: Jn2 Clean Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

// :root{
//   --header-bg-color:#fff;
// }

@include keyframes(openMessage) {
    0% {
        transform: translate(-130%, 0%);
        box-shadow: none;
        display: none;
    }
    1% {
        transform: translate(-130%, 0%);
        display: inline-block;
    }
    100% {
        transform: translate(0, 0);
        display: inline-block;
        box-shadow: 0 30px 20px 0px rgba(0, 0, 0, .3);
    }
}

@include keyframes(closeMessage) {
    0% {
        transform: translate(0, 0);
        display: inline-block;
        box-shadow: 0 30px 20px 0px rgba(0, 0, 0, .3);
    }
    99% {
        transform: translate(130%, 0%);
        display: inline-block;
    }
    100% {
        transform: translate(130%, 0%);
        box-shadow: none;
        display: none;
    }
}

body {
    overflow: visible !important;
}

body.mobile {
    background: #000;
}

.page {
    width: 100%;
    float: left;
}

body.mobile {
    .wrapper {
        background: #fff;
        //VERIFICAR O MOTIVO DO TRANSLATE, POIS SE MANTER POSITION FIXED PARA DE FUNCIONAR
        //transform: translateX(0%);
        opacity: 1;
        position: relative;
        width: 100%;
        float: left;
        @include transition(all 0.3s ease-in-out);
        &.open-menu {
            transform: translateX(80%);
            opacity: 0.5;
            @include transition(all 0.3s ease-in-out);
            a {
                pointer-events: none;
                cursor: default;
            }
        }
    }
}

.demo-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #cf0000;
    font-size: 13px;
    padding: 1em .5em .5em .5em;
    box-shadow: -3px -4px 35px -1px rgba(0, 0, 0, 0.45);
    border-radius: 0 20px 0 0;
    z-index: 200;
}

.modal-backdrop {
    z-index: -1;
    @media screen and (min-width: $screen-md) {
        z-index: 99999;
    }
}

.logo-assinatura {
    float: none !important;
    display: block;
    background-image: url("../../default/images/sprite-assinatura.png");
    width: 119px;
    height: 30px;
    background-position: 0 30px;
}

.-grid {
    display: grid;
}

.-flex {
    display: flex;
    align-items: center;
}