/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.messages {
    /*position: fixed;
    right: 0;
    top: 50vh;
    width: 310px;*/
    position: relative;
    max-width: 100%;
    z-index: 999999999;
    color: #fff;
    padding: 0px;
    margin: 0;
    text-align: center;
    clear: both;
    //@include animate(openMessage, 0.4s);
    &.close {
        //@include animate(closeMessage, 0.4s);
    }
    &>li {
        padding: 20px 35px 20px 20px;
        // width: 100%;
        // float: left;
        &>ul {
            //max-width: 260px;
            width: 100%;
            //float: left;
        }
        &.success-msg {
            background: #65b529;
        }
        &.notice-msg,
        &.error-msg {
            background: #ba1b1b;
        }
    }
    .btn-close {
        color: #fff;       
        cursor: pointer;
        border: 2px solid #fff;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        padding: 3px 0 0 0;
        position: absolute;
        top: 7px;
        right: 6px;
    }
}

.alert-stock {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    color: #ad0f0f;
    text-align: center;
    margin: .5em 0 1em 0;
}

.alert-stock a {
    color: #ad0f0f;
    text-decoration: underline;
}

.alert-price{
  @extend .button-default-simple;
  width: 100%;
text-transform: inherit;
font-weight: 500;
border-color: #6faf0f;
&.link-price-alert{
  a{
    padding: .5em;
    display: block;
    color: #6faf0f;
    &:hover{
      text-decoration: none;
    }
  }
}

}
