/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.reviews {
  width: 100%;
  float: left;
  padding: 20px 0;
  background: #fbfbfb;
  border-top: 1px solid #eee;


  h3.title{
    color: #000;
    font-family: $primary-desktop-font;
    font-size: 42px;
    padding: 15px 0;
    margin-bottom: 40px;
    width: 100%;
    float: left;
    text-align: center;

  }

  .content-reviews{
    border-top: 1px solid #ddd;
    padding: 20px 0;
    width: 100%;
    float: left;

    h4{
      font-family: $secund-desktop-font;
      font-size: 16px;
    }
  }

  .row-comment {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    width: 100%;
    float: left;

    &:last-child {
      border: none;
    }

    .table-review {
      display: inline-block;
      text-align: center;

      .rating-label{
        display: inline-block;
        margin-right: 5px;
      }

      .rating-box {
        display: inline-block;
        width: 91px;
        height: 14px;
        font-size: 0;
        line-height: 14px;
        background: url(../images/bkg_rating.png) 0 0 repeat-x;
        font-size: 0;
        overflow: hidden;

        .rating {
          float: left;
          height: 14px;
          background: url(../images/bkg_rating.png) 0 100% repeat-x;
        }
      }

      .seal-review {
        margin: 20px auto;
      }
    }
    .testimony{
      width: 100%;
      float: left;

      h4{
        font-family: $primary-desktop-font;
        font-size: 20px;
        font-weight: bold;
      }
      blockquote {
        font-size: 16px;
        color: #000;
        margin: 0em 7px 0 0px;
        padding: 0.5em 0px;
        position: relative;
        border: 0;
        font-family: $primary-desktop-font;

        &:before {
          display: block;
          content: "\201C";
          font-size: 40px;
          position: absolute;
          left: -20px;
          top: 0px;
          color: #7a7a7a;
        }
      }
      .author-review {
        display: block;
        font-size: 15px;
        font-weight: lighter;;
        color: #7a7a7a;
      }
    }

  }
  .obs-review {
    float: right;
    font-size: 12px;
    font-style: italic;
    color: #666;
    margin-top: 15px;
  }

}
.form-review{
  width: 100%;
  float: left;
  margin-bottom: 40px;

  h3{
    font-family: $secund-desktop-font;
    font-size: 16px;
  }
  h4{
    font-family: $secund-desktop-font;
    font-size: 12px;
    margin-bottom: 30px;
  }

  .label-rating{
    @extend label;
  }
  .star-cb-group {
    display: block;
    padding: 0px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;

    & > input {
      display: none !important;
      & + label {
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
        &:before {
          display: inline-block;
          content: $unchecked-star;
          color: $unchecked-color;
          font-size: 30px;
        }
      }
      &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
        content: $checked-star;
        color: #e52;
        text-shadow: 0 0 1px #333;
      }
    }

    & > .star-cb-clear + label {
      text-indent: -9999px;
      width: .5em;
      margin-left: -.5em;
    }
    & > .star-cb-clear + label:before {
      width: .5em;
    }
    &:hover > input + label:before {
      content: $unchecked-star;
      color: $unchecked-color;
      text-shadow: none;
    }
    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:hover:before {
      content: $checked-star;
      color: $checked-color;
      text-shadow: 0 0 1px #333;
    }
  }
  .btn-send-comment{
    @extend .button-default;
    float: right;
  }
}
