$image-path: "../images";

$cor-primaria: #9F7B5B;

$cor-secundaria: #67544C;

$cor-link: #A2652E;

$cor-borda-1: #EDEDED;

$cor-borda-2: #ccc;

$cor-bt-comprar: #E3540C;

$cor-bt-comprar-2: #658719; /* Cor usada no efeito hover */

$cor-msg-bemvindo: #8D6C4D;

$cor-border-footer: #DDD1B7;