$image-path: "../images/TEMAS/verde";

$cor-primaria: #25a499;

$cor-secundaria: #333;

$cor-link: #666;

$cor-borda-1: #EDEDED;

$cor-borda-2: #ccc;

$cor-bt-comprar: #000;

$cor-bt-comprar-2:#8E4444;

$cor-msg-bemvindo:$cor-secundaria;

$cor-border-footer: $cor-borda-2;





