/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
*/


#ibanners-home_top_left-wrapper{
    height:470px;
    width: 655px;
    float:left;
     
}

#ibanners-banner_top_left-wrapper li.slide{
    display:block;
    overflow:hidden;
    height:inherit;
    width:inherit;
}


/**
banner top right
*/
#ibanners-banner_top_right-wrapper{
    float:right;
    width:367px;    
}


#ibanners-banner_top_right-wrapper li.slide{
    display:block;
    overflow:hidden;
    height:470px;
    width:inherit;
    float:left;
}
#ibanners-banner_top_right-wrapper li.slide ul li.banner{
    float: left;
    height: 470px;
    margin-bottom: 32px;
    margin-right: 17px;
    overflow: hidden;
    
}

#ibanners-banner_top_right-wrapper li.slide img{
     width: 370px;     
}

#ibanners-banner_top_right-wrapper li.slide{
    clear:left;
}



/*Mini banners*/

#ibanners-banner_middle-wrapper{
    clear:both;
    padding: 10px 0 0 0;
    
    &:after{
        content:' ';
        clear:both;
        display:block;
    }
}


#ibanners-banner_middle ul li,
#ibanners-banner_bottom_logo ul li{
    float:left;
    margin: 0 0px 0 0;
}

#ibanners-banner_middle ul li .banner{
    margin: 0 32px 0 0;
    
    &:last-child{
        margin:0;
    }
}

    

/*BANNERS MARCAS*/

#ibanners-banner_bottom_logo-wrapper{
    background-color:#fff;
    
}

#ibanners-banner_bottom_logo{
    padding:15px;
    
}

/*no controls on these banners*/
#ibanners-banner_list-wrapper .bx-controls,
#ibanners-banner_top_right-wrapper .bx-controls,
#ibanners-banner_top_left-wrapper .bx-controls{
    display:none;
}
.bx-controls{
    position:relative;    
} 

.bx-controls .bx-pager{ 
    left: 21px;
    position: absolute;
    top: -42px;
    display:none;
}

.bx-controls .bx-pager .bx-pager-item{
    padding:0 3px;    
    float:left;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link{
    border:3px solid #c5c5c5;
    border-radius:50%;
    padding: 0 4px;
    background-color:#fafafa;
    color:#fafafa;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link.active{
    border:3px solid #4a4a4a;
}

.bx-controls-direction{
    /*display:none;*/
    margin:-20px 0 0 0;
}
.bx-controls-direction .bx-prev,
.bx-controls-direction .bx-next{
    float:left;
}
.bx-wrapper .bx-controls-direction .bx-prev{    
    background:url(../images/slider_arrow.png) no-repeat 0 0;
    width:22px;
    height:20px;
    display:block;
    text-indent: -9999px;
}

.bx-wrapper .bx-controls-direction .bx-next{
    background:url(../images/slider_arrow.png) no-repeat -20px 0;
    width:22px;
    height:20px;
    display:block;
    text-indent: -9999px;
    
}
.bx-wrapper .bx-controls-direction a{
    position: static;
}
