

.messages{
  .success-msg{
    background: $green-medium-3;
    color: $light-grey;
    padding: 10px;
    text-align: center;
    border: 0px;
  }
}

#shopping-cart-table{
  //border: 3px solid #ccc;
}

.btn-edit-2{
  @extend .btn-stroke;
  padding: .5em 1em!important;
}
.cart{
  .btn-continue{
    @extend .btn-stroke;
    margin: 0 0 1em 0;
  }
  .btn-update{
    @extend .btn-stroke;
    float: right;
  }
  .shipping{
    border-left: 0!important;
    border-right: 0!important;
  }
  .discount{
    border: 0!important;
    .discount-form {
      label{
        padding: 0;
      }
      button.button{
        @extend .btn-stroke;
        padding: .5em;
        font-size: 8pt;
      }
      .btn-coupom{
        font-size: 8pt !important;
      }
    }
  }
  .fieldset-cart{
    margin-top: 30px;
    border: 2px solid #ddd;
    .data-table{
      th,
      td{
        border-left: 0;
        border-right: 0;
        vertical-align: middle;
      }

    }
  }

  .new-cart-collaterals{
    .totals{
      background-color: #fff;
      margin-top: 1em;
      .price{
        color: #666;
      }
      table tr{
        border-color: #ccc;
      }
    }
  }
  .btn-proceed-checkout{
    @extend .btn-main;
    font-size: 14pt !important;
    width: 100%;
  }
  .checkout-types{
    .btn-proceed-checkout{
      @extend .btn-main;
      font-size: 14pt !important;
      width: 100%;
      padding: 10px 50px !important;
    }
  }
}

.btn-shipping{
  @extend .btn-stroke;
  padding: 7px 15px;
}

.new-coupon{
  .discount-form{
    input{
      width: 100% !important;
    }
    .btn-coupom{
      @extend .btn-stroke;
      margin-left: 5px;
      font-size: 10pt;
      padding: 8px 15px;
    }
  }
}


.cart .shipping .form-list li input {
  width: 100% !important;
}

.cart-table .product-cart-image .product-image img{
  max-width: 100%;
  width: 100%;
}

#shopping-cart-table{
  .btn-remove2{
    display: inline-block;
    height: 38px;
    width: 52px;
  }
}

.btn-qty{
  @extend .btn-stroke;
  float: none!important;
  margin-top: 1em!important;
  display: block!important;
  border: 0!important;
  padding: 0;
}

/*********
**QUOTE
********/

.select-country{
  display: none;
}

#accountDiv{
  margin-top: 0!important;
}

.qquoteadv-index-index{
  .cta-quote{
    padding: 1em;
    clear: both;
  }
  .client-data {
    .checkbox-container{
      .checkbox{
        display: block;
      }
    }
  }
  .table-quote{
    padding: 0 15px;
  }
  .btn-empty,
  .btn-update,
  .btn-continue,
  .btn-update{
    @extend .btn-stroke;
    padding: 5px;
    border-color: $green-default!important;
    color:$green-default!important;
    font-size: 12px;
    &:hover{
      background-color: $green-light-2!important;
      border-color: transparent!important;
    }
  }
}

.btn-update-shippment{
  border: 1px solid #000 !important;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px !important;
  display: inline-block;
  background: transparent;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 0px;
}
