
/*
 * Colors
 */

$blue: #22305E;
$light-grey: #ddd;
$dark-grey: #222;
$medium-grey:#888;
$btn-shadow: inset 0 -3px rgba(0,0,0,.3);

/**
*PALLET GREEN
*/
$green-default:#0D4511;
$green-dark:#0A330D;
$green-medium:#0F5214;
$green-medium-2:#1B9124;
$green-medium-3:#009259;
$green-light:#27D134;
$green-light-2:#47914C;


$color-default:$green-default;

/*RED PALLET*/
$red-dark:#67221B;
$red-medium:#E74C3C;
$red-medium-2:#E73321;

/*
*SEARCH
*/
$c-search:#FFF;

/*
*GRID
*/
$c-btn:$red-medium-2;

/*
*FOOTER
*/
$c-footer:$green-default;
