
.newsletter{
  border-top: 3px solid $green-light-2!important;
  padding: 20px 0!important;
  .icon-email{
    background-color: transparent!important;
    padding: 8px!important;
    i{
      color: $c-footer!important;
    }
  }

  ::-webkit-input-placeholder {
       color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #fff;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;
  }
  :-ms-input-placeholder {
     color: #fff;
  }
}
footer{
  padding: 10px 0!important;
  h2{
    font-weight: normal!important;
    font-size: 20px!important;
  }
  .footer-first-row{
    background-color: $green-medium-3;
    padding: 3em 0;
    margin-bottom: 1em;
    color: #fff;
    h2{
      color: #fff!important;
      font-weight: normal!important;
      font-size: 20px!important;
    }
    a{
      color: #fff!important;
    }
  }
  .footer-second-row{
    padding: 2em 0;
  }
}
.footer-last-row{
  border-top: 1px solid #ededed;
  margin: 10px 0!important;
  padding: 1em 0;
  text-align: center;
  .logo{
    img{
          width: 125px;
    }
  }
  .store-desc{
    padding: 1em 0;
    p{
      font-size: 12px;
      width: 70%;
      margin: 0 auto;
    }
  }
  address{
    text-align: center;
  }
}
