header{
  padding: 0!important;
  .logo{
    img{
      width: 190px;
    }
  }
  &.theme2{
    .bar{
      background-color: $green-light-2;
      color: #fff;
      padding: 0.5em 0;
      .content-bar{
        font-size: 18px;
        a{
          color: #fff;
        }
      }
    }
    &.scroll-to-fixed-fixed{
        border-bottom: 2px solid #ddd;
        @include box-shadow(rgba(0,0,0,0.2) 0px 4px 13px);
    }
  }
}



#search_mini_form{
  padding-top: 1.3em;
  .form-search{
    border-radius: 0!important;
      background-color: $c-search!important;
      border-color: $green-medium!important;
      margin-top: .1em!important;

    .input-text{
       color: $green-medium!important;
      background-color:$c-search!important;

    }
    button{
       background-color: #fff;
      i{
        color: $green-medium;
        vertical-align: 2px;
      }
      // span{
      //   background-color:#E74C3C !important;
      //   span{
      //     padding: 5px;
      //   }
      //   &:hover{
      //     background: #0470B8!important;
      //   }
      //}
    }
  }
}

.customer-links{
    margin-top: 2em;
    a{
      font-size: 16px;
    }
}

.content-quote-header,
.content-cart-header{
    width: 50%;
    float: left;
    padding: 2.3em .5em;
    margin: -.5em 0 0 0;
}

.content-cart-header{
  background-color: #046a20;
}

.content-cart{
  position: relative;
  .content-cart-quote{
    //margin-top: 2.5em;
    margin-right: -1.1em;
    .quote-link{
      // float: left;
      // display: block;
      // margin: 1.2em 0 0 2em;
      font-size: 20px;
    }
    .cart-header{
      //float: left;
      // position: absolute;
      // right: -15px;
      // top: -7px;
      // padding: 2.3em 1em ;
      //background-color: #046a20;
      // width: 56%;
      text-align: left;
      color: #fff;
      .label-cart{
        font-size: 20px;
      }
      .badge{
        padding: 7px 0 0 0em;
        background-color: transparent!important;
        //display: block;
      }
      .container{
        top: 100%;
        .cart-actions{
          button{
            color: $green-default;
            background-color: #fff;
            &:last-child{
              color: #fff;
              background-color: #47914C;
            }
          }
        }
      }
    }
  }
}
.ico-cart,
.ico-quote{
  margin: -5px 3px 0 0px;
}

.cart-mobile.pull-right .badge {
  position: absolute;
  margin-left: 12px;
  bottom: 27px;
  display: none;
}
