.product-view{
  .product-img-box .product-image{
    background-color: #fff;
  }
  .product-shop{
    padding: 1em;
  }
    .btn-quote{
      margin-top: 1em;
    }
}

.block-shipping-estimate{
  @media only screen  and (min-width: 992px) and (max-width: 1199px){
    width: 100%
  }
  .block-content{
    background-color: transparent;
  }
}

#shipping-estimate-results{
  @media only screen  and (min-width: 992px) and (max-width: 1199px){
    width: 100%;
    margin-top: -3em;

  }
}

.box-description .std img {
    width: 100%;
}
