
/*********
**QUOTE
********/

.select-country{
  display: none;
}

#accountDiv{
  margin-top: 0!important;
}

.qquoteadv-index-index{
  .cta-quote{
      padding: 1em;
      clear: both;
  }
  .client-data {
    .checkbox-container{
      .checkbox{
        display: block;
      }
    }
  }
  .table-quote{
    padding: 0 15px;
  }
  .btn-empty,
  .btn-update,
  .btn-continue,
  .btn-update{
    @extend .btn-stroke;
        padding: 5px;
        border-color: $green-default!important;
        color:$green-default!important;
        font-size: 12px;
        &:hover{
          background-color: $green-light-2!important;
          border-color: transparent!important;
        }
  }
}

.qquoteadv-index-success{
  .main {
    text-align: center;
  }
}

.skip-quote{
  display: block;
  text-align: left;
  color: #000;
}

.validate-zero-or-greater{
  text-align: center;
}

.btn-add-tier{
  @extend .btn-stroke;
  padding: 5px 15px;
  margin-top: 1em;
}
.input-qty{
    margin-top: -15px!important;
}

.btn-trash{
  &:before{
    margin-top: .5em;
  }
}
