

/**
* HEADER
*/

button.hamburger,
button.top-search{
  color: #000;
}



.ps-phone{
  header{
    padding: .5em 0 0 0!important;
    @include box-shadow(rgba(0,0,0,0.2) 0px 2px 4px);
    z-index: 9999;
    position: relative;

    &.theme1{
      .block-position-1{
        display: none;
      }
    }
    &.theme3,
    &.theme7{
      .bar{
        background-color: transparent;
        margin: 0;
        padding: 0;
        #search_mini_form{
          top: 61px !important;
          @media only screen and (min-width: 768px){
            top: 82px!important;
          }
        }
      }
    }
    &.theme5{
      position: relative;
      height: auto;
      .nav-mobile{
        //margin-top: -2em;
      }
    }
  }
  #search_mini_form{
    padding-top: 0;
    top: 47px !important;
    display: none;
    background-color: rgba(256,256,256,.8);
    @media only screen and (min-width: 768px){
      top: 82px!important;
    }
  }
}

.nav-mobile{
  padding: .5em;
  @media only screen and (min-width: 493px) and (max-width: 768px){
    padding-top: 1.5em;
  }
  .jicon{
    font-size: 21px;
  }
}

header {
  .logo img{
    @media only screen and (max-width: 768px){
      //width: 120px;
      margin-top: .7em;
    }
  }
  .hamburger,
  .top-search,
  .cart-mobile{
    border: 0px;
    background: transparent;
    display: inline;
    margin-left: 10px;
    padding: .5em .3em;
  }
}

header .customer-links{
  //     @media only screen and (min-width: 992px) and (max-width: 1199px) {
  //       margin-top: 1.2em;
  //     }
  a{
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 13px!important;
    }
  }
}


.content-cart-quote{
  .quote-link{
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 17px!important;
      // margin: 0.8em 0 0 1em!important;
    }
    img{
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        //display: none;
        width: 27px;
      }
    }
  }
  .cart-header{
    // @media only screen and (min-width: 992px) and (max-width: 1199px) {
    //   padding: 1.4em .5em !important;
    // }
    img{
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        //display: none;
        width: 20px;
      }
    }
    .label-cart{
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 17px!important;
      }
    }
  }
}

menu{
  @media only screen and (max-width: 767px) {
    display: none!important;
  }
}

.home-row-2 .block-wrapper img{
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    margin: 1.5em 0.5em 0 1em;
  }
}

.home-row-2 .block-wrapper .text-des{
  @media only screen and (min-width: 767px) and (max-width: 992px) {
    padding: 1.6em 0;
  }
}

.home-row-2 .block-wrapper .text-des h3{
  @media only screen and (max-width: 767px) {
    font-size: 18px;
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    font-size: 14px!important;
  }
}

/**
* BANNER
**/

.bx-wrapper{
  img{
    max-width:auto!important;
    width: 100%!important;
  }
}



/**
* FOOTER
**/

.newsletter{
  p{
    @media only screen and (max-width: 767px) {
      font-size: 14px!important;
      margin-top: 17px;
    }
  }
  .icon-email{
    @media only screen and (max-width: 767px) {
      margin-top: -8px;
    }
  }
}

.footer-first-row{
  @media only screen and (max-width: 767px) {
    padding: 1em 0!important;
  }
  div{
    @media only screen and (max-width: 991px) {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
  .block-1,
  .block-2,
  .block-3{
    @media only screen and  (max-width: 991px) {
      text-align: center;
    }
  }

}

.footer-second-row{
  @media only screen and (max-width: 767px) {
    text-align: center;
  }

  div{
    @media only screen and (max-width: 767px) {
      padding: 1em 0;
    }
  }
}

/**
* CATEGORY
*/

.col2-left-layout .col-main{
  @media only screen and (max-width: 767px) {
    clear: both;
    padding-top: 1em;
  }
}
.col-left.sidebar{
  @media only screen and (max-width: 767px) {
    padding-left:0;
  }
}

.block.first{
  @media only screen and (max-width: 767px) {
    border: 0;
  }
}

.block-layered-nav dd{
  @media only screen and (max-width: 767px) {
    padding-left: 1em;
  }
}

.products-grid{
  .item{
    @media only screen and (max-width: 767px) {
      padding: 5px;
    }
    .product-image{
      @media only screen and (max-width: 767px) {
        padding: 5px 0 15px 0;
      }
    }
    .product-name a{
      @media only screen and (max-width: 767px) {
        font-size: 11px;
      }
    }
    .actions{
      @media only screen and (max-width: 767px) {
        bottom: 20px;
        width: calc(100% - 33px);
        display: none;
      }
    }
    .btn-cart{
      @media only screen and (max-width: 767px) {
        padding: 10px 7px;
      }
    }
    .btn-quote{
      @media only screen and (max-width: 767px) {
        padding: 8px 15px;
        margin-left: .3em;
      }
    }

  }
}

/**
* PRICE
*/
.price-parcelado{
  @media only screen and (max-width: 767px) {
    font-size: 11px!important;
  }
}

.price-billet{
  @media only screen and (max-width: 767px) {
    font-size: 11px!important;
  }
}
.price-billet .price{
  @media only screen and (max-width: 767px) {
    font-size: 19px!important;
  }
}
.regular-price .price,
.special-price .price{
  @media only screen and (max-width: 767px) {
    font-size: 15px!important;
  }
}



/**
* PRODUCT DETAIL
*/

.catalog-product-view .product-view .product-shop .product-name h1{
  @media only screen and (max-width: 767px) {
    font-size: 17px!important;
    font-weight: bold;
  }
}
.catalog-product-view .product-view .box-description .std{
  @media only screen and (max-width: 767px) {
    height: 200px;
    overflow: auto;
  }
}
.box-rwd{
  padding: 0em .5em 0 0;
  display: none!important;
}
.box-rwd .box-2 .add-to-cart .btn-cart{
  min-height: 71px;
}

.box-rwd .box-1 .has_parcel .regular-price{
  display: block!important;
}

.reports-list {
  .products-grid {
    li{

    }
  }
}

.catalog-product-view .product-view .box-description{
  @media only screen and (max-width: 767px) {
    float: none!important;
  }
}

.product-view .product-img-box .product-image{
  @media only screen and (max-width: 767px) {
    width: 100%!important;
  }
}



/**
* CART
*/

.cart {
  .title-buttons{
    .checkout-types{
      @media only screen and (max-width: 767px){
        float: none!important;
        text-align: center!important;
      }
      li{
        @media only screen and (max-width: 767px){
          float: none!important;
        }
      }
    }
  }

  .product-cart-sku{
    font-size: 11px;
    .label{
      display: none;
    }
  }
  .cart-price{
    .price{
      font-size: 18px;
      font-weight: bold!important;
      //color: $green-default;
    }
  }

  .btn-update{
    @media only screen and (max-width: 767px){
      padding: 10px 5px!important;
      display: none;
    }
  }
  .btn-continue{
    @media only screen and (max-width: 767px){
      display: none;
    }
  }
  .new-shipping{
    @media only screen and (max-width: 768px){
      margin: 1em 0;
    }

  }
  .new-shipping,
  .new-coupon{
    p,
    .form-list,
    .input-box{
      @media only screen and (max-width: 768px){
        padding: 0;
      }
    }
    .buttons-set{
      @media only screen and (max-width: 768px){
        margin: 1em 0 0 0!important;
      }
      button{
        @media only screen and (max-width: 768px){
          margin-left: 0px!important;
        }
      }
    }
  }

}

.c2q li.section .tab-title{
  @media only screen and (max-width: 767px){
    padding: 5px 0px!important;
    font-size: 10px!important;
    //margin:0!important;
  }
}

.c2q .tab-title h2,
.c2q .allow .tab-title h2,
.c2q .active .tab-title h2{
  @media only screen and (max-width: 767px){
    margin: 5px .2em!important;
    font-size: 12px!important;
  }
}

ol.c2q{
  @media only screen and (max-width: 767px){
    padding: 12px 0 6px 0!important;
  }
}


@media only screen and (max-width: 767px){
  .cart-table {
    colgroup, thead {
      display: none;
    }

    tr {
      display: block;
      margin-bottom: 10px;
      padding-bottom: 10px;
      position: relative;
      width: 100%;
      clear: both;
      &:after {
        @include clearfix;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    tfoot tr {
      padding-bottom: 0;
    }

    td {
      border: none;
      display: block;

      &[data-rwd-label] {
        padding-left: 15px;
        margin-bottom: 6px;

        .price {
          font-weight: normal;
        }

        &:before {
          content: attr(data-rwd-label) ":";
          //font-size: $f-size-xs;
          //font-family: $f-stack-special;
          padding-right: 5px;
          text-transform: uppercase;
        }
      }

      &.product-cart-price {
        text-align: left;
      }
    }

    h2 {
      //font-size: $f-size-xs;
    }

    .cart-links {
      padding-top: 5px;
      padding-right: 5px;

      > li {
        white-space: normal;
        text-align: center;

        > a {
          padding: 2px 0px;
        }
      }
    }

    .cart-tax-info {
      font-style: italic;
      //padding-left: $trim-small;
      //font-size: $f-size-s;

      .price {
        //font-size: $f-size-s;
      }
    }

    .product-cart-image {
      width: percentage(1/4);
      float: left;
      padding-bottom: 0;

      a.cart-edit {
        display: block;
        //font-size: $f-size-xl;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .product-cart-info,
    td[data-rwd-label] {
      float: right;
      width: percentage(3/4);
    }

    .product-cart-actions,
    .product-cart-price {
      padding-bottom: 0;
      padding-top: 0;
      float: right;
    }

    .product-cart-remove,
    .product-cart-total,
    .product-cart-actions .cart-links {
      display: none;
    }

    .product-cart-image .cart-links,
    .product-cart-info .btn-remove {
      display: block;
    }

    // This element will be displayed via JS once the related input is focused
    .product-cart-actions .button {
      display: none;
    }

    .product-cart-info {

      .btn-remove {
        float: right;
        margin: -4px 0px 2px 7px;
        font-size: 0;
      }

      .product-cart-sku {
        margin-bottom: 5px;
      }
    }

    .product-cart-actions {
      text-align: left;

      .qty {
        margin-right: 7px;
        margin-bottom: 7px;
      }
    }

    .price,
    .product-cart-price:before {
      font-weight: 500;
      font-size: 12px;
      //font-family: $f-stack-sans;
    }

    .cart-footer-actions {
      text-align: center;
      width: 100%;

      #empty_cart_button {
        float: right;
      }

      .btn-continue {
        float: left;
      }

      .btn-update,
      span.or {
        display: none;
      }

    }
  }
}


/**
* CHEKCOUT
*/

.onestepcheckout-index-index{
  .main-container{
    @media only screen and (max-width: 767px){
      padding: 0px 0 20px;
    }
  }
}

.onestepcheckout-auth-form-block{
  #onestepcheckout-login-submit-btn {
    @media only screen and (max-width: 767px){
      margin: 0!important;
    }
  }
}

#onestepcheckout-login-form{
  .onestepcheckout-auth-form-block{
    #onestepcheckout-login-submit-btn {
      @media only screen and (min-width: 1200px) {
        margin-top: -27px!important;
      }
    }
  }
}

.cart-mobile.pull-right .badge {
  position: absolute;
  margin-left: 12px;
  bottom: 27px;
  display: none;
}
