@import 'https://fonts.googleapis.com/css?family=Assistant|Metrophobic|Pontano+Sans|Ropa+Sans|Secular+One';

@import "compass";
@import "compass/css3/transform";
@import "compass/css3/transition";


@import "colors";
@import 'animate';
@import 'elements';

@import 'banner';
@import 'cart';
//@import "lightbox-quote";
//@import 'category';
@import 'checkout';
@import 'customer';
//@import 'footer';
//@import 'header';
//@import 'menu';
//@import 'home';
@import 'product';
//@import 'quote';
@import 'rwd';

body{
  background-color: #fafafa;
}

.demo-notice {
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;
    background-color: #cc0000!important;
}
