<?php 
if (Mage::getStoreConfig('newsletterpopup/general/active', Mage::app()->getStore())):?>
	
	<div  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletterpopup" aria-hidden="true" id="newsletterpopup">
		<div class="modal-dialog modal-dialog">
			<div class="newsletterpopup-content">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="material-design-close47"></i></span><span class="sr-only">Close</span></button>
				<div class="newsletterpopup-indent">
					<div class="modal-body">
						<div class="newsletter-title"><?php echo $this->__('Newsletter') ?></div>
						<div class="newsletter-slog"><?php echo $this->__('Subscribe to the HandBags mailing list to receive updates on new arrivals, 
special offers and other discount information.') ?></div>
						<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail2">
							<div class="block-content">
								<div class="form-group">
									<input type="text" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
								</div>
								<div class="actions">
									<button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button" name="newsletter_submit"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<?php 
	//var_dump(Mage::getSingleton('core/session'));

	// Script init for home page only
	if(Mage::getSingleton('cms/page')->getIdentifier() == 'home' && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') : ?>
		<script type="text/javascript">
			//<![CDATA[
				var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail2');
			//]]>			
		</script>		

		<?php 
		// Popup init conditions
		if (Mage::getSingleton('core/session')->getSignedUpForNewsletter() == false) { ?>
			<script>
				if(jQuery('body').width()>768){
					jQuery(document).ready(function() {
						var newsPopup 		= jQuery('#newsletterpopup');
						var newsPopupClose 	= newsPopup.find('.close');
						var showNewsPopup = sessionStorage.getItem("showNewsPopup");

						if (showNewsPopup != '0') {
							newsPopup.modal();
						};					

						newsPopupClose.click(function(){
							sessionStorage.setItem("showNewsPopup", '0');
						});
					});
				};
			</script>
		<?php } ?>
	<?php endif; ?>
<?php endif; ?>