<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="page-title">
  <h2>Minha Conta</h2>
</div>

<div class="dashboard">

  <div class="frame-card">
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <?php echo $this->getChildHtml('hello') ?>
  </div>

  <div class="section-title">
    <h2><span class="title">Meus últimos pedidos</span></h2>
  </div>

  <?php echo $this->getChildHtml('top') ?>

  <div class="section-title">
    <h2><span class="title">Meus dados</span></h2>
  </div>
  <?php echo $this->getChildHtml('customer.account.dashboard.extra') ?>
  <?php echo $this->getChildHtml('info') ?>
  <?php echo $this->getChildHtml('info1') ?>
  <?php echo $this->getChildHtml('address') ?>
  <?php echo $this->getChildHtml('info2') ?>
</div>
