/**
* JN2
* @package: Jn2 Clean Theme
* @author:
*/
.cms-index-index {
  .home-2{
    padding: 1.7em 0;
  }
  .category-title h2 {
    font-size: 24px;
  }
  .category-title em {
    font-size: 23px;
  }
  .product-list-1{
    .category-title{
      h2{
        color: $color-segment;
      }
    }
  }
  .product-list-2{
    .category-title{
      h2{
        color: #29e210;
      }
    }
  }
  .product-list-3{
    .category-title{
      h2{
        color: #e220ff;
      }
    }
  }

}

.home-pitbar{
  background-color: #ff5c36;
}


.cms-index-index {
  .category-title {

    @media only screen and (min-width : $screen-sm) {
      font-family: $primary-mobile-font;
      text-transform: uppercase;
    }
    em{
      font-style: normal;
      font-weight: lighter;
      text-transform: uppercase;
    }
    .view-more{
      font-style: normal;
      font-size: 13px;
      font-weight: 500;
      margin-top: 25px;
    }
  }
}

menu {
  .mega-menu-jn2{

  }
}

footer{
  @media only screen and (min-width : $screen-sm) {
    border-top: 1px solid $footer-border-color;
  }
  h3{
    @media only screen and (min-width : $screen-sm) {
      font-style: normal;
      color: $color-segment;
    }
  }
  .footer-3 {
    .newsletter{
      .newsletter-form{
        border-radius: 25px;
        overflow: hidden;
        background-color: #EBEBEC;
        background-position: 14px center;
        padding: 3px;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        .btn{
          background-color: $color-segment;
          color: #fff;
          border-radius: 17px;
          font-style: normal;
          font-weight: lighter;
          padding: 6px 20px;
          margin: 3px 0 0 0;
          float: none;
          font-size: 16px;
        }
        .form-control{
          border: 0;
        }
      }
    }
  }
  .footer-4 {
    h3{
      font-size: 14px;
    }
  }
  .column{
    a{
      text-transform: capitalize;
      @media only screen and (min-width : $screen-sm) {
        font-family: $primary-desktop-font;
        font-weight: lighter;
      }
    }
  }
  .row-3{
    h3{
      @media only screen and (min-width : $screen-sm) {
        color: #000;
        font-weight: normal;
      }
    }
  }
}


.products-grid {
  .item {
    text-align: center;
    .product-name {
      @media only screen and (min-width : $screen-sm) {
        text-align: center;
      }
      a{
        @media only screen and (min-width : $screen-sm) {
          font-weight: 300;
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .price-box-link {
      .price-box{
        .price-billet{
          @media only screen and (min-width : $screen-sm) {
            text-align: center;
          }
        }
      }
    }
  }
}
