.backed-nicemodal{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.nicemodal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  z-index: 999999;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s;

  strong{
    float: left;
    width: 100%;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;

    &:first-child{
      margin-top: 0px;
    }

  }

  select{
    @extend .form-control;

  }

  * {
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-filter: blur(0);
  }

  &.open {
    visibility: visible;
    transition: all 0.5s;
  }
  &.fade {
    opacity: 0;
  }
  &.fade.open {
    visibility: visible;
    opacity: 1;
  }
  &.zoom-in {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.7);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.7);
    transform: translateX(-50%) translateY(-50%) scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  &.zoom-in.open {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
  &.fall {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(-60deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(-60deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotateX(-60deg);
    transform: translateX(-50%) translateY(-50%) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  &.fall.open {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
    transform: translateX(-50%) translateY(-50%) rotateX(0deg);
    opacity: 1;
  }
  .title {
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    float: left;
    padding: 20px;
  }
  .body {
    width: 100%;
    float: left;
    padding: 20px;
    overflow-y: auto;
  }
  .footer {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px;
    width: 100%;
    float: left;
    text-align: center;
  }
}
