<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* Home Page
*/
?>



<section class="section-home">
  <div class="content">
    <div class="block-home -g1">
      <?php echo $this->getBlock(1); ?>
    </div>
    <div class="block-home -g2">
      <?php echo $this->getBlock(2); ?>
    </div>
    <div class="block-home -g3">
      <?php echo $this->getBlock(3); ?>
    </div>
    <div class="block-home -g4">
      <?php echo $this->getBlock(4); ?>
    </div>
    <div class="block-home -g5">
      <?php echo $this->getBlock(5); ?>
    </div>
    <div class="block-home -g6">
      <?php echo $this->getBlock(6); ?>
    </div>
    <div class="block-home -g7">
      <?php echo $this->getBlock(7); ?>
    </div>
    <div class="block-home -g8">
      <?php echo $this->getBlock(8); ?>
    </div>
    <div class="block-home -g9">
      <?php echo $this->getBlock(9); ?>
    </div>
    <div class="block-home -g10">
      <?php echo $this->getBlock(10); ?>    
    </div>
    <div class="block-home -g11">
      <?php echo $this->getProductListHtml(1); ?>
    </div>
    <div class="block-home -g12">
      <?php echo $this->getProductListHtml(2); ?>
    </div>
    <div class="block-home -g13">
      <?php echo $this->getProductListHtml(3); ?>
    </div>
  </div>
</section>



