<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
$theSizes = Mage::helper('colorselectorplus')->getImageSizes();

$config_resizer = Mage::getStoreConfig('product_page/resizer');
$cfg_rszr = explode('x',$config_resizer['base']);
$baseImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 736,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 600);
$cfg_rszr = explode('x',$config_resizer['mobile']);
$mobileImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 480,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 480);
$cfg_rszr = explode('x',$config_resizer['thumb']);
$thumbImageSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 73.6,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 100);
$cfg_rszr = explode('x',$config_resizer['zoom']);
$zoomSize = array('x' => $cfg_rszr[0] ? $cfg_rszr[0] : 1540,'y' => $cfg_rszr[1] ? $cfg_rszr[1] : 1540);
$index = 0;
$galleryImages = $this->getGalleryImages();
?>

<script>
  var carouselPositions = {};

  <?php $i = 0; ?>
  <?php foreach ($galleryImages as $image): ?>
    <?php $label = str_replace(' ','_',$image->getLabel()); ?>
    <?php if ($this->isGalleryImageVisible($image) && $this->htmlEscape($label) && !in_array($label, $labelArray)): ?>
      carouselPositions.<?php echo $this->htmlEscape($label) ?> = <?php echo $i ?>;
      <?php $labelArray[] = $label; ?>
  <?php endif; ?>
    <?php $i++; ?>
  <?php endforeach ?>
</script>

<div class="productlabel-wrap">
    <?php echo Mage::helper('productlabel')->getLabels($_product, 'product')?>

    <div class="product-image owl-carousel ">
        <?php if ($galleryImages->getSize()): ?>
            <?php foreach ($galleryImages as $image): ?>
                
                <?php $image_helper = $this->helper('catalog/image')->init($_product, 'image', $image->getFile());
                    if (!Mage::getStoreConfig('product_page/general/resize_images')) {
                        $image_helper = $image_helper->resize($zoomSize['x'], $zoomSize['y']);
                    }
                ?>
            
                <?php if ($this->isGalleryImageVisible($image)): ?>
                <div class="easyzoom easyzoom--overlay">
                  <a data-zoom-image="<?php echo $image_helper ?>" href="<?php echo $image_helper ?>" data-lightbox="<?php echo $_product->getName() ?>">
                    <img
                    data-src="<?php echo $image_helper ?>"
                    src="<?php echo $image_helper ?>"
                    alt="<?php echo $this->htmlEscape($label) ?>" class="img-responsive"
                    />
                  </a>
                </div>
                <?php endif; ?>
            <?php endforeach ?>
            <?php if ($_product->getJn2ProductVideo()): ?>
                <div class="product-video">
                    <?php $product_page_helper  = Mage::helper('productpage');
                    $product_video    = $product_page_helper->getEmbed($_product->getJn2ProductVideo());
                    echo $product_video;
                    ?>
                </div>
            <?php endif ?>
        <?php else: ?>
            <p>
            <?php
              $_img = '<img src="' . $this->helper('catalog/image')->init($_product, 'image')->resize($theSizes['base']['width'], $theSizes['base']['height']) . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" />';
              echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
            </p>
      <?php endif; ?>
    </div>
</div>


<?php if (count($galleryImages) > 0): ?>
  <div class="more-views hidden-xs">
    <?php foreach ($galleryImages as $image): ?>
      <?php if ($this->isGalleryImageVisible($image)): ?>
        <img
        data-src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($thumbImageSize['x'], $thumbImageSize['y']) ?>"
        src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($thumbImageSize['x'],$thumbImageSize['y'] ) ?>"
        alt="<?php echo $this->htmlEscape(str_replace(' ','_',$image->getLabel())) ?>" class="img-responsive"
        />
      <?php endif; ?>
    <?php endforeach; ?>
      <?php if ($_product->getJn2ProductVideo()): ?>
        <img src="<?php echo $this->getSkinUrl('images/play-solid.svg');?>" class='play-video'/>
      <?php endif ?>
  </div>
<?php endif; ?>

<script>
(function($){
  $(function(){
    $('select.super-attribute-select').change(function(event){
      var element = $(event.target);
      var option = element.find('option:selected').text();
      option = option.replace(/ /g, "_");

      if (carouselPositions[option] !== undefined) {
        $(".media .product-image").trigger("to.owl.carousel", [carouselPositions[option], 500, true]);
        show_hide_image(option);
      }
    });

    $('.swatchContainer img.swatch').click(function(event){
      var element = $(event.target);
      var option = element.attr('title');

      if (carouselPositions[option] !== undefined) {
        $(".media .product-image").trigger("to.owl.carousel", [carouselPositions[option], 500, true]);
          show_hide_image(option);
      }
    });

    function show_hide_image (option) {
        $(".more-views .img-responsive[alt = '" + option + "']").show();
        $(".more-views .img-responsive[alt != '" + option + "']").hide();
    }
  });
})(jQuery);
</script>
