.footer-menu-mobile{
  position: relative;
  width: 100%;
  float: left;
  background: #fff;

  $class-slug: '.menu-item ' !default;
  $padding: 20 !default;

  @for $i from 2 through $menu-max-level{
    $class: '';
    $padding: $padding + 15;

    @for $j from 1 through $i{
      $class: $class + '.menu-item ';
    }

    #{unquote($class)}{
      a{
        padding-left: unquote($padding+'px');
      }
    }
  }


  .menu-item{
    width: 100%;
    float: left;
    border-top: 1px solid #eee;

    a{
      width: 100%;
      float: left;
      background: #fff;
      padding: 20px;
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      width: calc(100% - 50px);
      overflow-x: hidden;
    }
    .colapse{
      float: right;
      padding: 0 5px;
      width: 40px;
      height: 55px;
      line-height: 55px;
      text-align: center;

      &:active{
        color: #fff;
        background: #000;
      }
    }
    .sub-menu{
      display: none;
    }
  }
}

.footer-last-row{
  font-size: 10pt;
  h2{
    font-weight: lighter;
    font-size: 11pt;
  }
}

footer{
  padding: 0px !important;
  display: inline-block;
  background: $footer-background;
  color: $footer-links-color;
  margin-top: 40px;
  width: 100%;
  float: left;
  border-top: 1px solid $footer-border-color;
  border-bottom: 2px solid #FA4C25;

  @media only screen and (min-width : $screen-md) {
    margin-top: 20px;
  }

  &.simple{
    background: #fff;
    border-top: 1px solid #eee;
    padding: 40px 0 !important;
    margin-top: 60px;
  }

  h3{
    font-family: $primary-mobile-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;

    @media only screen and (min-width : $screen-md) {
      font-family: $primary-desktop-font;
      text-transform: capitalize;
      color: $footer-section-header;
      margin-right: 20px;
      margin-top: 12px;
      font-size: 14px;
    }
  }

  .row-1,
  .row-2,
  .row-3,
  .row-4,
  .row-5{
    width: 100%;
    float: left;
  }

  .row-1{
    .fale-conosco{
      text-align: center;
      color: $footer-links-color;
      font-family: $primary-mobile-font;
      float: left;
      width: 100%;

      .padding{
        padding: 30px 0;
      }

      h4{
        font-size: 17px;
      }
    }

  }

  .row-4{
    padding: 20px 0;
    display: inline-block;
    width: 100%;

    @media only screen and (min-width : $screen-md) {
      border-top: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
    }
  }
  .row-5{
    padding: 20px 0 0 0;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    float: left;
  }

  .column{
    padding: 30px 20px;
    text-align: center;
    border-top: 1px solid $footer-border-color;
    display: inline-block;
    width: 100%;

    @media only screen and (min-width : $screen-md) {
      display: flex;
      justify-content: center;
      border-top: 0;
    }

    ul{
      float: left;
      width: 100%;
      max-width: 100%;

      @media only screen and (min-width : $screen-md) {
        max-width: 180px;
      }

      li{
        float: left;
        width: 100%;
        text-transform: uppercase;
      }
    }

    a{
      color: $footer-links-color;
      padding: 10px 0;
      float: left;
      font-size: 14px;
      width: 100%;
      text-transform: capitalize;

      @media only screen and (min-width : $screen-md) {
        width: auto;
        font-size: 12px;
        text-align: left;
      }
    }
  }

  // Fale Conosco Mobile
  .footer-1{
    //TODO
  }

  // Logo
  .footer-2{
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
    }

    .logo{
      display: inline-block;
      margin: 0 auto;
      float: none;
      width: 100%;
      text-align: center;

      img{
        display: inline-block;
        margin: 0 auto;
      }
    }
  }

  // Newsletter
  .footer-3{
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
    }
    .newsletter{
      text-align: center;
      width: 100%;
      float: left;

      @media only screen and (min-width : $screen-md) {
        height: 60px;
      }

      h3{
        letter-spacing: 4px;
        font-size: 24px;
        margin-bottom: 5px;
      }

      p{
        font-family: $primary-mobile-font;
        margin-bottom: 10px;
      }

      .newsletter-form{
        @media only screen and (min-width : $screen-md) {
          border: 0;
          background: url("../images/icon_envelope.png") center left 20px no-repeat #EBEBEC;
          box-shadow: inset 0 5px 5px -2px rgba(0,0,0,0.2);
          float: left;
          width: 100%;
          padding: 5px 10px;
          border-radius: 50px;
          overflow: hidden;
        }

        .form-control{
          border: 1px solid #ddd;
          padding: 20px;
          box-shadow: inset 0 5px 5px -2px rgba(0,0,0,0.2);
          background: url("../images/icon_envelope.png") center right 10px no-repeat #EBEBEC;
          border-radius: 50px;

          @media only screen and (min-width : $screen-md) {
            border-radius: 0;
            box-shadow: none;
            border: 0;
            background: transparent;
            width: calc(100% - 110px);
            padding-left: 50px;
            float: left;
          }
        }

        .btn{
          @extend .button-default;
          margin-top: 20px;

          @media only screen and (min-width : $screen-md) {
            margin: 0px;
            float: right;
            font-family: $primary-desktop-font;
            text-transform: capitalize;;
            font-weight: normal;
            font-size: 16px;
            padding: 10px 35px;
            border-radius: 50px;
          }
        }
      }
    }
  }


  // Rede social desktop
  .footer-4{
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
    }
    h3{
      font-size: 18px;

      @media only screen and (min-width : $screen-md) and (max-width: $screen-lg) {
        display: none;
      }
    }
    *:nth-child(2){
      display: none;
    }
    a{
      padding: 10px;
    }
  }


  // Menu Você
  .footer-5{
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
    }
  }

  // Menu Dúvidas
  .footer-6{
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
    }
  }

  // Menu Sobre
  .footer-7{
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
    }
  }

  // Menu Fale Conosco Desktop
  .footer-8{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;

    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
      border-bottom: 1px solid $footer-border-color;
      text-align: left;
    }

    .column{
      @media only screen and (min-width : $screen-md) {
        display: inline-block;
        text-align: left;
      }
    }

    h3{
      width: 100%;
      float: left;
    }

    h4{
      font-family: $primary-desktop-font;
      font-size: 23px;
      font-weight: bold;
    }

    strong{
      font-style: bold;
    }
  }

  // Formas de pagamento
  .footer-9{
    text-align: center;
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
    }

    .column{
      @media only screen and (min-width : $screen-md) {
        display: inline-block;
      }
    }

    h3{
      @media only screen and (min-width : $screen-md) {
        width: 100%;
        text-align: left;
      }
    }

    img{
      display: table;
      margin: 0 auto;
      max-width: 90%;

      @media only screen and (min-width : $screen-md) {
        max-width: 100%;
        display: inline-block;
        float: left;
      }
    }

  }

  // Compra segura
  .footer-10{
    text-align: center;
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
    }

    p{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .column{
      @media only screen and (min-width : $screen-md) {
        display: inline-block;
        padding: 30px 40px;
      }
    }

    h3{
      @media only screen and (min-width : $screen-md) {
        width: 100%;
        text-align: left;
      }
    }

    img{
      display: table;
      margin: 0 auto;
      max-width: 22%;

      @media only screen and (min-width : $screen-md) {
        max-width: 100%;
        display: inline-block;
        float: left;
      }
    }
  }

  // Formas de Envio
  .footer-11{
    text-align: center;
    @media only screen and (min-width : $screen-md) {
      border-right: 1px solid $footer-border-color;
    }

    p{
      width: 100%;
      float: left;
      text-align: center;
      font-size: 12px;

      @media only screen and (min-width : $screen-md) {
        text-align: left;
      }
    }

    .column{
      @media only screen and (min-width : $screen-md) {
        display: inline-block;
        padding: 30px 40px;
      }
    }

    h3{
      @media only screen and (min-width : $screen-md) {
        width: 100%;
        text-align: left;
      }
    }

    img{
      display: table;
      margin: 0 auto;
      max-width: 90%;

      @media only screen and (min-width : $screen-md) {
        max-width: 100%;
        display: inline-block;
        float: left;
      }
    }
  }

  // Rede Social Mobile
  .footer-12{
    p{
      display: flex;
      justify-content: center;
      a{
        text-align: center;

        img{
          display: table;
          margin: 0 auto;
        }
      }
    }
  }

  .footer-13{
    text-align: center;
    .logo{
      float: none !important;
      display: table;
      margin: 0 auto;
      width: auto !important;
    }
  }

  // Nome da loja
  .footer-14{
    text-align: right;

    .store-name{
      float: right;

      strong{
        font-family: $primary-desktop-font;
        font-size: 13px;
        font-style: italic;
        text-align: right;
        float: right;
      }
    }
  }

  // Descrição da loja
  .footer-15{
    font-size: 12px;
    text-align: center;

    @media only screen and (min-width : $screen-md) {
      text-align: left;
    }
  }
  // facebook
  .footer-16{
    .fb_iframe_widget {
      display: inline-block;
      position: relative;
      width: 100%;
      float: left;
    }
    .fb_iframe_widget span {
      display: inline-block;
      position: relative;
      text-align: justify;
      width: 100% !important;
      float: left;
    }
    .fb_iframe_widget iframe {
      position: absolute;
      width: 100% !important;
    }
  }

  // Assinatura Versão Desktop
  .footer-17{
    text-align: right;

    .logo-assinatura{
      width: 119px;
      float: left;
      margin-top: -8px;
      background-position: 0 0;
    }
  }

  // Copyright
  .footer-18{
    text-align: center;
  }

  // Assinatura Versão Mobile
  .footer-19{
    text-align: center;

    .logo-assinatura{
      padding: 40px;
      float: none !important;
      width: auto !important;
      display: table;
      margin: 0 auto;
    }
  }

  // Back to top
  .footer-20{
    margin-top: -20px;
    text-align: center;

    @media only screen and (min-width : $screen-md) {
      text-align: right;
    }

    .back-top{
      width: 60px;
      height: 60px;
      background: #fff;
      border-left: 1px solid #eee;
      position: relative;
      top: 0px;
      right: -15px;
      display: table;
      margin: 0 auto;

      @media only screen and (min-width : $screen-md) {
        float: right;
        display: inline-block;
      }


      & > div{
        background: url(../images/slider_b_left.png) no-repeat center center;
        transform: rotate(90deg);
        width: 60px;
        height: 60px;
        display: inline-block;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
