<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div id="onestepcheckout-review-coupon">

  <?php if ($this->canShow()): ?>
    <div class="coupon-message-container" style="overflow:hidden;height:0px;"></div>
    <div class="coupon-code-form">
      <input class="form-control pull-left" id="coupon_code" name="coupon_code" value="<?php echo $this->getCouponCode(); ?>" placeholder="Cupom"/>
      <?php if ($this->getConfig()->isApplyCouponButton()) : ?>
        <button type="submit" class="btn btn-primary pull-left" id="onestepcheckout-coupon-code-apply-btn" onclick="return false;"<?php if ($this->getCouponCode()) : ?> style="display:none;"<?php endif; ?>><i class="jicon check"></i></button>
          <button type="submit" class="btn btn-primary pull-left" id="onestepcheckout-coupon-code-cancel-btn" onclick="return false;"<?php if (!$this->getCouponCode()) : ?> style="display:none;"<?php endif; ?>><i class="jicon close"></i></button>
          <?php endif; ?>
        </div>
        <script type="text/javascript">
        var OSCReviewCoupon = new OnestepcheckoutReviewCoupon({
          isCouponApplied: <?php echo ($this->getCouponCode()) ? 'true' : 'false'; ?>,
          isApplyCouponButton: <?php echo ($this->getConfig()->isApplyCouponButton()) ? 'true' : 'false'; ?>,
          applyCouponButtonSelector: '#onestepcheckout-coupon-code-apply-btn',
          cancelCouponButtonSelector: '#onestepcheckout-coupon-code-cancel-btn',
          msgContainerSelector: '.coupon-message-container',
          applyCouponUrl: '<?php echo $this->getApplyCouponAjaxUrl(); ?>',
          cancelCouponUrl: '<?php echo $this->getCancelCouponAjaxUrl(); ?>',
          couponCodeInput: 'coupon_code',
          successMessageBoxCssClass: 'onestepcheckout-success-msg',
          errorMessageBoxCssClass: 'onestepcheckout-error-msg',
          jsErrorMsg: <?php echo Zend_Json::encode($this->__("Oops something's wrong")); ?>,
          jsSuccessMsg: <?php echo Zend_Json::encode($this->__("Ok")); ?>
        });
        </script>
      <?php endif; ?>
    </div>
