<?php
/**
*
* @category   Inovarti
* @package    Inovarti_Onestepcheckout
* @author     Suporte <suporte@inovarti.com.br>
*/
?><?php if ($this->canShow()): ?>
  <div class="frame-card">
    <div class="title">Termos e condições <i ng-click="termsShow = !termsShow" class="jicon" ng-class="{'chev-up': termsShow, 'chev-down': !termsShow}"></i></div>
    <div class="body">
      <div id="onestepcheckout-review-terms">
        <ul>
          <?php foreach($this->getAgreements() as $_a): ?>
            <li>
              <div class="checkbox">
                <label for="onestepcheckout-review-terms-agreement-<?php echo $_a->getId();?>">
                  <input type="checkbox" name="inovarti_osc_agreement[<?php echo $_a->getId();?>]"
                  id="onestepcheckout-review-terms-agreement-<?php echo $_a->getId();?>"
                  class="osc-agreement-checkbox-<?php echo $_a->getId();?>" value="1" class="checkbox" />
                  <?php $label = '<a href="javascript:void(0)" style="color: black"  ng-if="termsShow == 1" ng-init="termsShow = 1" title="' . $this->htmlEscape($_a->getCheckboxText()) . '"><br />' .
                  $this->htmlEscape($_a->getCheckboxText()) . '</a>';
                  ?>
                  <?php echo $this->__('Eu li e aceito ') ?></label>
                </div>
                <?php echo $this->__('%s', $label) ?>
                <div class="onestepcheckout-review-terms-description-container" ng-if="termsShow == 1" ng-init="termsShow = 1">
                  <?php if ($_a->getIsHtml()):?>
                    <?php echo $_a->getContent() ?>
                  <?php else:?>
                    <?php echo nl2br($this->htmlEscape($_a->getContent())) ?>
                  <?php endif; ?>
                </div>
              </li>
              <script type="text/javascript">
              Validation.add(
                'osc-agreement-checkbox-<?php echo $_a->getId();?>',
                <?php echo Zend_Json::encode($this->__('You must accept the "%s"', $this->htmlEscape($_a->getCheckboxText()))); ?>,
                function(v) {
                  return !Validation.get('IsEmpty').test(v);
                }
              );
              </script>
            <?php endforeach;?>
          </ul>
          <div id="onestepcheckout-review-terms-popup" class="onestepcheckout-popup" style="display:none">
            <div id="onestepcheckout-review-terms-popup-content" class="onestepcheckout-popup-content"></div>
            <div id="onestepcheckout-review-terms-popup-accept" class="onestepcheckout-popup-accept">
              <button type="button"><?php echo $this->__('ACCEPT');?></button>
              <a href="javascript:void(0)"><?php echo $this->__('Close');?></a>
            </div>
          </div>
          <div id="onestepcheckout-review-terms-overlay" class="onestepcheckout-popup-overlay" style="display:none"></div>
        </div>
        <script type="text/javascript">
        var OSCReviewTerms = new OnestepcheckoutReviewTerms({
          containerSelector: "#onestepcheckout-review-terms",
          itemsSelector: "#onestepcheckout-review-terms ol li",
          linkFromItemSelector: "label a",
          checkboxFromItemSelector: "input[type=checkbox]",
          descriptionContainerFromItemSelector: ".onestepcheckout-review-terms-description-container",
          // popup: {
          //     overlaySelector: "#onestepcheckout-review-terms-overlay",
          //     containerSelector: "#onestepcheckout-review-terms-popup",
          //     contentContainerSelector: "#onestepcheckout-review-terms-popup-content",
          //     acceptContainerSelector: "#onestepcheckout-review-terms-popup-accept",
          //     buttons: {
          //         accept:{
          //             selector: "#onestepcheckout-review-terms-popup-accept button",
          //             enabled: true
          //         },
          //         close:{
          //             selector: "#onestepcheckout-review-terms-popup-accept a",
          //             enabled: true
          //         }
          //     }
          // }
        });
        </script>
      </div>
    </div>
  <?php endif;?>
