<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>
<?php $_product = $this->getProduct(); ?>
<?php if ($this->displayProductStockStatus()): ?>
  <?php if (!$_product->isAvailable()): ?>
    <p class="availability out-of-stock">
      <span class="value"><?php echo $this->helper('catalog')->__('Out of stock') ?></span>
    </p>
  <?php endif; ?>
<?php endif; ?>
