/**
* JN2
* @package: Jn2 Clean Theme
* @author:
*/

header{
  .skip-links{
    .block-skip-links{
      .icon{
        @media screen and (min-width: $screen-md){
          margin: 9px 0 0 0;
        }
      }
    }
  }
  .cart-header{
    .floating-cart{
      .cart-actions{
        button{
          &:first-child{
            color: $default-text-color;
            background-color: transparent;
            font-weight: 400;
              &:hover{
                color: $default-color-segment;
              }
          }
        }
      }
    }
  }
}


.cms-index-index{
    .home-pitbar{
      padding: 0;
      .container-fluid{
        padding: 0;
      }
    }
}

header .skip-links .block-skip-links .number-itens-cart{
  color: #fff;
}

menu .mega-menu-jn2 .content-mega-menu ul.nav>li>a{
  font-family: $secund-desktop-font;
}

footer{
  .row-1{
    background: -moz-linear-gradient(323deg, rgba(91,70,192,1) 0%, rgba(221,14,101,1) 32%, rgba(221,14,101,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(91,70,192,1)), color-stop(32%, rgba(221,14,101,1)), color-stop(100%, rgba(221,14,101,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(323deg, rgba(91,70,192,1) 0%, rgba(221,14,101,1) 32%, rgba(221,14,101,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(323deg, rgba(91,70,192,1) 0%, rgba(221,14,101,1) 32%, rgba(221,14,101,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(323deg, rgba(91,70,192,1) 0%, rgba(221,14,101,1) 32%, rgba(221,14,101,1) 100%); /* ie10+ */
    background: linear-gradient(127deg, rgba(91,70,192,1) 0%, rgba(221,14,101,1) 32%, rgba(221,14,101,1) 100%); /* w3c */

    .footer-2,
    .footer-3{
      border-right: 1px solid rgba(72, 72, 72, 0.05);
    }
  }
  .footer-3 .newsletter .newsletter-form .form-control{
    font-family: $primary-desktop-font;
  }
  .row-3{
    h3{
      font-style: normal;
    }
  }
  .footer-4 h3{
    color: #fff;
  }
}


.products-grid {
  .item {
    text-align: center;
    .product-name {
      @media only screen and (min-width : $screen-sm) {
        text-align: center;
      }
      a{
        @media only screen and (min-width : $screen-sm) {
          font-weight: 300;
          text-align: center;
          font-size: 15px;
        }
      }
    }
    .price-box-link {
      .price-box{
        .price-billet{
          @media only screen and (min-width : $screen-sm) {
            text-align: center;
          }
        }
      }
    }
  }
}
