/*****theme5******/

header.theme5{
  padding: 17px 0;
  height: 70px;
  box-shadow: 0 0 15px -3px rgba(0,0,0,1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999999999;

  .top-menu-links{
    li{
      cursor: pointer;
      &:first-child{
        margin-right: 10px;
      }

      i{
        // color: #ead8cb;
        font-size: 18pt;
        padding: 5px 10px;
        vertical-align: 3px;

        &.envelope{
          padding-top: 8px;
        }
      }
    }
  }

  .cart-header{
    i{
      margin-top: 2px;
    }
    .label-cart{
      display: none;
    }
    .badge{
      display: none;      
    }
  }

  #search_mini_form {
    background: rgba(255,255,255,0.2);
    float: right;
    border: 0px;

    .form-search {
      display: inline-block;
      width: 100%;
      // border: 0px !important;
       //background: rgba(9,29,56,0.08);


      input[type="text"] {
        width: 200px;
        height: 35px;
        line-height: 25px;
        font-size: 10pt;
        background: transparent;
        color: #fff;
        border: 0px !important;
      }

      button {
        width: 49px;
        height: 35px;
        float: right;
        border: 0px !important;
        background: transparent;

        i{
          //color: #ead8cb;
        }
      }
    }
  }

  .top-menu-links {
    float: right;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;

       &:hover{
        .links{
          display: block;
        }
      }
    }

    .links {
      background: #fff;
      display: none;
      position: absolute;
      -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.5);
      width: 150px;
      margin-top: 10px;
      margin-left: -52px;
      float: right;
      padding: 10px 0;

      &:before {
        content: ' ';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -10px;
        left: 50%;
        margin-left: -10px;
        transform: rotate(45deg);
        background: #fff;
      }
      li {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        a {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 10px;
          font-size: 10pt;
          text-align: center;

          &:hover {
            color: #fff;
            background: #171312;
          }
        }
      }
    }
  }

  .mega-menu-jn2, .sf-menu{
    background: transparent !important;
    display: inline-block;
    width: 100%;
    border: 0;

    .content-mega-menu {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 0;

      & > li {
        display: inline-block;
        position: relative !important;
        margin: 0;
        padding: 0;

        &:hover .content{
          float: left;
        }

        & > a {
          display: inline-block;
          margin: 0;
          padding: 5px 10px;
          font-size: 10pt;
          color: #fff;
          position: relative;

          &:after{
            position: absolute;
            top: 35px;
            background: #EAD8CB;
            height: 1px;
            width: 30px;
          }

          &:hover {
            opacity: 0.8;

            &:after{
              content: ' ';
            }
          }
        }
      }

      & > .level0 > a.active:after{
        content: ' ';
        height: 2px;
        background: #fff;
        width: calc(100% - 40px);
        position: absolute;
        float: left;
        left: 0;
        bottom: 4px;
        margin: 0px 20px;
      }

      .content{
        opacity: 0;
        position: absolute;
        top: 40px !important;
        background: #fff;
        float: left;
        border: 0 !important;
        padding: 0 !important;
        width: auto;
        -webkit-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5) !important;
        box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5) !important;
        z-index: 9999999999999999999;
        min-width: 150px;
        background: rgba(72,72,72,0.9);

        .col-1{
          float: left;
          width: 100%;
          display: inline-block;
          position: relative;
        }

        .col-2{
          float: left;
          display: inline-block;
          position: relative;

          img{
            float: left;
            position: relative;
            z-index: 99999999999999999999999;
          }
        }


        .sub-level-1{
          background: rgba(72,72,72,0.9);
          max-width: 150px;

          & > li{
            width: 100%;
            float: left;

            a{
              display: inline-block;
              width: 100%;
              float: left;
              font-size: 10pt;
              font-weight: normal;
              text-transform: uppercase;
              color: #fff;
              padding: 8px 0px;
              -webkit-transition: all 0s ease-in-out;
              -moz-transition: all 0s ease-in-out;
              -ms-transition: all 0s ease-in-out;
              -o-transition: all 0s ease-in-out;
              transition: all 0s ease-in-out;
              position: relative;
              text-align: center;
              z-index: 999999999999999;

              &:hover,
              &.active{
                color: #000;
                background: #fff;
                transform: scale(1);
                -webkit-transition: all 0s ease-in-out;
                -moz-transition: all 0s ease-in-out;
                -ms-transition: all 0s ease-in-out;
                -o-transition: all 0s ease-in-out;
                transition: all 0s ease-in-out;
              }
            }
          }
        }

      }
    }
  }
    
    .layered{
       position: fixed!important;
        top: 70px;
        left: 0;
    }

}
