/*****theme2******/
header{
  &.theme2{
    padding-top: 0;
    .bar{
      margin-bottom: 0.5em;
    }
    .cart-header{
      font-size: 14px;
      .material-icons {
        vertical-align: -4px;
        font-size: 19px;
      }
    }
    .form-search{
      margin-top: 2em;
    }
  }
}

header .customer-links a{
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 11px;
    }
}