/*****theme2******/
header{
  &.theme6{
    padding-top: 0;
    .bar{
      margin-bottom: 0.5em;
    }
    .cart-header{
        font-size: 14px;
        margin-top: 2em;
      .material-icons {
        vertical-align: -4px;
        font-size: 19px;
      }
    }
    .form-search{
       margin-top: 1.2em; 
    }  
      
  }
}
