@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$color-1:#666;
$color-3:#333;

.offset-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}


header {
  padding: 10px 0;
  .bar{
    background-color: #eee;
    padding-top: 0.5em;
  }

  .cart-header {
    .material-icons{
      vertical-align: -6px;
    }
    .badge{
      width: 25px;
      height: 25px;
      line-height: 13px;
      padding: 7px 0 0 0;
      font-size: 15px;
    }
  }
}

.current-vision{
  display: none;
}

.select-lang{
  margin: -2px 0 0 0px;
  span{
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 40px;
    height: 25px;
    float: left;
      @media screen and (min-width: 992px) and (max-width: 1199px) {
          width: 22px;
        height: 16px;
         background-size: cover;
          margin-right: 2px;
      }
    &.pt_BR{
      background-image: url(../images/flag-brazil-2.png);
    }
    &.en_US{
      background-image: url(../images/flag-usa.png);
    }
    a{
      display: inline-block;
      text-indent: 9999px;
      // &[title="pt_BR"]{
      //
      // }
    }
  }
}
