/*****theme4******/
header{
    &.theme4{
      padding-top: 0;
      .bar{
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        .content-block{
          padding-top: 0.5em;
        }
        .content-nav{
          padding-top: 0.5em;
        }
      }

      .box-user{
        padding-top: 0.5em;
      }
      .icon-cart{
          &:before{
            font-family: material-design;
            content: "\e14e";
            font-size: 27px;
          }
      }
      .link-account,
      .link-cart{
        &:hover{
        cursor: pointer;
        }
      }
      .content-nav{
        z-index: 20;
      }
      .content-account{
        display: none;
        background: #fff;
        display: none;
        position: absolute;
        -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.5);
        width: 150px;
        margin-top: 10px;
        margin-left: 25px;
        float: right;
        padding: 20px 0 10px;
        a{
          display: block;
          text-align: center;
          margin-bottom: 1em;
        }
        &:before {
            content: ' ';
            position: absolute;
            width: 20px;
            height: 20px;
            top: -10px;
            left: 50%;
            margin-left: -10px;
            transform: rotate(45deg);
            background: #fff;
        }
      }

      .cart-header {
        display: block;
        .material-icons{
          display: none;
        }
        .label-cart{
          display: none;
        }
        .badge{
          display: none;
        }
          .container{
            display: none;
          }
      }

      .block-login-header{
        input{
            @media screen and (min-width:992px) and (max-width:1199px){
              width: 150px;
            }
        }
        button.button span span{
          padding: 4px 13px;
        }
      }

      .block-search{
        padding-top: 1.7em;
      }

    }

}
