/*****theme3******/
header{
  &.theme3{
    padding-top: 0;
    .bar{
      margin-bottom: 0.5em;
    }
    .menu-hamburguer{
      margin: -4em 0 0 0;
    }
    .cart-header{
      font-size: 14px;
      .material-icons {
        vertical-align: -4px;
        font-size: 19px;
      }
    }
    #search_mini_form{
      .form-search{
        height: 30px;
        input[type="text"]{
              height: 30px;
        }
        button{
          height: 32px;
          line-height: 38px;
        }
      }
    }

    .content-block,
    .content-nav{
      padding-top: 0.4em;
    }


  }
}
