
<?php $_helper = Mage::helper('catalog/category') ?>
<?php $parent = $this->getParentCategory() ?>

<div class="inner-content-level2 " <?php if ($parent->getImgDisplay()): ?>style="min-width: 975px;"<?php endif ?>>

  <?php $itens = intval($this->getItemsPerLine()) ?>
  <?php $i = 0 ?>

  <?php foreach ($this->getSubCategories() as $category): ?>

      <?php if ($i == 0): ?>
        <ul class="ul-level3 col-md-4">
      <?php endif ?>
      <li>
        <a href="<?php echo $_helper->getCategoryUrl($category) ?>">
        <?php echo $category->getName() ?>
          </a>
      </li>

      <?php if ($i == $itens -1 || $category == end($this->getSubCategories())): ?>
        </ul>
      <?php $i = 0  ?>

      <?php else: ?>
        <?php $i++ ?>
      <?php endif ?>

  <?php endforeach ?>

  <?php if ($parent->getImgDisplay()): ?>
    <div class="img-display-level3 col-md-3">
            <img src='<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>' alt='<?php echo $parent->getName() ?>' />
    </div>
  <?php endif ?>


</div>
