
<?php $_helper = Mage::helper('catalog/category') ?>
<?php $parent = $this->getParentCategory() ?>

<div class="inner-content-level2-2">

  <?php $itens = intval($this->getItemsPerLine()) ?>
  <?php $i = 0 ?>
<div class=" <?php if ($parent->getImgDisplay()): ?> col-md-8 <?php else: ?> col-md-12<?php endif ?> ">
  <?php foreach ($this->getSubCategories() as $category): ?>

      <?php if ($i == 0): ?>
        <ul class="ul-level3 <?php if ($parent->getImgDisplay()): ?> col-md-6 <?php else: ?> col-md-4<?php endif ?>">
      <?php endif ?>
      <li>
        <a href="<?php echo $_helper->getCategoryUrl($category) ?>">
        <?php echo $category->getName() ?>
          </a>
      </li>

      <?php if ($i == $itens -1 || $category == end($this->getSubCategories())): ?>
        </ul>
      <?php $i = 0  ?>

      <?php else: ?>
        <?php $i++ ?>
      <?php endif ?>

  <?php endforeach ?>
</div>

  <?php if ($parent->getImgDisplay()): ?>
    <div class="col-md-4">
      <div class="img-display-level3 ">
              <img src='<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>' alt='<?php echo $parent->getName() ?>' />
      </div>
    </div>
  <?php endif ?>


</div>
