<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<?php echo $this->getChildHtml('banner_home_topo')?>
<?php echo $this->getChildHtml('banner_home_pitbar')?>
<div class="banner-col2">
  <div class="col-xs-6">
    <div class="row">
      <?php echo $this->getChildHtml('banner_home_left')?>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <?php echo $this->getChildHtml('banner_home_right_1')?>
      <?php echo $this->getChildHtml('banner_home_right_2')?>
    </div>
  </div>
</div>
<?php if($this->getChildHtml('pitbar-home')):?>
  <div class="row pitbar">
    <div class="container">
      <?php echo $this->getChildHtml('pitbar-home')?>
    </div>
  </div>
<?php endif;?>

<div class="container home-products">
  <?php echo $this->getChildHtml('product_list.home')?>
</div>
