<?php
/**
* JN2
* @author      Igor Gottschalg
* @category    design
* @package     Loja Agile
*/
?>
<?php echo $this->getChildHtml('newsletter') ?>

<footer>
	<div class="container">
		<div class="col-md-3 hidden-xs hidden-sm">
			<div class="col-md-8">
				<div class="row">
				<img src="<?php echo  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'/logo/'.Mage::getStoreConfig('custom_theme/general/logo') ?>" alt="<?php echo Mage::getStoreConfig('design/header/logo_alt', 0) ?>" class="img-responsive footer-logo" />
				</div>
			</div>
			<div class="clearfix"></div>
			<?php echo $this->getChildHtml('cms_informacoes') ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6 ol-md-offset-1">
			<?php echo $this->getChildHtml('cms_institucional') ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6">
			<?php echo $this->getChildHtml('cms_minha_conta') ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6">
			<?php echo $this->getChildHtml('cms_porque_comprar') ?>
		</div>
		<div class="col-md-2 col-xs-6 col-sm-6 text-right">
			<?php echo $this->getChildHtml('cms_redesocial') ?>
		</div>
	</div>
</footer>
<div class="row footer-last-row">
	<div class="container">
		<div class="col-md-2">
			<?php echo $this->getChildHtml('cms_envio') ?>
		</div>
		<div class="col-md-4">
			<?php echo $this->getChildHtml('cms_pagamento') ?>
		</div>
		<div class="col-md-3">
			<?php echo $this->getChildHtml('cms_atendimento_telefone') ?>
		</div>
		<div class="col-md-3">
			<?php echo $this->getChildHtml('cms_atendimento_email') ?>
		</div>
	</div>
</div>
<?php echo $this->getChildHtml('store_switcher') ?>
