<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="row">
  <div class="page-title">
    <h1><?php echo $this->__('Criando uma nova conta') ?></h1>
  </div>
</div>
<div class="row">
  <div class="account-create card" ng-controller="registerController">
    <?php echo $this->getChildHtml('form_fields_before') ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
      <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
      <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />

      <div class="form-group">
        <label for="firstname"><?php echo $this->__('Nome completo') ?></label>
        <input type="text" placeholder="Informe seu nome completo" class="form-control required-entry" id="firstname" name="firstname" value="" title="Informe seu nome completo" maxlength="255" ng-model="firstname" ng-blur="updateName()"/>

        <input type="hidden" name="lastname" value="{{lastname}}" />
      </div>

      <?php $_tipopessoa = $this->getLayout()->createBlock('onestepcheckout/widget_tipopessoa'); ?>
      <?php if ($_tipopessoa->isEnabled()): ?>
        <div class="form-group">
          <button type="button" class="btn btn-pessoal" ng-class="{active: !pessoa}" ng-click="pessoa=0"><span class="jicon user"></span> Pessoa Física</button>
          <button type="button" class="btn btn-pessoal" ng-class="{active: pessoa}" ng-click="pessoa=1"><span class="jicon interprise"></span> Pessoa Júridica</button>
        </div>
      <?php endif ?>

      <div class="form-group" ng-if="pessoa==1">
        <label for="company"><?php echo $this->__('Company') ?></label>
        <input type="text" placeholder="Informe a razão social da empresa" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" id="company" name="razaosocial" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->getStoreLabel('company')) ?>"/>
      </div>

      <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
      <?php if ($_taxvat->isEnabled()): ?>
        <div class="form-group">
          <?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?>
        </div>
      <?php endif ?>

      <div class="form-group">
        <label for="ie" ng-if="!pessoa"><?php echo $this->__('RG'); ?></label>
        <label for="ie" ng-if="pessoa"><?php echo $this->__('IE (Inscrição Estadual)') ?></label>
        <input type="text" placeholder="" class="form-control" id="ie" name="ie" value="<?php echo $this->getFormData()->getIe(); ?>"/>
      </div>

      <div class="form-group" ng-if="pessoa">
        <label for="ie" ng-if="!pessoa"><?php echo $this->__('IM (Inscrição Municipal)') ?></label>
        <input type="text" placeholder="" class="form-control" id="ie" name="ie" value="<?php echo $this->getFormData()->getIe(); ?>"/>
        <input type="text" id="im" name="im" title="<?php echo $this->__('IM (Inscrição Municipal)') ?>" class="input-text" value="<?php echo $this->getFormData()->getIm(); ?>" />
      </div>

      <?php $_dob = $this->getLayout()->createBlock('onestepcheckout/widget_dob') ?>
      <?php if ($_dob->isEnabled()): ?>
        <?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?>
      <?php endif ?>

      <?php $_gender = $this->getLayout()->createBlock('onestepcheckout/widget_gender') ?>
      <?php if ($_gender->isEnabled()): ?>
        <?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?>
      <?php endif ?>

      <div class="form-group">
        <label for="telephone" ><?php echo $this->__('Celular / Fixo') ?></label>
        <input type="phone" name="telephone" title="<?php echo $this->__('Telephone') ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" value="<?php echo $this->getFormData()->getTelephone(); ?>" autocomplete="off"/>
      </div>

      <div class="form-group">
        <label for="email_address" ><?php echo $this->__('Email Address') ?></label>
        <input type="text" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="form-control validate-email validate-email-exist" />
      </div>

      <div class="form-group">
        <label for="password" ><?php echo $this->__('Password') ?></label>
        <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="form-control validate-password" />
      </div>

      <div class="form-group">
        <label for="confirmation" ><?php echo $this->__('Confirm Password') ?></label>
        <input type="password" name="confirmation" id="confirmation" title="<?php echo $this->__('Password') ?>" class="form-control validate-cpassword" />
      </div>

      <?php echo $this->getChildHtml('form.additional.info'); ?>

      <hr>

      <?php if ($this->getShowAddressFields()): ?>

        <div class="clearfix"></div>
        <input type="hidden" name="create_address" value="1" />

        <div class="form-group">
          <label for="postcode"><?php echo $this->__('Zip/Postal Code') ?></label>

          <div class="input-group">
            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="postcode" id="postcode" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-cep" onclick="buscaCep('');" ng-click="zipcode=1"><span class="jicon search"></span></button>
            </span>
          </div>
        </div>

        <div class="wait-zipcode">

          <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
          <div class="form-group">
            <label for="street_1" ><?php echo $this->__('Street Address') ?></label>
            <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="form-control <?php echo $_streetValidationClass ?>" />
          </div>

          <div class="row">
            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
            <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
              <div class="form-group col-xs-6">
                <label for="street_1"></label><?php echo $this->__("Street Address {$_i}") ?></label>
                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?>" class="form-control <?php echo $_streetValidationClass ?>" />
              </div>
            <?php endfor; ?>

            <div class="form-group col-xs-6">
              <label for="city"><?php echo $this->__('City') ?></label>
              <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-6">
              <label for="country"><?php echo $this->__('Country') ?></label>
              <?php echo $this->getCountryHtmlSelect() ?>
            </div>

            <div class="form-group col-xs-6">
              <label for="region_id"><?php echo $this->__('State/Province') ?></label>
              <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="form-control validate-select" style="display:none;">
                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
              </select>
              <script type="text/javascript">
              //<![CDATA[
              $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
              //]]>
            </script>
            <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
          </div>
        </div>
        <hr>
        <div class="clear-fix"></div>
        <button type="submit" class="bnt btn-success btn-block btn-lg btn-submit">
          <span class="col-xs-3">
            <span class="jicon user-check"></span>
          </span>
          <span class="col-xs-9 text-left">
            Cadastrar e finalizar a compra
          </span>
        </button>
      </div>
      <input type="hidden" name="default_billing" value="1" />
      <input type="hidden" name="default_shipping" value="1" />
    <?php else: ?>
      <hr>
      <div class="clear-fix"></div>
      <button type="submit" class="bnt btn-success btn-block btn-lg btn-submit">
        <span class="col-xs-3">
          <span class="jicon user-check"></span>
        </span>
        <span class="col-xs-9 text-left">
          Cadastrar e finalizar a compra
        </span>
      </button>
    <?php endif; ?>


    <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
      <input name="context" type="hidden" value="checkout" />
    <?php endif; ?>
  </form>
</div>
</div>


<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);
dataForm.submit = function (button, url) {
  if (this.validator.validate()) {
    if (button && button != 'undefined') {
      button.disabled = true;
    }
  }
}.bind(dataForm);
<?php if ($this->getShowAddressFields()): ?>
  var regionUpdater = new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');

  var $country = jQuery('#country');
  $country.addClass("form-control");
  $country.on('change', function () {
    regionUpdater.update();
  });
  $country.val('BR');
  $region = jQuery('#region_id');
  $region.trigger('change');
  $region.find('option[title="Minas Gerais"]').attr('selected', 'selected');
<?php endif; ?>

//]]>

</script>
