<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php $_item = $this->getItem() ?>
<div class="item">
  <div class="qty">
    <?php if ($this->getItem()->getQtyOrdered() > 0): ?>
      <?php echo $this->getItem()->getQtyOrdered()*1 ?>
    <?php endif; ?>
    <?php if ($this->getItem()->getQtyShipped() > 0): ?>
      <?php echo $this->getItem()->getQtyShipped()*1 ?>
    <?php endif; ?>
    <?php if ($this->getItem()->getQtyCanceled() > 0): ?>
      <?php echo $this->getItem()->getQtyCanceled()*1 ?>
    <?php endif; ?>
    <?php if ($this->getItem()->getQtyRefunded() > 0): ?>
      <?php echo $this->getItem()->getQtyRefunded()*1 ?>
    <?php endif; ?>
  </div>
  <div class="image">
    <img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(100); ?>" class="img-responsive" />
  </div>
  <div class="info">
    <h2 class="product-name"><?php echo $this->escapeHtml($_item->getName()) ?></h2>
    <?php if($_options = $this->getItemOptions()): ?>
      <div class="options">
        <?php foreach ($_options as $_option) : ?>
          <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
          <?php echo $_formatedOptionValue['value'] ?>
          <?php if (isset($_formatedOptionValue['full_view'])): ?>
            <?php echo $_formatedOptionValue['full_view'] ?>
          <?php endif; ?>
        <?php endforeach; ?>
        <?php if ($messages = $this->getMessages()): ?>
          <?php foreach ($messages as $message): ?>
            <p class="item-msg <?php echo $message['type'] ?>">* <?php echo $this->escapeHtml($message['text']) ?></p>
          <?php endforeach; ?>
        <?php endif; ?>
        <?php $addInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock): ?>
          <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif;?>
      </div>
    <?php endif;?>
    <div class="price">
      <?php
      $price = explode(",", Mage::getModel('directory/currency')->format($this->helper('checkout')->getSubtotalInclTax($_item),array('display'=>Zend_Currency::NO_SYMBOL),false));
      $symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
      ?>
      <small><?php echo $symbol ?></small>
      <span><?php echo $price[0] ?></span>
      <small><?php echo ','.$price[1] ?></small>
    </div>
  </div>
</div>
