<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php $_helper = Mage::helper('catalog/category') ?>
<?php $parent = $this->getParentCategory() ?>

<script type="text/javascript">
function simpleMenu($id){
  if(!jQuery(".mega-category-"+$id).hasClass("mega-menu")){
    jQuery(".submenu-category-"+$id).addClass("simple-menu");
    jQuery(".menu-category-"+$id).addClass("simple-menu");
  }
}
function megaMenu($id){
  jQuery(".submenu-category-"+$id).addClass("mega-menu");
  jQuery(".menu-category-"+$id).addClass("mega-menu");
}
</script>


<div class="submenu-container submenu-category-<?php echo $parent->getId(); ?>">
  <?php $itens = intval($this->getItemsPerLine()) ?>
  <?php $i = 0 ?>
  <div class="container">
    <div class="<?php if ($parent->getImgDisplay()): ?>col-sm-8 <?php else: ?> col-sm-12<?php endif ?> ">
      <?php foreach ($this->getSubCategories() as $category): ?>
        <?php
        if ($parent->getImgDisplay()){
          $column_size = 4;
        } else{
          $column_size = 3;
        }
        ?>
        <?php $_subcategories = $category->getChildrenCategories(); ?>
        <?php if (count($_subcategories) > 0): ?>
          <div class="col-sm-<?php echo $column_size ?> level2 menu-category-<?php echo $category->getId() ?>">
            <a href="<?php echo $_helper->getCategoryUrl($category) ?>" class="subcategory-title"><?php echo $category->getName() ?></a>
            <?php echo $this->subCategory($category,2) ?>
            <script type="text/javascript">megaMenu(<?php echo $parent->getId() ?>);</script>
          </div>
        <?php else: ?>
          <a href="<?php echo $_helper->getCategoryUrl($category) ?>" class="subcategory-title"><?php echo $category->getName() ?></a>
          <script type="text/javascript">simpleMenu(<?php echo $parent->getId() ?>);</script>
        <?php endif; ?>
      <?php endforeach ?>
    </div>
  </div>

  <?php if ($parent->getImgDisplay()): ?>
    <?php if($parent->getImageCatUrl()):?>
      <a href="<?php echo $parent->getImageCatUrl() ?>">
        <div class="category-img-display col-md-4" style="background: url(<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>) no-repeat center center; background-size: cover"></div>
      </a>
    <?php else: ?>
      <div class="category-img-display col-md-4" style="background: url(<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>) no-repeat center center; background-size: cover"></div>
    <?php endif ?>
  <?php endif ?>
</div>
