/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/

.products-grid {
    
    
    .item {     
       
        
        
        .link-wishlist {
            position: absolute;
            right: 8px;
            top: 5px;
            padding: 4px 5px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            &:hover {
                svg {
                    opacity: 1;
                    .heart {
                        fill: #ff0000;
                        stroke: #ff0000;
                    }
                }
            }
            svg {
                width: 16px;
                height: 16px;
                @media only screen and (min-width: $screen-md) {
                    width: 12px;
                    height: 12px;
                    opacity: .5;
                }
                .border {
                    fill: #666;
                    stroke: #666;
                    stroke-opacity: 1;
                    fill-opacity: 1
                }
                .heart {
                    fill: transparent;
                    stroke: #666;
                    stroke-opacity: 1;
                    fill-opacity: 1;
                }
            }
        }
        
    }
}

.products-grid .item .btn-cart {
    background-color: $button-default-background-color;
}