<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<form id="discount-coupon-form" action="<?php echo $this->getFormActionUrl() ?>" method="post">
  <div class="discount-form">
    <input type="hidden" name="remove" id="remove-coupone" value="0" />
    <div class="col-xs-8">
      <input id="coupon_code" name="coupon_code" value="<?php echo $this->escapeHtml($this->getCouponCode()) ?>" placeholder="Cupom"/>
    </div>
    <button type="button" class="btn-add-cupom pull-right" onclick="discountForm.submit(false)" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Apply Coupon')) ?>"><i class="jicon check"></i></button>
    <?php if(strlen($this->getCouponCode())): ?>
      &nbsp; <button type="button" class="btn-add-cupom pull-right" onclick="discountForm.submit(true)" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Cancel Coupon')) ?>"><i class="jicon close"></i></button>
    <?php endif;?>
  </div>
</form>
<script type="text/javascript">
//<![CDATA[
var discountForm = new VarienForm('discount-coupon-form');
discountForm.submit = function (isRemove) {
  if (isRemove) {
    $('coupon_code').removeClassName('required-entry');
    $('remove-coupone').value = "1";
  } else {
    $('coupon_code').addClassName('required-entry');
    $('remove-coupone').value = "0";
  }
  return VarienForm.prototype.submit.bind(discountForm)();
}
//]]>
</script>
