<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<?php if($this->getItemCount()): ?>
  <div class="crosssell ">
    <h2><i class="jicon sales"></i><span class="title"><?php echo $this->__('Alguns produtos que você irá gostar:') ?></span></h2>
    <ul id="crosssell-products-list" class="products-grid">
      <?php foreach ($this->getItems() as $_item): ?>
        <li class="grid-item col-xs-6">
          <div class="product">
            <a class="product-image" href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>">
              <h3 class="product-name"><?php echo $this->escapeHtml($_item->getName()) ?></h3>
              <img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(180); ?>" class="img-responsive" />
            </a>
            <div class="price-detail">
              <?php echo $this->getPriceHtml($_item, true) ?>
            </div>
            <button type="button" class="button btn-add-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><i class="jicon cart"></i></button>
          </div>
        </li>
      <?php endforeach; ?>
    </ul>
    <script type="text/javascript">decorateList('crosssell-products-list', 'none-recursive')</script>
  </div>
<?php endif; ?>
