<div class="content">
  <?php
  $max_installments                   = intval(Mage::getStoreConfig('detailedprice/installments_price/max_installments'));
  $min_installment_value              = floatval(Mage::getStoreConfig('detailedprice/installments_price/min_installment_value'));
  $max_installments_without_interest  = intval(Mage::getStoreConfig('detailedprice/installments_price/max_installments_without_interest'));
  $interest_value                     = floatval(Mage::getStoreConfig('detailedprice/installments_price/interest_value'));
  $price                              = $this->helper('checkout/cart')->getQuote()->getGrandTotal();

  //Calculando total de parcelas
  $min_installment_value  = max($min_installment_value, 1);
  $max_installments       = max(1, $max_installments);
  $total_installment      = max(1, intval(($price / $min_installment_value)));
  if ($total_installment > $max_installments) {
    $total_installment = $max_installments;
  }
  //Calculando valor da parcela
  if ($total_installment > $max_installments_without_interest) {
    $installment_value  = round(Mage::helper('detailedprice')->calcInstallmentValue($price, $interest_value / 100, $total_installment), 2);
  } else {
    $installment_value  = $price / $total_installment;
  }

  $price = explode(",", Mage::getModel('directory/currency')->format($this->helper('checkout/cart')->getQuote()->getGrandTotal(),array('display'=>Zend_Currency::NO_SYMBOL),false));
  $symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
  ?>
  <p>
    <small><?php echo $symbol ?></small>
    <span><?php echo $price[0] ?></span>
    <small><?php echo ','.$price[1] ?></small>
  </p>
  <small><?php echo $total_installment ?>x de <?php echo Mage::helper('core')->formatPrice($installment_value,false) ?></small>
</div>
