<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="shipping">
  <div class="shipping-form">
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="shipping-zip-form">
      <ul class="form-list col-xs-8">
        <li>
          <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
          <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect($this->getEstimateCountryId()) ?>
        </li>
        <li>
          <label for="region_id"<?php if ($this->isStateProvinceRequired()) echo ' class="required"' ?>><?php if ($this->isStateProvinceRequired()) echo '<em>*</em>' ?><?php echo $this->__('State/Province') ?></label>
          <div class="input-box">
            <select id="region_id" name="region_id" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" style="display:none;"<?php echo ($this->isStateProvinceRequired() ? ' class="validate-select"' : '') ?>>
              <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
            </select>
            <script type="text/javascript">
            //<![CDATA[
            $('region_id').setAttribute('defaultValue',  "<?php echo $this->getEstimateRegionId() ?>");
            //]]>
            </script>
            <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getEstimateRegion()) ?>"  title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="input-text" style="display:none;" />
          </div>
        </li>
        <?php if($this->getCityActive()): ?>
          <li>
            <label for="city"<?php if ($this->isCityRequired()) echo ' class="required"' ?>><?php if ($this->isCityRequired()) echo '<em>*</em>' ?><?php echo $this->__('City') ?></label>
            <input class="input-text<?php if ($this->isCityRequired()):?> required-entry<?php endif;?>" id="city" type="text" name="estimate_city" value="<?php echo $this->escapeHtml($this->getEstimateCity()) ?>" />
            </li>
          <?php endif; ?>
          <li>
            <input class="validate-postcode<?php if ($this->isZipCodeRequired()):?> required-entry<?php endif;?>" type="text" id="postcode" name="estimate_postcode" value="<?php echo $this->escapeHtml($this->getEstimatePostcode()) ?>" placeholder="CEP"/>
            </li>
          </ul>
          <button type="button" onclick="coShippingMethodForm.submit()" class="bnt-shippment pull-right"><i class="jicon calc"></i></button>
        </form>
        <script type="text/javascript">
        //<![CDATA[
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
        //]]>
        </script>

        <?php if (($_shippingRateGroups = $this->getEstimateRates())): ?>
          <div class="clearfix"></div>
          <hr>
          <form id="co-shipping-method-form" action="<?php echo $this->getUpdateFormActionUrl() ?>">
            <div class="sp-methods">
              <dl class="sp-methods">
                <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
                  <dt><?php echo $this->escapeHtml($this->getCarrierName($code)) ?></dt>
                  <dd>
                    <ul>
                      <?php foreach ($_rates as $_rate): ?>
                        <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
                        <?php if ($_rate->getErrorMessage()): ?>
                          <?php echo $this->escapeHtml($_rate->getErrorMessage()) ?>
                        <?php else: ?>
                          <input name="estimate_method" type="radio" value="<?php echo $this->escapeHtml($_rate->getCode()) ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
                          <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>
                            <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                            <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                            <?php echo $_excl; ?>
                            <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                              (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                            <?php endif; ?>
                          </label>
                        <?php endif ?>
                      </li>
                    <?php endforeach; ?>
                  </ul>
                </dd>
              <?php endforeach; ?>
            </dl>
          </div>

          <button type="submit" class="btn-cart-update" name="do" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Update Total')) ?>"><?php echo $this->__('Update Total') ?></button>

        </form>
      <?php endif; ?>
      <script type="text/javascript">
      //<![CDATA[
      var coShippingMethodForm = new VarienForm('shipping-zip-form');
      var countriesWithOptionalZip = <?php echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>;

      coShippingMethodForm.submit = function () {
        var country = $F('country');
        var optionalZip = false;

        for (i=0; i < countriesWithOptionalZip.length; i++) {
          if (countriesWithOptionalZip[i] == country) {
            optionalZip = true;
          }
        }
        if (optionalZip) {
          $('postcode').removeClassName('required-entry');
        }
        else {
          $('postcode').addClassName('required-entry');
        }

        //seta o cep informado no sessionStorage
        sessionStorage.setItem('cep_estimado', $$('[name="estimate_postcode"]').first().value);

        return VarienForm.prototype.submit.bind(coShippingMethodForm)();
      }

      jQuery(document).ready(function(){
        //verifica se cep foi preenchido anteriormente para calcular o frete automaticamente
        var cep = sessionStorage.getItem('cep_estimado');

        if(cep != null && cep != '') {
          //seta o cep no campo de cep
          jQuery('#postcode').val(cep);
        }
      });

      //]]>
      </script>
    </div>
  </div>
