<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
    <a href="<?php echo $this->getUrl("customer/account") ?>">
        <?php
            echo (Mage::getStoreConfig("custom_header/icons/login") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_login" . DS.Mage::getStoreConfig("custom_header/icons/login") . "\"/>" : "<i class='material-design-ico material-design-user157'></i>";
            echo $this->__('Log In');
        ?>
    </a>
    <a href="<?php echo $this->getUrl("customer/account/create") ?>">
        <?php
            echo (Mage::getStoreConfig("custom_header/icons/enter_register") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_enter_register" . DS.Mage::getStoreConfig("custom_header/icons/enter_register") . "\"/>" : "<i class='material-design-ico material-design-new102'></i>";
            echo $this->__('Register');
        ?>
    </a>
<?php else: ?>
    <a href="<?php echo $this->getUrl("customer/account") ?>">
        <?php
            echo (Mage::getStoreConfig("custom_header/icons/my_account") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_my_account" . DS.Mage::getStoreConfig("custom_header/icons/my_account") . "\"/>" : "<i class='material-design-ico material-design-account4'></i>";
            echo $this->__('My Account');
        ?>
    </a>
    <a href="<?php echo $this->getUrl("sales/order/history") ?>">
        <?php
            echo (Mage::getStoreConfig("custom_header/icons/my_order") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_order" . DS.Mage::getStoreConfig("custom_header/icons/my_order") . "\"/>" : "<i class='material-design-ico material-design-shopping231'></i>";
            echo $this->__('My Orders');
        ?>
    </a>
    <a href="<?php echo $this->getUrl("customer/account/logout") ?>">
        <?php
            echo (Mage::getStoreConfig("custom_header/icons/logout") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_logout" . DS.Mage::getStoreConfig("custom_header/icons/logout") . "\"/>" : "<i class='material-design-ico material-design-close47'></i>";
            echo $this->__('Log Out');
        ?>
    </a>
<?php endif; ?>
