<?php
/**
 * @var $this  Mage_Checkout_Block_Cart_Sidebar
 *
 * JN2
 * @author Raphael Mário
 */
?>
<?php $_items = $this->getRecentItems(); ?>
<?php $_total_items = $this->getItems(); ?>
<div class="cart-header-container">
<div class="cart-header">
    <?php
        echo (Mage::getStoreConfig("custom_header/icons/cart") != "") ? "<img src=\"" . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "icon_cart" . DS.Mage::getStoreConfig("custom_header/icons/cart") . "\"/>" : "<i class=\"material-icons\">shopping_cart</i>";
    ?>
    <span class="label-cart"><?php echo $this->__('My Cart') ?></span>
    <div class="badge"><?php echo count($_total_items) ?></div>

    <div class="container">
        <?php if (count($_items)): ?>
            <div class="cart-itens">
                <?php foreach ($_items as $_item): ?>
                    <?php echo $this->getItemHtml($_item); ?>
                <?php endforeach; ?>
            </div>
        <?php else: ?>
            <div class="cart-itens">
                <h3><?php echo $this->__('Empty cart') ?></h3>
            </div>
        <?php endif; ?>
        <div class="cart-actions">
            <button type="button" title="<?php echo $this->__('My Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><?php echo $this->__('Go to cart') ?></button>
            <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><?php echo $this->__('Checkout') ?></button>
        </div>
    </div>
<script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
</div>
</div>