<?php
/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if ($this->hasValidGroup()): ?>

    <?php $group = $this->getGroup() ?>
    <?php $banners = $this->getBanners(); ?>


    <div id="<?php echo $this->getWrapperId() ?>-wrapper" class="<?php echo $this->getWrapperClass() ?>">
        <div id="<?php echo $this->getWrapperId() ?>" class=" ibanners <?php if ($group->isAnimationEnabled()): ?>animated<?php else: ?>static<?php endif; ?>">
            <?php
            $visibleSlides = $group->getCarouselVisibleSlides();
            $visibleSlides = max($visibleSlides, 1);

            $array = array();
            foreach ($banners as $b) {
                $array[] = $b;
            }
            $chunks = array_chunk($array, $visibleSlides);
            ?>
            <ul class="bxslider" >
                <?php foreach ($chunks as $chunk): ?>
                    <li class="slide">
                        <ul class="internal-inline">
                            <?php foreach ($chunk as $banner): ?>
                                <li id="ibanner-<?php echo $banner->getId() ?>" class="banner">

                                    <?php /*
                                      <div class="info-banner" >
                                      <h3 class="tit-banner">Iphone Lorem Ipsum </h3>
                                      <p class="desc-banner">Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                                      <div class="old-price-banner">de <span>$1999</span></div>
                                      <div class="special-price-banner">por <span>$1899</span></div>
                                      <a class="bt-shop-now" href="#">Comprar Agora!</a>
                                      </div>
                                     *
                                     */
                                    ?>

                                    <?php if ($banner->getImageUrl()): ?>

                                        <?php if ($banner->hasUrl()): ?>




                                            <a href="<?php echo $banner->getUrl() ?>" title="<?php echo $this->escapeHtml($banner->getTitle()) ?>"<?php if ($banner->getUrlTarget()): ?> target="<?php echo $banner->getUrlTarget() ?>"<?php endif; ?>>
                                            <?php endif; ?>
                                            <?php
                                            $width = $this->getWidth();
                                            $height = $this->getHeight();
                                            # $banner->getResizedImageUrl($width, $height);
                                            #$url = $banner->getImageUrl();
                                            # if ($height || $width) {

                                            $url = $banner->getImageUrl($width, $height);
                                            $small_url = $banner->getSmallImageUrl();
                                            $medium_url = $banner->getMediumImageUrl();
                                            #}
                                            ?>
                                                <picture style="display:none;">
                                                    <?php if ($small_url): ?>
                                                    <source srcset="<?php echo $small_url; ?>" media="(max-width: 768px)">
                                                    <?php endif; ?>
                                                    <?php if ($medium_url): ?>
                                                    <source srcset="<?php echo $medium_url; ?>" media="(max-width: 992px)">
                                                    <?php endif; ?>
                                                    <source srcset="<?php echo $url; ?>">
                                                    <img class='fallback-img' data-src="<?php echo $url; ?>" alt="<?php echo $this->escapeHtml($banner->getAltText()) ?>" style='max-width: 100%;'>
                                                </picture>
                                            <?php if ($banner->hasUrl()): ?>
                                            </a>
                                        <?php endif; ?>

                                    <?php endif; ?>

                                    <?php if ($banner->getHtml()): ?>

                                        <div class="html"><?php echo $banner->getHtml() ?></div>


                                    <?php endif; ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </li>
                <?php endforeach; #end chunk  ?>

            </ul>
        </div>
    </div>


        <?php
        //#################################
        //Bloco Para carregar js do bxslider
        //Se precisar mudar o js substituir no tema MORÔ
        //#################################

        $isAnimated = $this->canAnimate() && $banners->count() > $visibleSlides;
        ?>
        <?php
        $block = $this->getLayout()
                ->createBlock('core/template');
        $block->setWrapperId($this->getWrapperId())
                ->setIsAnimated($isAnimated)
                ->setGroup($group)
                ->setTemplate('jn2/ibanners/js.phtml');
        echo $block->toHtml();
        ?>



<?php endif; ?>

<script>
jQuery( document ).ready(function() {
    jQuery('picture').show();
});

</script>
