
<?php $group = $this->getGroup(); ?>
<script type="text/javascript">
    //<![[
    (function ($) {
        var IS_ANIMATED = '<?php echo $this->getIsAnimated(); ?>' === '1';
        if (IS_ANIMATED) {
            $(function () {

                var wrapperId = '<?php echo $this->getWrapperId(); ?>';
                var data = {
                    'speed': '<?php echo $group->getCarouselDuration() * 1000 ? : '500'; ?>',
                    'auto': <?php echo $group->getCarouselAuto() ? 'true' : 'false'; ?>,
                    'easing': 'linear',
                    'useCSS': false,
                    'pager': 'false',
                    'pause': '<?php echo $group->getCarouselFrequency() * 1000 ? : '500'; ?>'
                };
                $('#' + wrapperId).find('.bxslider').bxSlider(data);
                
                // Fallback para navegadores que não suportam a tag <picture>
                !window.HTMLPictureElement && $('.bxslider .fallback-img').each(function(){
                    this.setAttribute('src', this.getAttribute('data-src'));
                });
            });
        }//END is Animated

    })($jqueryJn2Basic);
    //]]>
</script>
