<div class="add-this-wrapper">
  <?php

  $block = $cmsBlock = Mage::getModel('cms/block')->load('add_this');
  if (!$block->getId()) {
    $content = '{{customVar code=add_this}}'; //custom var
  } else {
    $content = $block->getContent();
  }
  $helper = Mage::helper('cms');
  $processor = $helper->getBlockTemplateProcessor();
  echo $html = $processor->filter($content);
  ?>
</div>
