<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<footer class="simple">
  <div class="container">


    <?php if ($this->getBlock(1)): ?>
      <div class="col-xs-6 col-md-3 block-1">
        <?php // Informações de atendimento ?>
        <?php  echo $this->getBlock(1); ?>
      </div>
    <?php endif; ?>

    <?php if ($this->getBlock(2)): ?>
      <div class="col-xs-6 col-md-3 block-2">
        <?php // Links ?>
        <?php  echo $this->getBlock(2); ?>
      </div>
    <?php endif; ?>

    <?php if ($this->getBlock(3)): ?>
      <div class="col-xs-6 col-md-3 block-3">
        <?php // Bandeiras Cartões ?>
        <?php  echo $this->getBlock(3); ?>
      </div>
    <?php endif; ?>

    <?php if ($this->getBlock(4)): ?>
      <div class="col-xs-6 col-md-3 block-4">
        <?php // Selos Segurança ?>
        <?php  echo $this->getBlock(4); ?>
      </div>
    <?php endif; ?>

    <div class="clearfix">&nbsp;</div>

    <div class="text-center">
      <address><?php echo Mage::getStoreConfig('design/footer/copyright'); ?></address>
    </div>
    <div class="text-center">
      <a href="https://www.jn2.com.br" title="JN2 eCommerce expert"  target="_blank" class="logo-assinatura">
        <img src="<?php echo $this->getSkinUrl('images/assinatura.png') ?>" alt="JN2 eCommerce expert" />
      </a>
    </div>
  </div>
</footer>
