<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
* @author: Cláudio Barbosa <claudiobareis@gmail.com>
*/
?>

<header class="simple header-login">
  <div class="container">
    <div class="col-xs-4 col-xs-offset-0 col-md-2 logo-content">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="link-logo">
        <picture class="img-logo">
          <source media="(min-width: 992px)" srcset="<?php echo $this->getLogoSrc() ?>">
            <?php if ($_logoMobile = Mage::getStoreConfig('jn2_mobile/general/logo')): ?>
              <source srcset="<?php echo Mage::getBaseUrl('media') . 'logo/' . $_logoMobile ?>">
              <?php endif ?>
              <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
            </picture>
          </a>
    </div>

      <div class="col-md-6 col-md-offset-1 visible-md visible-lg">
        <div class="row bs-wizard">
          <div class="col-xs-3 bs-wizard-step complete ">
            <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Cart') ?></div>
            <div class="progress"><div class="progress-bar"></div></div>

            <a href="#" class="bs-wizard-dot"></a>

          </div>

          <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Indentification') ?></div>
            <div class="progress"><div class="progress-bar"></div></div>

            <a href="#" class="bs-wizard-dot"></a>

          </div>

          <div class="col-xs-3 bs-wizard-step complete "><!-- complete -->
            <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Payment') ?></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>

          </div>

          <div class="col-xs-3 bs-wizard-step active"><!-- active -->
            <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Confirmation') ?> </div>
            <div class="progress"><div class="progress-bar"></div></div>
            <svg class="svg-seta" xmlns="http://www.w3.org/2000/svg" viewBox="873.709 -18.517 9.94 9.94">
              <defs>

              </defs>
              <path id="Path_36" data-name="Path 36" class="cls-1" d="M790.72,91.184l-7.057,7h7.057Z" transform="translate(1368.356 610.032) rotate(-135)"/>
            </svg>
            <a href="#" class="bs-wizard-dot"></a>

          </div>
        </div>
      </div>

      <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-0 secure-block">
        <div class="ico-secure">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="1414.989 -102 26.712 39.258">
            <defs><style>.a{fill:#fff;}</style></defs>
            <g transform="translate(1414.989 -102)"><path class="a" d="M209.456,458.3a11,11,0,0,0-10.984,10.984v4.877c-.29.061-.58.114-.87.185a1.985,1.985,0,0,0-1.5,1.933v17.389a1.98,1.98,0,0,0,1.336,1.88,36.949,36.949,0,0,0,24.041,0,1.989,1.989,0,0,0,1.336-1.88V476.278a1.985,1.985,0,0,0-1.5-1.933c-.29-.07-.58-.123-.879-.185v-4.877A10.975,10.975,0,0,0,209.456,458.3Zm0,4.692a6.285,6.285,0,0,1,6.274,6.283v4.042a49.294,49.294,0,0,0-12.565,0v-4.042a6.306,6.306,0,0,1,6.291-6.283Zm0,17.433a2.623,2.623,0,0,1,1.626,4.692l.668,5.6h-4.6l.677-5.6a2.623,2.623,0,0,1,1.626-4.692Z" transform="translate(-196.1 -458.3)"/></g>
          </svg>
        </div>
        <div class="text-secure">
            <?php echo $this->__('<span>Ambiente</span></br>100% Seguro') ?>
        </div>

      </div>


    </div>
  </header>


  <div class=" col-xs-12 visible-xs visible-sm ">
    <div class="row bs-wizard">
      <div class="col-xs-3 bs-wizard-step complete ">
        <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Cart') ?></div>
        <div class="progress"><div class="progress-bar"></div></div>

        <a href="#" class="bs-wizard-dot"></a>

      </div>

      <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
        <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Indentification') ?></div>
        <div class="progress"><div class="progress-bar"></div></div>

        <a href="#" class="bs-wizard-dot"></a>

      </div>

      <div class="col-xs-3 bs-wizard-step complete "><!-- complete -->
        <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Payment') ?></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>

      </div>

      <div class="col-xs-3 bs-wizard-step active"><!-- active -->
        <div class="text-center bs-wizard-stepnum"><?php echo $this->__('Confirmation') ?> </div>
        <div class="progress"><div class="progress-bar"></div></div>
        <svg class="svg-seta" xmlns="http://www.w3.org/2000/svg" viewBox="873.709 -18.517 9.94 9.94">
          <defs>

          </defs>
          <path id="Path_36" data-name="Path 36" class="cls-1" d="M790.72,91.184l-7.057,7h7.057Z" transform="translate(1368.356 610.032) rotate(-135)"/>
        </svg>
        <a href="#" class="bs-wizard-dot"></a>

      </div>
    </div>
  </div>
