<?php
#$this = new Mage_Core_Block_Template;


$layout = $this->getLayout();
$allBlocks = array('footer_links', 'footer_links2');
?>
<div class="jn2-wrapper-footer-links">
  <?php foreach ($allBlocks as $key): ?>
    <?php
    $block = $layout->createBlock('cms/block')
    ->setBlockId($key);
    ?>
    <?php if ($block && $block->getBlock()): ?>
      <div class="block  cms-<?php echo $block->getBlock()->getIdentifier(); ?>">
        <h2>
          <?php echo $block->getBlockTitle(); ?>
        </h2>
        <div class="content">
          <?php echo $block->toHtml(); ?>
        </div>
      </div>
    <?php endif; ?>
  <?php endforeach; ?>
</div>
