<?php

/*
 * Query Commerce Cielo Module - payment method module for Magento,
 * integrating the billing forms with a Cielo's gateway Web Service.
 * Copyright (C) 2013  Fillipe Almeida Dutra
 * Belo Horizonte, Minas Gerais - Brazil
 *
 * Contact: lawsann@gmail.com
 * Project link: http://code.google.com/p/magento-cielo/
 * Group discussion: http://groups.google.com/group/cielo-magento
 *
 * Team:
 * Fillipe Almeida Dutra - lawsann@gmail.com
 * Hermes Luciano Monteiro Junior - hermeslmj@gmail.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

 $order_id = Mage::getSingleton('checkout/session')->getLastOrderId();

 if (!Mage::getSingleton('customer/session')->isLoggedIn()) {
     $reoder_url = Mage::getUrl('sales/guest/reorder', array('order_id' => $order_id));
 } else {
    $reoder_url = Mage::getUrl('sales/order/reorder', array('order_id' => $order_id));
 }
?>

<?php if (!$this->isStatusError()) : ?>

  <div class="payment_status success">
    <div class="page-title">
        <h1><?php echo $this->__('Your order has been received.') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <h2 class="sub-title"><?php echo $this->__('Thank you for your purchase!') ?></h2>

    <div class="number-order">

    <?php if ($this->getOrderId()):?>
    <?php if ($this->getCanViewOrder()) :?>
        <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
    <?php  else :?>
        <p><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($this->getOrderId())) ?></p>
    <?php endif;?>

    </div>

        <p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
    <?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) :?>
        <p>
            <?php echo $this->__('Click') .  ' <a href="' . $this->getPrintUrl() . '" onclick="this.target=\'_blank\'">' . $this->__('here to print') . '</a> ' . $this->__('a copy of your order confirmation.'); ?>
            <?php echo $this->getChildHtml() ?>
        </p>
    <?php endif;?>
    <?php endif;?>

    <?php if ($this->getAgreementRefId()): ?>
        <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
    <?php endif;?>
    <br />
    <ul>
    	<li><?php echo $this->getCieloDataHtml(); ?></li>
    </ul>
    <div class="buttons-set">
        <a class="link-reorder" href="<?php echo $reoder_url; ?>">Comprar novamente 222</a>
        <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
    </div>
  </div>
<?php else : ?>

  <div class="payment_status error">
    <div class="page-title">
      <h1><?php echo $this->__('An error has occurred with your payment.') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <ul>
      <li><?php echo $this->getCieloDataHtml(); ?></li>
    </ul>

    <div class="number-order">

    <?php if ($this->getOrderId()):?>
    <?php if ($this->getCanViewOrder()) :?>
        <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
    <?php  else :?>
        <p><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($this->getOrderId())) ?></p>
    <?php endif;?>

    </div>

        <p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
    <?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) :?>
        <p>
            <?php echo $this->__('Click') .  ' <a href="' . $this->getPrintUrl() . '" onclick="this.target=\'_blank\'">' . $this->__('here to print') . '</a> ' . $this->__('a copy of your order confirmation.'); ?>
            <?php echo $this->getChildHtml() ?>
        </p>
    <?php endif;?>
    <?php endif;?>

    <?php if ($this->getAgreementRefId()): ?>
        <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
    <?php endif;?>
    <br />

    <div class="buttons-set">
        <a class="link-reorder" href="<?php echo $this->getReorderUrl(); ?>">Tentar novamente</a>
        <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
    </div>
  </div>

<?php endif ?>
