/**/
.productlabel-wrap{position: relative;}
.productlabel-wrap table{ border: 0 none; border-spacing: 0; empty-cells:show; position: absolute;z-index: 99999;}
.productlabel-wrap table tbody{background: 0 none;}
.productlabel-wrap table tbody tr{background: 0 none!important; border: 0 none;}
.productlabel-wrap table tbody tr td{
  border: 0 none;
  height: auto;
  text-align: center;
  vertical-align: middle;
}
.productlabel-wrap table tbody tr td label{color: #FFF;}
.productlabel-wrap table.label_top_left{top:0; left: 0;}
.productlabel-wrap table.label_top_center{ left: 0; margin: 0 auto; right: 0; top: 0;}
.productlabel-wrap table.label_top_right{top:0; right: 0;}
.productlabel-wrap table.label_middle_left{left:0; top: calc(50% - 50px);}
.productlabel-wrap table.label_middle_center{ top: calc(50% - 50px);left: 0; margin: 0 auto; right: 0;}
.productlabel-wrap table.label_middle_right{right:0; top: calc(50% - 50px);}
.productlabel-wrap table.label_bottom_left{bottom:0; left: 0;}
.productlabel-wrap table.label_bottom_center{left: 0; margin: 0 auto; right: 0; bottom: 0;}
.productlabel-wrap table.label_bottom_right{bottom:0; right: 0;}