<?php if ($this->getTitle()): ?>
  <div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
  </div>
<?php endif; ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" class="form-horizontal">
  <div class="col-sm-8">
    <div class="form-groupset">
      <?php echo $this->getBlockHtml('formkey') ?>
      <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
      <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
      <div class="form-list">
        <?php echo $this->getLayout()->createBlock('simplecheckout/widget_nome')->setObject($this->getAddress())->toHtml() ?>
        <div class="form-group">
          <label for="telephone" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Telephone') ?></label>
          <div class="col-sm-6">
            <input type="text" name="telephone" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="form-control  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" data-mask="telefone"/>
          </div>
        </div>
        <div class="form-group">
          <label for="fax" class="col-sm-4 control-label"><?php echo $this->__('Fax') ?></label>
          <div class="col-sm-6 ">
            <input type="text" name="fax" id="fax" title="<?php echo $this->__('Fax') ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" />
          </div>
        </div>
      </div>
    </ul>
  </div>

  <div class="form-groupset">
    <div class="form-list">

      <div class="form-group">
        <label for="zip" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
        <div class="col-sm-3">
          <input type="text" name="postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="postcode" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" onblur="buscaCep()"/>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-link" id="BuscaCep" target="_blank" href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm">não sei meu cep</a>
        </div>
      </div>

      <div class="show-after-cep">

        <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
        <div class="form-group">
          <label for="street_1" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Street Address') ?></label>
          <div class="col-sm-8">
            <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="form-control <?php echo $_streetValidationClass ?>" />
          </div>
        </div>

        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
          <?php switch ($_i) {
            case 2:
            $col = 2;
            break;
            default:
            $col = 4;
            break;

          }?>

          <div class="form-group">
            <label for="street<?php echo $_i ?>" class="required col-sm-4 control-label"><?php if ($_i != 3): ?> <em>*</em> <?php endif; ?><?php echo $this->__('Street Address ' . $_i) ?></label>
              <div class="col-md-<?php echo $col ?>">
                <input type="text" name="street[<?php echo $_i ?>]" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address ' . $_i) ?>" id="street_<?php echo $_i ?>" class="form-control <?php if ($_i != 3): ?>required-entry<?php endif; ?>"  />
                </div>
              </div>
            <?php endfor; ?>
            <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
              <div class="form-group">
                <label for="vat_id  col-sm-4 control-label"><?php echo $this->__('VAT Number') ?></label>
                <div class="col-sm-8">
                  <input type="text" name="vat_id" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" id="vat_id" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                </div>
              </div>
            <?php endif; ?>

            <div class="form-group">
              <label for="city" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('City') ?></label>
              <div class="col-sm-8">
                <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
              </div>
            </div>
            <div class="form-group">
              <label for="region_id" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('State/Province') ?></label>
              <div class="col-sm-8">
                <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select form-control" style="display:none;">
                  <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                </select>
                <script type="text/javascript">
                //<![CDATA[
                $('region_id').setAttribute('defaultValue', "<?php echo $this->getAddress()->getRegionId() ?>");
                //]]>
                </script>
                <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" />
              </div>
            </div>

            <div class="form-group">
              <label for="country" class="required col-sm-4 control-label"><em>*</em><?php echo $this->__('Country') ?></label>
              <div class="col-sm-8">
                <?php echo $this->getCountryHtmlSelect() ?>
              </div>
            </div>
          </div>
          <div<?php if ($this->canSetAsDefaultBilling()) echo ' class="control"' ?>>
          <?php if ($this->isDefaultBilling()): ?>
            <strong><?php echo $this->__('Default Billing Address') ?></strong>
          <?php elseif ($this->canSetAsDefaultBilling()): ?>
            <input type="checkbox" id="primary_billing" name="default_billing" value="1" title="<?php echo $this->__('Use as My Default Billing Address') ?>" class="checkbox" /><label for="primary_billing"><?php echo $this->__('Use as my default billing address') ?></label>
          <?php else: ?>
            <input type="hidden" name="default_billing" value="1" />
          <?php endif; ?>
        </div>
        <div<?php if ($this->canSetAsDefaultShipping()) echo ' class="control"' ?>>
        <?php if ($this->isDefaultShipping()): ?>
          <strong><?php echo $this->__('Default Shipping Address') ?></strong>
        <?php elseif ($this->canSetAsDefaultShipping()): ?>
          <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" title="<?php echo $this->__('Use as My Default Shipping Address') ?>" class="checkbox" /><label for="primary_shipping"><?php echo $this->__('Use as my default shipping address') ?></label>
        <?php else: ?>
          <input type="hidden" name="default_shipping" value="1" />
        <?php endif; ?>
      </div>
    </div>
  </div>
</div>
<div class="buttons-set">
  <hr />
  <p class="required"><?php echo $this->__('* Required form-groups') ?></p>
  <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
  <button data-action="save-customer-address" type="submit" title="<?php echo $this->__('Save Address') ?>" class="button"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
</div>
</form>

<div class="modal fade" id="buscaCep" tabindex="-1" role="dialog" aria-labelledby="buscaCepLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="buscaCeplLabel">Encontre o cep do seu endereço</h4>
      </div>
      <form name="Geral" class="form-horizontal" target="_blank" action="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-4 control-label">Endereço ou CEP:</label>
            <div class="col-sm-8">
              <input class="form-control" maxlength="60" name="relaxation" size="50" value="">
              <p>Não utilize nº de casa/apto/lote/prédio ou abreviação</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">CEP de:</label>
            <div class="col-sm-8">
              <select name="tipoCEP" class="form-control">
                <option value="LOG">Localidade/Logradouro</option>
                <option value="PRO">CEP Promocional</option>
                <option value="CPC">Caixa Postal Comunitária</option>
                <option value="GRU">Grande Usuário</option>
                <option value="UOP">Unidade Operacional</option>
                <option value="ALL" selected="">Todos</option>
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button class="buttton btn btn-primary " type="Submit" value="Buscar"><span><span>Buscar </span></span></button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);
new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
Validation.add('validate-zip-br', '<?php echo $this->__('Please enter a valid zip code. e.g. 12345678.') ?>', function (v) {
  return Validation.get('IsEmpty').test(v) || /(^\d{8}$)|(^\d{5}-\d{3}$)/.test(v);
});
// Validation.add('validate-phone-br', '<?php echo $this->__('Please enter a valid phone number. for example, (xx) x4567-8900.') ?>', function (v) {
//     return Validation.get('IsEmpty').test(v) || /^(\()?\d{2}(\))?(-|\s)?\d{5}(-|\s)\d{4}|(\()?\d{2}(\))?(-|\s)?\d{4}(-|\s)\d{4}$/.test(v);
// });
jQuery(document).ready(function($){
  jQuery('#telephone').addClass('validate-phone-br');
  jQuery('#fax').addClass('validate-phone-br');
  jQuery('#postcode').addClass('validate-zip-br');
});
//]]>
</script>
