header {
    .cart-header {
        .floating-cart {
            .cart-actions {
                button {
                    &:first-child {
                        background: transparent;
                        color: $default-text-color;
                        &:hover {
                            color: $secundary-text-color;
                        }
                    }
                    &:hover {
                        //color: $default-text-color;
                    }
                }
            }
        }
    }
}

menu {
    .mega-menu-jn2 {
        .content-mega-menu {
            ul {
                .nav {
                    li {
                        a {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.cms-index-index {
    .three-columns {
        .col-1,
        .col-2,
        .col-3 {
            padding: 10px;
        }
    }
}

menu {
    .mega-menu-jn2 {
        .content-mega-menu {
            ul.nav {
                li.open {
                    &>a {
                        color: #fff !important;
                        background: #ff0000 !important;
                    }
                    &:hover {
                        color: #fff !important;
                        background-color: #ff0000;
                    }
                }
                &>li {
                    &>a {
                        font-family: "Roboto", sans-serif;
                        &:hover {
                            color: #fff !important;
                            background-color: #ff0000;
                        }
                    }
                }
            }
        }
    }
}

.products-grid .item .btn-cart {
    background-color: $button-default-background-color;
}