/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
*/


#ibanners-home_top_left-wrapper{
    /*height:570px;
    width: 570px;*/
}

#ibanners-home_top_left-wrapper li.slide ul li.banner{
    overflow: hidden;
    border-radius: 8px;
}

#ibanners-banner_top_left-wrapper li.slide{
    display:block;
    overflow:hidden;
    height:inherit;
    width:inherit;
}


#ibanners-home_top_left .banner img {
    width: 100%;
}

/**
banner top right
*/
#ibanners-banner_top_right-wrapper{

}


#ibanners-banner_top_right-wrapper li.slide{

}
#ibanners-banner_top_right-wrapper li.slide ul li.banner{
    /*height: 375px;*/
    overflow: hidden;
    border-radius: 8px;
    /* width: 370px;
    float: left;
    margin-bottom: 32px;
    margin-right: 17px;
    */

}

#ibanners-banner_top_right-wrapper li.slide img{
    width: 100%;
}

#ibanners-banner_top_right-wrapper li.slide{
    clear:left;
}

/**
Banner list
*/

#ibanners-banner_middle-wrapper.ibanners-wrapper{
    margin: 20px 0 0 0;
}


#ibanners-banner_middle-wrapper li.slide li.banner{
    float: left;
    margin: 0 2.7% 0 0;
    width: 31.5%;
    border-radius: 8px;
    overflow: hidden;
}

#ibanners-banner_middle-wrapper li.slide li.banner:last-child{
    margin: 0;
}
/*#ibanners-banner_list-wrapper li.slide li.banner{
    width:120px;
    height:55px;
    overflow:hidden;
}
*/
#ibanners-banner_middle-wrapper li.slide li.banner img{
    width: 100%;
}

#ibanners-banner_top_main-wrapper li.slide li.banner img{
    width: 100%;
}



/*no controls on these banners*/
#ibanners-banner_middle-wrapper .bx-controls,
#ibanners-banner_top_right-wrapper .bx-controls,
#ibanners-banner_top_left-wrapper .bx-controls{
    display:none;
}
.bx-controls{
    position:relative;
}

.bx-controls .bx-pager{
    left: 21px;
    position: absolute;
    top: -42px;
}

.bx-controls .bx-pager .bx-pager-item{
    padding:0 3px;
    float:left;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link{
    border:3px solid #c5c5c5;
    border-radius:50%;
    padding: 0 4px;
    background-color:#fafafa;
    color:#fafafa;
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link.active{
    border:3px solid #4a4a4a;
}

.bx-controls-direction{
    display:none;
}


@media only screen and (max-width: 767px) {

    #ibanners-banner_top_right-wrapper{
        margin-top:20px;
    }
}
