.nav-container {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}
.sf-menu {
  background: url(../images/nav-bg.png) 0 bottom repeat-x #fff;
  font-size: 13px;
  line-height: 17px;
  margin: 0 -30px;
  border-radius: 6px;
  box-shadow:0 5px 5px rgba(0,0,0,0.22);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,0.18);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.18);
}
.sf-menu li {
  float: left;
  text-align: left;
  position: relative;
  border-right: 1px solid #ada89b;
  z-index: 99;
}
.sf-menu li a {
  display: block;
  color: #383737;
  text-decoration: none;
  position: relative;
  padding: 0;
  font-family: 'Fjalla One', sans-serif; 
  text-transform: uppercase;
}
.sf-menu > li > a > span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #2b2721;
  cursor: pointer;
  white-space: nowrap;
  padding: 16px 10px 17px;
}
.sf-menu li ul a span {  white-space: normal;}
.sf-menu > li.parent > a > span {  background: url(../images/marker-8.gif) center 47px no-repeat;}

.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {  background:#c7c3b7;}
.sf-menu > li:first-child > a {border-radius: 6px 0 0 6px;}

.sf-menu > li.sfHover > a span,
.sf-menu > li > a:hover span,
.sf-menu > li.active > a span {  color: #cb513b;}
.sf-menu li a:hover {  text-decoration: none;}

.sf-menu ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
  display: none;
  background: #2b2721;
  border-radius: 3px;
}
.sf-menu li li {  border-bottom: 1px solid #36322c;}
.sf-menu li li.parent {  background: url(../images/marker-1.gif) 90% 12px no-repeat;}
.sf-menu li li.last {  border-bottom: none;}
.sf-menu li li.sfHover,
.sf-menu li li,
.sf-menu li li:hover {
  float: none;
  border-right: none;
  position: relative;
  padding: 8px 15px;
}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a {
  display: inline-block;
  background: none;
  font-size: 13px;
  line-height: 16px;
  color: #737065;
  padding: 0;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {  color: #cb513b;}

.sf-menu ul ul {
  position: absolute;
  top: -999em;
  z-index: 99;
  width: 192px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0px;
  top: 68px;
  /* match top ul list item height */
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1250px) { 
    .sf-menu {margin: 0 -10px;}
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  .sf-menu {margin: 0 -10px;}
}
@media only screen and (min-width: 980px) {
    #menu-icon,
    .sf-menu-phone {  display: none !important;}
}
@media only screen and (max-width: 979px) {
  .nav-container {margin-bottom: 20px;}
  .sf-menu,
  .sf-menu-phone {display: none;}
  /* menu icon */
  #menu-icon {
    display: block;
    position: relative;
    background: url("../images/nav-bg.png") repeat-x scroll 0 0 transparent;
    border-radius: 6px;
    box-shadow:0 5px 5px rgba(0,0,0,0.22);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.18);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.18);
    font-family: 'Fjalla One',sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #2B2721;
    cursor: pointer;
    text-transform: uppercase;
    padding: 13px 0 0 10px;
    height: 33px;
}
  #menu-icon:before {
    background: url(../images/menu-icon-bg.png) 97% 11px no-repeat;
    position: absolute;
    content: '.';
    font-size: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  #menu-icon.active:before { background-position: 97% -47px;  }

  .sf-menu-phone {
    background: #2b2721;
    position: relative;
    padding: 0;
    z-index: 2;
    font-family: 'Fjalla One',sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    margin-top: 5px !important;
  }
  .sf-menu-phone li { padding: 10px 15px;  position: relative; font-size: 18px;  }
  .sf-menu-phone > li {  border-bottom: 1px solid #36322c; }
  .sf-menu-phone > li.last {border: 0;}
  .sf-menu-phone li a { display: inline-block;  color: #737065;  }
  .sf-menu-phone li a:hover { color: #B90100; }
  .sf-menu-phone li li {font-size: 13px; padding: 5px 0; }
  .sf-menu-phone li li.last { padding-bottom: 0;  }
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    background: url(../images/toogle-button2.png) center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone > li > strong {top: 7px; right: 6px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong.opened { background-position: center 7px; }

  /* dropdown */
  .sf-menu-phone ul {  width: auto;  padding: 8px 0 0 20px;  display: none;  }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover { color: #cb513b;  }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #cb513b;}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
   .cms-home #menu-icon,
   .cms-home .sf-menu-phone {margin: 0;}
    #menu-icon,
   .sf-menu-phone {margin: 0 -11px;}
}
