<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
*/
?>

<?php
$_helper = Mage::helper('catalog/category');
$_categories = $_helper->getStoreCategories();
$currentCategory = Mage::registry('current_category');
?>
<div class="visible-xs visible-sm nav-mobile">
  <button class="hamburger pull-left" id="btn-menu">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
<div class="visible-xs visible-sm">

  <?php if (count($_categories) > 0): ?>
    <div class="menu-mobile" id="menu-mobile">
      <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
      
        <a href="<?php echo $this->getUrl("customer/account") ?>" class="logar">

          <svg version="1.1"
            id="Layer_1" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-200 241.2 24 30"
            style="enable-background:new -200 241.2 24 30; width:30px; fill:#ffffff; height:30px;" xml:space="preserve">
            <g transform="translate(0,-1028.3622)">
              <path d="M-188,1274.6c-2.8,0-5,2.2-5,5c0,1.9,1.1,3.5,2.6,4.4c-3.2,1-5.6,4.1-5.6,7.6c0,0.5,0.3,1,0.8,1.3c0.4,0.3,1,0.6,1.8,0.9
                c1.4,0.5,3.3,0.8,5.5,0.8s4-0.3,5.5-0.8c0.7-0.2,1.3-0.5,1.8-0.9c0.4-0.3,0.8-0.8,0.8-1.3c0-3.6-2.4-6.6-5.6-7.6
                c1.5-0.9,2.6-2.5,2.6-4.4C-183,1276.8-185.2,1274.6-188,1274.6z M-188,1275.6c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4
                S-190.2,1275.6-188,1275.6z M-188,1284.6c3.9,0,7,3.1,7,7c0,0.1-0.1,0.3-0.4,0.5c-0.3,0.2-0.8,0.5-1.5,0.7
                c-1.3,0.4-3.1,0.8-5.1,0.8s-3.9-0.3-5.1-0.8c-0.6-0.2-1.2-0.5-1.5-0.7c-0.3-0.2-0.4-0.4-0.4-0.5
                C-195,1287.7-191.9,1284.6-188,1284.6z"/>
            </g>
          </svg>
          <div class="text-login">
            <?php echo $this->__("Entrar") ?>
          </div>
        </a>
      <?php else: ?>
      <div class="block-account">  
      <a href="<?php echo $this->getUrl("customer/account") ?>" class="minha-conta">
        <svg version="1.1"
            id="Layer_1" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-200 241.2 24 30"
            style="enable-background:new -200 241.2 24 30; width:30px; fill:#ffffff; height:30px;" xml:space="preserve">
            <g transform="translate(0,-1028.3622)">
              <path d="M-188,1274.6c-2.8,0-5,2.2-5,5c0,1.9,1.1,3.5,2.6,4.4c-3.2,1-5.6,4.1-5.6,7.6c0,0.5,0.3,1,0.8,1.3c0.4,0.3,1,0.6,1.8,0.9
                c1.4,0.5,3.3,0.8,5.5,0.8s4-0.3,5.5-0.8c0.7-0.2,1.3-0.5,1.8-0.9c0.4-0.3,0.8-0.8,0.8-1.3c0-3.6-2.4-6.6-5.6-7.6
                c1.5-0.9,2.6-2.5,2.6-4.4C-183,1276.8-185.2,1274.6-188,1274.6z M-188,1275.6c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4
                S-190.2,1275.6-188,1275.6z M-188,1284.6c3.9,0,7,3.1,7,7c0,0.1-0.1,0.3-0.4,0.5c-0.3,0.2-0.8,0.5-1.5,0.7
                c-1.3,0.4-3.1,0.8-5.1,0.8s-3.9-0.3-5.1-0.8c-0.6-0.2-1.2-0.5-1.5-0.7c-0.3-0.2-0.4-0.4-0.4-0.5
                C-195,1287.7-191.9,1284.6-188,1284.6z"/>
            </g>
          </svg>
          <div>
            Olá, 
            <?php 
                  if (Mage::getSingleton('customer/session')->isLoggedIn()) {
                    $customer = Mage::getSingleton('customer/session')->getCustomer();
                    echo $customer->getFirstname() . "!"; 
                  }                
            ?>  
            </br>
            <?php echo $this->__("Acesse sua conta") ?>
          </div>
        </a> 
        <a href="<?php echo Mage::getUrl('customer/account/logout'); ?>" class="sair"><?php echo $this->__("Sair") ?></a>
        </div>
      
      <?php endif; ?> 

      <!-- <a href="<?php echo Mage::getUrl('wishlist'); ?>" class="wishlist"><img src="<?php echo $this->getSkinUrl('images/ico-coracao.png') ?>" alt="Favoritos" height="18px" class="pull-left" /> &nbsp;<?php echo $this->__("Meus Favoritos") ?></a> -->


<ul>
    <?php $root = Mage::getModel('catalog/category')->load(Mage::app()->getStore()->getRootCategoryId()); # Load Root Category?>
    <?php $categories = $root->getChildrenCategories();  #List of Category Level0 after Root Category ?>

      <?php foreach($categories as $_category): ?>
        <?php $subcategories = $_category->getChildrenCategories(); # Level1?>
        <?php $catId = $_category->getId(); ?>
        <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()); ?>

        <?php if($_category->getIsActive()): ?>
          <li>
            <a href="<?php echo $_helper->getCategoryUrl($_category); ?>" class="link-first-level <?php if (count($subcategories) > 0):?>with-subcategory <?php endif;?>">
              <?php echo $_category->getName(); ?>            
            </a>
            <?php if (count($subcategories) > 0):?>
              <input id="collapsible-<?php echo $_category->getId();?>" class="toggle" type="checkbox">
              <label for="collapsible-<?php echo $_category->getId();?>" class="lbl-toggle" tabindex="0"></label>
        <?php endif;?>      
           
        <?php endif; ?>
          <div class="collapsible-content first-level">
          <ul>
            <?php foreach($subcategories as $subcategory): # Level2?>        
              <?php $subcategories_2 = $subcategory->getChildrenCategories(); # Level2?>
                <li>
                    <a href="<?php echo $subcategory->getUrl();?>" class="link-sec-level <?php if (count($subcategories_2) > 0):?>with-subcategory <?php endif;?> ">                    
                      <?php echo $subcategory->getName(); ?>
                    </a>
                    
                    <?php if (count($subcategories_2) > 0):?>                      
                      <input id="collapsible-<?php echo $subcategory->getId();?>" class="toggle" type="checkbox">
                      <label for="collapsible-<?php echo $subcategory->getId();?>" class="lbl-toggle" tabindex="0"></label>                  
                    <?php endif;?>
                    <div class="collapsible-content sec-level">
                      <ul>            
                        <?php foreach($subcategories_2 as $subcategory):  # Level3?>
                          <li>
                            <a href="<?php echo $subcategory->getUrl();?>">                     
                              <?php echo $subcategory->getName(); ?>
                            </a>
                          </li>
                        <?php endforeach;  # Level3?>
                      </ul>
                    </div>
                    

                  
                   
                </li>
            <?php endforeach; # Level1?>
          </ul>  
          </div>     
        </li>

      <?php endforeach; ?>

</ul>

    </div>
  <?php endif; ?>
</div>
