.authlogin-index-index {
    position: absolute;
    float: left;
    height: 100%;
    width: 100%;
}

.authlogin {
    background-size: cover;
    background-position: center center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
}

.authlogin .box-content {
    padding: 20px;
}

.authlogin .message {
    padding: 10px 0;
}

.authlogin .img-responsive {
    margin: 0 auto 10px auto;
}

.authlogin .block-login {
    margin-bottom: 0;
}

.authlogin .block-login .block-title {
    display:none;
}

.authlogin .block-login input[type=text],
.authlogin .block-login input[type=password] {
    width: 100%;
}

.authlogin .create-account {
    padding-top: 10px;
}

.authlogin .create-account a {
    text-decoration: underline;
}

.register-container {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

.register-message {
    position: absolute;
    width: 100%;
    top: 10%;
}

.register-message p {
    background: #dff0d8;
    color: #3c763d;
    border: 1px solid #3c763d;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline;
}