<?php
list( $width, $height )     = $this->getResize();
list( $m_width, $m_height ) = $this->getMobileResize();
?>

<?php if (Mage::getStoreConfig( "custom_theme/general/tagpicture" )): ?>
    <picture>
        <source media="(min-width: 650px)"
                srcset="<?php echo $this->format->helper( 'catalog/image' )->init( $this->product, 'small_image' )
                    ->resize( $width, $height ); ?>">
        <source media="(max-width: 480px)"
                srcset="<?php echo $this->format->helper( 'catalog/image' )->init( $this->product, 'small_image' )
                    ->resize( $m_width, $m_height ); ?>">
        <img src="<?php echo $this->format->helper( 'catalog/image' )->init( $this->product, 'small_image' )
            ->resize( $width, $height )
            ->constrainOnly( false )
            ->keepAspectRatio( true )
            ->keepFrame( true )
        ?>"
             alt="<?php echo $this->format->stripTags( $this->format->getImageLabel( $this->product, 'small_image_label' ), null, true ) ?>"/>
    </picture>
<?php else: ?>
    <img src="<?php echo $this->format->helper( 'catalog/image' )->init( $this->product, 'small_image' )
        ->resize( $width, $height )
        ->constrainOnly( false )
        ->keepAspectRatio( true )
        ->keepFrame( true )
    ?>"
         alt="<?php echo $this->format->stripTags( $this->format->getImageLabel( $this->product, 'small_image_label' ), null, true ) ?>"/>
<?php endif; ?>