<?php list( $width, $height ) = $this->getResize(); ?>
<div class="image_container">
    <img class="cover"
         src="<?php echo $this->format->helper( 'catalog/image' )->init( $this->product, 'small_image' )->resize( $width, $height ) ?>"
         alt="<?php echo $this->format->stripTags( $this->format->getImageLabel( $this->product, 'small_image_label' ), null, true ) ?>"
    />
    <?php $product_data = $this->product->getData() ?>
    <?php if (isset( $product_data['img_hover_product_list'] )): ?>
        <img class="hover"
             data-src="<?php echo $this->format->helper( 'catalog/image' )->init( $this->product, 'img_hover_product_list' )->resize( $width, $height ) ?>"
             alt="<?php echo $this->format->stripTags( $this->format->getImageLabel( $this->product, 'small_image_label' ), null, true ) ?>"
        />
    <?php endif ?>
</div>
