.category-img 
{
  height: 80px;
  line-height: 80px;    
  margin: auto 0;
  position: relative;
  width: 100%;
  z-index: 5;
}
.productlabel-preview{display: none;position: fixed; z-index: 1000; background:#FFF; top:50%; left:50%; margin-top:-15em; margin-left:-15em; border:15px solid #5e5e5e; border-radius: 15px; padding: 10px;}
.productlabel-preview .products-grid{}
.productlabel-preview .products-grid li.item{
  float: left;
  padding: 15px 10px;
  width: 200px;
  border-right: 1px dotted #ccc;
  margin: 0 0 20px;
}
.productlabel-preview .products-grid li.last{border: 0 none;}
.productlabel-wrap{position: relative;}
.productlabel-wrap table{ border: 0 none; border-spacing: 0; empty-cells:show;}
.productlabel-preview-wrap a{text-decoration: none;}
.productlabel-preview .productlabel-wrap table{ border: 0 none; border-spacing: 0; empty-cells:show; position: absolute;}
.productlabel-preview .productlabel-wrap table.label_top_left{top:0; left: 0;}
.productlabel-preview .productlabel-wrap table.label_top_center{ left: 0; margin: 0 auto; right: 0; top: 0;}
.productlabel-preview .productlabel-wrap table.label_top_right{top:0; right: 0;}
.productlabel-preview .productlabel-wrap table.label_middle_left{left:0; top: calc(50% - 50px);}
.productlabel-preview .productlabel-wrap table.label_middle_center{ top: calc(50% - 50px);left: 0; margin: 0 auto; right: 0;}
.productlabel-preview .productlabel-wrap table.label_middle_right{right:0; top: calc(50% - 50px);}
.productlabel-preview .productlabel-wrap table.label_bottom_left{bottom:0; left: 0;}
.productlabel-preview .productlabel-wrap table.label_bottom_center{left: 0; margin: 0 auto; right: 0; bottom: 0;}
.productlabel-preview .productlabel-wrap table.label_bottom_right{bottom:0; right: 0;}
.productlabel-wrap table tbody{background: 0 none;}
.productlabel-wrap table tbody tr{background: 0 none!important; border: 0 none;}
.productlabel-wrap table tbody tr td{
  border: 0 none;
  height: auto;
  text-align: center;
  vertical-align: middle;
}
.productlabel-wrap table tbody tr td label{color: #FFF;}
.productlabel-preview .products-grid .product-name{color: #203548; font-size: 13px; font-weight: bold;}
.productlabel-preview .products-grid .product-name a{color: #203548; font-size: 13px; font-weight: bold;}
.productlabel-preview .products-grid .price-box .regular-price .price{color: #C76200; font-size: 13px; font-weight: bold;}
.product-content-preview .product-img-box .zoom{
  background: url("../images/slider_bg.gif") no-repeat scroll 50% 50%;
  cursor: pointer;
  height: 18px;
  margin: 0 auto 13px;
  padding: 0 28px;
  position: relative;
  z-index: 9;
}
.product-content-preview .product-img-box .zoom #track{
  height: 18px;
    position: relative;
}
.product-content-preview .product-img-box .zoom #handle{
  background: url("../images/magnifier_handle.gif") no-repeat scroll 0 0;
  height: 22px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 9px;
}
.product-content-preview .product-img-box .zoom .btn-zoom-out{
  left: 2px;
  position: absolute;
  top: 0;
}
.product-content-preview .product-img-box .zoom .btn-zoom-in {
    position: absolute;
    right: 2px;
    top: 0;
}
#productlabelGrid_table tbody td div.product-img 
{
  height: 80px;
  line-height: 80px;
  margin: auto 0;
  position: relative;
  width: 100%;
  z-index: 5;

}
.category-img img {
  max-height: 80px;
  max-width: 100%;    
  vertical-align: middle;   
}

#productlabelGrid_table tbody td div.product-img img {
  max-height: 80px;
  max-width: 100%;
  vertical-align: middle;
}
div.category-img label {  
  left: 0;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  width: 100%;
}
#productlabelGrid_table tbody td div.product-img label {  
  left: 0;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  width: 100%;
}
  