<?php
/**
* JN2
*/
?>
<header class="theme3">

  <div class="bar">
      <div class="container">

        <div class="col-md-3 offset-0">
          <?php echo $this->getChildHtml('topSearch') ?>
        </div>

      <div class="content-block col-md-3 text-left hidden-xs hidden-sm">
          <?php echo Mage::helper("header")->getBlock(1) ?>
      </div>

      <div class="content-nav col-md-6 text-right offset-0 hidden-xs hidden-sm">

        <div class="customer-links col-md-8">
          <?php echo $this->getChildHtml('customer_header');?>
        </div>
        <div class="col-md-4 offset-0">
            <?php echo $this->getChildHtml('cart_header') ?>
        </div>

    </div>

    </div>
  </div>

  <div class="container">

    <div class="text-center col-xs-4 col-sm-4 col-md-12">
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
        <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive center-block" />
      </a>
    </div>

      
      

  <?php echo $this->getChildHtml('navMobile') ?>


  </div>
</header>

<menu>
  <div class="row">
    <div class="">
      <?php echo $this->getChildHtml('topMenu') ?>
    </div>
  </div>
</menu>




    <?php if($this->getChildHtml('pitbar')):?>
      <?php echo Mage::helper("header")->getBlock(3) ?>
    <?php endif;?>
