/**
* JN2
* @package: Jn2 Clean Theme
* @author:
*/

header {
    .cart-header {
        .floating-cart {
            .cart-actions {
                button {
                    &:first-child {
                        background: transparent;
                        color: $default-text-color;
                        &:hover {
                            color: $secundary-text-color;
                        }
                    }
                    &:hover {
                        //color: $default-text-color;
                    }
                }
            }
        }
    }
}

#search_mini_form .form-search input {
    border-color: $default-color-segment;
    @media screen and (min-width: $screen-md) {
        border-color: $header-form-search-input-border-color;
    }
}

.cms-index-index {
    .three-columns {
        .col-1,
        .col-2,
        .col-3 {
            padding: 10px;
        }
    }
}

menu {
    .mega-menu-jn2 {
        .content-mega-menu {
            .level2 {
                .subcategory.level3 {
                    li {
                        a {
                            &:before {
                                background: url(../images/icon_chev_down_black.png) no-repeat center center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cms-index-index {
    .three-columns {
        img {
            width: 95%;
            margin: 0 auto;
        }
    }
    .home-2 {
        padding: .7em 0;
    }
}

.cms-index-index {
    .depoimentos {
        .listagem-depoimento {
            margin-bottom: 0;
        }
    }
}

footer {
    .footer-3 {
        .newsletter {
            .newsletter-form {
                .btn {
                    @media screen and (min-width: $screen-md) {
                        color: #000;
                    }
                }
            }
        }
    }
}

.home-pitbar {
    background-color: $home-pitbar-background-color;
}

.cms-index-index {
    .category-title {
        @media only screen and (min-width: $screen-sm) {
            font-family: $primary-mobile-font;
            text-transform: uppercase;
        }
        em {
            font-style: normal;
            font-weight: lighter;
            text-transform: uppercase;
        }
        .view-more {
            font-style: normal;
            font-size: 13px;
            font-weight: 500;
            margin-top: 36px;
        }
    }
}

menu {
    .mega-menu-jn2 {
        border: 0;
    }
}

footer {
    h3 {
        @media only screen and (min-width: $screen-sm) {
            font-style: normal;
            text-transform: uppercase;
            color: #e8d0d9;
        }
    }
    .footer-4 {
        h3 {
            font-size: 14px;
        }
        a {
            img {
                width: 30px;
                height: auto;
            }
        }
    }
    .column {
        a {
            text-transform: capitalize;
            @media only screen and (min-width: $screen-sm) {
                font-family: $primary-desktop-font;
                font-weight: lighter;
            }
        }
    }
    .row-1 {
        background-color: #cd3a7e;
    }
    .footer-17 {
        .logo-assinatura {
            background-position: 0 0;
        }
    }
}

body[class*="customer"] .main-container .sidebar .block-account .block-title {
    background-image: url(../images/icon_chev_down_black.png);
}