// /**
// * JN2
// * @package: Jn2 Clean Theme
// * @author: Igor Gottschalg <igorgottsweb@gmail.com>
// */

// @include keyframes(moveDown) {
//   0% {
//     transform: translate(0,-130%);
//     box-shadow: none;
//     display: none;
//   }
//   1% {
//     transform: translate(0,-130%);
//     display: inline-block;
//   }
//   100% {
//     transform: translate(0,0);
//     display: inline-block;
//     box-shadow: 0 30px 20px 0px rgba(0,0,0,.3);
//   }
// }
// @include keyframes(moveUp) {
//   0% {
//     transform: translate(0,0);
//     display: inline-block;
//     box-shadow: 0 30px 20px 0px rgba(0,0,0,.3);
//   }
//   99% {
//     transform: translate(0,-130%);
//     display: inline-block;
//   }
//   100% {
//     transform: translate(0,-130%);
//     box-shadow: none;
//     display: none;
//   }
// }

// menu{
//   background: $menu-background;
//   position: relative;
//   display: none;
//   z-index: 500;
//   width: 100%;
//   float: left;

//   @media screen and (min-width: $screen-md){
//     display: block;
//   }

//   .mega-menu-jn2 {
//     border-top: 1px solid $menu-border-color;
//     border-bottom: 1px solid $menu-border-color;
//     position: static;
//     background: $menu-background;

//     .content-mega-menu {
//       position: static;

//       ul.nav {
//         position: static;
//         z-index: 99999;

//         & > li{
//           position: static;

//           &.simple-menu{
//             position: relative;
//           }

//           &.with-subcategories > a{
//             background: url(../images/icon_chev_down.png) no-repeat right 10px center $menu-background;
//             font-weight: 600;
//           }

//           & > a {
//             font-family: $primary-mobile-font;
//             font-weight: 600;
//             color: $menu-color;
//             padding: 15px 0;
//             display: inline-block;
//             width: 100%;
//             letter-spacing: 3px;
//             &:hover{
//               color: $menu-link-hover-color !important;
//               background-color: $menu-background-hover;

//             }
//           }

//           .submenu{
//             width: 100%;
//             top: 45px;
//             left: 0;
//             background: #fff;
//             padding: 20px 20px 50px 20px;
//             position: absolute;
//             border: 0px;
//             z-index: -2;
//             @include animate(moveUp, 0.4s);

//             &.simple-menu{
//               width: auto;
//               left: 0px;
//               padding: 10px;
//               max-width: 300px;

//               a{
//                 text-transform: uppercase;
//                 color: #000;
//                 padding: 10px !important;
//                 font-weight: lighter !important;
//                 font-size: 12px;
//                 overflow: hidden;
//                 position: relative;
//                 width: 100%;
//                 float: left;

//                 &:before{
//                   content: ' ';
//                   position: absolute;
//                   width: 10px;
//                   height: 10px;
//                   left: -20px;
//                   margin-top: 2px;
//                   color: #000;
//                   background: url(../images/icon_chev_down.png) no-repeat center center;
//                   transform: rotate(-90deg);
//                   opacity: 0;
//                   @include transition(all 0.5s ease-in-out);
//                 }

//                 &:hover{
//                   padding-left: 15px !important;

//                   &:before{
//                     left: 0px;
//                     opacity: 1;
//                   }
//                 }
//               }
//             }

//             .category-img-display{
//               position: absolute;
//               top: 0px;
//               right: 0px;

//               img{
//                 width: 100%;
//               }
//             }
//           }

//           &.open{
//             .submenu{
//               @include animate(moveDown, 0.2s);
//             }
//             & > a{
//               color: $menu-link-hover-color !important;
//               position: relative;
//             }
//             &.with-subcategories{
//               & > a:before{
//                 content: ' ';
//                 position: absolute;
//                 width: 10px;
//                 height: 10px;
//                 background: #fff;
//                 border-top: 1px solid $menu-border-color;
//                 border-left: 1px solid $menu-border-color;
//                 left: calc(50% - 5px);
//                 bottom: -5px;
//                 transform: rotate(45deg);
//               }
//             }
//           }
//         }
//       }
//       .level2{
//         & > a{
//           font-family: $primary-desktop-font;
//           text-transform: none !important;
//           color: #000 !important;
//           font-style: italic;
//           font-size: 26px;
//           font-weight: normal;
//           padding: 0px;
//           margin-top: 30px;
//           margin-bottom: 20px;
//           display: inline-block;
//         }
//         &:hover > a {
//           color: #000 !important;
//         }

//         .subcategory.level3{
//           padding: 0px;
//           margin: 0px;
//           width: 100%;

//           li{
//             padding: 0px;
//             margin: 0px;
//             width: 100%;
//             margin-left: -10px;
//             margin-bottom: 5px;

//             a{
//               text-transform: uppercase;
//               color: #000;
//               padding: 5px 10px !important;
//               font-size: 12px;
//               overflow: hidden;
//               position: relative;

//               &:before{
//                 content: ' ';
//                 position: absolute;
//                 width: 10px;
//                 height: 10px;
//                 left: -20px;
//                 margin-top: 2px;
//                 color: #000;
//                 background: url(../images/icon_chev_down.png) no-repeat center center;
//                 transform: rotate(-90deg);
//                 opacity: 0;
//                 @include transition(all 0.5s ease-in-out);
//               }

//               &:hover{
//                 padding-left: 15px !important;

//                 &:before{
//                   @include transition-delay(0.5s);
//                   left: 0px;
//                   opacity: 1;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .layered{
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   background: $menu-layered-background;
//   display: none;
//   z-index: 9;
// }

// .menu-mobile{
//   min-width: 250px;
//   max-width: 80%;
//   background: #eee;
//   height: 100vh;
//   position: fixed;
//   overflow-y: scroll;
//   left: 0;
//   top: 0;
//   transform: translateX(-100%);
//   @include transition(all 0.3s ease-in-out);
//   z-index: 999999;

//   &.open{
//     transform: translateX(0%);
//     @include transition(all 0.3s ease-in-out);
//   }

//   a{
//     width: 100%;
//     float: left;
//     background: #eee;
//     border-bottom: 1px solid #ccc;
//     padding: 20px;
//     color: #000;
//     text-transform: uppercase;
//     font-size: 16px;

//     &.logar{
//       background: #000;
//       color: #fff;
//     }
//   }
//   .sair{
//     color: red;
//   }
// }

// .nav-mobile{
//   .hamburger{
//     margin-top: .8em;
//     width: 56px;
//     height: 56px;
//     position: absolute;
//     top: -10px;
//     left: 0;
//     cursor: pointer;
//     border: 0;
//     background: transparent;
//     display: inline-block;
//     outline: none;
//     @include transform(rotate(0deg));
//     @include transition(.3s ease-in-out);

//     span{
//       display: block;
//       position: absolute;
//       height: 1px;
//       width: 50%;
//       background: $btn-hamburger-color;
//       border-radius: 1px;
//       opacity: 1;
//       left: 20px;
//       @include transform(rotate(0deg));
//       @include transition(.25s ease-in-out);

//       &:nth-child(1) {
//         top: 18px;
//       }
//       &:nth-child(2),&:nth-child(3) {
//         top: 28px;
//       }
//       &:nth-child(4) {
//         top: 38px;
//       }
//     }
//     &.open{
//       background: $btn-hamburger-color;
//       position: fixed;
//       top: 0px;
//       left: 80%;
//       z-index: 9999;
//       margin-top: 0;

//       span{
//         background: #fff;

//         &:nth-child(1) {
//           top: 18px;
//           width: 0%;
//           left: 40%;
//         }
//         &:nth-child(2) {
//           @include transform(rotate(45deg));
//         }
//         &:nth-child(3) {
//           @include transform(rotate(-45deg));
//         }
//         &:nth-child(4) {
//           top: 18px;
//           width: 0%;
//           left: 40%;
//         }
//       }
//     }
//   }
// }
