<p><b>Url:</b> <a href='<?php echo Mage::helper('buscape')->getSitemapURL(); ?>'><?php echo Mage::helper('buscape')->getSitemapURL(); ?></a><p>
<p><b>Gerado pela ultima vez em:</b> <?php echo Mage::getStoreConfig('buscape/sitemap/created_at');?></p>
