<?php
$_category  = Mage::registry('current_category');

if ($_category && $_category->getTopCategoryImage() && $_imgUrl = $_category->getImageUrl()) {
  echo '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$_category->getName().'" title="'.$_category->getName().'" width="100%"/></p>';
}

 ?>
