<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<div class="hidden-xs hidden-sm top-bar">
  <div class="container">
    <div class="bloco-1">
      <?php // Bloco topo header ?>
      <?php echo Mage::helper("header")->getBlock(1) ?>
    </div>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class=" col-xs-2 col-sm-1 col-md-1 visible-xs visible-sm"></div>
      <div class="col-xs-7 col-sm-8 col-md-2 logo-content">
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="link-logo">
          <picture class="img-logo">
            <source media="(min-width: 992px)" srcset="<?php echo $this->getLogoSrc() ?>">
              <?php if ($_logoMobile = Mage::getStoreConfig('jn2_mobile/general/logo')): ?>
                <source srcset="<?php echo Mage::getBaseUrl('media') . 'logo/' . $_logoMobile ?>">
                <?php endif ?>
                <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
              </picture>
            </a>
          </div>

          <div class="col-xs-3 col-sm-3 col-md-4 col-md-push-6 skip-links">

            <?php echo $this->getChildHtml('customer_header');?>
            <?php //CARRINHO ?>
            <div class="block-skip-links">
              <?php echo $this->getChildHtml("cart_header") ?>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-4 search-content">
            <?php echo $this->getChildHtml('topSearch') ?>
          </div>
        </div>
      </div>
    </header>

    <menu>
      <?php echo $this->getChildHtml('topMenu'); ?>
    </menu>
