<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php
 /*TODO - ATIVAR MAIS UM BLOCO ESTÁTICO */
?>

<?php echo $this->getChildHtml('mobile-menu'); ?>

<header class="header-block">
  
  <div class="content">

    <div class="block-header -g1 ">
      <?php // Bloco topo header ?>
      <?php echo Mage::helper("header")->getBlock(1) ?>
    </div>  

    <div class="logo-content block-header -g2">
      <?php 
        /*
            ~Mestre dos Magos diz:
            Se desativar o módulo de login com o facebook, o logotipo vai voltar a ser o original do magento. 
            Porque nosso módulo foi configurado para depender dele.
            ->app/etc/modules/Jn2_Header.xml
        */  
      ?>
      <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="link-logo">
        <picture class="img-logo">
          <source media="(min-width: 992px)" srcset="<?php echo $this->getLogoSrc() ?>">
          <?php if ($_logoMobile = Mage::getStoreConfig('jn2_mobile/general/logo')): ?>
            <source srcset="<?php echo Mage::getBaseUrl('media') . 'logo/' . $_logoMobile ?>">
          <?php endif ?>
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
        </picture>
      </a>
    </div>

    <div class="top-links block-header -g3">
      <?php //BLOCOS ACESSO ÁREA DO CLIENTE E FAVORITOS ?>
      <?php echo $this->getChildHtml('customer_header');?>

      <?php //CARRINHO ?>
      <div class="cart block-skip-links">
        <?php echo $this->getChildHtml("cart_header") ?>
      </div>
    </div>
          
    <div class="search-content block-header -g4">
      <?php echo $this->getChildHtml('topSearch') ?>
    </div>

    <menu class="block-menu block-header -g5">
      <?php echo $this->getChildHtml('topMenu'); ?>
    </menu>

  </div>

</header>

        
