<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>



<?php echo $this->getChildHtml('mobile-menu'); ?>

<div class="hidden-xs hidden-sm top-bar">
  <div class="container">
    <div class="bloco-1">
      <?php // Bloco topo header ?>
      <?php echo Mage::helper("header")->getBlock(1) ?>
    </div>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class=" col-xs-2 col-sm-1 col-md-1 visible-xs visible-sm"></div>
      <div class="col-xs-7 col-sm-8 col-md-2 logo-content">
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="link-logo">
          <picture class="img-logo">
            <source media="(min-width: 992px)" srcset="<?php echo $this->getLogoSrc() ?>">
              <?php if ($_logoMobile = Mage::getStoreConfig('jn2_mobile/general/logo')): ?>
                <source srcset="<?php echo Mage::getBaseUrl('media') . 'logo/' . $_logoMobile ?>">
                <?php endif ?>
                <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" />
              </picture>
            </a>
          </div>
          <!-- 
            ~Mestre dos Magos diz:
            Se desativar o módulo de login com o facebook, o logotipo vai voltar a ser o original do magento. 
            Porque nosso módulo foi configurado para depender dele.
            ->app/etc/modules/Jn2_Header.xml
          -->
          <div class="col-xs-3 col-sm-3 col-md-4 col-md-push-6 skip-links">

            <?php //LINK FAVORITOS ?>
            <?php if ($this->helper('wishlist')->isAllow()) : ?>
              <div class="block-skip-links hidden-xs hidden-sm">
                <a href="<?php echo $this->getUrl('wishlist') ?>">
                  <div class="icon">
                    <img src="<?php echo $this->getSkinUrl('images/ico-coracao.png') ?>" alt="Favoritos" class="" />
                  </div>
                  <div class="hidden-xs hidden-sm label-skip"><?php echo Mage::helper('wishlist')->getItemCount(); ?></div>
                </a>
              </div>
            <?php endif ?>

            <div class="block-skip-links hidden-md hidden-lg">
              <div class="icon" id="btn-search-mobile">
                <img src="<?php echo $this->getSkinUrl('images/search.svg') ?>" alt="Buscar" class="ico-busca" />
              </div>
            </div>

            <?php //LOGIN LOGOUT ?>
            <div class="block-skip-links hidden-xs hidden-sm block-skip-links block-login-logout">
              <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
                <a href="<?php echo $this->getUrl("customer/account") ?>">
                  <div class="icon">
                    <picture>
                      <source srcset="<?php echo $this->getSkinUrl('images/ico-login-md.png') ?>" media="(min-width: 992px)" />
                        <img src="<?php echo $this->getSkinUrl('images/ico-login.png') ?>" alt="Login" />
                      </picture>
                    </div>
                    <div class="hidden-xs hidden-sm label-skip">
                      <strong><?php echo $this->__('Entre'); ?></strong> <?php echo $this->__('ou'); ?></br> <?php echo $this->__('Cadastre-se'); ?>
                    </div>
                  </a>
                <?php else: ?>
                  <div class="customer-logged">
                    <div class="icon">
                      <picture>
                        <source srcset="<?php echo $this->getSkinUrl('images/ico-login-md.png') ?>" media="(min-width: 992px)" />
                          <img src="<?php echo $this->getSkinUrl('images/ico-login.png') ?>" alt="Login" />
                        </picture>
                      </div>
                      <div class="hidden-xs hidden-sm label-skip logout">
                        <div><a href="<?php echo Mage::getUrl('customer/account/'); ?>"><?php echo $this->__('minha conta'); ?></a></div>
                        <div class="spacer">OU</div>
                        <a href="<?php echo Mage::getUrl('customer/account/logout'); ?>">
                          <?php echo $this->__('Sair'); ?>
                        </a>
                      </div>
                    </div>
                  <?php endif; ?>
                </div>

                <?php //CARRINHO ?>
                <div class="block-skip-links">
                  <?php echo $this->getChildHtml("cart_header") ?>
                </div>

              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-4 search-content">
                <?php echo $this->getChildHtml('topSearch') ?>
              </div>
            </div>
          </div>
        </header>

        <menu>
          <?php echo $this->getChildHtml('topMenu'); ?>
        </menu>
