<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>
<div class="checkbox remember-me-box">
  <?php $rememberMeId = 'remember_me' . Mage::helper('core')->getRandomString(10); ?>
  <label for="<?php echo $rememberMeId; ?>">
    <input type="checkbox" name="persistent_remember_me" id="<?php echo $rememberMeId; ?>"<?php if ($this->isRememberMeChecked()): ?> checked="checked"<?php endif; ?> title="<?php echo $this->quoteEscape($this->__('Remember Me')) ?>" /> <?php echo $this->__('Manter-me conectado') ?>
    </label>
  </div>
