
<?php
$parentBlock = $this->getParentBlock();


$paymentTitle = Mage::getStoreConfig('payment/boleto_bancario/title');
$order = Mage::getModel('sales/order');
$order->loadByIncrementId($parentBlock->getOrderId());
$method = $order->getPayment()->getMethod();

?>

<?php if (strpos($method, $paymentTitle) !== false || $method === 'boleto_bancario'): ?>



<h3>FALTA POUCO! AGORA É SÓ PAGAR O BOLETO</h3>
<div class="col-xs-12 col-md-6 box-info-payments">

  <?php

    echo $this->__('<div align="center"><a href="%s" class="btn btn-print-billet" onclick="this.target=\'_blank\'"> Imprimir boleto</a></div>', $this->getUrl('boleto/standard/view/order_id/' . $order->getId()));


  ?>


  <ul class="list-info">
    <li>Atenção:
    </li>
    <li>
      * Não será enviado uma cópia impressa do boleto para seu endereço de email.
    </li>
    <li>
      * Desabilite o recurso anti pop-up caso você use.</li>
    </ul>

  </div>

  <div class="col-xs-12 col-md-6 box-info-payments">
    <ul class="list-info">
      <li>
        * Data de vencimento: verifique a data de vencimento do boleto. Caso não seja pago até a data informada, o pedido será automaticamente cancelado.
      </li>
      <li>
        * Prazo de entrega: é contado a partir da confirmação de pagamento pelo banco, o que pode levar até 3 dias úteis.
      </li>
      <li>
        * Pagamento: pode ser feito pela internet ou telefone, utilizando o código de barras, ou diretamente em bancos, lotéricas e correios, apresentando o boleto impresso.</li>
      </ul>
    </div>
<?php endif; ?>
