<?php $_helper = Mage::helper('catalog/category') ?>
<?php $parent = $this->getParentCategory() ?>

<div class="inner-content" <?php if ($parent->getImgDisplay()): ?>style="min-width: 475px;"<?php endif ?>>

<ul class="ul-level2">
<?php foreach ($this->getSubCategories() as $category): ?>
  <li>

    <a href="<?php echo $_helper->getCategoryUrl($category) ?>">
      <i class="fa fa-circle"></i> <?php echo $category->getName() ?>
    </a>

    <?php //echo $this->subCategory($category,2) ?>

  </li>
<?php endforeach ?>
</ul>



<?php if ($parent->getImgDisplay()): ?>
  <div class="img-display">
    <?php if($parent->getImageCatUrl()):?>
      <a href="<?php echo $parent->getImageCatUrl() ?>">
    <?php endif ?>
        <img src='<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>' alt="<?php echo $parent->getName() ?>" />
    <?php if($parent->getImageCatUrl()):?>
      </a>
    <?php endif ?>
  </div>
<?php endif ?>

  </div>
