<?php $_helper = Mage::helper('catalog/category') ?>
<?php $parent = $this->getParentCategory() ?>

<div class="inner-content col-md-12" <?php if ($parent->getImgDisplay()): ?> style="" <?php else: ?> style="" <?php endif ?>>

<?php $itens = intval($this->getItemsPerLine()) ?>
<?php $i = 0 ?>
<div class="<?php if ($parent->getImgDisplay()): ?>col-md-7 <?php else: ?> col-md-12<?php endif ?> ">
<?php foreach ($this->getSubCategories() as $category): ?>

<?php if ($i == 0): ?>

<ul class="ul-level2 <?php if ($parent->getImgDisplay()): ?> col-md-4 <?php else: ?> col-md-3<?php endif ?>">
    <?php endif ?>
  <li>

    <a href="<?php echo $_helper->getCategoryUrl($category) ?>">
      <i class="fa fa-circle"></i> <?php echo $category->getName() ?>
    </a>

    <?php //echo $this->subCategory($category,2) ?>

  </li>

  <?php if ($i == $itens -1 || $category == end($this->getSubCategories())): ?>
</ul>

  <?php $i = 0  ?>

<?php else: ?>
  <?php $i++ ?>
<?php endif ?>

<?php endforeach ?>

</div>

<?php if ($parent->getImgDisplay()): ?>
  <div class="col-md-5">
    <div class="img-display">
      <?php if($parent->getImageCatUrl()):?>
        <a href="<?php echo $parent->getImageCatUrl() ?>">
      <?php endif ?>
          <img src='<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>' alt="<?php echo $parent->getName() ?>"/>
      <?php if($parent->getImageCatUrl()):?>
        </a>
      <?php endif ?>
    </div>
  </div>
<?php endif ?>

  </div>
