<?php $_helper = Mage::helper('catalog/category') ?>


<div class="inner-content theme2" >

<ul class="ul-level2">
<?php foreach ($this->getSubCategories() as $category): ?>
  <li>

    <a href="<?php echo $_helper->getCategoryUrl($category) ?>" class="<?php echo (count($category->getChildrenCategories()) > 0) ? "with-itens" : "without-itens" ?>">
      <?php echo $category->getName() ?>
    </a>

  <?php $subcategories = $category->getChildrenCategories() ?>

  <?php if (count($subcategories) > 0): ?>
      <?php echo $this->subCategory($category,2) ?>
  <?php endif ?>

  </li>
<?php endforeach ?>
</ul>


</div>
