<?php $_helper = Mage::helper('catalog/category') ?>
<?php $parent = $this->getParentCategory() ?>

<div class="inner-content col-sm-12">
  <?php $itens = intval($this->getItemsPerLine()) ?>
  <?php $i = 0 ?>
  <div class="container">


    <div class="<?php if ($parent->getImgDisplay()): ?>col-sm-8 <?php else: ?> col-sm-12<?php endif ?> ">
      <?php foreach ($this->getSubCategories() as $category): ?>
        <?php
        if ($parent->getImgDisplay()){
          $column_size = 4;
        } else{
          $column_size = 3;
        }
        ?>
        <div class="col-sm-<?php echo $column_size ?> level2">
          <a href="<?php echo $_helper->getCategoryUrl($category) ?>" class="subcategory-title"><?php echo $category->getName() ?></a>
          <?php echo $this->subCategory($category,2) ?>
        </div>
      <?php endforeach ?>
    </div>
  </div>


  <?php if ($parent->getImgDisplay()): ?>
    <?php if($parent->getImageCatUrl()):?>
      <a href="<?php echo $parent->getImageCatUrl() ?>">
        <div class="category-img-display col-md-4" style="background: url(<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>) no-repeat center center; background-size: cover"></div>
      </a>
    <?php else: ?>
      <div class="category-img-display col-md-4" style="background: url(<?php echo Mage::getBaseUrl('media').'catalog/category/'.$parent->getImgDisplay() ?>) no-repeat center center; background-size: cover"></div>
    <?php endif ?>
  <?php endif ?>
</div>
