<?php
/**
* JN2
* @package: Jn2 Default Theme
* @author: Igor Gottschalg <igorgottsweb@gmail.com>
* @author: Diogo Siqueira <diogovsi@gmail.com>
*/
?>

<?php
$_helper   = $this->helper('catalog/output');
$_category = $this->getCurrentCategory();
$toolbar = Mage::app()->getLayout()->getBlock('product_list_toolbar');

if(Mage::helper('core')->isModuleEnabled('Amasty_Shopby')) {
    $_productCollection = $this->getLayout()->getBlockSingleton('catalog/product_list')->getLoadedProductCollection();
    $top_toolbar = Mage::app()->getLayout()->getBlock('top_toolbar')->setCollection($_productCollection)->toHtml();
    $bottom_toolbar = Mage::app()->getLayout()->getBlock('bottom_toolbar')->setCollection($_productCollection)->toHtml();
    $pager = Mage::app()->getLayout()->getBlock('product_list_toolbar_pager');
    $pager->setCollection($_productCollection);
    $pagerHtml = $pager->toHtml();
}
?>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<div class="page-title category-title">
  <?php if ($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
    <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
  <?php endif; ?>
  <h2><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h2>
  <div class="legend">
     <?php
        if(!Mage::helper('core')->isModuleEnabled('Amasty_Shopby')) {
            $_productCollection = $this->getLayout()->getBlockSingleton('catalog/product_list')->getLoadedProductCollection();
             echo $this->__('%s Item(s)', $_productCollection->count() );
        }
     ?>
  </div>
</div>

<div class="mobile-filter visible-xs visible-sm">
  <div class="col-xs-6">
    <button type="button" id="btn-filter" class="btn-filtrar">FILTRAR</button>
  </div>
  <div class="col-xs-6">
    <select onchange="setLocation(this.value)" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sort By')) ?>" class="sorter-selection">
      <?php foreach($toolbar->getAvailableOrders() as $_key=>$_order): ?>
        <option value="<?php echo $toolbar->getOrderUrl($_key, 'asc') ?>"<?php if($toolbar->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
          <?php echo $this->__($_order) ?>
        </option>
      <?php endforeach; ?>
    </select>
  </div>
</div>

<div>
  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getBanner($_category->getIbanner()); ?>
    </div>
  </div>
</div>

<div class="content-theme">
  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getBlock($_category->getBloco_1()); ?>
    </div>
  </div>
  <!--Fim do bloco 1-->

  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getBlock($_category->getBloco_2()); ?>
    </div>
  </div>
  <!--Fim do bloco 2-->
</div>

<?php if ($this->isContentMode()): ?>
  <?php echo $this->getCmsBlockHtml() ?>

<?php elseif ($this->isMixedMode()): ?>
  <?php echo $this->getCmsBlockHtml() ?>
  <?php echo $this->getProductListHtml() ?>

<?php else: ?>
  <?php echo $this->getProductListHtml() ?>
<?php endif; ?>

<div class="content-theme">
  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getBlock($_category->getBloco_3()); ?>
    </div>
  </div>
  <!--Fim do bloco 3-->
  <div class="row show-grid">
    <div class="col-sm-12">
      <?php echo $this->getBlock($_category->getBloco_4()); ?>
    </div>
  </div>
  <!--Fim do bloco 4-->
</div>

<?php if(Mage::helper('core')->isModuleEnabled('Amasty_Shopby')):?>
<script>
    jQuery(document).ready(function() {

        if(typeof amshopby_ajax_init != "undefined") {
            let fixProductList = function () {
                let top_toolbar = '<?php echo str_replace("\n","", $top_toolbar)?>';
                let bottom_toolbar  = '<?php echo str_replace("\n","", $bottom_toolbar)?>';
                let pager = '<?php echo str_replace("\n","", $pagerHtml)?>';
                jQuery('.toolbar.top').replaceWith(top_toolbar);
                jQuery('.toolbar.bottom').replaceWith(bottom_toolbar);
                jQuery('.pager').replaceWith(pager);
                amshopby_ajax_init();

                setTimeout(function() {
                    let productListHeight = 0;

                    jQuery('.products-grid .item').each(function() {
                        let newHeight = jQuery(this).outerHeight(true);
                        if(newHeight > productListHeight) productListHeight = newHeight;
                    });
                    ;
                    jQuery('.products-grid .item').height(productListHeight + 4);
                }, 800);

                jQuery('.bottom-seo-category').not(':last').remove();
            };

            fixProductList();
        }
    });
</script>
<?php endif?>