<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<div>
    <?php echo $this->getContent() ?>
</div>
