<?php
/**
* Magento Mobile Theme jn2
* Developer: Igor Gottschalg
*
* Just for theme exeption
*/
?>
<div ng-controller="categoryController">
  <?php
  $_helper    = $this->helper('catalog/output');
  $_category  = $this->getCurrentCategory();
  $_imgHtml   = '';
  if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
  }
  ?>
  <div class="page-title category-title">
    <h1>
      <?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?>
      <span class="jicon filter pull-right" ng-click="filterToggle()"></span>
    </h1>
  </div>

  <div class="filter" ng-class="{'open-filter': filterStatus, 'close-filter': !filterStatus}">
    <?php echo $this->getChildHtml('filter') ?>
  </div>

  <?php echo $this->getMessagesBlock()->toHtml() ?>

  <?php if($_imgUrl): ?>
    <?php echo $_imgHtml ?>
  <?php endif; ?>

  <?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
  <?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php echo $this->getProductListHtml() ?>
  <?php else: ?>
    <?php echo $this->getProductListHtml() ?>
  <?php endif; ?>

  <?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
    <div class="category-description std">
      <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
    </div>
  <?php endif; ?>
</div>
