<?php if ($this->getCategoryId()): ?>
  <div class="clear" style="height:0">&nbsp;</div>
  <?php
  $collection = Mage::getModel('catalog/category')->getCollection()->addAttributeToFilter('parent_id', array('eq' => $this->getCategoryId()))
  ->addOrderField('position')
  ->addAttributeToSelect(array('name'));


  foreach ($collection as $index => $childCategory):
    ?>
    <div class="page-title category-title">
      <h2>
        <?php echo $childCategory->getName(); ?>
      </h2>
    </div>

    <?php

    $block = $this->getLayout()->createBlock($this->getChildBlock(), "{$this->getName()}{$index}")
    ->setTemplate($this->getChildTemplate())
    ->setCategoryId($childCategory->getId())
    ->append($this->getChild($this->getToolbarBlockName()))
    ->setToolbarBlockName($this->getToolbarBlockName());

    $this->append($block);

    $layouts = $this->getColumnCountLayoutDepend();
    foreach ($layouts as $key => $value) {
      $block->addColumnCountLayoutDepend($key, $value);
    }

    $toolbar = $this->getChild($this->getToolbarBlockName());
    $ary = $this->getlimitByIndex();

    echo $block->toHtml();



    //    $this->getChild($this->getToolbarBlockName())->setData('_current_limit',4);
    ?>
    <?php
  endforeach;
  ?>
<?php endif; ?>
