<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 * @see Mage_Catalog_Block_Product_Abstract
 *
 */
$_product = $this->getProduct();

?>

<?php if ($_product->getNumeroParcelas() > 1):?>
<p class="price-parcelado">
  <?php echo $this->text_before; ?> <?php echo $_product->getNumeroParcelas();?>x de <span class="price"><?php echo $_product->getValorParcela();?></span> <?php echo $this->text_after; ?>
</p>
<?php endif; ?>

<?php if($_product->getExibeFlagFreteGratis()):?>
<div class="frete-gratis">
    <img src="<?php echo $this->getSkinUrl('images/img_frete-gratis.png') ?>"/>
</div>
<?php endif; ?>
